<template>
    <div :class="$style.AlternativeTitles">
        <div
            v-for="(item, i) in data.seo.alternativeTitles"
            :key="`alternative-title-${i}`"
            :class="$style.item"
        >
            {{ item }} {{ inRegion }}
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
    props: {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    computed: {
        ...mapGetters( "regions", [
            "inRegion"
        ] )
    }
}
</script>

<style lang="scss" module>
.AlternativeTitles {
    //
}

.item {
    @apply font-circe relative flex leading-none mb-6 md:mb-7 2xl:mb-8 last:mb-0 md:text-15 2xl:text-18;

    &:before {
        @apply w-[4px] h-[4px] bg-primary mr-3 2xl:mr-4 mt-[4px] 2xl:mt-[6px];
        content: "";
    }
}
</style>
