<template>
    <div :class="$style.Characteristics">
        <t type="h2" :class="$style.title">
            Характеристики {{ title }}
        </t>

        <div class="xl:border border-stroke">
            <div
                v-for="(item, i) in data.fields.props"
                :key="`product-char-${i}`"
                :class="$style.row"
                class="odd:full-background xl:before:hidden"
            >
                <t :class="$style.name">
                    {{ item.name }}

                    <ATooltip
                        v-if="item.description"
                        design="filter"
                        placement="top"
                        :events="['mouseenter', 'click']"
                        hide-on-click="hide"
                        class="ml-2 xl:ml-3"
                    >
                        <template #key>
                            <IconSignQuestionCircle class="text-gray-400 w-[12px] h-[12px] xl:w-[14px] xl:h-[14px] cursor-pointer" />
                        </template>
                        <template #content>
                            <AScrollbox class="max-h-[21rem]">
                                {{ item.description }}
                            </AScrollbox>
                        </template>
                    </ATooltip>
                </t>

                <t :class="$style.value">
                    <template v-if="item.value">
                        {{ item.value }}
                    </template>
                    <template v-else-if="item.values && item.values.length">
                        {{ item.values.map( x => x.value ).join( ", " ) }}
                    </template>
                </t>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        title: {
            type   : String,
            default: ""
        }
    }
}
</script>

<style lang="scss" module>
.Characteristics {
    //
}

.title {
    @apply text-16 md:text-18 2xl:text-20 font-bold text-text-main tracking-wide leading-tight mb-6 2xl:mb-8;
}

.row {
    @apply xl:odd:bg-background py-4 md:py-6 flex items-center md:text-16 2xl:text-18 xl:px-8;
}

.name {
    @apply flex items-center w-1/2 pr-2 text-text-main leading-tight tracking-wide;
}

.value {
    @apply block w-1/2 pl-2 leading-tight tracking-wide;
}
</style>
