<template>
    <div :class="$style.Delivery">
        <t type="p" :class="$style.text">
            По Москве доступна доставка курьером до указанного адреса или самовывоз с нашего склада по адресу: ул. Бибиревкая, д2 к1. Также возможна доставка до пунктов выдачи заказов (ПВЗ)
            <br>
            Доставка в регионы осуществляется транспортными компаниями: СДЭК, Деловые линии, Boxberry.
        </t>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" module>
.Delivery {
    //
}

.text {
    @apply text-text-low md:text-15 2xl:text-18;
}
</style>
