<template>
    <div
        :class="$style.Description"
        itemprop="description"
        class="line-bottom xl:after:hidden"
    >
        <t type="h2" :class="$style.title">
            Описание {{ title }}
        </t>

        <noindex v-if="inRegion">
            <div v-html="data.description" />
        </noindex>
        <div
            v-else
            v-html="data.description"
        />
    </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
    props: {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        title: {
            type   : String,
            default: ""
        }
    },

    computed: {
        ...mapGetters( "regions", [
            "inRegion"
        ] )
    }
}
</script>

<style lang="scss" module>
.Description {
    @apply block md:text-15 2xl:text-18;

    h2 {
        @apply text-15 md:text-16 2xl:text-20 font-bold leading-tight text-text-main mt-6 mb-4 xl:mt-8 2xl:mt-12 2xl:mb-6 last:mb-0 md:leading-none;

        &:first-child {
            @apply mt-0 xl:mt-8 2xl:mt-12;
        }
    }

    :global(.table-2-cols) {
        @apply w-full xl:border border-stroke;

        thead {
            @apply block font-bold leading-tight text-text-main mt-10 mb-8 last:mb-0 md:leading-none md:text-[15px] xl:text-[16px] xl:mt-12 xl:mb-8 2xl:mt-16 2xl:mb-12 2xl:text-[18px];

            tr {
                justify-content: flex-start;

                &:before {
                    display: none;
                }

                th {
                    @apply mr-2 font-bold;
                }
            }
        }

        tr {
            @apply xl:odd:bg-background py-4 md:py-6 flex items-center md:text-15 2xl:text-18 xl:px-8;

            &:nth-child(odd) {
                position: relative;
                z-index: 1;

                &:before {
                    @apply bg-background xl:hidden;
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: -50%;
                    height: 100%;
                    width: 300vw;
                }
            }

            td {
                @apply w-1/2;
            }

            &:last-child {
                margin-bottom: 0;
            }

            td:first-child {
                @apply text-text-main leading-tight pr-2;
                order: 0;
            }

            td:last-child {
                @apply leading-tight pl-2;
                order: 2;
                text-align: left !important;

                strong {
                    @apply font-normal;
                }
            }
        }
    }

    :global(.table-many-cols) {
        @apply block mt-6 xl:mt-8 2xl:mt-12 overflow-x-auto 2xl:mt-10 border-t border-l border-r border-stroke;

        thead, tbody {
            @apply md:block;
        }

        th, td {
            @apply p-4 md:flex-1 xl:p-6;

            &:first-child {
                @apply md:flex-shrink-0 md:min-w-[20rem];
            }
        }

        th {
            @apply text-text-main;
        }

        td {
            &:first-child {
                @apply block w-max;
            }
        }

        th {
            @apply text-left md:block;
        }

        tr {
            @apply border-b border-stroke md:flex;
        }
    }

    ul {
        @apply my-4 pl-4 md:text-15 2xl:text-18 xl:pl-8;

        li {
            @apply relative mb-4 pl-4 leading-tight last:mb-0 2xl:leading-normal;

            &:before {
                @apply bg-primary;
                content: "";
                position: absolute;
                margin-left: -12px;
                margin-top: 6px;
                display: inline-block;
                height: 4px;
                width: 4px;

                @screen md {
                    margin-top: 7px;
                }

                @screen 2xl {
                    margin-top: 10px;
                }
            }
        }
    }
}

.title {
    @apply text-16 md:text-18 2xl:text-20 font-bold text-text-main tracking-wide leading-tight mb-6 2xl:mb-8;
}
</style>
