<template>
    <div :class="$style.Documentation">
        <t type="h2" :class="$style.title">
            Документация {{ title }}
        </t>

        <AButton
            v-for="(item, i) in data.docs"
            :key="`product-docs-${i}`"
            type="external"
            target="_blank"
            design="custom"
            :link="item.link"
            class="!font-circe flex items-center leading-none tracking-wide text-16 md:text-18 mb-6 last:mb-0 xl:hover:text-primary transition-colors duration-300"
        >
            <template #before>
                <IconDocumentDownload class="w-8 mr-6 flex-shrink-0" />
            </template>

            {{ item.title }}
        </AButton>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        title: {
            type   : String,
            default: ""
        }
    }
}
</script>

<style lang="scss" module>
.Documentation {
    //
}

.title {
    @apply text-16 md:text-18 2xl:text-20 font-bold text-text-main tracking-wide leading-tight mb-6 2xl:mb-8;
}
</style>
