<template>
    <div :class="$style.Guarantee">
        <noindex v-if="inRegion">
            <t type="p" :class="$style.text">
                На все оборудование распространяется гарантия Производителя. Срок гарантийного обслуживания зависит от вида оборудования и производителя и составляет от 1 до 10 лет.
                <br>
                Гарантия действительна при условии соблюдения норм эксплуатации.
            </t>
        </noindex>
        <t
            v-else
            type="p"
            :class="$style.text"
        >
            На все оборудование распространяется гарантия Производителя. Срок гарантийного обслуживания зависит от вида оборудования и производителя и составляет от 1 до 10 лет.
            <br>
            Гарантия действительна при условии соблюдения норм эксплуатации.
        </t>
    </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
    computed: {
        ...mapGetters( "regions", [
            "inRegion"
        ] )
    }
}
</script>

<style lang="scss" module>
.Guarantee {
    //
}

.text {
    @apply text-text-low md:text-15 2xl:text-18;
}
</style>
