<template>
    <div :class="$style.Modifications">
        <t
            v-if="!isModal"
            type="h2"
            :class="$style.title"
        >
            Модификации и цены на товар
            <AButton
                v-if="conjointProduct && conjointProduct.id"
                design="custom"
                class="!font-circe text-secondary transition-colors duration-300 xl:hover:text-primary"
                :link="link"
            >
                {{ conjointTitle }}
            </AButton>
            <template v-else>
                {{ title }}
            </template>
        </t>

        <div class="border-t border-stroke md:border-r md:border-l" :class="{'-mx-4 md:mx-0': !isModal}">
            <div class="hidden md:flex h-16 2xl:h-20 items-center bg-background px-6 2xl:px-8 border-b border-stroke">
                <t :class="[$style.name, {'2xl:w-[90rem]': !isModal}]" class="w-[30rem] xl:w-[60rem]">
                    Наименование
                </t>
                <t :class="$style.name" class="w-[10rem] xl:w-[13rem] 2xl:w-[18rem]">
                    Артикул
                </t>
                <t :class="[$style.name, `${ isModal ? 'xl:w-[142px] 2xl:w-[213px]' : 'xl:w-[144px] 2xl:w-[217px]'}`]" class="w-[97px]">
                    Цена
                </t>
                <t :class="[$style.name, `${ isModal ? 'xl:w-[142px] 2xl:w-[161px]' : 'xl:w-[145px] 2xl:w-[171px]'}`]" class="w-[131px]">
                    Кол-во, шт
                </t>
                <t :class="$style.name">
                    Купить
                </t>
            </div>

            <div
                v-for="(item, i) in products"
                :key="`modifications-${i}`"
            >
                <MProductCard
                    :design="isModal ? 'modification-modal' : 'modification'"
                    :data="item"
                />
            </div>
        </div>

        <t class="block mt-6 2xl:mt-8 text-12 md:text-15 2xl:text-18 xl:text-16 text-gray-400 tracking-wide leading-tight" :class="{'px-4': isModal}">
            Вся информация на сайте о товарах, характеристиках, комплектации, ценах и доставке носит исключительно ознакомительный характер и не является публичной офертой. Перед оформлением заказа, пожалуйста, уточняйте существенные для Вас характеристики у наших менеджеров.
        </t>
    </div>
</template>

<script>
import { mapGetters } from "vuex"
import { PRODUCT } from "@/lib/url/const"
import { lowerFirst } from "@/lib/utils"

export default {
    props: {
        ids: {
            type   : Array,
            default: () => []
        },

        conjointProduct: {
            type   : Object,
            default: () => ( {} )
        },

        title: {
            type   : String,
            default: ""
        },

        isModal: Boolean
    },

    data()
    {
        return {
            products: []
        }
    },

    async fetch()
    {
        if ( this.ids && this.ids.length )
        {
            const res = await this.$api.products.get( { ids: this.ids } )
            this.products = res.results
        }
    },

    computed: {
        ...mapGetters( "regions", [
            "regionSlug"
        ] ),

        link()
        {
            return this.$getUrl( PRODUCT, {
                fslug: this.conjointProduct.fslug,
                city : this.regionSlug
            } )
        },

        conjointTitle()
        {
            return lowerFirst( this.conjointProduct.title )
        }
    }
}
</script>

<style lang="scss" module>
.Modifications {
    //
}

.title {
    @apply text-16 md:text-18 2xl:text-20 font-bold text-text-main tracking-wide leading-tight mb-6 2xl:mb-8;
}

.name {
    @apply text-text-main leading-none tracking-wide xl:text-15 2xl:text-18;
}
</style>
