<template>
    <div :class="$style.Payment">
        <noindex v-if="inRegion">
            <t type="p" :class="$style.text">
                Для юридических лиц доступна безналичная оплата по выставленному счету. <br>
                Для физических лиц доступны следующие способы оплаты: наличными при получении, оплата банковской картой на сайте, оплата банковской картой при получении, безналичная оплата по выставленному счету.
            </t>
        </noindex>
        <t
            v-else
            type="p"
            :class="$style.text"
        >
            Для юридических лиц доступна безналичная оплата по выставленному счету. <br>
            Для физических лиц доступны следующие способы оплаты: наличными при получении, оплата банковской картой на сайте, оплата банковской картой при получении, безналичная оплата по выставленному счету.
        </t>
    </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
    computed: {
        ...mapGetters( "regions", [
            "inRegion"
        ] )
    }
}
</script>

<style lang="scss" module>
.Payment {
    //
}

.text {
    @apply text-text-low md:text-15 2xl:text-18;
}
</style>
