<template>
    <div :class="$style.Reviews">
        <div class="xl:pb-10 2xl:pb-12 xl:border-r xl:border-b xl:border-l border-stroke">
            <t
                type="h2"
                :class="$style.title"
                class="line-bottom xl:after:hidden"
            >
                Отзывы {{ title }}
            </t>

            <div
                v-if="reviews && reviews.length"
                class="xl:hidden pb-8 md:pb-12 line-bottom"
            >
                <MComment
                    v-for="(item, i) in reviews.slice(0, visibleReviews)"
                    :key="`reviews-${i}`"
                    :data="item"
                />

                <AButton
                    v-if="visibleReviews < reviews.length"
                    type="button"
                    design="custom"
                    class="w-full h-20 md:h-24 -mt-px !font-circe text-text-main font-bold bg-white border border-stroke text-15 md:text-16"
                    @click="visibleReviews += 3"
                >
                    Загрузить еще
                </AButton>
            </div>

            <AScrollbox
                class="hidden xl:block max-h-[80rem]"
                resizable
            >
                <div class="xl:px-6 2xl:px-12">
                    <MComment
                        v-for="(item, i) in reviews"
                        :key="`reviews-${i}`"
                        :data="item"
                    />
                </div>
            </AScrollbox>
        </div>

        <div class="full-background bg-background xl:before:hidden pt-10 pb-12 xl:px-8 xl:pt-6 2xl:p-12 xl:border-r xl:border-b border-stroke" :class="$style.form">
            <FormReview
                :id="data.id"
                model="product"
                button-text="Оставить отзыв"
            >
                <t type="h4" class="font-bold text-20 xl:text-18 2xl:text-20 tracking-wide leading-tight text-text-main">
                    Добавить свой отзыв
                </t>
            </FormReview>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        reviews: {
            type   : Array,
            default: () => []
        },

        title: {
            type   : String,
            default: ""
        }
    },

    data()
    {
        return {
            visibleReviews: 3
        }
    }
}
</script>

<style lang="scss" module>
.Reviews {
    @screen xl {
        display: grid;
        grid-template-columns: 768px 1fr;
    }

    @screen 2xl {
        grid-template-columns: 110rem 1fr;
    }

    :global(.scrollbar._vertical) {
        @apply right-0 2xl:right-5;
        width: 4px;
    }

    :global(.scrollbar._vertical .scrollbar__thumb) {
        width: 100%;
    }
}

.title {
    @apply text-16 md:text-18 2xl:text-20 font-bold text-text-main tracking-wide leading-tight pb-6 md:pb-8 xl:border-b border-stroke xl:p-6 2xl:p-12;
}

.wrap {
    @screen xl {
        display: grid;
        grid-template-columns: 768px 1fr;
    }

    @screen 2xl {
        grid-template-columns: 110rem 1fr;
    }
}

.form {
    @screen xl {
        height: min-content;
    }
}
</style>
