<template>
    <div :class="$style.Synonyms">
        <AButton
            v-for="(category, i) in synonyms"
            :key="`synonym-${i}`"
            design="custom"
            :link="link(category.fslug)"
            :class="$style.item"
        >
            {{ category.title }} {{ inRegion }}
        </AButton>
    </div>
</template>

<script>
import { mapGetters } from "vuex"
import { PRODUCT_CATEGORY } from "@/lib/url/const"

export default {
    props: {
        synonyms: {
            type   : Array,
            default: () => []
        }
    },

    computed:
    {
        ...mapGetters( "regions", [
            "regionSlug",
            "inRegion"
        ] )
    },

    methods: {
        link( e )
        {
            return this.$getUrl( PRODUCT_CATEGORY, {
                fslug: e,
                city : this.regionSlug
            } )
        }
    }
}
</script>

<style lang="scss" module>
.Synonyms {
   //
}

.item {
    @apply font-circe relative flex leading-none mb-6 md:mb-7 2xl:mb-8 last:mb-0 md:text-15 2xl:text-18 xl:hover:text-primary transition-colors duration-300;

    &:before {
        @apply w-[4px] h-[4px] bg-primary mr-3 2xl:mr-4 mt-[4px] 2xl:mt-[6px];
        content: "";
    }
}
</style>
