<template>
    <c
        :design="containerDesign"
        class="overflow-x-auto overflow-y-hidden"
    >
        <div
            :class="[$style.Breadcrumbs, [$style[design]]]"
            itemscope
            itemtype="http://schema.org/BreadcrumbList"
        >
            <AButton
                design="custom"
                link="/"
                :class="$style.link"
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem"
            >
                Главная

                <meta itemprop="position" content="1">
            </AButton>

            <AButton
                v-for="(item, i) in data"
                :key="`breadcrumbs-${i}`"
                :type="item.link ? 'internal' : 'button'"
                design="custom"
                :link="item.link"
                :class="[$style.link, {[$style._text]: !item.link}]"
                itemprop="itemListElement"
                itemscope
                itemtype="http://schema.org/ListItem"
            >
                <div :class="$style.separator" />

                {{ item.title }}

                <meta itemprop="position" :content="i+2">
            </AButton>
        </div>
    </c>
</template>

<script>
export default {
    props: {
        data: {
            type   : Array,
            default: () => []
        },

        design: {
            type   : String,
            default: "light",
            validator( value )
            {
                return [ "light", "dark", "transparent" ].includes( value )
            }
        }
    },

    computed: {
        containerDesign()
        {
            switch ( this.design )
            {
            case "light":
                return "white-common"
            case "dark":
                return "blue-dark"
            default:
                return "transparent"
            }
        }
    }
}
</script>

<style lang="scss" module>
.Breadcrumbs {
    @apply py-8 h-20 2xl:h-24 pr-6 md:pr-12 xl:pr-[5.5rem] 2xl:pr-32;
    display: flex;
    align-items: center;
    width: max-content;
    overflow-y: hidden;

    .separator {
        @apply block bg-blue-500 w-[.4rem] h-[.4rem] my-auto mx-4;
    }

    .link {
        @apply font-circe leading-none tracking-wide transition-colors duration-300 2xl:text-16;
        display: flex;
        height: auto !important;

        &._text {
            @apply cursor-default;

            .separator {
                @apply bg-red-500;
            }
        }
    }

    &.light {
        .link {
            @apply text-gray-400 xl:hover:text-text-main;

            &._text {
                @apply text-text-main xl:hover:text-text-main;
            }
        }
    }

    &.dark {
        .link {
            @apply text-gray-300 xl:hover:text-white;

            &._text {
                @apply text-white xl:hover:text-white;
            }
        }
    }

    &.transparent {
        .link {
            @apply text-gray-300 xl:hover:text-white;

            &._text {
                @apply text-white xl:hover:text-white;
            }
        }
    }
}
</style>
