<template>
    <div :class="$style.Comment">
        <t type="h4" class="text-text-main font-bold text-18 2xl:text-22 leading-tight tracking-wide">
            {{ data.name }}
        </t>

        <div v-if="data.vote" class="flex mt-3">
            <IconStar
                v-for="(item, i) in 5"
                :key="`rating-${i}`"
                :class="[$style.star, { [$style._active]: data.vote >= i + 1 } ]"
            />
        </div>

        <t type="p" class="text-15 md:text-16 2xl:text-18 mt-6 2xl:mt-8">
            {{ data.text }}
        </t>

        <t type="p" class="text-gray-500 font-bold leading-tight tracking-wide mt-6 md:mt-8 2xl:mt-12 2xl:text-18">
            {{ date }}
        </t>
    </div>
</template>

<script>
import { dateToString } from "@/lib/utils"

export default {
    props: {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    jsonld()
    {
        return {
            "@type"      : "Comment",
            "@id"        : `http://schema.org/comment-${ this.data.id + 1 }`,
            dateCreated  : this.data.createdAt,
            upvoteCount  : this.data.vote,
            downvoteCount: this.data.vote,
            text         : this.data.text,
            author       : {
                "@type": "Person",
                name   : this.data.name
            }
        }
    },

    computed: {
        date()
        {
            const res = new Date( this.data.createdAt )
            return dateToString( res )
        }
    }
}
</script>

<style lang="scss" module>
.Comment {
    @apply py-6 2xl:py-8 border-b border-stroke;
}

.star {
    @apply w-7 h-7 2xl:w-8 2xl:h-8 mr-2 2xl:mr-3 last:mr-0;

    path {
        fill: white;
        stroke: white;
        transition: all .3s ease;
    }

    &._active path {
        fill: #FFCC00;
        stroke: #FFCC00;
    }
}
</style>
