<template>
    <div>
        <transition name="fade-common" mode="out-in">
            <div v-if="!result || resultType === 'modal'" key="form">
                <slot />

                <BaseForm
                    :class="[$style.Form, className]"
                    @submit="submit"
                    @error="error"
                >
                    <div
                        v-for="(field, i) in fields"
                        :key="i"
                        :class="[$style.row, `${className}-row`]"
                    >
                        <AFileInput
                            v-if="field.toLowerCase() === 'file'"
                            v-input:file
                            :required="field === 'FILE'"
                            multiple
                            :error="errors.file"
                            @change="onChange($event, 'file')"
                            @error="errors.file = $event"
                        />

                        <AInput
                            v-if="field.toLowerCase() === 'phone'"
                            v-input:phone
                            :value="phone"
                            placeholder="Телефон"
                            :design="design"
                            :required="field === 'PHONE'"
                            :error="errors.phone"
                            @change="onChange($event, 'phone')"
                        />

                        <AInput
                            v-if="field.toLowerCase() === 'email'"
                            v-input:email
                            :value="email"
                            placeholder="E-mail"
                            :design="design"
                            :required="field === 'EMAIL'"
                            :error="errors.email"
                            @change="onChange($event, 'email')"
                        />

                        <AInput
                            v-if="field.toLowerCase() === 'name'"
                            v-input:name
                            :value="name"
                            placeholder="Имя"
                            :design="design"
                            :required="field === 'NAME'"
                            :error="errors.name"
                            @change="onChange($event, 'name')"
                        />

                        <AInput
                            v-if="field.toLowerCase() === 'topic'"
                            v-input:topic
                            :value="topic"
                            placeholder="Тема обращения (пожелание, вопрос, претензия)"
                            :design="design"
                            :required="field === 'TOPIC'"
                            :error="errors.topic"
                            @change="onChange($event, 'topic')"
                        />

                        <AInput
                            v-if="field.toLowerCase() === 'comment'"
                            v-input:comment
                            :value="comment"
                            type="textarea"
                            :design="design"
                            :required="field === 'COMMENT'"
                            :placeholder="commentText"
                            :error="errors.comment"
                            @change="onChange($event, 'comment')"
                        />

                        <AInput
                            v-if="field.toLowerCase() === 'appeal'"
                            v-input:appeal
                            :value="appeal"
                            type="textarea"
                            :design="design"
                            :required="field === 'APPEAL'"
                            :placeholder="commentText"
                            :error="errors.appeal"
                            @change="onChange($event, 'appeal')"
                        />
                    </div>

                    <AButton
                        type="button"
                        size="lg"
                        :class="[$style.button, `${className}-button`]"
                    >
                        {{ buttonText }}
                    </AButton>

                    <div :class="[$style.policy, `${className}-policy`]">
                        Нажимая на кнопку "{{ buttonText }}" Вы соглашаетесь с
                        <AButton
                            type="internal"
                            :link="policyUrl"
                            target="_blank"
                            design="custom"
                            class="!h-auto text-secondary xl:hover:text-primary transition-colors duration-300"
                        >
                            политикой обработки данных
                        </AButton>
                    </div>
                </BaseForm>
            </div>

            <div v-else key="result">
                <MFormResult
                    :result="result"
                    :success-text="successText"
                    :class="[$style.result, `${className}-result`]"
                />
            </div>
        </transition>

        <MModal :id="modalId">
            <MFormResult
                :result="result"
                :success-text="successText"
                :class="[$style.resultModal, `${className}-resultModal`]"
            />
        </MModal>
    </div>
</template>

<script>
import { formMixin } from "@/lib/mixins/forms"

export default {
    mixins: [ formMixin ],

    props: {
        design: {
            type   : String,
            default: "primary",
            validator( value )
            {
                return [ "primary", "secondary", "footer" ].includes( value )
            }
        },

        fields: {
            type   : Array,
            default: () => []
        },

        code: {
            type    : String,
            required: true
        },

        data: {
            type   : Object,
            default: () => {}
        },

        buttonText: {
            type   : String,
            default: "Заказать звонок"
        },

        commentText: {
            type   : String,
            default: "Комментарий"
        },

        className: {
            type   : String,
            default: ""
        },

        resultType: {
            type   : String,
            default: "inline",
            validator( value )
            {
                return [ "inline", "modal" ].includes( value )
            }
        },

        successText: {
            type   : String,
            default: "Ваше обращение принято, с Вами свяжется наш менеджер для консультации."
        }
    },

    data()
    {
        return {
            file   : null,
            phone  : null,
            email  : null,
            name   : null,
            topic  : null,
            comment: null,
            appeal : null,

            checkbox1: false,
            checkbox2: false,

            errors: {
                file   : "",
                phone  : "",
                email  : "",
                name   : "",
                topic  : "",
                comment: "",
                appeal : "",

                checkbox1: "",
                checkbox2: ""
            }
        }
    },

    watch: {
        result()
        {
            this.$emit( "result", this.result )
        }
    },

    methods:
    {
        cleanValues()
        {
            this.file = null
            this.name = null
            this.topic = null
            this.phone = null
            this.email = null
            this.comment = null
            this.appeal = null
            this.checkbox1 = false
            this.checkbox2 = false
        }
    }
}
</script>

<style lang="scss" module>
.Form {
    //
}

.row {
    @apply mb-4 md:mb-6 2xl:mb-8;
}

.button {
    @apply w-full text-16 2xl:text-18;
}

.text {
    @apply text-text-low leading-tight flex-1;
    margin-left: 10px;
    font-size: 11px;
    transform: translateY(1px);

    @screen 2xl {
        font-size: 13px;
        transform: translateY(0);
    }
}

.policy {
    @apply w-full font-gotham text-center mt-6 text-[12px] text-text-main leading-tight 2xl:mt-8 2xl:text-[15px];
    letter-spacing: 0.01em;
}

.resultModal {
    @apply p-10 md:p-12 2xl:p-20;
}
</style>
