<template>
    <BaseModal
        :id="id"
        :design="$style[design]"
        :overlay-animation="$style[overlayAnimation]"
        :modal-animation="$style[modalAnimation]"
    >
        <div :class="[$style.Modal, $style[placement]]">
            <div :class="$style.wrapper">
                <slot />

                <div
                    :class="$style.close"
                    @click="$modal.close(id)"
                >
                    <IconCloseThin />
                </div>
            </div>
        </div>
    </BaseModal>
</template>

<script>
export default {
    props: {
        id: String,

        placement: {
            type   : String,
            default: "center",
            validator( value )
            {
                return [ "center", "full" ].includes( value )
            }
        },

        design: {
            type   : String,
            default: "common",
            validator( value )
            {
                return [ "common", "custom" ].includes( value )
            }
        },

        padding     : String,
        borderRadius: String,

        overlayAnimation: {
            type   : String,
            default: "overlay-fade",
            validator( value )
            {
                return [ "overlay-fade" ].includes( value )
            }
        },

        modalAnimation: {
            type   : String,
            default: "modal-fade",
            validator( value )
            {
                return [ "modal-fade", "modal-bottom" ].includes( value )
            }
        }
    },

    computed: {
        wrapperDesign()
        {
            return this.design === "common" ? "white-common" : "custom"
        }
    }
}
</script>

<style lang="scss" module>
.Modal {
    position: absolute;
    width: 100%;
    min-height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform, opacity;

    &.center {
        @apply px-4 md:p-8;
    }

    &.full {
        @apply p-0 xl:p-8;
    }
}

.close {
    @apply absolute top-6 right-6 text-text-main 2xl:top-8 2xl:right-8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: .2;
    transition: opacity .3s ease;

    svg {
        @apply w-12 h-12;
    }

    &:hover {
        @screen xl {
            opacity: 1;
        }
    }
}

.wrapper {
    @apply bg-white;
    position: relative;
    pointer-events: auto;
    width: auto;
}

// design
.common {
    &:global(-overlay) {
        background: rgba(17, 17, 17, 0.7);
    }
}

.custom {
    &:global(-overlay) {
        background: transparent;
    }
}

// overlay animations
.overlay-fade {
    &:global(-enter-active) {
        transition: opacity .4s;
    }
    &:global(-leave-active) {
        transition: opacity .2s;
        opacity: 0;
    }
    &:global(-enter) {
        opacity: 0;
    }
}

// modal animations
.modal-fade {
    &:global(-enter-active) {
        transition: opacity .4s;
    }
    &:global(-leave-active) {
        transition: opacity .2s;
    }
    &:global(-enter),
    &:global(-leave-to) {
        opacity: 0;
    }
}

.modal-bottom {
    &:global(-enter-active) {
        transition: transform .4s;
    }
    &:global(-leave-active) {
        transition: transform .2s;
    }
    &:global(-enter),
    &:global(-leave-to) {
        transform: translateY(110%);
    }
}

</style>
