<template>
    <div class="px-4 pb-16 border border-stroke bg-background flex flex-col items-center md:flex-row md:justify-center md:p-0">
        <IconNotFound class="hidden md:block flex-shrink-0 xl:w-[24rem] xl:h-[24rem] 2xl:w-[31rem] 2xl:h-[31rem]" />

        <div class="flex flex-col items-center md:block md:p-8 xl:p-12 2xl:p-14">
            <IconNotFound class="md:hidden" />

            <t class="text-20 md:text-24 2xl:text-32 block text-secondary font-bold leading-none tracking-wide text-center md:text-left mb-4 2xl:mb-6">
                {{ title }}
            </t>

            <t class="block text-gray-500 leading-none tracking-wide text-center 2xl:text-20 md:text-left md:text-16">
                {{ text }}
            </t>

            <div class="w-full flex mt-10 md:mt-12 2xl:mt-20">
                <AButton
                    class="!font-circe !font-bold w-1/2 md:w-[18rem] 2xl:w-[26rem] mr-2 md:mr-8 !h-[4.4rem] 2xl:!h-24 xl:text-16 2xl:text-18"
                    link="/"
                >
                    На главную
                </AButton>

                <AButton
                    type="button"
                    design="blue-common"
                    class="!font-circe !font-bold w-1/2 md:w-[18rem] 2xl:w-[26rem] ml-2 md:ml-0 !h-[4.4rem] 2xl:!h-24 xl:text-16 2xl:text-18"
                    @click="$router.go(-1)"
                >
                    Назад
                </AButton>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type   : String,
            default: "Товаров, соответствующих вашему запросу, не обнаружено."
        },

        text: {
            type   : String,
            default: "Пожалуйста, попробуйте поискать снова используя более популярные ключевые слова."
        }
    }
}
</script>
