<template>
    <div :class="$style.Partners">
        <div
            ref="slider"
            :class="$style.slider"
        >
            <div
                :class="$style.sliderWrapper"
                class="swiper-wrapper"
            >
                <AButton
                    v-for="(slide, i) in slides"
                    :key="`slider-1-${i}`"
                    design="custom"
                    class="swiper-slide"
                    :link="link(slide.fslug)"
                >
                    <!--                    <div :class="$style.image" class="!hidden xl:!flex">-->
                    <!--                        <BaseImage-->
                    <!--                            class="object-contain"-->
                    <!--                            :src="slide"-->
                    <!--                            :ext="['png','webp']"-->
                    <!--                        />-->
                    <!--                    </div>-->
                    <div :class="$style.image">
                        <BaseImage
                            v-if="slide.image && slide.image.imageSrc"
                            :src="slide.image.imageSrc"
                            :ext="slide.image.imageTypes"
                            class="object-contain"
                        />
                    </div>
                </AButton>
            </div>
        </div>

        <div ref="scrollbar" class="swiper-scrollbar" />
    </div>
</template>

<script>
import Swiper, { Scrollbar } from "swiper"
import "swiper/components/scrollbar/scrollbar.scss"

import { BRAND } from "@/lib/url/const"
Swiper.use( [ Scrollbar ] )

export default {
    props: {
        slides: {
            type   : Array,
            default: () => []
        },

        isMain: Boolean
    },

    data()
    {
        return {
            slider: null
        }
    },

    mounted()
    {
        this.slider = new Swiper( this.$refs.slider, {
            cssMode      : true,
            slidesPerView: 3,
            spaceBetween : 0,
            scrollbar    : {
                el       : ".swiper-scrollbar",
                draggable: true
            },
            breakpoints: {
                320: {
                    slidesPerView: 3,
                    spaceBetween : 0
                },
                768: {
                    slidesPerView: 4,
                    spaceBetween : 0
                },
                1280: {
                    cssMode            : false,
                    slidesPerView      : this.isMain ? 3 : 4,
                    spaceBetween       : 0,
                    slidesPerColumn    : this.isMain ? 1 : 2,
                    slidesPerColumnFill: "row"
                },
                1800: {
                    cssMode            : false,
                    slidesPerView      : 4,
                    spaceBetween       : 0,
                    slidesPerColumn    : this.isMain ? 1 : 2,
                    slidesPerColumnFill: "row"
                }
            }
        } )
    },

    methods: {
        link( fslug )
        {
            return this.$getUrl( BRAND, { fslug } )
        }
    }
}
</script>

<style lang="scss" module>
.Partners {
    @apply relative;

    @screen xl {
        margin: -2rem 0;
        padding: 2rem 0;
        overflow: hidden;
    }

    :global(.swiper-slide) {
        @apply relative last:border-r-0 border-background;
        transition: box-shadow .3s ease;

        &:hover {
            @screen xl {
                box-shadow: 0 0 20px rgba(92, 92, 92, 0.1);
            }
        }

        &:last-child {
            &:before {
                @apply hidden;
            }
        }

        &:before {
            @apply absolute -right-px w-[2px] h-full bg-background z-10;
            content: "";
        }

        &:after {
            @apply absolute bottom-0 h-[2px] bg-background z-10;
            width: 300vw;
            left: -100vw;
            content: "";
        }
    }

    :global(.swiper-scrollbar) {
        @apply static mt-6 md:mt-8 2xl:mt-12 h-[2px] md:h-[4px] rounded-none;
        background-color: #E6E6E6;
    }

    :global(.swiper-scrollbar-drag) {
        @apply bg-primary h-[2px] md:h-[4px] rounded-none cursor-pointer;
    }
}

.slider {
    @apply relative border-t-[2px] border-background overflow-hidden xl:overflow-visible;

    &:before,
    &:after {
        @apply absolute top-0 z-10 w-[2px] h-full bg-background;
        content: "";
    }

    &:before {
        @apply left-0;
    }

    &:after {
        @apply right-0;
    }
}

.image {
    width: 100%;
    overflow: hidden;
    @apply min-h-[9rem] md:min-h-[13rem] 2xl:min-h-[14rem];
    @apply flex items-center justify-center border-r-0;

    img {
        width: 80%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        margin: 0 auto;
    }
}
</style>
