<template>
    <div :class="$style.Point">
        <div :class="$style.title">
            <template v-if="data.street">
                {{ data.street }} {{ data.streetType }}, д. {{ data.house }}
            </template>
            <template v-else>
                {{ data.name }}
            </template>
        </div>

        <div class="w-[19rem] mt-4">
            <div :class="$style.address">
                {{ data.address }}
            </div>

            <div
                v-if="data.phone"
                :class="$style.block"
            >
                <div :class="$style.label">
                    Телефон:
                </div>
                <div :class="$style.value">
                    <strong>{{ data.phone }}</strong>
                </div>
            </div>

            <div
                v-if="data.timetable"
                :class="$style.block"
            >
                <div :class="$style.label">
                    График работы:
                </div>
                <div
                    v-for="(item, i) in timetable"
                    :key="`timetable-${i}`"
                    :class="$style.value"
                >
                    {{ item.split( separator )[ 0 ] }}
                    <strong>
                        {{ item.split( separator )[ 1 ] }}
                    </strong>
                </div>
            </div>

            <div
                :class="$style.btn"
                class="point-btn"
            >
                Выбрать
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    computed: {
        separator()
        {
            return this.data.providerKey === "dellin" ? ", " : " "
        },

        timetable()
        {
            const sep = this.data.providerKey === "dellin" ? ";" : ", "
            return this.data.timetable.split( sep )
        }
    }
}
</script>

<style lang="scss" module>
.Point {
    //
}

.title {
    @apply pr-10 text-text-main font-gotham text-18 leading-tight font-medium;
}

.address {
    @apply font-gotham text-16 leading-tight text-text-low;
}

.block {
    @apply mt-7;
}

.label {
    @apply font-gotham text-text-low mb-3 text-14 leading-tight;
}

.value {
    @apply font-gotham text-text-main text-16 leading-tight;

    strong {
        @apply font-medium;
    }
}

.btn {
    @apply flex items-center justify-center text-white font-bold h-[4.5rem] w-full mt-10 text-14 bg-primary transition-colors duration-300 cursor-pointer;

    &:hover {
        @screen xl {
            @apply bg-red-500;
        }
    }
}
</style>
