<template>
    <div :class="$style.Range">
        <div :class="$style.inputs">
            <div :class="$style.field">
                <div :class="$style.label">
                    от
                </div>
                <input
                    v-model="_firstValue"
                    type="text"
                    :class="$style.input"
                    @change="onInputChange($event, 'first')"
                >
            </div>

            <div :class="$style.field">
                <div :class="$style.label">
                    до
                </div>
                <input
                    v-model="_secondValue"
                    type="text"
                    :class="$style.input"
                    @change="onInputChange($event, 'second')"
                >
            </div>
        </div>

        <div class="h-10">
            <ASlider
                :value="[firstValue, secondValue]"
                v-bind="$props"
                @change="onSliderChange"
            />
        </div>
    </div>
</template>

<script>
import { formatNumber } from "@/lib/utils.js"

export default {
    props: {
        value: [ Number, Array ],
        min  : Number,
        max  : Number
    },

    data()
    {
        return {
            firstValue : this.value[ 0 ],
            secondValue: this.value[ 1 ]
        }
    },

    computed: {
        _firstValue:
        {
            get()
            {
                return formatNumber( this.firstValue )
            },
            set( v )
            {
                this.firstValue = Number.parseInt( v.split( " " ).join( "" ) )
            }
        },

        _secondValue:
        {
            get()
            {
                return formatNumber( this.secondValue )
            },
            set( v )
            {
                this.secondValue = Number.parseInt( v.split( " " ).join( "" ) )
            }
        }
    },

    watch: {
        value()
        {
            if ( !this.value.length || ( this.value[ 0 ] === null && this.value[ 1 ] === null ) )
            {
                this.firstValue = this.min
                this.secondValue = this.max
            }
            else
            {
                this.firstValue = this.value[ 0 ]
                this.secondValue = this.value[ 1 ]
            }
        }
    },
    created()
    {
        if ( !this.value.length || ( this.value[ 0 ] === null && this.value[ 1 ] === null ) )
        {
            this.firstValue = this.min
            this.secondValue = this.max
        }
    },

    methods:
    {
        onInputChange( e, handler )
        {
            let num = Number.parseInt( e.target.value.split( " " ).join( "" ) )

            if ( handler === "first" )
            {
                if ( num < this.min )
                {
                    num = this.min
                }
                this.$emit( "change", [ num || 0, this.value[ 1 ] ] )
            }

            if ( handler === "second" )
            {
                if ( num > this.max )
                {
                    num = this.max
                }
                this.$emit( "change", [ this.value[ 0 ], num || 0 ] )
            }
        },

        onSliderChange( e )
        {
            this.$emit( "change", e )
        }
    }
}
</script>

<style lang="scss" module>
.inputs {
    @apply flex justify-between mb-7;
}

.field {
    @apply h-20 pl-5 flex items-center border border-stroke w-1/2 first:mr-2 last:ml-2;

    @screen md {
        @apply first:mr-4 last:ml-4;
    }

    @screen xl {
        @apply first:mr-3 last:ml-3;
    }

    @screen 2xl {
        @apply first:mr-4 last:ml-4;
    }
}

.label {
    @apply text-[16px] flex-shrink-0 text-text-main leading-none font-bold mr-3;
}

.input {
    @apply text-[18px] flex w-full text-gray-500 bg-white outline-none;
}
</style>
