<template>
    <div :class="[$style.Tabs, $style[ design ] ]">
        <BaseTabs
            :switcher="switcher"
            :select="select"
            :key-design="componentDesign"
            :key-class="$style.component"
            v-bind="$props"
            v-on="$listeners"
        >
            <template
                v-for="(index, name) in $slots"
                #[name]
            >
                <slot :name="name" />
            </template>
        </BaseTabs>
    </div>
</template>

<script>
import Switcher from "@/components/A/Switcher"
import Select from "@/components/A/Select"

function getSwitcherDesign( design )
{
    switch ( design )
    {
    case "common":
        return undefined
    case "primary":
        return "primary"
    case "secondary":
        return "secondary"
    case "compare":
        return undefined
    case "compare-other":
        return undefined
    default:
        return undefined
    }
}

function getSelectDesign( design )
{
    switch ( design )
    {
    case "common":
        return undefined
    case "primary":
        return "primary"
    case "secondary":
        return "secondary"
    case "compare":
        return "compare"
    case "compare-other":
        return "compare"
    default:
        return undefined
    }
}

function getComponentDesign( design, componentType )
{
    if ( componentType === "switcher" )
    {
        return getSwitcherDesign( design )
    }
    else if ( componentType === "select" )
    {
        return getSelectDesign( design )
    }
    else
    {
        throw new Error( `Unknown component type '${ componentType }' for tabs.` )
    }
}

export default {
    props: {
        type:
        {
            type   : String,
            default: "switcher",
            validator( value )
            {
                return [ "switcher", "select" ].includes( value )
            }
        },

        design:
        {
            type   : String,
            default: "common",
            validator( value )
            {
                return [
                    "common",
                    "primary",
                    "secondary",
                    "compare",
                    "compare-other",
                    "admin"
                ].includes( value )
            }
        },
        inverse: Boolean,

        value: [ String, Number, Array ],
        data : Array
    },

    data()
    {
        return {
            activeTab: this.value
        }
    },

    computed: {
        componentDesign()
        {
            return getComponentDesign( this.design, this.type )
        },

        switcher()
        {
            return Switcher
        },

        select()
        {
            return Select
        }
    },

    watch: {
        value()
        {
            if ( this.activeTab !== this.value )
            {
                this.activeTab = this.value
            }
        }
    },

    methods: {
        onChange( e )
        {
            this.activeTab = e
            this.$emit( "change", e )
        }
    }
}
</script>

<style lang="scss" module>
.Tabs {
    //
}

// design
.compare {
    .component {
        @screen xl {
            display: none;
        }

        @screen 2xl {
            width: 30rem;
        }
    }
}

.compare-other {
    .component {
        @screen xl {
            display: none;
        }
    }
}

.admin {
    .component {
        width: min-content;
    }
}

</style>
