<template>
    <div :class="$style.Modal">
        <div class="h-24 2xl:h-32 flex items-center px-4 md:px-8 xl:px-12 2xl:px-20 border-b border-stroke">
            <t type="h3" class="font-gotham font-medium text-text-main leading-none text-18 md:text-20 2xl:text-24 xl:translate-y-px">
                Товар добавлен в корзину
            </t>
        </div>

        <div>
            <div class="xl:flex">
                <MProductCard
                    :data="data"
                    design="cart-modal"
                    class="xl:w-[67rem] 2xl:w-[93rem]"
                    @remove="remove"
                />

                <div class="px-4 md:px-8 xl:p-8 xl:pr-12 2xl:px-20 2xl:py-12 md:border-b border-stroke md:pb-12 xl:flex-1 xl:flex xl:flex-col-reverse xl:justify-between xl:border-l border-stroke">
                    <div class="flex justify-between xl:block text-text-main leading-none tracking-wide py-7 xl:p-0 xl:mt-10 2xl:mt-12 md:text-16 xl:text-14 2xl:text-18">
                        <div class="xl:mb-2 2xl:mb-4">
                            <t>В вашей корзине</t>
                            <t class="font-bold">
                                {{ totalQuantity }} {{ declOfProduct }}
                            </t>
                        </div>

                        <div>
                            <t>на сумму</t>
                            <t class="font-bold">
                                {{ totalCost }}
                            </t>
                        </div>
                    </div>

                    <div>
                        <AButton
                            type="button"
                            :class="$style.button"
                            class="mb-4 md:mb-6"
                            @click="toCart"
                        >
                            Перейти в корзину
                        </AButton>

                        <AButton
                            type="button"
                            inverse
                            :class="$style.button"
                            @click="$modal.close(id)"
                        >
                            Продолжить покупки
                        </AButton>
                    </div>
                </div>
            </div>

            <div class="px-4 md:px-8 xl:px-12 2xl:px-20">
                <MCartSlider
                    :data="products"
                    class="mt-10 md:mt-12 xl:mt-6 2xl:mt-8"
                />
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex"
import { getDeclOfProduct } from "@/lib/namings"
import { getPrice } from "@/lib/utils"
import { removeProduct } from "@/lib/products"
import { CART } from "@/lib/products/const"

export default {
    props: {
        id: {
            type    : String,
            required: true
        },

        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    data()
    {
        return {
            products: []
        }
    },

    async fetch()
    {
        const product = await this.$api.products.get( { sort: "-price", limit: 1 } )

        const options = {
            page        : 1,
            sort        : "price",
            category    : this.data.categories.root,
            limit       : 6,
            price__range: [ 1, product.results[ 0 ].data.price ],
            status      : "in_stock"
        }

        const res = await this.$api.products.get( options )

        if ( !res.results.length || res.results.length < 6 )
        {
            const addRes = await this.$api.products.get( {
                ...options,
                status: [ "back_order", "awaiting_admision" ]
            } )

            res.results = res.results.concat( addRes.results )
        }

        this.products = res.results
    },

    computed: {
        ...mapState( "cart", [
            "cart"
        ] ),

        ...mapGetters( "cart", [
            "totalQuantity"
        ] ),

        declOfProduct()
        {
            return getDeclOfProduct( this.totalQuantity )
        },

        totalCost()
        {
            return getPrice( this.cart.totalCost )
        }
    },

    methods: {
        ...mapActions( "cart", [
            "removeFromCart"
        ] ),

        remove( product )
        {
            removeProduct( CART, {
                product,
                action: this.removeFromCart
            } )

            this.$modal.close( this.id )
        },

        toCart()
        {
            this.$modal.close( this.id )
            this.$router.push( { path: "/cart/" } )
        }
    }
}
</script>

<style lang="scss" module>
.Modal {
    @apply overflow-hidden w-screen xl:w-[96.5rem] 2xl:w-[138rem] pb-10 md:pb-12 2xl:pb-20;
}

.button {
    @apply font-circe font-bold text-16 2xl:text-18 w-full h-20 2xl:h-24 #{ !important };
}
</style>
