<template>
    <div :class="$style.ServicePage">
        <div
            v-for="(block, i) in post.blocks"
            :key="`service-blocks-${i}`"
        >
            <OServiceHero
                v-if="block.type === 'hero'"
                :data="block"
            />

            <OServiceHeroForm
                v-if="block.type === 'hero-form'"
                :data="block"
                :slug="post.fslug"
            />

            <OServiceHeroMan
                v-if="block.type === 'hero-man'"
                :data="block"
                :slug="post.fslug"
            />

            <OServiceDesigning
                v-if="block.type === 'designing'"
                :data="block"
                :slug="post.fslug"
                :class="$style.block"
            />

            <OServiceForm
                v-if="block.type === 'form'"
                :data="block"
                :slug="post.fslug"
                :class="$style.block"
            />

            <OServiceFormBlue
                v-if="block.type === 'form-blue'"
                :data="block"
                :slug="post.fslug"
            />

            <OServiceCards
                v-if="block.type.startsWith('cards')"
                :data="block"
                :class="$style.block"
                :is-num="block.type === 'cards-num'"
            />

            <OServicePrice
                v-if="block.type === 'price'"
                :data="block"
                :class="$style.block"
            />

            <OServiceVariants
                v-if="block.type === 'variants'"
                :data="block"
                :class="$style.block"
            />

            <OServiceVariantsBoiler
                v-if="block.type === 'variants-boiler'"
                :data="block"
                :class="$style.block"
            />

            <OServiceVariantsPrice
                v-if="block.type === 'variants-price'"
                :data="block"
                :class="$style.block"
            />

            <OServiceWhy
                v-if="block.type === 'why-we'"
                :data="block"
                :class="$style.block"
            />

            <OServiceScheme
                v-if="block.type === 'scheme'"
                :data="block"
                :class="$style.block"
            />

            <OServiceSchemeBlue
                v-if="block.type === 'scheme-blue'"
                :data="block"
            />

            <OServiceWaterMeters
                v-if="block.type === 'water-meters'"
                :data="block"
                :class="$style.block"
            />

            <OServiceIncludes
                v-if="block.type === 'price-includes'"
                :data="block"
                :class="$style.block"
            />

            <OServiceWorks
                v-if="block.type === 'works'"
                :data="block"
                :class="$style.block"
            />

            <OServiceWorksMan
                v-if="block.type === 'works-man'"
                :data="block"
            />

            <OServiceGuarantee
                v-if="block.type === 'guarantee'"
                :data="block"
                :class="$style.block"
            />

            <OServiceReviews
                v-if="block.type === 'reviews'"
                :data="block"
                :class="$style.block"
            />

            <OServiceReasons
                v-if="block.type === 'reasons'"
                :data="block"
            />

            <OServiceServices
                v-if="block.type === 'services'"
                :data="block"
                :class="$style.block"
                :services="services"
            />

            <OServicePartners
                v-if="block.type === 'partners'"
                :data="block"
                :class="$style.block"
            />

            <OServiceBenefits
                v-if="block.type === 'benefits'"
                :data="block"
                :class="$style.block"
            />

            <OServiceProducts
                v-if="block.type === 'products'"
                :data="block"
                :products="products"
            />

            <OServiceText
                v-if="block.type === 'text'"
                :data="block"
            />

            <OServicePriceList
                v-if="block.type === 'price-list'"
                :data="block"
                :class="$style.block"
            />

            <OServiceContains
                v-if="block.type === 'contains'"
                :data="block"
            />

            <OServiceSubscribe
                v-if="block.type === 'subscribe'"
                :data="block"
            />
        </div>
    </div>
</template>

<script>
import { SERVICES } from "@/lib/blog/types/const"
import { POSTS } from "@/lib/blog/names/const"

// eslint-disable-next-line no-unused-vars
import { SERVICE } from "@/lib/url/const"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { $api, params } )
    {
        const postsRes = await $api.blog.list( SERVICES, POSTS, { fslug: params.slug } )
        const id = postsRes.results[ 0 ].id
        const post = await $api.blog.get( SERVICES, POSTS, { id } )

        // products
        let products = []
        const block = post.blocks.find( e => e.type === "products" )
        if ( block )
        {
            const item = block.items.find( e => e.type === "text_list_ul" )
            if ( item && item.textList && item.textList.length )
            {
                products = await $api.products.getAll( { ids: item.textList } )
            }
        }

        const services = await $api.blog.listAll( SERVICES, POSTS )

        return {
            post,
            products,
            services
        }
    },

    data()
    {
        return {
            // postRes : {},
            post    : {},
            products: [],
            services: []
        }
    },

    computed: {
        meta()
        {
            return {
                title      : this.post?.meta?.title || this.post?.title,
                description: this.post?.meta?.description || this.post?.description
            }
        },

        mainServices()
        {
            return this.services.filter( e => isNaN( +e.description ) )
        },

        isMain()
        {
            return isNaN( +this.postRes.description )
        }
    }
}
</script>

<style lang="scss" module>
.ServicePage {
    @apply font-roboto;
}

.block {
    @apply my-24 md:my-28 xl:my-32;
}
</style>
