<template>
    <div :class="$style.ServicesPage">
        <MBreadcrumbs :data="[ { title: h1 } ]" />

        <c>
            <t type="h1" design="h1-page">
                {{ h1 }}
            </t>

            <div class="grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-6 md:gap-8">
                <MServiceCard
                    v-for="(item, i) in services"
                    :key="`services-${i}`"
                    :data="item"
                    design="blue"
                    class="h-[19rem] md:h-[22.6rem]"
                />
            </div>
        </c>
    </div>
</template>

<script>
import { SERVICES as SERVICES_PAGE } from "@/lib/url/const"
import { SERVICES } from "@/lib/blog/types/const"
import { POSTS } from "@/lib/blog/names/const"
import { getTitle, getDescription, getH1 } from "@/lib/seo"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { $api } )
    {
        const servicesRes = await $api.blog.listAll( SERVICES, POSTS )
        const services = servicesRes.filter( e => e.info && e.info.type === "simple" )

        return {
            services
        }
    },

    data()
    {
        return {
            h1  : getH1( SERVICES_PAGE ),
            meta: {
                title      : getTitle( SERVICES_PAGE ),
                description: getDescription( SERVICES_PAGE )
            },

            services: []
        }
    }
}
</script>

<style lang="scss" module>
.ServicesPage {
    @apply pb-16 xl:pb-20 2xl:pb-24;
}
</style>
