<template>
    <div
        :class="$style.Brandcard"
        @click="$router.push( link )"
    >
        <div
            v-if="data.image && data.image.imageSrc"
            class="w-24 h-24 md:w-[9.3rem] md:h-[9.3rem] 2xl:w-[10rem] 2xl:h-[10rem]"
        >
            <BaseImage
                :src="data.image.imageSrc"
                :ext="data.image.imageTypes"
            />
        </div>

        <t
            v-else
            type="h4"
            class="text-text-main text-[18px] font-bold"
        >
            {{ data.name }}
        </t>
    </div>
</template>

<script>
import { getDeclOfProduct } from "@/lib/namings"
import { BRAND } from "@/lib/url/const"

export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    computed:
    {
        link()
        {
            return this.$getUrl( BRAND, { fslug: this.data.fslug } )
        },

        declOfProduct()
        {
            return getDeclOfProduct( this.productCount )
        }
    }
}
</script>

<style lang="scss" module>
.Brandcard{
    @apply border-2 border-background flex justify-center items-center cursor-pointer;
    width: 12.8rem;
    height: 9rem;
    transition: box-shadow .3s ease;

    &:hover {
        @screen xl {
            box-shadow: 0 0 20px rgba(92, 92, 92, 0.1);
        }
    }

    @screen md {
        width: 19rem;
        height: 13rem;
    }

    @screen 2xl {
        width: 20.6rem;
        height: 14rem;
    }
}
</style>
