<template>
    <section class="flex md:items-center justify-center">
        <div class="container">
            <MBreadcrumbs design="light" :data="[ {title:'Оформление заказа', link:'/checkout/'}, ]" />
            <div class="py-[10.6rem] mx-auto flex flex-col justify-center items-center">
                <BaseImage src="~/assets/images/successful-payment@2x" class="md:!max-w-[37.5rem] xl:!max-w-[56rem]" :ext="['png']" />
                <T type="h1" design="h1-common" class="mt-20 !text-center !normal-case !font-bold">
                    Ваш заказ <T class="!text-red-500">
                        №{{ order.code }}
                    </T> успешно оплачен!
                </t>
                <T type="p" class="!text-text-low !text md:!text-16 xl:!text-14 font-light 2xl:!text-[2rem] mt-2 text-center">
                    Благодарим за заказ, с Вами свяжется наш менеджер для подтверждения<br class="hidden md:block"> заказа, так же статус заказа всегда можно отследить в личном кабинете.
                </t>
                <div class="flex flex-wrap justify-center items-center mt-16 w-full">
                    <AButton link="/" class="w-full md:w-auto py-[1.8rem] xl:py-[1.9rem] !px-[3.2rem] !text-16 2xl:!text-18">
                        Продолжить покупки
                    </AButton>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {}
</script>

<style lang="scss" module>
.Payment {
    //
}
</style>
