<template>
    <div :class="$style.BlogCategoriesPage">
        <MBreadcrumbs :data="breadcrumbs" />

        <c>
            <t type="h1" design="h1-page">
                {{ h1 }}
            </t>

            <OArticles :posts="posts" />

            <APagination
                v-if="pages > 1 && paginationUrl"
                :page="page"
                :pages="pages"
                :link="paginationUrl"
                :serializer="paginationToUrl"
                class="mt-4 md:mt-6"
            />
        </c>
    </div>
</template>

<script>
import qs from "qs"
import { ARTICLES } from "@/lib/blog/types/const"
import { POSTS, CATEGORIES } from "@/lib/blog/names/const"
import { urlToPagination } from "@/lib/url"
import { getH1 } from "@/lib/seo"
import { ARTICLES_CATEGORY } from "@/lib/url/const"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { $api, route, query, params, error } )
    {
        const limit = 12
        const page = parseInt( query.page ) || 1
        const index = page > 1 ? "noindex, nofollow" : "index, follow"

        const categories = await $api.blog.list( ARTICLES, CATEGORIES, { fslug: params.slug } )
        const category = categories.results[ 0 ]

        if ( category && category.id )
        {
            const postsRes = await $api.blog.list( ARTICLES, POSTS, { page, limit, category: category.id } )
            const posts = postsRes.results

            const pages = Math.ceil( postsRes.count / limit )
            const pagination = urlToPagination( route.path )
            const paginationUrl = pagination.url

            return {
                category,
                posts,
                limit,
                pages,
                page,
                paginationUrl,
                count: postsRes.count,
                index
            }
        }
        else
        {
            return error( { statusCode: 404 } )
        }
    },

    data()
    {
        return {
            category     : {},
            posts        : [],
            count        : 0,
            pages        : 0,
            page         : 0,
            paginationUrl: "",
            index        : ""
        }
    },

    computed: {
        h1()
        {
            return getH1( ARTICLES_CATEGORY, { title: this.category.title } )
        },

        meta()
        {
            return {
                title      : this.category?.meta?.title || this.category?.title,
                description: this.category?.meta?.description || this.category?.description
            }
        },

        breadcrumbs()
        {
            return [
                {
                    link : "/articles/",
                    title: "Статьи"
                },
                {

                    link : "",
                    title: this.category.title
                }
            ]
        }
    },

    watch: {
        "$route.query.page": {
            handler( e )
            {
                this.page = parseInt( e )
                this.updatePosts()

                if ( process.client )
                {
                    window.scrollTo( 0, 0 )
                }
            }
        },

        page()
        {
            this.index = this.page > 1 ? "noindex, nofollow" : "index, follow"
        }
    },

    methods: {
        paginationToUrl( o )
        {
            return `${o.url}?${this.genQuery( o.page )}`
        },

        async updatePosts()
        {
            try
            {
                const data = {
                    limit   : this.limit || null,
                    page    : this.page || null,
                    category: this.category.id
                }
                const res = await this.$api.blog.list( "articles", "posts", data )

                const pages = Math.ceil( res.count / this.limit )
                this.count = res.count
                this.pages = pages
                this.posts = res.results
            }
            catch ( e )
            {
                console.warn( "updateProducts: ", e )
            }
        },

        genQuery( page )
        {
            const data = {
                page
            }
            return qs.stringify( data, { arrayFormat: "comma", encode: false, skipNulls: true } )
        }
    }
}
</script>

<style lang="scss" module>
.BlogCategoriesPage {
    @apply pb-16 xl:pb-20 2xl:pb-24;
}
</style>
