<template>
    <c>
        <div :class="$style.About">
            <div class="pb-12 line-bottom xl:after:hidden xl:w-[53rem] 2xl:w-[76rem] xl:border-r border-stroke xl:pr-24 2xl:pr-32 xl:py-20">
                <t type="h2" design="h2" :class="$style.title">
                    Компания
                </t>

                <IconLogo class="w-[18.5rem] h-16 2xl:w-[26rem] 2xl:h-[5.6rem] mb-4 md:mb-6 2xl:mb-8" />

                <t :class="$style.text" class="mb-4 md:mb-6 2xl:mb-8">
                    Обратившись в компанию АкваХит Вы получаете не только качественные товары от проверенных производителей, но и надежного партнера, который может найти индивидуальное решение под любые Ваши задачи. Мы оказываем широкий перечень услуг по доставке товара, проектированию, монтажу и пуско-наладке внутренних инженерных систем.
                </t>

                <t :class="$style.text">
                    Мы представляем большое количество производителей товара, качество которых проверено временем и постоянно растущим спросом со стороны покупателей. Нашими поставщиками являются такие компании: Danfoss, Genedree, Giacomini, Tecofi, Reflex, Grundfos, Wilo, Dab, Baxi, Wolf, Buderus, Vaillant, Bosch, Fondital.
                </t>

                <AButton
                    inverse
                    link="/about/"
                    class="2xl:text-16 h-20 2xl:h-[5.5rem] w-full xl:w-[24rem] 2xl:w-[26rem] mt-8 md:mt-10 2xl:mt-16 !border-background xl:hover:border-primary"
                >
                    Подробнее о компании
                    <IconArrowBold class="w-5 ml-4" />
                </AButton>
            </div>

            <div class="pt-12 xl:pl-24 2xl:pl-32 xl:py-20 xl:w-[63rem] 2xl:w-[90rem] xl:flex flex-col justify-between">
                <div>
                    <t type="h2" design="h2" :class="$style.title">
                        Наши партнеры
                    </t>

                    <t :class="$style.text" class="mb-4 md:mb-6 2xl:mb-8">
                        Основа успешного бизнеса - правильно выстроенная стратегии взаимоотношений с партнерами. В числе наших партнеров ведущие производители приборов учета тепла, такие как Ista, Landis&Gyr, Qundis, Danfoss и т.д. Постоянно развиваем деловые отношения с партнерами, что дает нам возможность предлагать нашим клиентам широкий ассортимент высококачественной продукции по самым низким ценам.
                    </t>

                    <t :class="$style.text">
                        Нам важно, чтобы каждый клиент остался доволен сотрудничеством и рекомендовал нас своим партнерам!
                    </t>
                </div>

                <MPartners
                    :slides="slides"
                    is-main
                    class="mt-8 md:mt-12"
                />
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props: {
        slides: {
            type   : Array,
            default: () => []
        }
    }
}
</script>

<style lang="scss" module>
.About {
    @apply py-16 xl:py-0 xl:flex;
}

.title {
    @apply mb-6 2xl:mb-10;
}

.text {
    @apply block text-15 md:text-16 2xl:text-18 leading-tight tracking-wide;
}
</style>
