<template>
    <c design="blue-right">
        <div :class="$style.Catalog">
            <t type="h2" design="h2">
                Каталог товаров
            </t>

            <div :class="$style.wrap">
                <MCatalogCard
                    v-for="(item, i) in data"
                    :key="`catalog-${i}`"
                    :data="item"
                    :index="i"
                    :class="$style.card"
                />
            </div>

            <div :class="$style.lines">
                <div :class="$style.line" />
                <div :class="$style.line" />
                <div :class="$style.line" />
                <div :class="$style.line" />
                <div :class="$style.line" />
                <div :class="$style.line" />
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props: {
        data: {
            type   : Array,
            default: () => []
        }
    }
}
</script>

<style lang="scss" module>
.Catalog {
    @apply relative pt-12 xl:pt-16 2xl:pt-14 pb-16 xl:pb-20 2xl:pb-24;
}

.wrap {
    @apply relative z-10 flex flex-wrap -mx-4 md:-mx-8 xl:mx-0 mt-6 md:mt-8 2xl:mt-12;
}

.card {
    @apply relative w-1/2 border-b border-background md:w-1/4 xl:w-1/6;

    &:nth-child(odd) {
        @apply border-r md:border-r-0;
    }

    &:nth-child(n) {
        @apply md:border-r;
    }

    @screen xl {
        border-right: none !important;

        &:after {
            @apply absolute top-0 right-0 w-px h-full bg-background;
            content: "";
        }
    }
}

.lines {
    @apply hidden xl:flex absolute top-0 left-0 w-full h-full flex justify-between;

    &:before {
        @apply absolute top-0 left-0 w-px h-full bg-gray-250;
        content: "";
    }
}

.line {
    @apply relative w-1/6 h-full bg-transparent;

    &:after {
        @apply absolute top-0 right-0 w-px h-full bg-gray-250;
        content: "";
    }
}

</style>
