<template>
    <c>
        <div :class="$style.Form">
            <t type="h2" design="h2">
                Мы так же можем спроектировать и смонтировать целиком:
            </t>

            <div class="xl:flex xl:mt-8 2xl:mt-12">
                <div class="relative mt-6 xl:mt-0 md:mt-8 mb-8 xl:mb-0 xl:w-[67rem] 2xl:w-[96rem] xl:flex-shrink-0 xl:mr-8">
                    <BaseImage
                        src="~/assets/images/main/form"
                        :ext="['jpg']"
                        class="xl:h-full"
                    />

                    <t :class="$style.topText" class="left-4 md:left-8 2xl:left-12">
                        СИСТЕМУ <br>
                        ОТОПЛЕНИЯ
                    </t>

                    <t :class="$style.topText" class="text-right right-4 md:right-8 2xl:right-12">
                        СИСТЕМУ <br>
                        ВОДОСНАБЖЕНИЯ
                    </t>
                </div>

                <div class="pt-10 md:pt-12 pb-16 xl:p-8 2xl:p-12 full-background xl:before:hidden xl:bg-background">
                    <t type="h2" design="h2" class="xl:!text-24 2xl:!text-28">
                        Хотите получить расчет?
                    </t>

                    <t class="block font-gotham mt-3 mb-6 md:mb-8 leading-tight 2xl:text-16">
                        Оставьте свой номер телефона
                    </t>

                    <MForm
                        :fields="['NAME', 'PHONE', 'comment', 'file']"
                        design="secondary"
                        code="FormSendDoc"
                        result-type="modal"
                        :class-name="$style.form"
                    />
                </div>
            </div>
        </div>
    </c>
</template>

<script>
export default {}
</script>

<style lang="scss" module>
.Form {
    @apply pt-16 xl:py-20 2xl:py-24;
}

.topText {
    @apply absolute top-4 md:top-8 2xl:top-12 font-gotham text-12 md:text-22 2xl:text-30 text-white font-extrabold leading-tight;
}

.form {
    @apply md:flex md:flex-wrap;

    &:global(-row) {
        @apply mb-6 md:mb-8 xl:mb-6 2xl:mb-8;

        &:nth-child(1) {
            @apply md:w-1/2 md:pr-4 xl:pr-3 2xl:pr-4;
        }

        &:nth-child(2) {
            @apply md:w-1/2 md:pl-4 xl:pl-3 2xl:pl-4;
        }

        &:nth-child(3) {
            @apply w-full;
        }
    }

    textarea {
        @apply xl:h-[5.4rem] 2xl:h-auto #{ !important };
    }
}
</style>
