<template>
    <c design="blue-common" class="overflow-hidden">
        <div
            ref="hero"
            :class="$style.Hero"
        >
            <div class="relative pb-28 md:pb-[11rem] xl:pb-[12rem] 2xl:pb-[14rem]">
                <t type="h1" design="h1-common" class="relative z-10 md:w-[52rem] xl:w-[57rem] 2xl:w-[68rem]">
                    <mark>ПОСТАВКА И МОНТАЖ </mark>ИНЖЕНЕРНОГО ОБОРУДОВАНИЯ ДЛЯ СИСТЕМ ОТОПЛЕНИЯ И ВОДОСНАБЖЕНИЯ
                </t>

                <div class="relative z-10 w-[21.5rem] md:w-auto mt-10 xl:mt-14 2xl:mt-16 md:flex flex-row-reverse justify-end items-center">
                    <AButton
                        type="button"
                        class="h-20 2xl:h-24 md:w-[21.5rem] 2xl:w-[27.8rem] xl:-translate-x-px 2xl:transform-none 2xl:text-16"
                        @click="$emit( 'scroll' )"
                    >
                        Посмотреть продукцию
                    </AButton>

                    <AButton
                        type="button"
                        design="custom"
                        class="block mx-auto md:ml-0 mt-8 md:mt-0 md:mr-20 xl:mx-14 2xl:mx-[67px] h-auto text-text-main font-medium 2xl:text-16 border-b border-text-main xl:hover:text-primary xl:hover:border-primary transition-colors duration-300"
                        @click="$modal.open(callbackForm)"
                    >
                        Заказать монтаж
                    </AButton>
                </div>

                <BaseImage src="~/assets/images/main/main-hero" class="absolute z-10 right-[-111px] md:right-[-82px] xl:right-[6.5rem] 2xl:right-[22rem] bottom-[-23px] md:bottom-[-20px] xl:bottom-[-42px] 2xl:bottom-[-45px] w-[26.8rem] md:w-[42.5rem] xl:w-[44.4rem] 2xl:w-[58rem]" :ext="['png']" />
            </div>

            <div :class="$style.lines">
                <div :class="$style.line" />
                <div :class="$style.line" />
                <div :class="$style.line" />
                <div :class="$style.line" />
                <div :class="$style.line" />
                <div :class="$style.line" />
                <div :class="$style.line" />
            </div>

            <div :class="$style.cards">
                <div :class="$style.card">
                    <div :class="$style.cardTop">
                        <div :class="$style.iconWrap">
                            <IconMainProducts :class="$style.icon" />
                        </div>

                        <div :class="$style.cardNum">
                            01
                        </div>
                    </div>

                    <t :class="$style.cardText">
                        Свыше <br>
                        150 000 товаров
                    </t>
                </div>

                <div :class="$style.card">
                    <div :class="$style.cardTop">
                        <div :class="$style.iconWrap">
                            <IconMainWarranty :class="$style.icon" />
                        </div>

                        <div :class="$style.cardNum">
                            02
                        </div>
                    </div>

                    <t :class="$style.cardText">
                        Официальная гарантия <br>
                        от производителя
                    </t>
                </div>

                <div :class="$style.card">
                    <div :class="$style.cardTop">
                        <div :class="$style.iconWrap">
                            <IconMainMap :class="$style.icon" />
                        </div>

                        <div :class="$style.cardNum">
                            03
                        </div>
                    </div>

                    <t :class="$style.cardText">
                        Работаем по всей <br>
                        России и Казахстану
                    </t>
                </div>

                <div :class="$style.card">
                    <div :class="$style.cardTop">
                        <div :class="$style.iconWrap">
                            <IconMainSale :class="$style.icon" />
                        </div>

                        <div :class="$style.cardNum">
                            04
                        </div>
                    </div>

                    <t :class="$style.cardText">
                        Работаем <br>
                        с 20% НДС
                    </t>
                </div>

                <div :class="$style.card">
                    <div :class="$style.cardTop">
                        <div :class="$style.iconWrap">
                            <IconMainPayment :class="$style.icon" />
                        </div>

                        <div :class="$style.cardNum">
                            05
                        </div>
                    </div>

                    <t :class="$style.cardText">
                        Оплата <br>
                        любыми способами
                    </t>
                </div>

                <div :class="$style.card">
                    <div :class="$style.cardTop">
                        <div :class="$style.iconWrap">
                            <IconMainDelivery :class="$style.icon" />
                        </div>

                        <div :class="$style.cardNum">
                            06
                        </div>
                    </div>

                    <t :class="$style.cardText">
                        Быстрая доставка <br>
                        по всей территории РФ
                    </t>
                </div>
            </div>
        </div>

        <MModal :id="callbackForm">
            <FormCallback />
        </MModal>
    </c>
</template>

<script>
import { getRandomId } from "@/lib/utilsDom"

export default {
    data()
    {
        return {
            callbackForm: getRandomId()
        }
    }
}
</script>

<style lang="scss" module>
.Hero {
    @apply relative pt-20 md:pt-28 xl:pt-[8.5rem] 2xl:pt-[14rem];
}

.lines {
    @apply absolute top-0 left-0 w-full h-full flex justify-between;
}

.line {
    @apply w-px h-full bg-gray-250;

    &:nth-child(1) {
        @apply md:opacity-0 xl:opacity-100;
    }

    &:nth-child(2) {
        transform: translateX(-1px);

        @screen md {
            transform: translateX(-7px);
        }

        @screen xl {
            transform: none;
        }

        @screen 2xl {
            transform: translateX(-1px);
        }
    }

    &:nth-child(3) {
        @screen md {
            transform: translateX(-7px);
        }

        @screen xl {
            transform: none;
        }
    }

    &:nth-child(4) {
        @apply hidden md:block md:opacity-0 xl:opacity-100;

        @screen xl {
            transform: translateX(-1px);
        }
    }

    &:nth-child(5) {
        @apply hidden xl:block;

        @screen 2xl {
            transform: translateX(-1px);
        }
    }

    &:nth-child(6) {
        @apply hidden xl:block;

        @screen 2xl {
            transform: translateX(-1px);
        }
    }

    &:nth-child(7) {
        @apply hidden xl:block;
    }
}

.cards {
    @apply relative z-10 flex flex-wrap -mx-4 md:-mx-8 xl:mx-auto border-t border-gray-350 md:border-l md:border-r;
}

.card {
    @apply relative p-4 md:px-8 md:py-6 xl:p-6 2xl:p-8 w-1/2 md:w-1/3 xl:w-1/6 bg-white border-b border-gray-350;

    &:nth-child(1) {
        @apply border-r;
    }

    &:nth-child(2) {
        @apply bg-gray-150 md:border-r;

        .iconWrap {
            @apply bg-white;
        }
    }

    &:nth-child(3) {
        @apply bg-gray-150 md:bg-white;
        @apply border-r md:border-r-0 xl:border-r;

        .iconWrap {
            @apply bg-white md:bg-background;
        }
    }

    &:nth-child(4) {
        @apply md:bg-gray-150 md:border-r;

        .iconWrap {
            @apply md:bg-white;
        }
    }

    &:nth-child(5) {
        @apply border-r;
    }

    &:nth-child(6) {
        @apply bg-gray-150;

        .iconWrap {
            @apply bg-white;
        }
    }
}

.cardTop {
    @apply flex justify-between;
}

.iconWrap {
    @apply flex items-center justify-center w-20 h-20 xl:w-[4.4rem] xl:h-[4.4rem] 2xl:w-20 2xl:h-20 bg-background;
}

.icon {
    @apply w-14 h-14 xl:w-12 xl:h-12 2xl:w-14 2xl:h-14;
}

.cardNum {
    @apply font-gotham text-22 2xl:text-24 font-bold leading-none tracking-wide text-background;
}

.cardText {
    @apply block mt-6 xl:mt-8 2xl:mt-14 tracking-wide leading-tight text-text-main md:text-16 xl:text-15 2xl:text-18;
}
</style>
