<template>
    <c design="blue-right">
        <div :class="$style.ServicesSlider">
            <div class="md:flex justify-between items-end 2xl:items-center mb-6 md:mb-8">
                <ATitleLink
                    title="Услуги монтажа"
                    link="/uslugi/"
                />

                <div class="hidden md:flex">
                    <div ref="prev" class="mr-4">
                        <AButton
                            type="button"
                            design="slider"
                        >
                            <IconArrow class="rotate-90" />
                        </AButton>
                    </div>

                    <div ref="next">
                        <AButton
                            type="button"
                            design="slider"
                        >
                            <IconArrow class="-rotate-90" />
                        </AButton>
                    </div>
                </div>
            </div>

            <div class="relative">
                <div
                    ref="productSlider"
                    :class="$style.slider"
                >
                    <div :class="$style.sliderWrapper" class="swiper-wrapper">
                        <div
                            v-for="(item, i) in data"
                            :key="`slider-1-${i}`"
                            class="swiper-slide !h-auto first:pl-4 last:pr-4 md:!px-0"
                            :style="{width: 'max-content'}"
                        >
                            <MServiceCard
                                :class="$style.slide"
                                :data="item"
                                design="white"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </c>
</template>

<script>
import Swiper, { Navigation } from "swiper"
Swiper.use( [ Navigation ] )

export default {
    props: {
        data: {
            type   : Array,
            default: () => []
        },

        category: {
            type   : Object,
            default: null
        },

        slidesCount: {
            type   : Number,
            default: 4
        },

        design: {
            type   : String,
            default: "common",
            validator( value )
            {
                return [ "common", "common-small", "custom" ].includes( value )
            }
        }
    },

    data()
    {
        return {
            slider: null
        }
    },

    mounted()
    {
        this.slider = new Swiper( this.$refs.productSlider, {
            cssMode      : true,
            slidesPerView: "auto",
            spaceBetween : 10,
            loop         : false,
            navigation   : {
                prevEl       : this.$refs?.prev,
                nextEl       : this.$refs?.next,
                disabledClass: "is-disabled"
            },
            breakpoints: {
                768: {
                    slidesPerView: 2,
                    spaceBetween : 15
                },
                1280: {
                    allowTouchMove: false,
                    cssMode       : false,
                    slidesPerView : 3,
                    spaceBetween  : 20
                },
                1800: {
                    allowTouchMove: false,
                    cssMode       : false,
                    slidesPerView : 4,
                    spaceBetween  : 20
                }
            }
        } )
    }
}
</script>

<style lang="scss" module>
.ServicesSlider {
    @apply relative py-16 xl:pb-20;
}

.slider {
    position: relative;
    z-index: 3;
    overflow: hidden;
    margin: 0 -1rem;

    @screen md {
        margin: 0;
    }

    @screen xl {
        margin: -3rem -2rem;
        padding: 3rem 2rem;
    }
}

.slide {
    @apply h-full w-[255px] md:w-auto border-t border-b border-l border-blue-100 last:border-r;

    &:before,
    &:after {
        display: none;
    }
}

</style>
