<template>
    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10.6367" cy="10.0664" r="10" fill="currentColor" />
        <g clip-path="url(#clip0_542:5700)">
            <path d="M13.1277 14.7714L12.96 15.4568C12.457 15.6554 12.0552 15.8065 11.756 15.9104C11.4565 16.0146 11.1085 16.0664 10.7119 16.0664C10.103 16.0664 9.62934 15.9172 9.29153 15.6209C8.95371 15.3235 8.78476 14.9465 8.78476 14.4892C8.78476 14.3122 8.79702 14.1301 8.8225 13.9446C8.84821 13.7588 8.88908 13.5497 8.945 13.3158L9.57363 11.0909C9.62955 10.8778 9.67709 10.6759 9.71516 10.485C9.75377 10.2953 9.77238 10.1208 9.77238 9.96364C9.77238 9.6795 9.71355 9.48075 9.59643 9.369C9.47931 9.25758 9.25582 9.20101 8.92403 9.20101C8.76152 9.20101 8.5945 9.22704 8.42425 9.27737C8.25325 9.32792 8.10709 9.37675 7.98438 9.42213L8.15247 8.73619C8.56428 8.56852 8.95791 8.42494 9.33444 8.30577C9.71097 8.18629 10.0667 8.12649 10.4033 8.12649C11.008 8.12649 11.4747 8.27265 11.8024 8.56497C12.1301 8.8575 12.2939 9.23672 12.2939 9.70402C12.2939 9.80071 12.2831 9.97106 12.26 10.2146C12.2374 10.4586 12.1954 10.6822 12.134 10.8856L11.5081 13.1016C11.4568 13.2796 11.4107 13.4831 11.3706 13.712C11.3292 13.9395 11.3094 14.1133 11.3094 14.2299C11.3094 14.5242 11.375 14.7251 11.5065 14.8319C11.639 14.9386 11.8672 14.9918 12.1914 14.9918C12.3436 14.9918 12.5167 14.9648 12.7091 14.9118C12.901 14.8587 13.0409 14.8122 13.1277 14.7714ZM13.2864 5.46777C13.2864 5.85387 13.1409 6.18362 12.8485 6.45475C12.5568 6.72685 12.2054 6.863 11.7942 6.863C11.3817 6.863 11.0294 6.72685 10.7344 6.45475C10.4399 6.18351 10.2924 5.85387 10.2924 5.46777C10.2924 5.08242 10.4399 4.75214 10.7344 4.47757C11.0289 4.20342 11.3818 4.06641 11.7942 4.06641C12.2052 4.06641 12.5568 4.20375 12.8485 4.47757C13.1411 4.75214 13.2864 5.08253 13.2864 5.46777Z" fill="white" />
        </g>
        <defs>
            <clipPath id="clip0_542:5700">
                <rect width="12" height="12" fill="white" transform="translate(4.63672 4.06641)" />
            </clipPath>
        </defs>
    </svg>
</template>
