<template>
    <div
        :class="$style.Socials"
        class="flex"
    >
        <!--        <AButton-->
        <!--            type="external"-->
        <!--            target="_blank"-->
        <!--            design="custom"-->
        <!--            link="https://www.facebook.com/makiparu/"-->
        <!--            :class="$style.button"-->
        <!--        >-->
        <!--            <IconFacebook />-->
        <!--        </AButton>-->

        <AButton
            type="external"
            target="_blank"
            design="custom"
            link="https://vk.com/akvahit"
            :class="$style.button"
        >
            <IconVk />
        </AButton>

        <AButton
            type="external"
            target="_blank"
            design="custom"
            link="https://ok.ru/group/68041243557944/"
            :class="$style.button"
        >
            <IconOk />
        </AButton>

        <!--        <AButton-->
        <!--            type="external"-->
        <!--            target="_blank"-->
        <!--            design="custom"-->
        <!--            link="https://www.instagram.com/makipa_ru/"-->
        <!--            :class="$style.button"-->
        <!--        >-->
        <!--            <IconInstagram />-->
        <!--        </AButton>-->
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" module>
.Socials {
    //
}

.button {
    @apply flex justify-center items-center w-[4.4rem] h-[4.4rem] border border-text-low text-text-low mr-4 last:mr-0 opacity-30 xl:hover:opacity-100;
    transition: opacity .3s ease;

    svg {
        @apply w-10 h-10;
    }
}
</style>
