<template>
    <div :class="$style.ArticlePage">
        <MBreadcrumbs :data="breadcrumbs" />

        <c>
            <t type="h1" design="h1-page">
                {{ post.title }}
            </t>

            <div class="flex flex-wrap items-center -m-2">
                <div :class="$style.tagWrap">
                    <div :class="$style.tag">
                        <t class="font-bold">
                            {{ prettyDate }}
                        </t>
                    </div>
                </div>

                <div :class="$style.tagWrap">
                    <div :class="$style.tag">
                        <t class="font-bold">
                            Просмотров:&nbsp;
                        </t>
                        <t>{{ post.views }}</t>
                    </div>
                </div>

                <div :class="$style.tagWrap">
                    <div :class="$style.tag">
                        <t class="font-bold">
                            Время чтения:&nbsp;
                        </t>
                        <t>{{ post.readTime }} {{ pluralTime }}</t>
                    </div>
                </div>
            </div>

            <div class="xl:flex xl:justify-between mt-6 md:mt-8">
                <div class="xl:w-[768px] 2xl:w-[110rem]">
                    <BaseImage
                        v-if="post.image && post.image.imageSrc"
                        :src="post.image.imageSrc"
                        :ext="post.image.imageTypes"
                        :class="$style.image"
                        :alt="post.image.alt"
                    />

                    <div
                        v-if="navigation && navigation.length"
                        :class="$style.navigation"
                    >
                        <t type="h2" class="text-text-main font-gotham text-18 md:text-20 2xl:text-24 font-medium leading-tight">
                            Содержание
                        </t>

                        <div
                            v-for="(item, i) in navigation"
                            :key="`post-nav-${i}`"
                            design="custom"
                            :class="$style.link"
                            @click.prevent="onNavClick(item.id)"
                        >
                            {{ item.title }}
                        </div>
                    </div>

                    <div
                        v-if="post.blocks && post.blocks[0] && post.blocks[0].items && post.blocks[0].items.length"
                        :class="$style.items"
                    >
                        <div
                            v-for="(item, i) in post.blocks[0].items"
                            :key="`post-items-${i}`"
                            :class="$style.item"
                        >
                            <div
                                v-if="item.type === 'h2'"
                                :ref="`subtitle${item.id}`"
                                :class="$style.subtitle"
                            >
                                <t type="h2" design="h2" class="!leading-tight">
                                    {{ item.title }}
                                </t>
                            </div>

                            <div
                                v-if="item.type === 'h3'"
                                :class="$style.h3"
                            >
                                <t type="h3">
                                    {{ item.title }}
                                </t>
                            </div>

                            <div
                                v-if="item.type === 'html'"
                                :class="$style.text"
                                v-html="item.text"
                            />

                            <div
                                v-if="item.type === 'image' && item.image && item.image.imageSrc"
                                :class="$style.imageWrap"
                            >
                                <BaseImage
                                    :src="item.image.imageSrc"
                                    :ext="item.image.imageTypes"
                                    :class="$style.imageItem"
                                    :alt="item.image.alt"
                                />

                                <div
                                    v-if="item.title"
                                    :class="$style.imageTitle"
                                >
                                    {{ item.title }}
                                </div>
                            </div>

                            <div
                                v-if="item.type === 'youtube' || item.type === 'video'"
                                :class="$style.videoWrap"
                            >
                                <iframe
                                    :src="item.text"
                                    :class="$style.imageItem"
                                />
                            </div>

                            <div
                                v-if="item.type === 'text_list_ul' && item.textList.length"
                                :class="$style.list"
                            >
                                <div
                                    v-for="(item, i) in item.textList"
                                    :key="`ul-${i}`"
                                    :class="$style.listItem"
                                >
                                    {{ item }}
                                </div>
                            </div>

                            <div
                                v-if="item.type === 'text_list_ol' && item.textList.length"
                                :class="$style.list"
                            >
                                <div
                                    v-for="(item, i) in item.textList"
                                    :key="`ol-${i}`"
                                    :class="[$style.listItem, $style.ol]"
                                >
                                    {{ i+1 }}. {{ item }}
                                </div>
                            </div>

                            <div
                                v-if="item.type === 'question'"
                                :class="$style.question"
                            >
                                <IconQuestion class="w-6 md:w-12 h-auto mr-10 md:mr-16 xl:mr-20 flex-shrink-0" />
                                <t class="block text-text-main font-bold leading-snug tracking-wide text-15 md:text-18 2xl:text-22" v-html="item.text" />
                            </div>
                        </div>
                    </div>

                    <div class="md:flex mt-10 md:mt-12 xl:mt-10 2xl:mt-12">
                        <div v-if="post.author" class="py-8 md:py-10 2xl:py-12 md:pr-10 border-t border-b md:border-b-0 xl:border-b border-stroke md:border-r xl:border-r-0 md:w-1/2 xl:w-full">
                            <t type="h3" :class="$style.blockTitle">
                                Автор
                            </t>

                            <div class="flex">
                                <div
                                    v-if="post.author.image && post.author.image.imageSrc"
                                    class="w-[10rem] h-[10rem] md:w-[14rem] md:h-[14rem] mr-4 md:mr-8"
                                >
                                    <BaseImage
                                        :src="post.author.image.imageSrc"
                                        :ext="post.author.image.imageTypes"
                                        :alt="post.author.image.alt"
                                        :class="$style.authorImage"
                                    />
                                </div>

                                <div class="h-auto flex flex-col justify-between">
                                    <div>
                                        <t class="block font-gotham text-text-main text-18 md:text-20 2xl:text-24 leading-tight font-medium">
                                            {{ post.author.lastName }} {{ post.author.firstName }}
                                        </t>

                                        <t class="block mt-3 tracking-wide leading-tight md:text-16 2xl:text-18">
                                            <t class="font-bold">
                                                Специальность:
                                            </t> {{ post.author.specialty }}
                                        </t>
                                    </div>

                                    <AButton
                                        design="light-blue-common"
                                        :link="authorLink"
                                        class="text-12 2xl:text-14 h-14 md:h-16 2xl:h-20 mt-auto w-[11rem] 2xl:w-[13rem]"
                                    >
                                        Все статьи
                                    </AButton>
                                </div>
                            </div>
                        </div>

                        <div class="py-8 md:p-10 md:border-t border-stroke md:w-1/2 xl:hidden">
                            <t type="h3" :class="$style.blockTitle">
                                Поделиться
                            </t>

                            <MArticlesSocials />
                        </div>
                    </div>
                </div>

                <div class="xl:w-[275px] 2xl:w-[40rem]">
                    <div v-if="recommendPosts && recommendPosts.length && recommendPostsVisible" class="py-8 md:py-10 xl:py-0 border-t xl:border-t-0 border-stroke xl:mb-10 2xl:mb-16">
                        <t :class="$style.blockTitle">
                            Читайте также
                        </t>

                        <div :class="$style.slider">
                            <div ref="slider">
                                <div :class="$style.sliderWrapper" class="swiper-wrapper xl:!grid xl:gap-6 2xl:gap-8">
                                    <AButton
                                        v-for="(article, i) in recommendPosts"
                                        :key="`blog-posts-${i}`"
                                        design="custom"
                                        class="swiper-slide"
                                        :class="$style.card"
                                        :link="linkPost( article.fslug )"
                                    >
                                        <BaseImage
                                            v-if="article.image && article.image.imageSrc"
                                            :src="article.image.imageSrc"
                                            :ext="article.image.imageTypes"
                                            :alt="article.image.alt"
                                            :class="$style.cardImage"
                                        />

                                        <div class="p-4 md:p-8 xl:p-6 2xl:p-10 flex flex-col justify-between h-full">
                                            <div>
                                                <t type="h4" :class="$style.cardTitle">
                                                    {{ article.title }}
                                                </t>

                                                <t type="p" :class="$style.cardText">
                                                    {{ article.description }}
                                                </t>
                                            </div>

                                            <div class="flex mt-12 md:mt-16 text-gray-750 text-[8px] md:text-16 xl:text-10 2xl:text-16 leading-none font-bold">
                                                <div v-if="article.createdAt" class="mr-2">
                                                    {{ cardDate( article.createdAt ) }}
                                                </div>

                                                <div v-if="article.author && article.author.firstName && article.author.lastName">
                                                    Автор:

                                                    {{ article.author.firstName }} {{ article.author.lastName }}
                                                </div>
                                            </div>
                                        </div>
                                    </AButton>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hidden xl:block">
                        <t type="h3" :class="$style.blockTitle">
                            Поделиться
                        </t>

                        <MArticlesSocials />
                    </div>
                </div>
            </div>

            <div :class="$style.reviews">
                <div class="full-background xl:before:hidden md:mb-10 xl:mb-0">
                    <div class="line-top md:line-bottom xl:before:hidden xl:after:hidden pb-12 pt-8 md:pt-10 xl:py-10 xl:px-5 2xl:px-6 2xl:py-12 bg-background xl:border border-stroke">
                        <t :class="[$style.blockTitle, {'!mb-0': !reviews.length}]" class="xl:px-5 2xl:px-6">
                            Комментарии к статье
                            <t class="font-normal">
                                ({{ reviews.length }})
                            </t>
                        </t>

                        <div class="xl:hidden">
                            <MComment
                                v-for="(item, i) in reviews.slice(0, visibleReviews)"
                                :key="`reviews-${i}`"
                                :data="item"
                            />

                            <AButton
                                v-if="visibleReviews < reviews.length"
                                type="button"
                                design="custom"
                                class="w-full h-20 md:h-24 mt-6 !font-circe text-text-main font-bold bg-white border border-stroke text-15 md:text-16"
                                @click="visibleReviews += 3"
                            >
                                Загрузить еще
                            </AButton>
                        </div>

                        <AScrollbox
                            class="hidden xl:block max-h-[90rem]"
                        >
                            <div class="xl:px-5 2xl:px-6">
                                <MComment
                                    v-for="(item, i) in reviews"
                                    :key="`reviews-${i}`"
                                    :data="item"
                                />
                            </div>
                        </AScrollbox>
                    </div>
                </div>

                <div class="full-background xl:before:hidden">
                    <div class="line-top line-bottom xl:before:hidden xl:after:hidden pt-10 pb-12 xl:p-10 2xl:p-12 bg-background xl:border border-stroke">
                        <FormReview
                            :id="post.id"
                            model="articlepost"
                        >
                            <t :class="$style.blockTitle">
                                Добавить комментарий
                            </t>
                        </FormReview>
                    </div>
                </div>
            </div>
        </c>
    </div>
</template>

<script>
import Swiper from "swiper"
import { ARTICLES } from "@/lib/blog/types/const"
import { POSTS, CATEGORIES } from "@/lib/blog/names/const"
import { ARTICLE, ARTICLES_CATEGORY, AUTHOR } from "@/lib/url/const"
import { dateToString, plural, prettyDate } from "@/lib/utils"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { $api, params, query, route, error } )
    {
        const postsRes = await $api.blog.list( ARTICLES, POSTS, { fslug: params.slug } )

        if ( postsRes && postsRes.results && postsRes.results[ 0 ] )
        {
            const id = postsRes.results[ 0 ].id

            const post = await $api.blog.get( ARTICLES, POSTS, { id } )

            let category = {}
            if ( post.category )
            {
                category = await $api.blog.get( ARTICLES, CATEGORIES, { id: post.category } )
            }

            const recommendPostsRes = await $api.blog.list( ARTICLES, POSTS, { limit: 4, category: category.id ? category.id : null } )
            const recommendPosts = recommendPostsRes.results.filter( e => e.id !== post.id ).slice( 0, 3 )

            const reviews = await $api.comments.listAll( "articlepost", { sort: "-created_at", id } )

            return {
                post,
                category,
                reviews,
                recommendPosts
            }
        }
        else
        {
            return error( { statusCode: 404 } )
        }
    },

    data()
    {
        return {
            post                 : {},
            category             : {},
            reviews              : [],
            slider               : null,
            visibleReviews       : 3,
            recommendPosts       : [],
            recommendPostsVisible: false
        }
    },

    computed: {
        breadcrumbs()
        {
            const res = [
                {
                    link : "/articles/",
                    title: "Статьи"
                }
            ]

            if ( this.category.fslug )
            {
                res.push( {
                    link : this.$getUrl( ARTICLES_CATEGORY, { fslug: this.category.fslug } ),
                    title: this.category.title
                } )
            }

            res.push( {
                link : "",
                title: this.post.title
            } )

            return res
        },

        meta()
        {
            return {
                title      : this.post?.meta?.title || this.post?.title,
                description: this.post?.meta?.description || this.post?.description
            }
        },

        date()
        {
            const res = new Date( this.post.createdAt )
            return dateToString( res )
        },

        navigation()
        {
            return this.post?.blocks[ 0 ]?.items.filter( e => e.type === "h2" )
        },

        authorLink()
        {
            return this.$getUrl( AUTHOR, { fslug: this.post.author.fslug } )
        },

        prettyDate()
        {
            return prettyDate( this.post.createdAt )
        },

        pluralTime()
        {
            return plural( this.post.readTime, [ "минута", "минуты", "минут" ] )
        }
    },

    mounted()
    {
        this.slider = new Swiper( this.$refs.slider, {
            cssMode      : true,
            slidesPerView: 2,
            spaceBetween : 0,
            loop         : false,
            breakpoints  : {
                1280: {
                    cssMode       : false,
                    allowTouchMove: false,
                    slidesPerView : 1
                }
            }
        } )

        this.recommendPostsVisible = true
    },

    methods: {
        onNavClick( id )
        {
            const scrollHeight = this.$refs[ `subtitle${id}` ][ 0 ].offsetTop - 30
            window.scroll( { top: scrollHeight, left: 0, behavior: "smooth" } )
        },

        cardDate( date )
        {
            const res = new Date( date )
            return dateToString( res )
        },

        linkPost( fslug )
        {
            return this.$getUrl( ARTICLE, { fslug } )
        }
    }
}
</script>

<style lang="scss" module>
.ArticlePage {
    @apply pb-16 xl:pb-20 2xl:pb-24 overflow-hidden;
}

.tagWrap {
    @apply p-2;
}

.tag {
    @apply h-14 2xl:h-16 px-4 2xl:px-6 flex items-center border border-stroke 2xl:text-18;
}

.image {
    @apply border border-stroke w-full h-[34rem] xl:h-[35rem] 2xl:h-[50rem];
    object-fit: cover;
}

.navigation {
    @apply py-8 md:py-10 2xl:py-12 border-b border-stroke;
}

.link {
    @apply pl-4 flex relative mt-4 2xl:mt-6 text-secondary text-15 md:text-16 2xl:text-18 tracking-wide leading-tight transition-colors duration-300 cursor-pointer;

    &:before {
        @apply w-[3px] h-[3px] md:w-[4px] md:h-[4px] rounded-full bg-secondary mt-[7px] md:mt-[8px] xl:mt-[8px] mr-4 2xl:mr-5 flex-shrink-0 transition-colors duration-300;
        content: "";
    }

    &:hover {
        @screen xl {
            @apply text-primary;

            &:before {
                @apply bg-primary;
            }
        }
    }
}

.items {
    @apply pt-4 md:pt-5 xl:pt-6;
}

.subtitle {
    @apply mt-8 md:mt-10 xl:mt-12 2xl:mt-16 mb-4;
}

.h3 {
    @apply text-text-main text-18 2xl:text-24 font-bold leading-tight mt-8;
}

.text {
    @apply font-gotham my-4 md:my-5 xl:my-6 text-15 md:text-16 2xl:text-17;

    a {
        @apply text-secondary xl:hover:text-primary transition-colors duration-300;
    }

    ul, ol {
        @apply my-4 2xl:my-6;
    }

    li {
        @apply pl-4 relative flex mb-4 2xl:mb-6 last:mb-0;

        &:before {
            @apply w-[4px] h-[4px] 2xl:w-2 2xl:h-2 rounded-full bg-secondary mt-[8px] 2xl:mt-[9px] mr-4 2xl:mr-5 flex-shrink-0 transition-colors duration-300;
            content: "";
        }
    }

    strong {
        @apply font-medium;
    }
}

.imageWrap {
    @apply my-8 md:my-10 xl:my-12 overflow-hidden;
}

.videoWrap {
    @apply my-8 md:my-10 xl:my-12 overflow-hidden;
}

.imageItem {
    @apply w-full h-[24rem] md:h-[34rem] xl:h-[35rem] 2xl:h-[60rem] border border-stroke;
    object-fit: cover;
}

.imageTitle {
    @apply bg-background font-gotham font-medium text-center text-12 md:text-15 2xl:text-18 p-5 2xl:p-8 flex items-center justify-center;
}

.externalLink {
    @apply text-15 md:text-16 2xl:text-17 block h-auto my-4 text-secondary leading-normal xl:hover:text-primary transition-colors duration-300 #{ !important };
}

.question {
    @apply mt-8 md:mt-10 xl:mt-12 2xl:mt-16 p-6 md:p-10 2xl:p-16 flex items-start xl:items-center;
    background: rgba(255, 62, 61, 0.2);
}

.blockTitle {
    @apply block font-gotham font-medium text-18 2xl:text-24 leading-none text-text-main mb-6 2xl:mb-8;
}

.authorImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    @apply h-auto relative font-circe flex flex-col border-l last:border-r xl:border border-stroke cursor-pointer #{ !important };
    transition: all .3s ease;

    &:hover {
        @screen xl {
            @apply z-20 #{ !important };
            box-shadow: 0 0 30px rgba(112, 112, 112, 0.2);

            .cardTitle {
                @apply text-primary;
            }
        }
    }
}

.cardImage {
    @apply w-full h-[14rem] md:h-[28rem] xl:h-[20rem] 2xl:h-[28rem];
    object-fit: cover;
}

.cardTitle {
    @apply text-text-main font-medium leading-tight tracking-wide font-bold md:text-20 xl:text-16 2xl:text-20 transition-colors duration-300;
}

.cardText {
    @apply leading-tight tracking-wide text-[11px] md:text-14 xl:text-12 2xl:text-15 mt-4;
}

.slider {
    @apply mt-6 relative overflow-hidden xl:overflow-visible border-t border-b border-stroke xl:border-0;
    z-index: 19;

    &:before,
    &:after {
        @apply top-0 absolute z-30 h-full w-[1px] bg-stroke xl:hidden;
        content: "";
    }

    &:before {
        @apply left-0;
    }

    &:after {
        @apply right-0;
    }
}

.reviews {
    @screen xl {
        @apply mt-10;
        display: grid;
        grid-template-columns: 768px 1fr;
        grid-gap: 2rem;
    }

    @screen 2xl {
        @apply mt-12;
        grid-template-columns: 110rem 1fr;
        grid-gap: 2.5rem;
    }
}
</style>
