<template>
    <div :class="$style.BugReport">
        <transition name="fade-common" mode="out-in">
            <div v-if="!result" key="form">
                <t class="block mb-8 2xl:mb-12 text-text-main text-[18px] font-medium md:text-[20px] 2xl:text-[24px]">
                    Сообщить об ошибке
                </t>

                <BaseForm
                    :class="$style.form"
                    @submit="submit"
                    @error="error"
                >
                    <ASelect
                        design="admin"
                        :class="$style.row"
                        :value="topic"
                        :data="options"
                        :error="errors.topic"
                        @change="onChange($event, 'topic')"
                    />

                    <input
                        v-input:topic
                        type="hidden"
                        :value="topic"
                        required
                    >

                    <div :class="$style.row">
                        <AInput
                            v-input:comment
                            :value="comment"
                            type="textarea"
                            required
                            placeholder="Комментарий"
                            :error="errors.comment"
                            @change="onChange($event, 'comment')"
                        />
                    </div>

                    <div
                        v-if="topic === 0"
                        :class="$style.row"
                    >
                        <ACheckbox
                            :value="checkbox"
                            :error="errors.checkbox"
                            @change="onChange($event, 'checkbox')"
                        >
                            <t class="ml-6 text-12 md:text-14 leading-tight">
                                Запросил и проверил цены у поставщиков
                            </t>
                        </ACheckbox>
                    </div>

                    <AButton
                        type="button"
                        size="lg"
                        :class="$style.button"
                    >
                        Отправить
                    </AButton>
                </BaseForm>
            </div>

            <div v-else key="result">
                <MFormResult
                    :result="result"
                    success-text="Отправлено"
                    :class="$style.result"
                />
            </div>
        </transition>
    </div>
</template>

<script>
import { getRandomId } from "@/dtaui/lib/utilsDom"

export default {
    data()
    {
        return {
            result : false,
            modalId: getRandomId(),

            topic   : 0,
            comment : null,
            checkbox: false,

            errors: {
                topic   : "",
                comment : "",
                checkbox: false
            },

            options: [
                {
                    key  : 0,
                    title: "Неправильная цена"
                },
                {
                    key  : 1,
                    title: "Неправильное название/артикул"
                },
                {
                    key  : 2,
                    title: "Проблема с характеристиками"
                },
                {
                    key  : 3,
                    title: "Нет документации"
                },
                {
                    key  : 4,
                    title: "Другое"
                }
            ]
        }
    },

    watch: {
        result()
        {
            this.$emit( "result", this.result )
        },

        checkbox()
        {
            this.checkPrices = this.checkbox.toString()
        }
    },

    methods: {
        async submit()
        {
            try
            {
                if ( this.topic === 0 && !this.checkbox )
                {
                    this.errors.checkbox = true
                    return
                }

                const res = await this.$api.forms.send( "FormBugReport", {
                    topic       : this.options[ this.topic ].title,
                    comment     : this.comment,
                    check_prices: this.checkPrices
                } )

                // Success.
                if ( !res.data.errors || res.data.errors.length === 0 )
                {
                    this.result = "success"
                    this.cleanValues()
                    this.$emit( "success" )
                }
                // Fail.
                else
                {
                    for ( const item of res.data.errors )
                    {
                        this.errors = { ...this.errors, ...item.data }
                    }
                }
            }
            catch ( e )
            {
                console.log( "Form/Submit: ", e )

                this.result = "error"
            }
        },

        error( errors )
        {
            if ( this.topic === 0 && !this.checkbox )
            {
                this.errors.checkbox = true
            }

            this.errors = { ...this.errors, ...errors }
        },

        onChange( e, target )
        {
            this[ target ] = e
            this.errors[ target ] = ""
        },

        cleanValues()
        {
            this.name = null
            this.comment = null
            this.checkbox = false
        }
    }
}
</script>

<style lang="scss" module>
.BugReport {
    position: relative;
    padding: 2rem 2rem 2.5rem;
    font-family: "Gotham", sans-serif;

    @screen md {
        width: 45rem;
        padding: 3rem;
    }

    @screen 2xl {
        width: 60rem;
        padding: 5rem;
    }

    :global(.-result) {
        width: calc(100vw - 6rem);
        max-width: 37rem;

        @screen md {
            max-width: 35rem;
        }

        @screen 2xl {
            max-width: 40rem;
        }
    }
}

.phone {
    font-weight: bold;
}

.row {
    @apply mb-4 md:mb-6 2xl:mb-8;

    textarea,
    input {
        @apply text-16 #{ !important };
    }
}

.button {
    @apply w-full text-16 2xl:text-18 mt-8 md:mt-12;
}

.text {
    @apply text-text-low leading-tight flex-1;
    margin-left: 10px;
    font-size: 11px;
    transform: translateY(1px);

    @screen 2xl {
        font-size: 13px;
        transform: translateY(0);
    }
}

.resultModal {
    @apply p-10 md:p-12 2xl:p-20;
}
</style>
