<template>
    <div :class="$style.CallbackForm">
        <MForm
            :fields="['NAME', 'PHONE', 'comment']"
            code="FormCallback"
        >
            <t class="block text-text-main text-[18px] font-medium md:text-[20px] 2xl:text-[24px]">
                Обратный звонок
            </t>

            <t class="mt-4 mb-8 block text-text-low leading-tight 2xl:text-[16px] 2xl:mb-12">
                Заполните форму, наши менеджеры скоро свяжутся с вами.
            </t>
        </MForm>
    </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" module>
.CallbackForm {
    position: relative;
    padding: 2rem 2rem 2.5rem;
    font-family: "Gotham", sans-serif;

    @screen md {
        max-width: 45rem;
        padding: 3rem;
    }

    @screen 2xl {
        max-width: 64rem;
        padding: 5rem;
    }

    :global(.-result) {
        width: calc(100vw - 6rem);
        max-width: 37rem;

        @screen md {
            max-width: 35rem;
        }

        @screen 2xl {
            max-width: 40rem;
        }
    }
}

.phone {
    font-weight: bold;
}
</style>
