<template>
    <div :class="$style.Feedback">
        <t type="h3" class="font-gotham font-medium text-text-main text-[20px] 2xl:text-[24px] leading-none mb-6 md:mb-8 2xl:mb-12">
            Свяжитесь с нами
        </t>

        <MForm
            :fields="[ 'NAME', 'PHONE', 'TOPIC', 'COMMENT']"
            code="FormFeedback"
            button-text="Отправить"
            design="secondary"
            result-type="modal"
            success-text="Ваше обращение принято"
            :class-name="$style.form"
        />
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" module>
.Feedback {
    @apply bg-background border-t border-b xl:border border-stroke py-8 md:py-12 xl:py-14 2xl:py-20 -mx-4 md:-mx-8 xl:mx-0 px-4 md:px-8 xl:px-[10rem] 2xl:px-[14rem];
}

.form {
    @screen md {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &:global(-row) {
        @apply mb-6 md:mb-8 #{!important};

        &:nth-child(1),
        &:nth-child(2) {
            @screen md {
                width: calc(50% - 1rem);
            }
        }

        &:nth-child(3),
        &:nth-child(4) {
            @screen md {
                width: 100%;
            }
        }
    }

    &:global(-policy) {
        @apply md:mt-8 md:text-[14px] md:leading-none #{!important};
    }
}
</style>
