<template>
    <div :class="$style.Help">
        <div>
            <t type="h2" design="h2">
                Мы готовы вам помочь!
            </t>

            <t class="block font-gotham leading-snug 2xl:text-16 mt-6 mb-8 xl:mt-8 2xl:my-10">
                Возникли вопросы? <br>
                Оставьте свои контактные данные и опишите вашу проблему, мы обязательно вам ответим.
            </t>

            <MForm
                :fields="[ 'NAME', 'PHONE', 'comment']"
                code="FormHelp"
                button-text="Отправить"
                design="secondary"
                result-type="modal"
                success-text="Ваше обращение принято"
                :class-name="$style.form"
            />
        </div>

        <BaseImage src="~/assets/images/form-help" :ext="['png']" class="hidden xl:block" />
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" module>
.Help {
    @apply bg-background py-14 md:p-12 -mx-4 md:mx-0 xl:mx-0 px-4 xl:pr-0 2xl:pb-14 2xl:pl-16 2xl:pt-14;

    @screen xl {
        display: grid;
        grid-template-columns: 75rem 1fr;
        grid-gap: 4rem;
        align-items: center;
    }

    @screen 2xl {
        grid-template-columns: 108rem 1fr;
        grid-gap: 5rem;
    }
}

.form {
    @screen md {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &:global(-row) {
        @apply mb-6 md:mb-8 #{!important};

        &:nth-child(1),
        &:nth-child(2) {
            @screen md {
                width: calc(50% - 1rem);
            }
        }

        &:nth-child(3),
        &:nth-child(4) {
            @screen md {
                width: 100%;
            }
        }
    }

    &:global(-policy) {
        @apply md:mt-8 md:text-12 xl:text-14 2xl:text-15 md:leading-none #{!important};
    }
}
</style>
