<template>
    <div :class="$style.OneClickForm">
        <div class="px-8 md:px-12 2xl:px-20 h-24 2xl:h-32 flex items-center border-b border-stroke">
            <t type="h3" class="font-gotham text-text-main text-[18px] md:text-[20px] 2xl:text-[24px] font-medium">
                Быстрый заказ
            </t>
        </div>

        <div class="py-5 md:py-6 xl:py-8 px-8 md:px-12 2xl:px-20 md:border-b border-stroke md:flex md:justify-between md:items-center">
            <div class="flex">
                <div class="flex-shrink-0">
                    <BaseImage
                        v-if="product.image && product.image.imageSrc"
                        :src="product.image.imageSrc"
                        :ext="product.image.imageTypes"
                        :class="$style.img"
                    />
                </div>

                <div class="md:max-w-[30rem] xl:max-w-[40rem] 2xl:max-w-[50rem]">
                    <t type="h4" :class="$style.title">
                        {{ product.title }}
                    </t>

                    <div v-if="product.fields && product.fields.props">
                        <div
                            v-for="(item, i) in product.fields.props.slice(0, 4)"
                            :key="`buy-one-click-props-${i}`"
                            class="flex text-[12px] 2xl:text-[15px] tracking-wide leading-none mb-3 last:mb-0"
                        >
                            <t class="block mr-2">
                                {{ item.name }}:
                            </t>
                            <t class="font-bold">
                                {{ item.value }}
                            </t>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hidden md:flex justify-end items-end mt-6 md:mt-0">
                <t :class="$style.price" class="mr-4 md:translate-y-px">
                    {{ price }}
                </t>

                <div v-if="product.data.discount">
                    <div class="w-[28px] h-[13px] md:w-[37px] md:h-[19px] xl:w-[42px] xl:h-[21px] flex items-center justify-center mb-[3px] md:mb-3 bg-primary text-white text-[8px] md:text-[10px] xl:text-[12px] leading-none font-bold">
                        -{{ discount }}%
                    </div>

                    <t class="block text-[12px] md:text-[16px] text-gray-400 leading-none line-through">
                        {{ oldPrice }}
                    </t>
                </div>
            </div>
        </div>

        <div class="md:hidden py-4 md:h-20 2xl:h-24 border-t border-b border-stroke flex justify-end items-end px-8 md:px-12 2xl:px-20">
            <t class="block mr-4 tracking-wide text-text-main leading-none md:text-[16px] 2xl:text-[18px]">
                Итого:
            </t>
            <div class="flex justify-end items-end translate-y-[2px]">
                <t :class="$style.price" class="mr-4 md:translate-y-px">
                    {{ price }}
                </t>

                <div v-if="product.data.discount">
                    <div class="w-[28px] h-[13px] md:w-[37px] md:h-[19px] xl:w-[42px] xl:h-[21px] flex items-center justify-center mb-[3px] md:mb-3 bg-primary text-white text-[8px] md:text-[10px] xl:text-[12px] leading-none font-bold">
                        -{{ discount }}%
                    </div>

                    <t class="block text-[12px] md:text-[16px] text-gray-400 leading-none line-through">
                        {{ oldPrice }}
                    </t>
                </div>
            </div>
        </div>

        <div class="flex justify-center p-8 md:px-12 md:py-10 2xl:px-20 2xl:py-12 2xl:pb-14">
            <MForm
                :fields="[ 'NAME', 'PHONE', 'email', 'comment']"
                code="FormOneClick"
                button-text="Подтвердить заказ"
                :class-name="$style.form"
            >
                <t class="block mb-6 md:mb-7 2xl:mb-10 tracking-wide leading-tight text-text-main md:text-[16px] 2xl:text-[18px]">
                    Заполните форму обратного звонка и наши менеджеры скоро свяжутся с вами
                </t>
            </MForm>
        </div>
    </div>
</template>

<script>
import { getPrice } from "@/lib/utils"

export default {
    props: {
        product: {
            type   : Object,
            default: () => ( {} )
        }
    },

    computed: {
        price()
        {
            return getPrice( this.product.data.price )
        },

        oldPrice()
        {
            return getPrice( this.product.data.basePrice )
        },

        discount()
        {
            return Math.ceil( this.product.data.discount )
        }
    }
}
</script>

<style lang="scss" module>
.OneClickForm {
    width: 100vw;

    @screen md {
        width: auto;
    }

    @screen xl {
        width: 96rem;
    }

    @screen 2xl {
        width: 138rem;
    }
}

.img {
    display: flex;
    align-items: center;
    width: 8rem;
    height: 8rem;
    margin-right: 2.5rem;
    flex-shrink: 0;
    object-fit: contain;

    @screen md {
        width: 10rem;
        height: 10rem;
    }

    @screen xl {
        width: 11.2rem;
        height: 11.2rem;
        margin-right: 3rem;
    }

    @screen 2xl {
        width: 13rem;
        height: 13rem;
        margin-right: 4rem;
    }
}

.title {
    @apply text-text-main leading-tight tracking-wide mb-5 2xl:mb-6 md:text-[16px] 2xl:text-[18px];
}

.price {
    @apply block text-black text-[18px] md:text-[22px] font-extrabold leading-none;
}

.form {
    @screen md {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &:global(-row) {
        &:nth-child(1),
        &:nth-child(2) {
            @screen md {
                width: calc(50% - 7.5px);
            }

            @screen 2xl {
                width: calc(50% - 10px);
            }
        }

        &:nth-child(3),
        &:nth-child(4) {
            @screen md {
                width: 100%;
            }
        }
    }
}
</style>
