<template>
    <div :class="$style.Review">
        <slot />

        <BaseForm
            @submit="submit"
            @error="error"
        >
            <div class="mt-6">
                <div :class="$style.row">
                    <t type="p" class="text-gray-400 leading-none tracking-wide mb-3 md:text-16 2xl:text-18">
                        Поставьте оценку
                    </t>
                    <div
                        class="flex relative"
                        @mouseleave="activeHover = 0"
                    >
                        <IconStar
                            v-for="(item, i) in 5"
                            :key="`rating-${i}`"
                            :class="[$style.star, { [$style._hover]: activeHover >= i + 1, [$style._active]: vote >= i + 1 } ]"
                            @mouseenter.native="onMouseEnter(i + 1 )"
                            @click.native="onChange(i + 1, 'vote')"
                        />

                        <input
                            v-input:vote
                            :value="vote"
                            required
                            type="hidden"
                        >
                    </div>
                </div>

                <div class="grid md:grid-cols-2 xl:grid-cols-1 gap-4 md:gap-8 mt-6 md:mt-10">
                    <div>
                        <AInput
                            v-input:name
                            :value="name"
                            :class="$style.input"
                            placeholder="Введите имя"
                            required
                            :error="errors.name"
                            @change="onChange($event, 'name')"
                        />
                    </div>

                    <div>
                        <AInput
                            v-input:email
                            :value="email"
                            :class="$style.input"
                            placeholder="Введите e-mail"
                            required
                            :error="errors.email"
                            @change="onChange($event, 'email')"
                        />
                    </div>

                    <div class="md:col-span-2 xl:col-span-1">
                        <AInput
                            v-input:text
                            :value="text"
                            type="textarea"
                            :class="$style.input"
                            placeholder="Введите комментарий"
                            required
                            :error="errors.text"
                            @change="onChange($event, 'text')"
                        />
                    </div>

                    <AButton
                        type="button"
                        design="blue-common"
                        :class="$style.button"
                        class="md:col-span-2 xl:col-span-1"
                    >
                        {{ buttonText }}
                    </AButton>
                </div>
            </div>
        </BaseForm>

        <MModal
            :id="modalId"
            padding="0"
        >
            <MFormResult
                :result="result"
                :class="$style.result"
                success-text="Ваш отзыв отправлен"
                @close="$modal.close(modalId)"
            />
        </MModal>
    </div>
</template>

<script>
import { getRandomId } from "@/lib/utilsDom"

export default {
    props: {
        id: {
            type   : Number,
            default: 0
        },

        model: {
            type   : String,
            default: "page"
        },

        code: {
            type   : String,
            default: ""
        },

        buttonText: {
            type   : String,
            default: "Оставить комментарий"
        }
    },

    data()
    {
        return {
            text : "",
            name : "",
            email: "",
            vote : 5,

            errors: {
                text : "",
                name : "",
                email: "",
                vote : ""
            },

            result     : "",
            activeHover: 0,
            modalId    : getRandomId()
        }
    },

    methods: {
        async submit()
        {
            try
            {
                const res = await this.$api.comments.create( this.model, {
                    code    : this.code || null,
                    objectId: this.id || null,
                    name    : this.name,
                    text    : this.text,
                    vote    : this.vote,
                    email   : this.email
                } )

                // Success.
                if ( !res.errors || res.errors.length === 0 )
                {
                    this.result = "success"
                    this.$modal.open( this.modalId )
                    this.$emit( "success" )
                }

                // Fail.
                else
                {
                    for ( const [ key, val ] of Object.entries( res.errors[ 0 ] ) )
                    {
                        this.errors[ key ] = val.join( " " )
                    }
                }

                this.clear()
            }
            catch ( e )
            {
                this.result = "error"
                this.$modal.open( this.modalId )
                this.$emit( "error" )
            }
        },

        error( errors )
        {
            this.errors = { ...this.errors, ...errors }
        },

        onChange( e, target )
        {
            this[ target ] = e
            this.errors[ target ] = ""
            this.result = ""
        },

        onMouseEnter( ind )
        {
            this.activeHover = ind
        },

        clear()
        {
            this.text = ""
            this.name = ""
            this.email = ""
            this.vote = 5
        }
    }
}
</script>

<style lang="scss" module>
.Review {
    //
}

.label {
    @apply block text-secondary font-medium leading-none mb-5 2xl:text-[16px];
}

.button {
    @apply font-circe text-18 font-bold h-[5.4rem] 2xl:h-24 w-full #{ !important };
}

.star {
    @apply w-10 h-10 md:w-12 md:h-12 xl:w-10 xl:h-10 mr-[8px] md:mr-4 xl:mr-[8px] last:mr-0 cursor-pointer;

    path {
        transition: all .3s ease;
    }

    &:hover path {
        fill: #FFCC00;
        stroke: #FFCC00;
    }

    &._hover path,
    &._active path {
        fill: #FFCC00;
        stroke: #FFCC00;
    }
}

.error {
    @apply absolute right-8 top-1/2 -translate-y-1/2 w-[1.6rem] h-[1.6rem];
}

.icon {
    @apply w-full h-full text-primary cursor-pointer;
}

.result {
    @apply p-8;
    min-width: 33rem;

    @screen md {
        padding: 4rem;
        width: 46rem;
    }
}
</style>
