<template>
    <div>
        <BaseForm
            :class="$style.SubscribeForm"
            @submit="submit"
            @error="error"
        >
            <AInput
                v-input:email
                :value="email"
                design="footer"
                :clear="false"
                placeholder="Ваш Email"
                required
                :class="$style.input"
                :error="errors.email"
                @change="onChange($event, 'email')"
            />

            <AButton
                type="button"
                desing="custom"
                size="full"
                :class="$style.button"
            >
                <IconSend :class="$style.icon" />
            </AButton>
        </BaseForm>

        <div :class="$style.policy">
            Нажимая "Отправить", я подтверждаю свое согласие на
            <AButton
                type="internal"
                :link="policyUrl"
                target="_blank"
                design="custom"
                :class="$style.policyLink"
            >
                обработку и хранение моих личных данных
            </AButton>
        </div>

        <MModal :id="modalId">
            <MFormResult
                :result="result"
                :class="$style.result"
                success-text="Подписка на акции оформлена"
                class="p-10 md:p-12 2xl:p-20 min-w-[30rem]"
            />
        </MModal>
    </div>
</template>

<script>
import { getRandomId } from "@/lib/utilsDom"
import { formMixin } from "@/lib/mixins/forms"

export default {
    mixins: [ formMixin ],

    data()
    {
        return {
            code : "FormSubscribe",
            email: "",

            errors: {
                email: ""
            },

            resultType: "modal",
            modalId   : getRandomId()
        }
    },

    methods:
    {
        cleanValues()
        {
            this.email = ""
        }
    }
}
</script>

<style lang="scss" module>
.SubscribeForm {
    position: relative;
    display: flex;
}

.button {
    @apply absolute right-4 p-0 bg-transparent #{!important};
    opacity: .3;
    transition: opacity .3s ease;

    &:hover {
        @screen xl {
            opacity: 1;
            box-shadow: none !important;
        }
    }
}

.input {
    flex: 1;
}

.icon {
    @apply w-8 h-8;
}

.policy {
    @apply text-[12px] 2xl:text-[14px] block leading-tight font-light mt-6;
    font-family: "Circe", sans-serif;
    color: rgba(255, 255, 255, .5);
    letter-spacing: 0.01em;
}

.policyLink {
    @apply text-[12px] 2xl:text-[14px] font-light h-auto underline xl:hover:text-primary transition-colors duration-300 #{!important};
    font-family: inherit !important;
    color: rgba(255, 255, 255, .5) !important;
}
</style>
