<template>
    <div :class="$style.FormWaterMeter">
        <div class="px-8 md:px-12 2xl:px-16 h-32 md:h-24 2xl:h-32 flex items-center border-b border-stroke">
            <t type="h3" class="font-gotham text-text-main text-[18px] md:text-[20px] 2xl:text-[24px] font-medium pr-8">
                Установка/замена счетчика воды
            </t>
        </div>

        <div class="pt-5 md:py-6 xl:py-8 px-8 md:px-12 2xl:px-16 md:border-b border-stroke md:flex md:justify-between md:items-center">
            <div class="flex">
                <div :class="$style.img">
                    <BaseImage
                        v-if="product.image && product.image.imageSrc"
                        :src="product.image.imageSrc"
                        :ext="product.image.imageTypes"
                    />
                </div>

                <div class="md:max-w-[30rem] xl:max-w-[40rem] 2xl:max-w-[50rem]">
                    <t type="h4" :class="$style.title">
                        Счетчик воды {{ product.json.title }}
                    </t>
                </div>
            </div>
        </div>

        <div class="flex justify-center p-8 md:px-12 md:py-10 2xl:px-16 2xl:py-12">
            <MForm
                :fields="[ 'NAME', 'PHONE', 'email', 'comment']"
                code="ServiceWaterMeterFormInstall"
                button-text="Заказать"
                :class-name="$style.form"
            >
                <t class="block mb-6 md:mb-7 2xl:mb-10 tracking-wide leading-tight text-text-main md:text-[16px] 2xl:text-[18px]">
                    Заполните форму обратного звонка и наши менеджеры скоро свяжутся с вами
                </t>
            </MForm>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        product: {
            type   : Object,
            default: () => ( {} )
        }
    }
}
</script>

<style lang="scss" module>
.FormWaterMeter {
    width: 100vw;

    @screen md {
        width: auto;
    }

    @screen xl {
        width: 96rem;
    }

    @screen 2xl {
        width: 138rem;
    }
}

.img {
    @apply flex items-center justify-center;
    width: 12rem;
    height: auto;
    margin-right: 2.5rem;
    flex-shrink: 0;

    @screen md {
        width: 10rem;
    }

    @screen xl {
        width: 11.2rem;
        margin-right: 3rem;
    }

    @screen 2xl {
        width: 13rem;
        margin-right: 4rem;
    }
}

.title {
    @apply text-text-main leading-tight tracking-wide mb-5 2xl:mb-6 md:text-[16px] 2xl:text-[18px];
}

.price {
    @apply block text-black text-[18px] md:text-[22px] font-extrabold leading-none;
}

.form {
    @screen md {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &:global(-row) {
        &:nth-child(1),
        &:nth-child(2) {
            @screen md {
                width: calc(50% - 7.5px);
            }

            @screen 2xl {
                width: calc(50% - 10px);
            }
        }

        &:nth-child(3),
        &:nth-child(4) {
            @screen md {
                width: 100%;
            }
        }
    }
}
</style>
