<template>
    <div :class="$style.AcceptCookie">
        <c>
            <div class="md:flex md:items-center">
                <t class="block text-text text-12 md:text-14 xl:text-16 2xl:text-18 leading-snug">
                    Наш сайт использует файлы cookie, чтобы улучшить работу сайта, повысить его эффективность и удобство. Продолжая использовать сайт akvahit.ru, вы соглашаетесь на использование файлов cookie.
                </t>

                <AButton
                    type="button"
                    class="!h-12 md:!h-16 md:text-14 xl:text-16 w-full md:w-auto mt-6 md:mt-0 md:ml-12 xl:ml-16"
                    @click="accept"
                >
                    Принять
                </AButton>
            </div>
        </c>
    </div>
</template>

<script>
import { mapActions } from "vuex"
import { BOOLEAN } from "@/lib/cookie/const"

export default {
    methods: {
        ...mapActions( "cookie", [
            "setCookie"
        ] ),

        accept()
        {
            this.setCookie( { name: "acceptedCookie", value: true, type: BOOLEAN } )
        }
    }
}
</script>

<style lang="scss" module>
.AcceptCookie {
    @apply fixed bottom-0 left-0 w-full py-5 xl:py-6 bg-white;
    box-shadow: 0 0 20px rgba(118, 118, 118, 0.25);
    z-index: 9999999999;
}
</style>
