<template>
    <div :class="$style.AlternativeTitles">
        <AAccordion
            design="other"
            icon="arrow"
            :class="$style.wrap"
        >
            <template #key>
                Другие названия данных товаров
            </template>
            <template #content>
                <div :class="$style.content">
                    <div
                        v-for="(item, i) in data"
                        :key="`titles-list-${i}`"
                        :class="$style.point"
                    >
                        {{ item }} {{ inRegion }}
                    </div>
                </div>
            </template>
        </AAccordion>
    </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
    props: {
        data: {
            type   : Array,
            default: () => []
        }
    },

    computed: {
        ...mapGetters( "regions", [
            "inRegion"
        ] )
    },

    methods: {
        //
    }
}
</script>

<style lang="scss" module>
.wrap {
    @apply w-full xl:w-[37rem] 2xl:w-[40rem];
}

.block {
    @apply md:px-4 2xl:px-6;
}

.content {
    @apply px-4 pb-4 md:px-7 md:pb-7 2xl:px-10;
}

.point {
    @apply block font-gotham leading-tight mb-4 xl:mb-5 2xl:mb-6 text-13 md:text-15 2xl:text-16 transition-colors duration-300 #{ !important };
}
</style>
