<template>
    <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-2">
        <AButton
            v-for="(post, i) in posts"
            :key="`blog-posts-${i}`"
            design="custom"
            :class="$style.card"
            :link="linkPost( post.fslug )"
        >
            <div :class="$style.imageWrap">
                <BaseImage
                    v-if="post.image && post.image.imageSrc"
                    :src="post.image.imageSrc"
                    :ext="post.image.imageTypes"
                    :class="$style.image"
                />
            </div>

            <div class="p-4 md:pb-6 xl:p-6 2xl:p-10 flex flex-col justify-between h-full">
                <div>
                    <t type="h4" :class="$style.title">
                        {{ post.title }}
                    </t>

                    <t type="p" :class="$style.text">
                        {{ post.description }}
                    </t>
                </div>

                <div class="flex mt-12 md:mt-16 xl:mt-8 text-gray-750 text-[8px] md:text-10 xl:text-14 2xl:text-16 leading-none font-bold">
                    <div v-if="post.createdAt" class="mr-2">
                        {{ date( post.createdAt ) }}
                    </div>

                    <div v-if="post.author && post.author.firstName && post.author.lastName">
                        Автор:

                        {{ post.author.firstName }} {{ post.author.lastName }}
                    </div>
                </div>
            </div>
        </AButton>
    </div>
</template>

<script>
import { dateToString } from "@/lib/utils"
import { ARTICLE } from "@/lib/url/const"

export default {
    props: {
        posts: {
            type   : Array,
            default: () => []
        }
    },

    methods: {
        date( date )
        {
            const res = new Date( date )
            return dateToString( res )
        },

        linkPost( fslug )
        {
            return this.$getUrl( ARTICLE, { fslug } )
        }
    }
}
</script>

<style lang="scss" module>
.card {
    @apply relative z-10 font-circe flex flex-col xl:flex-row border-b border-r border-stroke cursor-pointer bg-white #{ !important };
    transition: all .3s ease;

    &:nth-child(1) {
        @apply border-t;
    }

    &:nth-child(2) {
        @apply border-t;
    }

    &:nth-child(3) {
        @apply md:border-t xl:border-t-0;
    }

    &:nth-child(odd) {
        @apply border-l md:border-l-0;

        @screen xl {
            @apply border-l #{ !important };
        }
    }

    &:nth-child(3n + 1) {
        @apply md:border-l xl:border-l-0;
    }

    &:hover {
        @screen xl {
            @apply z-20 #{ !important };
            box-shadow: 0 0 30px rgba(112, 112, 112, 0.2);

            .title {
                @apply text-primary;
            }
        }
    }
}

.imageWrap {
    @apply xl:w-[20rem] xl:h-[20rem] xl:flex-shrink-0 2xl:w-[32rem] 2xl:h-[32rem];
}

.image {
    @apply w-full h-[14rem] md:h-[18rem] xl:w-full xl:h-full;
    object-fit: cover;
}

.title {
    @apply text-text-main font-medium leading-tight tracking-wide font-bold md:text-16 xl:text-18 2xl:text-24 transition-colors duration-300;
}

.text {
    @apply leading-tight tracking-wide text-[11px] md:text-12 xl:text-14 2xl:text-18 mt-4 2xl:mt-6;

    @screen xl {
        overflow: hidden;
        max-height: 8rem;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
    }

    @screen 2xl {
        max-height: 9rem;
    }
}
</style>
