<template>
    <div :class="$style.Brands">
        <div class="grid grid-cols-2 gap-x-4 2xl:gap-x-8 gap-y-12 2xl:gap-y-16 md:grid-cols-4 xl:grid-cols-6">
            <div
                v-for="(key, index) in formattedBrands"
                :key="`letters-${index}`"
                class="flex"
            >
                <t class="flex justify-center items-center border-background border text-primary flex-shrink-0 w-[3.4rem] h-[3.4rem] md:w-16 md:h-16 2xl:w-20 2xl:h-20 mr-4 2xl:mr-6 text-18 md:text-20 2xl:text-24 font-bold">
                    {{ key[0] }}
                </t>

                <div class="flex flex-col">
                    <template v-if="!isMain || key[1].length <= 5">
                        <AButton
                            v-for="(brand, index) in key[1]"
                            :key="`brands-${index}`"
                            design="custom"
                            :class="$style.link"
                            :link="link( brand.fslug )"
                        >
                            {{ brand.name }}
                        </AButton>
                    </template>
                    <template v-else>
                        <AButton
                            v-for="(brand, index) in key[1].slice(0, 5)"
                            :key="`brands-${index}`"
                            design="custom"
                            :class="$style.link"
                            :link="link( brand.fslug )"
                        >
                            {{ brand.name }}
                        </AButton>
                        <AShowmore
                            title-open="Еще..."
                            title-close="Скрыть"
                        >
                            <template #content>
                                <div class="pb-6">
                                    <AButton
                                        v-for="(brand, index) in key[1].slice(5)"
                                        :key="`brands-${index}`"
                                        design="custom"
                                        :class="$style.link"
                                        :link="link( brand.fslug )"
                                    >
                                        {{ brand.name }}
                                    </AButton>
                                </div>
                            </template>
                        </AShowmore>
                    </template>
                </div>
            </div>
        </div>

        <AButton
            v-if="isMain"
            inverse
            :link="brandsLink"
            class="2xl:text-16 h-20 2xl:h-[5.5rem] w-full xl:w-[18rem] 2xl:w-[20rem] mt-8 md:mt-12 2xl:mt-16 !border-background xl:hover:border-primary"
        >
            Все бренды
            <IconArrowBold class="w-5 ml-4 2xl:-translate-y-px" />
        </AButton>
    </div>
</template>

<script>
import { BRAND, BRANDS } from "@/lib/url/const"

export default {
    props: {
        brands: {
            type   : Array,
            default: () => []
        },

        isMain: Boolean
    },

    computed: {
        groupedBrands( e )
        {
            const cache = {}
            const ordered = {}
            if ( this.brands && this.brands.length > 0 )
            {
                this.brands.forEach( ( item ) =>
                {
                    if ( item.count > 0 )
                    {
                        const char = item.name[ 0 ]
                        if ( !( cache[ char ] && cache[ char ].length > 0 ) )
                        {
                            cache[ char ] = []
                        }

                        cache[ char ].push( item )
                    }
                } )

                Object.keys( cache ).sort().forEach( function( key )
                {
                    ordered[ key ] = cache[ key ]
                } )
            }
            return ordered || []
        },

        formattedBrands()
        {
            return this.isMain ? Object.entries( this.groupedBrands ).slice( 0, 12 ) : Object.entries( this.groupedBrands )
        },

        brandsLink()
        {
            return this.$getUrl( BRANDS )
        }
    },

    methods: {
        link( fslug )
        {
            return this.$getUrl( BRAND, { fslug } )
        }
    }
}
</script>

<style lang="scss" module>
.Brands {
    //
}

.link {
    @apply font-gotham 2xl:text-16 text-text-main font-medium tracking-wide leading-tight block mb-6 last:mb-0 xl:hover:text-primary transition-colors duration-300;
}
</style>
