<template>
    <div :class="$style.Car">
        <div ref="car" class="h-full">
            <ACarSlider
                :id="id"
                :value="value"
                :min="0"
                :max="100"
                :design="design"
                :marks="marks"
            />
        </div>
    </div>
</template>

<script>
export default {
    props: {
        design: {
            type   : String,
            default: "horizontal",
            validator( value )
            {
                return [ "horizontal", "vertical" ].includes( value )
            }
        },

        marks: {
            type   : Array,
            default: () => [ "Москва", "Регионы РФ", "Казахстан" ]
        },

        id: {
            type   : Number,
            default: 0
        }
    },

    data()
    {
        return {
            value         : 0,
            verticalOffset: this.design === "vertical" ? 200 : 0
        }
    },

    mounted()
    {
        this.updatePosition()
        window.addEventListener( "scroll", this.onScroll )
    },

    destroyed()
    {
        window.removeEventListener( "scroll", this.onScroll )
    },

    methods: {
        onScroll()
        {
            requestAnimationFrame( () => this.updatePosition() )
        },

        updatePosition()
        {
            const el = this.$refs.car
            const top = el.getBoundingClientRect().top + this.verticalOffset
            const bottom = el.getBoundingClientRect().bottom

            if ( top < document.documentElement.clientHeight )
            {
                this.value = 100 - ( ( ( this.design === "vertical" ? top : bottom ) * 100 ) / document.documentElement.clientHeight )
            }
            else
            {
                this.value = 0
            }
        }
    }
}
</script>

<style lang="scss" module>
.Car {
    position: relative;
    height: 100%;
}
</style>
