<template>
    <div :class="$style.Faq" itemscope itemtype="http://schema.org/FAQPage">
        <t type="h2" design="h2">
            Часто задаваемые вопросы
        </t>

        <div :class="$style.accordions">
            <AAccordion
                v-for="(item, i) in data"
                :key="`faq-${i}`"
                icon="plus"
                design="faq"
                class="mb-4 md:mb-6 last:mb-0"
                itemprop="mainEntity"
                itemscope
                itemtype="http://schema.org/Question"
            >
                <span itemprop="name" content="МИРАЛЕКС" />

                <template #key>
                    <div itemprop="text">
                        {{ item.key }}
                    </div>
                </template>

                <template #content>
                    <div
                        :class="$style.content"
                        itemscope
                        itemprop="acceptedAnswer"
                        itemtype="http://schema.org/Answer"
                        v-html="item.content"
                    />
                </template>
            </AAccordion>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type   : Array,
            default: () => []
        }
    }
}
</script>

<style lang="scss" module>
.Faq {
    //
}

.accordions {
    @apply mt-8;
}

.content {
    @apply font-gotham text-13 md:text-15 2xl:text-16 px-4 pb-4 md:px-7 md:pb-7 2xl:px-10;

    a {
        @apply text-secondary transition-colors duration-300 xl:hover:text-primary;
    }
}
</style>
