<template>
    <div class="overflow-hidden">
        <c design="blue-right">
            <div :class="$style.Features">
                <div :class="$style.wrap">
                    <t type="h2" design="h2" class="mb-6 2xl:mb-10">
                        Получите все преимущества
                        выбирая нас
                    </t>

                    <t type="p" class="text-15 md:text-16 2xl:text-18 leading-tight 2xl:max-w-[100rem]">
                        «АкваХит» - партнер с безупречной деловой репутацией, осуществляющий услуги по подбору, поставке и монтажу оборудования для систем отопления и водоснабжения. Реализуем, устанавливаем, обслуживаем системы учета тепла. Для каждого клиента готовы разработать и реализовать оптимальное техническое решение, соответствующее его требованиям!
                    </t>

                    <div class="mt-6 md:mt-8 xl:mt-12 md:flex flex-wrap xl:flex-nowrap">
                        <div :class="$style.card">
                            <div :class="$style.iconWrap">
                                <IconMainFeature1 :class="$style.icon" />
                            </div>

                            <div :class="$style.cardBody">
                                <t type="h5" :class="$style.cardTitle">
                                    ШИРОКИЙ <br>
                                    АССОРТИМЕНТ
                                </t>
                                <t type="p" :class="$style.cardText">
                                    Мы собрали для Вас большое количество самых популярных и надежных производителей оборудования, обеспечив Вас широким выбором продукции
                                </t>
                            </div>
                        </div>

                        <div :class="$style.card">
                            <div :class="$style.iconWrap">
                                <IconMainFeature2 :class="$style.icon" />
                            </div>

                            <div :class="$style.cardBody">
                                <t type="h5" :class="$style.cardTitle">
                                    ГАРАНТИЯ ОТ <br>
                                    ПРОИЗВОДИТЕЛЯ
                                </t>
                                <t type="p" :class="$style.cardText">
                                    Гарантируем высокое качество товаров, так как на нашем сайте представлено только сертифицированные товары известных производителей
                                </t>
                            </div>
                        </div>

                        <div :class="$style.card">
                            <div :class="$style.iconWrap">
                                <IconMainFeature3 :class="$style.icon" />
                            </div>

                            <div :class="$style.cardBody">
                                <t type="h5" :class="$style.cardTitle">
                                    ОПЛАТА ЛЮБЫМИ <br>
                                    СПОСОБАМИ
                                </t>
                                <t type="p" :class="$style.cardText">
                                    Мы принимаем различные варианты оплаты. Подробнее со способами оплаты можно ознакомится по
                                    <AButton
                                        design="custom"
                                        class="!font-circe text-secondary xl:hover:text-primary transition-colors duration-300"
                                        :link="paymentLink"
                                    >
                                        ссылке.
                                    </AButton>
                                </t>
                            </div>
                        </div>

                        <div :class="$style.card">
                            <div :class="$style.iconWrap">
                                <IconMainFeature4 :class="$style.icon" />
                            </div>

                            <div :class="$style.cardBody">
                                <t type="h5" :class="$style.cardTitle">
                                    БЫСТРАЯ ДОСТАВКА ПО ВСЕЙ
                                    ТЕРРИТОРИИ РФ
                                </t>
                                <t type="p" :class="$style.cardText">
                                    Мы доставляем наши товары по всей территории РФ любыми удобными для Вас способами.
                                </t>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hidden xl:block -mt-16 -mb-20 2xl:-my-28 mr-[85px] 2xl:mr-[11rem]">
                    <OCar
                        design="vertical"
                        :marks="['Москва', 'Регионы РФ', 'Казахстан']"
                    />
                </div>
            </div>
        </c>

        <div class="xl:hidden bg-background pt-6 pb-32 md:pb-[10rem]">
            <OCar
                :marks="['Москва', 'Регионы РФ', 'Казахстан']"
            />
        </div>
    </div>
</template>

<script>
import { PAYMENT } from "@/lib/url/const"

export default {
    computed: {
        paymentLink()
        {
            return this.$getUrl( PAYMENT )
        }
    }
}
</script>

<style lang="scss" module>
.Features {
    @apply xl:flex justify-between pt-12 pb-16 xl:pt-16 xl:pb-20 2xl:py-28;
}

.wrap {
    @screen xl {
        width: 86.5rem;
    }

    @screen 2xl {
        width: 124rem;
    }
}

.card {
    @apply py-6 px-4 md:p-6 2xl:p-10 border-b md:odd:border-r xl:border-b-0 xl:border-r xl:last:border-r-0 border-background bg-white flex md:w-1/2 xl:w-1/4 md:block;
}

.iconWrap {
    @apply flex-shrink-0 flex items-center justify-center w-24 h-24 2xl:w-32 2xl:h-32 mr-6 md:mr-0 md:mb-8 bg-background;
}

.icon {
    @apply w-16 h-16 2xl:w-20 2xl:h-20;
}

.cardTitle {
    @apply font-bold text-16 2xl:text-18 text-primary tracking-wide leading-tight mb-4;
}

.cardText {
    @apply leading-tight md:text-12 2xl:text-16;
}
</style>
