<template>
    <div class="overflow-hidden">
        <div :class="$style.TheFooter" itemscope itemtype="http://schema.org/Organization">
            <c design="gray-dark">
                <div class="xl:flex">
                    <div class="md:flex xl:flex-col xl:w-[28rem] 2xl:w-[37rem] xl:border-r" :class="$style.border">
                        <div :class="[$style.block, $style.logo]" class="xl:w-full px-4 md:px-0 py-8 xl:pt-16 2xl:pt-20 2xl:pb-12 md:w-[28rem]">
                            <IconLogoWhite class="w-[18.5rem] h-16 2xl:w-[26rem] 2xl:h-[5.6rem]" />
                        </div>

                        <div class="md:hidden">
                            <AAccordion
                                v-if="footerMenuCatalog && footerMenuCatalog.items && footerMenuCatalog.items.length"
                                design="footer"
                                opened
                                :class="$style.accordion"
                            >
                                <template #key>
                                    Категории
                                </template>

                                <template #content>
                                    <div class="pb-8">
                                        <AButton
                                            v-for="(item, i) in footerMenuCatalog.items"
                                            :key="`footer-catalog-${i}`"
                                            design="footer-link"
                                            :link="link( item.link )"
                                        >
                                            {{ item.title }}
                                        </AButton>

                                        <AButton
                                            design="footer-link"
                                            link="/products-map/"
                                        >
                                            Все товары
                                        </AButton>

                                        <AButton
                                            design="footer-link"
                                            link="/regions/"
                                        >
                                            Регионы
                                        </AButton>
                                    </div>
                                </template>
                            </AAccordion>

                            <AAccordion
                                v-if="footerMenuSite && footerMenuSite.items && footerMenuSite.items.length"
                                design="footer"
                                opened
                            >
                                <template #key>
                                    Информация
                                </template>

                                <template #content>
                                    <div class="pb-8">
                                        <AButton
                                            v-for="(item, i) in footerMenuSite.items"
                                            :key="`footer-site-${i}`"
                                            design="footer-link"
                                            :link="item.link"
                                        >
                                            {{ item.title }}
                                        </AButton>
                                    </div>
                                </template>
                            </AAccordion>
                        </div>

                        <div :class="[$style.block, $style.socials]" class="px-4 py-8 xl:py-10 2xl:py-12 xl:pr-14 2xl:pr-20 md:flex xl:block md:pl-12 xl:pl-0 items-center">
                            <t type="h4" :class="$style.title" class="mb-6 md:mb-0 xl:mb-8 md:mr-12 xl:mr-0">
                                Присоединяйся к нам
                            </t>
                            <MSocials />
                        </div>

                        <div :class="$style.form" class="hidden xl:block pr-8 py-10 2xl:py-12 xl:pr-14 2xl:pr-20">
                            <t type="h4" :class="$style.title" class="pb-4">
                                Подписаться на акции
                            </t>
                            <FormSubscribe />
                        </div>
                    </div>

                    <div class="hidden md:flex">
                        <div class="pt-10 xl:pt-16 2xl:pt-20 pr-12 pb-10 xl:pb-16 xl:px-14 2xl:p-20 w-[28rem] xl:w-auto flex-shrink-0 border-r" :class="$style.border">
                            <t type="h4" :class="$style.title" class="mb-8">
                                Категории
                            </t>

                            <div>
                                <AButton
                                    v-for="(item, i) in footerMenuCatalog.items"
                                    :key="`footer-catalog-${i}`"
                                    design="footer-link"
                                    :link="link( item.link )"
                                >
                                    {{ item.title }}
                                </AButton>

                                <AButton
                                    design="footer-link"
                                    link="/products-map/"
                                >
                                    Все товары
                                </AButton>

                                <AButton
                                    design="footer-link"
                                    link="/regions/"
                                >
                                    Регионы
                                </AButton>
                            </div>
                        </div>

                        <div>
                            <div class="flex xl:h-full xl:border-r" :class="$style.border">
                                <div class="pt-10 xl:pt-16 2xl:pt-20 px-12 pb-10 xl:pb-16 xl:px-14 2xl:p-20">
                                    <t type="h4" :class="$style.title" class="mb-8">
                                        Информация
                                    </t>

                                    <div class="">
                                        <AButton
                                            v-for="(item, i) in footerMenuSite.items"
                                            :key="`footer-site-${i}`"
                                            design="footer-link"
                                            :link="item.link"
                                        >
                                            {{ item.title }}
                                        </AButton>
                                    </div>
                                </div>

                                <div class="pt-10 xl:pt-16 2xl:pt-20 pl-12 pb-10 xl:pb-16 xl:px-14 2xl:p-20 border-l" :class="$style.border">
                                    <t type="h4" :class="$style.title" class="mb-8">
                                        Контакты
                                    </t>

                                    <APhone design="white" />
                                    <t
                                        class="block mt-2 leading-tight text-primary xl:hover:text-white transition-colors duration-300 cursor-pointer"
                                        @click="$modal.open(callbackModal)"
                                    >
                                        Заказать звонок
                                    </t>

                                    <div class="mt-10">
                                        <div :class="$style.infoTitle">
                                            Адрес:
                                        </div>
                                        <div :class="$style.infoValue">
                                            {{ address }}
                                        </div>
                                    </div>

                                    <div>
                                        <div :class="$style.infoTitle">
                                            Email:
                                        </div>
                                        <AButton
                                            type="external"
                                            design="custom"
                                            :link="`mailto:${ email }`"
                                            :class="$style.infoValue"
                                            class="xl:hover:!text-primary transition-colors duration-300"
                                        >
                                            {{ email }}
                                        </AButton>
                                    </div>

                                    <div>
                                        <div :class="$style.infoTitle">
                                            Время работы:
                                        </div>
                                        <div :class="$style.infoValue">
                                            <t class="block leading-tight mb-2">
                                                Пн-Пт: 9:00 - 18:00
                                            </t>
                                            <t class="block leading-tight">
                                                Сб-Вс: выходной
                                            </t>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div :class="$style.form" class="hidden md:block xl:hidden pl-12 py-10">
                                <t type="h4" :class="$style.title" class="pb-4">
                                    Подписаться на акции
                                </t>
                                <FormSubscribe />
                            </div>
                        </div>
                    </div>
                </div>

                <div :class="$style.block" class="px-4 md:px-0 py-8 md:hidden">
                    <t type="h4" :class="$style.title" class="pb-4">
                        Подписаться на акции
                    </t>
                    <FormSubscribe />
                </div>

                <div :class="[$style.block, $style.lineTop]" class="px-4 md:px-0 pt-8 pb-12 md:pt-10 2xl:pt-12 md:pb-14 xl:pb-12 2xl:pb-16 xl:flex">
                    <t class="block text-white leading-none tracking-wide font-bold 2xl:text-18 mb-4 md:mb-5 xl:mb-0 xl:mr-4">
                        © АкваХит 2013 — {{ year }}
                    </t>
                    <t class="block text-12 2xl:text-16 text-white opacity-50 leading-tight tracking-wide">
                        Вся информация на сайте – собственность интернет-магазина АкваХит. Публикация информации с сайта akvahit.ru без разрешения запрещена. Все права защищены
                    </t>
                </div>
            </c>

            <MModal :id="callbackModal">
                <FormCallback />
            </MModal>
        </div>
    </div>
</template>

<script>
import { mapState, mapGetters } from "vuex"
import { getRandomId } from "@/lib/utilsDom"
import { getMenuProductCategoryUrl } from "@/lib/url"

export default {
    data()
    {
        return {
            callbackModal: getRandomId()
        }
    },

    computed:
    {
        ...mapState( [
            "footerMenuCatalog",
            "footerMenuSite",
            "year"
        ] ),

        ...mapGetters( [
            "address",
            "email"
        ] ),

        ...mapGetters( "regions", [
            "regionSlug"
        ] )
    },

    methods: {
        link( link )
        {
            return getMenuProductCategoryUrl( {
                link,
                city: this.regionSlug
            } )
        }
    }
}
</script>

<style lang="scss" module>
.TheFooter {
    @apply -mx-4;
}

.title {
    @apply text-white leading-tight text-20 md:text-18 xl:text-20 2xl:text-24 font-bold tracking-wide;
}

.block {
    border-bottom: 1px solid rgba(255, 255, 255, .1);

    @screen md {
        border-bottom: none;
    }
}

.border {
    border-color: rgba(255, 255, 255, .1);
}

.lineTop {
    @apply relative;

    &:before {
        @apply absolute top-0 hidden md:block bg-white opacity-10;
        left: -100vw;
        width: 300vw;
        height: 1px;
        content: "";
    }
}

.logo {
    @apply relative md:border-r xl:border-r-0;
    border-color: rgba(255, 255, 255, .1);

    &:before {
        @apply absolute bottom-0 hidden md:block bg-white opacity-10;
        right: 0;
        width: 300vw;
        height: 1px;
        content: "";
    }
}

.socials {
    @apply relative;

    &:before {
        @apply absolute bottom-0 hidden md:block bg-white opacity-10;
        left: 0;
        width: 300vw;
        height: 1px;
        content: "";

        @screen xl {
            left: auto;
            right: 0;
        }
    }
}

.infoTitle {
    @apply mt-7 mb-2 text-white leading-tight tracking-wide text-12 2xl:text-14 opacity-80;
}

.infoValue {
    @apply font-circe leading-tight tracking-wide text-white 2xl:text-16 #{ !important };
}

.form {
    @apply relative;

    &:before {
        @apply absolute top-0 xl:bottom-0 xl:top-auto hidden md:block bg-white opacity-10;
        left: 0;
        width: 300vw;
        height: 1px;
        content: "";

        @screen xl {
            left: auto;
            right: 0;
        }
    }
}
</style>
