<template>
    <div :class="$style.Header">
        <c design="gray-light" class="xl:hidden">
            <div class="h-12 md:h-14 flex justify-between items-center">
                <AButton
                    type="external"
                    design="custom"
                    :class="$style.topText"
                    :link="`tel:${ cleanPhone }`"
                >
                    <IconPhone :class="$style.topIcon" class="w-[6px] h-[12px] md:w-[7px] md:h-[14px]" />
                    {{ phone }}
                </AButton>

                <AButton
                    type="external"
                    design="custom"
                    :class="$style.topText"
                    :link="`mailto:${ email }`"
                >
                    <IconMail :class="$style.topIcon" class="w-[12px] h-[12px] md:w-[14px] md:h-[14px]" />
                    {{ email }}
                </AButton>
            </div>
        </c>

        <c design="blue-common" class="hidden xl:flex">
            <div class="flex h-16">
                <AButton
                    v-if="region"
                    design="custom"
                    type="button"
                    :class="$style.region"
                    @click="$modal.open(regionsModal)"
                >
                    <IconLocation class="z-10 w-[11px] 2xl:w-auto mr-2 2xl:-translate-y-px" />
                    <t class="relative">
                        {{ region.title }}
                    </t>
                </AButton>

                <div class="flex items-center pl-10">
                    <AButton
                        v-for="(item, i) in menuMain.items"
                        :key="`main-menu-${i}`"
                        :link="item.link || ''"
                        design="custom"
                        class="!font-circe 2xl:text-16 mr-10 last:mr-0 leading-none xl:hover:text-primary transition-colors duration-300"
                    >
                        {{ item.title }}
                    </AButton>
                </div>
            </div>
        </c>

        <c>
            <div :class="$style.main">
                <div class="flex items-center">
                    <div
                        :class="$style.burger"
                        @click="menuOpened = !menuOpened"
                    >
                        <div class="xl:flex xl:items-center xl:-rotate-90">
                            <IconBurger
                                v-if="!menuOpened"
                                class="w-10 h-10 xl:hidden"
                            />
                            <div class="hidden xl:block">
                                <IconBurger
                                    v-if="!menuOpened"
                                    class="w-[18px] h-[18px] 2xl:w-8 2xl:h-8 mr-4 2xl:mr-6"
                                />
                                <IconClose
                                    v-else
                                    class="text-white w-[22px] h-[22px] mr-[7px] 2xl:mr-[13px]"
                                />
                            </div>

                            <t class="hidden xl:block leading-none tracking-widest text-16 2xl:text-18 text-white font-extrabold translate-y-px">
                                КАТАЛОГ
                            </t>
                        </div>
                    </div>

                    <AButton
                        design="custom"
                        link="/"
                        class="ml-5 mr-3 md:mx-8 xl:ml-0 xl:mr-14 2xl:mr-[6.5rem]"
                    >
                        <IconLogo class="w-[16rem] md:w-[22rem] xl:w-[18rem] 2xl:w-[26rem] h-14 md:h-20 xl:h-16 2xl:h-[56px]" />
                    </AButton>

                    <MProductSearch
                        class="!hidden xl:!block"
                        placeholder="Поиск"
                    />
                </div>

                <div class="hidden xl:flex">
                    <div class="mr-6 2xl:mr-8">
                        <div class="flex items-center mb-2">
                            <div class="bg-green w-2 h-2 rounded-full mr-2" />
                            <t :class="$style.infoTextSmall">
                                По будням с 9:00 до 18:00
                            </t>
                        </div>
                        <AButton
                            type="external"
                            :link="`tel:${ cleanPhone }`"
                            design="link"
                            :class="$style.infoText"
                        >
                            {{ phone }}
                        </AButton>
                    </div>
                    <AButton
                        type="button"
                        design="light-blue-common"
                        class="!h-[4.4rem] 2xl:!h-[4.8rem] text-12 2xl:text-14"
                        @click="$modal.open(callbackForm)"
                    >
                        Заказать звонок
                    </AButton>
                </div>

                <div class="hidden xl:block">
                    <div class="flex items-center mb-2">
                        <div class="bg-primary w-2 h-2 rounded-full mr-2" />
                        <t :class="$style.infoTextSmall">
                            По всем вопросам
                        </t>
                    </div>
                    <AButton
                        type="external"
                        :link="`mailto:${ email }`"
                        design="link"
                        :class="$style.infoText"
                    >
                        {{ email }}
                    </AButton>
                </div>

                <div class="flex items-center">
                    <AButton
                        design="custom"
                        link="/compare/"
                        :class="$style.iconWrap"
                    >
                        <div
                            v-if="compareQuantity"
                            :class="$style.counter"
                        >
                            {{ compareQuantity }}
                        </div>
                        <IconCompare :class="$style.icon" />
                    </AButton>
                    <AButton
                        design="custom"
                        link="/favorites/"
                        :class="$style.iconWrap"
                    >
                        <div
                            v-if="favoritesQuantity"
                            :class="$style.counter"
                        >
                            {{ favoritesQuantity }}
                        </div>
                        <IconFavorite :class="$style.icon" />
                    </AButton>
                    <AButton
                        design="custom"
                        link="/cart/"
                        :class="$style.iconWrap"
                    >
                        <div
                            v-if="totalQuantity"
                            :class="$style.counter"
                        >
                            {{ totalQuantity }}
                        </div>
                        <IconCart :class="$style.icon" />
                    </AButton>
                </div>
            </div>
        </c>

        <transition name="appear-left">
            <OMenu
                v-if="menuOpened"
                @close="menuOpened = false"
            />
        </transition>

        <transition name="fade-common">
            <div
                v-if="menuOpened"
                :class="$style.overlay"
                @click="menuOpened = false"
            />
        </transition>

        <MModal :id="regionsModal">
            <ORegions @change="$modal.close(regionsModal)" />
        </MModal>

        <MModal :id="callbackForm">
            <FormCallback />
        </MModal>
    </div>
</template>

<script>
import { mapGetters, mapState } from "vuex"
import { getRandomId, lockBody, unlockBody } from "@/lib/utilsDom"
import { getName } from "@/lib/cookie"

export default {
    data()
    {
        return {
            regionsModal: getRandomId(),
            callbackForm: getRandomId(),
            menuOpened  : false
        }
    },

    computed: {
        ...mapState( [
            "menuMain"
        ] ),

        ...mapState( "regions", [
            "region"
        ] ),

        ...mapState( "cookie", {
            favorite: getName( "favorite" ),
            compare : getName( "compare" )
        } ),

        ...mapGetters( [
            "phone",
            "cleanPhone",
            "email"
        ] ),

        ...mapGetters( "cart", [
            "totalQuantity"
        ] ),

        favoritesQuantity()
        {
            return Object.keys( this.favorite ).length
        },

        compareQuantity()
        {
            return Object.keys( this.compare ).length
        }
    },

    watch: {
        "$route.path"()
        {
            this.menuOpened = false
            unlockBody()
        },

        menuOpened()
        {
            this.menuOpened ? lockBody() : unlockBody()
        }
    }
}
</script>

<style lang="scss" module>
.Header {
    @apply relative z-20;
    box-shadow: 0 0 20px rgba(118, 118, 118, 0.25);
}

.main {
    @apply -mx-4 md:-mx-8 xl:mx-0 pr-4 xl:pr-0 md:pr-8 h-20 md:h-28 2xl:h-[9rem] flex items-center justify-between;
}

.topIcon {
    @apply mr-2 md:mr-3;
}

.topText {
    @apply font-circe text-13 md:text-14 font-bold flex items-center #{ !important };
}

.burger {
    @apply xl:z-30 xl:fixed xl:top-0 xl:left-0 w-20 xl:w-16 2xl:w-[55px] h-20 xl:h-screen md:w-28 md:h-28 flex items-center justify-center bg-primary cursor-pointer;
    transition: box-shadow .3s ease, background-color .3s ease;

    &:hover {
        @apply bg-red-500;
        box-shadow: 0 0 20px rgba(242, 49, 48, 0.4);
    }
}

.iconWrap {
    @apply text-text-main relative h-16 w-16 md:h-20 md:w-20 xl:w-[4.4rem] xl:h-[4.4rem] 2xl:w-[5.4rem] 2xl:h-[5.4rem] flex items-center justify-center md:bg-background md:mr-4 2xl:mr-6 last:mr-0;
    transition: box-shadow .3s ease, background-color .3s ease;

    &:hover {
        @screen xl {
            @apply bg-primary text-white;
            box-shadow: 0 0 20px rgba(242, 49, 48, 0.4);

            .counter {
                @apply bg-transparent;
            }
        }
    }
}

.icon {
    @apply w-8 xl:w-[18px] 2xl:w-[24px] h-auto transition-colors duration-300;
    color: currentColor;
}

.counter {
    @apply absolute right-0 top-0 font-gotham text-[8px] md:text-[11px] xl:text-10 2xl:text-14 font-medium leading-none bg-primary text-white px-[4px] md:px-[6px] h-[11px] md:h-6 xl:h-[13px] 2xl:h-[17px] flex items-center;
    transition: background-color .3s ease;
}

.region {
    @apply pr-16 2xl:pr-0 2xl:w-[26rem] relative text-12 2xl:text-14 text-text-main font-medium leading-none flex items-center 2xl:justify-center transition-colors duration-300;

    &:before {
        @apply absolute right-0 top-0 bg-gray-150;
        content: "";
        width: 300vw;
        height: 100%;
    }

    &:hover {
        @screen xl {
            @apply text-primary;
        }
    }
}

.infoTextSmall {
    @apply block text-12 2xl:text-14 leading-tight;
}

.infoText {
    @apply text-18 2xl:text-20 text-text-main leading-tight font-bold xl:hover:text-primary justify-start #{ !important };
}

.overlay {
    @apply hidden xl:block fixed z-10 top-0 right-0 w-full h-full;
    background: rgba(17, 17, 17, 0.7);
}
</style>
