<template>
    <div :class="[$style.Menu, {[$style._overflow]: isOverlow}]">
        <div class="h-20 md:h-24 flex xl:hidden border-b border-stroke">
            <div class="w-1/2 pl-4 md:pl-6 flex items-center text-text-main">
                <IconCloseThin
                    class="w-12 h-12 mr-4 -translate-y-px cursor-pointer"
                    @click.native="$emit('close')"
                />
                <t class="block font-gotham text-24 font-medium leading-none text-text-main">
                    Меню
                </t>
            </div>
            <div class="w-1/2 flex items-center justify-center bg-gray-150">
                <AButton
                    v-if="region"
                    design="custom"
                    type="button"
                    class="text-text-main font-medium leading-none flex items-center"
                    @click="$modal.open(regionsModal)"
                >
                    <IconLocation class="mr-2 -translate-y-px" />
                    {{ region.title }}
                </AButton>
            </div>
        </div>

        <MProductSearch
            placeholder="Поиск товара по названию"
            class="xl:!hidden"
        />

        <div class="flex xl:hidden">
            <div class="w-1/2 p-4 md:px-8 md:py-6 border-r border-stroke">
                <div class="flex items-center mb-2">
                    <div class="bg-green w-2 h-2 rounded-full mr-2" />
                    <t :class="$style.infoTextSmall">
                        По будням с 9:00 до 18:00
                    </t>
                </div>
                <AButton
                    type="external"
                    :link="`tel:${ cleanPhone }`"
                    design="link"
                    :class="$style.infoText"
                >
                    {{ phone }}
                </AButton>
                <div
                    :class="$style.infoButton"
                    @click="$modal.open(callbackForm)"
                >
                    Заказать звонок
                </div>
            </div>
            <div class="w-1/2 p-4 md:px-8 md:py-6">
                <div class="flex items-center mb-2">
                    <div class="bg-primary w-2 h-2 rounded-full mr-2" />
                    <t :class="$style.infoTextSmall">
                        По всем вопросам
                    </t>
                </div>
                <AButton
                    type="external"
                    :link="`mailto:${ email }`"
                    design="link"
                    :class="$style.infoText"
                >
                    {{ email }}
                </AButton>

                <AButton
                    type="external"
                    :link="`mailto:${ email }`"
                    design="custom"
                    :class="$style.infoButton"
                >
                    Написать письмо
                </AButton>
            </div>
        </div>

        <MMenuCatalog
            @overflow="isOverlow = $event"
        />

        <MModal :id="regionsModal">
            <ORegions @change="$modal.close(regionsModal)" />
        </MModal>

        <MModal :id="callbackForm">
            <FormCallback />
        </MModal>
    </div>
</template>

<script>
import { mapGetters, mapState } from "vuex"
import { getRandomId } from "@/dtaui/lib/utilsDom"

export default {
    data()
    {
        return {
            regionsModal: getRandomId(),
            callbackForm: getRandomId(),
            isOverlow   : false
        }
    },

    computed: {
        ...mapState( "regions", [
            "region"
        ] ),

        ...mapGetters( [
            "phone",
            "cleanPhone",
            "email"
        ] )
    }
}
</script>

<style lang="scss" module>
.Menu {
    @apply bg-white fixed z-20 top-0 w-full h-full xl:w-auto xl:ml-16 2xl:ml-[5.5rem];
    overflow-y: auto;

    &._overflow {
        @apply xl:bg-transparent;
        overflow: hidden;
    }
}

.infoTextSmall {
    @apply block text-12 md:text-14 leading-tight;
}

.infoText {
    @apply text-[19px] md:text-22 text-text-main leading-tight font-bold xl:hover:text-primary justify-start #{ !important };
}

.infoButton {
    @apply block font-gotham text-primary font-medium leading-tight mt-4 cursor-pointer;
}
</style>
