<template>
    <div :class="$style.OtherProducts">
        <AAccordion
            design="other"
            icon="arrow"
            :class="$style.wrap"
        >
            <template #key>
                Другие товары
            </template>
            <template #content>
                <div :class="$style.content">
                    <AButton
                        v-for="(item, i) in data"
                        :key="`regions-list-${i}`"
                        design="custom"
                        :class="$style.point"
                        :link="item.url"
                    >
                        {{ item.text }}
                    </AButton>
                </div>
            </template>
        </AAccordion>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type   : Array,
            default: () => []
        }
    }
}
</script>

<style lang="scss" module>
.wrap {
    @apply w-full xl:w-[37rem] 2xl:w-[40rem];
}

.block {
    @apply md:px-4 2xl:px-6;
}

.content {
    @apply px-4 pb-4 md:px-7 md:pb-7 2xl:px-10;
}

.point {
    @apply block font-gotham leading-tight mb-4 xl:mb-5 2xl:mb-6 text-13 md:text-15 2xl:text-16 xl:hover:text-primary transition-colors duration-300 #{ !important };
}
</style>
