<template>
    <div :class="$style.OtherCities">
        <AAccordion
            design="other"
            icon="arrow"
            :class="$style.wrap"
        >
            <template #key>
                {{ isProduct ? 'Товар' : 'Товары' }}  в других городах
            </template>
            <template #content>
                <div :class="$style.content">
                    <AButton
                        v-for="(item, i) in formattedRegions"
                        :key="`regions-list-${i}`"
                        design="custom"
                        :class="$style.point"
                        :link="link(item)"
                        @click.prevent="onClick(item)"
                    >
                        {{ title }} {{ city( item ) }}
                    </AButton>
                </div>
            </template>
        </AAccordion>
    </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex"
import { PRODUCT, PRODUCT_CATEGORY } from "@/lib/url/const"
import { prepositionV } from "@/lib/namings"

export default {
    props: {
        title: {
            type   : String,
            default: ""
        },

        slug: {
            type   : String,
            default: ""
        },

        // Quick fix for filter pages. TODO: Rewrite component.
        // It is full filter url without the pagination part.
        filterUrl: {
            type   : String,
            default: ""
        },

        cols: {
            type   : Number,
            default: 3
        }
    },

    computed: {
        ...mapState( "regions", [
            "primary",
            "region"
        ] ),

        ...mapGetters( "regions", [
            "regionSlug"
        ] ),

        formattedRegions()
        {
            return this.primary.filter( e => e.slug !== this.region.slug )
        },

        part()
        {
            return Math.ceil( this.formattedRegions.length / this.cols )
        },

        isProduct()
        {
            return this.$route.name.includes( "product" )
        }
    },

    methods: {
        ...mapActions( "regions", [
            "setRegion"
        ] ),

        link( city )
        {
            const data = {
                fslug: this.slug.replace( `${this.regionSlug}/`, "" ).replace( /^\/|\/$/g, "" ),
                city : city.isDefault ? null : city.slug
            }

            return this.$getUrl( this.isProduct ? PRODUCT : PRODUCT_CATEGORY, data )
        },

        city( item )
        {
            return prepositionV( item.titleCases?.sg?.pre || item.title )
        },

        async onClick( item )
        {
            await this.setRegion( item )
        }
    }
}
</script>

<style lang="scss" module>
.wrap {
    @apply w-full xl:w-[37rem] 2xl:w-[40rem];
}

.block {
    @apply md:px-4 2xl:px-6;
}

.content {
    @apply px-4 pb-4 md:px-7 md:pb-7 2xl:px-10;
}

.point {
    @apply block font-gotham leading-tight mb-4 xl:mb-5 2xl:mb-6 text-13 md:text-15 2xl:text-16 xl:hover:text-primary transition-colors duration-300 #{ !important };
}
</style>
