<template>
    <div :class="$style.Regions">
        <t type="h2" class="font-gotham text-text-main text-[16px] md:text-[18px] 2xl:text-[24px] font-bold leading-tight md:leading-none mb-2 md:mb-4 pr-16">
            Выберите город, в который необходимо доставить покупку
        </t>

        <t type="h4" class="font-gotham text-[12px] md:text-[14px] 2xl:text-[16px] leading-tight mb-4 md:mb-6">
            От выбранного города зависит цена и сроки доставки.
        </t>

        <MRegionsSearch v-on="$listeners" />

        <div class="flex md:hidden mt-10 -mx-4">
            <div
                v-for="(col, i) in 2"
                :key="`regions-cols-${i}`"
                :class="$style.block"
            >
                <div
                    v-for="(item, ii) in primary.slice(i * partTwo, col * partTwo)"
                    :key="`regions-list-${ii}`"
                    :class="$style.point"
                    @click="onChange(item)"
                >
                    {{ item.title }}
                </div>
            </div>
        </div>

        <div class="hidden md:flex mt-12 -mx-4">
            <div
                v-for="(col, i) in 3"
                :key="`regions-cols-${i}`"
                :class="$style.block"
            >
                <div
                    v-for="(item, ii) in primary.slice(i * partThree, col * partThree)"
                    :key="`regions-list-${ii}`"
                    :class="$style.point"
                    @click="onChange(item)"
                >
                    {{ item.title }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex"

export default {
    computed: {
        ...mapState( "regions", [
            "primary"
        ] ),

        partTwo() // For mobile only.
        {
            return Math.ceil( this.primary.length / 2 )
        },

        partThree() // For desktop.
        {
            return Math.ceil( this.primary.length / 3 )
        },

        isProductCategory()
        {
            return this.$route.name.includes( "category" )
        }
    },

    methods: {
        ...mapActions( "regions", [
            "setRegion"
        ] ),

        async onChange( item )
        {
            this.$emit( "change" )
            await this.setRegion( item )
        }
    }
}
</script>

<style lang="scss" module>
.Regions {
    @apply px-4 py-8 md:p-12 2xl:p-16;
    width: 100vw;
    @screen md {
        width: calc(100vw - 4rem);
    }
    @screen xl {
        width: 96rem;
    }
    @screen 2xl {
        width: 130rem;
    }
}

.block {
    @apply w-1/2 px-4 md:w-1/3;
}

.point {
    @apply text-text-main text-[15px] xl:text-[18px] 2xl:text-[20px] leading-none mb-6 2xl:mb-8 last:mb-0 cursor-pointer transition-colors duration-300 hover:text-red-500;
}
</style>
