<template>
    <div :class="$style.Reviews">
        <div class="full-background xl:before:hidden">
            <div class="line-top xl:before:hidden xl:after:hidden pb-12 pt-8 md:pt-10 xl:py-10 xl:px-5 2xl:px-6 2xl:py-12 bg-background xl:bg-white xl:border border-stroke">
                <t type="h3" :class="[$style.blockTitle, {'!mb-0': !reviews.length}]" class="xl:px-5 2xl:px-6">
                    Отзывы о магазине
                    <t class="font-normal">
                        ({{ reviews.length }})
                    </t>
                </t>

                <div class="xl:hidden">
                    <MComment
                        v-for="(item, i) in reviews.slice(0, visibleReviews)"
                        :key="`reviews-${i}`"
                        :data="item"
                    />

                    <AButton
                        v-if="visibleReviews < reviews.length"
                        type="button"
                        design="custom"
                        class="w-full h-20 md:h-24 mt-6 !font-circe text-text-main font-bold bg-white border border-stroke text-15 md:text-16"
                        @click="visibleReviews += 3"
                    >
                        Загрузить еще
                    </AButton>
                </div>

                <AScrollbox
                    class="hidden xl:block max-h-[90rem]"
                >
                    <div class="xl:px-5 2xl:px-6">
                        <MComment
                            v-for="(item, i) in reviews"
                            :key="`reviews-${i}`"
                            :data="item"
                        />
                    </div>
                </AScrollbox>
            </div>
        </div>

        <div class="full-background xl:before:hidden">
            <div class="line-top xl:before:hidden xl:after:hidden pt-10 xl:p-10 2xl:p-12 bg-background xl:bg-white xl:border border-stroke">
                <FormReview
                    code="reviews-page"
                    button-text="Оставить отзыв"
                >
                    <t :class="$style.blockTitle">
                        Добавить отзыв
                    </t>
                </FormReview>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        reviews: {
            type   : Array,
            default: () => []
        }
    },

    data()
    {
        return {
            visibleReviews: 3
        }
    }
}
</script>

<style lang="scss" module>
.Reviews {
    @screen xl {
        display: grid;
        grid-template-columns: 768px 1fr;
        grid-gap: 2rem;
    }

    @screen 2xl {
        grid-template-columns: 110rem 1fr;
        grid-gap: 2.5rem;
    }
}

.blockTitle {
    @apply block font-bold text-18 2xl:text-24 leading-none text-text-main mb-6 2xl:mb-8;
}
</style>
