<template>
    <BaseAccordion
        :class="$style.Accordion"
        :design="$style[design]"
        :key-class="$style.key"
        :container-class="$style.container"
        :opened="opened"
    >
        <template v-for="(index, name) in $slots" #[name]>
            <slot :name="name" />
        </template>

        <template #icon>
            <span
                v-if="icon === 'plus'"
                :class="[$style.icon, $style.plus]"
            />

            <IconArrow
                v-else-if="icon === 'arrow'"
                :class="[$style.icon, $style.arrow]"
            />
        </template>
    </BaseAccordion>
</template>

<script>

export default {
    props: {
        icon: {
            type   : String,
            default: "plus",
            validator( value )
            {
                return [ "plus", "arrow" ].includes( value )
            }
        },

        design: {
            type   : String,
            default: "custom",
            validator( value )
            {
                return [ "filter", "product", "faq", "footer", "other", "custom" ].includes( value )
            }
        },

        opened: Boolean
    }
}
</script>

<style lang="scss" module>
.Accordion {
    &:global(.is-opened) {
        .plus {
            @apply text-primary;
            transform: translateY(-1px) rotate(-45deg);
        }

        .arrow {
            transform: translateY(1px) rotate(180deg);
        }
    }

    // design
    &.filter {
        .key {
            @apply px-4 h-24 text-[20px] leading-tight text-text-main md:px-8 xl:h-28 xl:text-[18px] xl:px-6 xl:h-24 2xl:h-28 2xl:px-8 2xl:text-[20px];
            @apply relative border-b border-stroke;

            &:before {
                @apply absolute -top-px left-0 w-full h-px bg-stroke;
                content: "";
            }
        }
    }

    &.product {
        .key {
            @apply px-4 h-24 text-[18px] leading-none font-bold text-text-low md:p-8;
        }

        &:global(:not(.is-opened)) {
            position: relative;

            &:before {
                @apply bg-stroke;
                content: "";
                position: absolute;
                top: 0;
                left: -100vw;
                height: 1px;
                width: 300vw;
            }

            &:last-child {
                &:after {
                    @apply bg-stroke;
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: -100vw;
                    height: 1px;
                    width: 300vw;
                }
            }
        }

        &:global(.is-opened) .key {
            @apply bg-secondary text-white;
        }

        &:global(.is-opened) .plus {
            @apply text-white;
        }
    }

    &.faq {
        @apply bg-white;

        .key {
            @apply p-4 text-16 md:text-18 2xl:text-20 leading-tight text-text-main md:p-7 2xl:px-10;
        }
    }

    &.other {
        @apply bg-white;

        .key {
            @apply p-4 text-16 h-24 md:text-18 2xl:text-20 leading-none text-text-main md:p-7 2xl:px-10;
        }
    }

    &.footer {
        border-bottom: 1px solid rgba(255, 255, 255, .1);

        .key {
            @apply px-4 py-8 text-[2rem] leading-tight text-white font-bold bg-blue-800;
        }
    }

    &.custom {
        .key {
            @apply p-0;
        }
    }
}

.key {
    position: relative;
    transition: all .2s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    position: relative;
    transition: max-height .2s ease;
}

// icons
.icon {
    display: block;
    position: relative;
    flex-shrink: 0;
    margin-left: 2rem;
}

.plus {
    height: 1.8rem;
    width: 1.8rem;
    transition: transform .3s ease;
    transform: translateY(-1px);

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: currentColor;
        will-change: transform;
        transition: transform .2s linear;
    }

    &:before {
        transform: rotate(90deg);
    }
}

.arrow {
    width: 15px;
    height: auto;
    transition: all .2s linear;
    transform: translateY(1px);

    @screen md {
        width: 16px;
    }
}
</style>
