<script>
export default {
    functional: true,
    props     : {
        type: {
            type: String
        },

        design: {
            type   : String,
            default: "red-common",
            validator( val )
            {
                return [ "blue-common", "red-common", "light-blue-common", "red-landing", "red-shadow", "red-secondary", "slider-landing", "gray-common", "green-common", "service-card", "link", "filter-tag", "footer-link", "load-more", "slider", "custom", "buy" ].includes( val.toLowerCase() )
            }
        },

        size: {
            type   : String,
            default: "auto",
            validator( val )
            {
                return [ "sm", "md", "lg", "xl", "full", "auto" ].includes( val.toLowerCase() )
            }
        },

        rounded: {
            type   : String,
            default: "none",
            validator( val )
            {
                return [ "md", "lg", "full", "none" ].includes( val.toLowerCase() )
            }
        },

        disabled: {
            type   : Boolean,
            default: false
        },

        inverse: {
            type   : Boolean,
            default: false
        }
    },

    render( h, { props, slots, listeners, data, $style } )
    {
        const classes = [
            $style[ props.design ],
            $style[ props.size ],
            $style[ `rounded-${props.rounded}` ],
            {
                [ $style.disabled ]: props.disabled,
                [ $style.inverse ] : props.inverse
            }
        ]

        let constructor = [ slots().before, slots().default, slots().after ]

        constructor = h( "BaseButton", {
            on   : { ...listeners },
            attrs: { ...data.attrs },
            props: { type: props.type },
            class: [
                data.staticClass,
                data.class,
                $style.Button,
                props.design !== "custom" && $style.ButtonPreset,
                classes
            ]
        }, constructor )
        return [ constructor ].filter( Boolean )
    }
}
</script>

<style lang="scss" module>
.ButtonPreset {
    @apply flex items-center justify-center px-8 font-medium;
    transition: background-color .3s ease, color .3s ease, border-color .3s ease, box-shadow .3s ease;
}

.Button {
    font-family: "Gotham", sans-serif;

    // size
    &.sm {
        @apply h-[2.8rem];
    }

    &.md {
        @apply h-16 md:h-20;
    }

    &.lg {
        @apply h-[5.4rem] 2xl:h-24;
    }

    &.xl {
        @apply h-[4.4rem] md:h-[5rem];
    }

    &.full {
        @apply h-full;
    }

    // rounded
    &.rounded-md {
        @apply rounded-lg;
    }

    &.rounded-lg {
        @apply rounded-2xl;
    }

    &.rounded-full {
        @apply rounded-full;
    }

    &.rounded-none {
        @apply rounded-none;
    }

    // design
    &.red-common {
        @apply bg-primary text-white;

        &:hover:not(.disabled) {
            @screen xl {
                @apply bg-red-500;
                box-shadow: 0 0 20px rgba(242, 49, 48, 0.4);
            }
        }

        &.inverse {
            @apply text-primary bg-white border border-primary;

            &:hover {
                @screen xl {
                    @apply bg-primary text-white;
                    box-shadow: none;
                }
            }
        }

        &.disabled {
            @apply cursor-auto;
        }
    }

    &.red-landing {
        @apply font-roboto rounded-[50px] bg-primary text-white;

        &:hover {
            @screen xl {
                @apply bg-red-500;
                box-shadow: 0 0 20px rgba(242, 49, 48, 0.4);
            }
        }

        &.inverse {
            @apply text-primary bg-white border border-primary;

            &:hover {
                @screen xl {
                    @apply bg-primary text-white;
                    box-shadow: none;
                }
            }
        }

        &.disabled {
            @apply cursor-auto;
        }
    }

    &.red-shadow {
        @apply font-roboto rounded-[4px] bg-primary text-white uppercase font-bold;
        box-shadow: 0 2px 1px #330000;

        &:hover {
            @screen xl {
                @apply bg-red-500;
            }
        }

        &.disabled {
            @apply cursor-auto;
        }
    }

    &.red-secondary {
        @apply font-roboto bg-primary text-white uppercase font-bold;

        &:hover {
            @screen xl {
                @apply bg-secondary;
            }
        }

        &.disabled {
            @apply cursor-auto;
        }
    }

    &.blue-common {
        @apply bg-secondary text-white;

        &:hover {
            @screen xl {
                @apply bg-blue-500;
                box-shadow: 0 0 20px rgba(0, 62, 88, 0.4);
            }
        }

        &.inverse {
            @apply text-secondary bg-transparent border border-secondary;

            &:hover {
                @screen xl {
                    @apply bg-secondary text-white;
                    box-shadow: none;
                }
            }
        }

        &.disabled {
            @apply cursor-auto;
        }
    }

    &.light-blue-common {
        @apply bg-background text-text-low;

        &:hover {
            @screen xl {
                @apply bg-primary text-white;
                box-shadow: 0 0 20px rgba(242, 49, 48, 0.4);
            }
        }

        &.disabled {
            @apply cursor-auto;
        }
    }

    &.gray-common {
        @apply font-circe tracking-wide font-bold bg-brown text-white;

        &:hover {
            @apply xl:bg-primary;
        }

        &.inverse {
            @apply text-brown bg-white border border-brown;

            &:hover {
                @screen xl {
                    @apply bg-brown text-white;
                    box-shadow: none;
                }
            }
        }

        &.disabled {
            @apply cursor-auto;
        }
    }

    &.green-common {
        @apply h-14 bg-admin-green-200 text-white xl:hover:bg-admin-green-500;
    }

    &.service-card {
        @apply text-gray-200 border border-background bg-white;

        &:hover {
            @apply xl:bg-primary xl:text-white;
        }

        &.disabled {
            @apply cursor-auto;
        }
    }

    &.slider-landing {
        @apply p-0 w-20 h-20 xl:w-24 xl:h-24 flex items-center justify-center font-roboto rounded-full bg-primary text-white;

        &:hover {
            @screen xl {
                @apply bg-red-500;
                box-shadow: 0 0 20px rgba(242, 49, 48, 0.4);
            }
        }

        :global(.is-disabled) & {
            @apply pointer-events-none opacity-80;
            cursor: default !important;

        }
    }

    &.filter-tag {
        @apply font-circe leading-none tracking-wide h-12 xl:h-16 px-4 bg-background text-text-low xl:text-16 2xl:text-18 transition-colors duration-300;
        transition: box-shadow .3s ease;

        &:hover {
            @screen xl {
                box-shadow: 0 4px 10px rgba(171, 171, 171, 0.25);
            }
        }

        mark {
            @apply bg-transparent text-gray-400 text-12 xl:text-14 ml-2;
        }

        :global(.active-tag) & {
            @apply text-white bg-secondary;
        }

        &.inverse {
            @apply bg-white border border-background;

            :global(.active-tag) & {
                @apply text-white bg-primary;
            }
        }
    }

    &.load-more {
        @apply relative font-circe font-bold leading-none tracking-wide text-15 md:text-16 2xl:text-18 w-full h-20 md:h-24 2xl:h-28 border-b border-stroke md:border-r md:border-l;
        transition: all .3s ease;

        &:before {
            @apply absolute top-0 left-0 w-full h-px bg-stroke;
            transition: background-color .3s ease;
            content: "";
        }

        &:hover {
            @screen xl {
                @apply text-white bg-primary border-primary;
                box-shadow: 0 0 20px rgba(242, 49, 48, 0.4);

                &:before {
                    @apply bg-primary;
                }
            }
        }
    }

    &.slider {
        @apply w-[4.4rem] h-[4.4rem] 2xl:w-20 2xl:h-20 p-0 bg-white text-text-main;
        transition: box-shadow .3s ease, opacity .3s ease;

        :global(.is-disabled) & {
            @apply opacity-50 cursor-auto;

            &:hover {
                box-shadow: none;
            }
        }

        &:hover {
            @screen xl {
                box-shadow: 0 4px 10px rgba(171, 171, 171, 0.25);
            }
        }

        svg {
            width: 14px;

            @screen 2xl {
                width: 15px;
            }
        }
    }

    &.link {
        @apply font-circe text-secondary xl:hover:text-primary p-0;
    }

    &.footer-link {
        @apply font-circe leading-none tracking-wide text-16 md:text-14 2xl:text-16 md:leading-tight mb-7 md:mb-5 last:mb-0 px-4 md:px-0 justify-start xl:hover:text-primary transition-colors duration-300;
        color: rgba(255, 255, 255, .8);
    }

    &.buy {
        @apply font-circe tracking-wide font-bold bg-primary md:bg-brown text-white;

        &:hover {
            @apply xl:bg-primary;
        }

        &.disabled {
            @apply cursor-auto;
        }
    }

}
</style>
