<template>
    <div ref="carSlider" :class="[$style.CarSlider, $style[design]]">
        <VueSlider
            v-model="_value"
            :min="_min"
            :max="_max"
            tooltip="none"
            :height="design === 'vertical' ? 100 : 2"
            :duration="0"
            :clickable="false"
            :marks="formattedMarks"
            :direction="design === 'vertical' ? 'ttb' : 'ltr'"
        >
            <template #dot>
                <IconCar :id="id" :class="{[$style.car]: design === 'vertical'}" />
            </template>
        </VueSlider>
    </div>
</template>

<script>
function stayInBounds( value, min, max )
{
    let ok = true
    value = value.map( x => x )

    if ( value[ 0 ] < min )
    {
        value[ 0 ] = min
        ok = false
    }
    if ( value[ 1 ] > max )
    {
        value[ 1 ] = max
        ok = false
    }
    if ( value[ 0 ] % 1 !== 0 )
    {
        value[ 0 ] = Math.floor( value[ 0 ] )
        ok = false
    }
    if ( value[ 1 ] % 1 !== 0 )
    {
        value[ 1 ] = Math.ceil( value[ 1 ] )
        ok = false
    }

    return { value, ok }
}

export default {
    props: {
        value: [ Number, Array ],
        min  : Number,
        max  : Number,

        marks: {
            type   : Array,
            default: () => [ "Москва", "Регионы РФ", "Казахстан" ]
        },

        design: {
            type   : String,
            default: "horizontal",
            validator( value )
            {
                return [ "horizontal", "vertical" ].includes( value )
            }
        },

        id: {
            type   : Number,
            default: 0
        }
    },

    data()
    {
        return {
            formattedMarks: {}
        }
    },

    computed:
    {
        _min()
        {
            return Math.floor( this.min )
        },
        _max()
        {
            return Math.ceil( this.max )
        },
        _value:
        {
            get()
            {
                let _value
                if ( this.value instanceof Array )
                {
                    _value = this.value
                }
                else
                {
                    _value = [ this.value, this.value ]
                }

                const { value, ok } = stayInBounds( _value, this._min, this._max )

                if ( ok )
                {
                    return this.value
                }
                else if ( this.value instanceof Array )
                {
                    this.$emit( "change", value )
                    return value
                }
                else if ( this.value < this._min )
                {
                    this.$emit( "change", value[ 0 ] )
                    return value[ 0 ]
                }
                else if ( this.value > this._max )
                {
                    this.$emit( "change", value[ 1 ] )
                    return value[ 1 ]
                }
                else
                {
                    return value[ 0 ]
                }
            },
            set( v )
            {
                this.$emit( "change", v )
            }
        }
    },

    watch: {
        _value()
        {
            this.$nextTick( () =>
            {
                const elems = this.$refs.carSlider.querySelectorAll( ".vue-slider-mark" )

                for ( const item of elems )
                {
                    const dot = this.$refs.carSlider.querySelector( ".vue-slider-dot" )
                    const dotPos = this.design === "vertical" ? dot.getBoundingClientRect().top : dot.getBoundingClientRect().left
                    const pos = this.design === "vertical" ? item.getBoundingClientRect().top : item.getBoundingClientRect().left

                    dotPos + dot.offsetWidth / 2 > pos ? item.classList.add( "active" ) : item.classList.remove( "active" )
                }
            } )
        }
    },

    mounted()
    {
        for ( const i in this.marks )
        {
            this.formattedMarks[ i ] = this.marks[ i ]
        }
    }
}
</script>

<style lang="scss" module>
.CarSlider {
    height: 100%;

    :global(.vue-slider-dot) {
        height: auto !important;
        width: 11rem !important;
        pointer-events: none;

        @screen md {
            width: 16rem !important;
        }
    }

    :global(.vue-slider-ttb) {
        height: 100% !important;
        width: 2px !important;
    }

    :global(.vue-slider-dot-handle) {
        @apply rounded-none border-[5px] border-secondary;
        box-shadow: none;
        transition: box-shadow .3s ease;
    }

    :global(.vue-slider-ltr) {
        &:before {
            display: none;
        }
    }

    :global(.vue-slider-rail) {
        @apply rounded-none;
        width: 100%;
        margin: 0 auto;
    }

    :global(.vue-slider-process) {
        @apply rounded-none;
    }

    :global(.vue-slider-ltr .vue-slider-rail) {
        background: linear-gradient(to right, #B3B3B3 33%, transparent 33%);
        background-size: 30px 2px;
    }

    :global(.vue-slider-ltr .vue-slider-process) {
        background: linear-gradient(to right, #FF3E3D 33%, transparent 33%);
        background-size: 30px 2px;
    }

    :global(.vue-slider-ttb .vue-slider-rail) {
        background: linear-gradient(to bottom, #B3B3B3 33%, transparent 33%);
        background-size: 2px 30px;
    }

    :global(.vue-slider-ttb .vue-slider-process) {
        background: linear-gradient(to bottom, #FF3E3D 33%, transparent 33%);
        background-size: 2px 30px;
    }

    :global(.vue-slider-mark-step) {
        @apply bg-secondary;
        border: 8px solid white;
        width: 26px;
        height: 26px;
        transform: translate(0%, -50%);

        @screen md {
            width: 30px;
            height: 30px;
            border: 10px solid white;
        }

        @screen 2xl {
            width: 36px;
            height: 36px;
            border: 12px solid white;
        }
    }

    :global(.vue-slider-ttb .vue-slider-mark-step) {
        position: static;
        transform: translate(50%, 0%);
        flex-shrink: 0;

        @screen md {
            transform: translate(14px, 0%);
        }

        @screen 2xl {
            transform: translate(16px, 0%);
        }
    }

    :global(.vue-slider-mark:first-child .vue-slider-mark-step), :global(.vue-slider-mark:last-child .vue-slider-mark-step) {
        display: block;
    }

    :global(.vue-slider-ltr .vue-slider-marks) {
        @apply container;
        display: flex;
        justify-content: space-between;
    }

    :global(.vue-slider-ttb .vue-slider-marks) {
        @apply py-20 2xl:py-24;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    :global(.vue-slider-ltr .vue-slider-mark) {
        position: static;
        width: auto !important;
        transform: translate(0%, 0%);

        @screen md {
            width: 30px;
        }

        @screen 2xl {
            width: 36px;
        }

        &:global(.active) {
            :global(.vue-slider-mark-step) {
                @apply bg-white border-primary;
            }

            :global(.vue-slider-mark-label) {
                @apply text-text-main;
            }
        }
    }

    :global(.vue-slider-ttb .vue-slider-mark) {
        position: static;
        width: auto !important;
        height: auto !important;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        transform: translate(0%, 0%);

        &:global(.active) {
            :global(.vue-slider-mark-step) {
                @apply bg-white border-primary;
            }

            :global(.vue-slider-mark-label) {
                @apply text-text-main;
            }
        }
    }

    :global(.vue-slider-mark-label) {
        @apply relative mt-12 md:mt-16 2xl:mt-[4.5rem] #{ !important };
        @apply text-gray-600 font-bold;
        left: 0;
        transform: none;

        @screen md {
            font-size: 16px;
        }

        @screen 2xl {
            font-size: 18px;
        }
    }

    :global(.vue-slider-ttb .vue-slider-mark-label) {
        @apply static mt-0 ml-0 mr-12 2xl:mr-16 transform-none #{ !important };
    }
}

.car {
    transform: rotate(90deg);
}
</style>
