<template>
    <label :class="[$style.Checkbox, classes]">
        <input
            ref="vInputTarget"
            v-model="_value"
            :title="title"
            class="hidden"
            :required="required"
            :disabled="disabled"
            type="checkbox"
        >

        <span :class="[$style.input, {[$style._active]: value}]">
            <IconChecked :class="$style.icon" />
        </span>

        <slot />
    </label>
</template>

<script>
export default {
    props:
    {
        design: {
            type   : String,
            default: "red",
            validator( val )
            {
                return [ "red", "green" ].includes( val.toLowerCase() )
            }
        },

        title: {
            type   : String,
            default: ""
        },

        error: {
            type   : String,
            default: ""
        },

        value   : Boolean,
        required: Boolean,
        disabled: Boolean
    },

    computed:
    {
        _value:
        {
            get()
            {
                return this.value
            },
            set( v )
            {
                this.$emit( "change", v )
            }
        },

        classes()
        {
            return [
                this.$style[ this.design ],
                {
                    [ this.$style.disabled ]: this.disabled,
                    [ this.$style.error ]   : this.error
                }
            ]
        }
    }
}
</script>

<style lang="scss" module>
.Checkbox {
    @apply flex items-center cursor-pointer;

    // design
    &.red {
        .input {
            &._active {
                @apply bg-primary border-primary;
            }
        }
    }

    &.green {
        .input {
            &._active {
                @apply bg-green border-green;
            }
        }
    }

    // modificators
    &.disabled {
        @apply opacity-50 pointer-events-none cursor-not-allowed;
    }

    &.error {
        .input {
            @apply border-red-500 border-2;
        }
    }
}

.input {
    @apply flex items-center justify-center w-[2.4rem] h-[2.4rem] bg-white border border-stroke;
    transition: background-color .3s ease, border-color .3s ease;

    &._active {
        .icon {
            opacity: 1;
        }
    }
}

.icon {
    @apply w-[14px] h-[11px] text-white;
    opacity: 0;
    transition: opacity .3s ease;
}

</style>
