<template>
    <BaseCounter
        :class="[$style.Counter, $style[design]]"
        :design="$style[design]"
        v-bind="$props"
        v-on="$listeners"
    >
        <template #minus>
            <IconMinus :class="$style.icon" />
        </template>

        <template #plus>
            <IconPlus :class="$style.icon" />
        </template>
    </BaseCounter>
</template>

<script>
export default {
    props: {
        value: [ Number, String ],

        min: {
            type   : Number,
            default: 1
        },

        max: {
            type   : Number,
            default: Infinity
        },

        design: {
            type   : String,
            default: "primary",
            validator( val )
            {
                return [ "primary", "secondary" ].includes( val.toLowerCase() )
            }
        },

        inverse: Boolean
    }
}
</script>

<style lang="scss" module>
.Counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// design
.primary {
    @apply bg-transparent text-white;
    width: 6rem;
    height: 2rem;

    @screen md {
        width: 8rem;
    }

    .icon {
        @apply text-white xl:hover:text-primary;

        width: 12px;
        height: 12px;

        @screen xl {
            width: 14px;
            height: 14px;
        }
    }

    &:global(-input) {
        @apply bg-brown text-white transition-colors duration-300;
        @apply outline-none text-center leading-none rounded-none;
        width: 2rem;
        height: 2rem;
        font-size: 1.8rem;

        @screen 2xl {
            font-size: 2rem;
        }
    }

    &:global(-button) {
        position: relative;
    }

    &:global(.inverse) {
        .icon {
            @apply xl:hover:text-brown;
        }

        input {
            @apply bg-primary;
        }
    }
}

.secondary {
    width: 8.2rem;

    @screen 2xl {
        width: 11rem;
    }

    .icon {
        @apply text-text-low xl:hover:text-primary;
        width: 12px;
        height: 12px;

        @screen 2xl {
            width: 15px;
            height: 15px;
        }
    }

    &:global(-input) {
        @apply text-text-main border border-stroke;
        @apply outline-none text-center leading-none rounded-none;
        width: 3.4rem;
        height: 3.4rem;
        font-size: 1.6rem;

        @screen 2xl {
            width: 5rem;
            height: 5rem;
            font-size: 2rem;
        }
    }

    &:global(-button) {
        position: relative;
    }
}

.icon {
    transition: color .3s ease;
    cursor: pointer;
}
</style>
