<template>
    <div :class="[$style.FileInput, classes]">
        <label :class="$style.wrap">
            <div :class="$style.circle">
                <IconClip :class="$style.icon" />
            </div>

            <div :class="$style.label">

                <t class="block mb-3 text-text-low leading-none 2xl:text-[16px]">Уже есть проект?</t>
                <t :class="$style.text">{{ files.length ? 'Прикрепить ещё' : 'Прикрепите файл' }}</t>

                <input
                    ref="vInputTarget"
                    :class="$style.field"
                    type="file"
                    :multiple="multiple"
                    :required="required"
                    @change="onFileChange"
                >
            </div>
        </label>

        <div
            v-if="(files && files.length) || error"
            :class="$style.files"
        >
            <template v-if="files && files.length">
                <div :class="$style.file">
                    {{ fileName }}
                </div>

                <div
                    v-if="isFileChosen"
                    :class="$style.remove"
                    @click.stop="removeFiles"
                >
                    <IconClose :class="$style.delete" />
                </div>
            </template>

            <div v-else-if="error" :class="$style.file">
                {{ error }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        label: {
            type   : String,
            default: "Прикрепить файл"
        },

        multiple: {
            type   : Boolean,
            default: false
        },

        maxSize: {
            type   : Number,
            default: 1572864
        },

        formats: {
            type   : Array,
            default: () => []
        },

        error: {
            type   : String,
            default: ""
        },

        required: Boolean
    },

    data()
    {
        return {
            value: "",
            files: []
        }
    },

    computed: {
        classes()
        {
            return {
                [ this.$style._error ] : this.error,
                [ this.$style._active ]: this.isFileChosen
            }
        },

        fileName()
        {
            if ( this.files.length > 1 )
            {
                return "Выбранно файлов: " + this.files.length
            }

            if ( ( this.files.length > 0 ) && "name" in this.files[ 0 ] )
            {
                return this.files[ 0 ].name
            }
            return this.label
        },

        isFileChosen()
        {
            return Boolean( this.files.length )
        },

        formattedSize()
        {
            return this.maxSize / 1024 / 1024
        }
    },

    mounted()
    {
        this.$refs.vInputTarget.value = ""
    },

    methods: {
        onFileChange( e )
        {
            const files = e.target.files

            let size = 0
            let validFormat = true

            for ( const file of files )
            {
                size += file.size
                if ( this.formats.length && !this.formats.includes( file.type ) )
                {
                    validFormat = false
                }
            }

            this.files = Array.from( files )

            if ( size > this.maxSize )
            {
                this.$emit( "error", `Размер файлов не должен превышать ${ this.formattedSize } МБ` )
                this.files = []
            }
            else if ( !validFormat )
            {
                this.$emit( "error", "Недопустимый формат файла" )
                this.files = []
            }
            else
            {
                this.$emit( "change", this.files )
            }
        },

        removeFiles()
        {
            this.$refs.vInputTarget.value = ""
            this.files = []
            this.$emit( "change", this.files )
        }
    }
}
</script>

<style lang="scss" module>
.FileInput {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Gotham", sans-serif;

    @screen md {
        flex-direction: row;
        align-items: center;
    }
}

.wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;

    &:hover {
        @screen xl {
            .circle {
                @apply bg-primary;
            }

            .text {
                @apply text-primary;
            }
        }
    }
}

.field {
    display: none;
}

.text {
    @apply block text-text-low font-medium leading-none 2xl:text-[16px];
    transition: color .3s ease;
    text-decoration: underline;
}

.circle {
    @apply h-[4.4rem] w-[4.4rem] 2xl:h-20 2xl:w-20 mr-6 rounded-full flex items-center justify-center bg-text-low;
    transition: background-color .3s ease;
}

.icon {
    @apply text-white;
    width: 12px;
    height: auto;

    @screen 2xl {
        width: 15px;
    }
}

.size {
    @apply text-gray-600;
}

.files {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-top: 1.5rem;

    @screen md {
        margin-top: 0;
        margin-left: 3rem;
    }

    @screen 2xl {
        margin-left: 4.5rem;
    }
}

.file {
    @apply text-primary font-medium leading-none 2xl:text-[16px];
    letter-spacing: 0.01em;
}

.remove {
    @apply ml-4 text-text-low xl:hover:text-primary;
    cursor: pointer;
    transition: color .3s ease;

    @screen md {
        right: 2rem;
    }
}

.delete {
    width: 18px;
}

</style>
