<template>
    <div
        :class="[$style.Input, classes]"
    >
        <BaseInput
            :placeholder="formattedPlaceholder"
            :classes="[$style.el, $style[type], $style[design], {[$style._error]: error}]"
            v-bind="$props"
            v-on="$listeners"
            @mouseenter.native="errorVisible = true"
            @mouseleave.native="errorVisible = false"
        />

        <div
            v-if="design === 'search' || design === 'search-header'"
            :class="$style.searchWrap"
        >
            <IconSearch
                :class="$style.searchIcon"
            />
        </div>

        <div
            v-if="value && clear"
            :class="$style.clear"
            @click="$emit( 'change', '' )"
        >
            <IconCloseCircle :class="$style.close" />
        </div>

        <transition name="fade-common">
            <div
                v-if="error && errorVisible"
                :class="$style.tooltip"
            >
                {{ error }}
            </div>
        </transition>
    </div>
</template>

<script>
export default {
    props:
    {
        design: {
            type   : String,
            default: "primary",
            validator( value )
            {
                return [ "primary", "secondary", "footer", "search", "search-header", "landing", "landing-secondary" ].includes( value )
            }
        },

        type: {
            type   : String,
            default: "input",
            validator( value )
            {
                return [ "input", "textarea" ].includes( value )
            }
        },

        value: {
            type   : String,
            default: ""
        },

        placeholder: {
            type   : String,
            default: ""
        },

        error: {
            type   : String,
            default: ""
        },

        required: Boolean,
        disabled: Boolean,

        clear: {
            type   : Boolean,
            default: true
        }
    },

    data()
    {
        return {
            errorVisible: false
        }
    },

    computed:
    {
        classes()
        {
            return [
                this.$style[ this.design ],
                {
                    [ this.$style.disabled ]: this.disabled
                }
            ]
        },

        formattedPlaceholder()
        {
            return this.required && this.design !== "footer" ? `${this.placeholder}*` : this.placeholder
        }
    }
}
</script>

<style lang="scss" module>
.Input {
    position: relative;

    &.textarea {
        max-height: 12rem;
    }

    &.disabled {
        pointer-events: none;
        opacity: .5;
    }

    // design
    &.primary {
        .el {
            @apply border;
        }
    }

    &.secondary {
        .el {
            @apply border-b;
        }
    }

    &.footer {
        .el {
            @apply font-circe text-[18px] md:text-[16px] 2xl:text-[18px] bg-transparent pl-4 text-white xl:hover:border-white focus:border-white;
            height: 4.5rem;
            border-bottom: 1px solid rgba(255, 255, 255, .3);

            &::placeholder {
                color: rgba(255, 255, 255, .3);
                opacity: 1;
            }

            &:-ms-input-placeholder {
                color: rgba(255, 255, 255, .3);
            }

            &::-ms-input-placeholder {
                color: rgba(255, 255, 255, .3);
            }

            &._error {
                @apply border-primary;
            }
        }
    }

    &.search {
        .el {
            @apply text-[15px] md:text-[16px] h-16 px-16 border-b 2xl:h-20;
        }

        .searchIcon {
            @apply absolute z-10 left-2 top-[9px] 2xl:top-[15px] w-[18px] h-[18px] text-text-low;
        }

        .clear {
            @apply right-0 top-[9px] 2xl:top-[15px] transform-none;
        }
    }

    &.search-header {
        @apply xl:flex xl:flex-row-reverse xl:items-center;

        .el {
            @apply xl:w-[14rem] 2xl:w-[27.2rem] font-gotham xl:font-circe text-text-main text-16 md:text-18 xl:text-16 2xl:text-18 h-20 xl:h-[4.4rem] 2xl:h-[4.8rem] md:h-24 px-16 md:px-24 xl:pl-6 2xl:pl-8 xl:pr-16 border-b xl:border-2 xl:border-l-0 xl:border-background;
            @apply focus:border-stroke xl:focus:border-background;

            &::placeholder {
                @apply text-gray-550 xl:text-text-main;
                opacity: 1;
            }

            &:-ms-input-placeholder {
                @apply text-gray-550 xl:text-text-main;
            }

            &::-ms-input-placeholder {
                @apply text-gray-550 xl:text-text-main;
            }
        }

        .searchWrap {
            @screen xl {
                @apply flex-shrink-0 w-[4.4rem] 2xl:w-[4.8rem] xl:h-[4.4rem] 2xl:h-[4.8rem] flex items-center justify-center bg-background;
            }
        }

        .searchIcon {
            @apply absolute xl:static z-10 left-4 md:left-8 top-[15px] md:top-8 w-[18px] h-[18px] xl:w-6 xl:h-6 2xl:w-7 2xl:h-7 text-primary xl:text-text-low;
        }

        .clear {
            @apply right-4 md:right-8 xl:right-[12px] top-[15px] md:top-8 xl:top-[12px] 2xl:top-[14px] transform-none;
        }
    }

    &.landing {
        .el {
            @apply font-roboto md:text-16 xl:text-18 px-10 md:px-14 xl:px-16 h-20 xl:h-24 text-text-landing border border-border rounded-[50px] xl:hover:border-secondary focus:border-secondary;

            &._error {
                @apply border-primary;
            }

            &::placeholder {
                @apply text-landing-gray-200;
                opacity: 1;
            }

            &:-ms-input-placeholder {
                @apply text-landing-gray-200;
            }

            &::-ms-input-placeholder {
                @apply text-landing-gray-200;
            }
        }
    }

    &.landing-secondary {
        .el {
            @apply border border-stroke font-roboto text-16 px-5 h-16 text-text-landing border border-border rounded-[4px] xl:hover:border-secondary focus:border-secondary;
            border-color: #CCCCCC;

            &._error {
                @apply border-primary;
            }

            &::placeholder {
                @apply text-landing-gray-200;
                opacity: 1;
            }

            &:-ms-input-placeholder {
                @apply text-landing-gray-200;
            }

            &::-ms-input-placeholder {
                @apply text-landing-gray-200;
            }
        }
    }
}

.el {
    @apply w-full h-full px-6 text-text-main outline-none border-stroke rounded-none
           xl:hover:border-secondary focus:border-secondary
           md:text-[16px] px-8
           2xl:text-[18px];
    transition: border-color .3s ease, box-shadow .3s ease;
    font-family: "Gotham", sans-serif;

    &._error {
        @apply border-primary;
    }

    &._value {
        @apply pr-20;
    }

    &::placeholder {
        @apply text-gray-400 opacity-100;
        text-overflow: ellipsis;
    }

    &:-ms-input-placeholder {
        @apply text-gray-400;
    }

    &::-ms-input-placeholder {
        @apply text-gray-400;
    }
}

.input {
    @apply h-[5.4rem] 2xl:h-24;
}

.textarea {
    @apply h-[12rem] text-[1.4rem] py-4
    md:py-5 md:text-[16px] px-8
    2xl:text-[18px];
    resize: none;

    & ~ .error {
        top: 21px;
    }
}

.label {
    @apply absolute left-[19px] top-1/2 -translate-y-1/2 text-[1.4rem] leading-none text-gray-400 pointer-events-none
           md:left-8
           xl:text-[16px] xl:left-[21px];
    will-change: transform;
    transform-origin: left;
    transition: transform .2s ease;

    &.active {
        transform: scale(.72) translateY(-22px);

        @screen xl {
            transform: scale(.72) translateY(-26px);
        }

        @screen 2xl {
            transform: scale(.72) translateY(-30px);
        }
    }
}

.icon {
    @apply w-full h-full text-primary cursor-pointer;
}

.clear {
    @apply absolute right-8;
    top: 50%;
    transform: translateY(-50%);
}

.close {
    @apply w-8 h-8 text-background cursor-pointer;

    circle, path {
        @apply transition-colors duration-300;
    }

    circle {
        @apply fill-current;
    }

    path {
        @apply text-text-main;
    }

    &:hover {
        @screen xl {
            circle {
                @apply text-primary;
            }

            path {
                @apply text-white;
            }
        }
    }
}

.tooltip {
    @apply text-primary leading-tight relative bg-white px-[1.2rem] py-4;
    position: absolute;
    z-index: 3;
    right: 0;
    top: calc(100% + 15px);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 32px rgba(0, 0, 0, 0.16);

    &::before{
        content: '';
        position: absolute;
        top: -7px;
        left: 25px;
        transform: rotate(45deg);
        width: 15px;
        height: 15px;
        z-index: 1;
        border-radius: 2px 0 0 0;
        @apply border-gray-300 bg-white;
    }
}
</style>
