<template>
    <div
        v-clickoutside="onClickOutside"
        :class="[$style.InputSearch, { [ $style.disabled ]: disabled }]"
    >
        <div
            v-if="design === 'secondary'"
            :class="[$style.label, {[$style.active]: labelActive}]"
        >
            {{ placeholder }}<span v-if="required">*</span>
        </div>

        <input
            v-model="_value"
            :class="[$style.el, $style.input, $style[design], {[$style._error]: error}]"
            :placeholder="design === 'secondary' ? '' : formattedPlaceholder"
            :required="required"
            :disabled="disabled"
            type="text"
            @focus="onFocus"
            @blur="isFocused = false"
            @mouseenter="errorVisible = true"
            @mouseleave="errorVisible = false"
        >

        <input
            ref="vInputTarget"
            v-model="selected"
            :required="required"
            type="hidden"
        >

        <div
            v-if="value && clear"
            :class="$style.clear"
            @click="$emit( 'change', '' )"
        >
            <IconCloseCircle :class="$style.close" />
        </div>

        <div
            v-if="options && options.length && isOpened"
            :class="$style.options"
        >
            <div
                v-for="(item, i) in options"
                :key="`input-search-${i}`"
                :class="$style.option"
                @click="onSelect(item)"
            >
                {{ item.value }}
            </div>
        </div>

        <transition name="fade-common">
            <div
                v-if="error && errorVisible"
                :class="$style.tooltip"
            >
                {{ error }}
            </div>
        </transition>
    </div>
</template>

<script>
export default {
    props:
    {
        design: {
            type   : String,
            default: "primary",
            validator( value )
            {
                return [ "primary", "secondary" ].includes( value )
            }
        },

        value: {
            type   : String,
            default: ""
        },

        options: {
            type   : Array,
            default: () => []
        },

        placeholder: {
            type   : String,
            default: ""
        },

        error: {
            type   : String,
            default: ""
        },

        required: Boolean,
        disabled: Boolean,

        clear: {
            type   : Boolean,
            default: true
        }
    },

    data()
    {
        return {
            selected    : "",
            isFocused   : false,
            isOpened    : false,
            errorVisible: false
        }
    },

    computed:
    {
        _value:
        {
            get()
            {
                return this.value
            },
            set( v )
            {
                this.selected = ""
                this.$emit( "change", v )
            }
        },

        labelActive()
        {
            return Boolean( this._value ) || this.isFocused
        },

        formattedPlaceholder()
        {
            return this.required ? `${this.placeholder}*` : this.placeholder
        }
    },

    methods: {
        onFocus()
        {
            this.isFocused = true
            this.isOpened = true
        },

        onClickOutside()
        {
            this.isOpened = false
        },

        onSelect( item )
        {
            this.selected = item.value
            this.$emit( "select", item )
            this.isOpened = false
        }
    }
}
</script>

<style lang="scss" module>
.InputSearch {
    @apply relative;

    &.disabled {
        .el {
            pointer-events: none;
            opacity: .5;
        }
    }
}

.el {
    @apply font-gotham w-full px-8 border border-stroke outline-none rounded-none
           xl:hover:border-secondary focus:border-secondary;
    transition: border-color .3s ease, box-shadow .3s ease;

    &._error {
        @apply border-red-500;
    }

    &::placeholder {
        @apply opacity-100;
    }

    &:-ms-input-placeholder {
        //@apply text-gray-800;
    }

    &::-ms-input-placeholder {
        //@apply text-gray-800;
    }
}

.input {
    // design
    &.primary {
        @apply md:text-16 2xl:text-18 h-[5.4rem] 2xl:h-24;
    }

    &.secondary {
        @apply h-[4.4rem] pt-[15px]
        md:h-20
        xl:text-[16px] xl:pt-[16px]
        2xl:h-[6rem] 2xl:pt-[1.8rem];
    }
}

.label {
    @apply absolute left-[19px] top-1/2 -translate-y-1/2 text-[1.4rem] leading-none pointer-events-none
           md:left-8
           xl:text-[16px] xl:left-[21px];
    will-change: transform;
    transform-origin: left;
    transition: transform .2s ease;

    &.active {
        transform: scale(.72) translateY(-22px);

        @screen xl {
            transform: scale(.72) translateY(-26px);
        }

        @screen 2xl {
            transform: scale(.72) translateY(-30px);
        }
    }
}

.error {
    @apply absolute right-8 top-1/2 -translate-y-1/2 w-[1.6rem] h-[1.6rem];
}

.icon {
    @apply w-full h-full text-primary cursor-pointer;
}

.options {
    @apply w-full bg-white overflow-hidden;
    position: absolute;
    z-index: 999;
    top: calc(100% + 6px);
    box-shadow: 0 0 20px rgba(182, 182, 182, 0.25);
}

.option {
    @apply relative flex items-center py-4 px-8 transition-colors duration-300 xl:hover:bg-background last:border-none 2xl:text-[15px];
    cursor: pointer;
    user-select: none;

    &:global(.is-selected) {
        @apply bg-gray-100;
    }

    mark {
        @apply text-gray-550 bg-transparent;
    }
}

.scroll {
    width: 100%;
    max-height: 24rem;
}

.clear {
    @apply absolute right-8;
    top: 50%;
    transform: translateY(-50%);
}

.close {
    @apply w-8 h-8 text-background cursor-pointer;

    circle, path {
        @apply transition-colors duration-300;
    }

    circle {
        @apply fill-current;
    }

    path {
        @apply text-text-main;
    }

    &:hover {
        @screen xl {
            circle {
                @apply text-primary;
            }

            path {
                @apply text-white;
            }
        }
    }
}

.tooltip {
    @apply text-primary leading-tight relative bg-white px-[1.2rem] py-4;
    position: absolute;
    z-index: 3;
    right: 0;
    top: calc(100% + 15px);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 32px rgba(0, 0, 0, 0.16);

    &::before{
        content: '';
        position: absolute;
        top: -7px;
        left: 25px;
        transform: rotate(45deg);
        width: 15px;
        height: 15px;
        z-index: 1;
        border-radius: 2px 0 0 0;
        @apply border-gray-300 bg-white;
    }
}
</style>
