<script>
export default {
    functional: true,
    props     : {
        type: {
            type: String
        },
        design: {
            type   : String,
            default: "square",
            validator( val )
            {
                return [
                    "square",
                    "none",
                    "big-nums"
                ].includes( val.toLowerCase() )
            }
        }
    },

    render( h, { props, slots, listeners, data, $style } )
    {
        let constructor = [ slots().before, slots().default, slots().after ]
        const design = props.design
        constructor = h( "BaseList", {
            on   : { ...listeners },
            attrs: { ...data.attrs },
            props: { type: props.type },
            class: [
                data.staticClass,
                data.class,
                $style.list,
                $style[ design ]
            ]
        }, constructor )
        return [ constructor ].filter( Boolean )
    }
}
</script>

<style lang="scss" module>
ol.list{
    list-style: decimal inside;
    &.big-nums{
            counter-reset: counter;
            li{
            list-style: none;
            @apply flex pb-4 md:pb-[1.6rem] 2xl:pb-[1.8rem];

            &::before{
                counter-increment: counter;
                content:counter(counter) ".";
                font-family: "Gotham Pro", sans-serif;
                @apply flex justify-center h-auto text-primary text-[2rem] md:text-[2.2rem] xl:text-[2rem] 2xl:text-[2.4rem] font-normal leading-none pr-4;
            }
        }
    }
}
ul.list{
    &.none{
        list-style-type: none;
    }

    &.square {
        li{
            @apply flex;

            &::before{
                content: '';
                @apply inline-block w-[4px] h-[4px] bg-primary mr-4 mt-[6px];
            }
        }
    }
}
</style>
