<template>
    <BasePagination
        :class="[ $style.Pagination, $style[ design ] ]"
        :link="link"
        :page="page"
        :pages="pages"
        :serializer="serializer"
        :length="length"
    >
        <template #next>
            <IconArrow />
        </template>
        <template #prev>
            <IconArrow />
        </template>
    </BasePagination>
</template>
<script>

export default {
    props: {
        link: {
            type    : String,
            required: true
        },
        page: {
            type    : Number,
            required: true
        },
        pages: {
            type    : Number,
            required: true
        },
        serializer:
        {
            type    : Function,
            required: true
        },
        design: {
            type   : String,
            default: "common",
            validator( val )
            {
                return [ "common", "custom" ].includes( val.toLowerCase() )
            }
        }
    },

    computed: {
        length()
        {
            if ( this.page === 1 || this.page === this.pages )
            {
                return 5
            }
            else if ( this.page > 3 )
            {
                return 3
            }
            else
            {
                return 4
            }
        }
    }
}
</script>

<style lang="scss" module>

.Pagination {
    &.common{
        @apply flex;
        :global(.item){
            @apply flex mr-[6px] last:mr-0 md:mr-4;
        }
        :global(.button){
            @apply border border-stroke flex items-center justify-center text-text-low text-[16px] min-w-[4rem] h-[4rem] max-w-[4rem] md:min-w-[5rem] md:h-[5rem] md:max-w-[5rem] md:text-[18px] 2xl:min-w-[6rem] 2xl:h-[6rem] 2xl:max-w-[6rem] 2xl:text-[20px];
            transition: all .3s ease;

            &:hover {
                @screen xl {
                    box-shadow: 0 4px 10px rgba(171, 171, 171, 0.25);
                }
            }

            &:global(.active){
                @apply bg-primary text-white border-transparent font-medium;
            }
        }
        :global(.dots){
            @apply ml-[6px] bg-secondary border-none pointer-events-none text-transparent md:ml-4;
            position: relative;
            min-width: auto;
            margin-top: auto;
            margin-left: 13px;
            margin-right: 7px;
            width: 3px;
            height: 3px;

            @screen md {
                margin-left: 17px;
                margin-right: 7px;
            }

            @screen 2xl {
                margin-left: 22px;
                margin-right: 12px;
                width: 4px;
                height: 4px;
            }

            &:before,
            &:after {
                @apply bg-secondary;
                position: absolute;
                content: "";
                width: 3px;
                height: 3px;

                @screen 2xl {
                    width: 4px;
                    height: 4px;
                }
            }

            &:before {
                left: -7px;

                @screen 2xl {
                    left: -12px;
                }
            }

            &:after {
                right: -7px;

                @screen 2xl {
                    right: -12px;
                }
            }
        }
        :global(.arrow){
            @apply border-none bg-stroke text-text-low;

            &:global(.first){
                @apply mr-[6px] md:mr-4;

                svg{
                    @apply w-[1rem] rotate-90 md:w-[13px];
                }
            }

            &:global(.last){
                svg{
                    @apply w-[1rem] -rotate-90 md:w-[13px];
                }
            }

            &:global(.disabled){
                display: none;
            }
        }
    }

}
</style>
