<template>
    <div :class="$style.Phone">
        <div class="flex items-center mb-2">
            <div class="bg-green w-2 h-2 rounded-full mr-2" />
            <t class="block text-[12px] leading-tight 2xl:text-[14px]" :class="design === 'black' ? 'text-text-low' : 'text-white'">
                По будням с 9:00 до 18:00
            </t>
        </div>
        <AButton
            type="external"
            :link="`tel:${ cleanPhone }`"
            design="link"
            :class="design === 'black' ? '!text-text-main' : '!text-white'"
            class="text-[20px] leading-tight !font-bold xl:hover:!text-primary 2xl:text-[22px] !justify-start"
        >
            {{ phone }}
        </AButton>
    </div>
</template>

<script>
import { mapGetters } from "vuex"
import { getRandomId } from "@/lib/utilsDom"

export default {
    props: {
        design: {
            type   : String,
            default: "black",
            validator( value )
            {
                return [ "black", "white" ].includes( value )
            }
        }
    },

    data()
    {
        return {
            callbackForm: getRandomId()
        }
    },

    computed: {
        ...mapGetters( [
            "phone",
            "cleanPhone"
        ] )
    }
}
</script>

<style lang="scss" module>
.Phone {
    //
}
</style>
