<template>
    <BaseRadioButton
        :class="[$style.RadioButton, $style[design]]"
        :design="$style[design]"
        v-bind="$props"
        v-on="$listeners"
    >
        <slot />
    </BaseRadioButton>
</template>

<script>
export default {
    props:
    {
        data : [ Number, String ],
        value: [ Number, String ],

        design: {
            type   : String,
            default: "primary",
            validator( val )
            {
                return [ "primary", "secondary", "button" ].includes( val.toLowerCase() )
            }
        },

        required: Boolean,
        disabled: Boolean
    }
}
</script>

<style lang="scss" module>
.RadioButton {
    @apply flex items-center cursor-pointer;

    &.disabled {
        @apply opacity-50 pointer-events-none cursor-not-allowed;
    }
}

// design
.primary {
    &:global(-input) {
        @apply w-8 h-8 border border-stroke bg-background rounded-full
        md:w-[24px] md:h-[24px]
        2xl:w-[28px] 2xl:h-[28px];
        @apply flex items-center flex-shrink-0 justify-center rounded-full;
        transition: background-color .3s ease, border-color .3s ease;

        :global(.active) & {
            @apply border-secondary bg-secondary;
        }
    }

    &:global(-title) {
        @apply h-full;
    }

    &:global(-dot) {
        @apply w-[12px] h-[12px] rounded-full bg-white opacity-0
        md:w-[14px] md:h-[14px]
        2xl:w-[16px] 2xl:h-[16px];
        transition: opacity .3s ease;

        :global(.active) & {
            @apply opacity-100;
        }
    }
}

.button {
    @apply h-20 xl:h-24 xl:px-8 flex justify-center xl:justify-start xl:border-b border-stroke transition-colors duration-300;

    &:global(-title) {
        @apply h-auto text-center text-16 md:text-18 xl:text-16 2xl:text-18 leading-none transition-colors duration-300;

        :global(.active) & {
            @apply text-white;
        }
    }

    &:global(-input) {
        @apply hidden;

        :global(.active) & {
            @apply border-secondary bg-secondary;
        }
    }

    &:global(-dot) {
        @apply hidden;

        :global(.active) & {
            @apply opacity-100;
        }
    }

    &:global(.active) {
        @apply bg-secondary;
    }
}

</style>
