<template>
    <BaseScrollbox
        :class="$style.Scrollbox"
        v-bind="$props"
        v-on="$listeners"
    >
        <slot />
    </BaseScrollbox>
</template>

<script>
export default {
    props: {
        resizable: {
            type   : Boolean,
            default: false
        }
    }
}
</script>

<style lang="scss" module>
.Scrollbox {
    position: relative;
    overflow: hidden;

    :global(.scrollbar) {
        width: 4px;
    }

    :global(._horizontal .scrollbar__thumb) {
        @apply left-0 bottom-0 h-[2px] #{ !important };
    }

    :global(._vertical .scrollbar__thumb) {
        @apply right-0 top-0 w-[2px] #{ !important };
    }

    :global(.scrollbar__thumb) {
        @apply bg-primary;
        border-radius: 4px;
    }
}
</style>
