<template>
    <div :class="$style.wrap">
        <ATooltip
            design="input"
            placement="bottom-end"
            :events="error ? ['mouseenter'] : []"
        >
            <template #key>
                <BaseSelect
                    :class="[$style.Select, {[$style._error]: error}]"
                    v-bind="$props"
                    :design="$style[design]"
                    :animation="$style['select-animation']"
                    @change="$emit('change', $event)"
                >
                    <template
                        v-for="(index, name) in $slots"
                        #[name]
                    >
                        <slot :name="name" />
                    </template>

                    <template #icon>
                        <IconArrow :class="$style.icon" />
                    </template>
                </BaseSelect>
            </template>
            <template #content>
                {{ error }}
            </template>
        </ATooltip>
    </div>
</template>

<script>
export default {
    props: {
        design: {
            type   : String,
            default: "common",
            validator( value )
            {
                return [ "common", "label", "rounded", "form", "compare", "sorting", "admin" ].includes( value )
            }
        },

        error: {
            type   : String,
            default: ""
        },

        value      : [ String, Number, Array ],
        data       : Array,
        disabled   : Boolean,
        multiple   : Boolean,
        placeholder: String
    }
}
</script>

<style lang="scss" module>
.Select {
    &:global(.is-opened) {
        .icon {
            @apply text-green;
            transform: rotate(180deg);
        }
    }
}

.wrap {
    position: relative;
}

.icon {
    @apply w-[14px] text-stroke;
    transition: transform .3s ease, color .3s ease;
}

// animation
.select-animation {
    &:global(-enter-active) {
        transition: opacity .3s;
    }
    &:global(-leave-active) {
        transition: opacity .2s;
        opacity: 0;
    }
    &:global(-enter) {
        opacity: 0;
    }
}

// design
.common {
    &:global(-key) {
        @apply text-text-low text-16 h-16 px-6 border border-stroke transition-colors duration-300;

        .Select:global(.is-opened) & {
            @apply bg-white;
        }

        .Select._error & {
            @apply border-red-500;
        }
    }

    &:global(-text) {
        @apply w-[90%];
    }

    &:global(-placeholder) {
        @apply hidden;
    }

    &:global(-dropdown) {
        @apply w-full bg-white overflow-hidden;
        top: calc(100% + 6px);
        box-shadow: 0 0 20px rgba(182, 182, 182, 0.25);
    }

    &:global(-option) {
        @apply text-16 text-text-low relative leading-none flex items-center h-16 px-6 transition-colors duration-300 xl:hover:bg-background;

        &:global(.is-selected) {
            @apply bg-secondary text-white;
        }

        a {
            @apply absolute left-0 w-full h-full flex items-center px-6;
        }
    }

    &:global(-scroll) {
        width: 100%;
        max-height: 20rem;
    }
}

.admin {
    &:global(-key) {
        @apply font-gotham text-text-low text-16 h-[5.5rem] px-8 border border-stroke bg-white transition-colors duration-300 xl:hover:border-secondary;

        .Select:global(.is-opened) & {
            @apply bg-white;
        }

        .Select._error & {
            @apply border-red-500;
        }
    }

    &:global(-text) {
        @apply w-[90%];
    }

    &:global(-placeholder) {
        @apply hidden;
    }

    &:global(-dropdown) {
        @apply w-full bg-white overflow-hidden;
        top: calc(100% + 6px);
        box-shadow: 0 0 20px rgba(182, 182, 182, 0.25);
    }

    &:global(-option) {
        @apply font-gotham text-16 text-text-low relative leading-none flex items-center h-16 px-6 transition-colors duration-300 xl:hover:bg-background;

        &:global(.is-selected) {
            @apply bg-secondary text-white;
        }

        a {
            @apply absolute left-0 w-full h-full flex items-center px-6;
        }
    }

    &:global(-scroll) {
        width: 100%;
        max-height: 20rem;
    }
}

.compare {
    &:global(-key) {
        @apply text-text-low text-16 h-20 xl:h-[4.4rem] 2xl:h-20 px-4 md:px-6 2xl:px-8 border-t border-b md:border border-stroke transition-colors duration-300;

        .Select:global(.is-opened) & {
            @apply bg-white;
        }

        .Select._error & {
            @apply border-red-500;
        }
    }

    &:global(-text) {
        @apply w-[90%];
    }

    &:global(-placeholder) {
        @apply hidden;
    }

    &:global(-dropdown) {
        @apply w-full bg-white overflow-hidden;
        top: 100%;
        box-shadow: 0 0 20px rgba(182, 182, 182, 0.25);

        @screen xl {
            top: calc(100% + 6px);
        }
    }

    &:global(-option) {
        @apply text-16 text-text-low relative leading-none flex items-center py-6 xl:py-5 2xl:py-6 px-4 md:px-6 2xl:px-8 transition-colors duration-300 hover:bg-background;

        &:global(.is-selected) {
            @apply bg-secondary text-white;
        }

        a {
            @apply absolute left-0 w-full h-full flex items-center px-6;
        }
    }

    &:global(-scroll) {
        width: 100%;
        max-height: 40rem;
    }
}

.sorting {
    &:global(-key) {
        @apply text-text-low text-[16px] h-20 px-6 transition-colors duration-300;

        .Select._error & {
            @apply border-red-500;
        }
    }

    &:global(-text) {
        @apply w-[90%];
    }

    &:global(-placeholder) {
        @apply hidden;
    }

    &:global(-dropdown) {
        @apply w-full bg-white overflow-hidden;
        top: calc(100% + 6px);
        box-shadow: 0 0 20px rgba(182, 182, 182, 0.25);
    }

    &:global(-option) {
        @apply text-[16px] text-text-low relative leading-none flex items-center h-16 px-6 transition-colors duration-300 hover:bg-background;

        &:global(.is-selected) {
            @apply bg-secondary text-white;
        }

        a {
            @apply absolute left-0 w-full h-full flex items-center px-6;
        }
    }

    &:global(-scroll) {
        width: 100%;
        max-height: 20rem;
    }
}
</style>
