<template>
    <BaseShowmore
        :class="[$style.Showmore, $style[design]]"
        :design="$style[design]"
        :visible-height="visibleHeight"
        v-bind="$props"
        v-on="$listeners"
    >
        <template #content>
            <slot name="content" />
        </template>
    </BaseShowmore>
</template>

<script>

export default {
    props: {
        design: {
            type   : String,
            default: "primary",
            validator( value )
            {
                return [ "primary" ].includes( value )
            }
        },

        visibleHeight: {
            type   : Number,
            default: 0
        },

        titleOpen : String,
        titleClose: String,
        disabled  : Boolean
    }
}
</script>

<style lang="scss" module>
.Showmore {
    &:global(.is-opened) {
        .plus:before {
            transform: rotate(0);
        }

        .arrow {
            transform: rotate(180deg);
        }
    }
}

// design
.primary {
    &:global(-key) {
        @apply font-gotham relative text-secondary font-medium leading-none cursor-pointer
        xl:hover:text-primary
        2xl:md:text-16;
        transition: color .3s ease;

        span {
            @apply leading-tight;
        }
    }

    &:global(-container) {
        transition: max-height .2s ease;
    }
}
</style>
