<template>
    <div :class="$style.Skeleton" />
</template>

<script>
export default {}
</script>

<style lang="scss" module>
.Skeleton {
    @apply bg-stroke;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        will-change: transform;
        transform: translateX(-100%);
        background-image: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0) 0,
                rgba(255, 255, 255, .2) 30%,
                rgba(255, 255, 255, .8) 50%,
                rgba(255, 255, 255, .2) 70%,
                rgba(255, 255, 255, 0)
        );
        animation: shimmer 1.5s infinite;
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
</style>
