<template>
    <div :class="$style.Slider">
        <VueSlider
            v-model="_value"
            :min="_min"
            :max="_max"
            tooltip="none"
            dot-size="24"
            height="5"
        />
    </div>
</template>

<script>
function stayInBounds( value, min, max )
{
    let ok = true
    value = value.map( x => x )

    if ( value[ 0 ] < min )
    {
        value[ 0 ] = min
        ok = false
    }
    if ( value[ 1 ] > max )
    {
        value[ 1 ] = max
        ok = false
    }
    if ( value[ 0 ] % 1 !== 0 )
    {
        value[ 0 ] = Math.floor( value[ 0 ] )
        ok = false
    }
    if ( value[ 1 ] % 1 !== 0 )
    {
        value[ 1 ] = Math.ceil( value[ 1 ] )
        ok = false
    }

    return { value, ok }
}

export default {
    props: {
        value: [ Number, Array ],
        min  : Number,
        max  : Number
    },

    computed:
    {
        _min()
        {
            return Math.floor( this.min )
        },
        _max()
        {
            return Math.ceil( this.max )
        },
        _value:
        {
            get()
            {
                let _value
                if ( this.value instanceof Array )
                {
                    _value = this.value
                }
                else
                {
                    _value = [ this.value, this.value ]
                }

                const { value, ok } = stayInBounds( _value, this._min, this._max )

                if ( ok )
                {
                    return this.value
                }
                else if ( this.value instanceof Array )
                {
                    this.$emit( "change", value )
                    return value
                }
                else if ( this.value < this._min )
                {
                    this.$emit( "change", value[ 0 ] )
                    return value[ 0 ]
                }
                else if ( this.value > this._max )
                {
                    this.$emit( "change", value[ 1 ] )
                    return value[ 1 ]
                }
                else
                {
                    return value[ 0 ]
                }
            },
            set( v )
            {
                this.$emit( "change", v )
            }
        }
    }
}
</script>

<style lang="scss" module>
.Slider {
    :global(.vue-slider) {
        padding: 10px 0 !important;
    }

    :global(.vue-slider-dot-handle) {
        @apply rounded-none border-[5px] border-secondary;
        box-shadow: none;
        transition: box-shadow .3s ease;
    }

    :global(.vue-slider-ltr) {
        height: 5px;

        &:before {
            @apply bg-stroke;
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 5px;
        }
    }

    :global(.vue-slider-rail) {
        @apply bg-stroke rounded-none;
        width: calc(100% - 24px) !important;
        margin: 0 auto;
    }

    :global(.vue-slider-process) {
        @apply bg-secondary rounded-none;
    }
}
</style>
