<template>
    <div
        :class="[$style.Switcher, $style[design]]"
    >
        <BaseSwitcher
            :value-class="$style.value"
            :class="$style.container"
            v-bind="$props"
            v-on="$listeners"
        >
            <template
                v-for="(index, name) in $slots"
                #[name]
            >
                <slot :name="name" />
            </template>
        </BaseSwitcher>
    </div>
</template>

<script>
export default {
    props: {
        value  : [ Number, String ],
        data   : Array,
        inverse: Boolean,

        design: {
            type   : String,
            default: "primary",
            validator( value )
            {
                return [ "primary", "secondary" ].includes( value )
            }
        }
    }
}
</script>

<style lang="scss" module>
.Switcher {

    // design
    &.primary {
        @apply relative flex border border-stroke;

        .value {
            @apply relative flex items-center justify-center h-[4.5rem] px-16 text-[15px] text-text-low leading-none cursor-pointer
                   xl:hover:bg-gray-100
                   2xl:h-[6rem] 2xl:text-[1.8rem];
            user-select: none;
            letter-spacing: 0.01em;

            &:global(.is-active) {
                @apply text-white bg-secondary font-bold;
            }

            a {
                @apply w-full h-full flex justify-center items-center;
            }
        }
    }

    &.secondary {
        @apply relative flex;

        .value {
            @apply relative flex items-center justify-center flex-1 text-gray-300 font-medium cursor-pointer;
            user-select: none;
            z-index: 2;
            transition: color .3s ease;

            &:global(.is-active) {
                @apply text-secondary;
            }

            a {
                @apply absolute w-full h-full flex justify-center items-center;
            }

            &:first-child {
                @apply mr-3 2xl:mr-4;
            }

            &:last-child {
                @apply ml-3 2xl:ml-4;
            }
        }
    }
}
</style>
