<template>
    <div class="mb-6 md:mb-8 2xl:mb-12">
        <t type="h1" design="h1-page" class="!mb-0 !inline-block mr-2 md:mr-4">
            {{ h1 }}
        </t>

        <t v-if="count" class="inline-block text-text-main leading-none tracking-wide text-12 md:text-14 2xl:text-16 font-normal opacity-80">
            {{ count }}&nbsp;{{ plural }}
        </t>
    </div>
</template>

<script>
import { plural } from "@/lib/utils"

export default {
    props: {
        h1: {
            type   : String,
            default: ""
        },

        count: {
            type   : Number,
            default: 0
        }
    },

    computed: {
        plural()
        {
            return plural( this.count, [ "товар", "товара", "товаров" ] )
        }
    }
}
</script>

<style lang="scss" module>
.TitleCount {
    //
}
</style>
