<template>
    <AButton
        design="custom"
        :link="link"
        :class="$style.TitleLink"
    >
        <t type="h2" design="h2">
            {{ title }}
        </t>

        <IconArrowCircle class="w-8 h-8 xl:w-10 xl:h-10 2xl:w-[28px] 2xl:h-[28px] ml-4 xl:ml-6" />
    </AButton>
</template>

<script>
export default {
    props: {
        title: {
            type   : String,
            default: ""
        },

        link: {
            type   : String,
            default: ""
        }
    }
}
</script>

<style lang="scss" module>
.TitleLink {
    @apply font-circe flex items-center #{ !important };
    transition: color .3s ease;

    &:hover {
        @screen xl {
            @apply text-white;

            circle {
                fill: red;
            }
        }
    }

    circle {
        @apply transition-all duration-300;
    }
}
</style>
