<script>
export default {
    functional: true,
    props     : {
        design: {
            type   : String,
            default: "common",
            validator( val )
            {
                return [ "common", "input", "filter" ].includes( val.toLowerCase() )
            }
        },
        animation: {
            type   : String,
            default: "fade",
            validator( val )
            {
                return [ "fade" ].includes( val.toLowerCase() )
            }
        }

    },

    render( h, { props, slots, listeners, data, $style } )
    {
        const classes = [
            $style.tooltip,
            $style[ props.design ],
            $style[ props.animation ]
        ]

        let constructor = [ slots().key, slots().content ]
        constructor = h( "div", { class: "tooltip" }, [ h( "BaseTooltip", {
            on   : { ...listeners },
            attrs: { ...data.attrs },
            class: [
                data.staticClass,
                data.class,
                ...classes
            ]
        }, [
            h( "template", { slot: "key" }, slots().key ),
            h( "template", { slot: "content" }, slots().content )
        ] ) ] )
        return [ constructor ].filter( Boolean )
    }
}
</script>

<style lang="scss" module>

.tooltip {
     /* Design */
    &.common{
        & + div[id*="tippy"]{
            [data-placement*='top']{
                :global(.tippy-arrow){
                    bottom: 7.6px;
                }
            }
        }

        & + div[id*="tippy"]{
            [data-placement*='bottom']{
                :global(.tippy-arrow){
                    top: -7.5px;
                }
            }
        }

        & + div[id*="tippy"] :global(.tippy-box)
        {
            & + :global(.vue-portal-target){
                @apply text-[14px] font-normal relative bg-white px-[1.2rem] py-4 leading-tight;
                z-index: 20;
                visibility: visible!important;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 32px rgba(0, 0, 0, 0.16);
            }

            & :global(.tippy-arrow){
                z-index: 21;

                &::before{
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%) rotate(45deg);
                    width: 15px;
                    height: 15px;
                    z-index: -1;
                    @apply bg-white;
                }
            }
        }
    }

    &.input{
        & + div[id*="tippy"]{
            [data-placement*='top']{
                :global(.tippy-arrow){
                    bottom: 7.6px;

                    &::before{
                        border-radius: 0 0 3px 0;
                    }
                }
            }
        }

        & + div[id*="tippy"]{
            [data-placement*='bottom']{
                :global(.tippy-arrow){
                    top: -7.5px;

                    &::before{
                        border-radius: 3px 0 0 0;
                    }
                }
            }
        }

        & + div[id*="tippy"] :global(.tippy-box)
        {
            & + :global(.vue-portal-target){
                text-align: center;
                z-index: 20;
                visibility: visible!important;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 32px rgba(0, 0, 0, 0.16);
                @apply text-primary leading-tight relative bg-white px-[1.2rem] py-4 leading-tight;
                width: max-content;
            }

            & :global(.tippy-arrow){
                z-index: 21;
                left: 3rem !important;
                transform: translateX(0) !important;

                &::before{
                    content: '';
                    position: absolute;
                    transform: rotate(45deg);
                    width: 15px;
                    height: 15px;
                    z-index: -1;
                    @apply border-gray-300 bg-white;
                }
            }
        }
    }

    &.filter{
        & + div[id*="tippy"]{
            [data-placement*='top']{
                :global(.tippy-arrow){
                    bottom: 7.6px;
                }
            }
        }

        & + div[id*="tippy"]{
            [data-placement*='bottom']{
                :global(.tippy-arrow){
                    top: -7.5px;
                }
            }
        }

        & + div[id*="tippy"] :global(.tippy-box)
        {
            & + :global(.vue-portal-target){
                @apply text-[14px] font-normal relative bg-white px-[1.2rem] py-4 leading-tight;
                z-index: 20;
                visibility: visible!important;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 32px rgba(0, 0, 0, 0.16);
                width: calc(100vw - 2rem);
                margin: 0 5px;

                @screen md {
                    width: 490px;
                    margin: 0 15px;
                }

                @screen xl {
                    width: 260px;
                    margin: 0 10px;
                }

                @screen 2xl {
                    width: 290px;
                    margin: 0 15px;
                }
            }

            & :global(.tippy-arrow){
                z-index: 21;

                &::before{
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%) rotate(45deg);
                    width: 15px;
                    height: 15px;
                    z-index: -1;
                    @apply bg-white;
                }
            }
        }
    }
    /* Design */

    /* Animation */
    &.fade {
        & + div[id*="tippy"]{
            animation: fadeIn .3s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
            &[class~="out"]{
                animation: fadeOut .3s cubic-bezier(0.39, 0.575, 0.565, 1);
            }
        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
    /* Animation */
}

</style>
