<template>
    <div :class="$style.AuthorPage">
        <MBreadcrumbs :data="breadcrumbs" />

        <c>
            <t type="h1" design="h1-page">
                {{ h1 }}
            </t>

            <div class="md:flex">
                <BaseImage
                    v-if="author.image && author.image.imageSrc"
                    :src="author.image.imageSrc"
                    :ext="author.image.imageTypes"
                    :class="$style.image"
                />

                <div>
                    <t type="h3" class="text-text-main font-bold text-24 md:text-28 2xl:text-34 text">
                        {{ author.firstName }} {{ author.lastName }}
                    </t>

                    <div class="mt-4 2xl:mt-6 leading-tight tracking-wide">
                        <t :class="$style.subtitle">
                            Специальность:
                        </t>
                        <t class="md:text-16 2xl:text-18">
                            {{ author.specialty }}
                        </t>
                    </div>

                    <t :class="$style.subtitle" class="block mt-8 2xl:mt-10 mb-2 md:mb-4">
                        Категории:
                    </t>
                    <div class="flex flex-wrap items-center m-[-4px] xl:-m-2">
                        <div
                            v-for="(item, i) in categories"
                            :key="`author-categories-${i}`"
                            :class="$style.categoryWrap"
                        >
                            <AButton
                                design="custom"
                                :link="linkCategory( item.slug )"
                                :class="$style.category"
                            >
                                {{ item.title }}
                            </AButton>
                        </div>
                    </div>

                    <div
                        v-if="author.description"
                        class="hidden xl:block xl:mt-8 2xl:mt-10"
                    >
                        <t :class="$style.subtitle">
                            Подробнее об авторе:
                        </t>

                        <t type="p" class="block mt-2 2xl:text-18">
                            {{ author.description }}
                        </t>
                    </div>
                </div>
            </div>

            <div
                v-if="author.description"
                class="hidden md:block xl:hidden md:mt-8"
            >
                <t :class="$style.subtitle">
                    Подробнее об авторе:
                </t>

                <t type="p" class="block mt-2">
                    {{ author.description }}
                </t>
            </div>

            <div :class="$style.block">
                <t type="h2" design="h2">
                    Последние статьи автора
                </t>

                <div class="grid grid-cols-2 md:grid-cols-3 2xl:grid-cols-4 mt-6 md:mt-8">
                    <AButton
                        v-for="(post, i) in latestPosts"
                        :key="`blog-posts-${i}`"
                        design="custom"
                        :class="$style.card"
                        :link="linkPost( post.fslug )"
                    >
                        <BaseImage
                            v-if="post.image && post.image.imageSrc"
                            :src="post.image.imageSrc"
                            :ext="post.image.imageTypes"
                            :class="$style.imageCard"
                        />

                        <div class="p-4 md:pb-6 xl:p-8 flex flex-col justify-between h-full">
                            <div>
                                <t type="h4" :class="$style.title">
                                    {{ post.title }}
                                </t>

                                <t type="p" :class="$style.text">
                                    {{ post.description }}
                                </t>
                            </div>

                            <div class="flex mt-12 md:mt-16 xl:mt-12 text-gray-750 text-[8px] md:text-10 xl:text-16 2xl:text-16 leading-none font-bold">
                                <div v-if="post.createdAt" class="mr-2">
                                    {{ date( post.createdAt ) }}
                                </div>

                                <div v-if="post.author && post.author.firstName && post.author.lastName">
                                    Автор:

                                    {{ post.author.firstName }} {{ post.author.lastName }}
                                </div>
                            </div>
                        </div>
                    </AButton>
                </div>
            </div>

            <div :class="$style.block">
                <t type="h2" design="h2">
                    Все статьи автора
                </t>

                <div class="mt-6 md:mt-8">
                    <div>
                        <AButton
                            v-for="(post, i) in posts"
                            :key="`blog-posts-${i}`"
                            design="custom"
                            :class="$style.post"
                            :link="linkPost( post.fslug )"
                        >
                            {{ post.title }}
                        </AButton>
                    </div>

                    <APagination
                        v-if="pages > 1 && paginationUrl"
                        :page="page"
                        :pages="pages"
                        :link="paginationUrl"
                        :serializer="paginationToUrl"
                        class="mt-4 md:mt-6"
                    />
                </div>
            </div>

            <div :class="$style.reviews">
                <div class="full-background xl:before:hidden md:mb-10 xl:mb-0">
                    <div class="line-top md:line-bottom xl:before:hidden xl:after:hidden pb-12 pt-8 md:pt-10 xl:py-10 xl:px-5 2xl:px-6 2xl:py-12 bg-background xl:border border-stroke">
                        <t :class="[$style.blockTitle, {'!mb-0': !reviews.length}]" class="xl:px-5 2xl:px-6">
                            Отзывы об авторе
                            <t class="font-normal">
                                ({{ reviews.length }})
                            </t>
                        </t>

                        <div class="xl:hidden">
                            <MComment
                                v-for="(item, i) in reviews.slice(0, visibleReviews)"
                                :key="`reviews-${i}`"
                                :data="item"
                            />

                            <AButton
                                v-if="visibleReviews < reviews.length"
                                type="button"
                                design="custom"
                                class="w-full h-20 md:h-24 mt-6 !font-circe text-text-main font-bold bg-white border border-stroke text-15 md:text-16"
                                @click="visibleReviews += 3"
                            >
                                Загрузить еще
                            </AButton>
                        </div>

                        <AScrollbox
                            class="hidden xl:block max-h-[90rem]"
                        >
                            <div class="xl:px-5 2xl:px-6">
                                <MComment
                                    v-for="(item, i) in reviews"
                                    :key="`reviews-${i}`"
                                    :data="item"
                                />
                            </div>
                        </AScrollbox>
                    </div>
                </div>

                <div class="full-background xl:before:hidden">
                    <div class="line-top line-bottom xl:before:hidden xl:after:hidden pt-10 pb-12 xl:p-10 2xl:p-12 bg-background xl:border border-stroke">
                        <FormReview
                            :id="author.id"
                            model="articleauthor"
                        >
                            <t :class="$style.blockTitle">
                                Оставить отзыв
                            </t>
                        </FormReview>
                    </div>
                </div>
            </div>
        </c>
    </div>
</template>

<script>
import qs from "qs"
import { ARTICLES } from "@/lib/blog/types/const"
import { AUTHORS, POSTS, CATEGORIES } from "@/lib/blog/names/const"
import { getDescription, getH1, getTitle } from "@/lib/seo"
import { AUTHOR, ARTICLE, ARTICLES_CATEGORY } from "@/lib/url/const"
import { urlToPagination } from "@/lib/url"
import { dateToString } from "@/lib/utils"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { $api, params, query, error, route } )
    {
        const limit = 12
        const page = parseInt( query.page ) || 1
        const index = page > 1 ? "noindex, nofollow" : "index, follow"

        const authors = await $api.blog.list( ARTICLES, AUTHORS, { fslug: params.slug } )
        if ( !authors.results.length )
        {
            return error( { statusCode: 404 } )
        }

        const author = authors.results[ 0 ]
        const categories = await $api.blog.listAll( ARTICLES, CATEGORIES, { author: author.id } )
        const postsRes = await $api.blog.list( ARTICLES, POSTS, { author: author.id, limit } )
        const posts = postsRes.results

        const pages = Math.ceil( postsRes.count / limit )
        const pagination = urlToPagination( route.path )
        const paginationUrl = pagination.url

        const reviews = await $api.comments.listAll( "articleauthor", { sort: "-created_at", id: author.id } )

        return {
            author,
            categories,
            posts,
            latestPosts: posts.slice( 0, 8 ),
            limit,
            pages,
            page,
            paginationUrl,
            count      : postsRes.count,
            reviews,
            index
        }
    },

    data()
    {
        return {
            h1  : getH1( AUTHOR ),
            meta: {
                title      : getTitle( AUTHOR ),
                description: getDescription( AUTHOR )
            },

            author        : {},
            categories    : [],
            posts         : [],
            latestPosts   : [],
            reviews       : [],
            visibleReviews: 3,
            count         : 0,
            pages         : 0,
            page          : 0,
            paginationUrl : "",
            index         : ""
        }
    },

    computed: {
        breadcrumbs()
        {
            return [
                {
                    link : "/authors/",
                    title: "Авторы"
                },
                {
                    link : "",
                    title: `${this.author.firstName} ${this.author.lastName}`
                }
            ]
        }
    },

    watch: {
        "$route.query.page": {
            handler( e )
            {
                this.page = parseInt( e )
                this.updatePosts()

                if ( process.client )
                {
                    window.scrollTo( 0, 0 )
                }
            }
        },

        page()
        {
            this.index = this.page > 1 ? "noindex, nofollow" : "index, follow"
        }
    },

    methods: {
        paginationToUrl( o )
        {
            return `${o.url}?${this.genQuery( o.page )}`
        },

        genQuery( page )
        {
            const data = {
                page
            }
            return qs.stringify( data, { arrayFormat: "comma", encode: false, skipNulls: true } )
        },

        async updatePosts()
        {
            try
            {
                const data = {
                    limit : this.limit || null,
                    page  : this.page || null,
                    author: this.author.id
                }
                const res = await this.$api.blog.list( ARTICLES, POSTS, data )

                const pages = Math.ceil( res.count / this.limit )
                this.count = res.count
                this.pages = pages
                this.posts = res.results
            }
            catch ( e )
            {
                console.warn( "updateProducts: ", e )
            }
        },

        linkCategory( fslug )
        {
            return this.$getUrl( ARTICLES_CATEGORY, { fslug } )
        },

        linkPost( fslug )
        {
            return this.$getUrl( ARTICLE, { fslug } )
        },

        date( date )
        {
            const res = new Date( date )
            return dateToString( res )
        }
    }
}
</script>

<style lang="scss" module>
.AuthorPage {
    @apply pb-16 xl:pb-20 2xl:pb-24 overflow-hidden;
}

.image {
    @apply w-[34rem] h-[34rem] md:w-[20rem] md:min-w-[20rem] md:h-[20rem] xl:min-w-[27.5rem] xl:h-[27.5rem] 2xl:min-w-[40rem] 2xl:h-[40rem] mb-6 md:mb-0 md:mr-6 xl:mr-8 2xl:mr-12 flex-shrink-0;
}

.subtitle {
    @apply text-text-main font-bold tracking-wide leading-tight md:text-16 2xl:text-18;
}

.categoryWrap {
    @apply p-[4px] xl:p-2;
}

.category {
    @apply font-circe flex justify-center items-center border border-stroke text-secondary h-12 xl:h-14 2xl:h-16 px-[8px] xl:px-4 2xl:px-6 font-medium xl:text-15 2xl:text-18 #{ !important };
    transition: all .3s ease;

    &:hover {
        @screen xl {
            box-shadow: 0 0 30px rgba(112, 112, 112, 0.2);
        }
    }
}

.card {
    @apply relative z-10 font-circe flex flex-col border-b border-r border-stroke last:border-b cursor-pointer #{ !important };
    transition: all .3s ease;

    &:nth-child(1) {
        @apply border-t;
    }

    &:nth-child(2) {
        @apply border-t;
    }

    &:nth-child(3) {
        @apply md:border-t;
    }

    &:nth-child(4) {
        @apply 2xl:border-t;
    }

    &:nth-child(odd) {
        @apply border-l md:border-l-0;
    }

    &:nth-child(3n + 1) {
        @apply md:border-l xl:border-l-0;
    }

    &:nth-child(4n + 1) {
        @apply 2xl:border-l;
    }

    &:hover {
        @screen xl {
            @apply z-20 #{ !important };
            box-shadow: 0 0 30px rgba(112, 112, 112, 0.2);

            .title {
                @apply text-primary;
            }
        }
    }
}

.imageCard {
    @apply w-full h-[14rem] md:h-[18rem] xl:h-[28rem];
    object-fit: cover;
}

.title {
    @apply text-text-main font-medium leading-tight tracking-wide font-bold md:text-16 xl:text-20 transition-colors duration-300;
}

.text {
    @apply leading-tight tracking-wide text-[11px] md:text-12 xl:text-15 mt-4;
}

.block {
    @apply mt-12 md:mt-16 xl:mt-20;
}

.post {
    @apply relative z-10 flex w-full font-circe relative font-bold text-12 md:text-16 xl:text-20 text-secondary tracking-wide leading-tight p-4 md:p-5 xl:p-7 border-t border-l border-r last:border-b border-stroke #{ !important };
    transition: all .3s ease;

    &:before {
        @apply w-1 h-1 md:w-2 md:h-2 rounded-full bg-secondary mt-2 md:mt-[6px] xl:mt-[8px] mr-4 xl:mr-6 flex-shrink-0 transition-colors duration-300;
        content: "";
    }

    &:hover {
        @screen xl {
            @apply text-primary z-20 #{ !important };
            box-shadow: 0 0 30px rgba(112, 112, 112, 0.2);

            &:before {
                @apply bg-primary;
            }
        }
    }
}

.blockTitle {
    @apply block font-gotham font-medium text-18 2xl:text-24 leading-none text-text-main mb-6 2xl:mb-8;
}

.reviews {
    @apply mt-12 md:mt-16 xl:mt-20;

    @screen xl {
        display: grid;
        grid-template-columns: 768px 1fr;
        grid-gap: 2rem;
    }

    @screen 2xl {
        grid-template-columns: 110rem 1fr;
        grid-gap: 2.5rem;
    }
}
</style>
