<template>
    <div :class="$style.AuthorsPage">
        <MBreadcrumbs :data="[ { title: h1 } ]" />

        <c>
            <t type="h1" design="h1-page">
                {{ h1 }}
            </t>

            <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
                <AButton
                    v-for="(item, i) in authors"
                    :key="`articles-categories-${i}`"
                    :class="$style.card"
                    design="custom"
                    :link="link( item.fslug )"
                >
                    <BaseImage
                        v-if="item.image && item.image.imageSrc"
                        :src="item.image.imageSrc"
                        :ext="item.image.imageTypes"
                        :class="$style.image"
                    />

                    <t type="h4" :class="$style.title">
                        {{ item.firstName }} {{ item.lastName }}
                    </t>

                    <t type="p" :class="$style.count">
                        {{ item.postsCount }} {{ plural(item.postsCount) }}
                    </t>
                </AButton>
            </div>
        </c>
    </div>
</template>

<script>
import { ARTICLES } from "@/lib/blog/types/const"
import { AUTHORS } from "@/lib/blog/names/const"
import { AUTHORS as AUTHORS_LIST, AUTHOR } from "@/lib/url/const"
import { getTitle, getDescription, getH1 } from "@/lib/seo"
import { plural } from "@/lib/utils"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { $api } )
    {
        const authors = await $api.blog.listAll( ARTICLES, AUTHORS )

        return {
            authors
        }
    },

    data()
    {
        return {
            h1  : getH1( AUTHORS_LIST ),
            meta: {
                title      : getTitle( AUTHORS_LIST ),
                description: getDescription( AUTHORS_LIST )
            },

            authors: []
        }
    },

    methods: {
        plural( num )
        {
            return plural( num, [ "статья", "статьи", "статей" ] )
        },

        link( fslug )
        {
            return this.$getUrl( AUTHOR, { fslug } )
        }
    }
}
</script>

<style lang="scss" module>
.AuthorsPage {
    @apply pb-16 xl:pb-20 2xl:pb-24;
}

.card {
    @apply flex flex-col items-center text-center p-6 md:p-8 2xl:p-10 border-b border-r border-stroke cursor-pointer;
    transition: box-shadow .3s ease;

    &:nth-child(1) {
        @apply border-t;
    }

    &:nth-child(2) {
        @apply border-t;
    }

    &:nth-child(3) {
        @apply md:border-t;
    }

    &:nth-child(4) {
        @apply xl:border-t;
    }

    &:nth-child(odd) {
        @apply border-l md:border-l-0;
    }

    &:nth-child(3n + 1) {
        @apply md:border-l xl:border-l-0;
    }

    &:nth-child(4n + 1) {
        @apply xl:border-l;
    }

    &:hover {
        @screen xl {
            box-shadow: 0 0 30px rgba(112, 112, 112, 0.2);

            .title {
                @apply text-primary;
            }
        }
    }
}

.image {
    @apply w-[10rem] h-[10rem] md:w-[14rem] md:h-[14rem] xl:w-[18rem] xl:h-[18rem] 2xl:w-[24rem] 2xl:h-[24rem] rounded-full;
    object-fit: contain;
}

.title {
    @apply mt-4 2xl:mt-16 font-gotham text-text-main leading-tight text-15 md:text-16 xl:text-18 2xl:text-20 font-medium transition-colors duration-300;
}

.count {
    @apply leading-none tracking-wide font-circe text-12 xl:text-14 2xl:text-18 mt-2 md:mt-4;
}
</style>
