<template>
    <section class="relative">
        <BaseImage :src="image.src" class="absolute left-0 right-0 z-[-1] !w-full !h-full object-cover" :ext="image.ext" />

        <MBreadcrumbs v-if="breadcrumbs" design="transparent" :data="breadcrumbs" />
        <c class="!bg-transparent">
            <div class="flex items-center relative pt-16 pb-[10rem] xl:pb-[12rem] 2xl:pt-[10rem] 2xl:pb-[18rem]">
                <div class="flex flex-col justify-center w-full">
                    <t type="h1" class="uppercase text-stroke text-14 font-medium font-gotham leading-tight 2xl:text-18">
                        <slot name="page" />
                    </t>

                    <div class="my-4 md:my-5 xl:my-6 2xl:mt-8 2xl:mb-10 xl:max-w-[96rem] 2xl:max-w-[138rem]">
                        <slot name="title" />
                    </div>

                    <T class="text-white leading-snug tracking-wide text-12 md:text-14 xl:text-16 2xl:text-20 max-w-[66rem] block">
                        <slot name="subtitle" />
                    </T>
                </div>
            </div>
        </c>
    </section>
</template>
<script>
export default {
    props: {
        breadcrumbs: {
            type    : Array,
            required: true
        },
        image: {
            type    : Object,
            required: true
        }
    }
}
</script>
