<template>
    <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.9372 27.8393C22.3152 27.8393 28.2963 21.8582 28.2963 14.4802C28.2963 7.10216 22.3152 1.12109 14.9372 1.12109C7.55919 1.12109 1.57812 7.10216 1.57812 14.4802C1.57812 21.8582 7.55919 27.8393 14.9372 27.8393Z" stroke="#FF3E3D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M15.8688 12.4305C15.8688 12.9828 16.3165 13.4305 16.8688 13.4305H19.0514C19.5343 13.4305 19.9258 13.8219 19.9258 14.3048C19.9258 14.7877 19.5343 15.1792 19.0514 15.1792H16.8688C16.3165 15.1792 15.8688 15.6269 15.8688 16.1792V18.8465C15.8688 19.3597 15.4527 19.7758 14.9395 19.7758C14.4262 19.7758 14.0101 19.3597 14.0101 18.8465V16.1792C14.0101 15.6269 13.5624 15.1792 13.0101 15.1792H10.8275C10.3446 15.1792 9.95312 14.7877 9.95312 14.3048C9.95312 13.8219 10.3446 13.4305 10.8275 13.4305H13.0101C13.5624 13.4305 14.0101 12.9828 14.0101 12.4305V10.1129C14.0101 9.59966 14.4262 9.18359 14.9395 9.18359C15.4527 9.18359 15.8688 9.59966 15.8688 10.1129V12.4305Z" fill="#FF3E3D" />
        <path d="M31.639 31.1781L24.375 23.9141" stroke="#FF3E3D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</template>
