<template>
    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_557_142056)">
            <path d="M31.7176 17.7879H16.1613" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M31.7183 17.7867L12.6264 26.9791L16.162 17.7867L12.6264 8.59428L31.7183 17.7867Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </g>
        <defs>
            <clipPath id="clip0_557_142056">
                <rect width="24" height="24" fill="white" transform="translate(17.5762 0.816406) rotate(45)" />
            </clipPath>
        </defs>
    </svg>
</template>
