<template>
    <a
        :href="link"
        class="block"
        :class="{ 'pointer-events-none': disabled }"
        rel="nofollow"
        @click="add( $event )"
    >
        <AButton
            v-bind="$attrs"
            :link="link"
            :type="canBuy ? 'button' : 'internal'"
            class="w-full h-full !p-0"
            :design="design"
        >
            <slot />
        </AButton>
    </a>
</template>

<script>
import { mapGetters, mapActions } from "vuex"
import { addProduct } from "@/lib/products"
import { PRODUCT } from "@/lib/url/const"
import { CART } from "@/lib/products/const"

export default {
    props:
    {
        data:
        {
            type    : Object,
            required: true
        },

        openModal:
        {
            type   : Boolean,
            default: true
        },

        design  : String,
        disabled: Boolean
    },

    computed:
    {
        ...mapGetters( "regions", [
            "regionSlug"
        ] ),

        link()
        {
            return this.$getUrl( PRODUCT, {
                fslug: this.data.fslug,
                city : this.regionSlug
            } )
        },

        canBuy()
        {
            return !!this.data.data.price
        }
    },

    methods: {
        ...mapActions( "cart", [
            "addToCart"
        ] ),

        async add( e )
        {
            e.preventDefault()

            if ( !this.canBuy )
            {
                return
            }

            const product = {
                ...this.data,
                price: this.data.data.price
            }

            await addProduct( CART, {
                product,
                action: this.addToCart
            } )

            if ( this.openModal )
            {
                this.$emit( "modal" )
            }

            if ( window.ym )
            {
                window.ym( 51056009, "reachGoal", "kupit" )
            }

            this.$emit( "success" )
        }
    }
}
</script>
