@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .line-top {
        position: relative;
    }

    .line-top:before {
        @apply bg-stroke;
        content: "";
        position: absolute;
        top: 0;
        left: -100vw;
        height: 1px;
        width: 300vw;
    }

    .line-bottom {
        position: relative;
    }

    .line-bottom:after {
        @apply bg-stroke;
        content: "";
        position: absolute;
        bottom: 0;
        left: -100vw;
        height: 1px;
        width: 300vw;
    }

    .full-background {
        position: relative;
        z-index: 1;
    }

    .full-background:before {
        @apply bg-background;
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: -50%;
        height: 100%;
        width: 300vw;
    }

    .text {
        @apply leading-none tracking-wide;
    }
}

@font-face {
    font-family: 'Circe';
    font-weight: normal;
    src: url("../../assets/fonts/Circe-Regular.eot") format('eot'), url("../../assets/fonts/Circe-Regular.ttf") format('ttf'), url("../../assets/fonts/Circe-Regular.woff") format('woff'), url("../../assets/fonts/Circe-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'Circe';
    font-weight: 300;
    src: url("../../assets/fonts/Circe-Light.eot") format('eot'), url("../../assets/fonts/Circe-Light.ttf") format('ttf'), url("../../assets/fonts/Circe-Light.woff") format('woff'), url("../../assets/fonts/Circe-Light.woff2") format('woff2');
}

@font-face {
    font-family: 'Circe';
    font-weight: 700;
    src: url("../../assets/fonts/Circe-Bold.eot") format('eot'), url("../../assets/fonts/Circe-Bold.ttf") format('ttf'), url("../../assets/fonts/Circe-Bold.woff") format('woff'), url("../../assets/fonts/Circe-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'Circe';
    font-weight: 800;
    src: url("../../assets/fonts/Circe-ExtraBold.eot") format('eot'), url("../../assets/fonts/Circe-ExtraBold.ttf") format('ttf'), url("../../assets/fonts/Circe-ExtraBold.woff") format('woff'), url("../../assets/fonts/Circe-ExtraBold.woff2") format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-weight: normal;
    src: url("../../assets/fonts/GothamPro.eot") format('eot'), url("../../assets/fonts/GothamPro.ttf") format('ttf'), url("../../assets/fonts/GothamPro.woff") format('woff'), url("../../assets/fonts/GothamPro.woff2") format('woff2');
}

@font-face {
    font-family: 'Gotham';
    font-weight: 500;
    src: url("../../assets/fonts/GothamPro-Medium.eot") format('eot'), url("../../assets/fonts/GothamPro-Medium.ttf") format('ttf'), url("../../assets/fonts/GothamPro-Medium.woff") format('woff'), url("../../assets/fonts/GothamPro-Medium.woff2") format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    src: url("../../assets/fonts/Roboto-Regular.eot") format('eot'), url("../../assets/fonts/Roboto-Regular.ttf") format('ttf'), url("../../assets/fonts/Roboto-Regular.woff") format('woff'), url("../../assets/fonts/Roboto-Regular.woff2") format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url("../../assets/fonts/Roboto-Medium.eot") format('eot'), url("../../assets/fonts/Roboto-Medium.ttf") format('ttf'), url("../../assets/fonts/Roboto-Medium.woff") format('woff'), url("../../assets/fonts/Roboto-Medium.woff2") format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url("../../assets/fonts/Roboto-Bold.eot") format('eot'), url("../../assets/fonts/Roboto-Bold.ttf") format('ttf'), url("../../assets/fonts/Roboto-Bold.woff") format('woff'), url("../../assets/fonts/Roboto-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'RobotoCondensed';
    font-weight: 700;
    src: url("../../assets/fonts/RobotoCondensed-Bold.eot") format('eot'), url("../../assets/fonts/RobotoCondensed-Bold.ttf") format('ttf'), url("../../assets/fonts/RobotoCondensed-Bold.woff") format('woff');
}

@font-face {
    font-family: 'RobotoCondensed';
    font-weight: normal;
    src: url("../../assets/fonts/RobotoCondensed-Regular.eot") format('eot'), url("../../assets/fonts/RobotoCondensed-Regular.ttf") format('ttf'), url("../../assets/fonts/RobotoCondensed-Regular.woff") format('woff');
}

@font-face {
    font-family: 'RobotoCondensed';
    font-weight: 300;
    src: url("../../assets/fonts/RobotoCondensed-Light.eot") format('eot'), url("../../assets/fonts/RobotoCondensed-Light.ttf") format('ttf'), url("../../assets/fonts/RobotoCondensed-Light.woff") format('woff');
}
