.fade-common-enter-active,
.fade-common-leave-active {
    transition: opacity .3s;
}

.fade-common-enter,
.fade-common-leave-to {
    opacity: 0;
}

.appear-left-enter-active,
.appear-left-leave-active {
    transition: transform .3s ease;
}

.appear-left-enter,
.appear-left-leave-active {
    transform: translateX(-100%);
}
