<template>
    <div>
        <template v-if="design === 'modification' || design === 'modification-modal'">
            <div :class="[$style.Card, $style.modification, {[$style._modal]: design === 'modification-modal'}]">
                <AButton
                    :link="productLink"
                    design="link"
                    :class="$style.title"
                >
                    {{ data.title }}

                    <template v-if="design === 'modification'">
                        {{ inRegion }}
                    </template>
                </AButton>

                <div
                    :class="$style.prop"
                >
                    <t :class="$style.propName" class="md:!hidden">
                        Артикул:
                    </t>
                    <t class="font-bold md:font-normal md:text-14 xl:text-15 2xl:text-18 md:self-center">
                        <template v-if="data.fields.sku.value">
                            {{ data.fields.sku.value }}
                        </template>
                        <template v-else>
                            —
                        </template>
                    </t>
                </div>

                <div :class="$style.modificationBottom">
                    <ACounter
                        design="secondary"
                        :value="quantity"
                        @change="quantity = $event"
                    />

                    <t :class="$style.price">
                        {{ formattedPrice( data.data.price ) }}
                    </t>

                    <AButtonBuy
                        :data="buyData"
                        :disabled="inCart"
                        class="!h-12 w-24"
                        @modal="design === 'modification' ? $modal.open( modalId ) : ''"
                    >
                        <IconInCart v-if="inCart" class="w-6" />
                        <IconBuy v-else />
                    </AButtonBuy>
                </div>

                <t :class="$style.price" class="!hidden md:!block">
                    {{ formattedPrice( data.data.price ) }}
                </t>

                <div :class="[$style.buttons, { [$style._cart]: inCart }]">
                    <div class="w-1/2 h-full flex items-center justify-center">
                        <ACounter
                            :value="quantity"
                            :inverse="inCart"
                            @change="onQuantityChange"
                        />
                    </div>

                    <AButtonBuy
                        :data="buyData"
                        :disabled="inCart"
                        design="gray-common"
                        :class="[$style.buy, { [$style._cart]: inCart }]"
                        @modal="design === 'modification' ? $modal.open( modalId ) : ''"
                    >
                        <div
                            v-if="inCart"
                            class="hidden md:flex items-center"
                        >
                            <IconChecked class="mr-3 xl:-translate-y-px" />
                            В&nbsp;корзине
                        </div>
                        <div
                            v-else
                            class="hidden md:block"
                        >
                            Купить
                        </div>
                    </AButtonBuy>
                </div>
            </div>
        </template>

        <template v-else-if="design === 'modal'">
            <div :class="[$style.Card, $style.modal]">
                <div
                    v-if="data.image && data.image.imageSrc"
                    :class="$style.img"
                    @click="$router.push( productLink )"
                >
                    <BaseImage
                        :src="data.image.imageSrc"
                        :ext="data.image.imageTypes"
                    />
                </div>

                <div class="md:flex justify-between md:w-full">
                    <div class="md:mr-6">
                        <AButton
                            design="custom"
                            :class="$style.title"
                            :link="productLink"
                        >
                            {{ data.title }}
                        </AButton>

                        <div>
                            <div
                                v-if="data.fields.brand.value"
                                :class="$style.prop"
                            >
                                <t :class="$style.propName">
                                    Бренд:
                                </t>
                                <AButton
                                    rel="nofollow"
                                    design="link"
                                    :link="brandLink"
                                    class="!font-circe !font-bold"
                                >
                                    {{ data.fields.brand.value }}
                                </AButton>
                            </div>
                            <div
                                v-if="data.fields.code.value"
                                :class="$style.prop"
                            >
                                <t :class="$style.propName">
                                    Код товара:
                                </t>
                                <t class="font-bold">
                                    {{ data.fields.code.value }}
                                </t>
                            </div>
                            <div
                                v-if="data.fields.model.value"
                                :class="$style.prop"
                            >
                                <t :class="$style.propName">
                                    Модель:
                                </t>
                                <t class="font-bold">
                                    {{ data.fields.model.value }}
                                </t>
                            </div>
                        </div>
                    </div>

                    <div class="mt-6 md:mt-0">
                        <div>
                            <t class="text-text-main text-16 xl:text-18 leading-none">
                                Цена
                            </t>
                            <t class="text-secondary leading-none xl:text-16">
                                ({{ data.data.conjointModifications.length }} {{ plural }})
                            </t>
                        </div>

                        <div
                            v-if="isConjoint && data.data.conjointData.maxPrice"
                            class="mt-4"
                        >
                            <t class="text mr-1 xl:text-16 2xl:text-18">
                                от
                            </t>
                            <t :class="$style.price" class="!inline-block mr-4">
                                {{ formattedPrice( data.data.conjointData.minPrice ) }}
                            </t>
                            <t class="text mr-1 xl:text-16 2xl:text-18">
                                до
                            </t>
                            <t :class="$style.price" class="!inline-block">
                                {{ formattedPrice( data.data.conjointData.maxPrice ) }}
                            </t>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <template v-else-if="design === 'cart'">
            <div :class="[$style.Card, $style.cart]">
                <div class="md:flex md:items-center">
                    <div class="flex pt-8 pb-6 px-4 md:p-0">
                        <div class="flex flex-col items-center flex-shrink-0 px-4 xl:px-0 mr-4 md:mr-6 xl:mr-8 2xl:mr-20">
                            <div
                                v-if="data.image && data.image.imageSrc"
                                :class="$style.img"
                                @click="$router.push( productLink )"
                            >
                                <BaseImage
                                    :src="data.image.imageSrc"
                                    :ext="data.image.imageTypes"
                                />
                            </div>
                        </div>

                        <div class="md:w-[30rem] md:mr-[4.5rem] 2xl:mr-28 2xl:flex 2xl:items-center 2xl:w-full">
                            <div class="2xl:w-[36rem] 2xl:mr-12">
                                <AButton
                                    design="custom"
                                    :class="$style.title"
                                    :link="productLink"
                                >
                                    {{ data.title }}
                                </AButton>

                                <template v-if="data.fields && data.fields.props">
                                    <div
                                        v-for="(item, i) in data.fields.props"
                                        :key="`product-card-cart-props-${i}`"
                                        :class="$style.prop"
                                    >
                                        <t :class="$style.propName">
                                            {{ item.name }}:
                                        </t>
                                        <t
                                            v-if="item.value || item.values"
                                            class="font-bold"
                                        >
                                            {{ item.value || item.values[0].value }}
                                        </t>
                                    </div>
                                </template>
                            </div>

                            <div class="mt-6 hidden md:flex 2xl:mt-0">
                                <ACounter
                                    design="secondary"
                                    :value="quantity"
                                    @change="onQuantityChange"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="flex pb-8 px-4 md:p-0 items-center">
                        <div class="w-[12rem] flex justify-center mr-4 md:hidden">
                            <ACounter
                                design="secondary"
                                :value="quantity"
                                @change="onQuantityChange"
                            />
                        </div>

                        <div class="flex items-end">
                            <t
                                v-if="price"
                                :class="$style.price"
                            >
                                {{ price }}
                            </t>

                            <div
                                v-if="isDiscount"
                                class="ml-4"
                            >
                                <div class="w-min px-2 h-[13px] md:w-[37px] md:h-[19px] xl:w-[42px] xl:h-[21px] flex items-center justify-center mb-2 md:mb-3 bg-primary text-white text-[8px] md:text-[10px] xl:text-[12px] leading-none font-bold">
                                    -{{ discount }}%
                                </div>

                                <t :class="$style.oldPrice">
                                    {{ oldPrice }}
                                </t>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex border-t border-stroke md:border-0">
                    <div
                        :class="[$style.cartButton, {[$style._active]: inFavorites}]"
                        class="border-r border-stroke md:border-0 md:mr-8"
                        @click="onFavoriteClick"
                    >
                        <IconFavorite :class="$style.icon" />
                        <t class="leading-none md:hidden">
                            {{ inFavorites ? 'В избранном' : 'Отложить' }}
                        </t>
                    </div>
                    <div
                        :class="$style.cartButton"
                        @click="$emit('remove', data)"
                    >
                        <IconClose :class="$style.icon" class="md:!w-[24px] md:!h-[24px] 2xl:!w-[27px] 2xl:!h-[27px]" />
                        <t class="leading-none transform-none md:hidden">
                            Удалить
                        </t>
                    </div>
                </div>
            </div>
        </template>

        <template v-else-if="design === 'cart-modal'">
            <div :class="[$style.Card, $style.cart, $style._modal]">
                <div>
                    <div class="flex pt-8 pb-6 px-4 md:p-0">
                        <div class="flex flex-col items-center flex-shrink-0 px-4 xl:px-6 mr-4 md:mr-6">
                            <div
                                v-if="data.image && data.image.imageSrc"
                                :class="$style.img"
                                @click="$router.push( productLink )"
                            >
                                <BaseImage
                                    :src="data.image.imageSrc"
                                    :ext="data.image.imageTypes"
                                />
                            </div>
                        </div>

                        <div class="md:pr-16 2xl:mr-28">
                            <div class="2xl:mr-8">
                                <AButton
                                    design="custom"
                                    :class="$style.title"
                                    :link="productLink"
                                >
                                    {{ data.title }}
                                </AButton>

                                <template v-if="data.fields && data.fields.props">
                                    <div
                                        v-for="(item, i) in data.fields.props.slice(0, 4)"
                                        :key="`product-card-cart-props-${i}`"
                                        :class="$style.prop"
                                    >
                                        <t :class="$style.propName">
                                            {{ item.name }}:
                                        </t>
                                        <t
                                            v-if="item.value || item.values"
                                            class="font-bold"
                                        >
                                            {{ item.value || item.values[0].value }}
                                        </t>
                                    </div>
                                </template>
                            </div>

                            <div class="mt-6 hidden md:flex 2xl:mt-8">
                                <ACounter
                                    design="secondary"
                                    :value="quantity"
                                    @change="onQuantityChange"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="flex pb-8 px-4 md:p-0 items-center">
                        <div class="w-[12rem] flex justify-center mr-4 md:hidden">
                            <ACounter
                                design="secondary"
                                :value="quantity"
                                @change="onQuantityChange"
                            />
                        </div>

                        <div class="flex items-end md:ml-[16.5rem] xl:ml-[17.5rem] 2xl:ml-[21.5rem] md:mt-6 2xl:mt-8">
                            <t
                                v-if="price"
                                :class="$style.price"
                            >
                                {{ price }}
                            </t>

                            <div
                                v-if="isDiscount"
                                class="ml-4"
                            >
                                <div class="w-min px-2 h-[13px] md:w-[37px] md:h-[19px] xl:w-[42px] xl:h-[21px] flex items-center justify-center mb-2 md:mb-3 bg-primary text-white text-[8px] md:text-[10px] xl:text-[12px] leading-none font-bold">
                                    -{{ discount }}%
                                </div>

                                <t :class="$style.oldPrice">
                                    {{ oldPrice }}
                                </t>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex border-t border-stroke md:border-0">
                    <AButton
                        type="button"
                        design="custom"
                        :class="[$style.cartButton, {[$style._active]: inFavorites}]"
                        class="border-r border-stroke md:border-0 md:mr-8"
                        @click="onFavoriteClick"
                    >
                        <IconFavorite :class="$style.icon" />
                        <t class="leading-none md:hidden">
                            {{ inFavorites ? 'В избранном' : 'Отложить' }}
                        </t>
                    </AButton>
                    <AButton
                        type="button"
                        design="custom"
                        :class="$style.cartButton"
                        @click="$emit('remove', data)"
                    >
                        <IconClose :class="$style.icon" class="md:!w-[24px] md:!h-[24px] 2xl:!w-[27px] 2xl:!h-[27px]" />
                        <t class="leading-none transform-none md:hidden">
                            Удалить
                        </t>
                    </AButton>
                </div>
            </div>
        </template>

        <template v-else-if="design === 'checkout-success'">
            <div :class="[$style.Card, $style.cart, $style._checkout]">
                <div class="md:flex md:items-center md:justify-between md:w-full">
                    <div class="flex pt-8 pb-6 px-4 md:p-0">
                        <div class="flex flex-col items-center flex-shrink-0 px-4 xl:px-6 mr-4 md:mr-6">
                            <div
                                v-if="data.image && data.image.imageSrc"
                                :class="$style.img"
                                @click="$router.push( productLink )"
                            >
                                <BaseImage
                                    :src="data.image.imageSrc"
                                    :ext="data.image.imageTypes"
                                />
                            </div>
                        </div>

                        <div class="md:max-w-[30rem] md:mr-[4.5rem] xl:mr-20 xl:flex xl:items-center xl:max-w-full">
                            <div class="xl:max-w-[30rem] 2xl:max-w-[36rem] xl:mr-20 2xl:mr-[15rem]">
                                <AButton
                                    design="custom"
                                    :class="$style.title"
                                    :link="productLink"
                                >
                                    {{ data.title }}
                                </AButton>

                                <template v-if="data.fields && data.fields.props">
                                    <div
                                        v-for="(item, i) in data.fields.props"
                                        :key="`product-card-cart-props-${i}`"
                                        :class="$style.prop"
                                    >
                                        <t :class="$style.propName">
                                            {{ item.name }}:
                                        </t>
                                        <t
                                            v-if="item.value || item.values"
                                            class="font-bold"
                                        >
                                            {{ item.value || item.values[0].value }}
                                        </t>
                                    </div>
                                </template>
                            </div>

                            <div class="mt-6 hidden md:flex xl:mt-0">
                                <t
                                    v-if="data.cart && data.cart.quantity"
                                    class="text-[16px] 2xl:text-[20px] leading-none text-main"
                                >
                                    {{ data.cart.quantity }} шт
                                </t>
                            </div>
                        </div>
                    </div>

                    <div class="flex pb-8 px-4 md:p-0 items-center">
                        <div class="w-[12rem] flex justify-center mr-4 md:hidden">
                            <t
                                v-if="data.cart && data.cart.quantity"
                                class="text-[16px] leading-none text-main"
                            >
                                {{ data.cart.quantity }} шт
                            </t>
                        </div>

                        <div class="flex items-end">
                            <t
                                v-if="price"
                                :class="$style.price"
                            >
                                {{ price }}
                            </t>

                            <div
                                v-if="isDiscount"
                                class="ml-4"
                            >
                                <div class="w-min px-2 h-[13px] md:w-[37px] md:h-[19px] xl:w-[42px] xl:h-[21px] flex items-center justify-center mb-2 md:mb-3 bg-primary text-white text-[8px] md:text-[10px] xl:text-[12px] leading-none font-bold">
                                    -{{ discount }}%
                                </div>

                                <t :class="$style.oldPrice">
                                    {{ oldPrice }}
                                </t>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <template v-else-if="design === 'slider-modal'">
            <div :class="[$style.Card, $style.sliderModal]">
                <div class="flex flex-col items-center flex-shrink-0 mr-6 md:mr-8">
                    <div
                        v-if="data.image && data.image.imageSrc"
                        :class="$style.img"
                        @click="$router.push( productLink )"
                    >
                        <BaseImage
                            :src="data.image.imageSrc"
                            :ext="data.image.imageTypes"
                        />
                    </div>
                </div>

                <div class="h-full flex flex-col">
                    <div class="mb-8">
                        <AButton
                            design="custom"
                            :class="$style.title"
                            :link="productLink"
                        >
                            {{ data.title }}
                        </AButton>

                        <template v-if="data.fields.code.value">
                            <div :class="$style.prop">
                                <t :class="$style.propName">
                                    Код товара:
                                </t>
                                <t class="font-bold">
                                    {{ data.fields.code.value }}
                                </t>
                            </div>
                        </template>
                    </div>

                    <div class="flex items-center mt-auto">
                        <div class="flex items-end">
                            <t
                                v-if="price"
                                :class="$style.price"
                            >
                                {{ price }}
                            </t>

                            <div
                                v-if="isDiscount"
                                class="ml-4"
                            >
                                <div class="w-min px-2 h-[13px] md:w-[37px] md:h-[19px] xl:w-[42px] xl:h-[21px] flex items-center justify-center mb-2 md:mb-3 bg-primary text-white text-[8px] md:text-[10px] xl:text-[12px] leading-none font-bold">
                                    -{{ discount }}%
                                </div>

                                <t :class="$style.oldPrice">
                                    {{ oldPrice }}
                                </t>
                            </div>
                        </div>

                        <AButtonBuy
                            ref="buy"
                            :data="buyData"
                            :disabled="inCart"
                            class="!p-0 !w-10 !h-10 md:!w-12 md:!h-12 2xl:!w-16 2xl:!h-16 ml-10"
                            :class="[$style.buy, { [$style._cart]: inCart }]"
                        >
                            <template v-if="inCart">
                                <IconChecked class="xl:-translate-y-px 2xl:w-6 2xl:h-6" />
                            </template>
                            <template v-else>
                                <IconPlus class="w-5 h-5 md:w-6 md:h-6" />
                            </template>
                        </AButtonBuy>
                    </div>
                </div>
            </div>
        </template>

        <template v-else-if="design === 'search'">
            <div :class="[$style.Card, $style.search]">
                <div
                    v-if="data.image && data.image.imageSrc"
                    :class="$style.img"
                    @click="$router.push( productLink )"
                >
                    <BaseImage
                        :src="data.image.imageSrc"
                        :ext="data.image.imageTypes"
                    />
                </div>

                <div>
                    <AButton
                        design="custom"
                        :class="$style.title"
                        :link="productLink"
                    >
                        {{ data.title }}
                    </AButton>

                    <div class="flex items-center mt-4">
                        <t :class="$style.price">
                            {{ formattedPrice( data.data.price ) }}
                        </t>

                        <t
                            v-if="data.data.basePrice && data.data.discount"
                            :class="$style.oldPrice"
                        >
                            {{ formattedPrice( data.data.basePrice ) }}
                        </t>
                    </div>
                </div>
            </div>
        </template>

        <template v-else-if="design === 'service'">
            <div class="relative h-full py-8 px-6 bg-white flex flex-col items-center justify-between">
                <div
                    v-if="data.data.isHit"
                    :class="$style.serviceTag"
                >
                    ХИТ
                </div>

                <div>
                    <BaseImage
                        v-if="data.image && data.image.imageSrc"
                        :src="data.image.imageSrc"
                        :ext="data.image.imageTypes"
                        :class="$style.imageService"
                        @click="$router.push( productLink )"
                    />

                    <AButton
                        design="custom"
                        class="block my-8 text-text-landing font-bold text-center leading-tight"
                        :link="productLink"
                    >
                        {{ data.title }}
                    </AButton>

                    <div class="text-text-landing text-center">
                        <t>
                            Цена
                        </t>
                        <t class="font-bold text-18">
                            {{ formattedPrice( data.data.price ) }}
                        </t>
                    </div>
                </div>

                <div class="w-full mt-6">
                    <AButtonBuy
                        ref="buy"
                        :data="buyData"
                        design="red-landing"
                        :disabled="inCart"
                        class="h-16 w-full"
                        :class="{'pointer-events-none': inCart}"
                        @modal="$modal.open( modalId )"
                    >
                        {{ inCart ? 'В&nbsp;корзине' : 'В корзину' }}
                    </AButtonBuy>

                    <a
                        rel="nofollow"
                        class="pointer-events-none"
                    >
                        <AButton
                            type="button"
                            design="blue-common"
                            class="mt-4 h-12 w-full !rounded-[50px] text-white text-12 pointer-events-auto"
                            @click="$modal.open(oneClickForm)"
                        >
                            Купить в 1 клик
                        </AButton>
                    </a>
                </div>
            </div>
        </template>

        <template v-else>
            <div
                :class="[$style.Card, $style[design]]"
                @mouseenter="onMouseEnter"
                @mouseleave="modificationsVisible = false"
            >
                <div :class="$style.wrap">
                    <div
                        v-if="discount"
                        :class="[$style.tag, $style._green]"
                    >
                        -{{ discount }}%
                    </div>

                    <div
                        v-else-if="data.data && data.data.isHit"
                        :class="[$style.tag, $style._red]"
                    >
                        ХИТ
                    </div>

                    <div
                        v-else-if="data.data && data.data.isNew"
                        :class="[$style.tag, $style._red]"
                    >
                        NEW
                    </div>

                    <div :class="$style.icons">
                        <div :class="[$style.iconButton, {[$style._active]: inCompare}]" class="mr-2" @click="onCompareClick">
                            <IconCompare :class="$style.icon" />
                        </div>
                        <div :class="[$style.iconButton, {[$style._active]: inFavorites}]" @click="onFavoriteClick">
                            <IconFavorite :class="$style.icon" />
                        </div>
                    </div>

                    <div
                        v-if="data.images && data.images.length > 1"
                        ref="slider"
                        :class="[$style.imagesSlider, { [ $style.horizontal ]: design === 'horizontal' }]"
                    >
                        <div :class="$style.sliderWrapper" class="swiper-wrapper">
                            <div
                                v-for="(slide, i) in data.images"
                                :key="`slider-1-${i}`"
                                class="swiper-slide flex justify-center items-center"
                            >
                                <div
                                    :class="$style.img"
                                    @click="$router.push( productLink )"
                                >
                                    <BaseImage
                                        :src="data.image.imageSrc"
                                        :ext="data.image.imageTypes"
                                    />
                                </div>
                            </div>
                        </div>

                        <div ref="pagination" class="swiper-pagination" />
                    </div>

                    <div
                        v-else-if="data.image && data.image.imageSrc"
                        :class="$style.img"
                        @click="$router.push( productLink )"
                    >
                        <BaseImage
                            :src="data.image.imageSrc"
                            :ext="data.image.imageTypes"
                        />
                    </div>

                    <div :class="$style.main">
                        <div :class="$style.titleWrap">
                            <div :class="$style.statusWrap">
                                <div :class="$style.topText" class="!leading-tight">
                                    <t>
                                        Код товара:
                                    </t>
                                    <t class="font-bold">
                                        {{ data.fields.code.value }}
                                    </t>
                                </div>

                                <div :class="$style.status" class="md:mr-4">
                                    <div :class="[$style.circle, $style[data.data.stockStatusCode]]" />

                                    <t :class="$style.topText" class="block">
                                        {{ data.data.stockStatus }}
                                    </t>
                                </div>
                            </div>

                            <AButton
                                design="custom"
                                :class="$style.title"
                                :link="productLink"
                            >
                                <template v-if="seoTitle">
                                    {{ categoryTitle }} {{ data.fields.brand.value }} {{ data.fields.code.value }}
                                </template>
                                <template v-else>
                                    {{ data.title }}
                                </template>
                            </AButton>
                        </div>

                        <transition name="fade-common" mode="out-in">
                            <div v-if="isConjoint && modificationsVisible" key="modifications">
                                <div
                                    v-for="(modification, i) in modifications"
                                    :key="`modifications-${i}`"
                                    class="py-3 px-4 flex justify-between odd:bg-gray-50 tracking-wide leading-none text-14 2xl:text-15"
                                >
                                    <div class="!max-w-[45%]">
                                        <ATooltip
                                            design="filter"
                                            placement="top"
                                            :events="['mouseenter']"
                                            hide-on-click="hide"
                                        >
                                            <template #key>
                                                <AButton
                                                    design="custom"
                                                    class="!font-circe text-secondary xl:hover:text-primary transition-colors duration-300"
                                                    :class="[$style.modificationTitle, $style.propName]"
                                                    :link="modificationLink( modification.fslug )"
                                                >
                                                    {{ modification.title }}
                                                </AButton>
                                            </template>
                                            <template #content>
                                                {{ modification.title }}
                                            </template>
                                        </ATooltip>
                                    </div>

                                    <div>
                                        {{ formattedPrice( modification.data.price ) }}
                                    </div>
                                </div>
                            </div>

                            <div v-else key="characteristics">
                                <div
                                    v-if="data.fields.brand.value"
                                    :class="$style.prop"
                                >
                                    <t :class="$style.propName">
                                        Бренд:
                                    </t>
                                    <t class="font-bold">
                                        {{ brand }}
                                    </t>
                                </div>
                                <template v-if="data.fields && data.fields.props">
                                    <div
                                        v-for="(item, i) in formattedProps"
                                        :key="`product-card-props-${i}`"
                                        :class="$style.prop"
                                    >
                                        <t :class="$style.propName">
                                            {{ item.name }}:
                                        </t>
                                        <t
                                            v-if="item.value || item.values"
                                            class="font-bold"
                                        >
                                            {{ item.value || item.values[0].value }}
                                        </t>
                                    </div>
                                </template>

                                <t
                                    v-if="deliveryVisible && inRegion"
                                    :class="[$style.prop, $style._red]"
                                >
                                    Доставка {{ regionAcc }}
                                </t>
                            </div>
                        </transition>
                    </div>
                </div>

                <div :class="$style.bottom">
                    <div>
                        <t :class="$style.priceLabel">
                            Цена
                            <template v-if="isConjoint">
                                от
                            </template>
                        </t>

                        <div
                            v-if="stock"
                            class="flex items-center"
                        >
                            <template v-if="isConjoint">
                                <t :class="$style.price">
                                    {{ formattedPrice( data.data.conjointData.minPrice ) }}
                                </t>
                            </template>
                            <template v-else>
                                <t :class="$style.price">
                                    {{ formattedPrice( data.data.price ) }}
                                </t>

                                <t
                                    v-if="data.data.basePrice && data.data.discount"
                                    :class="$style.oldPrice"
                                >
                                    {{ formattedPrice( data.data.basePrice ) }}
                                </t>
                            </template>
                        </div>

                        <t
                            v-else
                            :class="$style.price"
                        >
                            {{ data.data.stockStatusCode === 'not_available' ? 'Нет в наличии' : 'Цена по запросу' }}
                        </t>
                    </div>

                    <div v-if="stock">
                        <div :class="[$style.buttons, { [$style._cart]: inCart }]">
                            <template v-if="data.type !== 'conjoint'">
                                <div class="w-1/2 h-full flex items-center justify-center">
                                    <ACounter
                                        :value="quantity"
                                        :inverse="inCart"
                                        @change="onQuantityChange"
                                    />
                                </div>

                                <AButtonBuy
                                    ref="buy"
                                    :data="buyData"
                                    design="buy"
                                    :disabled="inCart"
                                    class="!bg-primary md:!bg-brown xl:hover:!bg-primary !font-circe !font-bold !border-primary md:!text-white md:!border-brown xl:hover:!border-primary"
                                    :class="[$style.buy, { [$style._cart]: inCart }]"
                                    @modal="$modal.open( modalId )"
                                >
                                    <template v-if="inCart">
                                        <IconInCart class="md:hidden w-[18px] h-auto" />
                                        <div class="hidden md:flex items-center">
                                            <IconChecked class="mr-3 xl:-translate-y-px" />
                                            В&nbsp;корзине
                                        </div>
                                    </template>
                                    <template v-else>
                                        <IconBuy class="md:hidden w-[18px] h-auto" />
                                        <div class="hidden md:block">
                                            В корзину
                                        </div>
                                    </template>
                                </AButtonBuy>
                            </template>

                            <AButton
                                v-else
                                type="button"
                                design="gray-common"
                                :class="[$style.buy, $style.modification]"
                                @click="onButtonClick"
                            >
                                В корзину
                            </AButton>
                        </div>

                        <a
                            rel="nofollow"
                            class="pointer-events-none"
                        >
                            <AButton
                                type="button"
                                design="link"
                                :class="$style.oneClick"
                                @click="$modal.open(oneClickForm)"
                            >
                                Купить в 1 клик
                            </AButton>
                        </a>
                    </div>

                    <div v-else>
                        <div :class="$style.buttons" class="!bg-white mb-[27px] md:mb-[29px] xl:mb-12 2xl:mb-[31px]">
                            <AButton
                                type="button"
                                design="gray-common"
                                inverse
                                :class="$style.callbackButton"
                                @click="$modal.open(callbackForm)"
                            >
                                {{ data.data.stockStatusCode === 'not_available' ? 'Сообщить о поступлении' : 'Запросить' }}
                            </AButton>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <MModal :id="modalId">
            <OCartModal
                :id="modalId"
                :data="buyData"
            />
        </MModal>

        <MModal :id="modalOneClick">
            <FormOneClick :product="data" />
        </MModal>

        <MModal :id="callbackForm">
            <FormCallback />
        </MModal>

        <MModal :id="oneClickForm">
            <FormOneClick :product="data" />
        </MModal>

        <MModal :id="modificationModal" placement="full">
            <OProductModificationsModal :data="data" />
        </MModal>
    </div>
</template>

<script>
import Swiper, { Pagination } from "swiper"
import { mapState, mapGetters, mapActions } from "vuex"
import { getPrice, plural } from "@/lib/utils.js"
import { getRandomId } from "@/lib/utilsDom"
import { getProductQuantity } from "@/lib/cart"
import { toggleProduct, isIn } from "@/lib/products"
import { BRAND, PRODUCT } from "@/lib/url/const"
import { FAVORITE, COMPARE } from "@/lib/products/const"
import { getName } from "@/lib/cookie"

Swiper.use( [ Pagination ] )

export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        category: {
            type   : Object,
            default: () => ( {} )
        },

        design: {
            type   : String,
            default: "common",
            validator( value )
            {
                return [ "common", "horizontal", "slider", "cart", "slider-modal", "cart-modal", "checkout-success", "modification", "modification-modal", "modal", "search", "service" ].includes( value )
            }
        },

        deliveryVisible: Boolean,
        seoTitle       : Boolean
    },

    data()
    {
        return {
            quantity            : 1,
            slider              : null,
            modifications       : [],
            modificationsVisible: false,
            modalId             : getRandomId(),
            modalOneClick       : getRandomId(),
            modificationModal   : getRandomId(),
            callbackForm        : getRandomId(),
            oneClickForm        : getRandomId()
        }
    },

    async fetch()
    {
        if ( this.isConjoint )
        {
            const res = await this.$api.products.get( { ids: this.data.data.conjointModifications.slice( 0, 5 ) } )
            this.modifications = res.results
        }
    },

    computed: {
        ...mapState( "cookie", {
            favorite: getName( "favorite" ),
            compare : getName( "compare" )
        } ),

        ...mapState( "cart", [
            "cart"
        ] ),

        ...mapGetters( "regions", [
            "regionSlug",
            "inRegion",
            "regionAcc"
        ] ),

        inFavorites()
        {
            return isIn( {
                product: this.data,
                dict   : this.favorite
            } )
        },

        inCompare()
        {
            return isIn( {
                product: this.data,
                dict   : this.compare
            } )
        },

        inCart()
        {
            return isIn( {
                product: this.data,
                dict   : this.cart.positions
            } )
        },

        buyData()
        {
            return {
                ...this.data,
                quantity: this.quantity
            }
        },

        productLink()
        {
            return this.$getUrl( PRODUCT, {
                fslug: this.data.fslug,
                city : this.regionSlug
            } )
        },

        brandLink()
        {
            return this.$getUrl( BRAND, { fslug: this.data.fields.brand.fslug } )
        },

        price()
        {
            return getPrice( this.data?.data?.price )
        },

        oldPrice()
        {
            return getPrice( this.data?.data?.basePrice )
        },

        isDiscount()
        {
            return this.data?.data?.basePrice && this.discount
        },

        discount()
        {
            return Math.ceil( this.data?.data?.discount )
        },

        stock()
        {
            return this.data.data.price || this.data.data.conjointData?.minPrice
        },

        categoryTitle()
        {
            return this.category?.titleCases?.sg.base || this.category.title
        },

        plural()
        {
            return plural( this.data.data.conjointModifications.length, [ "вариант", "варианта", "вариантов" ] )
        },

        isConjoint()
        {
            return this.data.data.conjointModifications && this.data.data.conjointModifications.length
        },

        formattedProps()
        {
            return this.data.fields.props.filter( e => e.name !== "Страна" )
        },

        brand()
        {
            return this.country ? `${ this.data.fields.brand.value }, ${ this.country.value }` : this.data.fields.brand.value
        },

        country()
        {
            return this.data.fields.props.find( e => e.name === "Страна" )
        }
    },

    updated()
    {
        if ( this.inCart )
        {
            this.quantity = getProductQuantity( {
                id  : this.data.id,
                cart: this.cart
            } )
        }
    },

    created()
    {
        if ( this.inCart )
        {
            this.quantity = getProductQuantity( {
                id  : this.data.id,
                cart: this.cart
            } )
        }
    },

    mounted()
    {
        this.slider = new Swiper( this.$refs.slider, {
            cssMode      : true,
            slidesPerView: 1,
            spaceBetween : 0,
            loop         : false,
            pagination   : {
                el       : this.$refs.pagination,
                clickable: true
            },
            breakpoints: {
                1280: {
                    cssMode: false
                }
            }
        } )
    },

    methods: {
        ...mapActions( [
            "toggleFavorite",
            "toggleCompare"
        ] ),

        ...mapActions( "cart", [
            "updateQuantity"
        ] ),

        onFavoriteClick()
        {
            toggleProduct( FAVORITE, {
                product: this.data,
                dict   : this.favorite,
                action : this.toggleFavorite
            } )
        },

        onCompareClick()
        {
            toggleProduct( COMPARE, {
                product: this.data,
                dict   : this.compare,
                action : this.toggleCompare
            } )
        },

        formattedPrice( val )
        {
            return getPrice( val )
        },

        onQuantityChange( e )
        {
            this.quantity = e

            if ( this.inCart )
            {
                this.updateQuantity( {
                    id      : this.data.id,
                    quantity: this.quantity
                } )
            }
        },

        onButtonClick()
        {
            if ( this.data.type === "conjoint" )
            {
                this.$modal.open( this.modificationModal )
            }
            else
            {
                this.$modal.open( this.modalId )
            }
        },

        modificationLink( fslug )
        {
            return this.$getUrl( PRODUCT, {
                fslug,
                city: this.regionSlug
            } )
        },

        onMouseEnter()
        {
            if ( window.innerWidth >= 1280 )
            {
                this.modificationsVisible = true
            }
        }
    }
}
</script>

<style lang="scss" module>
.Card {
    @apply relative h-full p-4 pb-6 flex flex-col justify-between bg-white xl:overflow-x-hidden;
    transition: box-shadow .3s ease;

    &:hover {
        @screen xl {
            box-shadow: 0 0 30px rgba(112, 112, 112, 0.2);
            z-index: 2;
        }
    }

    @screen md {
        @apply p-6 pb-8;
    }

    @screen 2xl {
        @apply p-8;
    }

    // design
    &.horizontal {
        @apply flex-row items-center 2xl:py-8 2xl:px-12 2xl:min-h-[25rem];
    }

    &.slider {
        @apply bg-white;

        &:hover {
            @screen xl {
                box-shadow: none;
            }
        }
    }

    &.cart {
        @apply relative block p-0 xl:border-b border-stroke md:flex md:flex-row md:items-center md:py-6 md:px-8 2xl:py-8 2xl:px-20;

        &:after {
            @apply bg-stroke xl:hidden;
            content: "";
            position: absolute;
            bottom: 0;
            left: -100vw;
            height: 1px;
            width: 300vw;
        }

        &:hover {
            @screen xl {
                box-shadow: none;
                z-index: 0;
            }
        }

        &._checkout {
            @apply xl:p-6 2xl:py-8 2xl:px-20;
        }

        &._modal {
            @apply md:items-start 2xl:pr-20 2xl:pl-14 2xl:py-12;
        }
    }

    &.sliderModal {
        @apply h-full p-4 2xl:p-8 items-start flex-row;

        &:hover {
            @screen xl {
                box-shadow: none;
            }
        }
    }

    &.modal {
        @apply flex flex-row justify-start p-4 md:p-6 xl:p-8 border-t border-stroke md:border-r md:border-l;

        &:hover {
            @screen xl {
                box-shadow: none;
            }
        }
    }

    &.modification {
        @apply border-b border-stroke md:flex md:flex-row md:items-stretch px-4 py-6 md:p-0 md:pl-6 2xl:pl-8 xl:min-h-[5rem];
        transition: background-color .3s ease;

        &:hover {
            @screen xl {
                @apply bg-background;
                box-shadow: none;
            }
        }
    }

    &.search {
        @apply flex flex-row justify-start p-4 md:px-8 xl:px-4;
        &:hover {
            @screen xl {
                box-shadow: none;
            }
        }
    }
}

.wrap {

    // design
    .horizontal & {
        @apply flex items-center;
    }
}

.main {

    // design
    .horizontal & {
        width: 40rem;

        @screen 2xl {
            width: 42rem;
        }
    }
}

.bottom {
    @apply mt-8 md:mt-10 2xl:mt-12;

    // design
    .horizontal & {
        @apply mt-0 ml-12 flex-1 2xl:flex 2xl:justify-between 2xl:items-center 2xl:ml-32;
    }
}

.tag {
    @apply absolute text-[10px] text-white font-extrabold leading-none tracking-wide flex items-center justify-center h-8 px-4;

    &._green {
        @apply bg-green;
    }

    &._red {
        @apply bg-primary;
    }

    @screen md {
        @apply px-6 h-10 text-[14px];
    }

    @screen 2xl {
        @apply px-7 h-12 text-[16px];
    }

    // design
    .horizontal & {
        @apply top-0 left-0;
    }
}

.icons {
    @apply absolute top-[-1px] right-4 md:right-6 2xl:right-8 flex justify-end;
    z-index: 19;

    // design
    .horizontal & {
        @apply 2xl:right-12;
    }
}

.iconButton {
    @apply w-10 h-16 flex justify-center items-center text-gray-550 transition-colors duration-300 cursor-pointer;

    &:hover {
        @screen xl {
            background-color: rgba(213, 213, 213, .2);
        }
    }

    svg {
        transition: all .3s ease;
    }

    &._active {
        @apply bg-primary text-white;

        svg {
            @apply fill-current;
        }
    }

    @screen md {
        @apply w-12 h-20;
    }

    @screen 2xl {
        @apply w-16 h-28;
    }
}

.icon {
    width: 17px;
    height: 17px;

    @screen md {
        width: 20px;
        height: 20px;
    }

    @screen 2xl {
        width: 24px;
        height: 24px;
    }

    // design
    .cart & {
        @apply mr-4 md:mr-0;
    }

    .modal & {
        @apply mr-4 md:mr-0;
    }
}

.img {
    @apply flex flex-shrink-0 justify-center mb-6 mt-12 md:mt-14 md:mb-8 2xl:mt-20 2xl:mb-10 cursor-pointer;

    img {
        width: 11rem;
        height: 11rem;
        object-fit: contain;

        @screen md {
            width: 16rem;
            height: 16rem;
        }

        @screen 2xl {
            width: 19rem;
            height: 19rem;
        }
    }

    // design
    .horizontal & {
        @apply mt-0 mb-0 mr-8 ml-6 2xl:ml-0 2xl:mr-12;

        img {
            @screen xl {
                width: 12rem;
                height: 12rem;
            }

            @screen 2xl {
                width: 16rem;
                height: 16rem;
            }
        }
    }

    .slider & {
        img {
            width: 13rem;
            height: 13rem;

            @screen md {
                width: 16rem;
                height: 16rem;
            }

            @screen 2xl {
                width: 19rem;
                height: 19rem;
            }
        }
    }

    .cart & {
        @apply mt-0 mb-0;

        img {
            width: 10rem;
            height: 10rem;

            @screen xl {
                width: 11rem;
                height: 11rem;
            }

            @screen 2xl {
                width: 13rem;
                height: 13rem;
            }
        }
    }

    .cart._modal & {
        img {
            @screen md {
                width: 13rem;
                height: 13rem;
            }

            @screen 2xl {
                width: 17rem;
                height: 17rem;
            }
        }
    }

    .sliderModal & {
        @apply m-0;

        img {
            width: 6.4rem;
            height: 6.4rem;

            @screen md {
                width: 8rem;
                height: 8rem;
            }

            @screen 2xl {
                width: 12rem;
                height: 12rem;
            }
        }
    }

    .modal & {
        @apply mt-0 mb-0 mr-4 md:mr-6 xl:mr-8;

        img {
            width: 8rem;
            height: 8rem;

            @screen md {
                width: 10rem;
                height: 10rem;
            }

            @screen xl {
                width: 13rem;
                height: 13rem;
            }
        }
    }

    .search & {
        @apply flex justify-center items-center m-0 p-2 mr-4 md:mr-8 xl:mr-4 border border-background overflow-hidden;
        width: 6rem;
        height: 6rem;

        @screen md {
            width: 8rem;
            height: 8rem;
        }

        @screen xl {
            width: 6rem;
            height: 6rem;
        }

        @screen 2xl {
            width: 8rem;
            height: 8rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.topText {
    @apply text-[10px] md:text-[14px] xl:text-[12px] 2xl:text-[14px] leading-none tracking-wide;

    // design
    .horizontal & {
        @apply xl:text-[14px];
    }

    .slider & {
        @apply text-[11px] md:text-[12px] 2xl:text-[14px];
    }

    .search & {
        @apply m-0 md:text-16 xl:text-14 2xl:text-16 xl:hover:text-primary transition-colors duration-300 #{!important};
    }
}

.statusWrap {
    @apply md:flex md:flex-row-reverse md:justify-between;

    // design
    .slider & {
        @apply flex flex-row-reverse justify-between;
    }
}

.status {
    @apply flex items-center mt-2 md:mt-0;

    // design
    .slider & {
        @apply mt-0;
    }
}

.circle {
    @apply bg-primary flex-shrink-0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: 5px;

    @screen md {
        width: 6px;
        height: 6px;
    }

    @screen 2xl {
        width: 8px;
        height: 8px;
        margin-right: 7px;
    }

    &.in_stock {
        @apply bg-green;
    }

    &.on_order {
        @apply bg-orange;
    }
}

.titleWrap {

    // design
    .horizontal & {
        @apply flex flex-col-reverse mb-8;
    }
}

.title {
    @apply block font-circe text-text-main leading-tight my-6 md:my-8 2xl:my-10 cursor-pointer md:text-[18px] xl:hover:text-primary transition-colors duration-300 #{!important};

    // design
    .horizontal & {
        @apply mt-0 mb-6 #{!important};
    }

    .slider & {
        @apply text-[16px] xl:text-[18px] #{!important};
    }

    .cart & {
        @apply mt-0 mb-4 2xl:mb-6 text-[14px] md:text-[16px] 2xl:text-[18px] #{!important};
    }

    .sliderModal & {
        @apply mt-0 text-12 md:text-14 2xl:text-18 mb-3 md:mb-4 2xl:mb-6 #{!important};
    }

    .modification & {
        @apply text-secondary mt-0 mb-3 md:w-[26.5rem] xl:w-[54rem] 2xl:w-[70rem] md:mr-14 xl:mr-24 2xl:mr-[20rem] md:self-center md:flex-shrink-0 md:py-4 xl:py-5 md:text-14 xl:text-15 2xl:text-18 md:mb-0 xl:hover:text-primary transition-colors duration-300 #{!important};
    }

    .modification._modal & {
        @apply 2xl:w-[55rem] 2xl:mr-20 #{!important};
    }

    .modal & {
        @apply mt-0 mb-4 xl:mb-6 text-[14px] md:text-[16px] xl:text-[18px] #{!important};
    }

    .search & {
        @apply m-0 md:text-16 xl:text-14 2xl:text-16 xl:hover:text-primary transition-colors duration-300 #{!important};
    }
}

.prop {
    @apply flex text-[10px] tracking-wide leading-none mb-3 last:mb-0;

    @screen md {
        @apply text-[14px] mb-4 last:mb-0;
    }

    @screen 2xl {
        @apply text-[15px];
    }

    &._red {
        @apply text-primary font-bold;
    }

    // design
    .slider & {
        @apply text-[11px] md:text-[12px] xl:text-[14px] 2xl:text-[15px] last:mb-0 md:mb-3 xl:mb-4;
    }

    .cart & {
        @apply text-[12px] mb-3 last:mb-0 2xl:text-[15px] 2xl:mb-4;
    }

    .sliderModal & {
        @apply md:text-12 2xl:text-14;
    }

    .modification & {
        @apply text-12 mb-0 md:w-[10rem] xl:w-[13rem] 2xl:w-[18rem] md:flex-shrink-0;
    }

    .modal & {
        @apply text-[12px] mb-3 last:mb-0 xl:text-[15px];
    }
}

.propName {
    @apply block mr-[2px];
}

.priceLabel {
    @apply block mb-2 2xl:mb-3 text-[12px] md:text-[14px] 2xl:text-[18px] leading-none tracking-wide;

    // design
    .slider & {
        @apply text-[14px] mb-3 2xl:text-[18px];
    }
}

.price {
    @apply block text-black leading-none text-[18px] md:text-[24px] 2xl:text-[28px] tracking-wide font-extrabold;

    // design
    .slider & {
        @apply text-[24px] 2xl:text-[28px];
    }

    .cart & {
        @apply text-[18px] md:text-[22px];
    }

    .sliderModal & {
        @apply md:text-18 2xl:text-22;
    }

    .modification & {
        @apply md:font-normal md:text-14 xl:text-15 2xl:text-18 md:text-text-low md:self-center md:w-[8rem] xl:w-[12rem] 2xl:w-[18rem] md:flex-shrink-0;
    }

    .modal & {
        @apply text-22 xl:text-24;
    }

    .search & {
        @apply text-14 md:text-18 xl:text-14 2xl:text-18;
    }
}

.oldPrice {
    @apply block ml-3 md:ml-4 text-[10px] md:text-[16px] 2xl:text-[18px] leading-none tracking-wide text-gray-400 line-through;

    // design
    .slider & {
        @apply text-[14px] 2xl:text-[18px];
    }

    .cart & {
        @apply ml-0 text-[10px] md:text-[16px];
    }

    .sliderModal & {
        @apply md:text-14;
    }

    .modal & {
        @apply ml-0 text-[10px] md:text-[16px];
    }

    .search & {
        @apply text-10 md:text-14 xl:text-10 2xl:text-14 ml-4;
    }
}

.buttons {
    @apply bg-brown flex items-center h-16 md:h-20 mt-4 md:mt-6 2xl:mt-8 transition-colors duration-300;

    &._cart {
        @apply bg-primary;
    }

    // design
    .common & {
        @apply justify-between;
    }

    .horizontal & {
        @apply 2xl:mt-0 2xl:w-[29rem];
    }

    .slider & {
        @apply h-20 mt-6 2xl:mt-8;
    }

    .modification & {
        @apply mt-0 hidden md:flex md:h-auto md:flex-1;
    }
}

.buy {
    @apply w-1/2 h-full text-14 md:text-16 2xl:text-18;

    &._cart {
        button {
            @apply bg-primary #{ !important };
        }
    }

    &.modification {
        @apply w-full;
    }

    // design
    .slider & {
        @apply text-[16px] 2xl:text-[18px];
    }
}

.oneClick {
    @apply font-circe mt-6 ml-auto mr-auto text-[12px] md:text-[14px] 2xl:text-[16px] leading-none font-normal pointer-events-auto #{!important};

    // design
    .horizontal & {
        @apply 2xl:mt-8 #{!important};
    }

    .slider & {
        @apply text-[14px] 2xl:text-[16px] #{!important};
    }
}

.cartButton {
    @apply w-1/2 h-[3.6rem] md:h-auto flex items-center justify-center font-circe text-[12px] leading-none tracking-wide transition-colors duration-300 cursor-pointer;

    svg {
        @apply text-stroke;
        transition: all .3s ease;
    }

    &:hover {
        @screen xl {
            @apply bg-primary text-white md:bg-white md:text-primary;

            svg {
                @apply text-white md:text-primary stroke-current md:fill-current;
            }
        }
    }

    &._active {
        @apply text-primary;

        svg {
            @apply text-primary fill-current stroke-current;
        }

        &:hover {
            @screen xl {
                @apply bg-primary text-white md:bg-white md:text-primary;

                svg {
                    @apply text-white md:text-primary stroke-current;
                }
            }
        }
    }
}

.modificationBottom {
    @apply mt-6 md:mt-0 grid items-center md:hidden;
    grid-template-columns: 11.5rem 10rem 6rem;
}

.callbackButton {
    @apply w-full font-circe h-16 md:h-20 leading-none text-12 md:text-16 2xl:text-18 #{ !important };

    // design
    .slider & {
        @apply h-20 text-16 2xl:text-18 #{!important};
    }
}

.imageService {
    @apply mx-auto cursor-pointer;
    width: 19rem;
    height: 19rem;
    object-fit: contain;

    @screen xl {
        width: 23rem;
        height: 23rem;
    }
}

.serviceTag {
    @apply flex justify-center items-center absolute top-4 left-0 text-white h-14 w-20;
    background: #336699;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0 33px 33px 0;
}

.imagesSlider {
    @apply mb-6 md:mb-8 2xl:mb-10 w-[11rem] md:w-[16rem] 2xl:w-[19rem] mx-auto;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    :global(.swiper-pagination) {
        @apply mt-0;

        @screen md {
            display: flex !important;
        }
    }

    :global(.swiper-pagination-bullet) {
        width: 10px;
        height: 10px;
        margin: 0 3px;
        cursor: pointer;

        @screen md {
            width: 12px;
            height: 12px;
            margin: 0 4px;
        }
    }

    &.horizontal {
        @apply mb-0 w-[12rem] 2xl:w-[16rem] ml-6 mr-8 2xl:ml-0 2xl:mr-12 flex-shrink-0;

        :global(.swiper-pagination) {
            @apply mt-4 md:mt-6;

            @screen md {
                display: flex !important;
            }
        }

        :global(.swiper-slide) {
            width: 100% !important;
        }

        .img {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    }
}

.modificationTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
</style>
