<template>
    <div
        v-clickoutside="onClickOutside"
        :class="[$style.Search, { [$style._focused]: isFocused }]"
    >
        <div :class="$style.searchBox">
            <AInput
                design="search-header"
                :placeholder="placeholder"
                :value="value"
                @change="value = $event"
                @focus="onFocus"
                @blur="isFocused = false"
                @keyup="onKeyup"
            />
        </div>

        <div
            v-if="results && results.length && isOpened"
            :class="$style.result"
        >
            <div class="bg-white">
                <AScrollbox
                    :class="$style.scroll"
                    resizable
                >
                    <MProductCard
                        v-for="(item, i) in results"
                        :key="`header-search-results-${i}`"
                        design="search"
                        :data="item"
                        class="first:md:mt-4 last:md:mb-4 first:xl:mt-0 last:xl:mb-0"
                    />
                </AScrollbox>
            </div>

            <AButton
                :link="searchPageUrl"
                class="relative w-full !h-16 md:!h-20 xl:!h-16 2xl:!h-20"
                :class="$style.button"
                @click="isOpened = false"
            >
                Все результаты
            </AButton>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
    props: {
        placeholder: {
            type   : String,
            default: ""
        }
    },

    data()
    {
        return {
            isFocused: false,
            isOpened : false,
            value    : "",
            results  : []
        }
    },

    computed:
    {
        ...mapGetters( "regions", [
            "regionSlug"
        ] ),

        searchPageUrl()
        {
            return `/search/?q=${this.value}`
        }
    },

    watch: {
        async value()
        {
            try
            {
                const res = await this.$api.products.search( { q: this.value } )
                this.results = this.value ? res.results : []
            }
            catch ( e )
            {
                console.warn( "Header/Search: ", e )
            }
        },

        "$route"()
        {
            this.isOpened = false
        }
    },

    methods: {
        onFocus()
        {
            this.isFocused = true
            this.isOpened = true
        },

        onKeyup( e )
        {
            if ( e.keyCode === 13 )
            {
                this.navigateToSearchPage()
            }
        },

        onClickOutside()
        {
            this.isOpened = false
        },

        navigateToSearchPage()
        {
            this.$router.push( this.searchPageUrl )
            this.isOpened = false
        }
    }
}
</script>

<style lang="scss" module>
.Search {
    @apply relative flex items-center justify-between p-0;

    @screen xl {
        @apply h-auto m-0 w-auto container border-0 p-0;
    }

    &._focused {
        .SearchBox {
            @screen xl {
                @apply border border-primary bg-white;
            }
        }

        .icon {
            @apply text-primary;
        }
    }
}

.searchBox {
    @apply relative w-full;
    z-index: 9;
}

.icon {
    @apply text-primary;
    width: 18px;
    height: 18px;
    transition: color .3s ease;
}

.scroll {
    max-height: 29rem;

    @screen md {
        max-height: 30rem;
    }
}

.result {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 8;
    width: 100%;
    box-shadow: 0 8px 20px rgba(118, 118, 118, 0.25);
    overflow: hidden;

    @screen xl {
        width: 32rem;
        top: calc(100% + 13px);
        overflow: visible;
    }

    @screen 2xl {
        top: calc(100% + 21px);
    }

    &:before {
        @apply absolute -top-4 2xl:-top-8 h-4 2xl:h-8 bg-white;
        content: "";
        left: -2rem;
        width: calc(100% + 4rem);
        z-index: 8;
    }
}

.product {
    @apply flex items-center justify-between py-4 mx-6 border-b border-gray-300 last:border-b-0 cursor-pointer;

    &:hover {
        .title {
            @apply xl:text-red-500;
        }
    }
}

.title {
    @apply text-secondary text-[12px] leading-tight font-medium;
    transition: color .3s ease;
    word-break: break-word;
}

.button {
    @apply md:text-16 xl:text-14 2xl:text-16;
    border-radius: 0 !important;
    z-index: 3;
}
</style>
