<template>
    <svg width="20" height="30" viewBox="0 0 20 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.265976 15.0003L4.73435 10.5319L15.266 0L19.7344 4.46802L9.2027 15.0003L19.7344 25.5319L15.2663 30L4.73465 19.4683L0.26655 15.0003H0.265976V15.0003Z" fill="currentColor" />
    </svg>
</template>
