<template>
    <svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="14" cy="14" r="14" fill="white" />
        <path d="M11.0898 9.93945L17.5561 10.0728L17.6895 16.5391" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <line
            x1="16.9727"
            y1="10.8028"
            x2="9.67387"
            y2="18.1016"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
        />
    </svg>
</template>
