<template>
    <svg width="40" height="38" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.0089 2.74933L18.9911 0.841516C19.8304 0.0337036 21.1875 0.0337036 22.0179 0.841516L39.375 17.5392C40.2143 18.347 40.2143 19.6532 39.375 20.4525L22.0179 37.1587C21.1786 37.9665 19.8214 37.9665 18.9911 37.1587L17.0089 35.2509C16.1607 34.4345 16.1786 33.1025 17.0446 32.3032L27.8036 22.4376H2.14286C0.955357 22.4376 0 21.5181 0 20.3751V17.6251C0 16.4821 0.955357 15.5626 2.14286 15.5626H27.8036L17.0446 5.69698C16.1696 4.89777 16.1518 3.56573 17.0089 2.74933Z" fill="white" />
    </svg>
</template>
