<template>
    <svg width="11" height="35" viewBox="0 0 11 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.25 1.45898L9.95397 17.4163L1.25 33.3735" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</template>
