<template>
    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect
            x="23.5703"
            y="1.71484"
            width="4"
            height="4"
            rx="1"
            transform="rotate(90 23.5703 1.71484)"
            stroke="white"
            stroke-width="2"
        />
        <rect
            x="23.5703"
            y="10.7148"
            width="4"
            height="4"
            rx="1"
            transform="rotate(90 23.5703 10.7148)"
            stroke="white"
            stroke-width="2"
        />
        <rect
            x="23.5703"
            y="19.7148"
            width="4"
            height="4"
            rx="1"
            transform="rotate(90 23.5703 19.7148)"
            stroke="white"
            stroke-width="2"
        />
        <rect
            x="14.5703"
            y="1.71484"
            width="4"
            height="4"
            rx="1"
            transform="rotate(90 14.5703 1.71484)"
            stroke="white"
            stroke-width="2"
        />
        <rect
            x="14.5703"
            y="10.7148"
            width="4"
            height="4"
            rx="1"
            transform="rotate(90 14.5703 10.7148)"
            stroke="white"
            stroke-width="2"
        />
        <rect
            x="14.5703"
            y="19.7148"
            width="4"
            height="4"
            rx="1"
            transform="rotate(90 14.5703 19.7148)"
            stroke="white"
            stroke-width="2"
        />
        <rect
            x="5.32031"
            y="1.71484"
            width="4"
            height="4"
            rx="1"
            transform="rotate(90 5.32031 1.71484)"
            stroke="white"
            stroke-width="2"
        />
        <rect
            x="5.32031"
            y="10.7148"
            width="4"
            height="4"
            rx="1"
            transform="rotate(90 5.32031 10.7148)"
            stroke="white"
            stroke-width="2"
        />
        <rect
            x="5.32031"
            y="19.7148"
            width="4"
            height="4"
            rx="1"
            transform="rotate(90 5.32031 19.7148)"
            stroke="white"
            stroke-width="2"
        />
    </svg>
</template>
