<template>
    <svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="7.71422" height="7.71422" fill="currentColor" />
        <rect y="10.2852" width="7.71422" height="7.71422" fill="currentColor" />
        <rect x="10.2852" y="10.2852" width="7.71422" height="7.71422" fill="currentColor" />
        <rect x="10.2852" width="7.71422" height="7.71422" fill="currentColor" />
    </svg>
</template>
