<template>
    <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.25391 5.24951L4.91211 8.90772L12.2285 1.59131" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
    </svg>
</template>
