<template>
    <svg width="15" height="30" viewBox="0 0 15 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.33333 5.51227V22.3392C3.33333 22.3392 3.02333 25.8707 7.56833 25.8707C11.6667 25.8707 11.6667 22.3392 11.6667 22.3392V4.64191C11.6667 4.64191 11.6667 0 5.83333 0C0 0 0 4.64191 0 4.64191V22.3392C0 22.3392 0 29.0119 7.5 29.0119C15 29.0119 15 22.3392 15 22.3392V4.64191C15 3.91661 13.3333 3.91661 13.3333 4.64191V22.3392C13.3333 22.3392 13.94 27.6932 7.5 27.6932C1.66667 27.6932 1.66667 22.3392 1.66667 22.3392V4.64191C1.66667 4.64191 1.66667 1.31872 5.83333 1.31872C10 1.31872 10 4.64191 10 4.64191V22.3392C10 22.3392 10 24.4202 7.56833 24.4202C5.13671 24.4202 5 22.3392 5 22.3392V5.51227C5 4.78697 3.33333 4.78697 3.33333 5.51227Z" fill="currentColor" />
    </svg>
</template>
