<template>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="10" cy="10" r="10" fill="#F4F6FB" />
        <path d="M7.5 7.5L12.8226 12.8226" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M7.5 12.8223L12.8226 7.49969" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</template>
