<template>
    <svg width="29" height="38" viewBox="0 0 29 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_557_115858)">
            <path d="M0 8.3125V0L8.3125 0L20.5833 0L24.5417 3.95833L28.5 7.91667V38H0V8.3125Z" fill="#FF3E3D" />
            <path d="M20.582 8.3125L28.8945 8.3125L20.582 0V8.3125Z" fill="#D01F1E" />
            <path d="M8.70703 20.8066L14.2487 26.1243L19.7904 20.8066" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <line
                x1="1"
                y1="-1"
                x2="13.0387"
                y2="-1"
                transform="matrix(0 -1 -1 0 13.4844 25.9141)"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
            />
        </g>
        <defs>
            <clipPath id="clip0_557_115858">
                <rect width="28.5" height="38" fill="white" />
            </clipPath>
        </defs>
    </svg>
</template>
