<template>
    <svg width="21" height="28" viewBox="0 0 21 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_557_66182)">
            <path d="M0 6.125V0L6.125 0L15.1667 0L18.0833 2.91667L21 5.83333V28H0V6.125Z" fill="#FF3E3D" />
            <path d="M15.166 6.125L21.291 6.125L15.166 0V6.125Z" fill="#D01F1E" />
        </g>
        <path d="M4.35128 17.983H3V12.0255C3.10135 12.0255 3.38568 12.0227 3.853 12.017C4.32594 12.0113 4.64406 12.0085 4.80734 12.0085C5.64626 12.0085 6.25433 12.1957 6.63157 12.5702C7.0088 12.939 7.19741 13.4099 7.19741 13.983C7.19741 14.539 6.99754 15.0128 6.59778 15.4043C6.19803 15.7901 5.66878 15.983 5.01003 15.983C4.71162 15.983 4.49204 15.9745 4.35128 15.9574V17.983ZM4.94247 13.2851C4.91994 13.2851 4.72288 13.2908 4.35128 13.3021V14.6638C4.56523 14.6922 4.77074 14.7064 4.9678 14.7064C5.18175 14.7064 5.36756 14.6496 5.5252 14.5362C5.68285 14.4227 5.76168 14.2355 5.76168 13.9745C5.76168 13.5149 5.48861 13.2851 4.94247 13.2851Z" fill="white" />
        <path d="M8.29493 17.983V12.0255H8.41317C8.50888 12.0255 8.7904 12.0227 9.25772 12.017C9.72504 12.0057 10.0263 12 10.1614 12C11.2762 12 12.1067 12.278 12.6528 12.834C13.2046 13.3901 13.4805 14.0965 13.4805 14.9532C13.4805 15.8326 13.1849 16.5617 12.5937 17.1404C12.0081 17.7135 11.1748 18 10.0938 18C10.0094 18 9.76445 17.9972 9.35907 17.9915C8.95368 17.9858 8.64683 17.983 8.43851 17.983H8.29493ZM10.1445 13.2766C9.92491 13.2766 9.75882 13.2851 9.64621 13.3021V16.7064C9.76445 16.7177 9.92773 16.7234 10.1361 16.7234C10.7272 16.7234 11.1917 16.5702 11.5296 16.2638C11.873 15.9518 12.0447 15.5149 12.0447 14.9532C12.0447 14.4199 11.8702 14.0085 11.5211 13.7191C11.172 13.4241 10.7132 13.2766 10.1445 13.2766Z" fill="white" />
        <path d="M14.5796 17.983V12.0255H18V13.3021H15.9309V14.5617H17.7466V15.8383H15.9309V17.983H14.5796Z" fill="white" />
        <defs>
            <clipPath id="clip0_557_66182">
                <rect width="21" height="28" fill="white" />
            </clipPath>
        </defs>
    </svg>
</template>
