<template>
    <svg viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.1884 2.0711L15.5391 13.0711C15.5976 13.1724 15.6284 13.2874 15.6284 13.4044C15.6284 13.5214 15.5976 13.6364 15.5391 13.7378C15.4806 13.8391 15.3964 13.9233 15.2951 13.9818C15.1937 14.0403 15.0788 14.0711 14.9617 14.0711H2.2604C2.14338 14.0711 2.02842 14.0403 1.92707 13.9818C1.82573 13.9233 1.74157 13.8391 1.68306 13.7378C1.62455 13.6364 1.59375 13.5214 1.59375 13.4044C1.59375 13.2874 1.62455 13.1724 1.68307 13.0711L8.03373 2.0711C8.09225 1.96976 8.1764 1.88561 8.27775 1.8271C8.37909 1.76859 8.49405 1.73779 8.61107 1.73779C8.72809 1.73779 8.84304 1.76859 8.94439 1.8271C9.04573 1.88561 9.12989 1.96976 9.1884 2.0711ZM3.41507 12.7378H13.8071L8.61107 3.73776L3.41507 12.7378ZM7.9444 10.7378H9.27773V12.0711H7.9444V10.7378ZM7.9444 6.0711H9.27773V9.40443H7.9444V6.0711Z" fill="currentColor" />
    </svg>
</template>
