<template>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.4516 23.8359C14.3344 23.8406 14.2594 23.85 14.1844 23.85C12.5812 23.85 10.9828 23.8453 9.37969 23.8547C9.15469 23.8547 9.09375 23.7938 9.09375 23.5688C9.09844 19.8375 9.09844 16.1016 9.09844 12.3703C9.09844 12.2719 9.09844 12.1734 9.09844 12.0469C8.22656 12.0469 7.37812 12.0469 6.51562 12.0469C6.51562 10.7156 6.51562 9.40782 6.51562 8.06251C6.60469 8.06251 6.68906 8.06251 6.76875 8.06251C7.47187 8.06251 8.175 8.05782 8.87812 8.0672C9.05625 8.0672 9.10312 8.01564 9.10312 7.8422C9.09375 6.79689 9.09375 5.74689 9.10312 4.70157C9.10781 3.97032 9.225 3.25782 9.5625 2.59689C10.0453 1.66407 10.8094 1.05939 11.775 0.684387C12.5625 0.375012 13.3922 0.262512 14.2266 0.248449C15.5859 0.229699 16.9453 0.239074 18.3047 0.234387C18.4312 0.234387 18.5344 0.229699 18.5344 0.407824C18.5297 1.69689 18.5297 2.98595 18.5297 4.27501C18.5297 4.28907 18.525 4.30314 18.5062 4.36407C18.4266 4.36407 18.3375 4.36407 18.2484 4.36407C17.4047 4.36407 16.5609 4.35939 15.7172 4.36407C15.2297 4.36407 14.8359 4.56095 14.5875 4.98751C14.5125 5.11407 14.4656 5.27814 14.4656 5.42814C14.4516 6.22501 14.4656 7.02189 14.4562 7.81876C14.4562 8.00626 14.5125 8.05782 14.6953 8.05782C15.8672 8.04845 17.0391 8.05314 18.2109 8.05314C18.3047 8.05314 18.3937 8.05314 18.5531 8.05314C18.3891 9.39376 18.2297 10.7063 18.0656 12.0328C16.8469 12.0328 15.6609 12.0328 14.4516 12.0328C14.4516 15.975 14.4516 19.8938 14.4516 23.8359Z" fill="currentColor" />
    </svg>
</template>
