<template>
    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.6615 1.83203H4.32812C3.79769 1.83203 3.28898 2.04274 2.91391 2.41782C2.53884 2.79289 2.32813 3.3016 2.32813 3.83203V4.61203C2.32803 4.88733 2.38477 5.15968 2.49479 5.41203V5.45203C2.58898 5.66601 2.72239 5.86047 2.88813 6.02536L6.99479 10.1054V14.4987C6.99456 14.612 7.02322 14.7235 7.07804 14.8226C7.13286 14.9218 7.21205 15.0053 7.30813 15.0654C7.41422 15.1311 7.53664 15.1658 7.66146 15.1654C7.76582 15.1647 7.86858 15.1396 7.96146 15.092L10.6281 13.7587C10.7381 13.7033 10.8305 13.6185 10.8952 13.5138C10.96 13.4091 10.9944 13.2885 10.9948 13.1654V10.1054L15.0748 6.02536C15.2405 5.86047 15.3739 5.66601 15.4681 5.45203V5.41203C15.5873 5.16165 15.6532 4.88922 15.6615 4.61203V3.83203C15.6615 3.3016 15.4507 2.79289 15.0757 2.41782C14.7006 2.04274 14.1919 1.83203 13.6615 1.83203ZM9.85479 9.3587C9.793 9.42099 9.74412 9.49487 9.71094 9.57609C9.67777 9.65732 9.66095 9.74429 9.66146 9.83203V12.752L8.32812 13.4187V9.83203C8.32863 9.74429 8.31181 9.65732 8.27864 9.57609C8.24546 9.49487 8.19658 9.42099 8.13479 9.3587L4.60146 5.83203H13.3881L9.85479 9.3587ZM14.3281 4.4987H3.66146V3.83203C3.66146 3.65522 3.7317 3.48565 3.85672 3.36063C3.98174 3.2356 4.15131 3.16536 4.32812 3.16536H13.6615C13.8383 3.16536 14.0078 3.2356 14.1329 3.36063C14.2579 3.48565 14.3281 3.65522 14.3281 3.83203V4.4987Z" fill="white" />
    </svg>
</template>
