<template>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.6711 12.0452C23.6711 13.6764 23.6383 15.3124 23.6805 16.9436C23.7508 19.8311 21.9367 22.0624 19.6258 23.0561C18.6977 23.4546 17.7227 23.6655 16.7148 23.6655C13.5602 23.6702 10.4008 23.7124 7.24609 23.6514C4.86953 23.6046 2.91484 22.6108 1.51328 20.6514C0.777344 19.6202 0.425781 18.4483 0.425781 17.178C0.425781 13.8171 0.425781 10.4608 0.425781 7.09987C0.425781 4.35769 1.76172 2.4405 4.13359 1.19362C5.16484 0.65456 6.28516 0.424872 7.45234 0.420185C10.5133 0.420185 13.5789 0.401435 16.6398 0.42956C19.0164 0.44831 20.9992 1.35769 22.4617 3.27018C23.2773 4.33893 23.6711 5.56706 23.6711 6.91706C23.6711 8.62331 23.6711 10.3342 23.6711 12.0452ZM2.15547 12.0452C2.15547 13.7655 2.15547 15.4811 2.15547 17.2014C2.15547 17.9702 2.33359 18.6921 2.73203 19.3436C3.77734 21.0546 5.35703 21.8889 7.31641 21.9217C10.4617 21.9686 13.6117 21.9405 16.7617 21.9311C17.5352 21.9311 18.2852 21.7717 18.9836 21.4389C20.8867 20.5296 21.9508 19.0811 21.9414 16.9061C21.9227 13.578 21.9367 10.2499 21.9367 6.92175C21.9367 5.97956 21.6695 5.11706 21.1117 4.35769C20.0336 2.89987 18.543 2.18268 16.7617 2.16393C13.6211 2.12643 10.4805 2.14987 7.33984 2.15456C6.66953 2.15456 6.02266 2.2905 5.39453 2.52487C3.66953 3.16706 2.06641 4.79362 2.14141 7.18893C2.19766 8.81081 2.15547 10.428 2.15547 12.0452Z" fill="currentColor" />
        <path d="M12.075 17.0156C9.05157 17.0156 6.61407 14.6063 6.60938 11.6063C6.60469 8.65313 9.06095 6.23438 12.0656 6.23438C15.0797 6.22969 17.5266 8.64376 17.5313 11.6203C17.5313 14.5922 15.0891 17.0109 12.075 17.0156ZM12.075 15.2813C14.1328 15.2813 15.8016 13.6359 15.7969 11.6109C15.7922 9.60469 14.1235 7.96407 12.075 7.96407C10.0172 7.96407 8.33907 9.60001 8.33907 11.6203C8.34376 13.6453 10.0172 15.2859 12.075 15.2813Z" fill="currentColor" />
        <path d="M18.1633 4.59375C18.7961 4.59375 19.3118 5.13281 19.3118 5.79375C19.3071 6.45468 18.7868 6.98906 18.1539 6.98437C17.5305 6.97968 17.0196 6.44531 17.0196 5.79844C17.0149 5.1375 17.5305 4.59375 18.1633 4.59375Z" fill="currentColor" />
    </svg>
</template>
