<template>
    <svg width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="5" height="5" fill="currentColor" />
        <rect x="8" width="20" height="5" fill="currentColor" />
        <rect x="8" y="8" width="20" height="5" fill="currentColor" />
        <rect x="8" y="16" width="20" height="5" fill="currentColor" />
        <rect y="8" width="5" height="5" fill="currentColor" />
        <rect y="16" width="5" height="5" fill="currentColor" />
    </svg>
</template>
