<template>
    <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.22588 6.84174C1.39814 6.52337 1.36369 5.36501 2.17106 4.99803L9.23871 1.78545C10.0799 1.4031 10.9452 2.26845 10.5629 3.10962L7.35031 10.1773C6.98333 10.9846 5.82496 10.9502 5.5066 10.1225L4.75483 8.16787C4.65326 7.90378 4.44456 7.69508 4.18047 7.5935L2.22588 6.84174Z" stroke="currentColor" stroke-width="1.5" />
    </svg>
</template>
