<template>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        xml:space="preserve"
        width="22.0132mm"
        height="3.6362mm"
        version="1.1"
        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 2201.32 363.62"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:xodm="http://www.corel.com/coreldraw/odm/2003"
    >
        <defs />
        <g id="Слой_x0020_1">
            <metadata id="CorelCorpID_0Corel-Layer" />
            <g id="_2436889483760">
                <g>
                    <path class="fil0" d="M1245.82 124.08l-0.33 170.75c35,0.74 62.04,-15.59 79.32,-32.09 8.39,-8.01 17.23,-19.76 22.99,-32.98 5.18,-11.9 11.33,-31.09 9.28,-45.96 -7.31,9.28 -17.1,30.86 -30.16,30.09 -20.77,-18.85 29.87,-71.53 -5.52,-114.75l-2.46 0.7c-0.39,34.93 -32.53,59.32 -36.65,41.45 -0.99,-4.29 0.03,-15.67 0.31,-20.26 1.37,-22.5 2.12,-56.98 -22.8,-64.71 -0.28,13.3 -0.68,26.45 -2.11,39.45 -1.48,13.39 -2.61,24.08 -11.87,28.31z" />
                    <path class="fil1" d="M1245.49 294.83l0.33 -170.75 -0.29 -53.38c-5.57,3.66 -15.14,13.28 -20.71,18.53 -34.51,32.47 -78.66,69.86 -76.38,121.35 2.17,49 48.21,84.77 97.05,84.25z" />
                </g>
                <g>
                    <path class="fil1" d="M1180.15 73.17c-34.36,24.1 -56.83,64.01 -56.83,109.17 0,73.59 59.65,133.25 133.25,133.25 22.73,0 44.14,-5.7 62.87,-15.74l35.02 6.37 -6.01 33.03c-26.97,15.82 -58.36,24.9 -91.88,24.9 -100.42,0 -181.81,-81.4 -181.81,-181.81 0,-61.68 30.72,-116.18 77.69,-149.05l-4.23 23.27 -1.91 10.46 10.46 1.9 23.38 4.25z" />
                    <path class="fil2" d="M1733.86 313.72c13.6,0.29 27.39,0.07 41,0.07 24.16,0 28.88,3.21 34.72,-6.28 7.9,-12.83 91.08,-143.44 97.8,-150.29l0.66 156.58 70.17 -0.35 0.01 -262.5 -72.27 -0.01 -50.58 78.93c-3.33,5.03 -45.96,74.22 -51.28,77.5l0 -156.43 -70.8 0.05 0.57 262.73z" />
                    <path class="fil1" d="M627.51 207.59c10.76,-1.07 41.08,-1.13 50.53,0.89 13.98,3 24.09,10.39 23.43,26.93 -0.62,15.56 -11.97,22.65 -25.56,25 -9.74,1.7 -37.93,2.29 -48.29,0.87l-0.11 -53.69zm0.25 -103.99c8.94,-1.29 35.85,-1 44.02,0.92 27.91,6.57 29.53,43.67 -1.24,49.27 -8.47,1.54 -33.71,1.91 -42.99,0.61l0.21 -50.8zm100.44 64.72c8.22,-4.02 13.31,-8.72 19,-15.3 7.83,-9.05 12.39,-18.33 12.7,-33.59 1.51,-74.15 -69.81,-68.56 -114.88,-68.56 -30.27,0 -60.55,0.01 -90.83,0l0.63 262.92c34.53,0.04 69.07,0.01 103.6,0.01 35.79,0 61.89,2.51 87.91,-15.65 17.65,-12.33 34.26,-40.34 26.63,-74.32 -9.04,-40.24 -41.81,-44.03 -52.59,-50.86l7.83 -4.65z" />
                    <path class="fil1" d="M290.83 312.34c13.07,2.88 56.31,0.88 72.52,0.88l0.06 -111.53 2.7 2.2c3.83,3.08 16.1,22.33 19.39,27.6l56.07 82.31 89.91 0c-1.82,-5.38 -19.73,-27.4 -24.67,-33.86l-75.99 -101.01c2.55,-6.5 74.28,-96.4 86.16,-111.69 5.21,-6.69 8,-9.38 12.38,-16.37l-85.72 0c-7.14,13.24 -76.8,107.48 -79.41,109.23l-0.04 -109.24 -73.24 0.3 -0.12 261.18z" />
                    <path class="fil1" d="M891.2 210.91c3.72,-16.55 10.1,-33.17 14.92,-49.33 2.55,-8.56 4.88,-15.6 7.38,-23.9 1.32,-4.37 2.76,-8.53 3.92,-12.41l4.46 -10.67 29.53 96.25 -60.21 0.06zm-15.07 57.41l90.28 0.16 10.79 33.86c0.44,1.45 1.13,4.05 1.77,5.67l2.8 5.74 76.68 0.05c-0.4,-7.63 -71.14,-202.54 -81.4,-231.67 -1.87,-5.32 -4.06,-10.92 -5.9,-16.41 -2.49,-7.45 -3.16,-13.83 -7.5,-14.85l-84.87 -0.01c-5.8,3.43 -10.96,25.33 -13.62,32.55 -9.67,26.2 -80.93,224.75 -81.13,230.41l77.78 -0.27 14.32 -45.23z" />
                    <path class="fil1" d="M101.52 210.92c1.46,-9.85 26.34,-89.81 29.82,-94.8 3.41,5.29 28.26,85.29 29.8,94.8l-59.62 0zm-108.66 101.14l0 1.53 78.7 0.33 14.68 -45.62 89.94 0.08 15.29 45.43 77.76 -0.4 -93.15 -262.54 -89.56 0c-6.74,21.86 -15.39,43.87 -23.28,65.9l-64.04 180.18c-1.75,5.22 -3.13,10.86 -6.34,15.11z" />
                    <path class="fil2" d="M1448.97 51.06c5.78,11.76 80.29,112.85 85.83,124.89 -11.19,17.31 -93.18,132.42 -94.56,137.84l82.52 0.09 52.58 -85.75c0.83,0.77 0.95,0.84 2.13,2.32l23.45 40.52c5.24,9.42 20.14,37.47 25.26,42.82l84.36 0c-1.14,-5.76 -83.86,-125.57 -94.34,-141.92 11.47,-17.99 74.4,-108.35 81.15,-120.92l-75.85 -0.08c-6.98,0 -6.72,-0.19 -9.7,5.17l-34.36 62.38c-0.16,0.22 -0.54,0.65 -0.67,0.82 -0.13,0.17 -0.61,1.02 -0.71,0.79 -0.09,-0.23 -0.46,0.53 -0.72,0.77 -10.45,-12.9 -35.43,-69.93 -41.69,-69.91l-84.68 0.17z" />
                    <path class="fil2" d="M2061.41 113.67c3.81,1.84 2.54,4.77 2.48,10.14l-0.06 189.44c15.85,0.07 60.02,1.96 72.69,-0.88l0.08 -198.76 57.59 -0.64 0 -62.06 -188.96 -0.02 -0.01 1.48 -0.01 59.56 -0.01 1.64 56.21 0.1z" />
                    <path class="fil2" d="M1256.57 0.53c100.41,0 181.81,81.4 181.81,181.81 0,61.68 -30.72,116.18 -77.69,149.05l4.23 -23.27 1.9 -10.46 -10.46 -1.9 -23.38 -4.25c34.37,-24.1 56.84,-64.01 56.84,-109.17 0,-73.59 -59.66,-133.25 -133.25,-133.25 -22.74,0 -44.15,5.7 -62.87,15.74l-35.02 -6.37 6.01 -33.03c26.96,-15.82 58.36,-24.9 91.88,-24.9z" />
                </g>
            </g>
        </g>
    </svg>
</template>

<style>
.fil1 {fill:#025273}
.fil2 {fill:#FE3E3C}
.fil0 {fill:#FF3E3E}
</style>
