<template>
    <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 4C1 2.89543 1.89543 2 3 2H11C12.1046 2 13 2.89543 13 4V8.5C13 9.60457 12.1046 10.5 11 10.5H3C1.89543 10.5 1 9.60457 1 8.5V4Z" stroke="currentColor" stroke-linejoin="round" />
        <path d="M2.42131 3.30287C1.91709 2.84067 2.24409 2 2.9281 2H11.0719C11.7559 2 12.0829 2.84067 11.5787 3.30287L9.02717 5.64176C7.88021 6.69314 6.11979 6.69314 4.97283 5.64176L2.42131 3.30287Z" stroke="currentColor" stroke-linejoin="round" />
    </svg>
</template>
