<template>
    <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M155.336 144.616C149.507 151.889 142.301 157.945 134.129 162.438C125.956 166.931 116.977 169.773 107.705 170.801C98.432 171.83 89.0472 171.025 80.086 168.433C71.1247 165.841 62.7627 161.513 55.4772 155.694C48.1918 149.876 42.1256 142.682 37.6251 134.523C33.1245 126.365 30.2777 117.401 29.2472 108.144C28.2167 98.8866 29.0227 89.5175 31.6192 80.5714C34.2157 71.6253 38.5517 63.2774 44.3799 56.0042L44.3799 62.0363L49.9276 60.4347C44.6823 66.9806 40.7799 74.4938 38.443 82.5453C36.1062 90.5968 35.3808 99.0289 36.3083 107.36C37.2357 115.692 39.7978 123.759 43.8483 131.102C47.8988 138.445 53.3584 144.919 59.9153 150.156C66.4722 155.392 73.998 159.288 82.0631 161.621C90.1282 163.954 98.5746 164.678 106.92 163.752C115.265 162.826 123.347 160.269 130.702 156.225C138.057 152.181 144.542 146.731 149.788 140.185L155.292 138.97L155.336 144.616Z" fill="#025273" />
        <path d="M45.5454 54.5606C51.2394 47.1823 56.8693 42.4577 64.9582 37.8164C73.0471 33.1751 81.9725 30.1698 91.2249 28.9721C100.477 27.7744 109.875 28.4078 118.882 30.836C127.89 33.2642 136.329 37.4397 143.72 43.1242C151.111 48.8087 157.308 55.8907 161.957 63.966C166.606 72.0413 169.616 80.9517 170.816 90.1884C172.016 99.4252 171.381 108.807 168.949 117.799C166.517 126.791 162.334 135.217 156.64 142.595L156.53 136.564L151.012 138.267C156.137 131.626 159.901 124.043 162.09 115.95C164.279 107.858 164.85 99.4135 163.77 91.1005C162.691 82.7874 159.981 74.7681 155.797 67.5003C151.613 60.2325 146.036 53.8587 139.384 48.7427C132.733 43.6266 125.137 39.8687 117.03 37.6833C108.924 35.4979 100.466 34.9279 92.1384 36.0058C83.8113 37.0837 75.7784 39.7885 68.4984 43.9656C61.2184 48.1428 55.8226 52.0914 50.698 58.7318L44.945 60.6191L45.5454 54.5606Z" fill="#FF3E3D" />
        <path d="M81.7742 113.147L111.652 83.3198" stroke="#FF3E3D" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M81.6755 83.2211L111.751 113.246" stroke="#FF3E3D" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</template>
