<template>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 0.75C9.225 0.75 6.9375 3 6.9375 5.8125C6.9375 8.5875 9.1875 10.875 12 10.875C14.8125 10.875 17.0625 8.625 17.0625 5.8125C17.0625 3 14.775 0.75 12 0.75ZM12 7.5C11.0625 7.5 10.3125 6.75 10.3125 5.8125C10.3125 4.875 11.0625 4.125 12 4.125C12.9375 4.125 13.6875 4.875 13.6875 5.8125C13.6875 6.75 12.9375 7.5 12 7.5Z" fill="currentColor" />
        <path d="M18.2249 14.289C16.9499 15.0015 15.5624 15.489 14.1749 15.714L18.1124 20.5515C18.5624 21.114 18.6749 21.9015 18.2624 22.5015C17.6249 23.4765 16.2749 23.514 15.5999 22.6515L11.9624 18.189L8.36243 22.6515C8.02493 23.064 7.57493 23.2515 7.08743 23.2515C6.59993 23.2515 6.11243 23.0265 5.77493 22.5765C5.36243 22.014 5.39993 21.0765 5.84993 20.514L9.74993 15.639C8.36243 15.3765 6.97493 14.9265 5.73743 14.214C4.94993 13.764 4.68743 12.789 5.13743 11.964C5.58743 11.1765 6.59993 10.914 7.38743 11.364C10.2374 12.9765 13.7999 12.9765 16.6874 11.4015C17.4749 10.9515 18.4874 11.2515 18.8999 12.039C19.3124 12.864 19.0124 13.839 18.2249 14.289Z" fill="currentColor" />
    </svg>
</template>
