<template>
    <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.39077 10.8619L4.30899 10.9263C3.63772 11.4545 2.69448 11.4238 2.25756 10.6899C1.70702 9.76502 1.11189 8.24232 1.12997 5.9957C1.14804 3.749 1.76763 2.2358 2.33299 1.31973C2.78162 0.592792 3.7253 0.577203 4.38803 1.11618L4.46863 1.18173C4.98463 1.60138 5.20199 2.28749 5.02176 2.92771L4.90824 3.33092C4.77146 3.81678 4.32645 4.15101 3.82171 4.14695C3.44745 4.14394 3.09646 4.33262 2.9843 4.68969C2.88734 4.99837 2.79667 5.43781 2.79208 6.00866C2.78748 6.57951 2.87108 7.02035 2.96306 7.33055C3.06946 7.68939 3.41737 7.88368 3.79163 7.88669C4.29637 7.89075 4.73595 8.2321 4.8649 8.7201L4.97191 9.12508C5.14182 9.76812 4.91345 10.4506 4.39077 10.8619Z" stroke="#404356" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</template>
