<template>
    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.7865 10.6221L12.6958 11.4384C12.5925 12.3681 11.8476 13.0822 10.9289 12.9061C9.46271 12.6252 7.14594 11.7803 4.68197 9.31632C2.21805 6.8524 1.37283 4.53537 1.09165 3.06893C0.915464 2.15007 1.62959 1.405 2.55946 1.30168L3.37539 1.21102C4.16804 1.12295 4.93726 1.51422 5.33286 2.20672L5.73579 2.91204C6.08726 3.52729 5.98352 4.30165 5.48248 4.80269C5.11096 5.17421 4.95416 5.71117 5.20101 6.17498C5.41441 6.57593 5.76482 7.09934 6.33148 7.666C6.89814 8.23266 7.42155 8.58307 7.8225 8.79647C8.28631 9.04332 8.82327 8.88652 9.1948 8.515C9.69583 8.01397 10.4702 7.91022 11.0854 8.26169L11.7908 8.66462C12.4833 9.06022 12.8745 9.82944 12.7865 10.6221Z" stroke="currentColor" stroke-width="1.54" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</template>
