<template>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect
            x="4.16602"
            y="14.166"
            width="11.6667"
            height="5"
            stroke="#404356"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
        <rect
            x="4.16602"
            y="0.833984"
            width="11.6667"
            height="4.16667"
            stroke="#404356"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
        <path d="M0.833984 8C0.833984 6.34315 2.17713 5 3.83398 5H16.1673C17.8242 5 19.1673 6.34315 19.1673 8V14.1667H0.833984V8Z" stroke="#404356" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <rect
            x="14.166"
            y="9.16602"
            width="1.66667"
            height="1.66667"
            rx="0.833333"
            stroke="#404356"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
</template>
