<template>
    <svg width="15" height="28" viewBox="0 0 15 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.74265 10.3631C10.2328 9.63315 10.4779 8.79888 10.4779 7.86033C10.4779 6.92179 10.1471 6.12663 9.48529 5.47486C8.82353 4.82309 8.00245 4.49721 7.02206 4.49721C5.20833 4.49721 3.70098 5.33147 2.5 7L0 3.98883C0.686275 2.81564 1.66667 1.86406 2.94118 1.13408C4.2402 0.378026 5.68627 0 7.27941 0C9.65686 0 11.5319 0.664804 12.9044 1.99441C14.3015 3.29795 15 4.92737 15 6.88268C15 8.08194 14.8162 9.16387 14.4485 10.1285C14.0809 11.0931 13.6275 11.8622 13.0882 12.4358C12.549 12.9832 11.973 13.5438 11.3603 14.1173C10.7721 14.6648 10.2206 15.1601 9.70588 15.6034C9.21569 16.0205 8.83578 16.5549 8.56618 17.2067C8.29657 17.8324 8.22304 18.5233 8.34559 19.2793L4.48529 19.3184C4.28922 18.041 4.35049 16.946 4.66912 16.0335C5.01226 15.095 5.50245 14.3389 6.13971 13.7654C6.77696 13.1918 7.41422 12.6574 8.05147 12.162C8.71324 11.6667 9.27696 11.067 9.74265 10.3631ZM3.67647 24.8715C3.67647 24.1415 3.94608 23.4767 4.48529 22.8771C5.02451 22.2775 5.72304 21.9777 6.58088 21.9777C7.3652 21.9777 8.01471 22.2775 8.52941 22.8771C9.04412 23.4767 9.30147 24.1415 9.30147 24.8715C9.30147 25.7058 9.04412 26.4358 8.52941 27.0615C8.01471 27.6872 7.3652 28 6.58088 28C5.72304 28 5.02451 27.6872 4.48529 27.0615C3.94608 26.4358 3.67647 25.7058 3.67647 24.8715Z" fill="#FF3E3D" />
    </svg>
</template>
