<template>
    <svg width="40" height="34" viewBox="0 0 40 34" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.2825 0.499878C10.1944 0.997945 0.0056 2.12961 0 16.0113V33.477H15.8168V17.1551H9.16667C8.41667 8.08321 14.341 8.51178 18.8091 7.52275L17.2825 0.499878ZM38.4733 0.499878C31.3852 0.997945 21.1964 2.12964 21.1908 16.0113V33.477H37.0077V17.1551H30.0833C28.8 7.96655 35.5319 8.51178 40 7.52275L38.4733 0.499878Z" fill="#025273" />
    </svg>
</template>
