<template>
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.084 18.334C14.6403 18.334 18.334 14.6403 18.334 10.084C18.334 5.52763 14.6403 1.83398 10.084 1.83398C5.52763 1.83398 1.83398 5.52763 1.83398 10.084C1.83398 14.6403 5.52763 18.334 10.084 18.334Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M20.1667 20.1667L16.5 16.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</template>
