<template>
    <div
        :class="$style.Socials"
        class="flex"
    >
        <!--        <AButton-->
        <!--            type="external"-->
        <!--            target="_blank"-->
        <!--            design="custom"-->
        <!--            link="https://www.instagram.com/makipa_ru/"-->
        <!--            :class="$style.button"-->
        <!--        >-->
        <!--            <IconInstagram />-->
        <!--        </AButton>-->

        <!--        <AButton-->
        <!--            type="external"-->
        <!--            target="_blank"-->
        <!--            design="custom"-->
        <!--            link="https://www.facebook.com/makiparu/"-->
        <!--            :class="$style.button"-->
        <!--        >-->
        <!--            <IconFacebook />-->
        <!--        </AButton>-->

        <AButton
            type="external"
            target="_blank"
            design="custom"
            link="https://vk.com/akvahit"
            :class="$style.button"
        >
            <IconVk />
        </AButton>

        <AButton
            type="external"
            target="_blank"
            design="custom"
            link="https://ok.ru/group/68041243557944/"
            :class="$style.button"
        >
            <IconOk />
        </AButton>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" module>
.Socials {
    //
}

.button {
    @apply text-secondary mr-6 last:mr-0 xl:hover:text-primary;

    svg {
        @apply w-12 h-12;
    }
}
</style>
