<template>
    <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M12.9752 2.32594C13.2318 1.71117 14.1028 1.71117 14.3594 2.32594L17.0709 8.82124C17.1734 9.06694 17.3986 9.23984 17.6624 9.27555L24.7882 10.24C25.4384 10.328 25.6701 11.1495 25.1618 11.5643L19.6514 16.061C19.4299 16.2417 19.3305 16.5326 19.3949 16.8111L21.1572 24.4265C21.3123 25.0967 20.5587 25.6046 19.9956 25.2095L14.0982 21.0703C13.8396 20.8888 13.495 20.8888 13.2365 21.0703L7.33896 25.2095C6.77592 25.6047 6.02233 25.0967 6.1774 24.4265L7.93956 16.8111C8.004 16.5326 7.90453 16.2417 7.68305 16.061L2.17279 11.5643C1.66446 11.1495 1.89621 10.328 2.54638 10.24L9.67223 9.27555C9.93606 9.23984 10.1612 9.06694 10.2638 8.82124L12.9752 2.32594Z"
            fill="white"
            stroke="white"
            stroke-width="2"
            stroke-miterlimit="3.3292"
            stroke-linecap="round"
            stroke-linejoin="round"
        />
    </svg>
</template>
