<template>
    <div :class="$style.ProductPage">
        <MBreadcrumbs :data="breadcrumbs" />

        <c>
            <OProductHero
                :data="product"
                :title="h1"
                @to-modifications="changeTab"
            />

            <OProductTabs
                ref="tabs"
                :data="product"
                :conjoint-product="conjointProduct"
                :title="title"
                :synonyms="synonyms"
                :reviews="reviews"
                :tab="tab"
                :class="$style.block"
                class="hidden xl:block"
            />
        </c>

        <c v-if="isManager">
            <div :class="$style.block" class="overflow-x-scroll">
                <table
                    class="w-full"
                    :class="$style.table"
                >
                    <tr>
                        <th :class="$style.providerHead">
                            Провайдер
                        </th>

                        <th
                            v-for="(item, i) in providers.grid[0].cells"
                            :key="`table-head-${i}`"
                            :class="$style.providerHead"
                        >
                            {{ item.title }}
                        </th>
                    </tr>

                    <tr
                        v-for="(item, i) in providers.grid"
                        :key="`table-${i}`"
                        :class="{ [$style.bestPrice]: item.bestPrice }"
                    >
                        <td :class="$style.providerCell">
                            {{ item.provider }}
                        </td>

                        <td
                            v-for="(cell, key, j) in item.cells"
                            :key="`table-cell-${j}`"
                            :class="$style.providerCell"
                        >
                            <template v-if="key === 'url'">
                                <AButton
                                    type="external"
                                    design="link"
                                    class="!h-auto"
                                    target="_blank"
                                    :link="cell.value"
                                >
                                    {{ cell.value }}
                                </AButton>
                            </template>
                            <template v-else>
                                {{ cell.value }}
                            </template>
                        </td>
                    </tr>
                </table>
            </div>
        </c>

        <OProductAccordions
            :data="product"
            :conjoint-product="conjointProduct"
            :title="h1"
            :synonyms="synonyms"
            :reviews="reviews"
            class="xl:hidden mb-12"
        />

        <c design="blue-common" class="pb-20 2xl:pb-24 pt-12 xl:pt-16">
            <OProductSlider
                v-if="productAccessories && productAccessories.length"
                :data="productAccessories"
                :class="$style.block"
                title="Аксессуары к товару"
            />

            <!--            <OProductSlider-->
            <!--                v-if="viewedProducts && viewedProducts.length"-->
            <!--                :data="viewedProducts"-->
            <!--                :class="$style.block"-->
            <!--                title="Вы смотрели"-->
            <!--            />-->

            <OFaq
                :data="faq"
                :class="$style.block"
            />

            <div
                :class="$style.block"
                class="grid md:grid-cols-2 xl:flex gap-4 md:gap-6"
            >
                <!--                <OOtherCities-->
                <!--                    :title="product.title"-->
                <!--                    :slug="product.fslug"-->
                <!--                    :class="$style.block"-->
                <!--                />-->

                <OOtherProducts
                    :data="otherProducts"
                />
            </div>

            <!--            <div :class="$style.block">-->
            <!--                <t type="h3" :class="$style.blockTitle">-->
            <!--                    Предлагаем также:-->
            <!--                </t>-->

            <!--                <div class="grid gap-2">-->
            <!--                    <div-->
            <!--                        v-for="(category, i) in recommendCategories"-->
            <!--                        :key="`recommend-categories-${i}`"-->
            <!--                        :class="$style.seoText"-->
            <!--                    >-->
            <!--                        <AButton-->
            <!--                            design="custom"-->
            <!--                            :link="categoryLink( category.fslug )"-->
            <!--                            class="!font-circe text-secondary transition-colors duration-300 xl:hover:text-primary"-->
            <!--                        >-->
            <!--                            {{ category.title }}-->
            <!--                        </AButton>-->
            <!--                        по цене от {{ minPrice( category.data.minPrice ) }} {{ inRegion }}-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

            <ul :class="$style.block" class="grid gap-2">
                <li
                    v-for="(item, i) in seoText"
                    :key="`seo-text-${i}`"
                    :class="$style.seoList"
                >
                    {{ item }}
                </li>
            </ul>

            <OReviews
                :reviews="reviewsCompany"
            />
        </c>

        <AButton
            v-if="isManager"
            type="button"
            class="fixed bottom-[5.5rem] md:bottom-6 left-6 xl:bottom-10 xl:left-24 2xl:left-32 h-16 xl:h-20 text-14 xl:text-16 z-50"
            @click="$modal.open( bugModal )"
        >
            Сообщить об ошибке
        </AButton>

        <MModal
            :id="bugModal"
            padding="0"
        >
            <FormBugReport />
        </MModal>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex"
import { PRODUCT, PRODUCT_REGION, PRODUCT_CHARACTERISTICS, PRODUCT_REVIEWS, PRODUCT_CATEGORY } from "@/lib/url/const"
import { getDescription, getTitle, getH1, getSeoText, getFaq } from "@/lib/seo"
import { getPrice, lowerFirst } from "@/lib/utils"
import { redirectRegion, isWrongRegion } from "@/lib/regions"
import { getRandomId } from "@/lib/utilsDom"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { app, params, query, error, $api, redirect, store, route } )
    {
        if ( isWrongRegion( PRODUCT, { regions: store.state.regions, route } ) )
        {
            return error( { statusCode: 404 } )
        }

        if ( app.$isUrl( PRODUCT, route.path ) )
        {
            redirectRegion( PRODUCT, {
                urlCitySlug: params.city,
                route,
                region     : store.state.regions.region,
                redirect
            } )
        }

        try
        {
            const product = await $api.product.get( { fslug: params.fslug } )
            let conjointProduct = null

            if ( product.data.conjointProduct )
            {
                conjointProduct = await $api.product.get( { id: product.data.conjointProduct } )
            }

            const productAccessoriesRes = await $api.products.get( {
                ids  : product.productAccessories,
                limit: 8,
                sort : "price"
            } )

            const recommendCategoriesRes = await $api.categories.get( { ids: product.breadcrumbs.map( e => e.id ).slice( 0, -1 ) } )
            const recommendCategories = recommendCategoriesRes.results.reverse()

            let synonyms = []
            if ( product.categories.shown && product.categories.shown.length )
            {
                synonyms = await $api.categories.synonyms( { ids: product.categories.shown } )
            }

            const reviewsRes = await $api.comments.list( "product", { id: product.id } )
            const reviews = reviewsRes.results

            const reviewsCompanyRes = await $api.comments.random( "page", { code: "reviews-page", sort: "-created_at", limit: 5 } )
            const reviewsCompany = reviewsCompanyRes.results

            const tab = query.tab

            const providers = await $api.providers.get( { id: product.id } )

            const viewedIds = store.state.cookie.viewedProducts.filter( e => e !== product.id )
            let viewedProducts
            if ( viewedIds && viewedIds.length )
            {
                const viewedProductsRes = await $api.products.get( { ids: viewedIds } )
                viewedProducts = viewedProductsRes.results
            }

            const otherProductsRes = await $api.meta.relink( { limit: 20 } )
            const otherProducts = otherProductsRes.results

            const res = await $api.time.get()
            const date = new Date( res.timestamp * 1000 )
            const year = date.getFullYear()

            return {
                product,
                conjointProduct,
                synonyms,
                productAccessories: product.productAccessories.length ? productAccessoriesRes.results : null,
                recommendCategories,
                reviews,
                reviewsCompany,
                tab,
                providers,
                viewedIds,
                viewedProducts,
                otherProducts,
                year
            }
        }
        catch ( e )
        {
            console.warn( e )
            return error( { statusCode: 404 } )
        }
    },

    jsonld()
    {
        if ( !this.$isUrl( PRODUCT_REVIEWS, this.$route.fullPath ) )
        {
            return {
                "@context" : "https://schema.org/",
                "@type"    : "Product",
                name       : this.h1,
                image      : this.product.images.map( e => e.imageSrc ),
                description: this.product.description,
                sku        : this.product.fields.sku.value,
                brand      : {
                    "@type": "Brand",
                    name   : this.product.fields.brand.value
                },
                offers: {
                    "@type"        : "Offer",
                    url            : `https://makipa.ru${ this.$route.fullPath }`,
                    priceCurrency  : "RUB",
                    price          : this.product.data.price,
                    priceValidUntil: `${ this.year }-12-31`,
                    itemCondition  : "https://schema.org/New",
                    availability   : this.availability
                },
                ...this.schemaReview
            }
        }
        else
        {
            return {}
        }
    },

    data()
    {
        return {
            bugModal: getRandomId()
        }
    },

    computed: {
        ...mapState( "regions", [
            "region"
        ] ),

        ...mapGetters( "regions", [
            "regionSlug",
            "regionPre",
            "inRegion"
        ] ),

        meta()
        {
            return {
                title      : getTitle( this.page, { product: this.product, city: this.regionPre } ),
                description: getDescription( this.page, { product: this.product, city: this.regionPre } )
            }
        },

        breadcrumbs()
        {
            return this.product.breadcrumbs.map( ( e ) =>
            {
                return {
                    link: this.product.fslug !== e.fslug
                        ? this.$getUrl( PRODUCT_CATEGORY, {
                            fslug: e.fslug,
                            city : this.regionSlug
                        } )
                        : "",
                    title: e.title
                }
            } )
        },

        h1()
        {
            return getH1( this.page, {
                product: this.product,
                city   : this.inRegion
            } )
        },

        faq()
        {
            return getFaq( PRODUCT, {
                product: this.product,
                city   : this.regionPre
            } )
        },

        seoText()
        {
            return getSeoText( this.inRegion ? PRODUCT_REGION : PRODUCT, {
                product: this.product,
                city   : this.regionPre
            } )
        },

        page()
        {
            if ( this.$isUrl( PRODUCT_CHARACTERISTICS, this.$route.fullPath ) )
            {
                return PRODUCT_CHARACTERISTICS
            }
            else if ( this.$isUrl( PRODUCT_REVIEWS, this.$route.fullPath ) )
            {
                return PRODUCT_REVIEWS
            }
            else if ( this.inRegion )
            {
                return PRODUCT_REGION
            }
            else
            {
                return PRODUCT
            }
        },

        title()
        {
            return lowerFirst( this.product.title )
        },

        isManager()
        {
            return this.providers && this.providers.grid && this.providers.grid.length
        },

        availability()
        {
            switch ( this.product.data.stockStatusCode )
            {
            case "in_stock":
                return "https://schema.org/InStock"
            case "back_order":
                return "https://schema.org/PreOrder"
            case "not_available":
                return "https://schema.org/OutOfStock"
            default:
                return ""
            }
        },

        schemaReview()
        {
            if ( this.reviews.length )
            {
                return {
                    review: {
                        "@type"     : "Review",
                        reviewRating: {
                            "@type"    : "Rating",
                            ratingValue: this.reviews[ 0 ].vote,
                            bestRating : "5"
                        },
                        author: {
                            "@type": "Person",
                            name   : this.reviews[ 0 ].name
                        }
                    },
                    aggregateRating: {
                        "@type"    : "AggregateRating",
                        ratingValue: ( this.reviews.reduce( ( sum, a ) => sum + a.vote, 0 ) ) / this.reviews.length,
                        reviewCount: this.reviews.length
                    }

                }
            }
            else
            {
                return null
            }
        }
    },

    watch: {
        region()
        {
            if ( this.$isUrl( PRODUCT, this.$route.path ) )
            {
                redirectRegion( PRODUCT, {
                    urlCitySlug: this.$route.params.city,
                    route      : this.$route,
                    region     : this.region
                } )
            }
        }
    },

    mounted()
    {
        const viewed = [ ...new Set( [ ...this.viewedIds, this.product.id ] ) ].slice( -10 )
        this.setCookie( { name: "viewedProducts", value: viewed } )
    },

    methods: {
        ...mapActions( "cookie", [
            "setCookie"
        ] ),

        changeTab()
        {
            this.$refs.tabs.toModifications()
        },

        categoryLink( fslug )
        {
            return this.$getUrl( PRODUCT_CATEGORY, {
                fslug,
                city: this.regionSlug
            } )
        },

        minPrice( price )
        {
            return getPrice( price )
        }
    }
}
</script>

<style lang="scss" module>
.ProductPage {
    overflow: hidden;
}

.block {
    @apply mb-16 xl:mb-20 2xl:mb-24;
}

.seoText {
    @apply text-text-low text-15 md:text-16 2xl:text-18;
}

.seoList {
    @apply flex text-text-low text-15 md:text-16 2xl:text-18;
}

.blockTitle {
    @apply block font-bold text-18 2xl:text-24 leading-none text-text-main mb-6 2xl:mb-8;
}

.providerHead {
    @apply px-8 py-6 font-medium border-t border-r first:border-l border-stroke;
}

.providerCell {
    @apply px-8 py-6 border-r border-stroke first:border-l;
}

.table {
    tr {
        @apply border-b border-stroke;
    }
}

.bestPrice {
    @apply bg-red-100;
}
</style>
