<template>
    <div :class="$style.ProductCategory">
        <MBreadcrumbs :data="breadcrumbs" />
        <c>
            <div :class="$style.titleWrap">
                <ATitleCount
                    :h1="h1"
                    :count="count"
                />
            </div>

            <ul class="hidden">
                <li
                    v-for="(item, i) in seoText"
                    :key="`seo-text-${i}`"
                >
                    {{ item }}
                </li>
            </ul>

            <MFilterTags
                v-if="categoriesTop && categoriesTop.length"
                :data="categoriesTop"
                class="mb-8 2xl:mb-12"
            />

            <div class="flex flex-col md:flex-col-reverse">
                <div class="bg-background border border-stroke md:border-none py-3 px-4 md:p-6 xl:px-8 2xl:px-12 2xl:py-8">
                    <t :class="$style.alertText">
                        <strong>Внимание!</strong> Розничные цены актуальны и указаны в рублях с НДС!
                    </t>
                    <!--                    <t :class="$style.alertText" class="mt-2 md:mt-4 2xl:mt-5">-->
                    <!--                        <strong>Наличие товара</strong> и <strong>цены обновлены</strong> в 04:08, 06.08.2021. В зависимости от объема предоставляются скидки.-->
                    <!--                    </t>-->
                </div>

                <div v-if="isPopularFilters" class="mt-8 md:mt-0 md:mb-8 2xl:mb-12">
                    <div class="-m-2 flex items-center flex-wrap">
                        <div class="hidden md:block p-2">
                            <t class="block leading-none tracking-wide xl:text-16 2xl:text-18">
                                Популярные фильтры:
                            </t>
                        </div>
                        <div
                            v-for="(item, i) in category.seo.popularFilters"
                            :key="`popular-categories-${i}`"
                            class="p-2"
                        >
                            <AButton
                                v-if="item.propertyValues && item.propertyValues.length || item.brand"
                                type="button"
                                design="filter-tag"
                                inverse
                                :class="{[$style.tagActive]: isTagActive(item)}"
                                @click="onTagClick( item )"
                            >
                                {{ item.title }}
                            </AButton>

                            <AButton
                                v-else-if="item.category && item.category.fslug"
                                design="filter-tag"
                                inverse
                                :link="categoryLink( item.category.fslug )"
                            >
                                {{ item.title }}
                            </AButton>
                        </div>
                    </div>
                </div>
            </div>

            <div class="-mx-4 md:mx-0 xl:hidden">
                <div class="flex mt-8">
                    <AButton
                        type="button"
                        class="w-1/2 h-20 !font-circe !font-bold text-16"
                        @click="filterOpened = true"
                    >
                        <IconFilter class="mr-2 -translate-y-px" />
                        Фильтры
                    </AButton>

                    <ASelect
                        class="w-1/2 h-20 border-t border-b border-stroke md:border-r"
                        design="sorting"
                        :value="sorting"
                        :data="sortingOptions"
                        @change="updateSorting"
                    />
                </div>
                <div class="flex">
                    <ASelect
                        class="w-1/2 h-20 border-b border-r border-stroke md:border-l"
                        design="sorting"
                        :value="limit"
                        :data="limitOptions"
                        @change="updateLimit"
                    >
                        <template v-for="(option, i) in limitOptions" #[option.key]>
                            <div :key="`limit-${i}`">
                                Выводить по: <strong class="font-bold">
                                    {{ option.title }}
                                </strong>
                            </div>
                        </template>
                    </ASelect>

                    <div class="w-1/2 h-20 flex items-center px-6 border-b border-stroke md:border-r">
                        <ACheckbox
                            :value="values.in_stock"
                            @change="onStockChange"
                        >
                            <t class="block text-16 ml-4">
                                В наличии
                            </t>
                        </ACheckbox>
                    </div>
                </div>
            </div>

            <div class="-mx-4 md:mx-0 xl:flex xl:flex-row-reverse xl:mt-12">
                <div :class="[ $style.overlay, { [ $style._active ]: filterOpened } ]" @click="filterOpened = false" />

                <div class="xl:flex-1 xl:z-10 xl:relative">
                    <div class="hidden xl:flex justify-between px-6 2xl:px-8 h-24 2xl:h-28 items-center xl:border-t xl:border-r xl:border-stroke">
                        <div class="flex items-center">
                            <div class="flex items-center mr-16">
                                <t class="block text-16 2xl:text-18 leading-none tracking-wide mr-4">
                                    Выводить по:
                                </t>
                                <div class="flex">
                                    <div
                                        v-for="(item, i) in limitOptions"
                                        :key="`sorting-${i}`"
                                        :class="[$style.limitTag, { [$style._active]: limit === item.key }]"
                                        @click="updateLimit(item.key)"
                                    >
                                        {{ item.title }}
                                    </div>
                                </div>
                            </div>

                            <ASelect
                                class="mr-16 w-[22rem]"
                                :value="sorting"
                                :data="sortingOptions"
                                @change="updateSorting"
                            />

                            <div class="flex items-center h-16 px-6 border border-stroke md:border-r">
                                <ACheckbox
                                    :value="values.in_stock"
                                    @change="onStockChange"
                                >
                                    <t class="block text-16 ml-4">
                                        В наличии
                                    </t>
                                </ACheckbox>
                            </div>
                        </div>

                        <ASwitcher
                            class="w-min"
                            design="secondary"
                            :value="view"
                            :data="viewOptions"
                            @change="updateView"
                        >
                            <template #grid>
                                <IconCards
                                    class="w-[18px] 2xl:w-[21px]"
                                />
                            </template>
                            <template #list>
                                <IconList
                                    class="w-[24px] 2xl:w-[28px]"
                                />
                            </template>
                        </ASwitcher>
                    </div>

                    <div
                        v-if="products && products.length > 0"
                        class="mb-16 md:mb-20 2xl:mb-24 xl:-ml-px"
                    >
                        <div class="md:border-l md:border-r md:border-stroke xl:border-t">
                            <transition name="fade-common" mode="out-in">
                                <div
                                    v-if="view === 'list'"
                                    key="list"
                                    :class="$style.wrap"
                                >
                                    <div
                                        v-for="(item, i) in products"
                                        :key="`product-list-${i}`"
                                        :class="[$style.card, $style._list]"
                                    >
                                        <MProductCard
                                            :data="item"
                                            :delivery-visible="i < 12 && page === 1"
                                            :category-visible="i < 15 && page === 1"
                                            :category="category"
                                            design="horizontal"
                                            class="h-full !w-full !mb-0"
                                        />
                                    </div>
                                </div>

                                <div
                                    v-if="view === 'grid'"
                                    key="cards"
                                    :class="$style.wrap"
                                >
                                    <div
                                        v-for="(item, i) in products"
                                        :key="`product-grid-${i}`"
                                        :class="$style.card"
                                    >
                                        <MProductCard
                                            :data="item"
                                            :delivery-visible="i < 12 && page === 1"
                                            :category-visible="i < 15 && page === 1"
                                            :category="category"
                                            class="h-full !w-full !mb-0"
                                        />
                                    </div>
                                </div>
                            </transition>
                        </div>

                        <AButton
                            v-if="loadMoreVisible"
                            type="button"
                            design="load-more"
                            class="-mt-px"
                            @click="loadMore"
                        >
                            Загрузить еще
                        </AButton>

                        <APagination
                            v-if="pages > 1 && paginationUrl"
                            :page="page"
                            :pages="pages"
                            :link="paginationUrl"
                            :serializer="paginationToUrl"
                            class="mx-4 md:mx-0 mt-4 md:mt-6"
                        />
                    </div>

                    <MFilterNotFound
                        v-else
                        class="xl:!border-l-0"
                    />

                    <div
                        v-if="buttonVisible"
                        :style="{top: `${buttonTop}px`}"
                        class="hidden xl:block absolute left-0 z-10"
                    >
                        <AButton
                            type="button"
                            :class="$style.showButton"
                            @click="apply"
                        >
                            Показать
                        </AButton>
                    </div>
                </div>

                <div ref="filter" :class="[ $style.filter, { [ $style._active ]: filterOpened } ]">
                    <div class="px-4 md:px-[14px] h-24 border-b border-stroke flex items-center xl:hidden">
                        <IconCloseThin
                            class="w-12 mr-5 cursor-pointer -translate-y-px"
                            @click.native="filterOpened = false"
                        />

                        <t type="h3" class="text-text-main text-24 font-bold leading-none">
                            Фильтр
                        </t>
                    </div>

                    <div class="flex-1 overflow-y-scroll xl:flex-none xl:overflow-hidden">
                        <div class="!mt-0" :class="$style.filterBlock">
                            <AAccordion
                                design="filter"
                                icon="arrow"
                                opened
                                :class="$style.accordion"
                            >
                                <template #key>
                                    Цена
                                </template>

                                <template #content>
                                    <div ref="price" class="border-b border-stroke">
                                        <MRange
                                            :value="values.price"
                                            :min="primary.price.min"
                                            :max="primary.price.max"
                                            class="w-full py-8 px-4 md:p-8 xl:p-6 2xl:p-8"
                                            @change="onPriceChange($event)"
                                        />
                                    </div>
                                </template>
                            </AAccordion>
                        </div>

                        <MFilterBlock
                            :data="primary.brand"
                            :values="values.brand"
                            type="checkboxes"
                            :values-hover="valuesHover"
                            :primary="primary"
                            :props="props"
                            :base-url="baseUrl"
                            is-brand
                            @change="onBrandChange( $event )"
                            @hover="valuesHover.brand = $event"
                            @show="onButtonShow( $event )"
                            @hideButton="buttonVisible = false"
                        />

                        <MFilterBlock
                            v-for="(item, i) in props"
                            :key="`props-${i}`"
                            :data="item"
                            :values="values[item.type][item.id]"
                            :type="item.type"
                            :values-hover="valuesHover"
                            :primary="primary"
                            :props="props"
                            :base-url="baseUrl"
                            @change="onValueChange( item.type,{[item.id]: $event})"
                            @hover="onValueHover( item.type,{[item.id]: $event})"
                            @show="onButtonShow( $event )"
                            @hideButton="buttonVisible = false"
                        />
                    </div>

                    <div :class="$style.buttons">
                        <AButton
                            type="button"
                            class="!h-24 w-1/2 xl:w-full leading-none tracking-wide flex-shrink-0 text-18 !font-circe !font-bold"
                            @click="apply"
                        >
                            Применить
                        </AButton>

                        <AButton
                            type="button"
                            design="link"
                            class="!font-circe !h-24 w-1/2 xl:w-full leading-none tracking-wide flex-shrink-0 text-18 !font-bold"
                            @click="clear"
                        >
                            <IconClose class="mr-2 -translate-y-px" />
                            Сбросить
                        </AButton>
                    </div>
                </div>
            </div>
        </c>

        <c design="blue-common" class="pb-16 md:pb-20 2xl:pb-24">
            <!--            <OProductSlider-->
            <!--                v-if="recommendProducts && recommendProducts.length"-->
            <!--                :data="recommendProducts"-->
            <!--                :category="category"-->
            <!--                seo-title-->
            <!--                title="Популярные товары"-->
            <!--                class="pt-12 xl:pt-16"-->
            <!--            />-->

            <OFaq
                v-if="!isFilter"
                :data="faq"
                :class="$style.block"
            />

            <div
                :class="$style.block"
                class="grid md:grid-cols-2 xl:flex gap-4 md:gap-6"
            >
                <!--                <OOtherCities-->
                <!--                    :title="category.title"-->
                <!--                    :slug="$route.path"-->
                <!--                    :filter-url="chosenFilters && chosenFilters.length ? $route.path : ''"-->
                <!--                />-->

                <OAlternativeTitles
                    :data="alternativeTitles"
                />

                <OOtherProducts
                    :data="otherProducts"
                />
            </div>

            <!--            <OFilterBrands-->
            <!--                v-if="brands && brands.length"-->
            <!--                :slides="brands"-->
            <!--                :class="$style.block"-->
            <!--            />-->

            <div :class="$style.block">
                <t type="h2" design="h2">
                    Оплата
                </t>

                <t type="p" :class="$style.seoText">
                    Для юридических лиц доступна безналичная оплата по выставленному счету. <br>
                    Для физических лиц доступны следующие способы оплаты: наличными при получении, оплата банковской картой на сайте, оплата банковской картой при получении, безналичная оплата по выставленному счету.
                </t>
            </div>

            <div :class="$style.block">
                <t type="h2" design="h2">
                    Доставка
                </t>

                <t type="p" :class="$style.seoText">
                    По Москве доступна доставка курьером до указанного адреса или самовывоз с нашего склада по адресу: ул. Бибиревкая, д2 к1. Также возможна доставка до пунктов выдачи заказов (ПВЗ) <br>
                    Доставка в регионы осуществляется транспортными компаниями: СДЭК, Деловые линии, Boxberry.
                </t>
            </div>

            <div :class="$style.block">
                <t type="h2" design="h2">
                    Гарантия
                </t>

                <t type="p" :class="$style.seoText">
                    На все оборудование распространяется гарантия Производителя. Срок гарантийного обслуживания зависит от вида оборудования и производителя и составляет от 1 до 10 лет.
                    <br>
                    Гарантия действительна при условии соблюдения норм эксплуатации.
                </t>
            </div>

            <ul
                :class="$style.block"
                class="grid gap-2"
            >
                <li
                    v-for="(item, i) in seoText"
                    :key="`seo-text-${i}`"
                    :class="$style.seoList"
                >
                    {{ item }}
                </li>
            </ul>

            <div
                v-if="posts && posts.length"
                :class="$style.block"
            >
                <ATitleLink
                    title="Статьи"
                    :link="articlesLink"
                    class="mb-6 xl:mb-8"
                />

                <OArticles :posts="posts" />
            </div>

            <OReviews
                :reviews="reviews"
                :class="$style.block"
            />
        </c>

        <c>
            <FormHelp class="my-16 md:my-20 xl:my-24" />
        </c>
    </div>
</template>

<script>
import Vue from "vue"
import { mapGetters, mapActions, mapState } from "vuex"
import { lockBody, unlockBody } from "@/lib/utilsDom"
import { paginationToUrl, urlToPagination, urlToFslug, queryToObject, urlToFilter, filterToUrl } from "@/lib/url"
import { getChosenFilters } from "@/lib/filter"
import { getTitle, getDescription, getH1, getFaq, getSeoText } from "@/lib/seo"
import { getDeclOfProduct } from "@/lib/namings"
import { hasUpperCase } from "@/lib/utils"
import { redirectRegion, isWrongRegion } from "@/lib/regions"
import { PRODUCT_CATEGORY, PRODUCT_CATEGORY_REGION, FILTER, PAGINATION_PATH, ARTICLES_CATEGORIES } from "@/lib/url/const"
import { STRING, INTEGER } from "@/lib/cookie/const"
import { ARTICLES } from "@/lib/blog/types/const"
import { POSTS } from "@/lib/blog/names/const"

const defaultValues = {
    has_discount: false,
    in_stock    : false,
    back_order  : false,
    price       : [],
    brand       : [],
    checkboxes  : {},
    range       : {}
}

export default {
    async asyncData( { app, route, query, error, redirect, store, $api } )
    {
        const slug = route.path.split( "/" ).filter( e => Boolean( e ) )[ 0 ]
        const isRegionInUrl = !await $api.category.getId( { fslug: slug } )
        const city = await $api.regions.primary( { slug } )

        if ( isWrongRegion( PRODUCT_CATEGORY, { isRegionInUrl, city } ) )
        {
            return error( { statusCode: 404 } )
        }

        redirectRegion( PRODUCT_CATEGORY, {
            isRegionInUrl,
            urlCitySlug: slug,
            route,
            region     : store.state.regions.region,
            redirect
        } )

        try
        {
            const sorting = store.state.cookie.sorting
            const limit = store.state.cookie.limit
            const view = store.state.cookie.view

            let url = route.fullPath.toLowerCase()

            const fslug = urlToFslug( route.path, store.getters[ "regions/regionSlug" ] )
            const id = await $api.category.getId( { fslug } )
            const category = await $api.category.get( { id } )
            const primary = await $api.filter.primary( { category: id } )
            const props = ( await $api.filter.props( { category: id } ) ).filter( x => x.props && x.props.length > 1 )

            const categoriesTop = await $api.categories.getAll( { parent: id } )

            const queryObj = queryToObject( query )

            const pagination = urlToPagination( url )

            url = pagination.url
            const paginationUrl = pagination.fullUrl
            const page = pagination.page

            const index = page > 1 ? "noindex, nofollow" : "index, follow"

            const filter = urlToFilter( {
                url,
                primary,
                props
            } )

            url = filter.url

            const values = {
                ...JSON.parse( JSON.stringify( defaultValues ) ),
                ...filter.values,
                ...queryObj
            }

            const chosenFilters = getChosenFilters( {
                values,
                primary,
                props,
                seo: category?.seo?.filterData
            } )

            const categoriesSeoRes = await $api.categories.tree( { ids: id, depth: 2 } )

            const statuses = [ values.in_stock ? "in_stock" : null, values.back_order ? "back_order" : null ].filter( Boolean )

            const data = {
                type        : category.level === 0 ? [ "default", "conjoint" ] : [ "default", "modification" ],
                price__range: values.price[ 0 ] === Math.floor( primary.price.min ) && values.price[ 1 ] === Math.ceil( primary.price.max )
                    ? null
                    : values.price,
                has_discount: values.has_discount || null,
                status      : statuses.length > 0 ? statuses : null,
                brands      : values.brand.length > 0 ? values.brand : null,
                pc          : Object.keys( values.checkboxes ).length > 0 ? values.checkboxes : null,
                pr          : Object.keys( values.range ).length > 0 ? values.range : null,
                sort        : sorting || null,
                limit       : limit || null,
                page        : page || null,
                category    : id
            }

            const res = await $api.products.get( data )
            const products = res.results
            const pages = Math.ceil( res.count / limit )
            const count = res.count

            const alternativeTitlesRes = await $api.categories.alternativeTitles( {
                ...data,
                id: category.id
            } )
            const alternativeTitles = alternativeTitlesRes.seo?.alternativeTitles

            const otherProductsRes = await $api.meta.relink( { limit: 20 } )
            const otherProducts = otherProductsRes.results

            // breadcrumbs
            const inRegion = store.getters[ "regions/inRegion" ]
            const h1 = getH1( PRODUCT_CATEGORY, {
                category,
                city  : inRegion,
                filter: chosenFilters,
                seo   : category?.seo
            } )

            const breadcrumbs = category.breadcrumbs.map( ( e ) =>
            {
                return {
                    link: ( category.fslug !== e.fslug || app.$isUrl( FILTER, route.path ) )
                        ? app.$getUrl( PRODUCT_CATEGORY, {
                            fslug: e.fslug,
                            city : store.getters[ "regions/regionSlug" ]
                        } )
                        : "",
                    title: e.title
                }
            } )

            if ( app.$isUrl( FILTER, route.path ) )
            {
                breadcrumbs.push(
                    {
                        title: h1.replace( /<span>|<\/span>?/g, "" ).replace( city, "" ),
                        link : ""
                    }
                )
            }

            let recommendProducts = []
            const inStockFirstPageRes = await $api.products.get( { category: id, limit, status: [ "in_stock", "back_order", "awaiting_admision", "refine_by_availability" ] } )
            const recommendPages = Math.ceil( inStockFirstPageRes.count / limit )

            if ( recommendPages > 0 )
            {
                const recommendProductsRes = await $api.products.get( { category: id, page: recommendPages, limit, status: [ "in_stock", "back_order", "awaiting_admision", "refine_by_availability" ] } )
                if ( recommendProductsRes.results && recommendProductsRes.results.length )
                {
                    if ( recommendProductsRes.results.length >= 10 || recommendPages === 1 )
                    {
                        recommendProducts = recommendProductsRes.results.slice( -10 )
                    }
                    else
                    {
                        const recommendProductsResPrev = await $api.products.get( { category: id, page: recommendPages - 1, limit, status: [ "in_stock", "back_order", "awaiting_admision", "refine_by_availability" ] } )
                        recommendProducts = recommendProductsResPrev.results.slice( -( 10 - recommendProductsRes.results.length ) ).concat( recommendProductsRes.results )
                    }
                }
            }

            const dataStoreRes = await $api.store.get( { group: "main" } )
            const dataStore = dataStoreRes.results

            const brands = []
            const brandsObj = dataStore.find( e => e.code === "brands" )

            if ( brandsObj )
            {
                for ( const id of brandsObj.list )
                {
                    const brand = await $api.brand.get( { id } )
                    brands.push( brand )
                }
            }

            const reviewsRes = await $api.comments.random( "page", { code: "reviews-page", sort: "-created_at", limit: 5 } )
            const reviews = reviewsRes.results

            let posts
            const relationRes = await $api.core.relation( { from_object_id: id } )

            if ( relationRes.results && relationRes.results.length )
            {
                const articlesId = relationRes.results[ 0 ].toObjectId

                const postsRes = await $api.blog.list( ARTICLES, POSTS, { limit: 4, category: articlesId } )
                posts = postsRes.results
            }

            return {
                breadcrumbs,
                category,
                categoriesTop,
                primary,
                props,
                values,
                valuesHover  : JSON.parse( JSON.stringify( values ) ),
                chosenFilters,
                products,
                pages,
                page,
                count,
                sorting,
                limit,
                view,
                baseUrl      : url,
                loadMorePage : page,
                paginationUrl,
                recommendProducts,
                categoriesSeo: categoriesSeoRes.results[ 0 ]?.children,
                brands,
                index,
                reviews,
                alternativeTitles,
                otherProducts,
                posts
            }
        }
        catch ( e )
        {
            console.warn( e )
            return error( { statusCode: 404 } )
        }
    },

    jsonld()
    {
        return {
            "@context"     : "http://schema.org",
            "@type"        : "Product",
            aggregateRating: {
                "@type"     : "AggregateRating",
                bestRating  : "5",
                worstRating : "1",
                reviewCount : this.reviews.length,
                ratingValue : ( this.reviews.reduce( ( sum, a ) => sum + a.vote, 0 ) ) / this.reviews.length,
                itemReviewed: this.h1.trim()
            },
            name: "Оборудование для водоснабжения и отопления"
        }
    },

    data()
    {
        return {
            filterOpened: false,

            viewOptions:
            [
                {
                    key: "grid"
                },
                {
                    key: "list"
                }
            ],

            limitOptions:
            [
                {
                    key  : 15,
                    title: "15"
                },
                {
                    key  : 40,
                    title: "40"
                },
                {
                    key  : 60,
                    title: "60"
                }
            ],

            sortingOptions:
            [
                {
                    key  : "default",
                    title: "По умолчанию"
                },
                {
                    key  : "popularity",
                    title: "По популярности"
                },
                {
                    key  : "rating",
                    title: "По рейтингу"
                },
                {
                    key  : "price",
                    title: "Сначала недорогие"
                },
                {
                    key  : "-price",
                    title: "Сначала дорогие"
                }
            ],

            buttonVisible: false,
            buttonTop    : 0,
            buttonTimeout: null
        }
    },

    head()
    {
        return {
            title: getTitle( this.isFilter ? FILTER : PRODUCT_CATEGORY,
                {
                    h1        : this.formattedH1,
                    category  : this.category,
                    city      : this.regionPre,
                    pageNumber: this.page
                } ),
            meta: [
                {
                    hid     : "description",
                    name    : "description",
                    itemprop: "description",
                    content : getDescription( this.isFilter ? FILTER : PRODUCT_CATEGORY,
                        {
                            h1        : this.formattedH1,
                            category  : this.category,
                            pageNumber: this.page
                        } )
                },
                {
                    hid    : "robots",
                    name   : "robots",
                    content: this.index
                }
            ],
            link: [ this.canonical ]
        }
    },

    computed: {
        ...mapState( "regions", [
            "region"
        ] ),

        ...mapGetters( "regions", [
            "inRegion",
            "regionSlug",
            "regionPre"
        ] ),

        h1()
        {
            return getH1( PRODUCT_CATEGORY, {
                category: this.category,
                city    : this.inRegion,
                filter  : this.chosenFilters,
                seo     : this.category?.seo
            } )
        },

        declOfProduct()
        {
            return getDeclOfProduct( this.count )
        },

        loadMoreVisible()
        {
            return this.loadMorePage * this.limit < this.count
        },

        faq()
        {
            return getFaq( PRODUCT_CATEGORY, {
                category: this.category,
                city    : this.regionPre,
                citySlug: this.regionSlug
            } )
        },

        formattedRanges()
        {
            const result = {}
            for ( const [ key, value ] of Object.entries( this.values.range ) )
            {
                const prop = this.props.find( e => e.id === +key )
                if ( prop && value.length && ( value[ 0 ] !== Math.floor( prop.min ) || value[ 1 ] !== Math.ceil( prop.max ) ) )
                {
                    result[ key ] = value
                }
            }
            return result
        },

        formattedH1()
        {
            return this.h1.replace( /<span>|<\/span>?/g, "" ).replace( this.inRegion, "" )
        },

        isFilter()
        {
            return this.$isUrl( FILTER, this.$route.fullPath )
        },

        isEmptyFilter()
        {
            return this.$route.fullPath.endsWith( FILTER.path )
        },

        isPopularFilters()
        {
            return this.category.seo && this.category.seo.popularFilters && this.category.seo.popularFilters.filter( e => e.brand || e.category || e.propertyValues?.length ).length
        },

        seoText()
        {
            return getSeoText( this.inRegion ? PRODUCT_CATEGORY_REGION : PRODUCT_CATEGORY, {
                category: this.category,
                count   : this.count,
                city    : this.regionPre
            } )
        },

        canonical()
        {
            if ( Object.keys( this.$route.query ).length || hasUpperCase( this.$route.path ) || this.isEmptyFilter || this.page > 1 )
            {
                const url = this.$route.path.toLowerCase().split( PAGINATION_PATH )[ 0 ]

                return {
                    rel : "canonical",
                    href: `https://akvahit.ru${ this.isEmptyFilter ? url.replace( FILTER.path, "" ) : url }`
                }
            }
            return {}
        },

        articlesLink()
        {
            return this.$getUrl( ARTICLES_CATEGORIES )
        }
    },

    watch: {
        filterOpened()
        {
            this.filterOpened ? lockBody() : unlockBody()
        },

        async region()
        {
            const slug = this.$route.path.split( "/" ).filter( e => Boolean( e ) )[ 0 ]
            const isRegionInUrl = !await this.$api.category.getId( { fslug: slug } )

            redirectRegion( PRODUCT_CATEGORY, {
                isRegionInUrl,
                urlCitySlug: slug,
                route      : this.$route,
                region     : this.region
            } )
        },

        page()
        {
            this.index = this.page > 1 ? "noindex, nofollow" : "index, follow"
        }
    },

    methods: {
        ...mapActions( "cookie", [
            "setCookie"
        ] ),

        paginationToUrl( o )
        {
            return paginationToUrl( o )
        },

        apply()
        {
            this.buttonVisible = false
            this.filterOpened = false
            this.updateUrl()
            this.updateChosen()
            this.updateBreadcrumbs()
            this.updateProducts()
            this.updateAlternativeTitles()
            window.scrollTo( 0, 0 )
        },

        clear()
        {
            this.values.has_discount = false
            this.values.in_stock = false
            this.values.back_order = false
            this.values.price = []
            this.values.brand = []
            this.values.checkboxes = {}
            this.values.range = {}

            this.apply()
        },

        onPriceChange( e )
        {
            this.values.price = e

            if ( this.$refs.price && process.client )
            {
                this.onButtonShow( window.pageYOffset + this.$refs.price.getBoundingClientRect().top + 33 )
            }
        },

        onBrandChange( val )
        {
            this.values.brand = val
            this.valuesHover = JSON.parse( JSON.stringify( this.values ) )
        },

        onValueChange( type, val )
        {
            this.values[ type ] = { ...this.values[ type ], ...val }
            this.valuesHover = JSON.parse( JSON.stringify( this.values ) )
        },

        onValueHover( type, val )
        {
            this.valuesHover[ type ] = { ...this.valuesHover[ type ], ...val }
        },

        onTagClick( item )
        {
            if ( item.propertyValues && item.propertyValues.length )
            {
                if ( !this.values.checkboxes[ item.propertyValues[ 0 ].propId ] )
                {
                    Vue.set( this.values.checkboxes, item.propertyValues[ 0 ].propId, [ item.propertyValues[ 0 ].id ] )
                }
                else
                if ( this.values.checkboxes[ item.propertyValues[ 0 ].propId ].includes( item.propertyValues[ 0 ].id ) )
                {
                    const index = this.values.checkboxes[ item.propertyValues[ 0 ].propId ].indexOf( item.propertyValues[ 0 ].id )
                    if ( index > -1 )
                    {
                        this.values.checkboxes[ item.propertyValues[ 0 ].propId ].splice( index, 1 )
                    }
                }
                else
                {
                    this.values.checkboxes[ item.propertyValues[ 0 ].propId ].push( item.propertyValues[ 0 ].id )
                }
            }
            else if ( item.brand && item.brand.id && item.brand.title === item.title )
            {
                if ( !this.values.brand )
                {
                    this.values.brand = [ item.id ]
                }
                else
                if ( this.values.brand.includes( item.brand.id ) )
                {
                    const index = this.values.brand.indexOf( item.brand.id )
                    if ( index > -1 )
                    {
                        this.values.brand.splice( index, 1 )
                    }
                }
                else
                {
                    this.values.brand.push( item.brand.id )
                }
            }

            this.apply()
        },

        isTagActive( item )
        {
            if ( this.values.checkboxes[ item.propertyValues[ 0 ]?.propId ] && item.propertyValues && item.propertyValues.length )
            {
                return this.values.checkboxes[ item.propertyValues[ 0 ]?.propId ].includes( item.propertyValues[ 0 ].id )
            }
            else if ( this.values.brand && item.brand && item.brand.id && item.brand.title === item.title )
            {
                return this.values.brand.includes( item.brand.id )
            }
        },

        categoryLink( fslug )
        {
            return this.$getUrl( PRODUCT_CATEGORY, {
                fslug,
                city: this.regionSlug
            } )
        },

        onStockChange( e )
        {
            this.values.in_stock = e
            this.updateUrl()
            this.updateProducts()
        },

        updateChosen()
        {
            this.chosenFilters = getChosenFilters( {
                values : this.values,
                primary: this.primary,
                props  : this.props,
                seo    : this.category?.seo?.filterData
            } )
        },

        updateUrl()
        {
            const url = filterToUrl( {
                url    : this.baseUrl,
                values : this.values,
                primary: this.primary,
                props  : this.props,
                query  :
                {
                    has_discount: this.values.has_discount || null,
                    in_stock    : this.values.in_stock || null,
                    back_order  : this.values.back_order || null
                }
            } )
            this.paginationUrl = url

            this.$router.replace( url )
        },

        updateBreadcrumbs()
        {
            const map = this.category.breadcrumbs.map( ( e ) =>
            {
                return {
                    link: ( this.category.fslug !== e.fslug || this.isFilter )
                        ? this.$getUrl( PRODUCT_CATEGORY, {
                            fslug: e.fslug,
                            city : this.regionSlug
                        } )
                        : "",
                    title: e.title
                }
            } )

            if ( this.isFilter )
            {
                map.push(
                    {
                        title: this.formattedH1,
                        link : ""
                    }
                )
            }

            this.breadcrumbs = map
        },

        updateSorting( sorting )
        {
            this.sorting = sorting
            this.setCookie( { name: "sorting", value: this.sorting, type: STRING } )
            this.updateProducts()
        },

        updateLimit( limit )
        {
            if ( this.limit !== limit )
            {
                this.limit = limit
                if ( this.count < this.limit )
                {
                    this.page = 1
                }
                this.setCookie( { name: "limit", value: this.limit, type: INTEGER } )
                this.updateProducts()
            }
        },

        updateView( view )
        {
            this.view = view
            this.setCookie( { name: "view", value: this.view, type: STRING } )
        },

        async fetchProducts( options = {} )
        {
            const { customPage } = options

            const statuses = [ this.values.in_stock ? "in_stock" : null, this.values.back_order ? "back_order" : null ].filter( Boolean )

            const data = {
                type        : this.category.level === 0 ? [ "default", "conjoint" ] : [ "default", "modification" ],
                price__range: this.values.price[ 0 ] === Math.floor( this.primary.price.min ) && this.values.price[ 1 ] === Math.ceil( this.primary.price.max )
                    ? null
                    : this.values.price,
                has_discount: this.values.has_discount || null,
                status      : statuses.length > 0 ? statuses : null,
                brands      : this.values.brand.length > 0 ? this.values.brand : null,
                pc          : Object.keys( this.values.checkboxes ).length > 0 ? this.values.checkboxes : null,
                pr          : Object.keys( this.formattedRanges ).length > 0 ? this.formattedRanges : null,
                sort        : this.sorting || null,
                limit       : this.limit || null,
                category    : this.category.id,
                page        : customPage || this.page || null
            }

            return await this.$api.products.get( data )
        },

        async updateProducts()
        {
            try
            {
                const res = await this.fetchProducts()
                const products = res.results
                const pages = Math.ceil( res.count / this.limit )

                this.count = res.count
                this.pages = pages
                this.products = products
            }
            catch ( e )
            {
                console.warn( "updateProducts: ", e )
            }
        },

        async updateAlternativeTitles()
        {
            const statuses = [ this.values.in_stock ? "in_stock" : null, this.values.back_order ? "back_order" : null ].filter( Boolean )

            const data = {
                price__range: this.values.price[ 0 ] === Math.floor( this.primary.price.min ) && this.values.price[ 1 ] === Math.ceil( this.primary.price.max )
                    ? null
                    : this.values.price,
                has_discount: this.values.has_discount || null,
                status      : statuses.length > 0 ? statuses : null,
                brands      : this.values.brand.length > 0 ? this.values.brand : null,
                pc          : Object.keys( this.values.checkboxes ).length > 0 ? this.values.checkboxes : null,
                pr          : Object.keys( this.formattedRanges ).length > 0 ? this.formattedRanges : null,
                id          : this.category.id
            }

            const res = await this.$api.categories.alternativeTitles( data )
            this.alternativeTitles = res.seo?.alternativeTitles
        },

        async loadMore()
        {
            this.loadMorePage += 1
            const res = await this.fetchProducts( { customPage: this.loadMorePage } )
            this.products.push( ...res.results )
        },

        onButtonShow( e )
        {
            const top = window.pageYOffset + this.$refs.filter.getBoundingClientRect().top
            this.buttonTop = e - top

            if ( this.buttonTimeout )
            {
                clearTimeout( this.buttonTimeout )
            }

            this.buttonVisible = true
            this.buttonTimeout = setTimeout( () =>
            {
                this.buttonVisible = false
            }, 5000 )
        }
    }
}
</script>

<style lang="scss" module>
.ProductCategory {
   @apply overflow-hidden;
}

.titleWrap {
    @apply mb-6 md:mb-8 2xl:mb-12;

    &:first-letter {
        @apply uppercase;
    }
}

.block {
    @apply pt-16 md:pt-20;
}

.alertText {
    @apply block tracking-wide text-13 md:text-14 xl:text-16 2xl:text-18 leading-tight xl:leading-none;

    strong {
        @apply xl:text-15 2xl:text-18;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.7);
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease;
    z-index: 20;

    &._active {
        visibility: visible;
        opacity: 1;
    }

    @screen md {
        display: block;
    }

    @screen xl {
        display: none;
    }
}

.filter {
    @apply bg-white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - calc(100vh - 100%));
    will-change: left;
    transition: left .3s ease;
    overflow-x: hidden;
    flex-shrink: 0;

    @screen md {
        width: 53rem;
    }

    @screen xl {
        @apply relative left-0 w-1/4 border border-stroke mb-24;
        transition: left 0s ease;
        z-index: 8;
    }

    @screen 2xl {
        @apply w-1/5;
    }

    &._active {
        left: 0;
    }

    &:after {
        @apply absolute top-0 -right-px hidden xl:block h-full w-[1px] bg-stroke;
        content: "";
    }
}

.buttons {
    display: flex;
    box-shadow: 0 -4px 20px rgba(96, 82, 82, 0.25);

    @screen xl {
        @apply flex-col;
        box-shadow: none;
    }
}

.limitTag {
    @apply border border-stroke text-16 2xl:text-18 transition-all duration-300 mr-4 last:mr-0 cursor-pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;

    @screen 2xl {
        @apply w-16 h-16;
    }

    &._active {
        @apply bg-secondary text-white border-secondary;
    }

    &:hover {
        @screen xl {
            box-shadow: 0 4px 10px rgba(171, 171, 171, 0.25);
        }
    }
}

.wrap {
    @apply flex flex-wrap relative;

    &:after {
        @apply absolute left-0 bottom-0 hidden xl:block w-full h-[1px] bg-stroke;
        content: "";
    }
}

.card {
    @apply w-1/2 border-b odd:border-r border-stroke xl:w-1/3 2xl:w-1/4 xl:border-r;

    &:nth-child(3n) {
        @apply xl:border-r-0 2xl:border-r;
    }

    &:nth-child(4n) {
        @apply 2xl:border-r-0;
    }

    &._list {
        @apply w-full xl:border-r-0;
    }
}

.tagActive {
    @apply bg-secondary text-white #{!important};
}

.seoText {
    @apply text-text-low text-15 md:text-16 2xl:text-18 mt-4 md:mt-6;
}

.seoList {
    @apply flex text-text-low text-15 md:text-16 2xl:text-18;
}

.showButton {
    @apply relative h-16 w-[10rem] #{ !important };
    transform: translateY(-10px);

    @screen 2xl {
        transform: translateY(-8px);
    }

    &:before {
        @apply absolute top-1/2 -translate-y-1/2 left-[-6px] bg-primary w-6 h-6 rotate-45 transition-colors duration-300;
        content: "";
    }

    &:hover:before {
        @apply xl:bg-red-500;
    }
}
</style>
