<template>
    <div :class="$style.AboutPage">
        <MBannerTitle :image="{src:'~/assets/images/about-bg', ext:['png','webp']}" :breadcrumbs="[ { title: h1 } ]">
            <template #page>
                {{ h1 }}
            </template>
            <template #title>
                <t type="h2" design="h1-white" class="!text-18 md:!text-28 2xl:!text-34">
                    <mark>«АкваХит»</mark> - партнер с безупречной деловой репутацией, осуществляющий услуги по подбору, поставке и монтажу оборудования для систем отопления и водоснабжения.
                </t>
            </template>
            <template #subtitle>
                Реализуем, устанавливаем, обслуживаем системы учета тепла. <br class="hidden md:inline-block">
                Для каждого клиента готовы разработать и реализовать оптимальное <br class="hidden md:inline-block"> техническое решение, соответствующее его требованиям!
            </template>
        </MBannerTitle>

        <section class="container pt-12 pb-16 xl:py-20 2xl:py-24" :class="$style.advantages">
            <t type="h2" design="h2">
                Почему <mark>?</mark>
            </t>

            <IconLogo class="w-[18.5rem] h-16 md:w-[205px] md:h-[44px] 2xl:w-[26rem] 2xl:h-[5.6rem] mt-4" />

            <div class="mt-2 xl:mt-8 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 left-0" :class="$style.grid">
                <div
                    v-for="(item, index) in advantages"
                    :key="`advantage-${index}`"
                    :class="$style.advantcard"
                    class="pt-6 pb-10 relative md:mx-0 md:pt-8 md:pb-12 md:pr-8 2xl:pt-12 2xl:pr-12 2xl:pb-16"
                >
                    <svg class="top-0 pt-14 xl:pt-16 2xl:pt-20 absolute left-[7px] md:left-0 w-[.2rem] h-full">
                        <line
                            x2="1"
                            y2="500"
                            stroke="#B9B9B9"
                            stroke-width="2"
                            stroke-dasharray="8 8"
                        />
                    </svg>
                    <div class="pl-4 md:pl-6 2xl:pl-10">
                        <T class="block text-primary text-24 leading-none md:text-[2.8rem] 2xl:text-[3.4rem] font-bold">
                            0{{ index+1 }}
                        </T>
                        <T type="h3" class="text-16 2xl:text-18 text-text-main uppercase py-4 2xl:py-6 leading-tight tracking-wide font-bold">
                            {{ item.title }}
                        </T>
                        <t class="block tracking-wide leading-tight 2xl:text-18">
                            {{ item.desc }}
                        </t>
                    </div>
                </div>
                <div class="bg-secondary md:col-span-2 xl:order-4 -mx-4 md:mx-0">
                    <div class="px-4 md:p-8 md:pb-16 xl:px-[22px] 2xl:px-[5rem] pt-8 pb-16 2xl:pt-[3.7rem] 2xl:pb-[5.6rem] relative">
                        <T type="h3" class="font-gotham text-18 2xl:text-24 leading-tight text-white font-medium md:max-w-[35rem] 2xl:max-w-[42rem] mb-4 2xl:mb-5">
                            Лучшие условия для монтажных и торгующих компаний
                        </T>
                        <div class="flex flex-wrap items-center justify-between">
                            <T class="text-white tracking-wide text-15 2xl:text-18 leading-tight">
                                Для получения оптовой цены отправьте <br> заявку на почту
                                <AButton
                                    type="external"
                                    design="custom"
                                    :link="`mailto:${ email }`"
                                    class="!font-circe font-bold"
                                >
                                    {{ email }}
                                </AButton>
                            </T>
                            <div class="mt-8 2xl:mt-12 flex w-full justify-between items-center">
                                <AButton
                                    type="external"
                                    design="custom"
                                    class="flex justify-center items-center bg-white font-medium h-16 2xl:text-16 2xl:h-20 w-[18rem] 2xl:w-[21rem]"
                                    :link="`mailto:${ email }`"
                                >
                                    Написать
                                </AButton>
                                <IconHandshake class="absolute bottom-8 right-4 md:right-[10rem] xl:right-28 md:bottom-auto md:top-1/2 md:-translate-y-1/2 2xl:right-[10rem] md:w-[15rem] md:h-[15rem] xl:w-[10rem] xl:h-[10rem] 2xl:h-[15rem] 2xl:w-[15rem]" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-background pb-0 md:pb-12 py-12 xl:py-20 overflow-hidden relative" :class="$style.services">
            <div class="container">
                <T type="h2" design="h2">
                    Что мы делаем?
                </T>
                <div class="md:flex mt-4">
                    <div class="border border-stroke mt-4 xl:w-1/2 grid md:grid-cols-2">
                        <div v-for="(item, index) in content" :key="`ourservices-${index}`" :class="$style.service">
                            <IconServiceCheck :class="$style.icon" />
                            <T class="xl:text-14 leading-snug 2xl:text-18">
                                {{ item }}
                            </T>
                        </div>
                    </div>
                    <BaseImage src="~/assets/images/servicesTube" :ext="['png', 'webp']" class="w-[85%] xl:w-[40vw] xl:right-0 xl:top-0 ml-auto md:absolute md:translate-x-10 -top-28" />
                </div>
            </div>
        </section>
        <section class="container text-text-low py-16 xl:py-[6rem] xl:flex">
            <div class="xl:w-1/2">
                <T type="h2" design="h2" class="text-[2.4rem] 2xl:text-[3.4rem]">
                    Наши партнёры
                </T>
                <T class="block py-8 md:text-18 xl:text-16 2xl:text-[2rem] xl:pr-16">
                    Основа успешного бизнеса - правильно выстроенная стратегии взаимоотношений с партнерами. В числе наших партнеров ведущие производители приборов учета тепла, такие как Ista, Landis&Gyr, Qundis, Danfoss и т.д. Постоянно развиваем деловые отношения с партнерами, что дает нам возможность предлагать нашим клиентам широкий ассортимент высококачественной продукции по самым низким ценам.
                    <br><br>
                    Нам важно, чтобы каждый клиент остался доволен сотрудничеством и рекомендовал нас своим партнерам!
                </T>
            </div>
            <MPartners
                :slides="brands"
                class="xl:w-1/2"
            />
        </section>

        <OFeatures />
    </div>
</template>

<script>
import { mapGetters } from "vuex"
import { ABOUT } from "@/lib/url/const"
import { getTitle, getDescription, getH1 } from "@/lib/seo"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { $api } )
    {
        const storeRes = await $api.store.get( { group: "main" } )
        const store = storeRes.results

        const brands = []
        const brandsObj = store.find( e => e.code === "brands" )

        if ( brandsObj )
        {
            for ( const id of brandsObj.list )
            {
                const brand = await $api.brand.get( { id } )
                brands.push( brand )
            }
        }

        return {
            brands
        }
    },

    data()
    {
        return {
            h1  : getH1( ABOUT ),
            meta: {
                title      : getTitle( ABOUT ),
                description: getDescription( ABOUT )
            },

            advantages: [
                {
                    title: "«ГИБКИЙ» ПАРТНЕР, КОТОРЫЙ СМОЖЕТ ПОДСТРОИТЬСЯ ПОД ВАШИ ЗАДАЧИ",
                    desc : "Например, сделать срочную авиаперевозку, доставить товар прямо в аэропорт или срочно отгрузить товар в ночную смену."
                },
                {
                    title: "БОЛЬШИНСТВО ПОЗИЦИЙ В НАЛИЧИИ",
                    desc : "У нас собраны все самые ходовые, востребованные, проверенные спросом товары. Вам не придется ждать 2 недели."
                },
                {
                    title: "ОТГРУЗКА ЗА 1 — 3 ДНЯ",
                    desc : "Как только вы вносите деньги, мы тут же отправляем заказ."
                },
                {
                    title: "ВСЁ ОФИЦИАЛЬНО",
                    desc : "Вы получаете оригинальное оборудование производства со всеми сертификатами, документами и гарантией качества на 1‑2 года."
                },
                {
                    title: "ПЕРСОНАЛЬНЫЕ БОНУСЫ",
                    desc : "При заказе большой партии товаров вы можете рассчитывать на индивидуальные предложения, скидки и подарки."
                },
                {
                    title: "БЫСТРАЯ ДОСТАВКА",
                    desc : "По всей России до пункта самовывоза транспортной компании «Деловые линии» в вашем городе."
                }
            ],
            content: [
                "Производим монтаж и настройку системы",
                "ДАЕМ ГАРАНТИЮ НА ВСЕ РАБОТЫ",
                "ПРЕДОСТАВЛЯЕМ СЕРВИСНОЕ ОБСЛУЖИВАНИЕ",
                "РАСЧИТЫВАЕМ СТОИМОСТЬ В ТЕЧЕНИЕ ЧАСА",
                "ОТГРУЖАЕМ ЗА 1 ДЕНЬ",
                "БЫСТРО ДОСТАВЛЯЕМ ПО РФ"
            ]
        }
    },

    computed: {
        ...mapGetters( [
            "email"
        ] )
    }
}
</script>
<style lang="scss" module>
.AboutPage {
    @apply overflow-hidden;
}

.advantages{
    .advantcard{
        @apply flex;
        &::before{
            content: '';
            @apply rounded-full border-primary bg-white border-4 block w-[16px] h-[16px] flex-shrink-0;
            @screen md{
                @apply -ml-3
            }
        }
    }
    .grid{
        .advantcard{

            &:nth-child(even) {
                @apply relative md:bg-background;

                &:after {
                    @apply bg-background md:hidden;
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: -50%;
                    height: 100%;
                    width: 300vw;
                }
            }

            @screen md{
                @apply even:bg-white;
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(6){
                    @apply bg-background;
                }
            }

            @screen xl{
                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(6){
                    @apply bg-white;
                }
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(5){
                    @apply bg-background;
                }
                &:nth-child(6){
                    @apply order-7;
                }
                &:nth-child(5){
                    @apply order-6;
                }
            }

        }
    }
}
.services{
    .service{
        @apply uppercase py-[1.4rem] md:py-10 border border-stroke;
        @apply text-text-main font-bold;
        @apply bg-gray-150 flex items-center;

        .icon{
            @apply text-white mx-4 min-w-[3.4rem] min-h-[3.4rem];
        }

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(6){
            @apply bg-white;
            .icon{
                @apply text-gray-150;
            }
        }
        @screen md{
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(5){
                @apply bg-gray-150 flex items-center;
                .icon{
                    @apply text-white mx-4 min-w-[3.4rem] min-h-[3.4rem];
                }
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(6){
                @apply bg-white;
                .icon{
                    @apply text-gray-150;
                }
            }
        }
        &:nth-child(1){
            span{
                @apply w-[18rem];
            }
        }
        &:nth-child(2),
        &:nth-child(6){
            span{
                @apply w-[15.5rem];
            }
        }
        &:nth-child(3),
        &:nth-child(4){
            span{
                @apply w-[21.5rem];
            }
        }
        &:nth-child(5){
            span{
                @apply w-[8.6rem];
            }
        }
            @screen xl{
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                        span{
                            @apply w-[32rem]
                        }
                }
            }
    }
}
</style>
