<template>
    <div :class="[$style.CartPage, { [$style._bg]: products && products.length }]">
        <MBreadcrumbs :data="[ { title: h1 } ]" design="light" />

        <c>
            <div class="relative">
                <ATitleCount
                    :h1="h1"
                    :count="totalQuantity"
                />

                <AButton
                    v-if="products && products.length"
                    type="button"
                    design="custom"
                    class="absolute right-0 xl:right-[395px] 2xl:right-[54rem] bottom-0 !font-circe leading-none tracking-wide 2xl:text-16 flex items-center xl:hover:text-primary transition-colors duration-300"
                    @click="clear"
                >
                    <IconClose class="w-5 2xl:w-6 mr-2" />
                    Очистить
                    <t class="hidden md:inline">
                        &nbsp;корзину
                    </t>
                </AButton>
            </div>

            <div v-if="products && products.length">
                <div class="xl:flex items-start">
                    <div :class="$style.wrap" class="line-top before:z-10 xl:before:hidden">
                        <div
                            v-for="(item, i) in products"
                            :key="`products-cart-${i}`"
                            :class="$style.card"
                        >
                            <MProductCard
                                :data="item"
                                design="cart"
                                @remove="remove"
                            />
                        </div>
                    </div>

                    <div :class="$style.cart" class="full-background xl:before:hidden">
                        <t type="h3" :class="$style.cartTitle">
                            Ваша корзина
                        </t>

                        <div class="bg-white mt-8 2xl:mt-10 p-8 md:p-16 xl:p-8 2xl:p-20">
                            <div :class="$style.row">
                                <div :class="$style.name">
                                    Сумма заказа:
                                </div>
                                <div :class="$style.value">
                                    {{ totalBase }}
                                </div>
                            </div>
                            <div :class="$style.row" class="mt-6 md:mt-8 xl:mt-6 2xl:mt-8">
                                <div :class="$style.name">
                                    Скидка:
                                </div>
                                <div :class="$style.value" class="text-secondary">
                                    {{ totalDiscount }}
                                </div>
                            </div>
                            <div :class="$style.row" class="mt-8 md:mt-12 xl:mt-8 2xl:mt-12">
                                <div :class="$style.name">
                                    Итого к оплате:
                                </div>
                                <div :class="$style.value" class="text-text-main text-18 md:text-22 xl:text-18 2xl:text-22">
                                    {{ totalCost }}
                                </div>
                            </div>

                            <AButton
                                type="button"
                                design="blue-common"
                                class="w-full !h-20 2xl:!h-24 mt-10 xl:mt-8 2xl:mt-10 !font-circe text-16 2xl:text-18 !font-bold text"
                                @click="toCheckout"
                            >
                                Перейти к оформлению
                            </AButton>
                        </div>
                    </div>
                </div>
            </div>

            <MNotFound
                v-else
                title="В корзине пусто"
                text="Пожалуйста, добавьте товары в корзину"
            />
        </c>

        <MModal :id="errorModal">
            <div :class="$style.error">
                Минимальная сумма заказа составляет {{ minCost }}
            </div>
        </MModal>
    </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex"
import { getPrice } from "@/lib/utils.js"
import { getRandomId } from "@/lib/utilsDom"
import { getTotalBaseCost, getTotalDiscount } from "@/lib/cart"
import { getProducts, removeProduct, clearProducts } from "@/lib/products"

import { CART } from "@/lib/url/const"
import { CART as CART_PRODUCT } from "@/lib/products/const"
import { getH1, getTitle, getDescription } from "@/lib/seo"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { $api, store } )
    {
        const products = await getProducts( CART_PRODUCT, {
            dict   : store.state.cart.cart.positions,
            request: $api.products.get
        } )

        return {
            products
        }
    },

    data()
    {
        return {
            h1  : getH1( CART ),
            meta: {
                title      : getTitle( CART ),
                description: getDescription( CART )
            },

            errorModal: getRandomId()
        }
    },

    computed: {
        ...mapState( "cart", [
            "cart"
        ] ),

        ...mapGetters( "cart", [
            "totalQuantity"
        ] ),

        minCost()
        {
            return getPrice( this.cart.minCost )
        },

        totalBase()
        {
            return getTotalBaseCost( {
                products: this.products,
                cart    : this.cart
            } )
        },

        totalDiscount()
        {
            return getTotalDiscount( {
                products: this.products,
                cart    : this.cart
            } )
        },

        totalCost()
        {
            return getPrice( this.cart.totalCost )
        }
    },

    methods:
    {
        ...mapActions( "cart", [
            "removeFromCart",
            "clearCart",
            "updateQuantity"
        ] ),

        remove( product )
        {
            this.products = removeProduct( CART_PRODUCT, {
                product,
                products: this.products,
                action  : this.removeFromCart
            } )
        },

        clear()
        {
            this.products = clearProducts( CART_PRODUCT, {
                action: this.clearCart
            } )
        },

        toCheckout()
        {
            // minCost error.
            if ( parseFloat( this.cart.totalCost ) < parseFloat( this.cart.minCost ) )
            {
                return this.$modal.open( this.errorModal )
            }

            // Success.
            this.$router.push( { path: "/checkout/" } )
        }
    }
}
</script>

<style lang="scss" module>
.CartPage {
    @apply pb-16 xl:pb-20 2xl:pb-24;
    overflow: hidden;

    &._bg {
        @apply pb-0 xl:pb-20 2xl:pb-24 xl:bg-white;
        min-height: 100vh;
    }
}

.wrap {
    @apply -mx-4 md:-mx-8 xl:mx-auto xl:flex-1 xl:border-l xl:border-t border-stroke;

    &:after {
        @apply absolute left-auto right-0 top-0 h-full w-px bg-stroke hidden xl:block;
        content: "";
    }
}

.row {
    @apply flex justify-between items-end leading-none md:text-16 xl:text-14 2xl:text-16;

    &:before {
        @apply border-b border-stroke border-dashed order-2 mx-2;
        content: "";
        height: 1px;
        width: 100%;
        transform: translateY(-3px);
    }
}

.name {
    @apply order-1 flex-shrink-0;
}

.value {
    @apply leading-none font-bold order-3 flex-shrink-0;
}

.cart {
    @apply xl:w-[373px] 2xl:w-[54rem] xl:bg-background pb-16 pt-8 xl:p-8 md:pt-12 2xl:p-20 xl:-ml-px xl:border border-stroke;
}

.cartTitle {
    @apply font-gotham font-medium leading-none text-18 md:text-20 2xl:text-24 text-text-main;
}

.error {
    @apply md:text-16 2xl:text-18;
    padding: 2rem 7rem 2rem 2rem;

    @screen 2xl {
        padding: 2.5rem 7rem 2rem 3rem;
    }
}
</style>
