<template>
    <div :class="[$style.ComparePage, {[$style._active]: activeTab !== 'other'}]">
        <MBreadcrumbs :data="[ { title: h1 } ]" />

        <c>
            <div class="flex justify-between xl:mb-8 2xl:mb-12">
                <ATitleCount
                    :h1="h1"
                    :count="tabs && tabs.length ? productIds.length : 0"
                />

                <div
                    v-if="tabs && tabs.length"
                    class="hidden xl:flex items-center"
                >
                    <t class="block leading-none text-15 2xl:text-18 mr-8 flex-shrink-0">
                        Список товаров:
                    </t>

                    <ASelect
                        class="w-[27.5rem] 2xl:w-[40rem]"
                        design="compare"
                        :value="activeTab"
                        :data="tabsData"
                        @change="$refs.tabs.onChange($event)"
                    >
                        <template v-for="(item, i) in tabsData" #[item.key]>
                            <div :key="`tabs-key-${i}`">
                                <t class="text-16 2xl:text-18">
                                    {{ item.title }}
                                </t>
                                <t class="text-gray-400 text-14 2xl:text-16">
                                    [{{ item.products ? item.products.length : other.length }}]
                                </t>
                            </div>
                        </template>
                    </ASelect>
                </div>
            </div>

            <template v-if="tabs.length || other.length">
                <MTabs
                    ref="tabs"
                    type="select"
                    :value="activeTab"
                    :data="tabsData"
                    :class="$style.tabs"
                    :design="tabsDesign"
                    @change="onTabChange($event)"
                >
                    <template #middle>
                        <div
                            v-if="activeTab !== 'other'"
                            class="flex xl:hidden md:border-r md:border-l border-stroke"
                        >
                            <ARadioButton
                                data="difference"
                                design="button"
                                class="w-1/2"
                                :value="radioValue"
                                @change="radioValue = $event"
                            >
                                Только отличия
                            </ARadioButton>

                            <ARadioButton
                                data="all"
                                design="button"
                                class="w-1/2"
                                :value="radioValue"
                                @change="radioValue = $event"
                            >
                                Все параметры
                            </ARadioButton>
                        </div>
                    </template>

                    <template v-for="(item, i) in tabsData" #[`key-${item.key}`]>
                        <div :key="`tabs-key-${i}`">
                            <t class="text-18">
                                {{ item.title }}
                            </t>
                            <t class="text-gray-400 text-16">
                                [{{ item.products ? item.products.length : other.length }}]
                            </t>
                        </div>
                    </template>

                    <template v-for="item in tabs" #[item.key]>
                        <div :key="item.key" :class="$style.content">
                            <div
                                ref="sticky"
                                class="sticky"
                                :class="$style.header"
                            >
                                <div :class="$style.headerMenu">
                                    <div>
                                        <ARadioButton
                                            data="difference"
                                            design="button"
                                            :value="radioValue"
                                            @change="radioValue = $event"
                                        >
                                            Только отличия
                                        </ARadioButton>

                                        <ARadioButton
                                            data="all"
                                            design="button"
                                            :value="radioValue"
                                            @change="radioValue = $event"
                                        >
                                            Все параметры
                                        </ARadioButton>
                                    </div>
                                </div>

                                <div
                                    ref="sliderTop"
                                    :class="$style.slider"
                                    class="overflow-hidden xl:line-top"
                                >
                                    <div
                                        ref="swiperWrapper"
                                        :class="$style.sliderWrapper"
                                        class="swiper-wrapper"
                                    >
                                        <div
                                            v-for="(product, i) in activeCategory.products"
                                            :key="`compare-${i}`"
                                            class="swiper-slide max-w-[32rem] border-r border-stroke last:border-r-0 2xl:max-w-[34rem]"
                                        >
                                            <MCompareCardHead
                                                :data="product"
                                                @remove="remove"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="wrap" :class="$style.wrap">
                                <div ref="props" :class="[$style.props, {[$style._shadow]: sliderTranslate < 0}]">
                                    <div :class="$style.prop" />
                                    <div :class="$style.prop">
                                        <t :class="$style.propText">
                                            Цена
                                        </t>
                                    </div>
                                    <div :class="$style.prop">
                                        <t :class="$style.propText">
                                            Бренд
                                        </t>
                                    </div>
                                    <div :class="$style.prop">
                                        <t :class="$style.propText">
                                            Артикул
                                        </t>
                                    </div>

                                    <template v-if="activeCategory.props">
                                        <div
                                            v-for="(prop, k) in Object.values(activeCategory.props).filter(i => i.values.size > 1 || !isUniqueProps)"
                                            :key="`compare-props-${k}`"
                                            :class="$style.prop"
                                        >
                                            <div :ref="`prop${k}`" :class="$style.propText">
                                                {{ prop.title }}
                                            </div>

                                            <ATooltip
                                                v-if="isTooltipVisible(k)"
                                                design="common"
                                                placement="top"
                                                :events="['mouseenter', 'click']"
                                                hide-on-click="hide"
                                                class="ml-2"
                                            >
                                                <template #key>
                                                    <IconSignQuestionCircle class="text-gray-400 w-[12px] h-[12px] xl:w-[14px] xl:h-[14px] cursor-pointer" />
                                                </template>
                                                <template #content>
                                                    {{ prop.title }}
                                                </template>
                                            </ATooltip>
                                        </div>
                                    </template>
                                </div>

                                <div
                                    ref="slider"
                                    :class="$style.slider"
                                    class="line-bottom xl:line-top"
                                >
                                    <div
                                        ref="swiperWrapper"
                                        :class="$style.sliderWrapper"
                                        class="swiper-wrapper"
                                    >
                                        <MCompareCard
                                            v-for="(product, i) in activeCategory.products"
                                            :key="`compare-${i}`"
                                            :data="product"
                                            :tab="activeCategory"
                                            :is-unique-props="isUniqueProps"
                                            class="swiper-slide max-w-[18rem] md:max-w-[29rem] xl:max-w-[32rem] 2xl:max-w-[34rem] !h-auto flex flex-col justify-between"
                                            @remove="remove"
                                        />
                                    </div>
                                </div>
                            </div>

                            <div :class="[$style.arrow, $style._prev]">
                                <div :class="$style.arrowWrap">
                                    <div ref="prev" :class="$style.icon">
                                        <IconArrowCompare class="w-8" />
                                    </div>
                                </div>
                            </div>

                            <div :class="[$style.arrow, $style._next]">
                                <div :class="$style.arrowWrap">
                                    <div ref="next" :class="$style.icon">
                                        <IconArrowCompare class="w-8" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>

                    <template #other>
                        <div :class="$style.other">
                            <div
                                v-for="(item, i) in other"
                                :key="`compare-other-${i}`"
                                :class="$style.card"
                            >
                                <MProductCard
                                    :data="item"
                                    class="h-full !w-full !mb-0"
                                />
                            </div>
                        </div>
                    </template>
                </MTabs>
            </template>

            <template v-else>
                <MNotFound
                    title="В сравнении пусто"
                    text="Пожалуйста, добавьте товары в сравнение"
                />
            </template>
        </c>
    </div>
</template>

<script>
import Swiper from "swiper"
import { mapState, mapActions } from "vuex"
import { COMPARE } from "@/lib/url/const"
import { COMPARE as COMPARE_PRODUCT } from "@/lib/products/const"
import { getH1, getTitle, getDescription } from "@/lib/seo"
import { toggleProduct } from "@/lib/products"
import { getName } from "@/lib/cookie"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { $api, store } )
    {
        const productIds = store.state.cookie.compare ? Object.keys( store.state.cookie.compare ).map( x => parseInt( x ) ) : []

        const tabs = []
        let other = []

        if ( productIds && productIds.length > 0 )
        {
            if ( productIds.length !== 1 )
            {
                const res = await $api.compare.get( { ids: productIds } )

                const productsWithCategories = []
                Object.values( res.categories ).forEach( ( category ) =>
                {
                    productsWithCategories.push( ...category.products )
                } )

                const idsOther = productIds.filter( id => !productsWithCategories.includes( id ) )

                const resOther = idsOther.length ? await $api.products.get( { ids: idsOther } ) : null
                other = resOther && resOther.results ? resOther.results : []

                // I use Object entries and not const categories cause i need get category.id for addtocartmodal
                Object.entries( res.categories ).forEach( ( item ) =>
                {
                    const productsInCategoryArray = []
                    // Хранить правильнее в объекте так как возможно гораздо более быстрое получение доступа к пропсу по айди
                    const propsInCategoryObject = {}

                    // category.values
                    item[ 1 ].props.forEach( ( props ) =>
                    {
                        if ( res.props[ props ] )
                        {
                            propsInCategoryObject[ props ] = { id: props, title: res.props[ props ].title, values: new Set() }
                        }
                    } )
                    // category.values
                    item[ 1 ].products.forEach( ( product ) =>
                    {
                        const o = res.products[ product ]
                        const easyProduct = {
                            body: {
                                id          : o.id,
                                title       : o.title,
                                image       : o.image,
                                fslug       : o.fslug,
                                data        : o.data,
                                code        : o.fields.code.value,
                                categories  : o.categories,
                                category    : item[ 0 ], // category.id
                                categoryName: item[ 1 ].title,
                                product     : o
                            },
                            props: {
                                brand    : o.fields.brand.value,
                                brandSlug: o.fields.brand.fslug,
                                price    : o.data.price,
                                basePrice: o.data.basePrice,
                                discount : o.data.discount,
                                sku      : o.fields.sku.value,
                                list     : {}
                            }
                        }
                        Object.values( propsInCategoryObject ).forEach( ( prop ) =>
                        {
                            const propWay = o.fields.props[ prop.id ]
                            if ( propWay )
                            {
                                if ( propWay.value )
                                {
                                    easyProduct.props.list[ prop.id ] = propWay.value
                                }
                                else if ( propWay.values && propWay.values.length )
                                {
                                    easyProduct.props.list[ prop.id ] = propWay.values.map( x => x.value ).join( ", " )
                                }
                            }
                            else
                            {
                                easyProduct.props.list[ prop.id ] = "-"
                            }
                            prop.values.add( easyProduct.props.list[ prop.id ] )
                        } )
                        productsInCategoryArray.push( easyProduct )
                    } )

                    const tab = { key: item[ 0 ], title: item[ 1 ].title, products: productsInCategoryArray, props: propsInCategoryObject }
                    tabs.push( tab )
                } )
            }
            else
            {
                const resOther = await $api.products.get( { ids: [ productIds[ 0 ] ] } )
                other = resOther && resOther.results ? resOther.results : []
            }
        }

        return {
            activeTab: tabs[ 0 ] ? tabs[ 0 ].key : "other",
            tabs,
            other
        }
    },

    data()
    {
        return {
            h1  : getH1( COMPARE ),
            meta: {
                title      : getTitle( COMPARE ),
                description: getDescription( COMPARE )
            },

            isUniqueProps: false,
            radioValue   : "all",

            activeTab: "other",
            tabs     : [],
            other    : [],

            slider         : null,
            sliderTop      : null,
            sliderOptions  : {},
            sliderTranslate: 0,

            isMounted: false
        }
    },

    computed: {
        ...mapState( "cookie", {
            compare: getName( "compare" )
        } ),

        productIds()
        {
            return this.compare ? Object.keys( this.compare ).map( x => parseInt( x ) ) : []
        },

        tabsDesign()
        {
            return this.activeTab !== "other" ? "compare" : "compare-other"
        },

        activeCategory()
        {
            return this.tabsData.find( e => e.key === this.activeTab )
        },

        tabsData()
        {
            return this.other.length ? [ ...this.tabs, { title: "Другие товары", key: "other" } ] : this.tabs
        }
    },

    watch: {
        radioValue()
        {
            this.isUniqueProps = Boolean( this.radioValue === "difference" )
        }
    },

    mounted()
    {
        this.isMounted = true

        this.sliderOptions = {
            cssMode       : true,
            slidesPerView : "auto",
            spaceBetween  : 0,
            loop          : false,
            allowTouchMove: true,
            freeMode      : {
                enabled       : true,
                momentum      : false,
                sticky        : true,
                momentumBounce: false
            },

            navigation: {
                prevEl       : this.$refs?.prev,
                nextEl       : this.$refs?.next,
                disabledClass: "is-disabled"
            },

            breakpoints: {
                1280: {
                    allowTouchMove: false,
                    cssMode       : false
                }
            }
        }

        this.initSlider( this.sliderOptions )
        this.initSliderTop( this.sliderOptions )
        this.observeHeader()
    },

    methods: {
        ...mapActions( [
            "toggleCompare"
        ] ),

        async updateCompare()
        {
            if ( process.client ) // Because cookies are only available on client side.
            {
                const tabs = []
                let other = []

                if ( this.productIds && this.productIds.length > 0 )
                {
                    if ( this.productIds.length !== 1 )
                    {
                        const res = await this.$api.compare.get( { ids: this.productIds } )

                        const productsWithCategories = []
                        Object.values( res.categories ).forEach( ( category ) =>
                        {
                            productsWithCategories.push( ...category.products )
                        } )

                        const idsOther = this.productIds.filter( id => !productsWithCategories.includes( id ) )

                        const resOther = idsOther.length ? await this.$api.products.get( { ids: idsOther } ) : null
                        other = resOther && resOther.results ? resOther.results : []

                        // I use Object entries and not const categories cause i need get category.id for addtocartmodal
                        Object.entries( res.categories ).forEach( ( item ) =>
                        {
                            const productsInCategoryArray = []
                            // Хранить правильнее в объекте так как возможно гораздо более быстрое получение доступа к пропсу по айди
                            const propsInCategoryObject = {}

                            // category.values
                            item[ 1 ].props.forEach( ( props ) =>
                            {
                                if ( res.props[ props ] )
                                {
                                    propsInCategoryObject[ props ] = { id: props, title: res.props[ props ].title, values: new Set() }
                                }
                            } )
                            // category.values
                            item[ 1 ].products.forEach( ( product ) =>
                            {
                                const o = res.products[ product ]
                                const easyProduct = {
                                    body: {
                                        id          : o.id,
                                        title       : o.title,
                                        image       : o.image,
                                        fslug       : o.fslug,
                                        data        : o.data,
                                        code        : o.fields.code.value,
                                        categories  : o.categories,
                                        category    : item[ 0 ], // category.id
                                        categoryName: item[ 1 ].title,
                                        product     : o
                                    },
                                    props: {
                                        brand    : o.fields.brand.value,
                                        brandSlug: o.fields.brand.fslug,
                                        price    : o.data.price,
                                        basePrice: o.data.basePrice,
                                        discount : o.data.discount,
                                        sku      : o.fields.sku.value,
                                        list     : {}
                                    }
                                }
                                Object.values( propsInCategoryObject ).forEach( ( prop ) =>
                                {
                                    const propWay = o.fields.props[ prop.id ]
                                    if ( propWay )
                                    {
                                        easyProduct.props.list[ prop.id ] = propWay.value ? propWay.value : propWay.values.map( x => x.value ).join( ", " )
                                    }
                                    else
                                    {
                                        easyProduct.props.list[ prop.id ] = "-"
                                    }
                                    prop.values.add( easyProduct.props.list[ prop.id ] )
                                } )
                                productsInCategoryArray.push( easyProduct )
                            } )

                            const tab = { key: item[ 0 ], title: item[ 1 ].title, products: productsInCategoryArray, props: propsInCategoryObject }
                            tabs.push( tab )
                        } )
                    }
                    else
                    {
                        const resOther = await this.$api.products.get( { ids: [ this.productIds[ 0 ] ] } )
                        other = resOther && resOther.results ? resOther.results : []
                    }
                }

                if ( !tabs.find( e => e.key === this.activeTab ) )
                {
                    this.activeTab = tabs[ 0 ] ? tabs[ 0 ].key : "other"
                }
                this.tabs = tabs
                this.other = other
            }
        },

        initSlider( options )
        {
            this.slider = new Swiper( this.$refs.slider, options )

            this.slider.on( "setTranslate", ( e ) =>
            {
                this.sliderTranslate = e
            } )
        },

        initSliderTop( options )
        {
            this.sliderTop = new Swiper( this.$refs.sliderTop, options )
        },

        observeHeader()
        {
            const stickyElm = document.querySelector( ".sticky" )
            if ( stickyElm )
            {
                const observer = new IntersectionObserver(
                    ( [ e ] ) =>
                    {
                        e.target.classList.toggle( "is-sticky", e.intersectionRatio < 1 )
                    },
                    { threshold: [ 1 ] }
                )

                observer.observe( stickyElm )
            }
        },

        onTabChange( e )
        {
            this.activeTab = e

            this.initSlider( this.sliderOptions )
            this.initSliderTop( this.sliderOptions )
            this.observeHeader()

            window.scrollTo( 0, 0 )
        },

        remove( data )
        {
            this.changeCompare( data )
            this.updateCompare()

            this.initSlider( this.sliderOptions )
            this.initSliderTop( this.sliderOptions )
            this.observeHeader()
        },

        changeCompare( product )
        {
            toggleProduct( COMPARE_PRODUCT, {
                product,
                dict  : this.compare,
                action: this.toggleCompare
            } )
        },

        isTooltipVisible( i )
        {
            if ( this.isMounted )
            {
                const prop = this.$refs[ `prop${i}` ]
                if ( prop && prop[ 0 ] )
                {
                    return prop[ 0 ].scrollWidth > prop[ 0 ].clientWidth
                }
            }
        }
    }
}
</script>

<style lang="scss" module>
$offset-md: 18rem;
$offset-xl: 20rem;
$offset-2xl: 26rem;

.ComparePage {
    @apply pb-16 md:pb-20 2xl:pb-24;

    &._active {
        @screen md {
            .select {
                display: none;
            }
        }
    }

    h1 {
        @apply xl:mb-0 #{ !important };
    }
}

.select {
    @apply block text-black font-medium leading-none mb-4 md:text-[16px] md:mb-6;
}

.tabs {
    @apply -mx-4 md:mx-auto;
}

.content {
    @apply md:border-l md:border-r border-stroke;
    z-index: 1;

    @screen xl {
        position: relative;
        margin: 0;
    }
}

.wrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.slider {
    @apply border-t xl:border-t-0 border-stroke;
    width: 65%;

    @screen md {
        position: relative;
        width: calc(100% - #{$offset-md});
    }

    @screen xl {
        width: calc(100% - #{$offset-xl});
    }

    @screen 2xl {
        width: calc(100% - #{$offset-2xl});
    }
}

.props {
    @apply bg-white border-r border-stroke z-20;
    position: absolute;
    left: 0;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    will-change: box-shadow;
    transition: box-shadow .3s ease;

    &._shadow {
        box-shadow: 5px 0 20px rgba(86, 86, 86, 0.25);

        @screen xl {
            box-shadow: none;
        }
    }

    @screen md {
        width: $offset-md;
    }

    @screen xl {
        width: $offset-xl;
    }

    @screen 2xl {
        width: $offset-2xl;
    }
}

.prop {
    @apply text-12 leading-none flex items-center px-4 h-16 xl:h-20 border-t border-stroke
    md:text-15 md:px-6 xl:px-8 xl:text-16 2xl:text-18;

    &:first-child {
        flex: 1;
        height: auto;
        display: flex;
        align-items: center;

        @screen xl {
            display: none;
        }
    }

    &:last-child {
        @apply border-b border-stroke;

        @screen md {
            margin-bottom: 0;
        }
    }
}

.propText {
    display: inline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.header {
    @apply hidden bg-white xl:flex;
    position: sticky;
    top: -1px;
    z-index: 998;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .3s ease;

    &:global(.is-sticky) {
        box-shadow: 0 15px 20px rgba(148, 148, 148, 0.25);
    }
}

.arrow {
    @apply hidden absolute top-0 items-center flex-col h-full xl:flex;
    z-index: 9999;

    &._prev {
        left: -2.5rem;
        visibility: hidden;
        animation: iconVisibility 0s 1.5s forwards;

        @screen xl {
            left: -3.5rem;
        }

        @screen 2xl {
            left: -4rem;
        }

        svg {
            transform: rotate(180deg);
        }

        @keyframes iconVisibility {
            from {
                visibility: hidden;
            }
            to {
                visibility: visible;
            }
        }
    }

    &._next {
        right: -2.5rem;

        @screen xl {
            right: -3.5rem;
        }

        @screen 2xl {
            right: -4rem;
        }
    }

    svg {
        @apply text-gray-200 transition-colors duration-300 xl:hover:text-primary;
    }
}

.arrowWrap {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    opacity: 1;
    transition: opacity .3s ease;
    cursor: pointer;

    &:global(.is-disabled) {
        opacity: 0;
        pointer-events: none;
    }
}

.headerMenu {
    @apply border-t border-r border-stroke;
    width: $offset-md;

    @screen xl {
        width: $offset-xl;
    }

    @screen 2xl {
        width: $offset-2xl;
    }
}

.radioTitle {
    @apply ml-4 leading-none 2xl:text-[1.6rem] md:ml-5;
    transform: translateY(1px);
}

.other {
    @apply flex flex-wrap relative;
}

.card {
    @apply w-1/2 border-b odd:border-r md:border-r border-stroke xl:w-1/4 2xl:w-1/5 xl:border-r;

    &:nth-child(-n + 4) {
        @apply xl:border-t;
    }

    &:nth-child(-n + 5) {
        @apply 2xl:border-t;
    }

    &:nth-child(2n + 1) {
        @apply md:border-l xl:border-l-0;
    }

    &:nth-child(4n + 1) {
        @apply xl:border-l 2xl:border-l-0;
    }

    &:nth-child(5n + 1) {
        @apply 2xl:border-l;
    }
}

.propText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
</style>
