<template>
    <div :class="$style.ContactsPage">
        <MBreadcrumbs :data="[ { title: h1 } ]" />

        <c>
            <t type="h1" design="h1-page">
                {{ h1 }}
            </t>

            <div class="grid md:grid-cols-2 xl:grid-cols-3 line-top xl:before:hidden xl:border border-stroke" :class="$style.content">
                <div class="relative z-10 bg-white border-stroke md:border-r line-bottom xl:after:hidden py-6 md:pr-8 md:py-8 xl:p-8 2xl:p-12 xl:order-1">
                    <div class="grid gap-8 2xl:gap-10 grid-cols-2">
                        <T class="col-span-2 !text-[2rem] 2xl:!text-[2.4rem] font-medium font-gotham leading-tight">
                            ООО "Приборы и учёт"
                        </T>
                        <div :class="$style.contact">
                            <label><T>Телефон:</T></label>
                            <AButton design="link" :class="$style.value" type="external" :link="`tel:${ cleanPhoneMain }`">
                                {{ phoneMain }}
                            </AButton>
                        </div>
                        <div :class="$style.contact">
                            <label><T>Телефон по России:</T></label>
                            <AButton design="link" :class="$style.value" type="external" :link="`tel:${ cleanPhoneRegional }`">
                                {{ phoneRegional }}
                            </AButton>
                        </div>
                        <div :class="$style.contact">
                            <label><T>График работы:</T></label>
                            <T>
                                Пн-Пт: <T :class="$style.value">
                                    9:00 - 18:00
                                </T>
                            </T>
                            <T>
                                Сб-Вс: <T :class="$style.value">
                                    Выходной
                                </T>
                            </T>
                        </div>
                        <div :class="$style.contact">
                            <label><T>E-Mail:</T></label>
                            <AButton design="link" :class="$style.value" type="external" :link="`mailto:${emailMain}`">
                                {{ emailMain }}
                            </AButton>
                        </div>
                        <div :class="$style.contact" class="col-span-2">
                            <label><T>Адрес:</T></label>
                            <T :class="$style.value">
                                {{ addressMain }}
                            </T>
                        </div>
                        <div :class="$style.contact" class="col-span-2">
                            <label><T>Мы в социальных сетях:</T></label>
                            <div class="grid grid-cols-5 gap-4 w-[25.6rem]">
                                <!--                        <AButton design="link" :class="$style.value" type="external" link="https://www.facebook.com/akvahit.ru">-->
                                <!--                            <IconSocialFacebook />-->
                                <!--                        </AButton>-->
                                <AButton
                                    design="link"
                                    :class="$style.value"
                                    type="external"
                                    target="_blank"
                                    link="https://vk.com/akvahit"
                                >
                                    <IconSocialVk />
                                </AButton>
                                <!--                        <AButton design="link" :class="$style.value" type="external" link="https://twitter.com/akvahit">-->
                                <!--                            <IconSocialTwitter />-->
                                <!--                        </AButton>-->
                                <AButton
                                    design="link"
                                    :class="$style.value"
                                    type="external"
                                    target="_blank"
                                    link="https://ok.ru/group/68041243557944/"
                                >
                                    <IconSocialOk />
                                </AButton>
                                <!--                        <AButton design="link" :class="$style.value" type="external" link="">-->
                                <!--                            <IconSocialInstagram />-->
                                <!--                        </AButton>-->
                            </div>
                        </div>
                        <div :class="$style.contact" class="col-span-2">
                            <label><T>Реквизиты (для оплаты физическими лицами):</T></label>

                            <div class="mt-4 bg-white grid gap-3 text-14 text-text-low">
                                <div>Название фирмы: ИП Буянкина Ольга Дмитриевна</div>
                                <div>Юридический адрес: 127549, г. Москва, ул. Бибиревская, д.2, корп.1</div>
                                <div>Фактический адрес: 127549, г. Москва, ул. Бибиревская, д.2, корп.1</div>
                                <div>ИНН: 132897743604</div>
                                <div>ОГРНИП: 319132600022982</div>
                            </div>
                        </div>
                        <div :class="$style.contact" class="col-span-2">
                            <label><T>Реквизиты (для оплаты юридическими лицами):</T></label>

                            <div class="mt-4 bg-white grid gap-3 text-14 text-text-low">
                                <div>Название фирмы: ООО "Приборы и учет"</div>
                                <div>Юридический адрес: 127549, г. Москва, ул. Бибиревская, д.2, корп.1</div>
                                <div>Фактический адрес: 127549, г. Москва, ул. Бибиревская, д.2, корп.1</div>
                                <div>ИНН/КПП: 7722364056/771501001</div>
                                <div>ОГРН: 319132600022982</div>
                                <div>Расчетный счет: 40702810238000111247</div>
                                <div>Банк: ПАО «Сбербанк России»</div>
                                <div>К/счет: 30101810400000000225</div>
                                <div>БИК: 044525225</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md:pl-8 md:py-8 xl:p-8 2xl:p-12 py-12 2xl:p-12 xl:order-3 line-bottom full-background xl:after:hidden xl:before:hidden xl:bg-background xl:border-l border-stroke">
                    <t type="h3" class="text-text-main font-gotham font-medium text-20 2xl:text-24 leading-tight mb-6 2xl:mb-8">
                        Свяжитесь с нами
                    </t>

                    <MForm
                        :fields="['NAME', 'PHONE', 'email', 'comment']"
                        design="secondary"
                        code="FormContacts"
                        result-type="modal"
                        class="bg-background xl:order-3 !max-w-none"
                    />
                </div>
                <div class="-mx-4 md:-mx-8 xl:mx-0 md:col-span-2 xl:col-span-1 h-[32.5rem] xl:h-full xl:order-2">
                    <script
                        type="text/javascript"
                        charset="utf-8"
                        async
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A09663d831a4b3ac2899162181557f44459ce865869383008f75033e6e659400e&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"
                    />
                </div>
            </div>
        </c>
    </div>
</template>

<script>
import { mapState } from "vuex"
import { CONTACTS } from "@/lib/url/const"
import { getTitle, getDescription, getH1 } from "@/lib/seo"
import { cleanPhone } from "@/lib/namings"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    data()
    {
        return {
            h1  : getH1( CONTACTS ),
            meta: {
                title      : getTitle( CONTACTS ),
                description: getDescription( CONTACTS, {
                    phone  : this.phoneMain,
                    email  : this.emailMain,
                    address: this.addressMain
                } )
            }
        }
    },
    computed:
    {
        ...mapState( [
            "phoneMain",
            "phoneRegional",
            "addressMain",
            "emailMain"
        ] ),
        cleanPhoneMain()
        {
            return cleanPhone( this.phoneMain )
        },
        cleanPhoneRegional()
        {
            return cleanPhone( this.phoneRegional )
        }
    }
}
</script>
<style lang="scss" module>
.ContactsPage {
  @apply xl:pb-20 2xl:pb-24 overflow-hidden;

  span{
    @apply text-18 text-text-main;
  }
  .value{
    @apply font-bold text-[1.7rem] xl:text-16 2xl:text-[2rem] text-text-main font-circe transition-colors duration-300 #{!important};
    svg{
      @apply border border-text-main flex items-center w-[4.4rem] h-[4.4rem] p-3 opacity-30 xl:hover:opacity-100 mt-4;
        transition: opacity .3s ease;
    }
  }
  .req{
    @apply font-normal text-left block 2xl:text-16;
  }
  a.value{
    @apply transition-colors duration-300 xl:hover:text-primary #{!important};
  }
  label{
    span{
      @apply text-14 2xl:text-16 text-text-low font-bold;
    }
  }
  .contact{
    @apply flex flex-col w-full;
    a{
      @apply inline;
    }
  }
}

.content {
    &:before {
        z-index: 11;
    }
}
</style>
