<template>
    <div>
        <MBannerTitle :image="{src:'~/assets/images/delivery-bg', ext:['png','webp']}" :breadcrumbs="[ { title: h1 } ]">
            <template #page>
                Быстрая
            </template>
            <template #title>
                <t type="h1" design="h1-white">
                    ДОСТАВКА ТОВАРОВ ПО ВСЕЙ РОССИИ!
                </t>
            </template>
            <template #subtitle>
                <T class="text-14 md:text-16 2xl:text-[2rem]">
                    Доставка приобретенных в нашей компании товаров осуществляется по Москве, Московской области, а также по всей территории России. Также все приобретаемые у нас товары Вы можете оформить и забрать самовывозом с пунктов выдачи.
                </T>
            </template>
        </MBannerTitle>

        <section class="bg-gray-150 py-10 md:py-20 overflow-hidden">
            <div class="relative container">
                <div class="bg-white border-t border-l border-r md:border-r-0 border-stroke grid md:grid-cols-3">
                    <div class="flex md:flex-col xl:flex-row md:items-start p-4 md:p-5 xl:p-6 2xl:p-8 border-b md:border-r border-stroke">
                        <div class="bg-background mr-4 xl:mr-6 2xl:mr-8 flex-shrink-0 w-20 h-20 md:w-24 md:h-24 2xl:w-32 2xl:h-32 flex justify-center items-center">
                            <IconDeliveryComfort class="w-12 h-12 md:w-14 md:h-14 2xl:w-20 2xl:h-20" />
                        </div>
                        <div class="flex flex-col">
                            <T class="block mb-2 font-bold font-base 2xl:text-18 xl:font-md md:mt-6 xl:my-0 xl:mb-2 text-primary uppercase">
                                Удобно
                            </T>
                            <T class="text-text-low text-12 md:text-14 2xl:text-16 xl:leading-tight">
                                Вы можете получить товар любым удобным для Вас способом и в любом месте.
                            </T>
                        </div>
                    </div>
                    <div class="flex md:flex-col xl:flex-row md:items-start p-4 md:p-5 xl:p-6 2xl:p-8 border-b md:border-r border-stroke">
                        <div class="bg-background mr-4 xl:mr-6 2xl:mr-8 flex-shrink-0 w-20 h-20 md:w-24 md:h-24 2xl:w-32 2xl:h-32 flex justify-center items-center">
                            <IconDeliveryFastly class="w-12 h-12 md:w-14 md:h-14 2xl:w-[45px] 2xl:h-[45px]" />
                        </div>
                        <div class="flex flex-col">
                            <T class="block mb-2 font-bold font-base 2xl:text-18 xl:font-md md:mt-6 xl:my-0 xl:mb-2 text-primary uppercase">
                                Быстро
                            </T>
                            <T class="text-text-low text-12 md:text-14 2xl:text-16 xl:leading-tight">
                                Доставляем товар быстро,
                                в любое время суток.
                            </T>
                        </div>
                    </div>
                    <div class="flex md:flex-col xl:flex-row md:items-start p-4 md:p-5 xl:p-6 2xl:p-8 border-b md:border-r border-stroke">
                        <div class="bg-background mr-4 xl:mr-6 2xl:mr-8 flex-shrink-0 w-20 h-20 md:w-24 md:h-24 2xl:w-32 2xl:h-32 flex justify-center items-center">
                            <IconDeliverySafely class="w-12 h-12 md:w-14 md:h-14 2xl:w-20 2xl:h-20" />
                        </div>
                        <div class="flex flex-col">
                            <T class="block mb-2 font-bold font-base 2xl:text-18 xl:font-md md:mt-6 xl:my-0 xl:mb-2 text-primary uppercase">
                                Надежно
                            </T>
                            <T class="text-text-low text-12 md:text-14 2xl:text-16 xl:leading-tight">
                                Вы можете быть уверены в качестве нашего товара. В случае брака мы заменим Ваш товар на новый.
                            </T>
                        </div>
                    </div>
                </div>
            </div>
            <div :class="$style.car" class="md:hidden">
                <OCar :id="1" :marks="[ 'Москва', 'Средняя полоса', 'Урал' ]" />
            </div>
            <div :class="$style.car" class="hidden md:block xl:hidden">
                <OCar :id="2" :marks="[ 'Москва', 'Средняя полоса', 'Сибирь', 'Урал' ]" />
            </div>
            <div :class="$style.car" class="hidden xl:block">
                <OCar :id="3" :marks="[ 'Москва', 'Средняя полоса', 'Сибирь', 'Урал', 'Дальний восток', 'Казахстан' ]" />
            </div>
        </section>

        <div class="grid xl:grid-cols-2 xl:container overflow-y-hidden">
            <section class="bg-background xl:-ml-24 2xl:-ml-28 overflow-y-hidden">
                <div class="container border-stroke border-t xl:border py-10 md:py-12 xl:py-16 2xl:py-24">
                    <t type="h2" class="font-gotham font-medium text-text-main leading-tight 2xl:leading-none text-18 md:text-[2rem] 2xl:!text-[2.4rem] mb-6 md:mb-8 2xl:mb-16">
                        Условия доставки по Москве и Московской области
                    </t>
                    <div class="relative grid gap-8 md:gap-12 xl:gap-16 2xl:gap-24">
                        <svg class="absolute top-0 bottom-0 left-3 xl:left-4 pt-12 w-[.2rem] h-[500vh]">
                            <line
                                x2="1"
                                y2="2342"
                                stroke="#B9B9B9"
                                stroke-width="2"
                                stroke-dasharray="8 8"
                            />
                        </svg>
                        <div class="flex">
                            <div class="-rotate-90 w-max h-[fit-content]">
                                <T class="text-primary text-[2rem] 2xl:text-24 font-bold bg-background">
                                    01
                                </T>
                            </div>
                            <div class="text-text-low flex flex-col ml-4 xl:ml-5">
                                <T design="h3" type="h3" class="!text-18 xl:text-[2rem] 2xl:!text-[2.2rem]">
                                    Доставка
                                </T>
                                <T class="py-2 md:text-16 2xl:text-18">
                                    Срок доставки по Москве (в пределах МКАД) определяется исходя из времени оформления заказа и происходит в течение 1-3 рабочих дней после оформления заказа.
                                </T>
                                <T class="py-2 md:text-16 2xl:text-18">
                                    Доставка по указанному в заказе адресу осуществляется после согласования даты и времени доставки менеджером магазина с Покупателем.
                                </T>
                                <T class="py-2 md:text-16 2xl:text-18">
                                    В случае невозможности принять заказ в оговоренное оператором время или отказа от него, покупатель обязан уведомить об этом Интернет-магазин не менее, чем за 5 часов до времени доставки.
                                </T>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="-rotate-90 w-max h-[fit-content]">
                                <T class="text-primary text-[2rem] 2xl:text-24 font-bold bg-background">
                                    02
                                </T>
                            </div>
                            <div class="text-text-low flex flex-col ml-4">
                                <T design="h3" type="h3" class="!text-18 xl:text-[2rem] 2xl:!text-[2.2rem]">
                                    Самовывоз
                                </T>
                                <T class="py-2 md:text-16 2xl:text-18">
                                    Бесплатная доставка при самовывозе в Москве. Точный расчет стоимости и выбор пункта выдачи товара осуществляется при оформлении заказа в корзине.
                                </T>
                                <T class="py-2 md:text-16 2xl:text-18">
                                    При выборе данного способа доставки необходимо дождаться звонка менеджера для подтверждения срока готовности Вашего заказа. В случае невозможности забрать заказ Покупатель обязан уведомить об этом Интернет-магазин в течение 1го дня после подтверждения заказа менеджером. В противном случае заказ будет расформирован.
                                </T>
                                <T class="py-2 md:text-16 2xl:text-18">
                                    <T class="font-bold">
                                        Адрес самовывоза:
                                    </T> 127549, г. Москва, ул. Бибиревская, д.2, корп.1
                                </T>
                                <T class="py-2 md:text-16 2xl:text-18">
                                    <T class="font-bold">
                                        График работы:
                                    </T> с 9:00 до 18:00
                                </T>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="-rotate-90 w-max h-[fit-content] bg-background">
                                <T class="text-primary text-[2rem] 2xl:text-24 font-bold">
                                    03
                                </T>
                            </div>
                            <div class="text-text-low flex flex-col ml-4">
                                <T design="h3" type="h3" class="!text-18 xl:text-[2rem] 2xl:!text-[2.2rem]">
                                    Пункты выдачи заказов
                                </T>
                                <T class="py-2 md:text-16 2xl:text-18">
                                    При заборе товара из ПВЗ в Москве стоимость доставки не взимается.
                                </T>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="border-t border-b xl:border-r border-stroke bg-white xl:-mr-24 2xl:-mr-28">
                <div class="container py-10 md:py-12 xl:py-16 2xl:py-24">
                    <T type="h2" class="font-gotham font-medium text-text-main leading-tight 2xl:leading-none text-18 md:text-[2rem] xl:!text-[2.4rem] mb-6 md:mb-8 2xl:mb-16">
                        Условия доставки по всей России
                    </T>
                    <div class="relative h-full grid gap-8 md:gap-12 xl:gap-16 2xl:gap-24">
                        <svg class="absolute top-0 bottom-0 left-3 xl:left-4 pt-12 w-[.2rem] h-[500vh]">
                            <line
                                x2="1"
                                y2="2342"
                                stroke="#B9B9B9"
                                stroke-width="2"
                                stroke-dasharray="8 8"
                            />
                        </svg>
                        <div class="flex">
                            <div class="-rotate-90 w-max h-[fit-content]">
                                <T class="text-primary text-[2rem] 2xl:text-24 font-bold bg-white">
                                    01
                                </T>
                            </div>
                            <div class="text-text-low flex flex-col ml-4 xl:ml-5">
                                <T design="h3" type="h3" class="!text-18 xl:text-[2rem] 2xl:!text-[2.2rem]">
                                    Доставка
                                </T>
                                <T class="py-2 md:text-16 2xl:text-18">
                                    Срок и стоимость доставки по России автоматически рассчитывается и указан в карточке товара и при оформлении заказа. Срок доставка исчисляется со следующего дня после оплаты заказа.
                                </T>
                                <T class="py-2 md:text-16 2xl:text-18">
                                    Доставка по указанному в заказе адресу осуществляется после согласования даты и времени доставки менеджером магазина с Покупателем.
                                </T>
                                <T class="py-2 md:text-16 2xl:text-18">
                                    В случае невозможности принять заказ в оговоренное оператором время или отказа от него, покупатель обязан уведомить об этом Интернет-магазин не менее, чем за 5 часов до времени доставки.
                                </T>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="-rotate-90 w-max h-[fit-content]">
                                <T class="text-primary text-[2rem] 2xl:text-24 font-bold bg-white">
                                    02
                                </T>
                            </div>
                            <div class="text-text-low flex flex-col ml-4">
                                <T design="h3" type="h3" class="!text-18 xl:text-[2rem] 2xl:!text-[2.2rem]">
                                    Пункты выдачи заказов
                                </T>
                                <T class="py-2 md:text-16 2xl:text-18">
                                    При заборе товара из ПВЗ стоимость доставки взимается в соответствии с расчетом ТК в автоматическом режиме.
                                </T>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section class="container py-16">
            <T class="font-bold" type="h2" design="h2">
                Наши <T class="text-primary">
                    партнеры
                </T>
            </T>
            <T class="py-4 pb-8 flex text-text-low text-16 2xl:text-18">
                Нам важно, чтобы товар был доставлен быстро, а сам процесс доставки был прозрачным и понятным. Поэтому мы сотрудничаем с лучшими транспортными компаниями - Деловые линии, СДЭК, Boxberry. Предусмотрена возможность выбора транспортной компании клиентом. Срок и стоимость доставки зависит от комплектации заказа и расстояния.
            </T>
            <div class="grid grid-cols-1 md:grid-cols-3">
                <div :class="$style.partner">
                    <BaseImage src="~/assets/images/logos/CDEK" :ext="['png', 'webp']" />
                    <T type="h3" :class="$style.title" class="font-gotham" design="h3">
                        СДЭК
                    </T>
                    <AButton design="link" type="external" :class="$style.phone">
                        8 800 250-04-05
                    </AButton>
                    <AButton design="link" type="external" link="http://www.cdek.ru/" :class="$style.web">
                        http://www.cdek.ru/
                    </AButton>
                </div>
                <div :class="$style.partner">
                    <BaseImage src="~/assets/images/logos/delovie" :ext="['png', 'webp']" />
                    <T type="h3" :class="$style.title" class="font-gotham" design="h3">
                        Деловые линии
                    </T>
                    <AButton design="link" type="external" :class="$style.phone" link="tel:+78001008000">
                        8 800 100-80-00
                    </AButton>
                    <AButton design="link" type="external" :class="$style.web" link="http://www.dellin.ru/">
                        http://www.dellin.ru/
                    </AButton>
                </div>
                <div :class="$style.partner">
                    <BaseImage src="~/assets/images/logos/boxberry" :ext="['png', 'webp']" />
                    <T type="h3" :class="$style.title" class="font-gotham" design="h3">
                        Boxberry
                    </T>
                    <AButton design="link" type="external" :class="$style.phone" link="tel:+78001008000">
                        8 800 222-80-00
                    </AButton>
                    <AButton design="link" type="external" :class="$style.web" link="http://www.dellin.ru/">
                        https://boxberry.ru/
                    </AButton>
                </div>
            </div>
            <div class="flex flex-col py-8">
                <T class="text-18 text-primary pb-2 font-bold 2xl:text-24">
                    Внимание!
                </T>
                <T class="text-text-low text-16 2xl:text-18">
                    Избежать неприятностей поможет тщательная проверка оборудования на предмет механических повреждений, обязательно убедитесь в комплектности товара, целостности упаковки и наличии и правильности заполнения сопроводительных документов. Сделать это необходимо в момент получения заказа!
                </T>
            </div>
        </section>
    </div>
</template>

<script>
import { DELIVERY } from "@/lib/url/const"
import { getTitle, getDescription, getH1 } from "@/lib/seo"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    data()
    {
        return {
            h1  : getH1( DELIVERY ),
            meta: {
                title      : getTitle( DELIVERY ),
                description: getDescription( DELIVERY )
            },

            marks: [ "Москва", "Средняя полоса", "Урал" ]
        }
    },

    mounted()
    {
        if ( window.innerWidth >= 786 && window.innerWidth < 1280 )
        {
            this.marks = [ "Москва", "Средняя полоса", "Сибирь", "Урал" ]
        }
        else if ( window.innerWidth >= 1280 )
        {
            this.marks = [ "Москва", "Средняя полоса", "Сибирь", "Урал", "Дальний восток", "Казахстан" ]
        }
    }
}
</script>
<style lang="scss" module>
span{
    @apply leading-tight;
}
.partner{
    @apply border border-stroke border-b-0  md:border-b flex flex-col items-center py-10 xl:py-[5rem] object-cover;
    @apply transition-shadow;
    @screen xl{
      &:nth-child(2){
        @apply border-r-0 border-l-0;
      }
    }

    &:last-child{
        @apply border-b;
    }
    img{
        filter:grayscale(1);
        @apply max-w-[15.4rem] w-full 2xl:max-w-[30rem];
    }
    .title{
        @apply text-16 pt-8;
        @screen 2xl{
            @apply text-[2rem] leading-snug pt-[4rem] pb-4;
        }
    }
    .title, .phone, .web{
        @apply text-text-main font-bold;
    }

    .phone{
        @apply text-[2.2rem] py-4 2xl:text-[3.4rem];
    }
    .phone {
      @apply xl:hover:text-primary;
    }
    .web {
        @apply text-12 xl:hover:text-secondary xl:text-16 2xl:text-18;
    }
    &:hover{
        @screen xl {
            @apply shadow-lg;
            img{
                filter: grayscale(0);
            }
            .title{
                @apply text-secondary;
            }
        }
    }
}

.car {
    @apply py-24 xl:pb-20 2xl:pt-28 2xl:pb-24;
}
</style>
