<template>
    <div :class="$style.FavoritesPage">
        <MBreadcrumbs :data="[ { title: h1 } ]" />
        <c>
            <ATitleCount
                :h1="h1"
                :count="productsCount"
            />

            <div
                v-if="products && products.length"
                :class="$style.wrap"
            >
                <div
                    v-for="(item, i) in products"
                    :key="`product-FavoritesPage-${i}`"
                    :class="$style.card"
                >
                    <MProductCard
                        :data="item"
                        class="h-full"
                    />
                </div>
            </div>

            <MNotFound
                v-else
                title="В избранном пусто"
                text="Пожалуйста, добавьте товары в избранное"
            />
        </c>
    </div>
</template>

<script>
import { mapState } from "vuex"
import { FAVORITES } from "@/lib/url/const"
import { FAVORITE } from "@/lib/products/const"
import { getTitle, getDescription, getH1 } from "@/lib/seo"
import { getProducts } from "@/lib/products"
import { getName } from "@/lib/cookie"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { $api, store } )
    {
        const products = await getProducts( FAVORITE, {
            dict   : store.state.cookie.favorite,
            request: $api.products.get
        } )

        return {
            products
        }
    },

    data()
    {
        return {
            h1  : getH1( FAVORITES ),
            meta: {
                title      : getTitle( FAVORITES ),
                description: getDescription( FAVORITES )
            },

            products: []
        }
    },

    computed: {
        ...mapState( "cookie", {
            favorite: getName( "favorite" )
        } ),

        productsCount()
        {
            return this.products.length
        }
    }
}
</script>

<style lang="scss" module>
.FavoritesPage {
    @apply pb-16 xl:pb-20 2xl:pb-24;
}

.wrap {
    @apply -mx-4 md:mx-auto flex flex-wrap relative;
}

.card {
    @apply w-1/2 border-b odd:border-r md:border-r border-stroke xl:w-1/4 2xl:w-1/5 xl:border-r;

    &:nth-child(-n + 2) {
        @apply border-t;
    }

    &:nth-child(-n + 4) {
        @apply xl:border-t;
    }

    &:nth-child(-n + 5) {
        @apply 2xl:border-t;
    }

    &:nth-child(2n + 1) {
        @apply md:border-l xl:border-l-0;
    }

    &:nth-child(4n + 1) {
        @apply xl:border-l 2xl:border-l-0;
    }

    &:nth-child(5n + 1) {
        @apply 2xl:border-l;
    }
}
</style>
