<template>
    <div :class="$style.GuaranteePage">
        <MBreadcrumbs :data="[ { title: 'Гарантия' } ]" />

        <c>
            <t type="h1" design="h1-page">
                {{ h1 }}
            </t>

            <div class="mb-12 xl:mb-16 2xl:mb-24 max-w-[96rem]">
                <t type="p" :class="$style.text">
                    На все оборудования интернет-магазина АкваХит распространяется гарантия Производителя. Срок гарантийного обслуживания зависит от вида оборудования и производителя и составляет от 1 до 10 лет.
                </t>
                <t type="p" :class="$style.text" class="mt-4">
                    Гарантия действительна при условии соблюдения норм эксплуатации.
                </t>
            </div>
        </c>

        <c design="blue-right" class="border-t border-stroke xl:border-t-0">
            <div :class="$style.wrap">
                <t type="h2" class="font-gotham font-medium text-text-main text-18 2xl:text-24 leading-none">
                    Сроки гарантийного обслуживания
                </t>

                <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-16 2xl:gap-24 mt-10 2xl:mt-12">
                    <div
                        v-for="(item, i) in data"
                        :key="`guarantee-${i}`"
                    >
                        <t type="h3" class="font-gotham text-primary text-20 2xl:text-24 leading-tight font-medium mb-5">
                            {{ item.title }}
                        </t>

                        <t type="p" class="font-bold tracking-wide text-16 2xl:text-18 leading-tight">
                            {{ item.text }}
                        </t>

                        <div class="mt-5">
                            <div
                                v-for="(listItem, ii) in item.list"
                                :key="`guarantee-item-${ii}`"
                                class="text-secondary tracking-wide leading-tight text-16 2xl:text-18 mb-5 last:mb-0"
                            >
                                {{ listItem }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </c>
    </div>
</template>

<script>
import { GUARANTEE } from "@/lib/url/const"
import { getDescription, getTitle, getH1 } from "@/lib/seo"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    data()
    {
        return {
            h1  : getH1( GUARANTEE ),
            meta: {
                title      : getTitle( GUARANTEE ),
                description: getDescription( GUARANTEE )
            },

            data: [
                {
                    title: "1 год",
                    text : "Гарантия 1 год действует на следующие товары:",
                    list : [ "Двухпозиционные клапаны", "Двухходовые клапаны", "Квартирные теплосчетчики", "Комбинированные балансировочные клапаны", "Комбинированные клапаны", "Комплекты терморегуляторов", "Поворотные клапаны", "Присоединительно-регулирующая гарнитура VHS", "Регуляторы давления до себя", "Регуляторы перепада давления", "Соленоидные клапаны", "Термостатические головки", "Трехходовые клапаны", "Электроприводы с аналоговым управлением", "Электроприводы с импульсным управлением" ]
                },
                {
                    title: "2 года",
                    text : "Гарантия 2 года действует на следующие товары:",
                    list : [ "Квартирные теплосчетчики", "Насосы для скважин", "Поверхностные насосы", "Стальные радиаторы", "Циркуляционные насосы" ]
                },
                {
                    title: "3 года",
                    text : "Гарантия 3 года действует на следующие товары:",
                    list : [ "Автоматические балансировочные клапаны", "Автоматические воздухоотводчики", "Дисковые поворотные затворы", "Запорно-присоединительные клапаны", "Комбинированные балансировочные клапаны", "Комплекты балансировочных клапанов", "Краны шаровые", "Обратные клапаны", "Присоединительно-регулирующая гарнитура VHS", "Распределители тепла", "Регуляторы давления после себя", "Регуляторы перепуска", "Регуляторы расхода", "Регуляторы температуры", "Редукционные клапаны", "Ручные балансировочные клапаны", "Сильфонные компенсаторы", "Термостатические клапаны", "Фильтры сетчатые" ]
                },
                {
                    title: "5 лет",
                    text : "Гарантия 5 лет действует на следующие товары:",
                    list : [ "Дренажные насосы", "Канализационные установки", "Квартирные теплосчетчики", "Колодезные насосы", "Насосные станции", "Насосы для скважин", "Поверхностные насосы", "Погружные насосы" ]
                },
                {
                    title: "6 лет",
                    text : "Гарантия 6 лет действует на следующие товары:",
                    list : [ "Квартирные счетчики воды", "Электропривод AUMA" ]
                },
                {
                    title: "6-10 лет",
                    text : "Гарантия 6-10 лет действует на следующие товары:",
                    list : [ "Алюминиевые радиаторы", "Биметаллические радиаторы", "Квартирные теплосчетчики", "Распределители тепла", "Стальные радиаторы" ]
                }
            ]
        }
    }
}
</script>

<style lang="scss" module>
.GuaranteePage {
    @apply overflow-hidden;
}

.wrap {
    @apply relative py-16 xl:pb-20 2xl:py-24;

    &:before {
        @apply hidden xl:block absolute w-px h-full bg-stroke -left-24 2xl:-left-28 top-0;
        content: "";
    }

    &:after {
        @apply hidden xl:block absolute h-px bg-stroke -left-24 2xl:-left-28 top-0;
        width: 400vw;
        content: "";
    }
}

.text {
    @apply text-16 2xl:text-20 leading-tight tracking-wide;
}
</style>
