<template>
    <div :class="$style.MainPage">
        <OMainHero
            class="mb-16 xl:mb-20"
            @scroll="toProducts"
        />

        <div ref="catalog">
            <OMainCatalog :data="menu" />
        </div>

        <c v-if="brands && brands.length">
            <div class="py-16 xl:py-20">
                <t type="h2" design="h2">
                    Производители
                </t>

                <OBrands
                    :brands="brands"
                    is-main
                    class="mt-8 2xl:mt-12"
                />
            </div>
        </c>

        <OMainServices :data="services" />

        <OMainForm class="mb-16 xl:mb-0" />

        <c design="blue-right">
            <div class="pt-12 xl:pt-16 pb-16 xl:pb-20 2xl:pb-24">
                <OProductSlider
                    v-if="products && products.length"
                    :data="products"
                    title="Хиты продаж"
                />
            </div>
        </c>

        <OMainAbout :slides="brandsSlides" />

        <OFeatures />
    </div>
</template>

<script>
import { mapGetters } from "vuex"

import { INDEX } from "@/lib/url/const"
import { SERVICES } from "@/lib/blog/types/const"
import { POSTS } from "@/lib/blog/names/const"
import { getTitle, getDescription } from "@/lib/seo"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { $api } )
    {
        const storeRes = await $api.store.get( { group: "main" } )
        const store = storeRes.results

        // brands
        const brands = await $api.brands.get()

        // slider
        const slides = store.filter( e => e.group === "banner" )
        const slidesMob = store.filter( e => e.group === "banner-mob" )

        // menu
        const categories = await $api.categories.tree( { type: "default", levels: [ 0 ] } )
        const menu = categories.results

        // brandsSlides
        const brandsSlides = []
        const brandsObj = store.find( e => e.code === "brands" )

        if ( brandsObj )
        {
            for ( const id of brandsObj.list )
            {
                const brand = await $api.brand.get( { id } )
                brandsSlides.push( brand )
            }
        }

        // products
        const productsObj = store.find( e => e.code === "products" )
        let products

        if ( productsObj )
        {
            products = await $api.products.getAll( { ids: productsObj.list } )
        }

        // uslugi
        const servicesRes = await $api.blog.listAll( SERVICES, POSTS )
        const services = servicesRes.filter( e => e.info && e.info.type === "simple" )

        return {
            brands,
            slides,
            slidesMob,
            menu,
            brandsSlides,
            products,
            services
        }
    },

    data()
    {
        return {
            brands      : [],
            slides      : [],
            slidesMob   : [],
            menu        : [],
            brandsSlides: [],
            products    : [],
            services    : [],
            scrollHeight: 0,

            meta: {
                title      : getTitle( INDEX, { city: this.regionPre } ),
                description: getDescription( INDEX, { city: this.regionPre } )
            }
        }
    },

    computed:
    {
        ...mapGetters( "regions", [
            "regionPre"
        ] )
    },

    mounted()
    {
        this.scrollHeight = this.$refs.catalog.offsetTop
    },

    methods: {
        toProducts()
        {
            window.scroll( { top: this.scrollHeight, left: 0, behavior: "smooth" } )
        }
    }
}
</script>

<style lang="scss" module>
.MainPage {
    overflow: hidden;
}
</style>
