<template>
    <div>
        <MBannerTitle :image="{src:'~/assets/images/quality_control-bg', ext:['png','webp']}" :breadcrumbs="[ { title: h1 } ]">
            <template #page>
                {{ h1 }}
            </template>
            <template #title>
                <t type="h2" design="h1-white">
                    Компания АкваХит всегда стремится повысить качество работы и обслуживание наших клиентов.
                </t>
            </template>
            <template #subtitle>
                <T class="text-14 md:text-16 xl:!leading-tight 2xl:text-[2rem] block">
                    Если у Вас возникли пожелания, вопросы или претензии по работе нашей компании, Вы можете направить их нам через форму обратной связи. Мы гарантируем Вам, что любые Ваши замечания будут рассмотрены в кротчайшие сроки.
                </T>
            </template>
        </MBannerTitle>

        <c>
            <FormFeedback class="my-16 xl:my-20 2xl:my-24" />
        </c>
    </div>
</template>

<script>
import { QUALITY_CONTROL } from "@/lib/url/const"
import { getTitle, getDescription, getH1 } from "@/lib/seo"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    data()
    {
        return {
            h1  : getH1( QUALITY_CONTROL ),
            meta: {
                title      : getTitle( QUALITY_CONTROL ),
                description: getDescription( QUALITY_CONTROL )
            }
        }
    }
}
</script>
