<template>
    <div class=" !leading-tight" :class="$style.PaymentPage">
        <MBreadcrumbs :data="[ { title: h1 } ]" />
        <div class="container">
            <T type="h1" design="h1-page">
                {{ h1 }}
            </T>
        </div>
        <div class="grid xl:grid-cols-2 xl:container overflow-y-hidden">
            <section class="border-t border-b xl:border-t-0 xl:border-b-0 border-stroke bg-background xl:ml-[-6rem] 2xl:ml-[-7rem]">
                <div class="container border-stroke xl:border py-6 pb-12 xl:py-12">
                    <T design="h2" type="h2" class="!text-18 md:!text-[2rem] xl:!text-[2.4rem] md:h-[4rem] py-6 xl:mb-[2rem]">
                        Для физических лиц
                    </T>
                    <div class="relative h-full px-4">
                        <svg class="absolute top-0 bottom-0 left-3 pt-12 w-[.2rem] h-full">
                            <line
                                x2="1"
                                y2="2342"
                                stroke="#B9B9B9"
                                stroke-width="2"
                                stroke-dasharray="8 8"
                            />
                        </svg>
                        <div :class="$style.paymentCard">
                            <div :class="$style.mark">
                                <T>
                                    01
                                </T>
                            </div>
                            <div class="text-text-low flex flex-col ml-4">
                                <T design="h3" type="h3" class="!text-18 xl:!text-[2rem] 2xl:!text-[2.2rem]">
                                    Наличный расчет
                                </T>
                                <T>
                                    Оплатить заказ наличными Вы можете при получении заказа в Москве и Московской области.
                                </T>
                                <T>
                                    Узнать условия доставки и ее стоимость Вы можете у наших менеджеров по телефону
                                    <AButton design="link" :class="$style.phone" type="external" :link="`tel:${ cleanPhone }`">
                                        {{ phone }}
                                    </AButton>
                                </T>
                            </div>
                        </div>
                        <div :class="$style.paymentCard">
                            <div :class="$style.mark">
                                <T>
                                    02
                                </T>
                            </div>
                            <div class="text-text-low flex flex-col ml-4">
                                <T design="h3" type="h3" class="!text-18 xl:!text-[2rem] 2xl:!text-[2.2rem]">
                                    Банковской картой на сайте
                                </T>
                                <T>
                                    К оплате принимаются банковские карты Visa, Visa Electron, MasterCard, MasterCard Electronic и Maestro.
                                </T>
                                <T>
                                    Для оплаты выберите на странице оформления заказа способ оплаты «Банковские карты»
                                </T>
                            </div>
                        </div>
                        <div :class="$style.paymentCard">
                            <div :class="$style.mark">
                                <T>
                                    03
                                </T>
                            </div>
                            <div class="text-text-low flex flex-col ml-4">
                                <T design="h3" type="h3" class="!text-18 xl:!text-[2rem] 2xl:!text-[2.2rem]">
                                    Безналичный расчет
                                </T>
                                <T>
                                    Физические лица могут оплатить заказ по безналичному расчету на основании выставленного счета.
                                </T>
                                <T>
                                    Получить счет на оплату Вы можете на странице оформления заказа, выбрав способ оплаты «Счет для физических лиц» или связавшись с нашими менеджерами по телефону
                                    <AButton design="link" :class="$style.phone" type="external" :link="`tel:${ cleanPhone }`">
                                        {{ phone }}
                                    </AButton>, либо по электронной почте
                                    <AButton design="link" :class="$style.phone" type="external" :link="`mailto:${email}`">
                                        {{ email }}
                                    </AButton>.
                                </T>
                                <T>
                                    Отгрузка товара осуществляется только после поступления 100% оплаты на банковский счет.
                                </T>
                            </div>
                        </div>

                        <div :class="$style.contact" class="bg-white">
                            <div>
                                <svg class="absolute top-0 bottom-0 right-[-.1rem] w-[.2rem] h-full">
                                    <line
                                        x2="1"
                                        y2="2342"
                                        stroke="#B9B9B9"
                                        stroke-width="2"
                                        stroke-dasharray="8 8"
                                    />
                                </svg>
                                <svg class="absolute top-[-.1rem] w-full h-[0.1rem]">
                                    <line
                                        x2="2323"
                                        y2="1"
                                        stroke="#B9B9B9"
                                        stroke-width="2"
                                        stroke-dasharray="8 8"
                                    />
                                </svg>
                                <svg class="absolute bottom-[-.1rem] w-full h-[0.1rem]">
                                    <line
                                        x2="2323"
                                        y2="1"
                                        stroke="#B9B9B9"
                                        stroke-width="2"
                                        stroke-dasharray="8 8"
                                    />
                                </svg>
                            </div>
                            <div :class="$style.grid">
                                <div :class="$style.block">
                                    <T>Телефон:</T>
                                    <AButton design="link" :class="$style.phone" type="external" :link="`tel:${ cleanPhone }`">
                                        {{ phone }}
                                    </AButton>
                                </div>
                                <div :class="$style.block">
                                    <T>E-mail:</T>
                                    <AButton design="link" :class="$style.phone" type="external" :link="`mailto:${email}`">
                                        {{ email }}
                                    </AButton>
                                </div>
                                <AButton design="link" type="button" :class="$style.req" @click="$modal.open(modalDetailsIndividual)">
                                    Посмотреть реквизиты компании для оплаты физическими лицами
                                </AButton>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="xl:mr-[-6rem] 2xl:mr-[-7rem]">
                <div class="container border-stroke xl:border xl:border-l-0 py-6 pb-12 xl:py-12">
                    <T design="h2" type="h2" class="!text-18 md:!text-[2rem] xl:!text-24 md:h-[4rem] py-6 xl:mb-[2rem]">
                        Для юридических лиц
                    </T>
                    <div class="relative h-full px-4">
                        <svg class="absolute top-0 bottom-0 left-3 pt-12 w-[.2rem] h-full">
                            <line
                                x2="1"
                                y2="2342"
                                stroke="#B9B9B9"
                                stroke-width="2"
                                stroke-dasharray="8 8"
                            />
                        </svg>
                        <div :class="$style.paymentCard">
                            <div :class="$style.mark" class="!bg-white">
                                <T>
                                    01
                                </T>
                            </div>
                            <div class="text-text-low flex flex-col ml-4">
                                <T design="h3" type="h3" class="!text-18 xl:!text-[2rem] 2xl:!text-[2.2rem]">
                                    Безналичный расчет
                                </T>
                                <T>
                                    Юридические лица могут оплатить заказ по безналичному расчету на основании выставленного счета.
                                </T>
                                <T>
                                    Получить счет на оплату Вы можете на странице оформления заказа, выбрав способ оплаты «Счет для физических лиц» или связавшись с нашими менеджерами по телефону
                                    <AButton design="link" :class="$style.phone" type="external" :link="`tel:${ cleanPhone }`">
                                        {{ phone }}
                                    </AButton>, либо по электронной почте
                                    <AButton design="link" :class="$style.phone" type="external" :link="`mailto:${email}`">
                                        {{ email }}
                                    </AButton>.
                                </T>
                                <T>
                                    Отгрузка товара осуществляется только после поступления 100% оплаты на банковский счет.
                                </T>
                                <T>Полный пакет документов (оригинал счета, товарная накладная, счет-фактура) выдается при получении товара.</T>
                            </div>
                        </div>
                        <div :class="$style.contact" class="bg-background">
                            <div>
                                <svg class="absolute top-0 bottom-0 right-[-.1rem] w-[.2rem] h-full">
                                    <line
                                        x2="1"
                                        y2="2342"
                                        stroke="#B9B9B9"
                                        stroke-width="2"
                                        stroke-dasharray="8 8"
                                    />
                                </svg>
                                <svg class="absolute top-[-.1rem] w-full h-[0.1rem]">
                                    <line
                                        x2="2323"
                                        y2="1"
                                        stroke="#B9B9B9"
                                        stroke-width="2"
                                        stroke-dasharray="8 8"
                                    />
                                </svg>
                                <svg class="absolute bottom-[-.1rem] w-full h-[0.1rem]">
                                    <line
                                        x2="2323"
                                        y2="1"
                                        stroke="#B9B9B9"
                                        stroke-width="2"
                                        stroke-dasharray="8 8"
                                    />
                                </svg>
                            </div>
                            <div :class="$style.grid">
                                <div :class="$style.block">
                                    <T>Телефон:</T>
                                    <AButton design="link" :class="$style.phone" type="external" :link="`tel:${ cleanPhone }`">
                                        {{ phone }}
                                    </AButton>
                                </div>
                                <div :class="$style.block">
                                    <T>E-mail:</T>
                                    <AButton design="link" :class="$style.phone" type="external" :link="`mailto:${email}`">
                                        {{ email }}
                                    </AButton>
                                </div>
                                <AButton design="link" type="button" :class="$style.req" @click="$modal.open(modalDetailsEntity)">
                                    Посмотреть реквизиты компании для оплаты юридическими лицами
                                </AButton>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <MModal :id="modalDetailsIndividual">
            <div class="bg-white grid gap-3 p-12 xl:p-16 rounded-xl">
                <T>Название фирмы: ИП Буянкина Ольга Дмитриевна</T>
                <T>Юридический адрес: 127549, г. Москва, ул. Бибиревская, д.2, корп.1</T>
                <T>Фактический адрес: 127549, г. Москва, ул. Бибиревская, д.2, корп.1</T>
                <T>ИНН: 132897743604</T>
                <T>ОГРНИП: 319132600022982</T>
            </div>
        </MModal>
        <MModal :id="modalDetailsEntity">
            <div class="bg-white grid gap-3 p-12 xl:p-16 rounded-xl">
                <T>Название фирмы: ООО "Приборы и учет"</T>
                <T>Юридический адрес: 127549, г. Москва, ул. Бибиревская, д.2, корп.1</T>
                <T>Фактический адрес: 127549, г. Москва, ул. Бибиревская, д.2, корп.1</T>
                <T>ИНН/КПП: 7722364056/771501001</T>
                <T>ОГРН: 319132600022982</T>
                <T>Расчетный счет: 40702810238000111247</T>
                <T>Банк: ПАО «Сбербанк России»</T>
                <T>К/счет: 30101810400000000225</T>
                <T>БИК: 044525225</T>
            </div>
        </MModal>
    </div>
</template>

<script>
import { mapGetters, mapState } from "vuex"
import { PAYMENT } from "@/lib/url/const"
import { getTitle, getDescription, getH1 } from "@/lib/seo"
import { getRandomId } from "@/lib/utilsDom"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    data()
    {
        return {
            h1  : getH1( PAYMENT ),
            meta: {
                title      : getTitle( PAYMENT ),
                description: getDescription( PAYMENT )
            },
            modalDetailsIndividual: getRandomId(),
            modalDetailsEntity    : getRandomId()
        }
    },

    computed:
    {
        ...mapState( [
            "addressMain"
        ] ),

        ...mapGetters( [
            "phone",
            "cleanPhone",
            "email"
        ] )
    }
}
</script>

<style lang="scss" module>
.PaymentPage {
    @apply xl:pb-20 2xl:pb-24;
}

.paymentCard{
    @apply flex py-2 md:pb-8;
    .phone{
      @apply inline-block leading-none;
    }
    span{
      @apply py-2 text-[1.5rem] md:text-16 xl:text-16 2xl:text-18 leading-tight;
    }
  .mark{
    @apply -rotate-90 w-max h-[fit-content] bg-background -ml-4 xl:-ml-5;
    span{
      @apply text-primary text-[2rem] xl:text-24 font-bold;
    }
  }
}

.contact{
   @apply relative mt-4;
  .grid{
    @apply p-8 md:p-10 xl:p-12 grid md:grid-cols-2 xl:grid-cols-1 2xl:grid-cols-2 gap-x-4;
  }
  .block{
    @apply flex flex-col justify-start;
    span{
      @apply leading-none text-12 md:text-14 xl:text-16;
    }
    a{
      @apply block text-18 text-primary pt-2 pb-3 xl:text-[2rem] 2xl:text-[2.2rem] xl:hover:text-secondary;
    }
  }
  .req {
    @apply block md:col-span-2 text-14 2xl:text-18 font-normal text-left xl:pt-6;
  }
}

</style>
