<template>
    <div :class="$style.PrivacyPage">
        <MBreadcrumbs :data="[ { title: h1 } ]" />

        <c>
            <t type="h1" design="h1-page">
                {{ h1 }}
            </t>

            <div :class="$style.content">
                <t type="p">
                    Настоящая Политика конфиденциальности персональной информации (далее — Политика конфиденциальности) действует в отношении всей информации, которую Интернет магазин «АкваХит» (далее — «АкваХит»), расположенный на доменном имени https://www.akvahit.ru, может получить о Пользователе во время использования Пользователем данного сайта.
                </t>

                <div>
                    <t type="h3">
                        1. Общие положения
                    </t>

                    <t type="p">
                        1.1. Использование Пользователем сайта «АкваХит» означает согласие Пользователя на предоставление персональной информации, данное им в соответствии с настоящей Политикой конфиденциальности и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями пользователь должен воздержаться от использования данного сайта «АкваХит».
                    </t>
                    <t type="p">
                        1.2. В рамках настоящей Политики под «персональной информацией пользователя» понимаются:
                    </t>
                    <t type="p">
                        1.2.1. Персональная информация, которую пользователь предоставляет о себе при заполнении форм обратной связи, включая персональные данные пользователя. Обязательная для предоставления Сервисов (оказания услуг) информация помечена специальным образом. Иная информация предоставляется пользователем на его усмотрение.
                    </t>
                    <t type="p">
                        1.2.2. Данные, которые автоматически передаются в процессе их использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), время доступа, адрес запрашиваемой страницы.
                    </t>
                    <t type="p">
                        1.3. Настоящая Политика применима только к сайту «АкваХит». Интернет-магазин не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте «Аква Хит».
                    </t>
                    <t type="p">
                        1.4. Администрация сайта «АкваХит» не проверяет достоверность персональной информации, предоставляемой пользователями, и не осуществляет контроль за их дееспособностью. Однако сайт «АкваХит» исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в форме регистрации, и поддерживает эту информацию в актуальном состоянии.
                    </t>
                    <t type="p">
                        1.5. Целью данной Политики конфиденциальности является обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну от несанкционированного доступа и разглашения.
                    </t>
                </div>

                <div>
                    <t type="h3">
                        2. Предмет политики конфиденциальности
                    </t>

                    <t type="p">
                        2.1. Предметом данной политики конфиденциальности являются персональные данные Пользователя, которые он сознательно и добровольно передает Администрации сайта «АкваХит».
                    </t>
                    <t type="p">
                        2.2. Информация, предоставляемая Пользователем на сайте «АкваХит»:
                    </t>

                    <ul>
                        <li>Фамилия, имя, отчество</li>
                        <li>Адрес электронной почты (e-mail)</li>
                        <li>Телефон</li>
                        <li>Адрес доставки товара</li>
                        <li>Для юридических лиц дополнительно: наименование организации и ИНН</li>
                    </ul>

                    <t type="p">
                        Также «АкваХит» собирает некоторую статистическую информацию, например:
                    </t>

                    <ul>
                        <li>IP-адрес пользователя</li>
                        <li>Дата, время и количество посещений</li>
                        <li>Адрес сайта, с которого пользователь осуществил переход на сайт Компании</li>
                        <li>Сведения о посещенных страницах, о просмотре рекламных баннеров</li>
                        <li>Информация, предоставляемая Вашим браузером (тип устройства, тип и версия браузера, операционная система и т.п.)</li>
                    </ul>

                    <t type="p">
                        2.3. При оплате заказов кредитной картой Администрация сайта «АкваХит» получает информацию, которая включает только уведомления о произведенном платеже, все персональные данные для оплаты Пользователь заполняет в защищенном режиме на стороне банков.
                    </t>
                    <t type="p">
                        2.4. Любая иная персональная информация, неоговоренная выше, подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п.4.3. и 4.4. настоящей Политики конфиденциальности.
                    </t>
                </div>

                <div>
                    <t type="h3">
                        3. Цели сбора и обработки персональной информации пользователей
                    </t>

                    <t type="p">
                        3.1. Сайт собирает и хранит только те персональные данные, которые необходимы для предоставления и оказания услуг (исполнения соглашений и договоров с пользователем).
                    </t>
                    <t type="p">
                        3.2. Персональную информацию пользователя «АкваХит» может использовать в следующих целях:
                    </t>
                    <t type="p">
                        3.2.1. Идентификация Пользователя в рамках соглашений и договоров с «АкваХит»; для оформления заказа и (или) заключения Договора купли-продажи товара дистанционным способом.
                    </t>
                    <t type="p">
                        3.2.2. Предоставление пользователю персонализированных услуг;
                    </t>
                    <t type="p">
                        3.2.3. Связь с пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования Сервисов, оказания услуг, а также обработка запросов и заявок от пользователя;
                    </t>
                    <t type="p">
                        3.2.4. Улучшение качества Сервисов, удобства их использования, разработка;
                    </t>
                    <t type="p">
                        3.2.5. Таргетирование рекламных материалов;
                    </t>
                    <t type="p">
                        3.2.6. Проведение статистических и иных исследований, на основе обезличенных данных.
                    </t>
                </div>

                <div>
                    <t type="h3">
                        4. Условия обработки персональной информации пользователя и её передачи третьим лицам
                    </t>

                    <t type="p">
                        4.1. Сайт «АкваХит» хранит персональную информацию пользователей в соответствии с внутренними регламентами конкретных сервисов.
                    </t>
                    <t type="p">
                        4.2. В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц. При использовании отдельных Сервисов пользователь соглашается с тем, что определённая часть его персональной информации становится общедоступной.
                    </t>
                    <t type="p">
                        4.3. Сайт «АкваХит» вправе передать персональную информацию пользователя третьим лицам в следующих случаях:
                    </t>
                    <t type="p">
                        4.3.1. Пользователь выразил свое согласие на такие действия;
                    </t>
                    <t type="p">
                        4.3.2. Передача необходима в рамках использования пользователем определенного Сервиса, либо для оказания услуги пользователю;
                    </t>
                    <t type="p">
                        4.3.3. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;
                    </t>
                    <t type="p">
                        4.3.4. Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации;
                    </t>
                    <t type="p">
                        4.3.5. В целях обеспечения возможности защиты прав и законных интересов сайта «АкваХит» или третьих лиц в случаях, когда пользователь нарушает Пользовательское соглашение сервисов сайта «АкваХит».
                    </t>
                    <t type="p">
                        4.4. При обработке персональных данных пользователей «АкваХит» руководствуется Федеральным законом РФ от 27.07.2006 N 152-ФЗ «О персональных данных».
                    </t>
                </div>

                <div>
                    <t type="h3">
                        5. Изменение пользователем персональной информации
                    </t>

                    <t type="p">
                        5.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть, а также параметры её конфиденциальности.
                    </t>
                </div>

                <div>
                    <t type="h3">
                        6. Меры, применяемые для защиты персональной информации пользователей
                    </t>

                    <t type="p">
                        6.1. Администрация сайта «АкваХит» принимает необходимые и достаточные организационные и технические меры для защиты персональной информации пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
                    </t>
                    <t type="p">
                        6.2. Все предложения, претензии, отзывы или вопросы по настоящей Политике Конфиденциальности следует сообщать на адрес электронной почты {{ email }}.
                    </t>
                </div>

                <div>
                    <t type="h3">
                        7. Изменение Политики конфиденциальности. Применимое законодательство.
                    </t>

                    <t type="p">
                        7.1. Администрация сайта «АкваХит» имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики.
                    </t>
                    <t type="p" class="!mb-0">
                        7.2. К настоящей Политике и отношениям между пользователем и сайта «АкваХит», возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.
                    </t>
                </div>
            </div>
        </c>
    </div>
</template>

<script>
import { mapGetters } from "vuex"
import { PRIVACY } from "@/lib/url/const"
import { getTitle, getDescription, getH1 } from "@/lib/seo"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    data()
    {
        return {
            h1  : getH1( PRIVACY ),
            meta: {
                title      : getTitle( PRIVACY ),
                description: getDescription( PRIVACY )
            }
        }
    },

    computed: {
        ...mapGetters( [
            "email"
        ] )
    }
}
</script>

<style lang="scss" module>
.PrivacyPage {
    @apply pb-16 xl:pb-20 2xl:pb-24;

    h3 {
        @apply mt-8 md:mt-10 xl:mt-12 2xl:mt-16 mb-5 md:mb-6 2xl:mb-8 text-text-main font-bold text-18 md:text-20 2xl:text-24 leading-tight tracking-wide;
    }

    p {
        @apply my-4 md:my-6 2xl:my-8  leading-tight tracking-wide;
    }

    li {
        @apply flex;

        &:before {
            @apply w-[4px] h-[4px] bg-primary mr-4 mt-4 flex-shrink-0;
            content: "";
        }
    }
}

.content {
    @apply text-15 md:text-16 2xl:text-18;
}
</style>
