<template>
    <div :class="$style.PrivacyPage">
        <MBreadcrumbs :data="[ { title: h1 } ]" />

        <c>
            <t type="h1" design="h1-page">
                {{ h1 }}
            </t>

            <div :class="$style.content">
                <t type="p">
                    Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между ООО "Приборы и учет" (далее АкваХит) с одной стороны и пользователем сайта с другой.
                </t>
                <t type="p">
                    Используя сайт, Вы соглашаетесь с условиями данного соглашения.
                </t>

                <div>
                    <t type="h3">
                        1. Общие условия
                    </t>

                    <t type="p">
                        1.1. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.
                    </t>
                    <t type="p">
                        1.2. Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.
                    </t>
                    <t type="p">
                        1.3. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.
                    </t>
                </div>

                <div>
                    <t type="h3">
                        2. Права и обязательства пользователя
                    </t>

                    <t type="p">
                        2.1. Пользователь имеет право:
                    </t>

                    <ul>
                        <li>осуществлять поиск информации на сайте</li>
                        <li>получать информацию на сайте</li>
                        <li>копировать информацию на другие сайты с разрешения Администрации сайта</li>
                        <li>использовать информацию сайта в личных некоммерческих целях</li>
                    </ul>

                    <t type="p">
                        2.2. Пользователь обязуется:
                    </t>

                    <ul>
                        <li>не нарушать работоспособность сайта</li>
                        <li>не регистрировать учетную запись от имени или вместо другого лица за исключением случаев, предусмотренных законодательством РФ</li>
                        <li>не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами</li>
                    </ul>
                </div>

                <div>
                    <t type="h3">
                        3. Ответственность сторон
                    </t>

                    <t type="p">
                        3.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.
                    </t>
                    <t type="p">
                        3.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.
                    </t>
                    <t type="p">
                        3.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.
                    </t>
                    <t type="p">
                        3.4. Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.
                    </t>
                    <t type="p" class="!mb-0">
                        Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.
                    </t>
                </div>
            </div>
        </c>
    </div>
</template>

<script>
import { mapGetters } from "vuex"
import { AGREEMENT } from "@/lib/url/const"
import { getTitle, getDescription, getH1 } from "@/lib/seo"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    data()
    {
        return {
            h1  : getH1( AGREEMENT ),
            meta: {
                title      : getTitle( AGREEMENT ),
                description: getDescription( AGREEMENT )
            }
        }
    },

    computed: {
        ...mapGetters( [
            "email"
        ] )
    }
}
</script>

<style lang="scss" module>
.PrivacyPage {
    @apply pb-16 xl:pb-20 2xl:pb-24;

    h3 {
        @apply mt-8 md:mt-10 xl:mt-12 2xl:mt-16 mb-5 md:mb-6 2xl:mb-8 text-text-main font-bold text-18 md:text-20 2xl:text-24 leading-tight tracking-wide;
    }

    p {
        @apply my-4 md:my-6 2xl:my-8  leading-tight tracking-wide;
    }

    li {
        @apply flex;

        &:before {
            @apply w-[4px] h-[4px] bg-primary mr-4 mt-4 2xl:mt-5 flex-shrink-0;
            content: "";
        }
    }
}

.content {
    @apply text-15 md:text-16 2xl:text-18;
}
</style>
