<template>
    <div :class="$style.ProductMap">
        <MBreadcrumbs :data="[{title: h1}]" />

        <c class="relative">
            <t type="h1" design="h1-page">
                {{ h1 }}
            </t>

            <div class="mt-10 flex flex-col-reverse md:flex-row md:justify-between md:mt-5">
                <div class="md:pr-16 xl:pr-20">
                    <div
                        v-for="(item, key) in Object.entries(groupProducts)"
                        :key="`list-${key}`"
                        class="mb-12 md:mb-14 xl:mb-14 2xl:mb-16 last:mb-0"
                    >
                        <!--                        <div :ref="alphabet[item.code]" />-->
                        <div>
                            <t type="h4" class="text-18 text-text-main md:text-[20px] 2xl:text-[24px] leading-tight font-bold mb-8">
                                {{ item[0] }}
                            </t>
                        </div>

                        <AButton
                            v-for="(product, i) in item[1]"
                            :key="`products-${i}`"
                            :class="$style.item"
                            design="custom"
                            :link="productLink( { fslug: product.fslug, city: regionSlug } )"
                        >
                            {{ product.title }}
                        </AButton>
                    </div>
                </div>

                <AScrollbox resizable :class="$style.scroll">
                    <div :class="$style.shadow">
                        <AButton
                            v-for="(litera, i) in alphabet"
                            :key="`alphabet-${i}`"
                            class="border-r md:border-r-0 md:border-b border-border !rounded-none !leading-none !h-[3rem] md:min-h-[3rem] 2xl:!h-20 !min-w-[3.2rem] font-bold text-text-main last:border-none 2xl:text-[18px] transition-colors duration-300 xl:hover:text-red-500"
                            type="button"
                            design="custom"
                            @click="onChange(litera.abc)"
                        >
                            {{ litera.abc }}
                        </AButton>
                    </div>
                </AScrollbox>
            </div>

            <APagination
                v-if="pages > 1"
                :page="page"
                :pages="pages"
                :link="$route.path"
                :serializer="paginationToUrl"
                class="mt-10 xl:mt-12"
            />
        </c>
    </div>
</template>

<script>
import qs from "qs"
import { mapGetters } from "vuex"

import { PRODUCTS_MAP, PRODUCT } from "@/lib/url/const"
import { getH1, getTitle, getDescription } from "@/lib/seo"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { query, $api } )
    {
        const limit = 60
        const page = parseInt( query.page ) || 1
        const abc = query.abc || null

        const alphabet = await $api.products.abc()
        const productsRes = await $api.products.map( {
            abc,
            page
        } )

        const pages = Math.ceil( productsRes.count / limit )

        return {
            alphabet,
            products: productsRes.results,
            abc,
            page,
            pages,
            limit
        }
    },

    data()
    {
        return {
            h1      : getH1( PRODUCTS_MAP ),
            alphabet: [],
            products: [],

            limit: 60,
            page : 1,
            pages: 0,
            abc  : null,

            meta: {
                title      : getTitle( PRODUCTS_MAP ),
                description: getDescription( PRODUCTS_MAP )
            }
        }
    },

    computed: {
        ...mapGetters( "regions", [
            "regionSlug"
        ] ),

        groupProducts()
        {
            const res = {}

            for ( const item of this.products )
            {
                if ( !res[ item.abc ] )
                {
                    res[ item.abc ] = []
                }

                res[ item.abc ].push( item )
            }

            return res
        }
    },

    watch: {
        "$route.query.page": {
            handler( e )
            {
                if ( process.client )
                {
                    window.scrollTo( 0, 0 )
                }

                this.page = parseInt( e ) || 1
                this.updateProducts()
            }
        }
    },

    methods: {
        productLink( o )
        {
            return this.$getUrl( PRODUCT, o )
        },

        onChange( abc )
        {
            this.page = 1
            this.abc = abc
            this.updateUrl()
            this.updateProducts()
        },

        paginationToUrl( o )
        {
            return `${o.url}?${this.genQuery( o.page )}`
        },

        genQuery( page )
        {
            const data = {
                abc: this.abc || null,
                page
            }

            return qs.stringify( data, { arrayFormat: "comma", encode: false, skipNulls: true } )
        },

        async updateProducts()
        {
            try
            {
                const res = await this.$api.products.map( {
                    abc : this.abc || null,
                    page: this.page || null
                } )

                this.pages = Math.ceil( res.count / this.limit )
                this.products = res.results
            }
            catch ( e )
            {
                console.warn( "updateProducts: ", e )
            }
        },

        updateUrl()
        {
            const query = {
                abc : this.abc,
                page: this.page
            }

            if ( query.page === 1 )
            {
                delete query.page
            }

            this.$router.replace( {
                query
            } )
        }
    }
}
</script>
<style lang="scss" module>
.ProductMap {
    @apply pb-16 md:pb-20 2xl:pb-24;
}

.scroll {
    @apply border border-stroke relative mb-8 flex-shrink-0;
    height: 4rem;
    overflow: visible !important;

    @screen md {
        width: 4.5rem;
        height: auto;
        position: sticky;
        top: 10vh;
        z-index: 19;
        max-height: 80vh;
        margin-bottom: 0;
    }

    @screen 2xl {
        width: 6rem;
    }

    :global(.scrollbar._vertical) {
        width: 2px !important;
        right: -1px !important;
    }
}

.shadow {
    @apply flex md:flex-col bg-white p-2;
    overflow-x: scroll;
}

.item {
    @apply 2xl:w-max font-circe mb-6 last:mb-0 h-auto text-14 md:text-16 2xl:text-18 leading-tight flex transition-colors duration-300 xl:hover:text-red-500 #{ !important };

    &:before {
        content: "";
        @apply w-[4px] h-[4px] bg-primary mt-[5px] md:mt-[8px] flex-shrink-0 mr-3 md:mr-4 #{!important};
    }
}
</style>
