<template>
    <div :class="$style.REFUND">
        <MBreadcrumbs :data="[ { title: h1 } ]" />
        <div class="container">
            <T type="h1" design="h1-page">
                Возврат товара
            </T>
        </div>
        <div class="grid xl:grid-cols-2 xl:container overflow-y-hidden">
            <section class="bg-background border-t border-b border-stroke xl:border-t-0 xl:border-b-0 xl:ml-[-6rem] 2xl:ml-[-7rem]">
                <div class="container border-stroke xl:border py-6 md:py-[2.5rem] pb-12 xl:py-12">
                    <T type="h2" class="font-gotham font-medium text-text-main leading-tight 2xl:leading-none text-18 md:text-[2rem] 2xl:!text-[2.4rem] mb-6 md:mb-8 2xl:mb-12">
                        Для физических лиц
                    </T>
                    <T>Возврат и обмен товара осуществляется в соответствии с Законом о Защите Прав Потребителей Российской Федерации и возможен в случае брака, либо несоответствия товара заказу</T>
                    <T design="h3" type="h3">
                        Возврат товара возможен если:
                    </t>
                    <AList type="ol" design="big-nums">
                        <ListItem>Прошло не более 14 дней с момента совершения покупки</ListItem>
                        <ListItem>Отсутствуют признаки использования, сохранены внешние данные товара, пломбы, ярлыки, паспорт, техническая документация</ListItem>
                        <ListItem>Наличие чека или иного документа подтверждающего оплату.</ListItem>
                    </AList>
                    <T design="h3" type="h3">
                        Для осуществления возврата покупатель обязан:
                    </t>
                    <AList type="ol" design="big-nums">
                        <ListItem>Заполнить форму возврата товара указав все поля по ссылке оформить возврат товара</ListItem>
                        <ListItem>Написать заявление в свободной форме, указав причину возврата и отправить подписанное заявление на почту {{ email }}.</ListItem>
                        <ListItem>Доставить товар обратно на склад Продавца по адресу {{ address }} Доставка осуществляется за счет Покупателя.</ListItem>
                        <ListItem>Продавец может настоять на проведении технической экспертизы товара, если претензии Покупателя кажутся ему необоснованными.</ListItem>
                        <ListItem>Возврат денежных средств осуществляется в течении 3 рабочих дней в случае, если выполнены пункты 1-3.</ListItem>
                    </AList>
                    <T design="h3" type="h3" class="!leading-snug">
                        Если обмен товара невозможен из-за отсутствия аналогичного товара, возможны два варианта:
                    </t>
                    <AList type="ol" design="big-nums">
                        <ListItem>Обменять позднее, когда появится аналог;</ListItem>
                        <ListItem>Забрать деньги наличным или безналичным способом.</ListItem>
                    </AList>
                </div>
            </section>

            <section class="xl:mr-[-6rem] 2xl:mr-[-7rem]">
                <div class="container border-stroke xl:border xl:border-l-0 py-6 md:py-[2.5rem] pb-12 xl:py-12">
                    <T type="h2" class="font-gotham font-medium text-text-main leading-tight 2xl:leading-none text-18 md:text-[2rem] 2xl:!text-[2.4rem] mb-6 md:mb-8 2xl:mb-12">
                        Для юридических лиц
                    </T>
                    <T>Условия возврата товара от юридических лиц осуществляется в соответствии с типовым договором Поставки.</T>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex"
import { REFUND } from "@/lib/url/const"
import { getTitle, getDescription, getH1 } from "@/lib/seo"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    data()
    {
        return {
            h1  : getH1( REFUND ),
            meta: {
                title      : getTitle( REFUND ),
                description: getDescription( REFUND )
            }
        }
    },

    computed:
    {
        ...mapGetters( [
            "address",
            "email"
        ] )
    }
}
</script>

<style lang="scss" module>
.REFUND{
  @apply text-text-low text-[1.5rem] md:text-16 xl:text-18 leading-snug;
  h1{
    @apply text-24 xl:text-[3.4rem] #{!important};
  }
  h3{
    @apply text-18 md:text-[2rem] xl:text-[2rem] 2xl:text-[2.2rem] mt-8 mb-4 #{!important};
  }
        span{
        @apply leading-snug;
      }

}
</style>
