<template>
    <div :class="$style.FormServiceDesigning">
        <BaseForm
            @submit="submit"
            @error="error"
        >
            <div>
                <div class="grid md:grid-cols-4 xl:grid-cols-3 gap-12">
                    <AInput
                        v-input:name
                        :value="name"
                        :class="$style.input"
                        design="landing-secondary"
                        placeholder="Ваше имя"
                        required
                        :error="errors.name"
                        @change="onChange($event, 'name')"
                    />

                    <AInput
                        v-input:phone
                        :value="phone"
                        :class="$style.input"
                        design="landing-secondary"
                        placeholder="Номер телефона"
                        required
                        :error="errors.phone"
                        @change="onChange($event, 'phone')"
                    />

                    <AButton
                        type="button"
                        design="red-shadow"
                        :class="$style.button"
                        class="!font-condensed h-24 w-full text-22 md:text-20 md:w-[32rem] xl:w-auto"
                    >
                        {{ buttonText }}
                    </AButton>
                </div>
            </div>
        </BaseForm>

        <MModal
            :id="modalId"
            padding="0"
        >
            <MFormResult
                :result="result"
                class="p-10 md:p-12 2xl:p-16 min-w-[30rem]"
            />
        </MModal>
    </div>
</template>

<script>
import { formMixin } from "@/lib/mixins/forms"

export default {
    mixins: [ formMixin ],

    props: {
        code: {
            type    : String,
            required: true
        },

        buttonText: {
            type   : String,
            default: "Заказать звонок"
        }
    },

    data()
    {
        return {
            name : null,
            phone: null,

            errors: {
                name : "",
                phone: ""
            }
        }
    },

    methods:
    {
        cleanValues()
        {
            this.name = null
            this.phone = null
        }
    }
}
</script>

<style lang="scss" module>
.FormServiceDesigning {
    //
}

.input {
    @apply w-full md:col-span-2 xl:col-span-1;

    input {
        @apply md:h-20 #{ !important };
    }
}

.button {
    @screen md {
        height: 5rem;
        grid-column: 2 / span 2;
    }

    @screen xl {
        @apply col-span-1;
    }
}
</style>
