<template>
    <div :class="$style.FormServiceDesigning">
        <BaseForm
            @submit="submit"
            @error="error"
        >
            <div>
                <div class="grid gap-6">
                    <AInput
                        v-input:name
                        :value="name"
                        :class="$style.input"
                        design="landing"
                        placeholder="Ваше имя"
                        required
                        :error="errors.name"
                        @change="onChange($event, 'name')"
                    />

                    <AInput
                        v-input:phone
                        :value="phone"
                        :class="$style.input"
                        design="landing"
                        placeholder="Номер телефона"
                        required
                        :error="errors.phone"
                        @change="onChange($event, 'phone')"
                    />

                    <AButton
                        type="button"
                        design="red-landing"
                        :class="$style.button"
                        class="h-20 xl:h-24"
                    >
                        {{ buttonText }}
                    </AButton>
                </div>

                <t class="block text-center mt-8 font-roboto text-10 md:text-13 text-landing-gray-500">
                    Нажимая на кнопку "Заказать" Вы подтверждаете, что ознакомились с
                    <AButton
                        type="internal"
                        :link="conditionsUrl"
                        target="_blank"
                        design="custom"
                        class="!inline !font-roboto !font-normal underline text-secondary xl:hover:!text-red-500 transition-colors duration-300"
                    >
                        пользовательским соглашением
                    </AButton>
                    и
                    <AButton
                        type="internal"
                        :link="policyUrl"
                        target="_blank"
                        design="custom"
                        class="!inline !font-roboto !font-normal underline text-secondary xl:hover:!text-red-500 transition-colors duration-300"
                    >
                        политикой конфиденциальности
                    </AButton>
                    и даете согласие на обработку персональных данных
                </t>
            </div>
        </BaseForm>

        <MModal
            :id="modalId"
            padding="0"
        >
            <MFormResult
                :result="result"
                class="p-10 md:p-12 2xl:p-16 min-w-[30rem]"
            />
        </MModal>
    </div>
</template>

<script>
import { formMixin } from "@/lib/mixins/forms"

export default {
    mixins: [ formMixin ],

    props: {
        code: {
            type    : String,
            required: true
        },

        buttonText: {
            type   : String,
            default: "Заказать звонок"
        }
    },

    data()
    {
        return {
            name : null,
            phone: null,

            errors: {
                name : "",
                phone: ""
            }
        }
    },

    methods:
    {
        cleanValues()
        {
            this.name = null
            this.phone = null
        }
    }
}
</script>

<style lang="scss" module>
.FormServiceDesigning {
    //
}

.input {
    @apply w-full;
}

.button {
    @apply text-16 md:text-18 xl:text-20 #{ !important };
}
</style>
