<template>
    <div :class="$style.FormServiceDesigning">
        <BaseForm
            @submit="submit"
            @error="error"
        >
            <div>
                <div :class="$style.wrap">
                    <AInput
                        v-input:email
                        :value="email"
                        :class="$style.input"
                        design="landing"
                        placeholder="Введите свой email"
                        required
                        :error="errors.email"
                        @change="onChange($event, 'email')"
                    />

                    <AButton
                        type="button"
                        design="red-landing"
                        :class="$style.button"
                        class="h-20"
                    >
                        Подписаться
                    </AButton>
                </div>

                <t class="block text-center mt-8 md:mt-0 font-roboto text-10 md:text-13 text-landing-gray-500 md:hidden">
                    Нажимая на кнопку "Заказать" Вы подтверждаете, что ознакомились с
                    <AButton
                        type="internal"
                        :link="conditionsUrl"
                        target="_blank"
                        design="custom"
                        class="!inline !font-roboto !font-normal underline text-secondary xl:hover:!text-red-500 transition-colors duration-300"
                    >
                        пользовательским соглашением
                    </AButton>
                    и
                    <AButton
                        type="internal"
                        :link="policyUrl"
                        target="_blank"
                        design="custom"
                        class="!inline !font-roboto !font-normal underline text-secondary xl:hover:!text-red-500 transition-colors duration-300"
                    >
                        политикой конфиденциальности
                    </AButton>
                    и даете согласие на обработку персональных данных
                </t>
            </div>
        </BaseForm>

        <MModal
            :id="modalId"
            padding="0"
        >
            <MFormResult
                :result="result"
                success-text="Подписка на акции оформлена"
                class="p-10 md:p-12 2xl:p-16 min-w-[30rem]"
            />
        </MModal>
    </div>
</template>

<script>
import { formMixin } from "@/lib/mixins/forms"

export default {
    mixins: [ formMixin ],

    data()
    {
        return {
            code : "FormSubscribe",
            email: null,

            errors: {
                email: ""
            }
        }
    },

    methods:
    {
        cleanValues()
        {
            this.email = null
        }
    }
}
</script>

<style lang="scss" module>
.FormServiceDesigning {
    //
}

.input {
    @apply w-full;

    input {
        @apply xl:h-20 border-white #{ !important };
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right: 0 !important;
    }
}

.button {
    @apply flex-shrink-0 xl:text-18 md:w-[13rem] xl:w-[18rem] #{ !important };
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.wrap {
    @apply flex rounded-full md:w-[34rem] xl:w-[50rem];
    box-shadow: 0 10px 15px rgba(0, 0, 0, .15);
}
</style>
