<template>
    <div :class="$style.RegionPage">
        <MBreadcrumbs :data="breadcrumbs" />

        <c>
            <t type="h1" design="h1-page">
                {{ h1 }}
            </t>

            <div v-if="categories && categories.length" class="pt-2">
                <MCatalogMap
                    :data="categories"
                    :region="region"
                    class="!gap-12 xl:!gap-16"
                />
            </div>
        </c>
    </div>
</template>

<script>
import { mapGetters } from "vuex"
import { getDescription, getTitle, getH1 } from "@/lib/seo"
import { redirectRegion } from "@/lib/regions"
import { REGION } from "@/lib/url/const"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { $api, route, params, error, store, redirect } )
    {
        const regionsRes = await $api.regions.primary( { slug: params.region } )
        const region = regionsRes[ 0 ]

        if ( region && !region.isDefault )
        {
            redirectRegion( REGION, {
                region     : store.state.regions.region,
                urlCitySlug: region.slug,
                route,
                redirect
            } )

            const categories = await $api.categories.tree( { type: "default", levels: [ 0 ] } )

            return {
                categories: categories.results,
                region,
                regionId  : region.id
            }
        }
        else
        {
            return error( { statusCode: 404 } )
        }
    },

    data()
    {
        return {
            categories: [],

            meta: {
                title      : getTitle( REGION, { city: this.regionPre } ),
                description: getDescription( REGION, { city: this.regionPre } )
            }
        }
    },

    computed: {
        ...mapGetters( "regions", [
            "regionPre"
        ] ),

        breadcrumbs()
        {
            return [
                {
                    title: "Регионы",
                    link : "/regions/"
                },
                {
                    title: `Категории товаров ${ this.regionPre }`
                }
            ]
        },

        h1()
        {
            return getH1( REGION, { city: this.regionPre } )
        }
    }
}
</script>

<style lang="scss" module>
.RegionPage {
    @apply pb-16 xl:pb-20 2xl:pb-24;
}
</style>
