<template>
    <div class="pb-16 md:pb-20 2xl:pb-24">
        <MBreadcrumbs :data="[ { title: 'Регионы' } ]" />
        <c>
            <t type="h1" design="h1-page">
                {{ h1 }}
            </t>

            <div>
                <div class="flex md:hidden mt-10 -mx-4">
                    <div
                        v-for="(col, i) in 2"
                        :key="`regions-cols-${i}`"
                        :class="$style.block"
                    >
                        <AButton
                            v-for="(item, ii) in regions.slice(i * partTwo, col * partTwo)"
                            :key="`regions-list-${ii}`"
                            design="custom"
                            :class="$style.city"
                            :link="link(item.slug)"
                            @click.prevent="onRegionClick(item)"
                        >
                            {{ item.title }}
                        </AButton>
                    </div>
                </div>

                <div class="hidden md:flex mt-12 -mx-4">
                    <div
                        v-for="(col, i) in 3"
                        :key="`regions-cols-${i}`"
                        :class="$style.block"
                    >
                        <AButton
                            v-for="(item, ii) in regions.slice(i * partThree, col * partThree)"
                            :key="`regions-list-${ii}`"
                            design="custom"
                            :class="$style.city"
                            :link="link(item.slug)"
                            @click.prevent="onRegionClick(item)"
                        >
                            {{ item.title }}
                        </AButton>
                    </div>
                </div>
            </div>
        </c>
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex"
import { REGIONS, REGION } from "@/lib/url/const"
import { getH1, getTitle, getDescription } from "@/lib/seo"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    data()
    {
        return {
            h1  : getH1( REGIONS ),
            meta: {
                title      : getTitle( REGIONS ),
                description: getDescription( REGIONS )
            }
        }
    },

    computed: {
        ...mapState( "regions", [
            "primary"
        ] ),

        regions()
        {
            return this.primary.filter( e => !e.isDefault )
        },

        middleIndex()
        {
            return Math.ceil( this.regions?.length / 2 )
        },

        partTwo() // For mobile only.
        {
            return Math.ceil( this.regions.length / 2 )
        },

        partThree() // For desktop.
        {
            return Math.ceil( this.regions.length / 3 )
        },

        firstHalf()
        {
            return this.regions.slice( 0, this.middleIndex )
        },

        secondHalf()
        {
            return this.regions.slice( this.middleIndex, this.regions.length )
        }
    },

    methods: {
        ...mapActions( "regions", [
            "setRegion"
        ] ),

        link( fslug )
        {
            return this.$getUrl( REGION, { fslug } )
        },

        async onRegionClick( item )
        {
            await this.setRegion( item )
            this.$router.push( this.link( item.slug ) )
        }
    }
}
</script>

<style lang="scss" module>
.Regions {
    //
}

.block {
    @apply w-1/2 px-4 md:w-1/3;
}

.city {
    @apply font-circe block text-text-main text-[15px] xl:text-[18px] 2xl:text-[20px] leading-none mb-6 2xl:mb-8 last:mb-0 cursor-pointer transition-colors duration-300 hover:text-red-500 #{ !important };
}
</style>
