<template>
    <div :class="$style.Search">
        <AInput
            :value="value"
            placeholder="Город"
            design="search"
            @change="value = $event"
        />

        <div
            v-if="results && results.length"
            :class="$style.result"
        >
            <div
                v-for="(item, i) in results"
                :key="`search-results-${i}`"
                :class="$style.city"
                @click="onChange(item)"
            >
                {{ item.fullTitle }}
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from "vuex"

export default {
    data()
    {
        return {
            value  : "",
            results: []
        }
    },

    watch: {
        async value()
        {
            this.results = await this.$api.regions.search( { q: this.value } )
        }
    },

    methods: {
        ...mapActions( "regions", [
            "setRegion"
        ] ),

        async onChange( item )
        {
            await this.setRegion( item )
            this.$emit( "change" )
        }
    }
}
</script>

<style lang="scss" module>
.Search {
    position: relative;
}

.result {
    @apply absolute w-full bg-white overflow-hidden;
    top: calc(100% + 6px);
    box-shadow: 0 0 20px rgba(182, 182, 182, 0.25);
}

.city {
    @apply text-[16px] text-text-low relative leading-tight flex items-center py-4 px-6 transition-colors duration-300 xl:hover:bg-background cursor-pointer;
}
</style>
