<template>
    <div :class="$style.Card">
        <MCompareCardHead
            class="xl:!hidden"
            :data="data"
            @remove="remove"
        />

        <div>
            <div
                :class="$style.prop"
                class="flex items-center line-top"
            >
                <t :class="$style.price">
                    {{ formattedPrice(data.props.price) }}
                </t>

                <t
                    v-if="data.props.basePrice && data.props.discount"
                    :class="$style.oldPrice"
                >
                    {{ formattedPrice(data.props.basePrice) }}
                </t>
            </div>

            <div :class="$style.prop" class="line-top">
                <AButton
                    v-if="data.props.brand"
                    design="link"
                    :link="brandLink"
                    class="!font-circe !font-bold"
                >
                    {{ data.props.brand }}
                </AButton>
                <t v-else>
                    У товара нет производителя
                </t>
            </div>

            <div :class="$style.prop" class="line-top">
                {{ data.props.sku || "У товара нет Артикула" }}
            </div>

            <div
                v-for="(prop, i) in Object.entries(data.props.list).filter(i => tab.props[i[0]].values.size > 1 || !isUniqueProps)"
                :key="`props-value-${i}`"
                :class="$style.prop"
                class="line-top"
            >
                <t :class="$style.propText">
                    {{ prop[1] }}
                </t>
            </div>
        </div>
    </div>
</template>

<script>
import { getPrice } from "@/lib/utils"
import { BRAND } from "@/lib/url/const"

export default {
    props: {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        tab: {
            type   : Object,
            default: () => ( {} )
        },

        isUniqueProps: Boolean
    },

    computed: {
        brandLink()
        {
            return this.$getUrl( BRAND, { fslug: this.data.props.brandSlug } )
        }
    },

    methods: {
        formattedPrice( val )
        {
            return getPrice( val )
        },

        remove()
        {
            this.$emit( "remove", this.data.body.product )
        }
    }
}
</script>

<style lang="scss" module>
.Card {
    @apply border-r border-stroke last:border-r-0;
}

.prop {
    @apply text-text-main leading-none text-12 flex items-center h-16 xl:h-20 px-4
           md:text-15 md:px-6
           xl:px-8 xl:text-16 2xl:text-18;
}

.propText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bottom {
    @apply px-4 md:px-8 2xl:px-12;
    position: absolute;
    width: 100%;
    top: 100%;
    text-align: center;
}

.price {
    @apply block text-black leading-none text-18 md:text-22 xl:text-26 tracking-wide font-extrabold;
}

.oldPrice {
    @apply block ml-3 md:ml-4 text-10 md:text-14 xl:text-18 leading-none tracking-wide text-gray-400 line-through;
}

.propText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
</style>
