<template>
    <div :class="$style.CheckoutPage">
        <MBreadcrumbs :data="breadcrumbs" />

        <c>
            <ATitleCount
                :h1="h1"
                :count="totalQuantity"
            />

            <BaseForm
                class="xl:flex items-start"
                @submit="submit"
                @error="error"
            >
                <div>
                    <div :class="$style.wrap" class="line-top before:z-10 xl:before:hidden">
                        <div
                            v-for="(item, i) in products"
                            :key="`products-cart-${i}`"
                            :class="$style.card"
                        >
                            <MProductCard
                                :data="item"
                                design="cart"
                                @remove="remove"
                            />
                        </div>
                    </div>

                    <div ref="form" :class="$style.block" class="line-bottom xl:after:hidden">
                        <t type="h3" :class="$style.cartTitle">
                            1. Контактная информация
                        </t>

                        <div class="md:flex flex-wrap justify-between">
                            <AInput
                                v-input:firstName
                                :value="firstName"
                                :class="$style.input"
                                placeholder="Имя"
                                required
                                :error="errors.firstName"
                                @change="onInputChange($event, 'firstName')"
                                @blur="onBlur( 'firstName' )"
                            />

                            <AInput
                                v-input:lastName
                                :value="lastName"
                                :class="$style.input"
                                placeholder="Фамилия"
                                required
                                :error="errors.lastName"
                                @change="onInputChange($event, 'lastName')"
                                @blur="onBlur( 'lastName' )"
                            />

                            <AInput
                                v-input:phone
                                :value="phone"
                                :class="$style.input"
                                placeholder="Телефон"
                                required
                                :error="errors.phone"
                                @change="onInputChange($event, 'phone')"
                                @blur="onBlur( 'phone' )"
                            />

                            <AInput
                                v-input:email
                                :value="email"
                                :class="$style.input"
                                placeholder="E-mail"
                                required
                                :error="errors.email"
                                @change="onInputChange($event, 'email')"
                                @blur="onBlur( 'email' )"
                            />

                            <AInput
                                v-input:comment
                                :value="comment"
                                type="textarea"
                                placeholder="Комментарий к заказу"
                                :class="$style.textarea"
                                @change="onInputChange($event, 'comment')"
                                @blur="onBlur( 'comment' )"
                            />
                        </div>
                    </div>

                    <div :class="$style.block" class="line-bottom xl:after:hidden">
                        <t type="h3" :class="$style.cartTitle">
                            2. Способ получения
                        </t>

                        <div class="md:flex flex-wrap">
                            <div :class="$style.radio">
                                <ARadioButton
                                    data="pickup"
                                    :value="deliveryChosen"
                                    :class="$style.delivery"
                                    @change="changeDelivery('pickup')"
                                >
                                    <div :class="$style.deliveryWrap">
                                        <t type="h4" :class="$style.deliveryTitle">
                                            Самовывоз со склада
                                        </t>

                                        <t :class="$style.deliveryText">
                                            Москва, ул. Биберевская 2к1
                                        </t>
                                    </div>
                                </ARadioButton>
                            </div>

                            <div :class="$style.radio">
                                <ARadioButton
                                    data="delivery"
                                    :value="deliveryChosen"
                                    :class="$style.delivery"
                                    @change="changeDelivery('delivery')"
                                >
                                    <div :class="$style.deliveryWrap">
                                        <t type="h4" :class="$style.deliveryTitle">
                                            Доставка курьером
                                        </t>
                                    </div>
                                </ARadioButton>
                            </div>

                            <div :class="$style.radio">
                                <ARadioButton
                                    data="pvz"
                                    :value="deliveryChosen"
                                    :class="$style.delivery"
                                    @change="changeDelivery('pvz')"
                                >
                                    <div :class="$style.deliveryWrap">
                                        <t type="h4" :class="$style.deliveryTitle">
                                            Доставка в пункт выдачи
                                        </t>
                                    </div>
                                </ARadioButton>
                            </div>
                        </div>

                        <div v-if="deliveryChosen === 'pvz'" class="mt-10 2xl:mt-12">
                            <div class="mt-10 2xl:mt-12">
                                <t :class="$style.blockTitle">
                                    Выберете службу доставки:
                                </t>

                                <div class="grid gap-4 md:gap-6 2xl:gap-8 grid-cols-2 xl:grid-cols-4">
                                    <div
                                        v-for="(provider, providerKey, i) in PROVIDERS"
                                        :key="`provider-${i}`"
                                        :class="$style.radioDelivery"
                                        class="flex items-center !border border-stroke"
                                    >
                                        <ARadioButton
                                            :data="providerKey"
                                            :value="chosenProvider"
                                            :class="$style.tariff"
                                            class="!items-center w-full h-24 md:h-[77px] 2xl:h-32"
                                            @change="chooseProvider"
                                        >
                                            <BaseImage
                                                v-if="providerKey === 'cdek'"
                                                src="~/assets/images/logos/CDEK"
                                                class="w-full h-full object-contain pr-4 2xl:pr-8"
                                                :ext="['png']"
                                            />
                                            <BaseImage
                                                v-if="providerKey === 'boxberry'"
                                                src="~/assets/images/logos/boxberry"
                                                class="w-full h-full object-contain pr-4 2xl:pr-8"
                                                :ext="['png']"
                                            />
                                        </ARadioButton>
                                    </div>
                                </div>
                            </div>

                            <template v-if="chosenProvider && coords">
                                <t :class="$style.blockTitle" class="mt-10 2xl:mt-12">
                                    Выберите пункт выдачи заказа:
                                </t>

                                <div class="my-6 md:my-10 2xl:mb-12 xl:w-1/2 xl:pr-3 2xl:pr-4">
                                    <t class="block text-14 2xl:text-16 leading-none mb-4">
                                        Искать в:
                                    </t>

                                    <AInputSearch
                                        v-input:pickupPointCity
                                        :value="pickupPointCity"
                                        :options="pickupPointCityOptions"
                                        placeholder="Населенный пункт"
                                        @change="updatePickupPointCity"
                                        @select="selectPickupPointCity"
                                    />
                                </div>

                                <div ref="mapWrap" class="relative">
                                    <yandex-map
                                        ref="map"
                                        :coords="coords"
                                        :zoom="11"
                                        :controls="['geolocationControl', 'zoomControl']"
                                        :class="$style.map"
                                        @actionend="updatePoints"
                                    >
                                        <ymap-marker
                                            v-for="(item, i) in points"
                                            :key="`points-${i}`"
                                            :marker-id="item.id"
                                            :options="{ iconColor: '#025273' }"
                                            :coords="[item.lat, item.lng]"
                                            @balloonopen="bindListener( item )"
                                            @balloonclose="unbindListener"
                                        >
                                            <MPoint
                                                slot="balloon"
                                                :data="item"
                                            />
                                        </ymap-marker>
                                    </yandex-map>

                                    <MCartLoader v-if="isLoadingMap" class="!absolute !w-full !h-full top-0 left-0" />
                                </div>
                            </template>

                            <div v-if="chosenPoint" ref="point" class="mt-10 2xl:mt-12">
                                <t :class="$style.blockTitle">
                                    {{ isLoading ? 'Расчет стоимости доставки...' : 'Выбранный пункт выдачи:' }}
                                </t>

                                <ASkeleton
                                    v-if="isLoading"
                                    class="!h-[157px] md:!h-[20rem] md:!w-1/2 2xl:!h-[242px] !border-none"
                                />

                                <template v-else-if="chosenTariff">
                                    <div class="border border-stroke p-4 md:p-6 2xl:p-8 md:w-1/2">
                                        <t class="block mb-3 font-gotham text-text-main text-15 md:text-16 2xl:text-18 font-medium leading-tight">
                                            <template v-if="chosenPoint.street">
                                                {{ chosenPoint.street }} {{ chosenPoint.streetType }}, д. {{ chosenPoint.house }}
                                            </template>
                                            <template v-else>
                                                {{ chosenPoint.name }}
                                            </template>
                                        </t>

                                        <t class="block font-gotham text-12 md:text-14 2xl:text-16 leading-tight">
                                            {{ chosenPoint.address }}
                                        </t>

                                        <div class="mt-4 md:mt-6 2xl:mt-8 grid grid-cols-2 gap-4 md:gap-6 2xl:gap-8">
                                            <div
                                                v-if="chosenPoint.timetable"
                                            >
                                                <div :class="$style.label">
                                                    График работы:
                                                </div>

                                                <template v-if="chosenPoint.providerKey === 'dellin'">
                                                    <div
                                                        v-for="(item, i) in chosenPoint.timetable.split( ';' )"
                                                        :key="`timetable-${i}`"
                                                        :class="$style.valuePoint"
                                                    >
                                                        {{ item.split( ", " )[ 0 ] }}
                                                        <t :class="$style.bold">
                                                            {{ item.split( ", " )[ 1 ] }}
                                                        </t>
                                                    </div>
                                                </template>
                                                <template v-else>
                                                    <div
                                                        v-for="(item, i) in chosenPoint.timetable.split( ', ' )"
                                                        :key="`timetable-${i}`"
                                                        :class="$style.valuePoint"
                                                    >
                                                        {{ item.split( " " )[ 0 ] }}
                                                        <t :class="$style.bold">
                                                            {{ item.split( " " )[ 1 ] }}
                                                        </t>
                                                    </div>
                                                </template>
                                            </div>

                                            <div
                                                v-if="chosenPoint.phone"
                                            >
                                                <div :class="$style.label">
                                                    Телефон:
                                                </div>
                                                <div :class="$style.valuePoint">
                                                    <t :class="$style.bold">
                                                        {{ chosenPoint.phone }}
                                                    </t>
                                                </div>
                                            </div>

                                            <div>
                                                <div :class="$style.label">
                                                    Стоимость:
                                                </div>
                                                <div :class="$style.valuePoint" class="!font-medium">
                                                    {{ formattedPrice( deliveryCost ) }}
                                                </div>
                                            </div>

                                            <div>
                                                <div :class="$style.label">
                                                    Срок доставки:
                                                </div>
                                                <div :class="[$style.valuePoint, $style.red]">
                                                    {{ minDays }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>

                                <div
                                    v-else
                                    :class="[$style.errorText, $style.red]"
                                >
                                    В выбранный пункт выдачи данный заказ не может быть доставлен.
                                </div>
                            </div>
                        </div>

                        <div v-if="deliveryChosen === 'delivery'" class="mt-10 2xl:mt-12">
                            <t :class="$style.blockTitle">
                                Введите адрес доставки:
                            </t>

                            <div class="grid md:grid-cols-2 gap-4 md:gap-6 2xl:gap-8">
                                <AInputSearch
                                    v-input:city
                                    :value="address.city || tmpQ( 'city' )"
                                    :options="addressDropdown( 'city' )"
                                    placeholder="Населенный пункт"
                                    :error="errors.city"
                                    @change="queryAddressWithDelay( $event, 'city', [ fiasLevel.region, fiasLevel.area, fiasLevel.city, fiasLevel.settlement ], titleRules.city )"
                                    @select="updateAddress( $event, 'city' )"
                                />

                                <AInputSearch
                                    v-input:address
                                    :value="address.address || tmpQ( 'address' )"
                                    :options="addressDropdown( 'address' )"
                                    placeholder="Адрес"
                                    :error="errors.address"
                                    :disabled="!address.city"
                                    @change="queryAddressWithDelay( $event, 'address', [ fiasLevel.address ], titleRules.address )"
                                    @select="updateAddress( $event, 'address' )"
                                />

                                <input
                                    v-model="address.house"
                                    v-input:house
                                    :required="deliveryChosen !== 'pickup'"
                                    type="hidden"
                                >

                                <AInput
                                    v-input:postalCode
                                    :value="address.postalCode"
                                    placeholder="Почтовый индекс"
                                    :error="errors.postalCode"
                                    @change="onInputChange($event, 'postalCode')"
                                />
                            </div>
                        </div>

                        <div v-if="deliveryChosen === 'delivery'" class="mt-10 2xl:mt-12">
                            <t :class="$style.blockTitle">
                                {{ isLoading ? 'Расчет стоимости доставки...' : 'Выберите службу доставки:' }}
                            </t>

                            <div class="grid grid-cols-2 md:grid-cols-3 2xl:grid-cols-4">
                                <ASkeleton
                                    v-if="isLoading"
                                    class="!h-[16rem] md:!h-[195px] 2xl:!h-[205px] !border-none"
                                />

                                <div
                                    v-else-if="!deliveries"
                                    :class="$style.errorText"
                                >
                                    <template v-if="deliveryChosen === 'delivery'">
                                        Способы доставки появятся после заполнения адреса.
                                    </template>
                                    <template v-else>
                                        Способы доставки появятся после выбора пункта выдачи.
                                    </template>
                                </div>

                                <div
                                    v-else-if="deliveries.length === 0"
                                    :class="[$style.errorText, $style.red]"
                                >
                                    По этому адресу доступных способов доставки не обнаружено.
                                </div>

                                <template v-else>
                                    <div
                                        v-for="(delivery, i) of deliveries"
                                        :key="`deliveries-${i}`"
                                        :class="$style.radioDelivery"
                                    >
                                        <ARadioButton
                                            :data="delivery.tariffId"
                                            :value="chosenTariff"
                                            :class="$style.tariff"
                                            @change="chooseTariff( delivery )"
                                        >
                                            <t :class="$style.tariffTitle">
                                                {{ delivery.providerTitle || delivery.providerKey.toUpperCase() }}
                                            </t>

                                            <div :class="$style.tariffBlock">
                                                <t :class="$style.tariffLabel">
                                                    Время доставки
                                                </t>

                                                <t class="text-14 md:text-16 text-primary">
                                                    {{ parseInt( delivery.daysMin ) + 1 }} {{ getDays( parseInt( delivery.daysMin ) + 1 ) }}
                                                </t>
                                            </div>

                                            <div :class="$style.tariffBlock">
                                                <t :class="$style.tariffLabel">
                                                    Стоимость
                                                </t>

                                                <t class="block font-bold tracking-wide text-text-main leading-tight text-16 md:text-20">
                                                    {{ formattedPrice( delivery.deliveryCost ) }}
                                                </t>
                                            </div>
                                        </ARadioButton>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>

                    <div :class="$style.block" class="line-bottom xl:after:hidden">
                        <t type="h3" :class="$style.cartTitle">
                            3. Способ оплаты
                        </t>

                        <div class="md:flex flex-wrap">
                            <div :class="$style.radio">
                                <ARadioButton
                                    data="YOOMONEY"
                                    :class="$style.delivery"
                                    :value="paymentMethod"
                                    @change="paymentMethod = $event"
                                >
                                    <div :class="$style.deliveryWrap">
                                        <t type="h4" :class="$style.deliveryTitle">
                                            Онлайн банковской картой
                                        </t>

                                        <t :class="$style.deliveryText">
                                            Visa/MasterCard/Maestro
                                        </t>
                                    </div>
                                </ARadioButton>
                            </div>
                            <div :class="$style.radio">
                                <ARadioButton
                                    data="invoice_for_le"
                                    :class="$style.delivery"
                                    :value="paymentMethod"
                                    @change="paymentMethod = $event"
                                >
                                    <div :class="$style.deliveryWrap">
                                        <t type="h4" :class="$style.deliveryTitle">
                                            Счёт для юридических лиц
                                        </t>
                                    </div>
                                </ARadioButton>
                            </div>
                            <div v-if="deliveryChosen === 'pickup' || ( deliveryChosen === 'pvz' && chosenPoint && chosenPoint.city === 'Москва' ) || ( deliveryChosen === 'delivery' && address.city === 'Москва' )" :class="$style.radio">
                                <ARadioButton
                                    data="cash"
                                    :class="$style.delivery"
                                    :value="paymentMethod"
                                    @change="paymentMethod = $event"
                                >
                                    <div :class="$style.deliveryWrap">
                                        <t type="h4" :class="$style.deliveryTitle">
                                            Наличными
                                        </t>

                                        <t :class="$style.deliveryText">
                                            При получении заказа
                                        </t>
                                    </div>
                                </ARadioButton>
                            </div>
                        </div>

                        <div
                            v-if="paymentMethod === 'invoice_for_le'"
                            class="mt-6 md:mt-8 2xl:mt-12"
                        >
                            <t class="block text-14 md:text-15 2xl:text-18">
                                Введите ИНН Вашей организации:
                            </t>

                            <AInput
                                v-input:inn
                                :value="inn"
                                :class="$style.input"
                                class="mt-3 2xl:mt-4"
                                placeholder="ИНН"
                                required
                                :error="errors.inn"
                                @change="onInputChange($event, 'inn')"
                            />
                        </div>
                    </div>
                </div>

                <div :class="$style.cart" class="full-background xl:before:hidden xl:mb-16 2xl:mb-[53px]">
                    <t type="h3" :class="$style.cartTitle">
                        Ваша корзина
                    </t>

                    <div class="bg-white p-8 md:p-16 xl:p-8 2xl:p-20">
                        <div :class="$style.row">
                            <div :class="$style.name">
                                Всего товаров:
                            </div>
                            <div :class="$style.value">
                                {{ totalQuantity }} {{ declOfProduct }}
                            </div>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.name">
                                Сумма заказа:
                            </div>
                            <div :class="$style.value">
                                {{ totalBase }}
                            </div>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.name">
                                Доставка:
                            </div>
                            <div :class="$style.value" class="text-secondary">
                                <template
                                    v-if="deliveryCost"
                                >
                                    {{ formattedPrice(deliveryCost) }}
                                </template>
                                <template v-else>
                                    Самовывоз
                                </template>
                            </div>
                        </div>
                        <div :class="$style.row">
                            <div :class="$style.name">
                                Скидка:
                            </div>
                            <div :class="$style.value" class="text-secondary">
                                {{ totalDiscount }}
                            </div>
                        </div>
                        <div :class="[$style.row, $style._last]">
                            <div :class="$style.name">
                                Итого к оплате:
                            </div>
                            <div :class="$style.value" class="text-text-main text-18 md:text-22 xl:text-18 2xl:text-22">
                                {{ formattedPrice(totalCost + deliveryCost) }}
                            </div>
                        </div>

                        <AButton
                            type="button"
                            design="blue-common"
                            class="w-full !h-20 2xl:!h-24 mt-10 xl:mt-8 2xl:mt-10 !font-circe text-16 2xl:text-18 !font-bold text"
                        >
                            Оформить заказ
                        </AButton>

                        <t
                            v-if="inputError || deliveryError"
                            type="p"
                            class="mt-6 2xl:mt-8 text-primary text-12 md:text-14 leading-tight"
                        >
                            <template v-if="inputError">
                                * Пожалуйста, проверьте правильность заполнения полей.
                            </template>
                            <template v-else-if="deliveryError">
                                {{ deliveryErrorText }}
                            </template>
                        </t>
                    </div>

                    <div class="xl:w-full xl:px-8 xl:left-0 xl:absolute xl:top-full font-gotham tracking-wide leading-tight text-12 md:text-14 xl:text-12 2xl:text-15 text-center mt-6 md:mt-7 xl:mt-6 2xl:mt-8">
                        Нажимая на кнопку "Оформить заказ" Вы соглашаетесь с
                        <AButton
                            design="custom"
                            :link="policyUrl"
                            class="text-secondary xl:hover:text-primary transition-colors duration-300"
                        >
                            политикой обработки данных
                        </AButton>
                    </div>
                </div>
            </BaseForm>
        </c>

        <MModal :id="modalId">
            <MFormResult
                :result="'error'"
                class="p-10 md:p-12 2xl:p-20 min-w-[30rem]"
            />
        </MModal>

        <MCartLoader v-if="isLoadingRedirect" />
    </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex"
import { getPrice } from "@/lib/utils"
import { getDeclOfProduct, getDays } from "@/lib/namings"
import { CHECKOUT, PRIVACY, CART as CART_URL } from "@/lib/url/const"
import { CART } from "@/lib/products/const"
import { YMAP, MAP_INPUT } from "@/lib/timer/const"
import { getH1, getTitle, getDescription } from "@/lib/seo"
import { getTotalBaseCost, getTotalDiscount, isCheckoutAvailable } from "@/lib/cart"
import { getProducts, removeProduct } from "@/lib/products"
import { meta } from "@/lib/mixins/meta"
import { setTimer } from "@/lib/timer"
import { getRandomId } from "@/lib/utilsDom"
import { getLocalStorage, setLocalStorage, getName } from "@/lib/localStorage"
import { JSON } from "@/lib/localStorage/const"

const name = getName( "customer" )

const paymentMethods =
    {
        cash: "cash",
        bill: "invoice_for_le",
        sber: "YOOMONEY"
    }

const PROVIDERS = {
    cdek    : "CDEK",
    boxberry: "BOXBERRY"
    // dellin  : "Деловые линии"
}

const fiasLevel =
    {
        country          : 0,
        region           : 1,
        area             : 3,
        city             : 4,
        district         : 5,
        settlement       : 6,
        street           : 7,
        address          : 8,
        flat             : 9,
        planningStructure: 65,
        empty            : -1
    }

const titleRules =
    {
        city:
            [
                "settlementWithType",
                "city",
                "areaWithType",
                "regionWithType"
                // ],
                // street:
                // [
                //     "streetWithType"
            ]
    }

function genAddressDropdown( inputName, dropdownOptions )
{
    return ( currentInputName ) =>
    {
        if ( currentInputName !== inputName )
        {
            return []
        }
        return dropdownOptions
    }
}

function genTmpQ( inputName, tmpQ )
{
    return ( currentInputName ) =>
    {
        if ( currentInputName !== inputName )
        {
            return ""
        }
        return tmpQ
    }
}

export default {
    mixins: [ meta ],

    async asyncData( { app, $api, store, redirect } )
    {
        if ( isCheckoutAvailable( store.state.cart.cart ) )
        {
            redirect( app.$getUrl( CART_URL ) )
        }

        const products = await getProducts( CART, {
            dict   : store.state.cart.cart.positions,
            request: $api.products.get
        } )

        const region = store.state.regions.region
        const coords = region.geoLat && region.geoLat ? [ region.geoLat, region.geoLon ] : [ 55.7522200, 37.6155600 ]
        const pickupPointCity = region.title || ""

        return {
            products,
            coords,
            pickupPointCity
        }
    },

    data()
    {
        return {
            h1: getH1( CHECKOUT ),

            products: [],

            firstName: null,
            lastName : null,
            phone    : null,
            email    : null,
            comment  : null,

            errors: {
                firstName : "",
                lastName  : "",
                phone     : "",
                email     : "",
                city      : "",
                postalCode: "",
                address   : ""
            },
            inputError   : false,
            deliveryError: false,

            PROVIDERS,

            paymentMethods,
            paymentMethod         : "YOOMONEY",
            inn                   : null,
            isPickup              : false,
            fiasLevel,
            titleRules,
            countryDropdownOptions:
                [
                    { name: "placeholder", title: "Страна / регион", isSet: false }, { name: "Russia", titleShort: "Россия", title: "Россия / RU", countryIsoCode: "RU", isSet: true }
                ],
            baseQ:
                {
                    country: { value: "", next: "city", prev: null },
                    city   : { value: null, next: "address", prev: "country" },
                    address: { value: null, next: null, prev: "city" }
                },
            isAddressInputDisabled( inputName )
            {
                return this.address[ this.baseQ[ inputName ].prev ] === null
            },
            addressDropdown: () => [],
            tmpQ           : () => "",
            queryAddressTid: null,
            guid           : null,
            address        :
                {
                    country   : "",
                    city      : null, // Must match inputName.
                    address   : null,
                    street    : null,
                    flat      : null,
                    postalCode: null,
                    cityFiasId: null,
                    fiasId    : null
                },
            deliveries    : null, // [] -> not found.
            deliveryChosen: "pickup",
            chosenTariff  : "",
            chosenProvider: "", // For Pvz only.
            delivery      :
            {
                providerKey : null,
                deliveryType: null,
                tariffId    : null,
                pickupType  : null,
                pointId     : null,
                pointAddress: null
            },
            deliveryCost     : 0,
            isLoading        : false,
            isLoadingRedirect: false,
            isLoadingMap     : false,

            points                : [],
            chosenPoint           : null,
            openedPoint           : null,
            pickupPointCityOptions: [],

            modalId: getRandomId(),

            policyUrl: this.$getUrl( PRIVACY ),

            meta: {
                title      : getTitle( CHECKOUT ),
                description: getDescription( CHECKOUT )
            }
        }
    },

    computed: {
        ...mapState( "cart", [
            "cart"
        ] ),

        ...mapState( "regions", [
            "region"
        ] ),

        ...mapGetters( "cart", [
            "totalQuantity"
        ] ),

        breadcrumbs()
        {
            return [
                {
                    title: "Корзина",
                    link : this.$getUrl( CART_URL )
                },
                {
                    title: this.h1,
                    link : ""
                }
            ]
        },

        totalCost()
        {
            return this.cart && this.cart.totalCost ? parseFloat( this.cart.totalCost ) : 0
        },

        totalBase()
        {
            return getTotalBaseCost( {
                products: this.products,
                cart    : this.cart
            } )
        },

        totalDiscount()
        {
            return getTotalDiscount( {
                products: this.products,
                cart    : this.cart
            } )
        },

        declOfProduct()
        {
            return getDeclOfProduct( this.totalQuantity )
        },

        minDays()
        {
            if ( this.chosenTariff && this.deliveries )
            {
                const tariff = this.deliveries.find( e => e.tariffId === this.chosenTariff )
                if ( tariff.daysMin === tariff.daysMax )
                {
                    return `${ tariff.daysMin } ${ this.getDays( tariff.daysMin ) }`
                }
                else
                {
                    return `${ tariff.daysMin } — ${ tariff.daysMax } ${ this.getDays( tariff.daysMax ) }`
                }
            }
            else
            {
                return "Уточните у менеджера"
            }
        },

        deliveryErrorText()
        {
            if ( this.isLoading )
            {
                return "* Пожалуйста, дождитесь завершения расчета доставки."
            }
            else if ( !this.chosenProvider )
            {
                return "* Пожалуйста, выберите службу доставки."
            }
            else if ( !this.chosenPoint || !this.chosenTariff )
            {
                return "* Пожалуйста, выберите пункт выдачи заказа."
            }
            else
            {
                return "* Пожалуйста, выберите адрес доставки."
            }
        }
    },

    watch:
    {
        totalQuantity()
        {
            this.deliveries = null
            if ( this.deliveryChosen === "delivery" )
            {
                this.queryDelivery()
            }
            else if ( this.deliveryChosen === "pvz" )
            {
                this.onPointChange()
            }
        }
    },

    async created()
    {
        this.address.country = this.countryDropdownOptions.find( x => x.isSet ).titleShort
        this.baseQ[ this.baseQ.country.next ].value = this.address.country

        if ( this.region && this.region.title )
        {
            await this.queryAddress( this.region.title, "city", [ fiasLevel.region, fiasLevel.area, fiasLevel.city, fiasLevel.settlement ], titleRules.city )
            await this.updateAddress( this.addressDropdown( "city" )[ 0 ], "city" )
        }
    },

    mounted()
    {
        setTimeout( () =>
        {
            const scrollHeight = this.$refs.form.offsetTop
            window.scroll( { top: scrollHeight, left: 0, behavior: "smooth" } )
        }, 0 )

        const localStorage = getLocalStorage( { name, type: JSON } )
        this.firstName = localStorage.firstName
        this.lastName = localStorage.lastName
        this.phone = localStorage.phone
        this.email = localStorage.email
        this.comment = localStorage.comment
    },

    methods: {
        ...mapActions( "cart", [
            "removeFromCart",
            "getCart"
        ] ),

        remove( product )
        {
            this.products = removeProduct( CART, {
                product,
                products: this.products,
                action  : this.removeFromCart
            } )

            if ( !this.products.length )
            {
                this.$router.push( this.$getUrl( CART_URL ) )
            }
        },

        formattedPrice( val )
        {
            return getPrice( val )
        },

        getDays( i )
        {
            return getDays( i )
        },

        onInputChange( e, target )
        {
            if ( target === "postalCode" )
            {
                this.address.postalCode = e
            }
            else
            {
                this[ target ] = e
            }
            this.errors[ target ] = ""
            this.inputError = false

            if ( !e )
            {
                const localStorage = getLocalStorage( { name, type: JSON } )
                delete localStorage[ target ]
                setLocalStorage( { name, value: localStorage } )
            }
        },

        onBlur( target )
        {
            if ( this[ target ] )
            {
                const localStorage = getLocalStorage( { name, type: JSON } )
                setLocalStorage( { name, value: { ...localStorage, [ target ]: this[ target ] } } )
            }
        },

        queryAddressWithDelay( q, inputName, fiasLevels, titleRules )
        {
            this.errors.address = ""
            this.deliveries = null // Drop deliveries.

            if ( this.baseQ[ inputName ].next )
            {
                this.address[ this.baseQ[ inputName ].next ] = null
            }
            this.tmpQ = genTmpQ( inputName, q ) // Set input value.
            this.address[ inputName ] = null
            if ( this.queryAddressTid )
            {
                clearTimeout( this.queryAddressTid )
            }
            this.queryAddressTid = setTimeout( () => this.queryAddress( q, inputName, fiasLevels, titleRules ), 500 )
        },

        async queryAddress( q, inputName, fiasLevels, titleRules )
        {
            // Drop house hidden field.
            this.address.house = ""

            const baseQ = this.baseQ[ inputName ].value

            // Query dadata.
            const params = { q: `${baseQ}, ${q}` }

            // Add location param for country, city and street.
            if ( inputName.match( /(country|city|street)/ ) )
            {
                params.location = inputName
            }

            const res = await this.$api.address.get( params )

            // Render dropdown.
            this.addressDropdown = res && res.count > 0
                ? genAddressDropdown(
                    inputName,
                    res.results
                        // .filter( x => fiasLevels && fiasLevels.length > 0
                        // ? ( fiasLevels.find( xx => xx === parseInt( x.data.fiasLevel ) ) ||
                        //     ( inputName === "address" ? x.data.address !== null : false ) // Fix wrong fiasLevels for addresss.
                        // )
                        // : true )
                        .map( ( x ) =>
                        {
                            const titleKey = titleRules ? titleRules.filter( xx => x.data[ xx ] )[ 0 ] : null
                            return {
                                name          : x.guid,
                                guid          : x.guid,
                                title         : titleKey ? x.data[ titleKey ] : x.value,
                                streetWithType: inputName === "address" ? x.data.streetWithType : null, // Fixing dadata issues.
                                house         : x.data.house,
                                value         : x.value,
                                postalCode    : x.data.postalCode,
                                cityFiasId    : x.data.cityFiasId,
                                fiasId        : x.data.fiasId
                            }
                        } )
                        .filter( x => inputName === "street" ? new RegExp( `${x.streetWithType}$` ).test( x.value ) : true ) // Fixing dadata issues.
                )
                : () => []
        },

        async updateAddress( o, inputName )
        {
            this.errors[ inputName ] = ""
            this.inputError = false
            this.deliveries = null // Drop deliveries.

            if ( this.queryAddressTid )
            {
                clearTimeout( this.queryAddressTid )
            }

            if ( inputName === "address" )
            {
                this.address.street = o.streetWithType
                this.address.house = o.house
            }

            this.address[ inputName ] = o.title.replace( new RegExp( `${ this.baseQ[ inputName ].value }, ` ), "" )
            this.address.postalCode = o.postalCode

            if ( this.address.postalCode )
            {
                this.errors.postalCode = ""
            }

            this.address.cityFiasId = o.cityFiasId
            this.address.fiasId = o.fiasId
            if ( inputName !== "flat" )
            {
                this.guid = o.guid
            }
            if ( this.baseQ[ inputName ].next )
            {
                this.baseQ[ this.baseQ[ inputName ].next ].value = o.value
            }

            // Query delivery.
            if ( inputName === "address" )
            {
                await this.queryDelivery()
            }
        },

        async queryDelivery()
        {
            if ( this.guid )
            {
                this.isLoading = true

                const params = { guid: this.guid }

                const res = await this.$api.delivery.get( params )
                const toDoor = res.results.filter( e => e.deliveryType === "1" ) // To door.
                const providers = Object.keys( toDoor.reduce( ( res, cur ) =>
                {
                    const provider = cur.providerKey
                    if ( !( provider in res ) )
                    {
                        res[ provider ] = true
                    }
                    return res
                }, {} ) )
                const deliveries = []
                providers.forEach( ( provider ) =>
                {
                    const fastest = toDoor.filter( x => x.providerKey === provider ).sort( ( a, b ) => a.daysMin - b.daysMin )
                    const delivery = fastest.filter( x => x.daysMin === fastest[ 0 ].daysMin ).sort( ( a, b ) => a.deliveryCost - b.deliveryCost )[ 0 ]
                    deliveries.push( delivery )
                } )
                this.deliveries = deliveries
                this.chosenTariff = deliveries.length > 0 ? deliveries[ 0 ].tariffId : null

                if ( this.chosenTariff )
                {
                    this.chooseTariff( deliveries[ 0 ] )
                }

                this.isLoading = false
                this.deliveryError = false
            }
        },

        chooseTariff( delivery )
        {
            this.isPickup = false
            this.deliveryError = false

            if ( delivery )
            {
                this.chosenTariff = delivery.tariffId

                this.delivery.providerKey = delivery.providerKey
                this.delivery.providerTitle = delivery.providerTitle
                this.delivery.deliveryType = delivery.deliveryType
                this.delivery.tariffId = delivery.tariffId
                this.deliveryCost = delivery.deliveryCost // For the slot.

                if ( delivery.deliveryType === "2" ) // To stock.
                {
                    this.delivery.pointId = this.chosenPoint.id
                    this.delivery.pointAddress = this.chosenPoint.address
                }
                else // 1 = To door.
                {
                    this.delivery.pointId = null
                    this.delivery.pointAddress = null
                }
            }
            else
            {
                this.chosenTariff = ""
                this.delivery = {
                    providerKey : null,
                    deliveryType: null,
                    tariffId    : null,
                    pickupType  : null,
                    pointId     : null,
                    pointAddress: null
                }
            }
        },

        chooseProvider( val )
        {
            this.chosenProvider = val
            this.deliveryError = false
            this.deliveries = null
            this.chosenPoint = null
            this.chosenTariff = ""
            this.delivery = {
                providerKey : null,
                deliveryType: null,
                tariffId    : null,
                pickupType  : null,
                pointId     : null,
                pointAddress: null
            }
            this.initMap()
        },

        changeDelivery( val )
        {
            this.addressDropdown = () => []
            this.tmpQ = () => ""
            this.deliveryError = false
            this.deliveryChosen = val
            this.deliveries = null
            this.chosenProvider = ""
            this.chosenPoint = null

            if ( this.deliveryChosen === "pickup" )
            {
                this.delivery = {
                    providerKey : null,
                    deliveryType: null,
                    tariffId    : null,
                    pickupType  : null,
                    pointId     : null,
                    pointAddress: null
                }
                this.deliveryCost = 0

                // Clear address error.
                this.errors.address = ""
            }
        },

        async submit( e )
        {
            try
            {
                this.isLoadingRedirect = true

                const data =
                    {
                        guid         : this.guid,
                        firstName    : this.firstName,
                        lastName     : this.lastName,
                        phone        : this.phone,
                        email        : this.email,
                        paymentMethod: this.paymentMethod,
                        inn          : this.inn,
                        comment      : this.comment,
                        address      : this.address,
                        isPickup     : this.deliveryChosen === "pickup",
                        delivery     : this.delivery
                    }

                if ( this.deliveryChosen === "pickup" )
                {
                    delete data.guid
                    delete data.address
                    delete data.delivery
                }
                else if ( this.deliveryChosen === "pvz" )
                {
                    data.address = null
                }

                const res = await this.$api.orders.create( data )

                // Online payment if don't start with '/'.
                if ( res.redirectUrl && ( !res.redirectUrl.match( "^/" ) || res.redirectUrl.startsWith( "/api" ) ) )
                {
                    window.location = res.redirectUrl
                }
                // Else - success or fail page.
                else if ( res.redirectUrl )
                {
                    this.$router.push( { path: res.redirectUrl } )
                }
                else if ( res.errors && res.errors[ 0 ].delivery )
                {
                    this.deliveryError = true
                }
                else
                {
                    this.$modal.open( this.modalId )
                }

                // Update cart.
                await this.getCart()

                const localStorage = getLocalStorage( { name, type: JSON } )
                delete localStorage.comment
                setLocalStorage( { name, value: localStorage } )

                this.isLoadingRedirect = false
            }
            catch ( e )
            {
                console.warn( "Checkout/Submit: ", e )
                this.isLoadingRedirect = false
            }
        },

        error( errors )
        {
            this.errors = { ...this.errors, ...errors }

            if ( this.address.postalCode )
            {
                this.errors.postalCode = ""
            }

            if ( errors.house )
            {
                this.errors.address = "Введите название улицы и номер дома"
            }

            this.inputError = true
        },

        updatePoints( e )
        {
            if ( !this.openedPoint )
            {
                setTimer( YMAP, async() =>
                {
                    const bounds = e.originalEvent.target._bounds

                    const res = await this.$api.delivery.points( {
                        bl_lat      : bounds[ 0 ][ 0 ],
                        bl_lng      : bounds[ 0 ][ 1 ],
                        tr_lat      : bounds[ 1 ][ 0 ],
                        tr_lng      : bounds[ 1 ][ 1 ],
                        provider_key: this.chosenProvider
                    } )

                    this.points = res.filter( e => Boolean( e.street ) )
                } )
            }
        },

        bindListener( item )
        {
            if ( document.querySelector( ".point-btn" ) )
            {
                this.openedPoint = item
                document.querySelector( ".point-btn" ).addEventListener( "click", this.onPointChange )
            }
        },

        unbindListener()
        {
            if ( document.querySelector( ".point-btn" ) )
            {
                this.openedPoint = null
                document.querySelector( ".point-btn" ).removeEventListener( "click", this.onPointChange )
            }
        },

        async onPointChange()
        {
            this.isLoading = true

            if ( document.querySelector( "[class$='balloon__close-button']" ) )
            {
                document.querySelector( "[class$='balloon__close-button']" ).click()
            }

            this.chosenPoint = this.openedPoint
            this.deliveryError = false
            if ( this.$refs.mapWrap )
            {
                window.scroll( { top: window.pageYOffset + this.$refs.mapWrap.getBoundingClientRect().top + this.$refs.mapWrap.clientHeight, left: 0, behavior: "smooth" } )
            }

            const res = await this.$api.address.get( { q: this.chosenPoint.address } )
            this.guid = res.results[ 0 ]?.guid

            if ( this.guid )
            {
                const tariffsRes = await this.$api.delivery.get( { guid: this.guid } )
                const toStock = tariffsRes.results.filter( e => e.deliveryType === "2" && e.pointIds.includes( parseInt( this.chosenPoint?.id ) ) ) // To stock.
                const providers = Object.keys( toStock.reduce( ( res, cur ) =>
                {
                    const provider = cur.providerKey
                    if ( !( provider in res ) )
                    {
                        res[ provider ] = true
                    }
                    return res
                }, {} ) )
                const deliveries = []
                providers.forEach( ( provider ) =>
                {
                    const fastest = toStock.filter( x => x.providerKey === provider ).sort( ( a, b ) => a.daysMin - b.daysMin )
                    const delivery = fastest.filter( x => x.daysMin === fastest[ 0 ].daysMin ).sort( ( a, b ) => a.deliveryCost - b.deliveryCost )[ 0 ]
                    deliveries.push( delivery )
                } )
                this.deliveries = deliveries
                this.chosenTariff = deliveries.length > 0 ? deliveries[ 0 ].tariffId : null

                if ( this.chosenTariff )
                {
                    this.chooseTariff( deliveries[ 0 ] )
                }
            }

            this.isLoading = false
        },

        updatePickupPointCity( q )
        {
            this.pickupPointCity = q

            setTimer( MAP_INPUT, async() =>
            {
                const res = await this.$api.address.get( {
                    q       : `${ this.baseQ.city.value }, ${ q }`,
                    location: "city"
                } )

                if ( res.results && res.results.length )
                {
                    this.pickupPointCityOptions = res.results
                }
            } )
        },

        selectPickupPointCity( e )
        {
            this.coords = [ e.data.geoLat, e.data.geoLon ]
            this.pickupPointCity = e.data.city
        },

        initMap()
        {
            this.isLoadingMap = true

            setTimer( YMAP, async() =>
            {
                if ( this.$refs.map )
                {
                    this.$refs.map.myMap.geoObjects.removeAll()
                    const bounds = this.$refs.map.myMap._bounds

                    const res = await this.$api.delivery.points( {
                        bl_lat      : bounds[ 0 ][ 0 ],
                        bl_lng      : bounds[ 0 ][ 1 ],
                        tr_lat      : bounds[ 1 ][ 0 ],
                        tr_lng      : bounds[ 1 ][ 1 ],
                        provider_key: this.chosenProvider
                    } )

                    this.points = res.filter( e => Boolean( e.street ) )
                }

                this.isLoadingMap = false
            } )
        }
    }
}
</script>

<style lang="scss" module>
.CheckoutPage {
    @apply xl:pb-20 2xl:pb-24 overflow-hidden xl:overflow-visible;
}

.wrap {
    @apply -mx-4 md:-mx-8 xl:mx-auto xl:flex-1 xl:border-l xl:border-t border-stroke;

    &:after {
        @apply absolute left-auto right-0 top-0 h-full w-px bg-stroke hidden xl:block;
        content: "";
    }
}

.block {
    @apply py-10 md:py-12 xl:px-6 2xl:px-20 2xl:py-16 xl:border-b xl:border-r xl:border-l border-stroke;
}

.row {
    @apply flex justify-between items-end leading-none md:text-16 xl:text-14 2xl:text-16 mt-6 md:mt-8 xl:mt-6 2xl:mt-8 first:mt-0;

    &:before {
        @apply border-b border-stroke border-dashed order-2 mx-2;
        content: "";
        height: 1px;
        width: 100%;
        transform: translateY(-3px);
    }

    &._last {
        @apply mt-8 md:mt-12 xl:mt-8 2xl:mt-12;
    }
}

.name {
    @apply order-1 flex-shrink-0;
}

.value {
    @apply leading-none font-bold order-3 flex-shrink-0;
}

.cart {
    @apply sticky -top-px xl:w-[373px] flex-shrink-0 2xl:w-[54rem] xl:bg-background py-8 md:py-12 xl:p-8 2xl:p-20 xl:-ml-px xl:border border-stroke;
}

.cartTitle {
    @apply font-gotham font-medium leading-none text-18 md:text-20 2xl:text-24 text-text-main mb-8 2xl:mb-10;
}

.input {
    @apply w-full mb-4 md:mb-6 2xl:mb-8 last:mb-0;

    &:nth-child(-n + 4) {
        @screen md {
            width: calc(50% - .75rem);
        }

        @screen 2xl {
            width: calc(50% - 1rem);
        }
    }
}

.textarea {
    @apply w-full;
}

.radio {
    @apply mt-4 md:mt-6 2xl:mt-8 first:mt-0 md:w-1/2 odd:md:pr-3 odd:2xl:pr-4 even:md:pl-3 even:2xl:pl-4;

    &:nth-child(2) {
        @apply md:mt-0;
    }
}

.radioDelivery {
    @apply border-r border-b border-stroke;
    transition: box-shadow .3s ease;

    &:nth-child(1) {
        @apply border-t;
    }

    &:nth-child(2) {
        @apply border-t;
    }

    &:nth-child(3) {
        @apply md:border-t;
    }

    &:nth-child(4) {
        @apply 2xl:border-t;
    }

    &:nth-child(2n + 1) {
        @apply border-l md:border-l-0;
    }

    &:nth-child(3n + 1) {
        @apply md:border-l 2xl:border-l-0;
    }

    &:nth-child(4n + 1) {
        @apply 2xl:border-l;
    }

    &:hover {
        @screen xl {
            box-shadow: 0 0 30px rgba(112, 112, 112, 0.2);
        }
    }
}

.delivery {
    @apply flex justify-between h-24 md:h-[7.7rem] 2xl:h-32 p-4 md:p-6 2xl:px-10 2xl:py-7 border border-stroke;
    transition: box-shadow .3s ease;

    &:not(.disabled) {
        @apply flex-row-reverse;

        &:hover {
            @screen xl {
                box-shadow: 0 0 30px rgba(112, 112, 112, 0.2);
            }
        }
    }

    &.disabled {
        .deliveryText {
            @apply leading-normal;
        }
    }
}

.deliveryWrap {
    @apply h-full flex flex-col justify-between;
}

.deliveryTitle {
    @apply font-gotham text-text-main text-15 md:text-16 2xl:text-18 font-medium leading-tight md:leading-none;
}

.deliveryText {
    @apply font-gotham flex items-center text-12 md:text-14 2xl:text-16 leading-none;
}

.tariff {
    @apply p-4 md:p-6 2xl:p-8 flex justify-between items-start flex-row-reverse border-none;
}

.tariffBlock {
    @apply block mt-4 md:mt-6;
}

.tariffTitle {
    @apply block pr-4 text-15 md:text-18 text-text-main tracking-wide leading-tight font-bold;
}

.tariffLabel {
    @apply block mb-[3px] text-12 md:text-14 leading-tight;
}

.map {
    @apply -mx-4 md:mx-0 h-[48rem] 2xl:h-[62rem];

    :global( [class$="-i-custom-scroll"]) {
        box-shadow: 0 0 30px rgba(112, 112, 112, 0.2) !important;
    }

    :global( [class$="balloon__layout"] ) {
        @apply w-max min-w-[29rem] md:min-w-[34rem] #{ !important };
    }

    :global( [class$="balloon__tail"] ) {
        display: none !important;
    }

    :global( [class$="balloon__content"] ) {
        @apply mr-0 pt-8 pr-[2rem] pb-8 pl-8 #{ !important };
    }

    :global( [class$="balloon__close-button"] ) {
        @apply absolute top-8 right-8 w-6 h-6 #{ !important };
    }
}

.label {
    @apply block font-gotham text-10 md:text-12 2xl:text-14 leading-tight;
}

.valuePoint {
    @apply block mt-2 font-gotham text-text-main text-12 md:text-14 2xl:text-16 leading-tight font-normal;

    .bold {
        @apply font-medium;
    }

    &.red {
        @apply font-medium text-primary;
    }
}

.blockTitle {
    @apply block mb-6 leading-tight font-gotham text-16 2xl:text-18 font-medium text-text-main;
}

.errorText {
    @apply text-16 2xl:text-18 leading-tight;
    width: calc( 100vw - 2rem );

    @screen md {
        width: calc( 100vw - 4rem );
    }

    @screen xl {
        width: max-content;
    }

    &.red {
        @apply text-primary;
    }
}
</style>
