<script>
export default {
    functional: true,
    props     : {
        design: {
            type   : String,
            default: "white-common",
            validator( value )
            {
                return [ "white-common", "blue-common", "blue-secondary", "blue-right", "blue-dark", "gray-common", "gray-light", "gray-dark", "transparent", "red-common", "image-wall", "image-service", "image-works", "image-cube", "image-teamwork" ].includes( value )
            }
        }
    },

    render( h, { props, slots, data, $style } )
    {
        let constructor
        if ( props.design === "white-common" )
        {
            constructor = h( "div", {
                class: [ $style.C, "container", $style[ props.design ], data.staticClass, data.class ]
            }, slots().default )
        }
        else
        {
            constructor = h( "div", {
                class: [ $style.C, $style[ props.design ], data.staticClass, data.class ]
            }, [ h( "div", {
                class: [ "container" ]
            }, slots().default ) ] )
        }

        return [ constructor ].filter( Boolean )
    }
}
</script>

<style lang="scss" module>
.C {
    &.white-common {
        @apply bg-white;
    }

    &.blue-common {
        @apply bg-background;
    }

    &.blue-secondary {
        @apply bg-secondary;
    }

    &.blue-right {
        @apply bg-background;

        @screen xl {
            background: linear-gradient(
                    to right,
                    white 0%,
                    white 50%,
                    #F4F6FB 50%,
                    #F4F6FB 100%
            );

            :global(.container) {
                @apply bg-background;
            }
        }
    }

    &.blue-dark {
        @apply bg-blue-900;
    }

    &.gray-common {
        @apply bg-gray-50;
    }

    &.gray-dark {
        @apply bg-landing-gray-300;
    }

    &.gray-light {
        @apply bg-gray-150;
    }

    &.gray-dark {
        @apply bg-blue-800;
    }

    &.transparent {
        @apply bg-transparent;
    }

    &.red-common {
        @apply bg-primary;
    }

    &.image-wall {
        @apply bg-center bg-cover;
        background-image: url("./assets/images/wall.jpg");
    }

    &.image-service {
        @apply bg-center bg-cover;
        background-image: url("./assets/images/services/hero-bg.jpg");
    }

    &.image-works {
        @apply bg-center bg-cover;
        background-image: url("./assets/images/services/works-bg.jpg");
    }

    &.image-cube {
        @apply bg-center bg-cover;
        background-image: url("./assets/images/services/cube-bg.jpg");
    }

    &.image-teamwork {
        @apply bg-center bg-cover;
        background-image: url("./assets/images/services/teamwork.jpg");
    }
}
</style>
