<script>

export default {
    functional: true,
    props     : {
        type  : String,
        design: {
            type   : String,
            default: "custom",
            validator( value )
            {
                return [ "h1-common", "h1-white", "h1-page", "h2", "h2-landing", "h2-secondary", "h3", "p", "custom" ].includes( value )
            }
        }
    },

    render( h, { props, slots, listeners, data, $style } )
    {
        let constructor = [ slots().before, slots().default, slots().after ]
        constructor = h( "BaseT", {
            on      : { ...listeners },
            class   : [ $style.T, $style[ props.design ], data.staticClass, data.class ],
            attrs   : { ...props, ...data.attrs },
            domProps: data.domProps ? { innerHTML: data.domProps?.innerHTML } : {}
        }, constructor )

        return [ constructor ].filter( Boolean )
    }
}
</script>

<style lang="scss" module>
.T {
    &.h1-common {
        @apply text-[22px] leading-snug font-extrabold uppercase text-text-main md:text-[28px] 2xl:text-[34px];
        letter-spacing: 0.01em;

        mark {
            @apply text-secondary;
        }
    }

    &.h1-white {
        @apply text-[22px] leading-snug font-extrabold uppercase text-white md:text-[28px] 2xl:text-[34px];
        letter-spacing: 0.01em;

        mark {
            @apply text-primary;
        }
    }

    &.h1-page {
        @apply text-[28px] leading-none font-bold text-text-main 2xl:text-[34px] mb-6 md:mb-8 2xl:mb-12;
    }

    &.h2 {
        @apply text-24 xl:text-28 2xl:text-34 leading-none font-bold text-text-main;
    }

    &.h2-landing {
        @apply font-roboto text-22 md:text-28 xl:text-36 font-medium uppercase text-text-landing leading-snug mb-12 md:mb-14;
    }

    &.h2-secondary {
        @apply text-center font-roboto text-22 md:text-36 font-bold uppercase text-text-landing leading-snug mb-16 xl:mb-20;
        @apply font-condensed #{ !important };
    }

    &.h3 {
        @apply text-text-main text-16 font-bold;
    }

    &.p {
        @apply leading-tight text-text-low md:text-[15px] 2xl:text-[18px];
        letter-spacing: 0.01em;
    }

    mark {
        @apply bg-transparent text-primary;
    }
}

</style>
