<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MKLGNV8');</script>
<!-- End Google Tag Manager -->
  <title>Установка и замена квартирного теплосчетчика под ключ</title>
  <link rel="shortcut icon" href="https://akvahit.ru/favicon.ico" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="libs/jquery/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="js/jquery-migrate-1.4.1.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/menu.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="font-awesome-4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="libs/node_modules/animate.css/animate.min.css">
  <script src="js/bootstrap.min.js"></script>
  <script src="libs/flexisel/js/jquery.flexisel.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/elastislide.css" />
  <link rel="stylesheet" type="text/css" href="libs/fakeLoader.js/fakeLoader.css" />
  <link rel="stylesheet" type="text/css" href="libs/flexisel/css/style.css" />
  <!---->
  <link rel="stylesheet" href="css/bootstrap.min2.css">
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/style2.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!---->
  <!-- Add fancyBox -->
  <link rel="stylesheet" href="libs/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="libs/fancybox/source/jquery.fancybox.pack.js"></script>
  <noscript>
    <style>
      .es-carousel ul{
        display:block;
      }
    </style>
  </noscript>
  <script type="text/javascript">
      $(window).load(function() {
          $("#mycarusel").flexisel({
              visibleItems: 4,
              itemsToScroll: 1,
              autoPlay: {
                  enable: true,
                  interval: 8000,
                  pauseOnHover: true
              }
          });
      });
  </script>
    <script src="https://kit.fontawesome.com/2985bf772a.js" crossorigin="anonymous"></script>
  <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
			<div class="rg-image-wrapper">
				{{if itemsCount > 1}}
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				{{/if}}
				<div class="rg-image"></div>
				<div class="rg-loading"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
						<p></p>
					</div>
				</div>
			</div>
		</script>

<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(49586380, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/49586380" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</head>
<body>
<script>
(function(w, d, s, h, id) {
    w.roistatProjectId = id; w.roistatHost = h;
    var p = d.location.protocol == "https:" ? "https://" : "http://";
    var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/"+id+"/init";
    var js = d.createElement(s); js.charset="UTF-8"; js.async = 1; js.src = p+h+u; var js2 = d.getElementsByTagName(s)[0]; js2.parentNode.insertBefore(js, js2);
})(window, document, 'script', 'cloud.roistat.com', '8db14ee3f516fae0340d1863ef34ed13');
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKLGNV8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="fakeLoader"></div>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container container-fix">
    <div class="row">
      <div class="col-xs-3"><a href="/static"><img src="images/logo.png" alt="Разводка труб отопления под ключ в Москве и московской области"></a></div>
      <div class="col-xs-5 time"><i class="fa fa-clock-o" aria-hidden="true"></i>с <span>9.00</span> до <span>19.00</span> Пн -  Пт <br><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@akvahit.ru" onclick="yaCounter49586380.reachGoal ('click-post-header'); return true;"> info@akvahit.ru</a></div>
      <div class="col-xs-4 phone"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+74955405059" onclick="yaCounter49586380.reachGoal ('click-nomber-header'); return true;">+7 (495) 540-50-59</a> <button class="btn btn-primary" data-toggle="modal" data-target="#myModal4" onclick="yaCounter49586380.reachGoal ('click-btn-callback'); return true;">заказать звонок</button></div>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <!--                                    <h4 class="modal-title" id="myModalLabel">Название модали</h4>-->
      </div>
      <div class="modal-body text-center">
        <img src="images/men_after_form_1.png" alt="" class="animated fadeInDown">
        <form class="contact_form_map" novalidate="novalidate" id="form4">
          <p><span class="your-name"><input type="text" id="user_name4" name="username4" value="" size="40" class="form-control inp-your-name" required="required" placeholder="Ваше имя"></span> </p>
          <p><span class="your-tel"><input type="text" id="user_tel4" name="usertel4" value="" size="40" class="form-control inp-your-tel" required="required" placeholder="Ваш телефон"></span> </p>
          <p><input type="button" value="Получить консультацию" id="btn_submit4" class="form-control inp-submit" onclick="yaCounter49586380.reachGoal ('order-to-callBack'); return true;"><img class="ajax-loader" src="/images/ajax-loader.gif" alt="Отправка..." style="visibility: hidden;"></p>
        </form>
        <div class="messages4"></div>
      </div>

    </div>
  </div>
</div>
<!-- End Modal -->
<div class="container-fluid main_wrap container-fix" >
  <a class="jakor" id="top"></a>
  <div class="banner row parallax-window" data-parallax="scroll" data-image-src="images/banner.png">
    <div class="container container-fix">
      <div class="col-xs-12">
        <div class="row banner_row_1">
          <div class="col-xs-12">
            <div class="block1 in_1 text-center">Квартирный теплосчетчик Пульсар под ключ</div>
            <div class="block1 in_2 text-center">Установка - <span style="color:#fff; text-shadow: 0 1px 1px #369;">12500 рублей</span></div>
			<div class="block1 in_2 text-center">Замена - <span style="color:#ff3e3d">9000 рублей</span></div><div class="block1 in_3 text-center">за 1 день<br> с гарантией  </div>
          </div>
        </div>
        <div class="row banner_row_2">
          <div class="col-xs-5 text-left bl_1">
            <img class="img-sch" src="images/sch.png" alt="">
          </div>
          <div class="col-xs-2 text-center bl_2">
            <div class="row">
              <div class="col-xs-12"><img src="images/icon_banner_one_day.png" alt="Монтаж за 1 день"></div>
              <h5>Монтаж на следующий день</h5>
              <div class="col-xs-12"><img src="images/icon_banner_warranty_3_years.png" alt="3 года гарантии"></div>
              <h5>Гарантия на работы 1 год</h5>
              <div class="col-xs-12"><img src="images/doks1.png" alt="Бесплаиный выезд"></div>
              <h5>Пакет документов для ввода в эксплуатацию</h5>
            </div>
          </div>
          <div class="col-xs-5 text-center">
            <div class="form_img">
              <img src="images/men_banner.png" alt="">
              <form class="contact_form" novalidate="novalidate" id="form">
                <p><span class="your-name"><input type="text" id="user_name" value="" size="40" class="form-control inp-your-name" placeholder="Ваше имя" required></span> </p>
                <p><span class="your-tel"><input type="text" id="user_tel" value="" size="40" class="form-control inp-your-tel" placeholder="Ваш телефон" required></span> </p>
                <p><input type="button" value="Получить консультацию" id="btn_submit" class="form-control inp-submit" onclick="yaCounter49586380.reachGoal ('click-btn-banner'); return true;"><img class="ajax-loader" src="/images/ajax-loader.gif" alt="Отправка..." style="visibility: hidden;"></p>
                <div class="messages"></div>
              </form>
              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <!--                                    <h4 class="modal-title" id="myModalLabel">Название модали</h4>-->
                    </div>
                    <div class="modal-body">
                      <img src="images/men_after_form.png" alt="" class="animated fadeInDown">
                      <div class="msg_after_form contact_form">Большое спасибо за заявку.<br> С Вами свяжутся в ближайшее время</div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="installation_cost row">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title">Что входит в стоимость установки</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="point">
            <img src="images/6.png" alt="">
            <div class="subtitel">КВАРТИРНЫЙ ТЕПЛОСЧЕТЧИК "ПУЛЬСАР"</div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="point">
            <img src="images/7.png" alt="">
            <div class="subtitel">КОМПЛЕКТ ПРИСОЕДИНИТЕЛЕЙ</div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="point">
            <img src="images/8.png" alt="">
            <div class="subtitel">ШАРОВЫЙ КРАН<br>ПОД ТЕРМОДАТЧИК</div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="point">
            <img src="images/9.png" alt="">
            <div class="subtitel">ШАРОВЫЙ КРАН ПОСЛЕ ТЕПЛОСЧЕТЧИКА</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="point">
            <img src="images/10.png" alt="">
            <div class="subtitel">ФИЛЬТР ГРУБОЙ ОЧИСТКИ</div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="point">
            <img src="images/11.png" alt="">
            <div class="subtitel">ФИТИНГИ ДЛЯ ТРУБ</div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="point">
            <img src="images/12.png" alt="">
            <div class="subtitel">ПАСПОРТ<br>НА ТЕПЛОСЧЕТЧИК</div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="point">
            <img src="images/13.png" alt="">
            <div class="subtitel">ДОКУМЕНТЫ ДЛЯ ВВОДА<br>В ЭКСПЛУАТАЦИЮ</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flat row">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title">В какую квартиру можно ставить?</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="one_flat">
            <img src="images/14.png" alt="">
            <div class="flat_title">
              <img src="images/16.png" alt="">
              <span>Вертикальная</span> система отопления
            </div>
            <div class="desc">
              <p>При вертикальной разводке в квартиру заходит несколько стояков, и от каждого стояка в квартире запитан только один радиатор отопления.</p>
              <p>В данном случае установка индивидуального теплосчетчика <span class="red">невозможна</span>.</p></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="one_flat">
            <img src="images/15.png" alt="">
            <div class="flat_title">
              <img src="images/17.png" alt="">
              <span>Горизонтальная</span> система отопления
            </div>
            <div class="desc">
              <p>При горизонтальной разводке в квартиру заходит только один стояк отопления, и от него запитаны все остальные радиаторы отопления в квартире по кольцу.</p>
              <p>В данном случае установка индивидуального теплосчетчика <span class="green">возможна</span>.</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row cntnr block_4">
    <div class="container container-fix">
      <div class="row text_body">
        <div class="col-xs-5 text-center"><img class="animated wow bounceInLeft" src="images/men_zakaz_specialista.png" alt="Заказ специалиста"></div>
        <div class="col-xs-7 text-center">
          <h3 class="white">Решаем задачи любой сложности<br>быстро, качественно, с гарантией!</h3>
          <!-- Button trigger modal -->
          <button class="zakaz btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal3" onclick="yaCounter49586380.reachGoal ('click-btn-form3'); return true;">Заказать выезд специалиста</button>
          <!-- Modal forms-3-->
          <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="yaCounter49586380.reachGoal ('click-popUp-btn-form3'); return true;">&times;</button>
                  <!--                                    <h4 class="modal-title" id="myModalLabel">Название модали</h4>-->
                </div>
                <div class="modal-body">
                  <img src="images/men_after_form_1.png" alt="" class="animated fadeInDown">
                  <form class="contact_form_map" novalidate="novalidate" id="form3">
                    <p><span class="your-name"><input type="text" id="user_name3" name="username3" value="" size="40" class="form-control inp-your-name" required="required" placeholder="Ваше имя"></span> </p>
                    <p><span class="your-tel"><input type="text" id="user_tel3" name="usertel3" value="" size="40" class="form-control inp-your-tel" required="required" placeholder="Ваш телефон"></span> </p>
                    <p><input type="button" value="Получить консультацию" id="btn_submit3" class="form-control inp-submit"><img class="ajax-loader" src="/images/ajax-loader.gif" alt="Отправка..." style="visibility: hidden;"></p>
                  </form>
                  <div class="messages3"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row block block_7">
    <div class="container container-fix">
      <h3 class="white">Самая прозрачная и простая схема работы</h3>
      <div class="row text_body">
        <div class="col-xs-3 text-center">
          <div class="img_bl_7">
            <img src="images/icon_shema_ozns.png" alt="оставьте заявку на сайт">
            <i class="fa fa-arrow-right"></i>
          </div>
          <h5 class="white">ОСТАВЬТЕ ЗАЯВКУ НА САЙТЕ ИЛИ ПОЗВОНИТЕ</h5>
        </div>
        <div class="col-xs-3 text-center">
          <div class="img_bl_7">
            <img src="images/icon_shema_bv.png" alt="бесплатный выезд специалиста на следующий день">
            <i class="fa fa-arrow-right"></i>
          </div>
          <h5 class="white">НАШ СПЕЦИАЛИСТ ОТВЕТИТ НА ВСЕ ВАШИ ВОПРОСЫ
            И ДОГОВОРИТСЯ ОБ УДОБНОМ ВРЕМЕНИ НА УСТАНОВКУ</h5>
        </div>
        <div class="col-xs-3 text-center">
          <div class="img_bl_7"><img src="images/icon_shema_dmim.png" alt="доставляем материалы и производим монтаж"> <i class="fa fa-arrow-right"></i></div>
          <h5 class="white">ВЫЕЗД МОНТАЖНИКОВ
            И УСТАНОВКА</h5>
        </div>
        <div class="col-xs-3 text-center">
          <div class="img_bl_7">
            <img src="images/icon_shema_vos.png" alt="выдаем окончательную смету и согласовываем дату работ">

          </div>
          <h5 class="white">ПОЛУЧАЕТЕ ПОЛНЫЙ ПАКЕТ ДОКУМЕНТОВ ДЛЯ РЕГИСТРАЦИИ ТЕПЛОСЧЕТЧИКА</h5>
        </div>

      </div>
    </div>
  </div>
    <div class="" id="reviews" style="position:relative; margin-top: -60px; margin-bottom: 60px; width: 100%; height: 1px;"></div>
    <div class="reviews container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">Отзывы наших клиентов</div>
            </div>
        </div>
        <div class="row all_reviews">
            <div class="col-lg-12">
                <div class="one_review">
                    <div class="text">Стояла задача установки тепловых счетчиков в учреждениях для сбережения бюджетных средств. Мы обратились к ряду компаний, которые выставляли счета намного выше чем мне смогли предоставить в компании Аквахит. Работа была выполнена в срок и качественно. Спасибо огромное коллективу компании АкваХит.
                    </div>
                    <div class="name"> Зам.директора Муниципального учреждения культурно-досуговый центр Балашиха.</div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="one_review">
                    <div class="text">Пол года назад в компании АкваХит, заказали установку теплосчетчиков, 4 месяца уже сдаем показания, оборудование работает исправно, жильцы довольны, мы тоже!
                    </div>
                    <div class="name">Председатель ТСЖ</div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="one_review">
                    <div class="text">15 мая 2021 обратилась в компанию АкваХит, которую нашли на просторах Интернета
                        Требовалось срочная замена теплосчетчика, по причине окончания срока поверки старого теплосчетчика. Все работы были выполненные вовремя и качественно. Советуем Вам обращаться в Аквахит, для быстрого и качественного решения ваших вопросов.
                    </div>
                    <div class="name">Лидия Ивановна. Реутов.</div>
                </div>
            </div>
        </div>
    </div>

  <div class="row block block_8 ">
    <div class="container container-fix">
      <h3 class="white">Еще 7 причин, почему стоит заказать<br>
        установку счетчика тепла</h3>
      <div class="row text_body">
        <div class="col-xs-8">
          <div class="cont_icons_7">
            <div class="icon">
              <div><img src="images/icon_7_nomer1.png" alt="№1 в России"></div>
              <h4><span>№1</span> в России колличеству установленных счетчиков</h4>
            </div>
            <div class="icon">
              <div><img src="images/icon_7_83km.png" alt="83 тыс труб уже смонтировано"></div>
              <h4><span>6142</span> установленных теплосчетчиков</h4>
            </div>
            <div class="icon">
              <div><img src="images/icon_7_5let.png" alt="5 лет на рынке"></div>
              <h4><span>5 лет</span> на рынке</h4>
            </div>
            <div class="icon">
              <div><img src="images/icon_7_0precent.png" alt="0% предоплаты"></div>
              <h4><span>0%</span> предоплаты</h4>
            </div>
            <div class="icon">
              <div><img src="images/icon_7_3gg.png" alt="3 года гарантии"></div>
              <h4><span>1 год</span> гарантии на монтажные работы</h4>
            </div>
          </div>
        </div>
        <div class="col-xs-3"><img class="animated wow bounceInRight" src="images/men_7pri4in.png" alt="Еще 7 причин по чему мы"></div>
      </div>
    </div>
  </div>
    <div class="" id="faq" style="position:relative; margin-top: -60px; margin-bottom: 60px; width: 100%; height: 1px;"></div>

    <div class="questions container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">Вопросы и ответы</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a href="#" class="one_question active" onclick="yaCounter49586380.reachGoal ('click-to-faq'); return true;">
                    <img src="images/29.png" alt="">
                    <div class="subtitle">Зачем мне устанавливать теплосчетчик?</div>
                    <div class="text">Теплосчетчик устанавливается для подсчета тепловой энергии, что в будущем Вам позволяет снизить расходы на неё. </div>
                </a>
                <a href="#" class="one_question" onclick="yaCounter49586380.reachGoal ('click-to-faq'); return true;">
                    <img src="images/29.png" alt="">
                    <div class="subtitle">Как долго устанавливать теплосчетчик?</div>
                    <div class="text">Теплосчетчик устанавливается от получаса до 2-х часов в зависимосит от сложности теплопровода.</div>
                </a>
                <a href="#" class="one_question" onclick="yaCounter49586380.reachGoal ('click-to-faq'); return true;">
                    <img src="images/29.png" alt="">
                    <div class="subtitle">Какие документы я получу после установки теплосчетчика?</div>
                    <div class="text">
                        <ol>
                            <li>Договор на установку квартирного прибора учета тепла(теплосчетчика) в 2-х экземплярах;</li>
                            <li>Акт выполненых работ 2 экземпляра;</li>
                            <li>Акт ввода в эксплуатацию 3 экземпляра;</li>
                            <li>Паспорт на теплосчетчик с поверкой.</li>
                        </ol>
                        Вся продукция нашей компании сертифицирована и находится в реестре средств измерений Российской федерации.
                    </div>
                </a>
                <a href="#" class="one_question" onclick="yaCounter49586380.reachGoal ('click-to-faq'); return true;">
                    <img src="images/29.png" alt="">
                    <div class="subtitle">Сколько можно сэкономить после установки?</div>
                    <div class="text">Известный факт, теплосчетчик позволяет экономить от 15% до 30% оплаты за тепло энергию.</div>
                </a>
                <a href="#" class="one_question" onclick="yaCounter49586380.reachGoal ('click-to-faq'); return true;">
                    <img src="images/29.png" alt="">
                    <div class="subtitle">Какие гарантии я получу?</div>
                    <div class="text">Мы предостовляем гарантию в 1 год на произведенные работы. Так же Вы получаете гарантию от производителя сроком в 5 лет.</div>
                </a>

            </div>
        </div>
    </div>
  <div class="docs container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title">Документация на установку</div>
      </div>
    </div>
      <div class="row all_docs">
          <div class="col-lg-3 col-sm-3">
              <div class="one_docs"><img src="images/inn.jpg" alt=""></div>
          </div>
          <div class="col-lg-3 col-sm-3">
              <div class="one_docs"><img src="images/ogrn.jpg" alt=""></div>
          </div>
          <div class="col-lg-3 col-sm-3">
              <div class="one_docs"><img src="images/sro.jpg" alt=""></div>
          </div>
          <div class="col-lg-3 col-sm-3">
              <div class="one_docs"><img src="images/sro2.jpg" alt=""></div>
          </div>
          <div class="col-lg-3 col-sm-3">
              <div class="one_docs"><img src="images/sro3.jpg" alt=""></div>
          </div>
          <div class="col-lg-3 col-sm-3">
              <div class="one_docs"><img src="images/sro4.jpg" alt=""></div>
          </div>
          <div class="col-lg-3 col-sm-3">
              <div class="one_docs"><img src="images/sro5.jpg" alt=""></div>
          </div>
          <div class="col-lg-3 col-sm-3">
              <div class="one_docs"><img src="images/sro6.jpg" alt=""></div>
          </div>
          <div class="col-lg-3 col-sm-3">
              <div class="one_docs"><img src="images/sro7.jpg" alt=""></div>
          </div>
      </div>
  </div>

  <div class="block_map">
    <div class="form_img text-center">
      <form class="contact_form_map" novalidate="novalidate" id="form2">
        <p><span class="your-name"><input type="text" id="user_name2" value="" size="40" class="form-control inp-your-name" required="required" placeholder="Ваше имя"></span> </p>
        <p><span class="your-tel"><input type="text" id="user_tel2" value="" size="40" class="form-control inp-your-tel" required="required" placeholder="Ваш телефон"></span> </p>
        <p><input type="button" value="Получить консультацию" id="btn_submit2" class="form-control inp-submit" onclick="yaCounter49586380.reachGoal ('click-form-footer'); return true;"><img class="ajax-loader" src="/images/ajax-loader.gif" alt="Отправка..." style="visibility: hidden;"></p>
        <div class="messages2"></div>
      </form>
      <!-- Modal -->
      <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <!--<h4 class="modal-title" id="myModalLabel">Название модали</h4>-->
            </div>
            <div class="modal-body">
              <img src="images/men_after_form.png" alt="" class="animated fadeInDown">
              <div class="msg_after_form contact_form">Большое спасибо за заявку.<br> С Вами свяжутся в ближайшее время</div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=zx5ahR57wxSn6fZkomF8yelzxkE5vBau&width=100%&height=400&lang=ru_RU&sourceType=constructor"></script>
  </div>

  <footer class="row">
    <div class="container ">
      <div class="row">
        <div class="col-lg-12 all_info">
          <div class="subtitle">Позвоните нам по номеру</div>
          <a href="tel:+74955405059" class="phone" onclick="yaCounter49586380.reachGoal ('сlick-nomber-footer'); return true;">+7 (495) 540-50-59</a>
          <span>и Вы непременно останетесь довольны нашим сервисом</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 copyright"><a href="https://www.akvahit.ru/">АкваХит</a> © 2022. Все права защищены</div>
      </div>
    </div>
  </footer>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/bootstrap.min2.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/jquery.elastislide.js"></script>
<script type="text/javascript" src="js/gallery.js"></script>
<script type="text/javascript" src="libs/parallax.js/parallax.min.js"></script>
<script type="text/javascript" src="libs/fakeLoader.js/fakeLoader.min.js"></script>
<script src="libs/node_modules/wowjs/dist/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
    var wow = new WOW(
        {
            boxClass:     'wow',      // animated element css class (default is wow)
            animateClass: 'animated', // animation css class (default is animated)
            offset:       300,          // distance to the element when triggering the animation (default is 0)
            mobile:       true,       // trigger animations on mobile devices (default is true)
            live:         true,       // act on asynchronously loaded content (default is true)
            callback:     function(box) {
                // the callback is fired every time an animation is started
                // the argument that is passed in is the DOM node being animated
            },
            scrollContainer: null // optional scroll container selector, otherwise use window
        }
    );
    wow.init();
</script>
</body>
</html>
