body {
  font-family: RobotoCondensedLight, Helvetica, Arial;
  font-size: 18px; }

h2 {
  font-size: 48px;
  text-transform: uppercase;
  font-family: RobotoCondensedBold, Helvetica, Arial;
  text-align: center;
  padding-bottom: 50px; }

h3 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: RobotoCondensedBold, Helvetica, Arial;
  text-align: center;
  padding-bottom: 40px; }

h4 {
  font-size: 24px;
  font-family: RobotoCondensedBold, Helvetica, Arial;
  text-align: center;
  text-transform: uppercase;
  color: #333; }

h5 {
  font-size: 14px;
  font-family: RobotoBold, Helvetica, Arial;
  text-align: center;
  text-transform: uppercase; }

.jakor {
  margin-top: -80px;
  padding-top: 80px;
  display: block; }

.navbar {
  height: 95px;
  background-color: #fff; }
  .navbar > div {
    height: 100%;
    line-height: 95px; }
  .navbar .time {
    padding-top: 18px;
    text-align: center;
    line-height: normal;
    font-size: 22px;
    font-family: RobotoRegulare, Helvetica, Arial;
    color: #336699; }
    .navbar .time i {
      font-size: 24px; }
    .navbar .time span {
      font-family: RobotoBold; }
  .navbar .phone {
    color: #336699; }
    .navbar .phone a {
      font-size: 32px;
      color: #336699;
      font-family: RobotoBold, Helvetica, Arial; }
  .navbar .phone a:hover {
    text-decoration: none; }
  .navbar i {
    vertical-align: inherit;
    font-size: 30px;
    margin-right: 15px; }
  .navbar button {
    background-color: #d96a66;
    color: #fff;
    padding: 0 11px;
    font-size: 12px;
    font-family: RobotoRegular, Helvetica, Arial;
    position: absolute;
    right: 50px;
    bottom: 12px;
    height: 23px;
    line-height: 11px;
    display: inline-block;
    border: none;
    border-radius: 3px; }
  .navbar button:hover {
    background-color: #d9534e; }

.container-fix {
  min-width: 1200px; }

.block {
  padding-top: 50px;
  padding-bottom: 50px; }

.white {
  color: #fff;
  text-shadow: 0 1px 1px #777777; }

.banner {
  margin-top: 95px;
  height: 750px; }
  .banner .banner_row_1 .block1 {
    font-family: RobotoCondensedBold;
    text-transform: uppercase;
    color: #336699;
    text-shadow: 0 1px 1px #fff; }
  .banner .banner_row_1 .in_1 {
    margin: 30px auto 0;
    font-size: 40px;
    line-height: 40px; }
  .banner .banner_row_1 .in_2 {
    font-size: 50px;
    line-height: 55px; }
.banner .banner_row_1 .in_3 {
  font-size: 30px;
  line-height: 34px; }
  .banner .banner_row_2 .bl_1 img {
    position: absolute;
    top: -25px; }
  .banner .banner_row_2 .bl_2 img {
    margin: 20px 0; }
  .banner form {
    font-family: RobotoRegular, Helvetica, Arial;
    padding: 24px;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 10px;
    background-color: #336699; }
    .banner form p {
      height: 60px; }
    .banner form input[type=text] {
      height: 40px;
      font-size: 16px;
      margin: 10px auto; }
    .banner form input[type=button] {
      font-family: RobotoCondensedBold;
      max-width: 320px;
      width: 90%;
      height: 60px;
      background-color: #d96a66;
      color: #fff;
      font-size: 24px;
      text-transform: uppercase;
      display: block;
      margin: 0 auto;
      border: 0;
      box-shadow: 0px 2px 1px #330000;
      transition: 0.5s; }
    .banner form input[type=button]:hover {
      background-color: #d9534e; }
  .banner .form_img {
    position: relative;
    margin-top: -115px; }
  .banner .bl_txt1 {
    font-family: RobotoCondensedRegular;
    font-size: 36px;
    color: #fff;
    text-shadow: 1px 1px 0 #666; }
  .banner .logo_brand {
    margin-top: 16px; }
  .banner .btn_red {
    padding: 10px 120px;
    font-size: 36px;
    text-align: center;
    background-color: rgba(202, 7, 76, 0.7);
    font-family: RobotoCondensedBold;
    text-transform: uppercase;
    border-radius: 0;
    border: 2px solid #fff;
    transition: 0.5s; }
  .banner .btn_red:hover {
    background-color: rgba(202, 7, 76, 0.8); }

.block_1 ul {
  font-style: italic;
  font-size: 20px;
  line-height: 35px; }
  .block_1 ul i {
    color: #d96a66;
    font-size: 25px; }

.block_2 {
  background: url("images/bg_block_2.jpg") no-repeat; }
  .block_2 .dotted_block {
    width: 100%;
    height: 500px;
    background-color: #fff;
    border: 2px dotted #ccc;
    font-size: 18px;
    color: #777777;
    font-family: RobotoRegular, Helvetica, Arial; }
    .block_2 .dotted_block h4 {
      margin-top: 15px; }
    .block_2 .dotted_block div {
      display: block;
      text-align: center; }
      .block_2 .dotted_block div span {
        font-family: RobotoBold, Helvetica, Arial;
        color: #336699;
        font-size: 24px; }
      .block_2 .dotted_block div button {
        width: 80%;
        height: 50px;
        background-color: #d96a66;
        color: #fff;
        font-family: RobotoCondensedBold, Helvetica, Arial;
        font-size: 24px;
        text-transform: uppercase;
        margin: 20px auto;
        border: 0; }

.block_3 .wr_gallery {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .block_3 .wr_gallery a {
    text-align: center;
    margin: 5px; }
    .block_3 .wr_gallery a img {
      width: 175px;
      border: 2px solid #fff; }

.item {
  height: 250px;
  background-color: #fff; }

.ava1 {
  background: url("images/otzyvy.png") no-repeat 100%;
  width: 135px;
  height: 135px;
  border-radius: 50px; }

.sl_wrapper {
  padding: 60px 135px;
  height: 100%; }

.carousel-inner:before {
  content: "";
  color: #336699;
  font-size: 24px;
  text-align: center;
  width: 40px;
  height: 40px;
  background: url("images/open_quote.png") no-repeat center;
  position: absolute;
  z-index: 10;
  top: 10px;
  width: 100%; }

.carousel-caption {
  text-align: left;
  bottom: 5px;
  color: #777777;
  text-shadow: none; }

.carousel-indicators li {
  border-color: #777777; }

.carousel-indicators .active {
  background-color: #336699; }

.carousel-control.left, .carousel-control.right {
  background-image: none; }
  .carousel-control.left span, .carousel-control.right span {
    color: #333;
    box-shadow: none; }

.block_4 {
  padding-top: 50px;
  background: url("images/bg_block_4.jpg") no-repeat; }
  .block_4 button.zakaz {
    width: 500px;
    height: 90px;
    background-color: #336699;
    color: #fff;
    text-transform: uppercase;
    font-family: RobotoBold, Helvetica, Arial;
    font-size: 26px;
    border: 3px solid #fff;
    transition: 0.5s; }
  .block_4 button:hover {
    background-color: #447799; }
  .block_4 img {
    margin-top: -135px; }

.block_4 form, #myModal4 form {
  font-family: RobotoRegular, Helvetica, Arial;
  padding: 24px;
  border: 2px solid #fff;
  background: #fff;
  border-radius: 10px;
  background-color: #336699; }
  .block_4 form p, #myModal4 form p {
    height: 60px; }
  .block_4 form input[type=text], #myModal4 form input[type=text] {
    height: 40px;
    font-size: 16px;
    margin: 10px auto; }
  .block_4 form input[type=button], #myModal4 form input[type=button] {
    font-family: RobotoCondensedBold;
    max-width: 320px;
    width: 90%;
    height: 60px;
    background-color: #d96a66;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    border: 0;
    box-shadow: 0px 2px 1px #330000;
    transition: 0.5s; }
  .block_4 form input[type=button]:hover, #myModal4 form input[type=button]:hover {
    background-color: #d9534e; }

.block_5 {
  background: url("images/bg_block_5.png") repeat; }

.block_6 {
  background-color: #f7f7f7; }

.block_7 {
  background: url("images/bg_block_7.jpg") no-repeat; }
  .block_7 .img_bl_7 {
    height: 150px;
    position: relative; }
    .block_7 .img_bl_7 img {
      position: absolute;
      bottom: 25px;
      left: 37%; }
    .block_7 .img_bl_7 i {
      font-size: 40px;
      color: #fff;
      position: absolute;
      right: -40px;
      top: 66px; }

.block_8 {
  padding-bottom: 0;
  background: url("images/bg_block_2.jpg") no-repeat; }
  .block_8 .cont_icons_7 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .block_8 .icon {
    width: 215px;
    height: 200px;
    color: #fff;
    text-align: center; }
    .block_8 .icon div {
      vertical-align: bottom;
      height: 115px;
      line-height: 115px; }
  .block_8 h4 {
    margin-top: 5px;
    font-size: 18px;
    color: #fff;
    font-family: RobotoCondensedRegular, Helvetica, Arial; }
    .block_8 h4 span {
      font-size: 24px;
      font-family: RobotoBold, Helvetica, Arial; }

.block_9 .cont_logos {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
.block_9 .icon {
  padding: 0 15px;
  height: 150px;
  text-align: center; }

.block_map {
  height: 400px;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: -15px;
  margin-left: -15px;
  position: relative; }
  .block_map form {
    z-index: 10;
    width: 455px;
    position: absolute;
    right: 40px;
    top: 65px;
    font-family: RobotoRegular, Helvetica, Arial;
    padding: 24px;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 10px;
    background-color: #336699; }
    .block_map form p {
      height: 60px; }
    .block_map form input[type=text] {
      height: 40px;
      font-size: 16px;
      margin: 10px auto; }
    .block_map form input[type=button] {
      font-family: RobotoCondensedBold;
      max-width: 320px;
      width: 90%;
      height: 60px;
      background-color: #d96a66;
      color: #fff;
      font-size: 24px;
      text-transform: uppercase;
      display: block;
      margin: 0 auto;
      border: 0;
      box-shadow: 0px 2px 1px #330000;
      transition: 0.5s; }
    .block_map form input[type=button]:hover {
      background-color: #d9534e; }
  .block_map .form_img {
    position: inherit;
    top: 0;
    width: 1200px;
    margin: 0 auto; }

.footer {
  font-family: RobotoBold, Helvetica, Arial;
  font-style: italic;
  background-color: #447799;
  background: url("images/bg_footer.jpg") no-repeat;
  height: 230px;
  font-size: 36px;
  padding-top: 20px; }
  .footer .phone_footer a {
    font-family: RobotoBold, Helvetica, Arial;
    font-size: 60px;
    height: 100%;
    line-height: normal;
    color: #fff !important; }
  .footer i {
    font-size: 60px;
    margin: 0 20px 0 0;
    vertical-align: bottom; }
  .footer .ff {
    color: #fff; }

.footer2 .copyright {
  background-color: #336699;
  height: 100%;
  line-height: 80px;
  color: #fff;
  font-family: RobotoRegular;
  font-size: 14px; }

.messages span, .messages2 span, .messages3 span {
  padding: 0 10px;
  color: #fff;
  display: inline-block;
  text-align: center;
  margin-top: 3px; }

.success_msg {
  color: #fff; }

.msg_after_form {
  font-size: 24px;
  font-family: RobotoRegular, Helvetica, Arial;
  color: #336699;
  margin: 3px; }

.modal-header {
  height: 55px; }
  .modal-header button.close {
    width: 30px;
    height: 30px;
    background: #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }

@media (min-width: 768px) {
  .modal-dialog {
    margin: 100px auto; }

  .carousel-indicators {
    bottom: 0px; }

  .carousel-caption {
    padding-bottom: 60px;
    left: 28%; } }

/*# sourceMappingURL=style.css.map */
