<template>
    <div
        v-if="menuCatalog && menuCatalog.items && menuCatalog.items.length"
        :class="$style.Catalog"
    >
        <t type="h4" :class="$style.title">
            РАЗДЕЛЫ КАТАЛОГА
        </t>

        <div class="xl:hidden">
            <div
                v-for="(item, i) in menuCatalog.items"
                :key="`menu-${i}`"
                :class="$style.row"
                @click="onItemClick(item)"
            >
                <div class="pr-6">
                    <t>
                        {{ item.title }}

                        <t :class="$style.count">
                            [{{ item.options.productsCount }}]
                        </t>
                    </t>
                </div>

                <IconArrow :class="$style.arrow" />
            </div>
        </div>

        <div :class="$style.main">
            <AButton
                design="custom"
                link="/"
                class="hidden xl:block mb-8 2xl:mb-16"
            >
                <IconLogo class="w-[18rem] 2xl:w-[26rem] h-16 2xl:h-[56px]" />
            </AButton>

            <div class="relative">
                <AButton
                    v-for="(item, i) in menuCatalog.items"
                    :key="`menu-${i}`"
                    :class="[$style.row, { [$style._active]: active && item.link === active.link }]"
                    design="custom"
                    :link="link( item.link )"
                    @click.prevent="onLinkClick( link( item.link ) )"
                    @mouseenter="onMouseEnter($event, item)"
                >
                    <div class="pr-12 2xl:pr-16">
                        <t>
                            {{ item.title }}

                            <t :class="$style.count">
                                [{{ item.options.productsCount }}]
                            </t>
                        </t>
                    </div>

                    <IconArrow :class="$style.arrow" />
                </AButton>

                <div
                    v-if="areaVisible"
                    :class="[$style.area, {[$style.clicked]: clicked}]"
                    :style="areaStyles"
                    @click="onAreaClick"
                />
            </div>

            <div class="hidden xl:block mt-12 2xl:mt-16">
                <AButton
                    type="external"
                    design="custom"
                    :class="$style.bottomText"
                    class="mb-4"
                    :link="`mailto:${ email }`"
                >
                    <IconMail class="mr-4 w-[14px] 2xl:w-[16px] h-auto" />
                    {{ email }}
                </AButton>

                <AButton
                    type="external"
                    design="custom"
                    :class="$style.bottomText"
                    :link="`tel:${ cleanPhone }`"
                >
                    <IconPhoneRotate class="mr-4 w-[14px] 2xl:w-[16px] h-auto" />
                    {{ phone }}
                </AButton>
            </div>
        </div>

        <transition
            name="appear-modal"
            @before-enter="$emit('overflow', true)"
            @after-enter="afterEnter"
        >
            <div
                v-if="active"
                :class="$style.modal"
            >
                <div :class="$style.title">
                    <IconArrow
                        class="rotate-90 mr-4 cursor-pointer flex-shrink-0"
                        @click.native="onClose"
                    />
                    <AButton
                        design="custom"
                        class="translate-y-px"
                        :link="link( active.link )"
                    >
                        {{ active.title }}
                    </AButton>
                </div>

                <AButton
                    v-for="(item, i) in active.items"
                    :key="`menu-${i}`"
                    design="custom"
                    :class="$style.row"
                    :link="link( item.link )"
                >
                    <t>
                        {{ item.title }}

                        <t :class="$style.count">
                            [{{ item.options.productsCount }}]
                        </t>
                    </t>
                </AButton>
            </div>
        </transition>
    </div>
</template>

<script>
import { mapState, mapGetters } from "vuex"
import { unlockBody } from "@/lib/utilsDom"
import { getMenuProductCategoryUrl } from "@/lib/url"

export default {
    data()
    {
        return {
            menuOpened: false,
            active    : null,

            clicked           : false,
            areaVisible       : false,
            areaWidth         : 0,
            areaTopPosition   : 0,
            areaBottomPosition: 0,
            areaTimeout       : null
        }
    },

    computed: {
        ...mapState( [
            "menuCatalog"
        ] ),

        ...mapGetters( [
            "email",
            "phone",
            "cleanPhone"
        ] ),

        ...mapGetters( "regions", [
            "regionSlug"
        ] ),

        areaStyles()
        {
            return {
                clipPath: `polygon(0px ${this.areaTopPosition}px, 100% 0px, 100% 100%, 100% 100%, 0px ${this.areaBottomPosition}px)`,
                width   : `calc(100% - ${this.areaWidth}px)`
            }
        }
    },

    methods: {
        onItemClick( item )
        {
            if ( item.items && item.items.length )
            {
                this.active = item
                this.$emit( "overflow", true )
            }
            else
            {
                this.$router.push( item.link )
            }
        },

        onLinkClick( link )
        {
            this.$emit( "close" )
            unlockBody()
            this.$router.push( link )
        },

        onMouseEnter( e, item )
        {
            if ( item.items && item.items.length )
            {
                clearTimeout( this.areaTimeout )

                this.areaWidth = e.layerX
                this.active = item
                this.areaTopPosition = e.target.offsetTop
                this.areaBottomPosition = e.target.offsetTop + e.target.offsetHeight
                this.areaVisible = true

                this.areaTimeout = setTimeout( () =>
                {
                    this.areaVisible = false
                    this.clicked = false
                }, 1000 )
            }
            else
            {
                this.active = null
            }
        },

        onAreaClick( e )
        {
            this.clicked = true
            setTimeout( () =>
            {
                document.elementFromPoint( e.pageX, e.pageY ).click()
            }, 0 )
        },

        onClose()
        {
            this.active = null
            this.$emit( "overflow", false )
        },

        link( link )
        {
            return getMenuProductCategoryUrl( {
                link,
                city: this.regionSlug
            } )
        },

        afterEnter()
        {
            if ( window.innerWidth >= 1280 )
            {
                this.$emit( "overflow", false )
            }
        }
    }
}
</script>

<style lang="scss" module>
.Catalog {
    @apply xl:flex xl:overflow-x-hidden;

    :global(.appear-modal-enter-active) {
        transition: transform .3s ease;
    }

    :global(.appear-modal-leave-active) {
        transition: transform 0s ease;
    }

    :global(.appear-modal-enter),
    :global(.appear-modal-leave-active) {
        transform: translateX(-100%);
    }
}

.main {
    @apply bg-white relative hidden xl:block p-12 2xl:px-20 2xl:py-[4.8rem];

    @screen xl {
        flex-shrink: 0;
        box-shadow: 4px 0 20px rgba(84, 84, 84, 0.25);
        min-height: 100vh;
        z-index: 8;
    }
}

.title {
    @apply font-circe h-20 md:h-24 flex xl:hidden items-center bg-primary text-white px-4 md:px-8 text-16 font-extrabold tracking-widest leading-none uppercase #{ !important };
}

.arrow {
    @apply text-gray-800 flex-shrink-0 transition-colors duration-300 xl:w-[12px];
    transform: rotate(-90deg);
}

.modal {
    @apply fixed top-0 w-full h-full bg-white;
    overflow-y: scroll;
    z-index: 20;

    @screen xl {
        @apply relative p-12 2xl:p-20 pt-[9rem] 2xl:pt-[14.4rem];
        width: 37rem;
        height: auto;
        min-height: 100vh;
        z-index: 7;
    }

    @screen 2xl {
        width: 42rem;
    }
}

.row {
    @apply relative font-circe py-7 flex justify-between items-center px-4 md:px-8 xl:p-0 xl:mb-7 2xl:mb-8 last:mb-0 border-b xl:border-b-0 border-stroke text-text-main text-[19px] md:text-20 xl:text-16 2xl:text-18 tracking-wide leading-tight cursor-pointer xl:hover:z-20 xl:hover:text-primary transition-colors duration-300 #{ !important };

    &:hover {
        @screen xl {
            .arrow {
                @apply text-primary;
            }
        }
    }

    &._active {
        @screen xl {
            @apply text-primary #{ !important };

            .arrow {
                @apply text-primary;
            }
        }
    }
}

.area {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    height: 100%;
    cursor: pointer;

    &.clicked {
        pointer-events: none;
    }
}

.bottomText {
    @apply font-circe text-16 2xl:text-18 font-bold flex items-center xl:hover:text-primary transition-colors duration-300 #{ !important };
}

.count {
    @apply h-8 text-gray-400 leading-none text-14 2xl:text-16 pl-1;
}
</style>
