<template>
    <div
        v-if="data && data.body"
        :class="$style.CardHead"
    >
        <div class="flex justify-between w-full">
            <div
                v-if="data.body.data && data.body.data.discount"
                :class="[$style.tag, $style._green]"
            >
                -{{ data.body.data.discount }}%
            </div>

            <div :class="$style.icons">
                <div :class="[$style.iconButton, {[$style._active]: inCompare}]" class="mr-2" @click="remove">
                    <IconCompare :class="$style.icon" />
                </div>

                <div :class="[$style.iconButton, {[$style._active]: inFavorites}]" @click="onFavoriteClick">
                    <IconFavorite :class="$style.icon" />
                </div>
            </div>
        </div>

        <div v-if="data.body.image" :class="$style.image">
            <BaseImage
                :src="data.body.image.imageSrc"
                :ext="data.body.image.imageTypes"
            />
        </div>

        <div :class="$style.titleWrap">
            <div :class="$style.statusWrap">
                <div :class="$style.topText" class="!leading-tight">
                    <t>
                        Код товара:
                    </t>
                    <t class="font-bold">
                        {{ data.body.code }}
                    </t>
                </div>

                <div :class="$style.status">
                    <div :class="[$style.circle, $style[data.body.data.stockStatusCode]]" />

                    <t :class="$style.topText" class="block">
                        {{ data.body.data.stockStatus }}
                    </t>
                </div>
            </div>

            <AButton
                design="custom"
                :class="$style.title"
                :link="link"
            >
                {{ data.body.title }}
            </AButton>
        </div>
    </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex"
import { PRODUCT } from "@/lib/url/const"
import { FAVORITE } from "@/lib/products/const"
import { toggleProduct, isIn } from "@/lib/products"
import { getName } from "@/lib/cookie"

export default {
    props: {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    computed:
    {
        ...mapState( "cookie", {
            favorite: getName( "favorite" ),
            compare : getName( "compare" )
        } ),

        ...mapGetters( "regions", [
            "regionSlug"
        ] ),

        inFavorites()
        {
            return isIn( {
                product: this.data.body.product,
                dict   : this.favorite
            } )
        },

        inCompare()
        {
            return isIn( {
                product: this.data.body.product,
                dict   : this.compare
            } )
        },

        link()
        {
            return this.$getUrl( PRODUCT, {
                fslug: this.data.body.fslug,
                city : this.regionSlug
            } )
        }
    },

    methods:
    {
        ...mapActions( [
            "toggleFavorite"
        ] ),

        onFavoriteClick()
        {
            toggleProduct( FAVORITE, {
                product: this.data.body.product,
                dict   : this.favorite,
                action : this.toggleFavorite
            } )
        },

        remove()
        {
            this.$emit( "remove", this.data.body.product )
        }
    }
}
</script>

<style lang="scss" module>
.CardHead {
    @apply flex flex-col p-4 md:p-6 xl:p-8;
}

.tag {
    @apply absolute text-[10px] text-white font-extrabold leading-none tracking-wide flex items-center justify-center h-8 px-4;

    &._green {
        @apply bg-green;
    }

    &._red {
        @apply bg-primary;
    }

    @screen md {
        @apply px-6 h-10 text-[14px];
    }

    @screen xl {
        @apply px-7 h-12 text-[16px];
    }
}

.icons {
    @apply absolute top-[-1px] right-4 md:right-6 xl:right-8 flex justify-end;
}

.iconButton {
    @apply w-10 h-16 flex justify-center items-center text-gray-550 transition-colors duration-300 cursor-pointer;

    &:hover {
        @screen xl {
            background-color: rgba(213, 213, 213, .2);
        }
    }

    svg {
        transition: all .3s ease;
    }

    &._active {
        @apply bg-primary text-white;

        svg {
            @apply fill-current;
        }
    }

    @screen md {
        @apply w-12 h-20;
    }

    @screen xl {
        @apply w-16 h-28;
    }
}

.icon {
    width: 17px;
    height: 17px;

    @screen md {
        width: 20px;
        height: 20px;
    }

    @screen xl {
        width: 24px;
        height: 24px;
    }
}

.image {
    @apply mt-8 md:mt-10 xl:mt-12 mx-auto mb-6;
    width: 13rem;
    height: 13rem;

    @screen md {
        width: 18rem;
        height: 18rem;
    }

    @screen xl {
        width: 20rem;
        height: 20rem;
    }

    @screen 2xl {
        width: 20rem;
        height: 20rem;
    }

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.topText {
    @apply text-[10px] md:text-12 xl:text-14 2xl:text-[14px] leading-none tracking-wide;
}

.statusWrap {
    @apply md:flex md:flex-row-reverse md:justify-between;
}

.status {
    @apply flex items-center mt-2 md:mt-0;
}

.circle {
    @apply bg-primary;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: 5px;

    @screen md {
        width: 6px;
        height: 6px;
    }

    @screen 2xl {
        width: 8px;
        height: 8px;
        margin-right: 7px;
    }

    &.in_stock {
        @apply bg-green;
    }

    &.on_order {
        @apply bg-orange;
    }
}

.titleWrap {

}

.title {
    @apply block font-circe text-text-main leading-tight md:text-16 xl:text-18 mt-5 md:mt-6 xl:mt-8 cursor-pointer xl:hover:text-primary transition-colors duration-300 #{!important};
}

</style>
