<template>
    <div :class="$style.BrandPage">
        <MBreadcrumbs :data="breadcrumbs" />

        <c>
            <ATitleCount
                :h1="h1"
                :count="count"
            />

            <div class="-mx-4 md:mx-0 xl:hidden">
                <div class="flex mt-8">
                    <ASelect
                        class="w-full h-20 border-t border-b border-stroke md:border-r md:border-l"
                        design="sorting"
                        :value="sorting"
                        :data="sortingOptions"
                        @change="updateSorting"
                    />
                </div>
                <div class="flex border-b border-stroke">
                    <ASelect
                        class="w-1/2 h-20 border-r border-stroke md:border-l"
                        design="sorting"
                        :value="limit"
                        :data="limitOptions"
                        @change="updateLimit"
                    >
                        <template v-for="(option, i) in limitOptions" #[option.key]>
                            <div :key="`limit-${i}`">
                                Выводить по: <strong class="font-bold">
                                    {{ option.title }}
                                </strong>
                            </div>
                        </template>
                    </ASelect>

                    <div class="w-1/2 h-20 flex items-center px-6 border-stroke md:border-r">
                        <ACheckbox
                            :value="in_stock"
                            @change="onStockChange"
                        >
                            <t class="block text-16 ml-4">
                                В наличии
                            </t>
                        </ACheckbox>
                    </div>
                </div>
            </div>

            <div :class="$style.top">
                <div class="flex items-center">
                    <div class="flex items-center mr-16">
                        <t class="block text-16 2xl:text-18 text mr-4">
                            Выводить по:
                        </t>
                        <div class="flex">
                            <div
                                v-for="(item, i) in limitOptions"
                                :key="`sorting-${i}`"
                                :class="[$style.limitTag, { [$style._active]: limit === item.key }]"
                                @click="updateLimit(item.key)"
                            >
                                {{ item.title }}
                            </div>
                        </div>
                    </div>

                    <ASelect
                        class="mr-16 w-[22rem]"
                        :value="sorting"
                        :data="sortingOptions"
                        @change="updateSorting"
                    />

                    <div class="flex items-center h-16 px-6 border border-stroke md:border-r">
                        <ACheckbox
                            :value="in_stock"
                            @change="onStockChange"
                        >
                            <t class="block text-16 2xl:text-18 ml-4">
                                В наличии
                            </t>
                        </ACheckbox>
                    </div>
                </div>

                <ASwitcher
                    class="w-min"
                    design="secondary"
                    :value="view"
                    :data="viewOptions"
                    @change="updateView"
                >
                    <template #grid>
                        <IconCards
                            class="w-[18px] 2xl:w-[21px]"
                        />
                    </template>
                    <template #list>
                        <IconList
                            class="w-[24px] 2xl:w-[28px]"
                        />
                    </template>
                </ASwitcher>
            </div>

            <template v-if="products && products.length">
                <div>
                    <transition name="fade-common" mode="out-in">
                        <div
                            v-if="view === 'list'"
                            key="list"
                            :class="$style.wrap"
                        >
                            <div
                                v-for="(item, i) in products"
                                :key="`product-list-${i}`"
                                :class="[$style.card, $style._list]"
                            >
                                <MProductCard
                                    :data="item"
                                    design="horizontal"
                                    class="h-full !w-full !mb-0"
                                />
                            </div>
                        </div>

                        <div
                            v-if="view === 'grid'"
                            key="cards"
                            :class="$style.wrap"
                        >
                            <div
                                v-for="(item, i) in products"
                                :key="`product-grid-${i}`"
                                :class="$style.card"
                            >
                                <MProductCard
                                    :data="item"
                                    class="h-full !w-full !mb-0"
                                />
                            </div>
                        </div>
                    </transition>
                </div>

                <APagination
                    v-if="pages > 1 && paginationUrl"
                    :page="page"
                    :pages="pages"
                    :link="paginationUrl"
                    :serializer="paginationToUrl"
                    class="mt-8 xl:mt-12"
                />
            </template>

            <MFilterNotFound
                v-else
                class="-mx-4 md:m-0 border-b border-stroke xl:!border-t-0 !mb-0"
            />

            <ul
                :class="$style.block"
                class="grid gap-2"
            >
                <li
                    v-for="(item, i) in seoText"
                    :key="`seo-text-${i}`"
                    :class="$style.seoText"
                >
                    {{ item }}
                </li>
            </ul>
        </c>
    </div>
</template>

<script>
import qs from "qs"
import { mapGetters, mapActions } from "vuex"
import { BRAND } from "@/lib/url/const"
import { getDescription, getH1, getSeoText, getTitle } from "@/lib/seo"
import { urlToPagination } from "@/lib/url"
import { hasUpperCase } from "@/lib/utils"
import { INTEGER, STRING } from "@/lib/cookie/const"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { route, query, error, store, $api } )
    {
        try
        {
            const sorting = store.state.cookie.sorting
            const limit = store.state.cookie.limit
            const view = store.state.cookie.view

            const page = parseInt( query.page ) || 1
            const index = page > 1 ? "noindex, nofollow" : "index, follow"

            const id = await $api.brand.getId( { fslug: route.params.slug } )
            const brand = await $api.brand.get( { id } )

            const res = await $api.products.get( { limit, brands: id } )
            const products = res.results

            const count = res.count
            const pages = Math.ceil( count / limit )
            const pagination = urlToPagination( route.path )
            const paginationUrl = pagination.url

            const cheapestProduct = await $api.products.get( { brands: id, sort: "price", status: "in_stock" } )
            const minPrice = cheapestProduct.results && cheapestProduct.results.length ? cheapestProduct.results[ 0 ].data.price : 0

            return {
                brand,
                products,
                pages,
                page,
                count,
                sorting,
                limit,
                view,
                paginationUrl,
                minPrice,
                index
            }
        }
        catch ( e )
        {
            console.warn( e )
            return error( { statusCode: 404 } )
        }
    },

    data()
    {
        return {
            in_stock: false,

            viewOptions:
            [
                {
                    key: "grid"
                },
                {
                    key: "list"
                }
            ],

            limitOptions:
            [
                {
                    key  : 15,
                    title: "15"
                },
                {
                    key  : 40,
                    title: "40"
                },
                {
                    key  : 60,
                    title: "60"
                }
            ],

            sortingOptions:
            [
                {
                    key  : "default",
                    title: "По умолчанию"
                },
                {
                    key  : "popularity",
                    title: "По популярности"
                },
                {
                    key  : "rating",
                    title: "По рейтингу"
                },
                {
                    key  : "price",
                    title: "Сначала недорогие"
                },
                {
                    key  : "-price",
                    title: "Сначала дорогие"
                }
            ],

            index: ""
        }
    },

    computed: {
        ...mapGetters( "regions", [
            "regionPre"
        ] ),

        h1()
        {
            return getH1( BRAND, { title: this.brand.name } )
        },

        meta()
        {
            return {
                title      : getTitle( BRAND, { title: this.brand?.name, city: this.regionPre } ),
                description: getDescription( BRAND, { title: this.brand?.name, city: this.regionPre, minPrice: this.minPrice } )
            }
        },

        breadcrumbs()
        {
            return [
                {
                    link : "/brands/",
                    title: "Производители"
                },
                {
                    link : "",
                    title: this.brand.name
                }
            ]
        },

        seoText()
        {
            return getSeoText( BRAND, {
                brand   : this.brand,
                minPrice: this.minPrice,
                city    : this.regionPre
            } )
        },

        canonical()
        {
            if ( Object.keys( this.$route.query ).length || hasUpperCase( this.$route.path ) )
            {
                return {
                    rel : "canonical",
                    href: `https://akvahit.ru${ this.$route.path.toLowerCase() }`
                }
            }
            return {}
        }
    },

    watch: {
        "$route.query.page": {
            handler( e )
            {
                this.page = parseInt( e )
                this.updateProducts()

                if ( process.client )
                {
                    window.scrollTo( 0, 0 )
                }
            }
        },

        page()
        {
            this.index = this.page > 1 ? "noindex, nofollow" : "index, follow"
        }
    },

    methods: {
        ...mapActions( "cookie", [
            "setCookie"
        ] ),

        paginationToUrl( o )
        {
            return `${o.url}?${this.genQuery( o.page )}`
        },

        genQuery( page )
        {
            const data = {
                page
            }
            return qs.stringify( data, { arrayFormat: "comma", encode: false, skipNulls: true } )
        },

        updateSorting( sorting )
        {
            this.sorting = sorting
            this.setCookie( { name: "sorting", value: this.sorting, type: STRING } )
            this.updateProducts()
        },

        updateLimit( limit )
        {
            if ( this.limit !== limit )
            {
                this.limit = limit
                if ( this.count < this.limit )
                {
                    this.page = 1
                }
                this.setCookie( { name: "limit", value: this.limit, type: INTEGER } )
                this.updateProducts()
            }
        },

        updateView( view )
        {
            this.view = view
            this.setCookie( { name: "view", value: this.view, type: STRING } )
        },

        async updateProducts()
        {
            try
            {
                const data = {
                    limit : this.limit || null,
                    page  : this.page || null,
                    sort  : this.sorting || null,
                    status: this.in_stock ? "in_stock" : null,
                    brands: this.brand.id
                }
                const res = await this.$api.products.get( data )
                this.products = res.results

                const pages = Math.ceil( res.count / this.limit )
                this.count = res.count
                this.pages = pages
                this.posts = res.results
            }
            catch ( e )
            {
                console.warn( "updateProducts: ", e )
            }
        },

        onStockChange( e )
        {
            this.in_stock = e
            this.updateProducts()
        }
    }
}
</script>

<style lang="scss" module>
.BrandPage {
    @apply pb-16 xl:pb-20 2xl:pb-24;
}

.wrap {
    @apply -mx-4 md:mx-auto flex flex-wrap relative;
}

.card {
    @apply w-1/2 border-b odd:border-r md:border-r border-stroke xl:w-1/4 2xl:w-1/5 xl:border-r;

    &:nth-child(2n + 1) {
        @apply md:border-l xl:border-l-0;
    }

    &:nth-child(4n + 1) {
        @apply xl:border-l 2xl:border-l-0;
    }

    &:nth-child(5n + 1) {
        @apply 2xl:border-l;
    }

    &._list {
        @apply w-full border-l border-b border-t-0;
    }
}

.top {
    @apply hidden xl:flex justify-between px-6 2xl:px-8 h-24 2xl:h-28 items-center border border-stroke;
}

.limitTag {
    @apply border border-stroke text-16 2xl:text-18 transition-all duration-300 mr-4 last:mr-0 cursor-pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;

    @screen 2xl {
        @apply w-16 h-16;
    }

    &._active {
        @apply bg-secondary text-white border-secondary;
    }

    &:hover {
        @screen xl {
            box-shadow: 0 4px 10px rgba(171, 171, 171, 0.25);
        }
    }
}

.block {
    @apply pt-16 md:pt-20;
}

.seoText {
    @apply text-text-low text-15 md:text-16 2xl:text-18;
}
</style>
