<template>
    <div :class="$style.BrandsPage">
        <MBreadcrumbs :data="[ { title: h1 } ]" />

        <c>
            <t type="h1" design="h1-page">
                {{ h1 }}
            </t>

            <OBrands
                v-if="brands && brands.length"
                :brands="brands"
                class="pt-4 xl:pt-0"
            />
        </c>
    </div>
</template>

<script>
import { BRANDS } from "@/lib/url/const"
import { getTitle, getDescription, getH1 } from "@/lib/seo"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { $api } )
    {
        const brands = await $api.brands.get()
        return {
            brands
        }
    },

    data()
    {
        return {
            h1  : getH1( BRANDS ),
            meta: {
                title      : getTitle( BRANDS ),
                description: getDescription( BRANDS )
            },

            brands: []
        }
    }
}
</script>

<style lang="scss" module>
.BrandsPage {
    @apply pb-16 md:pb-20 2xl:pb-24;
}

.content {
    @apply my-8;
}
</style>
