<template>
    <div :class="$style.FilterBlock">
        <AAccordion
            design="filter"
            icon="arrow"
            opened
            :class="$style.accordion"
        >
            <template #key>
                <t :class="$style.title">
                    {{ data.title }}

                    <ATooltip
                        v-if="data.description"
                        design="filter"
                        placement="top"
                        :events="['mouseenter', 'click']"
                        hide-on-click="hide"
                        class="ml-2 md:ml-3"
                    >
                        <template #key>
                            <IconSignQuestionCircle class="text-gray-400 w-[12px] h-[12px] xl:w-[14px] xl:h-[14px]" />
                        </template>
                        <template #content>
                            <AScrollbox class="max-h-[21rem] text-text-low">
                                {{ data.description }}
                            </AScrollbox>
                        </template>
                    </ATooltip>
                </t>
            </template>

            <template #content>
                <div
                    ref="content"
                    class="pt-0 px-4 md:px-8 xl:px-6 2xl:px-8"
                >
                    <template v-if="type === 'range'">
                        <MRange
                            :value="lazyValue"
                            :min="data.min"
                            :max="data.max"
                            class="w-full pt-4 px-6 xl:px-8"
                            @change="onChangeRange"
                        />
                    </template>

                    <template v-if="type === 'checkboxes'">
                        <AScrollbox
                            ref="scrollbox"
                            resizable
                            :class="[$style.scroll, {[$style._active]: true}]"
                        >
                            <MFilterCheckbox
                                v-for="(item, i) in data.props"
                                :id="item.id"
                                ref="checkbox"
                                :key="`checkbox-row-${i}`"
                                :lazy-value="lazyValue"
                                :name="item.name"
                                :count="item.count"
                                :checked="lazyValue.includes(item.id)"
                                :values="valuesHover"
                                :primary="primary"
                                :props="props"
                                :base-url="baseUrl"
                                :data="data"
                                :is-brand="isBrand"
                                @change="onChangeCheckbox(item.id, $event)"
                                @show="$emit('show', $event)"
                            />
                        </AScrollbox>
                    </template>
                </div>
            </template>
        </AAccordion>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type   : Object,
            default: () => {}
        },

        values: {
            type   : Array,
            default: () => []
        },

        visibleOptions: {
            type   : Number,
            default: 6
        },

        type: {
            type   : String,
            default: ""
        },

        valuesHover: {
            type   : Object,
            default: () => {}
        },

        primary: {
            type   : Object,
            default: () => {}
        },

        props: {
            type   : Array,
            default: () => []
        },

        baseUrl: {
            type   : String,
            default: ""
        },

        isBrand: Boolean
    },

    data()
    {
        return {
            showmoreOpened: false,
            checkboxHeight: 39,

            lazyValue: []
        }
    },

    computed: {
        visibleHeight()
        {
            return this.visibleOptions * this.checkboxHeight
        }
    },

    watch: {
        values()
        {
            this.lazyValue = this.values
        }
    },

    created()
    {
        this.lazyValue = this.values
    },

    methods: {
        onChangeRange( val )
        {
            this.lazyValue = val
            this.$emit( "change", val[ 0 ] === this.data.min && val[ 1 ] === this.data.max ? [] : this.lazyValue )

            if ( this.$refs.content && process.client )
            {
                this.$emit( "show", window.pageYOffset + this.$refs.content.getBoundingClientRect().top + 33 )
            }
        },

        onChangeCheckbox( id, val )
        {
            if ( val )
            {
                this.lazyValue.push( id )
            }
            else
            {
                const index = this.lazyValue.indexOf( id )
                if ( index > -1 )
                {
                    this.lazyValue.splice( index, 1 )
                }
            }

            this.$emit( "change", this.lazyValue )
        }
    }
}
</script>

<style lang="scss" module>
.scroll {
    max-height: 100%;

    &._active {
        max-height: 366px;

        @screen 2xl {
            max-height: 449px;
        }
    }

    :global(.scrollbar) {
        @apply my-6 2xl:my-8;
    }
}

.title {
    @apply flex items-center;
}
</style>
