<template>
    <div :class="$style.FilterCheckbox">
        <a
            v-if="isBrand"
            :href="url"
            class="pointer-events-none"
        >
            <ACheckbox
                :value="value"
                class="pointer-events-auto"
                @change="onChange"
            >
                <div ref="row" class="flex items-center flex-1">
                    <t :class="$style.checkboxText">
                        {{ name }}
                    </t>

                    <div
                        v-if="count"
                        :class="$style.count"
                    >
                        [{{ count }}]
                    </div>
                </div>
            </ACheckbox>
        </a>

        <ACheckbox
            v-else
            :value="value"
            @change="onChange"
        >
            <div ref="row" class="flex items-center flex-1">
                <t :class="$style.checkboxText">
                    {{ name }}
                </t>

                <div
                    v-if="count"
                    :class="$style.count"
                >
                    [{{ count }}]
                </div>
            </div>
        </ACheckbox>
    </div>
</template>

<script>
import { filterToUrl } from "@/lib/url"

export default {
    props: {
        name: {
            type   : String,
            default: ""
        },

        count: {
            type   : [ Number, String ],
            default: 0
        },

        values: {
            type   : Object,
            default: () => {}
        },

        id: {
            type   : Number,
            default: 0
        },

        primary: {
            type   : Object,
            default: () => {}
        },

        props: {
            type   : Array,
            default: () => []
        },

        baseUrl: {
            type   : String,
            default: ""
        },

        data: {
            type   : Object,
            default: () => {}
        },

        lazyValue: {
            type   : Array,
            default: () => []
        },

        isBrand: Boolean,
        checked: Boolean
    },

    data()
    {
        return {
            value    : this.checked,
            newValues: {},
            url      : ""
        }
    },

    watch: {
        checked()
        {
            this.value = this.checked
        }
    },

    mounted()
    {
        if ( this.values )
        {
            this.updateUrl()
        }
    },

    methods: {
        onChange( e )
        {
            this.value = e
            this.$emit( "change", e )

            if ( this.$refs.row && process.client )
            {
                this.$emit( "show", window.pageYOffset + this.$refs.row.getBoundingClientRect().top )
            }
        },

        updateUrl()
        {
            this.newValues = JSON.parse( JSON.stringify( this.values ) )

            const newVal = JSON.parse( JSON.stringify( this.lazyValue ) )
            if ( !this.lazyValue.includes( this.id ) )
            {
                newVal.push( this.id )
            }

            if ( this.isBrand )
            {
                this.newValues.brand = newVal
            }
            else
            {
                this.newValues[ this.data.type ] = { ...this.values[ this.data.type ], ...{ [ this.data.id ]: newVal } }
            }

            this.url = filterToUrl( {
                url    : this.baseUrl,
                values : this.newValues,
                primary: this.primary,
                props  : this.props,
                query  : {
                    has_discount: this.values?.has_discount || null,
                    in_stock    : this.values?.in_stock || null,
                    back_order  : this.values?.back_order || null
                }
            } )
        }
    }
}
</script>

<style lang="scss" module>
.FilterCheckbox {
    @apply block pt-6 last:pb-6 pr-4;
    transition: background-color .3s ease;
    cursor: pointer;
    user-select: none;

    @screen 2xl {
        @apply first:pt-8 last:pb-8;
    }
}

.checkboxText {
    @apply text-text-main leading-none ml-6 mr-4 leading-tight text-16 2xl:text-18;
    transform: translateY(1px);
}

.count {
    @apply h-8 text-gray-400 leading-none 2xl:text-16;
    display: flex;
    align-items: center;
}
</style>
