<template>
    <div>
        <div class="-m-2 flex items-center flex-wrap md:hidden">
            <div :class="$style.tag">
                <t class="block text">
                    Категории:
                </t>
            </div>

            <div
                v-for="(item, i) in formattedCategories"
                :key="`categories-1-${i}`"
                :class="$style.tag"
            >
                <AButton
                    design="filter-tag"
                    :link="link( item.fslug )"
                >
                    {{ item.title }}

                    <mark>
                        [{{ item.productCount }}]
                    </mark>
                </AButton>
            </div>

            <div :class="$style.tag">
                <AButton
                    v-if="data && data.length > numberShown"
                    type="button"
                    design="filter-tag"
                    class="border border-primary !text-text-main !bg-white"
                    @click="categoriesOpen = !categoriesOpen"
                >
                    {{ categoriesOpen ? 'Скрыть' : 'Показать еще категории' }}
                </AButton>
            </div>
        </div>
        <div class="-m-2 hidden flex-wrap items-center md:flex">
            <div :class="$style.tag">
                <t class="block leading-none tracking-wide xl:text-16 2xl:text-18">
                    Категории:
                </t>
            </div>
            <div
                v-for="(item, i) in data"
                :key="`categories-2-${i}`"
                :class="$style.tag"
            >
                <AButton
                    design="filter-tag"
                    :link="link( item.fslug )"
                >
                    {{ item.title }}

                    <mark>
                        [{{ item.productCount }}]
                    </mark>
                </AButton>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex"
import { PRODUCT_CATEGORY } from "@/lib/url/const"

export default {
    props:
    {
        data:
        {
            type   : Array,
            default: () => { return [] }
        }
    },

    data()
    {
        return {
            categoriesOpen: false,
            numberShown   : 5
        }
    },

    computed:
    {
        ...mapGetters( "regions", [
            "regionSlug"
        ] ),

        formattedCategories()
        {
            return this.categoriesOpen ? this.data : this.data.slice( 0, this.numberShown )
        }
    },

    methods:
    {
        link( fslug )
        {
            return this.$getUrl( PRODUCT_CATEGORY, {
                fslug,
                city: this.regionSlug
            } )
        }
    }
}

</script>

<style lang="scss" module>
.tag {
    @apply p-2;
}
</style>
