<template>
    <div :class="$style.SearchPage">
        <MBreadcrumbs :data="breadcrumbs" />

        <c>
            <t type="h1" design="h1-page">
                {{ h1 }}
            </t>

            <template v-if="products && products.length && $route.query.q">
                <div :class="$style.wrap">
                    <div
                        v-for="(item, i) in products"
                        :key="`products-search-${i}`"
                        :class="$style.card"
                    >
                        <MProductCard
                            :data="item"
                            class="h-full"
                        />
                    </div>
                </div>

                <APagination
                    v-if="pages > 1 && paginationUrl"
                    :page="page"
                    :pages="pages"
                    :link="paginationUrl"
                    :serializer="paginationToUrl"
                    class="mt-8 xl:mt-12"
                />
            </template>

            <MNotFound
                v-else
                title="Товаров, соответствующих вашему запросу, не обнаружено."
                text="Пожалуйста, попробуйте поискать снова используя более популярные ключевые слова."
            />
        </c>
    </div>
</template>

<script>
import { paginationToUrl, urlToPagination } from "@/lib/url"
import { SEARCH } from "@/lib/url/const"
import { getH1, getTitle, getDescription } from "@/lib/seo"
import { meta } from "@/lib/mixins/meta"

const limit = 40

export default {
    mixins: [ meta ],

    async asyncData( { $api, query, route } )
    {
        try
        {
            const res = await $api.products.search( { limit, q: query.q } )

            let url = route.path
            const pagination = urlToPagination( url )

            url = pagination.url
            const paginationUrl = pagination.url
            const page = pagination.page
            const index = page > 1 ? "noindex, nofollow" : "index, follow"

            return {
                products: res.results,
                page,
                paginationUrl,
                index
            }
        }
        catch ( e )
        {
            console.warn( "SearchPage/asyncData: ", e )
        }
    },

    data()
    {
        return {
            breadcrumbs:
            [
                {
                    link : "",
                    title: "Результаты поиска"
                }
            ],

            products: [],
            page    : 0,
            pages   : 0,
            index   : "",

            meta: {
                title      : getTitle( SEARCH ),
                description: getDescription( SEARCH )
            }
        }
    },

    computed: {
        h1()
        {
            return getH1( SEARCH, { query: this.$route.query.q } )
        }
    },

    watch: {
        "$route.query.q": {
            async handler()
            {
                const res = await this.$api.products.search( { page: this.page, limit, q: this.$route.query.q } )
                this.products = res.results

                const pages = Math.ceil( res.count / limit )
                this.count = res.count
                this.pages = pages
            },
            deep     : true,
            immediate: true
        },

        page()
        {
            this.index = this.page > 1 ? "noindex, nofollow" : "index, follow"
        }
    },

    methods: {
        paginationToUrl( o )
        {
            return `${paginationToUrl( o )}?q=${this.$route.query.q}`
        }
    }
}
</script>

<style lang="scss" module>
.SearchPage {
    @apply pb-16 xl:pb-20 2xl:pb-24;
}

.wrap {
    @apply -mx-4 md:mx-auto flex flex-wrap relative;
}

.card {
    @apply w-1/2 border-b odd:border-r md:border-r border-stroke xl:w-1/4 2xl:w-1/5 xl:border-r;

    &:nth-child(-n + 2) {
        @apply border-t;
    }

    &:nth-child(-n + 4) {
        @apply xl:border-t;
    }

    &:nth-child(-n + 5) {
        @apply 2xl:border-t;
    }

    &:nth-child(2n + 1) {
        @apply md:border-l xl:border-l-0;
    }

    &:nth-child(4n + 1) {
        @apply xl:border-l 2xl:border-l-0;
    }

    &:nth-child(5n + 1) {
        @apply 2xl:border-l;
    }
}
</style>
