<template>
    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1453_3965)">
            <path d="M45.3125 42.1875H43.75V43.75H45.3125V42.1875Z" fill="#0E1F3D" />
            <path d="M42.1875 42.1875H40.625V43.75H42.1875V42.1875Z" fill="#0E1F3D" />
            <path d="M39.0625 42.1875H37.5V43.75H39.0625V42.1875Z" fill="#0E1F3D" />
            <path d="M47.6562 31.25H19.5312C19.0625 31.25 18.75 31.5625 18.75 32.0312V49.2188C18.75 49.6875 19.0625 50 19.5312 50H47.6562C48.125 50 48.4375 49.6875 48.4375 49.2188V32.0312C48.4375 31.5625 48.125 31.25 47.6562 31.25ZM20.3125 35.9375H46.875V39.0625H20.3125V35.9375ZM46.875 32.8125V34.375H20.3125V32.8125H46.875ZM20.3125 48.4375V40.625H46.875V48.4375H20.3125Z" fill="#0E1F3D" />
            <path d="M16.4062 48.4375H4.6875V1.5625H23.4375V28.9062C23.4375 29.375 23.75 29.6875 24.2188 29.6875C24.6875 29.6875 25 29.375 25 28.9062V27.3438H27.3438C29.5312 27.3438 31.25 25.625 31.25 23.4375V6.25C31.25 4.0625 29.5312 2.34375 27.3438 2.34375H25V0.78125C25 0.3125 24.6875 0 24.2188 0H3.90625C3.4375 0 3.125 0.3125 3.125 0.78125V2.34375H0.78125C0.3125 2.34375 0 2.65625 0 3.125V26.5625C0 27.0312 0.3125 27.3438 0.78125 27.3438H3.125V49.2188C3.125 49.6875 3.4375 50 3.90625 50H16.4062C16.875 50 17.1875 49.6875 17.1875 49.2188C17.1875 48.75 16.875 48.4375 16.4062 48.4375ZM29.6875 6.25V23.4375C29.6875 24.4531 29.0625 25.3125 28.125 25.625V4.0625C29.0625 4.375 29.6875 5.23438 29.6875 6.25ZM26.5625 3.90625V25.7812H25V3.90625H26.5625ZM1.5625 25.7812V3.90625H3.125V25.7812H1.5625Z" fill="#0E1F3D" />
            <path d="M7.8125 3.125H6.25V4.6875H7.8125V3.125Z" fill="#0E1F3D" />
            <path d="M10.9375 3.125H9.375V4.6875H10.9375V3.125Z" fill="#0E1F3D" />
            <path d="M14.0625 3.125H12.5V4.6875H14.0625V3.125Z" fill="#0E1F3D" />
            <path d="M21.875 7.03125C21.875 6.5625 21.5625 6.25 21.0938 6.25H7.03125C6.5625 6.25 6.25 6.5625 6.25 7.03125V21.875C6.25 22.3438 6.5625 22.6562 7.03125 22.6562H21.0938C21.5625 22.6562 21.875 22.3438 21.875 21.875V7.03125ZM20.3125 21.0938H7.8125V7.8125H20.3125V21.0938Z" fill="#0E1F3D" />
            <path d="M21.875 25C21.875 24.5312 21.5625 24.2188 21.0938 24.2188H7.03125C6.5625 24.2188 6.25 24.5312 6.25 25C6.25 25.4688 6.5625 25.7812 7.03125 25.7812H21.0938C21.5625 25.7812 21.875 25.4688 21.875 25Z" fill="#0E1F3D" />
            <path d="M16.4062 45.3125H7.03125C6.5625 45.3125 6.25 45.625 6.25 46.0938C6.25 46.5625 6.5625 46.875 7.03125 46.875H16.4062C16.875 46.875 17.1875 46.5625 17.1875 46.0938C17.1875 45.625 16.875 45.3125 16.4062 45.3125Z" fill="#0E1F3D" />
            <path d="M10.1562 27.3438H8.59375V28.9062H10.1562V27.3438Z" fill="#0E1F3D" />
            <path d="M13.2812 27.3438H11.7188V28.9062H13.2812V27.3438Z" fill="#0E1F3D" />
            <path d="M16.4062 27.3438H14.8438V28.9062H16.4062V27.3438Z" fill="#0E1F3D" />
            <path d="M19.5312 27.3438H17.9688V28.9062H19.5312V27.3438Z" fill="#0E1F3D" />
            <path d="M10.1562 30.4688H8.59375V32.0312H10.1562V30.4688Z" fill="#0E1F3D" />
            <path d="M13.2812 30.4688H11.7188V32.0312H13.2812V30.4688Z" fill="#0E1F3D" />
            <path d="M16.4062 30.4688H14.8438V32.0312H16.4062V30.4688Z" fill="#0E1F3D" />
            <path d="M10.1562 33.5938H8.59375V35.1562H10.1562V33.5938Z" fill="#0E1F3D" />
            <path d="M13.2812 33.5938H11.7188V35.1562H13.2812V33.5938Z" fill="#0E1F3D" />
            <path d="M16.4062 33.5938H14.8438V35.1562H16.4062V33.5938Z" fill="#0E1F3D" />
            <path d="M10.1562 36.7188H8.59375V38.2812H10.1562V36.7188Z" fill="#0E1F3D" />
            <path d="M13.2812 36.7188H11.7188V38.2812H13.2812V36.7188Z" fill="#0E1F3D" />
            <path d="M16.4062 36.7188H14.8438V38.2812H16.4062V36.7188Z" fill="#0E1F3D" />
            <path d="M10.1562 39.8438H8.59375V41.4062H10.1562V39.8438Z" fill="#0E1F3D" />
            <path d="M13.2812 39.8438H11.7188V41.4062H13.2812V39.8438Z" fill="#0E1F3D" />
        </g>
        <defs>
            <clipPath id="clip0_1453_3965">
                <rect width="50" height="50" fill="white" />
            </clipPath>
        </defs>
    </svg>
</template>
