<template>
    <svg width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M25.0297 6.9418H23.8809V1.875C23.8809 1.61602 23.675 1.41016 23.416 1.41016H12.4324C12.1734 1.41016 11.9676 1.61602 11.9676 1.875V6.93516H10.8188C9.68984 6.93516 8.77344 7.85156 8.77344 8.98047V30.5359C8.77344 31.6648 9.68984 32.5812 10.8188 32.5812H25.0297C26.1586 32.5812 27.075 31.6648 27.075 30.5359V8.98711C27.0816 7.8582 26.1586 6.9418 25.0297 6.9418ZM12.8973 2.33984H22.9512V7.4V11.4242H12.8973V7.40664V2.33984ZM26.152 30.5426C26.152 31.1602 25.6473 31.6582 25.0363 31.6582H10.8188C10.2012 31.6582 9.70312 31.1602 9.70312 30.5426V8.98711C9.70312 8.36953 10.2078 7.87148 10.8188 7.87148H11.9676V11.4242H11.3766C11.1176 11.4242 10.9117 11.6301 10.9117 11.8891C10.9117 12.148 11.1176 12.3539 11.3766 12.3539H12.4324H23.416H24.7242C24.9832 12.3539 25.1891 12.148 25.1891 11.8891C25.1891 11.6301 24.9832 11.4242 24.7242 11.4242H23.8809V7.87148H25.0297C25.6473 7.87148 26.1453 8.37617 26.1453 8.98711V30.5426H26.152Z" fill="#404356" />
        <path d="M24.7238 14.1133H11.3828C11.1238 14.1133 10.918 14.3191 10.918 14.5781V18.7285C10.918 18.9875 11.1238 19.1934 11.3828 19.1934H24.7238C24.9828 19.1934 25.1887 18.9875 25.1887 18.7285V14.5781C25.1887 14.3191 24.9828 14.1133 24.7238 14.1133ZM24.259 18.2637H11.8477V15.043H24.259V18.2637Z" fill="#404356" />
        <path d="M14.7911 20.8203H12.0352C11.7762 20.8203 11.5703 21.0262 11.5703 21.2852V24.041C11.5703 24.3 11.7762 24.5059 12.0352 24.5059H14.7911C15.0501 24.5059 15.256 24.3 15.256 24.041V21.2852C15.256 21.0262 15.0435 20.8203 14.7911 20.8203ZM14.3263 23.5762H12.5V21.75H14.3263V23.5762Z" fill="#404356" />
        <path d="M19.3066 20.8203H16.5508C16.2918 20.8203 16.0859 21.0262 16.0859 21.2852V24.041C16.0859 24.3 16.2918 24.5059 16.5508 24.5059H19.3066C19.5656 24.5059 19.7715 24.3 19.7715 24.041V21.2852C19.7715 21.0262 19.559 20.8203 19.3066 20.8203ZM18.8418 23.5762H17.0156V21.75H18.8418V23.5762Z" fill="#404356" />
        <path d="M23.8223 20.8203H21.0664C20.8074 20.8203 20.6016 21.0262 20.6016 21.2852V24.041C20.6016 24.3 20.8074 24.5059 21.0664 24.5059H23.8223C24.0812 24.5059 24.2871 24.3 24.2871 24.041V21.2852C24.2871 21.0262 24.0746 20.8203 23.8223 20.8203ZM23.3574 23.5762H21.5312V21.75H23.3574V23.5762Z" fill="#404356" />
        <path d="M14.7911 26.1328H12.0352C11.7762 26.1328 11.5703 26.3387 11.5703 26.5977V29.3535C11.5703 29.6125 11.7762 29.8184 12.0352 29.8184H14.7911C15.0501 29.8184 15.256 29.6125 15.256 29.3535V26.5977C15.256 26.3387 15.0435 26.1328 14.7911 26.1328ZM14.3263 28.8887H12.5V27.0625H14.3263V28.8887Z" fill="#404356" />
        <path d="M19.3066 26.1328H16.5508C16.2918 26.1328 16.0859 26.3387 16.0859 26.5977V29.3535C16.0859 29.6125 16.2918 29.8184 16.5508 29.8184H19.3066C19.5656 29.8184 19.7715 29.6125 19.7715 29.3535V26.5977C19.7715 26.3387 19.559 26.1328 19.3066 26.1328ZM18.8418 28.8887H17.0156V27.0625H18.8418V28.8887Z" fill="#404356" />
        <path d="M23.8223 26.1328H21.0664C20.8074 26.1328 20.6016 26.3387 20.6016 26.5977V29.3535C20.6016 29.6125 20.8074 29.8184 21.0664 29.8184H23.8223C24.0812 29.8184 24.2871 29.6125 24.2871 29.3535V26.5977C24.2871 26.3387 24.0746 26.1328 23.8223 26.1328ZM23.3574 28.8887H21.5312V27.0625H23.3574V28.8887Z" fill="#404356" />
    </svg>
</template>
