<template>
    <div :class="$style.FormResult">
        <div class="w-[12rem] h-[12rem] mb-8 2xl:mb-12 ml-auto mr-auto rounded-full flex items-center justify-center bg-primary text-white md:w-[16rem] md:h-[16rem]">
            <IconChecked
                v-if="result === 'success'"
                :class="[$style.icon, $style.success]"
            />
            <IconCloseThin
                v-else
                :class="$style.icon"
            />
        </div>

        <t
            type="h4"
            class="text-[20px] 2xl:text-[24px] leading-tight text-text-main font-medium mb-4 2xl:mb-6"
        >
            {{ result === 'success' ? 'Спасибо!' : 'Ошибка' }}
        </t>

        <t type="p" class="text-text-low leading-tight 2xl:text-[16px]">
            {{ result === 'success' ? successText : errorText }}
        </t>
    </div>
</template>

<script>
export default {
    props: {
        result: {
            type   : String,
            default: ""
        },

        successText: {
            type   : String,
            default: "Ваше обращение принято, с Вами свяжется наш менеджер для консультации."
        },

        errorText: {
            type   : String,
            default: "Произошла ошибка."
        }
    }
}
</script>

<style lang="scss" module>
.FormResult {
    @apply font-gotham text-center;
    width: calc(100vw - 2rem);
    max-width: 41rem;

    @screen 2xl {
        max-width: 50rem;
    }
}

.icon {
    @apply w-[6.4rem] h-[6.4rem];

    @screen md {
        @apply w-[8.6rem] h-[8.6rem];
    }

    &.success {
        transform: translate(2px, 4px);
    }
}
</style>
