<template>
    <div :class="$style.FilterBrands">
        <t type="h2" design="h2" class="mb-6 md:mb-8">
            Бренды
        </t>

        <div :class="$style.wrap">
            <div ref="prev" class="mr-4 hidden md:block">
                <AButton
                    type="button"
                    design="slider"
                >
                    <IconArrow class="rotate-90" />
                </AButton>
            </div>

            <div
                ref="slider"
                :class="$style.slider"
            >
                <div
                    :class="$style.sliderWrapper"
                    class="swiper-wrapper"
                >
                    <AButton
                        v-for="(slide, i) in slides"
                        :key="`slider-1-${i}`"
                        design="custom"
                        class="swiper-slide"
                        :link="link(slide.fslug)"
                    >
                        <div :class="$style.image">
                            <BaseImage
                                v-if="slide.image && slide.image.imageSrc"
                                class="object-contain"
                                :src="slide.image.imageSrc"
                                :ext="slide.image.imageTypes"
                            />
                        </div>
                    </AButton>
                </div>
            </div>

            <div ref="next" class="ml-4 hidden md:block">
                <AButton
                    type="button"
                    design="slider"
                >
                    <IconArrow class="-rotate-90" />
                </AButton>
            </div>

            <div ref="scrollbar" class="swiper-scrollbar md:hidden" />
        </div>
    </div>
</template>

<script>
import Swiper from "swiper"
import { BRAND } from "@/lib/url/const"

export default {
    props: {
        slides: {
            type   : Array,
            default: () => []
        },

        isMain: Boolean
    },

    data()
    {
        return {
            slider: null
        }
    },

    mounted()
    {
        this.slider = new Swiper( this.$refs.slider, {
            slidesPerView: 3,
            spaceBetween : 0,
            loop         : true,
            scrollbar    : {
                el       : ".swiper-scrollbar",
                draggable: true
            },
            navigation: {
                prevEl       : this.$refs?.prev,
                nextEl       : this.$refs?.next,
                disabledClass: "is-disabled"
            },
            breakpoints: {
                320: {
                    slidesPerView: 3,
                    spaceBetween : 0
                },
                768: {
                    slidesPerView: 4,
                    spaceBetween : 0
                },
                1280: {
                    slidesPerView: 6,
                    spaceBetween : 0
                },
                1800: {
                    slidesPerView: 8,
                    spaceBetween : 0
                }
            }
        } )
    },

    methods: {
        link( fslug )
        {
            return this.$getUrl( BRAND, { fslug } )
        }
    }
}
</script>

<style lang="scss" module>
.FilterBrands {
    :global(.swiper-slide) {
        @apply relative last:border-r-0 border-background;

        &:last-child {
            &:before {
                @apply hidden;
            }
        }

        &:before {
            @apply absolute -right-px w-[2px] h-full bg-background z-10;
            content: "";
        }
    }

    :global(.swiper-scrollbar) {
        @apply static mt-6 md:mt-8 2xl:mt-12 h-[2px] md:h-[4px] rounded-none;
    }

    :global(.swiper-scrollbar-drag) {
        @apply bg-primary;
    }

    :global(.swiper-scrollbar-drag) {
        @apply rounded-none cursor-pointer;
    }
}

.wrap {
    @apply relative md:flex items-center;
}

.slider {
    @apply relative border-t-[2px] border-b-[2px] border-background overflow-hidden;

    &:before,
    &:after {
        @apply absolute top-0 z-10 w-[2px] h-full bg-background;
        content: "";
    }

    &:before {
        @apply left-0;
    }

    &:after {
        @apply right-0;
    }
}

.image {
    width: 100%;
    overflow: hidden;
    @apply bg-white min-h-[6rem];
    @apply flex items-center justify-center border-r-0 md:px-6;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        @apply w-[9rem] md:w-[12rem];
    }
}
</style>
