<template>
    <div :class="$style.accordion">
        <AAccordion icon="arrow" design="filter">
            <template #key>
                <div>Filter</div>
            </template>

            <template #content>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda blanditiis dicta, error eum id ipsum magnam nihil nostrum obcaecati perspiciatis porro quibusdam, sit. Accusamus aliquid amet animi beatae cum cumque eius eum eveniet excepturi facere hic magnam maxime molestiae natus, necessitatibus nisi non omnis perferendis placeat quia recusandae rem reprehenderit rerum similique sint soluta veritatis! Deserunt et id natus nobis omnis perferendis veritatis vero. A aperiam cum dignissimos, distinctio, dolorem dolores ea eius facere iste laboriosam maiores nulla perferendis possimus provident quisquam quod rerum voluptates. Consectetur consequatur dicta doloremque eaque, eligendi facilis, iusto laboriosam, magni quisquam sapiente similique veniam!</p>
            </template>
        </AAccordion>

        <AAccordion design="product">
            <template #key>
                <div>Product</div>
            </template>

            <template #content>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda blanditiis dicta, error eum id ipsum magnam nihil nostrum obcaecati perspiciatis porro quibusdam, sit. Accusamus aliquid amet animi beatae cum cumque eius eum eveniet excepturi facere hic magnam maxime molestiae natus, necessitatibus nisi non omnis perferendis placeat quia recusandae rem reprehenderit rerum similique sint soluta veritatis! Deserunt et id natus nobis omnis perferendis veritatis vero. A aperiam cum dignissimos, distinctio, dolorem dolores ea eius facere iste laboriosam maiores nulla perferendis possimus provident quisquam quod rerum voluptates. Consectetur consequatur dicta doloremque eaque, eligendi facilis, iusto laboriosam, magni quisquam sapiente similique veniam!</p>
            </template>
        </AAccordion>

        <AAccordion design="faq">
            <template #key>
                <div>Faq</div>
            </template>

            <template #content>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda blanditiis dicta, error eum id ipsum magnam nihil nostrum obcaecati perspiciatis porro quibusdam, sit. Accusamus aliquid amet animi beatae cum cumque eius eum eveniet excepturi facere hic magnam maxime molestiae natus, necessitatibus nisi non omnis perferendis placeat quia recusandae rem reprehenderit rerum similique sint soluta veritatis! Deserunt et id natus nobis omnis perferendis veritatis vero. A aperiam cum dignissimos, distinctio, dolorem dolores ea eius facere iste laboriosam maiores nulla perferendis possimus provident quisquam quod rerum voluptates. Consectetur consequatur dicta doloremque eaque, eligendi facilis, iusto laboriosam, magni quisquam sapiente similique veniam!</p>
            </template>
        </AAccordion>

        <AAccordion design="footer">
            <template #key>
                Footer
            </template>

            <template #content>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda blanditiis dicta, error eum id ipsum magnam nihil nostrum obcaecati perspiciatis porro quibusdam, sit. Accusamus aliquid amet animi beatae cum cumque eius eum eveniet excepturi facere hic magnam maxime molestiae natus, necessitatibus nisi non omnis perferendis placeat quia recusandae rem reprehenderit rerum similique sint soluta veritatis! Deserunt et id natus nobis omnis perferendis veritatis vero. A aperiam cum dignissimos, distinctio, dolorem dolores ea eius facere iste laboriosam maiores nulla perferendis possimus provident quisquam quod rerum voluptates. Consectetur consequatur dicta doloremque eaque, eligendi facilis, iusto laboriosam, magni quisquam sapiente similique veniam!</p>
            </template>
        </AAccordion>

        <AAccordion design="custom">
            <template #key>
                Custom
            </template>

            <template #content>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda blanditiis dicta, error eum id ipsum magnam nihil nostrum obcaecati perspiciatis porro quibusdam, sit. Accusamus aliquid amet animi beatae cum cumque eius eum eveniet excepturi facere hic magnam maxime molestiae natus, necessitatibus nisi non omnis perferendis placeat quia recusandae rem reprehenderit rerum similique sint soluta veritatis! Deserunt et id natus nobis omnis perferendis veritatis vero. A aperiam cum dignissimos, distinctio, dolorem dolores ea eius facere iste laboriosam maiores nulla perferendis possimus provident quisquam quod rerum voluptates. Consectetur consequatur dicta doloremque eaque, eligendi facilis, iusto laboriosam, magni quisquam sapiente similique veniam!</p>
            </template>
        </AAccordion>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" module>
.accordion {
    //
}
</style>
