<template>
    <div class="p-12">
        <MBrandCard :data="brand" />
    </div>
</template>

<script>
export default {
    data()
    {
        return {
            brand: {
                id   : 2,
                name : "АНТЕЙ",
                fslug: "antei",
                count: 3,
                image: {
                    imageSrc  : "/media/upload/product/%D0%9D000/%D0%9D00000243_B1emycC",
                    imageTypes: [
                        "jpg",
                        "webp"
                    ]
                },
                description: ""
            }
        }
    }
}
</script>

<style lang="scss" module>

</style>
