<template>
    <div :class="$style.buttons">
        Red Common
        <AButton
            type="button"
            design="red-common"
            size="lg"
            class="text-[16px] mt-4"
        >
            Посмотреть продукцию
        </AButton>

        Red Common Inverse
        <AButton
            type="button"
            design="red-common"
            inverse
            size="lg"
            class="text-[16px] mt-4"
        >
            Посмотреть продукцию
        </AButton>

        Gray Common
        <AButton
            type="button"
            design="gray-common"
            size="lg"
            class="text-[16px] mt-4"
        >
            Посмотреть продукцию
        </AButton>

        Light Blue Common
        <AButton
            type="button"
            design="light-blue-common"
            size="lg"
            class="text-[16px] mt-4"
        >
            Посмотреть продукцию
        </AButton>

        Blue Common
        <AButton
            type="button"
            design="blue-common"
            size="lg"
            class="text-[16px] mt-4"
        >
            Посмотреть продукцию
        </AButton>

        Blue Common Inverse
        <AButton
            type="button"
            design="blue-common"
            inverse
            size="lg"
            class="text-[16px] mt-4"
        >
            Посмотреть продукцию
        </AButton>

        Service card
        <AButton
            type="button"
            design="service-card"
            size="lg"
            class="text-[16px] mt-4"
        >
            Посмотреть продукцию
        </AButton>

        Link
        <AButton
            type="button"
            design="link"
            class="text-[16px] mt-4"
        >
            Посмотреть продукцию
        </AButton>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" module>
.buttons {
    padding: 30px 60px;

    button,
    a {
        margin-bottom: 30px;
        max-width: max-content;
    }
}
</style>
