<template>
    <div :class="$style.car">
        <div class="py-[70rem]">
            <c>
                Horizontal car
            </c>

            <OCar
                class="py-24"
                :marks="['Москва', 'Средняя полоса', 'Сибирь', 'Урал', 'Дальний восток', 'Казахстан']"
            />
        </div>

        <div class="py-[40rem]">
            <c>
                Vertical car
            </c>

            <div class="flex justify-center h-[60rem]">
                <OCar
                    design="vertical"
                />
            </div>
        </div>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" module>
.car {
    @apply bg-background;
}
</style>
