<template>
    <div :class="$style.checkboxes">
        <div>Checkbox primary</div>

        <ACheckbox
            v-input
            :value="value"
            class="mt-6 mb-12"
            @change="value = $event"
        />

        <div>Checkbox secondary disabled</div>

        <ACheckbox
            v-input
            disabled
            :value="value2"
            class="mt-6"
            @change="value2 = $event"
        >
            <span class="ml-4 text-[12px] leading-none">Я принимаю условия политики конфиденциальности</span>
        </ACheckbox>
    </div>
</template>

<script>
export default {
    data()
    {
        return {
            value : false,
            value2: false
        }
    }
}
</script>

<style lang="scss" module>
.checkboxes {
    padding: 30px;
}
</style>
