<template>
    <div :class="$style.container">
        <C class="py-20">
            Container white-common
        </C>

        <br>

        <C design="blue-common">
            <div class="py-20">
                Container blue-common
            </div>
        </C>

        <br>

        <C design="blue-right">
            <div class="py-20">
                Container blue-right
            </div>
        </C>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" module>
.container {
    //
}
</style>
