<template>
    <div :class="$style.counters">
        <span>Counter Primary</span>
        <div class="bg-brown">
            <ACounter
                :value="counter"
                @change="counter = $event"
            />
        </div>

        <br>

        <span>Counter Secondary</span>
        <ACounter
            design="secondary"
            :value="counter"
            @change="counter = $event"
        />
    </div>
</template>

<script>
export default {
    data()
    {
        return {
            counter: 1
        }
    }
}
</script>

<style lang="scss" module>
.counters {
    padding: 30px;

    span {
        display: block;
        margin-bottom: 10px;
    }
}
</style>
