<template>
    <div :class="$style.forms">
        <c>
            <div class="bg-blue-800 py-8">
                <p class="mt-12 mb-6 text-white">
                    Subscribe Form
                </p>
                <FormSubscribe />
            </div>

            <FormFeedback class="mt-20" />

            <p class="mt-12 mb-12">
                Modals
            </p>
            <div @click="$modal.open(callbackForm)">
                callback form
            </div>
            <div @click="$modal.open(oneClickForm)">
                buy one click form
            </div>
        </c>

        <MModal :id="callbackForm" placement="full">
            <FormCallback />
        </MModal>

        <MModal :id="oneClickForm">
            <FormOneClick :product="product" />
        </MModal>
    </div>
</template>

<script>
import { getRandomId } from "@/lib/utilsDom"

export default {
    data()
    {
        return {
            callbackForm: getRandomId(),
            oneClickForm: getRandomId(),

            cheaperProductForm: getRandomId(),
            sendDocForm       : getRandomId(),

            product:
                {
                    id   : 172,
                    title: "Счетчик тепла Пульсар квартирный механический Ду20 qp=2,5 куб.м/час обратный с RS 485",
                    type : "simple",
                    pros : [
                        "Измерение тепловой энергии и энергии охлаждения",
                        "Cделано в России",
                        "Гарантия 6 лет",
                        "Межповерочный интервал 6 лет",
                        "Высокоточное измерение разницы температур от 0,25 °С — подходит для квартир-студий",
                        "Учет тепла в Гкал, дисплей на русском языке",
                        "Компактные размеры, съемный вычислитель",
                        "Сенсорная кнопка",
                        "Функция самодиагностики"
                    ],
                    categories: {
                        root : 39,
                        bound: [
                            132,
                            141,
                            135,
                            128,
                            145,
                            138,
                            130,
                            142,
                            140,
                            146,
                            150,
                            125,
                            133,
                            147,
                            144,
                            129,
                            126,
                            127,
                            143,
                            139,
                            136,
                            149,
                            137,
                            148,
                            131,
                            134
                        ],
                        shown: [
                            19,
                            132,
                            141,
                            135,
                            128,
                            145,
                            138,
                            130,
                            142,
                            28,
                            140,
                            146,
                            39,
                            150,
                            125,
                            133,
                            147,
                            144,
                            129,
                            126,
                            127,
                            143,
                            139,
                            136,
                            149,
                            137,
                            148,
                            131,
                            134
                        ]
                    },
                    fields: {
                        code: {
                            name : "Код товара",
                            value: "PLSR-36078819"
                        },
                        sku: {
                            name : "Артикул",
                            value: "Н00004574"
                        },
                        brand: {
                            name : "Бренд",
                            value: "Тепловодохран",
                            fslug: "teplovodohran"
                        },
                        props: [
                            {
                                propId: 11,
                                name  : "Давление",
                                id    : 3,
                                value : "1.0 МПа"
                            },
                            {
                                propId: 13,
                                name  : "Диаметр, DN",
                                id    : 56,
                                value : "20.0 мм"
                            },
                            {
                                propId: 64,
                                name  : "Макс.температура, С",
                                id    : 11,
                                value : "105.0 °С"
                            }
                        ]
                    },
                    image: {
                        imageSrc  : "/media/upload/product/%D0%9D000/%D0%9D00004578-1_XmjmeDq",
                        imageTypes: [
                            "jpg",
                            "webp"
                        ]
                    },
                    data: {
                        basePrice      : 14187.71,
                        price          : 11187.71,
                        discount       : 28.0,
                        currency       : "Рубль",
                        stockStatusCode: "in_stock",
                        stockStatus    : "В наличии",
                        isHit          : false,
                        isNew          : false
                    },
                    fslug: "teploschetchik-mehanicheskiy-pulsar-du20-obratnyy-s-rs-485"
                }
        }
    }
}
</script>

<style lang="scss" module>
.forms {
    padding-top: 30px;
}
</style>
