<template>
    <div>
        <AButton
            v-if="region"
            design="custom"
            type="button"
            class="flex items-center"
            @click="$modal.open(regionsModal)"
        >
            <T class="mr-1 font-medium 2xl:mr-3">
                Ваш город:
            </T>
            <T class="border-b border-dashed border-primary font-medium mr-2 text-primary">
                {{ region.title }}
            </T>
        </AButton>

        <MModal :id="regionsModal">
            <ORegions @change="$modal.close(regionsModal)" />
        </MModal>

        <ul>
            <li
                v-for="( item, i ) of menu"
                :key="`menu-item-${i}`"
            >
                <nuxt-link :to="item.link">
                    {{ item.title }}
                </nuxt-link>
            </li>
        </ul>
    </div>
</template>

<script>
import { mapState } from "vuex"
import { getRandomId } from "@/lib/utilsDom"

export default {
    data()
    {
        return {
            items       : [],
            menu        : [],
            regionsModal: getRandomId()
        }
    },

    computed: {
        ...mapState( "regions", [
            "region"
        ] )
    },

    created()
    {
        this.$router.options.routes.forEach( route => this.items.push( { name: route.name, path: route.path } ) )
        this.menu = this.items.map( ( x, i ) => { return { link: x.path, title: x.name } } )
    }
}
</script>
