<template>
    <div :class="$style.inputs">
        <div>
            <div>Input primary</div>
            <AInput
                class="w-full md:w-[34rem] mt-6 mb-12"
                :value="phone"
                placeholder="Телефон"
                :required="true"
                @change="phone = $event"
            />

            <div>Input secondary</div>
            <AInput
                :value="name"
                design="secondary"
                class="w-full md:w-[34rem] mt-6 mb-12"
                placeholder="Введите имя"
                :required="true"
                @change="name = $event"
            />

            <div>Input primary error</div>
            <AInput
                class="w-full md:w-[34rem] mt-6 mb-12"
                :value="phone1"
                placeholder="Телефон"
                :required="true"
                error="Некорректно введен номер"
                @change="phone1 = $event"
            />

            <div>Input file</div>
            <AFileInput
                class="w-full md:w-[34rem] mt-6 mb-12"
                :formats="['image/jpeg', 'image/png']"
                multiple
                :error="errors.file"
                @error="errors.file = $event"
                @change="onFileChange"
            />
        </div>
    </div>
</template>

<script>
export default {
    data()
    {
        return {
            name  : null,
            phone : null,
            phone1: null,
            files : null,

            errors: {
                file: ""
            }
        }
    },

    methods: {
        onFileChange( e )
        {
            this.errors.file = ""
            this.files = e
        }
    }
}
</script>

<style lang="scss" module>
.inputs {
    padding: 30px;
}
</style>
