<template>
    <div class="container mx-auto">
        #ol
        <AList customattr="wtf" type="ol" design="none" class="my-5" :class="['dynamicwtf', 'dynamic']">
            <template #after>
                &rarr; after
            </template>
            <template #before>
                &rarr; before
            </template>
            <ListItem v-for="index in 5" :key="index">
                ol-{{ index }}
            </ListItem>
        </AList>

        #square
        <AList design="square" class="my-5">
            <template #after>
                &rarr; after
            </template>
            <template #before>
                &rarr; before
            </template>
            <ListItem v-for="index in 5" :key="index">
                li-{{ index }}
            </ListItem>
        </AList>
    </div>
</template>
<script>

export default {}
</script>
