<template>
    <div :class="$style.modals" class="p-20">
        <div @click="$modal.open(centerModal)">
            Open modal
        </div>

        <MModal
            :id="centerModal"
        >
            <div class="xl:w-[43rem] 2xl:w-[52rem] p-8 pt-16 md:p-12 md:pt-20 2xl:p-20 2xl:pt-24">
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur dicta fugit incidunt, iusto libero non odio porro praesentium quas, quasi temporibus, voluptate. Accusamus autem eaque exercitationem iure temporibus. Ab accusamus aliquid aperiam aspernatur, assumenda aut consequatur corporis cupiditate doloribus eaque eius eos error et ex explicabo facere, fugit hic id illo inventore iure laboriosam laudantium magni molestiae necessitatibus nemo nesciunt nisi nulla obcaecati pariatur porro quae quasi qui repudiandae saepe sapiente temporibus! Blanditiis deserunt et illum pariatur quo. Aliquam assumenda eius exercitationem necessitatibus nesciunt recusandae repellendus voluptates. Animi, blanditiis cupiditate dolore ducimus ex labore. Distinctio dolores nostrum reprehenderit. Nesciunt!
                </div>
                <AButton
                    type="button"
                    size="lg"
                    class="mt-8 w-full"
                    @click="$modal.close(centerModal)"
                >
                    Закрыть
                </AButton>
            </div>
        </MModal>
    </div>
</template>

<script>
import { getRandomId } from "@/lib/utilsDom"

export default {
    data()
    {
        return {
            centerModal: getRandomId()
        }
    }
}
</script>

<style lang="scss" module>
.modals {
    //
}
</style>
