<template>
    <div class="py-12">
        <div class="flex flex-col flex-wrap container mx-auto justify-between">
            <APagination :page="1" :pages="Math.ceil( count / 30 )" link="/root/product-cat/filter/asdasd/" />
        </div>
    </div>
</template>

<script>
export default {
    data()
    {
        return {
            count: 13580
        }
    }
}
</script>
