<template>
    <div :class="$style.productCard" class="overflow-hidden">
        <div :class="$style.c">
            <div class="mb-8">
                Common
            </div>
            <div class="flex flex-wrap border-t border-stroke mb-32">
                <MProductCard
                    v-for="(item, i) in products"
                    :key="`products-${i}`"
                    :data="item"
                    :class="$style.card"
                />
            </div>

            <div class="hidden xl:block">
                <div class="mb-8">
                    Horizontal
                </div>
                <div class="mb-32">
                    <MProductCard
                        v-for="(item, i) in products"
                        :key="`products-${i}`"
                        :data="item"
                        design="horizontal"
                        :class="$style.cardHorizontal"
                    />
                </div>
            </div>

            <div class="px-4 md:px-0">
                <div class="mb-8">
                    Slider
                </div>

                <MProductCard
                    :data="products[0]"
                    design="slider"
                    :class="$style.cardSlider"
                />
            </div>
        </div>

        <div class="mt-32 xl:w-[78.8rem] 2xl:w-[112rem]">
            <div class="mb-8">
                Cart
            </div>

            <MProductCard
                v-for="(item, i) in products"
                :key="`products-${i}`"
                :data="item"
                design="cart"
                :class="$style.cardCart"
            />
        </div>

        <div class="mt-32 xl:w-[78.8rem] 2xl:w-[112rem]">
            <div class="mb-8">
                Checkout Success
            </div>

            <MProductCard
                v-for="(item, i) in products"
                :key="`products-${i}`"
                :data="item"
                design="checkout-success"
                :class="$style.cardCart"
            />
        </div>
    </div>
</template>

<script>
export default {
    async asyncData( { $api, $axios } )
    {
        const res = await $api.products.get( {
            type: "conjoint"
        } )
        const products = res.results

        const res2 = await $api.products.get()
        const products2 = res2.results

        return {
            products: [ ...products, ...products2 ]
        }
    }
}
</script>

<style lang="scss" module>
.c {

    @screen md {
        padding: 0 2rem;
    }

    @screen xl {
        margin: 0 6rem;
        padding-left: 29rem;
    }

    @screen 2xl {
        margin: 0 13rem;
        padding-left: 32.2rem;
    }
}

.card {
    @apply w-1/2 border-b border-r border-stroke even:border-r-0 md:even:border-r md:odd:border-l xl:w-1/3;

    @screen xl {
        @apply odd:border-l-0 border-r;
    }

    @screen 2xl {
        @apply border-l-0 w-1/4;
    }

    &:nth-child(3n + 1) {
        @apply xl:border-l 2xl:border-l-0;
    }

    &:nth-child(4n + 1) {
        @apply 2xl:border-l;
    }
}

.cardHorizontal {
    @apply border-l border-r border-b first:border-t border-stroke;
}

.cardSlider {
    @apply border border-blue-100;
}
</style>
