<template>
    <div :class="$style.radiobuttons">
        <div>Radiobutton primary</div>

        <ARadioButton
            data="one"
            :value="value"
            class="mt-6 mb-12"
            @change="value = $event"
        >
            Только отличия
        </ARadioButton>

        <ARadioButton
            data="two"
            :value="value"
            class="mt-6 mb-12"
            @change="value = $event"
        >
            Все параметры
        </ARadioButton>

        <div>Radiobutton primary disabled</div>

        <ARadioButton
            disabled
            data="three"
            :value="value"
            class="mt-6 mb-12"
            @change="value = $event"
        >
            Тишина
        </ARadioButton>

        <ARadioButton
            disabled
            data="two"
            :value="value"
            class="mt-6 mb-12"
            @change="value = $event"
        >
            Все параметры
        </ARadioButton>
    </div>
</template>

<script>
export default {
    data()
    {
        return {
            value: "one"
        }
    }
}
</script>

<style lang="scss" module>
.radiobuttons {
    padding: 30px;
}
</style>
