<template>
    <div :class="$style.range">
        <c>
            <MRange
                :value="value"
                :min="min"
                :max="max"
                class="w-full md:w-[50rem]"
                @change="value = $event"
            />
        </c>
    </div>
</template>

<script>
export default {
    data()
    {
        return {
            v    : 1,
            value: [ 10.4, 12213123123000.234 ],
            min  : 10.21,
            max  : 100000000
        }
    }
}
</script>

<style lang="scss" module>
.range {
    padding: 30px 0;
}
</style>
