<template>
    <div :class="$style.selects">
        <div class="">
            <span>Select common</span>
            <ASelect
                class="w-[28rem] mt-4 mb-20"
                :value="value"
                :data="options"
                @change="onValueChange"
            />

            <span>Select common error</span>
            <ASelect
                class="w-[28rem] mt-4 mb-20"
                :value="value"
                :data="options"
                error="Поле не может быть пустым"
                @change="onValueChange"
            />

            <span>Select common multiple</span>
            <ASelect
                class="w-[28rem] mt-4 mb-20"
                :value="valueMultiple"
                :data="optionsMultiple"
                placeholder="Выберите"
                multiple
                @change="onValueChangeMultiple"
            />

            <span>Using templates</span>
            <ASelect
                class="w-full md:w-[50rem] mt-4"
                placeholder="Выберите дату доставки"
                :value="valueLabel"
                :data="optionsLabel"
                @change="onValueLabelChange"
            >
                <template #null>
                    Не выбрано
                </template>
                <template #1>
                    11 апреля, <mark>Вс</mark>
                </template>
                <template #2>
                    12 апреля, <mark>Пн</mark>
                </template>
            </ASelect>
        </div>
    </div>
</template>

<script>
export default {
    data()
    {
        return {
            value  : 0,
            options: [
                {
                    key  : 0,
                    title: "Все (15)"
                },
                {
                    key  : 1,
                    title: "Радиаторы (5)"
                },
                {
                    key  : 2,
                    title: "Сафаянс (10)"
                }
            ],
            valueMultiple  : [],
            optionsMultiple: [
                {
                    key  : 1,
                    title: "Значение 1"
                },
                {
                    key  : 2,
                    title: "Значение 2"
                },
                {
                    key  : 3,
                    title: "Значение 3"
                },
                {
                    key  : 4,
                    title: "Значение 4"
                },
                {
                    key  : 5,
                    title: "Значение 5"
                },
                {
                    key  : 6,
                    title: "Значение 6"
                },
                {
                    key  : 7,
                    title: "Значение 7"
                }
            ],
            valueLabel  : null,
            optionsLabel: [
                {
                    key  : null,
                    title: "Не выбрано"
                },
                {
                    key  : 0,
                    title: "10 апреля,&nbsp;<mark>Сб</mark>"
                },
                {
                    key  : 1,
                    title: "11 апреля,&nbsp;<mark>Вс</mark>"
                },
                {
                    key  : 2,
                    title: "12 апреля,&nbsp;<mark>Пн</mark>"
                }
            ]
        }
    },

    methods: {
        onValueChange( val )
        {
            this.value = val
        },

        onValueChangeMultiple( val )
        {
            this.valueMultiple = val
        },

        onValueLabelChange( val )
        {
            this.valueLabel = val
        }
    }
}
</script>

<style lang="scss" module>
.selects {
    padding: 30px;
}
</style>
