<template>
    <div :class="$style.showmore">
        <div>Showmore primary</div>
        <AShowmore
            title-open="Показать еще"
            title-close="Скрыть"
            class="w-[300px]"
        >
            <template #content>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem deleniti eius eum fugit iusto magni numquam officiis possimus quam reprehenderit sapiente sed similique temporibus, veniam? Ab eius hic in iste nostrum, porro saepe vero. Dicta dolore nam nesciunt officiis.
            </template>
        </AShowmore>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" module>
.showmore {
    padding: 30px;
}
</style>
