<template>
    <div :class="$style.switchers">
        <div class="mb-6">
            Switcher primary
        </div>
        <ASwitcher
            class="w-[600px] mb-12"
            :value="value4"
            :data="options4"
            @change="onValueChange4"
        >
            <template #0>
                Сертификаты
            </template>

            <template #1>
                Руководства
            </template>

            <template #2>
                <nuxt-link to="/examples/switchers/">
                    Ссылка
                </nuxt-link>
            </template>
        </ASwitcher>

        <div class="mb-6">
            Switcher secondary
        </div>
        <ASwitcher
            class="w-min mb-12"
            design="secondary"
            :value="value"
            :data="options"
            @change="onValueChange"
        >
            <template v-for="option in options" #[option.key]>
                <component
                    :is="option.title"
                    :key="option.key"
                    :class="$style.icon"
                />
            </template>
        </ASwitcher>
    </div>
</template>

<script>
export default {
    data()
    {
        return {
            value  : 0,
            options: [
                {
                    key  : 0,
                    title: "IconList"
                },
                {
                    key  : 1,
                    title: "IconCards"
                }
            ],
            value2  : 0,
            options2: [
                {
                    key  : 0,
                    title: "Сертификаты"
                },
                {
                    key  : 1,
                    title: "Руководства"
                },
                {
                    key  : 2,
                    title: "Сертификаты"
                }
            ],
            value3  : 0,
            options3: [
                {
                    key  : 0,
                    title: "IconList"
                },
                {
                    key  : 1,
                    title: "IconCards"
                }
            ],
            value4  : 0,
            options4: [
                {
                    key  : 0,
                    title: "Сертификаты"
                },
                {
                    key  : 1,
                    title: "Руководства"
                },
                {
                    key  : 2,
                    title: "Ссылка"
                }
            ]
        }
    },

    methods: {
        onValueChange( val )
        {
            this.value = val
        },

        onValueChange2( val )
        {
            this.value2 = val
        },

        onValueChange3( val )
        {
            this.value3 = val
        },

        onValueChange4( val )
        {
            this.value4 = val
        }
    }
}
</script>

<style lang="scss" module>
.switchers {
    padding: 30px;
}

.icon {
    width: auto;
    height: 18px;
}
</style>
