<template>
    <div :class="$style.tabs">
        <c>
            <div class="my-6">
                Tabs Switcher Primary
            </div>
            <MTabs
                :value="value"
                :data="options"
                class="mb-16"
                @change="onValueChange"
            >
                <template #key-0>
                    <nuxt-link to="/examples/tabs/">
                        Описание
                    </nuxt-link>
                </template>

                <template #0>
                    <div class="p-12 bg-green bg-opacity-50 mt-8">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem blanditiis consequatur culpa cumque deleniti deserunt, doloremque enim facilis harum illum ipsa ipsam labore laboriosam laborum minima modi molestiae mollitia natus necessitatibus nihil nobis praesentium provident quae reiciendis sed sint sit, sunt temporibus totam vel veritatis voluptates voluptatibus. Culpa eius ipsam minima mollitia. Deleniti dicta explicabo facilis ipsa minus neque nesciunt, nisi omnis, quae rem saepe tempora temporibus veritatis! Alias aperiam eius enim ipsa itaque, labore quas, quod quos reiciendis repellendus suscipit vel voluptatibus. Aspernatur, eius enim fugit itaque nobis officiis, perferendis perspiciatis, praesentium quaerat repellat sapiente sint! Iure, veritatis.
                    </div>
                </template>

                <template #key-1>
                    <nuxt-link to="/examples/tabs/harakteristiki/">
                        Руководства
                    </nuxt-link>
                </template>

                <template #1>
                    <div class="p-12 bg-red-500 bg-opacity-50 mt-8">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aperiam consequuntur corporis ea eius ipsa ipsum nihil, officiis optio pariatur, perferendis quis quod repudiandae sint soluta unde voluptates? Aliquid debitis doloribus ducimus ipsum, nihil nobis perspiciatis quod repudiandae tempore veritatis! Aspernatur consectetur consequuntur deserunt earum eveniet facilis harum impedit ipsam itaque laborum magni molestiae, nesciunt perspiciatis provident quisquam suscipit voluptatibus. A aspernatur debitis dignissimos ea, inventore libero officia perspiciatis sunt. Alias aliquam deserunt ducimus facilis non perspiciatis porro provident sed velit, voluptatibus? Consequatur eius, esse est fugiat harum illo ipsa laboriosam maxime molestias mollitia neque nobis, provident reiciendis sit unde.
                    </div>
                </template>

                <template #key-2>
                    <nuxt-link to="/examples/tabs/harakteristiki/">
                        Характеристики
                    </nuxt-link>
                </template>

                <template #2>
                    <div class="p-12 bg-blue-400 bg-opacity-50 mt-8">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aperiam consequuntur corporis ea eius ipsa ipsum nihil, officiis optio pariatur, perferendis quis quod repudiandae sint soluta unde voluptates? Aliquid debitis doloribus ducimus ipsum, nihil nobis perspiciatis quod repudiandae tempore veritatis! Aspernatur consectetur consequuntur deserunt earum eveniet facilis harum impedit ipsam itaque laborum magni molestiae, nesciunt perspiciatis provident quisquam suscipit voluptatibus. A aspernatur debitis dignissimos ea, inventore libero officia perspiciatis sunt. Alias aliquam deserunt ducimus facilis non perspiciatis porro provident sed velit, voluptatibus? Consequatur eius, esse est fugiat harum illo ipsa laboriosam maxime molestias mollitia neque nobis, provident reiciendis sit unde.
                    </div>
                </template>
            </MTabs>

            <div class="mb-6">
                Tabs Select
            </div>
            <MTabs
                type="select"
                :value="value3"
                :data="options3"
                class="mb-16"
                @change="onValueChange3"
            >
                <template #key-0>
                    <nuxt-link to="/examples/tabs/">
                        Описание
                    </nuxt-link>
                </template>

                <template #0>
                    <div class="p-12 bg-green bg-opacity-50 mt-8">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem blanditiis consequatur culpa cumque deleniti deserunt, doloremque enim facilis harum illum ipsa ipsam labore laboriosam laborum minima modi molestiae mollitia natus necessitatibus nihil nobis praesentium provident quae reiciendis sed sint sit, sunt temporibus totam vel veritatis voluptates voluptatibus. Culpa eius ipsam minima mollitia. Deleniti dicta explicabo facilis ipsa minus neque nesciunt, nisi omnis, quae rem saepe tempora temporibus veritatis! Alias aperiam eius enim ipsa itaque, labore quas, quod quos reiciendis repellendus suscipit vel voluptatibus. Aspernatur, eius enim fugit itaque nobis officiis, perferendis perspiciatis, praesentium quaerat repellat sapiente sint! Iure, veritatis.
                    </div>
                </template>

                <template #key-1>
                    <nuxt-link to="/examples/tabs/harakteristiki/">
                        Руководства
                    </nuxt-link>
                </template>

                <template #1>
                    <div class="p-12 bg-red-500 bg-opacity-50 mt-8">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aperiam consequuntur corporis ea eius ipsa ipsum nihil, officiis optio pariatur, perferendis quis quod repudiandae sint soluta unde voluptates? Aliquid debitis doloribus ducimus ipsum, nihil nobis perspiciatis quod repudiandae tempore veritatis! Aspernatur consectetur consequuntur deserunt earum eveniet facilis harum impedit ipsam itaque laborum magni molestiae, nesciunt perspiciatis provident quisquam suscipit voluptatibus. A aspernatur debitis dignissimos ea, inventore libero officia perspiciatis sunt. Alias aliquam deserunt ducimus facilis non perspiciatis porro provident sed velit, voluptatibus? Consequatur eius, esse est fugiat harum illo ipsa laboriosam maxime molestias mollitia neque nobis, provident reiciendis sit unde.
                    </div>
                </template>

                <template #key-2>
                    <nuxt-link to="/examples/tabs/harakteristiki/">
                        Характеристики
                    </nuxt-link>
                </template>

                <template #2>
                    <div class="p-12 bg-blue-400 bg-opacity-50 mt-8">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aperiam consequuntur corporis ea eius ipsa ipsum nihil, officiis optio pariatur, perferendis quis quod repudiandae sint soluta unde voluptates? Aliquid debitis doloribus ducimus ipsum, nihil nobis perspiciatis quod repudiandae tempore veritatis! Aspernatur consectetur consequuntur deserunt earum eveniet facilis harum impedit ipsam itaque laborum magni molestiae, nesciunt perspiciatis provident quisquam suscipit voluptatibus. A aspernatur debitis dignissimos ea, inventore libero officia perspiciatis sunt. Alias aliquam deserunt ducimus facilis non perspiciatis porro provident sed velit, voluptatibus? Consequatur eius, esse est fugiat harum illo ipsa laboriosam maxime molestias mollitia neque nobis, provident reiciendis sit unde.
                    </div>
                </template>
            </MTabs>
        </c>

        <nuxt-child />
    </div>
</template>

<script>
export default {
    data()
    {
        return {
            value  : 0,
            options: [
                {
                    key   : 0,
                    title : "Описание",
                    render: false
                },
                {
                    key   : 1,
                    title : "Руководства",
                    render: false
                },
                {
                    key   : 2,
                    title : "Характеристики",
                    render: true
                }
            ],
            value2  : 0,
            options2: [
                {
                    key   : 0,
                    title : "Описание",
                    render: false
                },
                {
                    key   : 1,
                    title : "Руководства",
                    render: false
                },
                {
                    key   : 2,
                    title : "Характеристики",
                    render: true
                }
            ],
            value3  : 0,
            options3: [
                {
                    key   : 0,
                    title : "Описание",
                    render: false
                },
                {
                    key   : 1,
                    title : "Руководства",
                    render: false
                },
                {
                    key   : 2,
                    title : "Характеристики",
                    render: true
                }
            ]
        }
    },

    methods: {
        onValueChange( val )
        {
            this.value = val
        },
        onValueChange2( val )
        {
            this.value2 = val
        },
        onValueChange3( val )
        {
            this.value3 = val
        }
    }
}
</script>

<style lang="scss" module>
.tabs {
    //
}
</style>
