<template>
    <div :class="$style.index">
        <T type="h1" design="h1-common">
            h1 <mark>mark</mark>
        </T>

        <br>

        <div class="bg-black">
            <T type="h1" design="h1-white">
                h1 white <mark>mark</mark>
            </T>
        </div>

        <br>

        <T type="h2" design="h2">
            h2
        </T>

        <br>

        <T type="p" design="p">
            paragraph
        </T>

        <br>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss" module>
.index {
    //
}
</style>
