<template>
    <div :class="[$style.Counter, $style[design], { 'inverse': inverse }]">
        <div
            :class="[$style.button, `${design}-button`, {[$style._disabled]: lazyValue <= min}]"
            @click="lazyValue > min && lazyValue--"
        >
            <slot name="minus" />
        </div>

        <input
            v-model="lazyValue"
            type="text"
            :class="[$style.input, `${design}-input`]"
            @input="onInput"
            @change="onChange"
        >

        <div
            :class="[$style.button, `${design}-button`, {[$style._disabled]: lazyValue >= max}]"
            @click="lazyValue < max && lazyValue++"
        >
            <slot name="plus" />
        </div>
    </div>
</template>

<script>
export default {
    props: {
        value: [ Number, String ],

        min: {
            type   : Number,
            default: 1
        },

        max: {
            type   : Number,
            default: Infinity
        },

        design: String,

        inverse: Boolean
    },

    data()
    {
        return {
            lazyValue: this.value >= this.min && this.value <= this.max ? this.value : this.min
        }
    },

    watch: {
        lazyValue()
        {
            this.$emit( "change", this.lazyValue )
        },

        value( val )
        {
            if ( val !== this.lazyValue )
            {
                this.lazyValue = val
            }
        }
    },

    methods: {
        onInput( e )
        {
            this.lazyValue = e.target.value.replace( /[^0-9]/g, "" )
        },

        onChange()
        {
            if ( this.lazyValue < this.min )
            {
                this.lazyValue = this.min
            }
            else if ( this.lazyValue > this.max )
            {
                this.lazyValue = this.max
            }
        }
    }
}
</script>

<style lang="scss" module>
.Counter {
    //
}
</style>
