<template>
    <div :class="$style.BaseSwitcher">
        <div
            v-for="(option, i) in data"
            :key="`base-switcher-${i}`"
            :class="[valueClass, {'is-active': option.key === value}]"
            @click="onChange(option.key)"
        >
            <slot
                v-if="Object.entries( $slots ).length && $slots[ option.key ]"
                :name="option.key"
            />
            <span v-else>
                {{ option.title }}
            </span>
        </div>

        <slot name="indicator" />
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type   : [ Number, String ],
            default: 0
        },

        data: {
            type   : Array,
            default: () => []
        },

        valueClass: String
    },

    methods: {
        onChange( val )
        {
            this.$emit( "change", val )
        }
    }
}
</script>

<style lang="scss" module>
.BaseSwitcher {
    position: relative;
    display: flex;
    width: 100%;
}
</style>
