<template>
    <label :class="[$style.RadioButton, classes]">
        <input
            v-model="_value"
            :value="data"
            :required="required"
            :disabled="disabled"
            class="hidden"
            type="radio"
        >

        <div :class="[$style.input, `${design}-input`]">
            <div :class="[$style.dot, `${design}-dot`]" />
        </div>

        <div :class="[$style.title, `${design}-title`]">
            <slot />
        </div>
    </label>
</template>

<script>
export default {
    props:
    {
        data : [ Number, String ],
        value: [ Number, String ],

        design: String,

        required: Boolean,
        disabled: Boolean
    },

    computed:
    {
        _value:
        {
            get()
            {
                return this.value
            },
            set( v )
            {
                this.$emit( "change", v )
            }
        },

        classes()
        {
            return [
                this.$style[ this.design ],
                {
                    active  : this.value === this.data,
                    disabled: this.disabled
                }
            ]
        }
    }
}
</script>

<style lang="scss" module>
.RadioButton {
    //
}
</style>
