<template>
    <div
        :class="[$style.BaseAccordion, design, {'is-opened': isOpen}]"
    >
        <div
            :class="keyClass"
            @click="onToggle"
        >
            <slot name="key" />

            <slot name="icon" />
        </div>
        <div
            ref="container"
            :class="[$style.container, containerClass]"
            :style="height"
        >
            <div
                ref="inner"
            >
                <slot name="content" />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        design        : String,
        keyClass      : String,
        containerClass: String,
        opened        : Boolean
    },

    data()
    {
        return {
            isOpen        : this.opened,
            maxHeight     : this.opened ? 9999 : 0,
            resizeObserver: null
        }
    },

    computed: {
        height()
        {
            return { maxHeight: `${this.maxHeight}px` }
        }
    },

    mounted()
    {
        this.resizeObserver = new ResizeObserver( ( entries ) =>
        {
            if ( this.opened )
            {
                this.maxHeight = entries[ 0 ].target.clientHeight
            }
        } )
        this.resizeObserver.observe( this.$refs.inner )
    },

    methods: {
        onToggle()
        {
            this.isOpen = !this.isOpen
            if ( this.isOpen )
            {
                this.maxHeight = this.$refs.inner.scrollHeight

                setTimeout( () =>
                {
                    this.resizeObserver.observe( this.$refs.inner )
                }, 400 )
            }
            else
            {
                this.maxHeight = 0
                this.resizeObserver.unobserve( this.$refs.inner )
            }
        }
    }
}
</script>

<style lang="scss" module>
.container {
    overflow: hidden;
    max-height: 0;
    will-change: max-height;
}
</style>
