<template>
    <div
        :class="[$style.BaseShowmore, {'is-opened': isOpen}]"
    >
        <div
            ref="container"
            :class="[$style.container, `${design}-container`]"
            :style="height"
        >
            <div
                ref="inner"
            >
                <slot name="content" />
            </div>
        </div>

        <div
            v-if="!disabled"
            :class="`${design}-key`"
            @click="onToggle"
        >
            <span v-if="titleClose || titleOpen">
                {{ isOpen ? titleClose : titleOpen }}
            </span>

            <slot name="icon" />
        </div>
    </div>
</template>

<script>

export default {
    props: {
        design: String,

        visibleHeight: {
            type   : Number,
            default: 0
        },

        titleOpen: {
            type   : String,
            default: ""
        },

        titleClose: {
            type   : String,
            default: ""
        },

        disabled: Boolean
    },

    data()
    {
        return {
            isOpen   : false,
            maxHeight: this.visibleHeight
        }
    },

    computed: {
        height()
        {
            return { maxHeight: `${this.maxHeight}px` }
        }
    },

    methods: {
        onToggle()
        {
            this.isOpen = !this.isOpen
            if ( this.isOpen )
            {
                this.maxHeight = this.$refs.inner.scrollHeight
            }
            else
            {
                this.maxHeight = this.visibleHeight
            }
            this.$emit( "toggle", this.isOpen )
        }
    }
}
</script>

<style lang="scss" module>
.container {
    overflow: hidden;
    max-height: 0;
    will-change: max-height;
}
</style>
