<template>
    <div :class="$style.BaseInput">
        <textarea
            v-if="type === 'textarea'"
            ref="vInputTarget"
            v-model="_value"
            :class="classes"
            :placeholder="placeholder"
            :required="required"
            :disabled="disabled"
            @focus="isFocused = true"
            @blur="isFocused = false"
        />

        <input
            v-else
            ref="vInputTarget"
            v-model="_value"
            :class="classes"
            :placeholder="placeholder"
            :required="required"
            :disabled="disabled"
            type="text"
            @focus="isFocused = true"
            @blur="isFocused = false"
            @keyup="$emit('keyup', $event)"
        >
    </div>
</template>

<script>
export default {
    props: {
        type: {
            type   : String,
            default: "input",
            validator( value )
            {
                return [ "input", "textarea" ].includes( value )
            }
        },

        value: {
            type   : String,
            default: ""
        },

        placeholder: {
            type   : String,
            default: ""
        },

        classes: {
            type   : Array,
            default: () => []
        },

        required: Boolean,
        disabled: Boolean
    },

    data()
    {
        return {
            isFocused: false
        }
    },

    computed: {
        _value:
            {
                get()
                {
                    return this.value
                },
                set( v )
                {
                    this.$emit( "change", v )
                }
            }
    },

    watch: {
        isFocused()
        {
            this.isFocused ? this.$emit( "focus" ) : this.$emit( "blur" )
        }
    }
}
</script>

<style lang="scss" module>
.BaseInput {
    //
}
</style>
