<template>
    <div>
        <BaseButton :class="page > 1 ? '' : 'disabled'" :link="prev" class="button arrow first">
            <slot name="prev">
                &#60;
            </slot>
        </BaseButton>
        <div v-for="(item, index) in pagination" :key="`page-${index}`" class="item">
            <BaseButton :link="item.link" class="button" :class="item.value === page ? 'active' : ''">
                {{ item.value }}
            </BaseButton>
            <div v-if="index + 1 < pagination.length && pagination[index+1].value - item.value !== 1" class="button dots">
                ...
            </div>
        </div>
        <BaseButton :class="page !== pages ? '' : 'disabled'" :link="next" class="button arrow last">
            <slot name="next">
                &#62;
            </slot>
        </BaseButton>
    </div>
</template>
<script>
import { paginationToUrl } from "../lib/url"
import { renderPagination } from "../lib/pagination"

export default {
    props: {
        link: {
            type    : String,
            required: true
        },
        page: {
            type    : Number,
            required: true
        },
        pages: {
            type    : Number,
            required: true
        },
        serializer:
        {
            type   : Function,
            default: paginationToUrl
        },
        length: {
            type   : Number,
            default: 3
        }
    },
    computed: {
        prev()
        {
            return this.serializer( { url: this.link, page: this.page - 1 } )
        },
        pagination()
        {
            return renderPagination(
                {
                    page           : this.page,
                    pages          : this.pages,
                    link           : this.link,
                    paginationToUrl: this.serializer,
                    length         : this.length
                } )
        },
        next()
        {
            return this.serializer( { url: this.link, page: this.page + 1 } )
        }
    }
}
</script>
