<template>
    <portal to="modal">
        <transition
            :name="overlayAnimation"
            @before-enter="isOverflowing = true"
            @after-enter="isOverflowing = false"
            @enter="modalVisible = true"
        >
            <div
                v-if="overlayVisible"
                :class="[$style.overlay, `${design}-overlay`, {[ $style._overflow ]: isOverflowing}]"
                @click.self="onClose(id)"
            >
                <transition
                    :name="modalAnimation"
                    @leave="overlayVisible = false"
                >
                    <slot v-if="modalVisible" />
                </transition>
            </div>
        </transition>
    </portal>
</template>

<script>
import { lockBody, unlockBody } from "../lib/utilsDom"

export default {
    props: {
        id: {
            type    : String,
            required: true
        },
        design          : String,
        overlayAnimation: String,
        modalAnimation  : String
    },

    data()
    {
        return {
            overlayVisible: false,
            modalVisible  : false,
            isOverflowing : false
        }
    },

    watch: {
        overlayVisible()
        {
            this.overlayVisible ? lockBody() : unlockBody()
        }
    },

    beforeMount()
    {
        this.$modal.event.$on( "open", this.onOpen )
        this.$modal.event.$on( "close", this.onClose )
    },

    beforeDestroy()
    {
        this.$modal.event.$off( "open", this.onOpen )
        this.$modal.event.$off( "close", this.onClose )
    },

    methods: {
        onOpen( id )
        {
            if ( this.id === id )
            {
                this.overlayVisible = true
            }
        },

        onClose( id )
        {
            if ( this.id === id )
            {
                this.isOverflowing = true
                this.modalVisible = false
            }
        }
    }
}
</script>

<style lang="scss" module>
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &._overflow {
        overflow: hidden;
    }
}

</style>
