<template>
    <div :class="$style.BaseTabs">
        <component
            :is="component"
            v-if="data.length > 1"
            :value="value"
            :data="data"
            :design="keyDesign"
            :inverse="inverse"
            :class="keyClass"
            @change="onChange"
        >
            <template
                v-for="item in data"
                #[item.key]
            >
                <slot :name="`key-${item.key}`" />
            </template>
        </component>

        <slot name="middle" />

        <div
            v-for="(item, i) in renderData"
            v-show="activeTab === item.key"
            :key="`render-data-${i}`"
            :class="$style.content"
        >
            <slot :name="item.key" />
        </div>

        <div
            v-for="(item, i) in hiddenData"
            :key="`hidden-data-${i}`"
            :class="$style.content"
        >
            <slot
                v-if="activeTab === item.key"
                :name="item.key"
            />
        </div>
    </div>
</template>

<script>
export default {
    props: {
        value    : [ String, Number, Array ],
        data     : Array,
        type     : String,
        keyDesign: String,
        keyClass : String,
        inverse  : Boolean,

        switcher: Object,
        select  : Object
    },

    data()
    {
        return {
            activeTab: this.value
        }
    },

    computed: {
        component()
        {
            return this.type === "switcher" ? this.switcher : this.select
        },

        renderData()
        {
            return this.data.filter( e => e.render )
        },

        hiddenData()
        {
            return this.data.filter( e => !e.render )
        }
    },

    watch: {
        value()
        {
            if ( this.activeTab !== this.value )
            {
                this.activeTab = this.value
            }
        }
    },

    methods: {
        onChange( e )
        {
            this.activeTab = e
            this.$emit( "change", e )
        }
    }
}
</script>

<style lang="scss" module>
.BaseTabs {
    //
}
</style>
