<template>
    <div
        v-clickoutside="onClickOutside"
        :class="[$style.BaseSelect, classes]"
    >
        <div
            :class="[$style.key, `${design}-key`]"
            @click.stop="toggleMenu"
        >
            <div :class="[$style.text, `${design}-text`]">
                <div
                    v-if="placeholder"
                    :class="[$style.placeholder, `${design}-placeholder`]"
                >
                    {{ placeholder }}
                </div>

                <div
                    v-if="lazyValue !== null"
                    :class="[$style.value, `${design}-value`]"
                >
                    <slot
                        v-if="Object.entries( $slots ).length && $slots[ lazyValue ]"
                        :name="lazyValue"
                    />
                    <span
                        v-else
                        v-html="valueStr"
                    />
                </div>
            </div>

            <slot name="icon" />
        </div>

        <transition :name="animation">
            <div
                v-if="isOpened"
                :class="[$style.dropdown, `${design}-dropdown`]"
            >
                <BaseScrollbox :class="[$style.scroll, `${design}-scroll`]">
                    <div
                        v-for="(option, i) in data"
                        :key="`base-select-${i}`"
                        :class="[$style.option, `${design}-option`, {'is-selected': isSelected(option)}]"
                        @click="onOptionClick(option.key)"
                    >
                        <slot
                            v-if="Object.entries( $slots ).length && $slots[ option.key ]"
                            :name="option.key"
                        />
                        <span
                            v-else
                            v-html="option.title"
                        />
                    </div>
                </BaseScrollbox>
            </div>
        </transition>
    </div>
</template>

<script>
export default {
    props: {
        design   : String,
        animation: String,

        value: {
            type   : [ String, Number, Array ],
            default: ""
        },

        data: {
            type   : Array,
            default: () => []
        },

        disabled: {
            type   : Boolean,
            default: false
        },

        multiple: {
            type   : Boolean,
            default: false
        },

        placeholder: {
            type   : String,
            default: ""
        }
    },

    data()
    {
        return {
            lazyValue: "",
            isOpened : false
        }
    },

    computed: {
        classes()
        {
            return {
                "is-active": this.isActive,
                "is-opened": this.isOpened
            }
        },

        isDisabled()
        {
            return this.disabled || this.data.length === 0
        },

        nativeOptions()
        {
            return this.multiple
                ? this.data.filter( opt => opt.key !== "" )
                : this.data
        },

        selectedOptions()
        {
            return this.data.filter( ( opt ) =>
            {
                if ( Array.isArray( this.lazyValue ) )
                {
                    return this.lazyValue.length
                        ? this.lazyValue.includes( opt.key )
                        : opt.key === ""
                }
                return this.lazyValue === opt.key
            } )
        },

        isActive()
        {
            let flag = false
            if ( Array.isArray( this.lazyValue ) )
            {
                if ( this.lazyValue.length ) { flag = true }
            }
            else
            if ( this.lazyValue !== null ) { flag = true }

            return flag
        },

        valueStr()
        {
            if ( !this.selectedOptions.length )
            {
                return this.placeholder ? this.placeholder : ""
            }
            else
            {
                const reducer = ( acc, opt ) =>
                {
                    return `${acc + opt.title}, `
                }

                return this.selectedOptions.reduce( reducer, "" ).slice( 0, -2 )
            }
        }
    },

    watch: {
        value( val )
        {
            if ( this.multiple )
            {
                if ( Array.isArray( val ) && val !== this.lazyValue )
                {
                    this.lazyValue = val
                    this.$emit( "change", val )
                }
            }
            else if ( val !== this.lazyValue )
            {
                this.lazyValue = val
                this.$emit( "change", val )
            }
        }
    },

    created()
    {
        this.lazyValue = this.value
    },

    methods: {
        onClickOutside()
        {
            this.isOpened = false
        },

        toggleMenu()
        {
            if ( this.isDisabled )
            {
                return
            }
            this.isOpened = !this.isOpened
        },

        isSelected( option )
        {
            if ( Array.isArray( this.value ) )
            {
                if ( this.value.length )
                {
                    return this.value.includes( option.key )
                }
                return option.key === ""
            }
            return this.value === option.key
        },

        onOptionClick( key )
        {
            if ( Array.isArray( this.lazyValue ) )
            {
                if ( key === null )
                {
                    this.$emit( "change", [] )
                }
                else
                {
                    const newValue = this.lazyValue.slice()
                    newValue.includes( key )
                        ? newValue.splice( this.lazyValue.indexOf( key ), 1 )
                        : newValue.push( key )
                    this.$emit( "change", newValue )
                }
            }
            else
            {
                if ( this.lazyValue !== key )
                {
                    this.$emit( "change", key )
                }
                this.isOpened = false
            }
        }
    }
}
</script>

<style lang="scss" module>
.BaseSelect {
    position: relative;
}

.key {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.value {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dropdown {
    position: absolute;
    z-index: 999;
}

.option {
    cursor: pointer;
    user-select: none;
}
</style>
