<template>
    <!-- For correct work ObserverWrapper module parent block must have position property (absolute/relative) -->
    <div class="observer-wrapper" />
</template>
<script>

export default {
    props:
    {
        on: // V-node to observe - parent refName.
        {
            type: String
        },
        thresholds:
        {
            type   : Array,
            default: () => [ 0.01 ]
        },
        name: // Event name -> start = <name>-intersection-start, stop = <name>-intersection-stop.
        {
            type    : String,
            required: true
        }
    },
    computed:
    {
        startEvent()
        {
            return `${this.name}-intersection-start`
        },
        stopEvent()
        {
            return `${this.name}-intersection-stop`
        }
    },
    mounted()
    {
        const on = this.$parent.$refs[ this.on ]
        const observed = on || this.$el
        const observer = new IntersectionObserver(
            ( [ e ] ) => { this.$bus.$emit( ( e.isIntersecting ? this.startEvent : this.stopEvent ), e ) },
            { threshold: this.thresholds }
        )
        try
        {
            observer.observe( observed )
        }
        catch ( e )
        {
            console.log( "Нет объекта для наблюдения" )
        }
    }
}

</script>
<style lang="scss" scoped>
.observer-wrapper{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
</style>
