<template>
    <AButton
        :class="[$style.Card, {[$style.hover]: hover}]"
        :link="link(data.fslug)"
        design="custom"
        @mouseleave="hover = false"
    >
        <div
            :class="[$style.header, {[$style._single]: !hasChildren}]"
            @mouseenter="onMouseEnter"
        >
            <div :class="$style.image">
                <BaseImage
                    v-if="data.image && data.image.imageSrc"
                    :src="data.image.imageSrc"
                    :ext="data.image.imageTypes"
                />
            </div>

            <div :class="$style.title">
                {{ data.title }}

                <t :class="$style.count">
                    [{{ data.productCount }}]
                </t>
            </div>
        </div>

        <transition name="fade-common">
            <div
                v-if="hover && hasChildren"
                :class="[$style.submenu, { [$style._right]: isRight }]"
            >
                <div
                    v-for="(col, i) in cols"
                    :key="`categories-cols-${i}`"
                    :class="$style.col"
                >
                    <AButton
                        v-for="(item, ii) in data.children.slice(i * part, col * part)"
                        :key="`submenu-${ii}`"
                        :link="link(item.fslug)"
                        design="custom"
                        :class="$style.link"
                    >
                        <t>
                            {{ item.title }}

                            <t :class="[$style.count, $style._small]">
                                [{{ item.productCount }}]
                            </t>
                        </t>
                    </AButton>
                </div>
            </div>
        </transition>
    </AButton>
</template>

<script>
import { mapGetters } from "vuex"
import { PRODUCT_CATEGORY } from "@/lib/url/const"

export default {
    props: {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        index: {
            type   : Number,
            default: 0
        }
    },

    data()
    {
        return {
            hover  : false,
            isRight: false
        }
    },

    computed: {
        ...mapGetters( "regions", [
            "regionSlug"
        ] ),

        hasChildren()
        {
            return this.data.children && this.data.children.length
        },

        cols()
        {
            return Math.ceil( this.data.children.length / 8 )
        },

        part()
        {
            return Math.ceil( this.data.children.length / this.cols )
        }
    },

    methods: {
        link( fslug )
        {
            return this.$getUrl( PRODUCT_CATEGORY, {
                fslug,
                city: this.regionSlug
            } )
        },

        onMouseEnter()
        {
            const allowParts = 6 - ( this.index % 6 )
            this.isRight = this.cols > allowParts
            this.hover = true
        }
    }
}
</script>

<style lang="scss" module>
.Card {
    @apply relative font-circe #{ !important };
    display: block;
    height: auto !important;
    position: relative;

    &.hover {
        @screen xl {
            z-index: 1000;

            .header {
                box-shadow: 0 0 25px rgba(112, 112, 112, 0.2);
            }
        }
    }
}

.header {
    @apply h-full px-4 py-8 md:py-6 md:px-8 xl:p-6 2xl:p-8 bg-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: box-shadow .3s ease;
}

.image {
    @apply flex justify-center items-center mb-4 2xl:mb-8;
    width: 8rem;
    height: 8rem;

    @screen 2xl {
        width: 11rem;
        height: 11rem;
    }
}

.title {
    @apply cursor-pointer block text-13 font-bold 2xl:text-16 leading-tight uppercase text-text-main transition-colors text-center duration-300;
}

.submenu {
    @apply bg-white;
    position: absolute;
    display: none;
    width: auto;
    top: 100%;
    z-index: 999;
    box-shadow: 0 0 25px rgba(112, 112, 112, 0.2);

    &._right {
        right: 0;

        .col {
            &:first-child {
                &:before {
                    display: none;
                }
            }

            &:last-child {
                &:before {
                    @apply bg-white;
                    content: "";
                    position: absolute;
                    top: -20px;
                    left: 0;
                    width: 100%;
                    height: 20px;
                }
            }
        }
    }

    @screen xl {
        display: flex;
    }
}

.col {
    @apply relative w-[193px] 2xl:w-[276.5px] py-2 2xl:py-3 border-r border-background last:border-r-0;

    &:first-child {
        &:before {
            @apply bg-white;
            content: "";
            position: absolute;
            top: -20px;
            left: 0;
            width: 100%;
            height: 20px;
        }
    }
}

.link {
    @apply font-gotham text-13 2xl:text-15 relative py-3 px-6 2xl:px-8 flex text-text-main leading-tight tracking-wide xl:hover:bg-background;
    transition: background-color .3s ease;

    &:before {
        @apply w-[4px] h-[4px] bg-primary mr-4 mt-[4px] 2xl:mt-2 flex-shrink-0;
        content: "";
    }
}

.count {
    @apply h-8 font-normal text-gray-400 leading-none tracking-wide text-12 2xl:text-14 pl-1;

    &._small {
        @apply text-12 pl-0;
    }
}
</style>
