<template>
    <div :class="$style.CatalogMap">
        <div
            v-for="(item, index) in data"
            :key="`catalog-map-${item.level}-${index}`"
            :class="[$style.item]"
            :style="{ paddingLeft: item.level > 1 ? `${item.level + 1}rem` : '' }"
        >
            <div>
                <AButton
                    design="custom"
                    :link="link( item.fslug )"
                    :class="[ $style.link, $style[`link-${item.level + 2}`] ]"
                >
                    {{ item.title }} {{ inRegion }}
                </AButton>

                <MCatalogMap
                    v-if="item.children && item.children.length"
                    :data="item.children"
                    :region="region"
                />
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex"
import { PRODUCT_CATEGORY } from "@/lib/url/const"

export default {
    props: {
        data: {
            type    : Array,
            required: true
        },

        region:
        {
            type   : Object,
            default: () => ( {} )
        }
    },

    computed: {
        ...mapGetters( "regions", [
            "inRegion",
            "regionSlug"
        ] ),

        citySlug()
        {
            return this.region.slug || this.regionSlug
        }
    },

    methods: {
        link( e )
        {
            return this.$getUrl( PRODUCT_CATEGORY, {
                fslug: e,
                city : this.citySlug
            } )
        }
    }
}
</script>

<style lang="scss" module>
.CatalogMap {
    @apply grid gap-4 mt-4;

    a {
        @apply h-auto font-circe xl:hover:text-primary transition-colors duration-300 xl:w-max #{ !important };
    }

    ul {
        @apply pl-8 my-4;
    }

    li {
        @apply flex flex-col text-left relative;
    }

    span {
        @apply text-12;

        &::before {
            content: '- ';
        }
    }
}

.link {
    @apply relative  #{ !important };
}

.link-2 {
    @apply block text-text-main leading-tight text-18 xl:text-20 2xl:text-24 font-bold ml-0 mb-6;
}

.link-3 {
    @apply text-16 xl:text-18 flex;

    &::before {
        @apply block w-[4px] h-[4px] flex-shrink-0 bg-primary my-auto mt-[8px] xl:mt-[11px] mr-[8px];
        content: '';
    }
}

.link-4 {
    @apply text-14 xl:text-16 flex;
}

.link-5 {
    @apply text-14;
}
</style>
