<template>
    <div :class="$style.CheckoutSuccess">
        <MBreadcrumbs :data="breadcrumbs" />

        <c>
            <t type="h1" design="h1-page" class="xl:text-center">
                <mark>Спасибо!</mark> Ваш заказ успешно оформлен.
            </t>

            <div class="xl:w-[766px] 2xl:w-[110rem] xl:mx-auto">
                <div class="line-bottom xl:after:hidden line-top xl:before:hidden xl:border border-stroke py-5 md:py-7 xl:px-6 2xl:py-10 2xl:px-20 md:flex justify-between">
                    <div class="flex items-center mb-4 md:mb-0 leading-none">
                        <t :class="$style.topText">
                            Заказ <mark>{{ order.code }}</mark>
                        </t>

                        <div class="flex items-center ml-4 2xl:ml-6">
                            <div class="w-[4px] h-[4px] 2xl:w-[6px] 2xl:h-[6px] bg-primary rounded-full mr-2" />
                            <t class="block text-12 2xl:text-16">
                                Неоплачен
                            </t>
                        </div>
                    </div>
                    <t :class="$style.topText">
                        на сумму <mark>{{ totalCost }}</mark>
                    </t>
                </div>

                <div class="-mx-4 md:-mx-8 xl:mx-auto xl:border-l xl:border-r border-stroke">
                    <MProductCard
                        v-for="(item, i) in products"
                        :key="`checkout-card-${i}`"
                        :data="item"
                        design="checkout-success"
                    />
                </div>

                <div class="py-6 md:py-7 xl:px-6 2xl:py-10 2xl:px-20 font-gotham font-medium leading-none 2xl:text-18 line-bottom xl:after:hidden xl:border-b xl:border-r xl:border-l border-stroke">
                    <t class="text-secondary">
                        Способ оплаты:
                    </t>
                    <t class="text-text-main">
                        {{ paymentMethod }}
                    </t>
                </div>

                <div class="md:flex justify-between">
                    <div :class="$style.block">
                        <t :class="$style.bottomText">
                            Все ответы по поводу оплаты и доставки вашего заказа вы сможете найти на страницах
                        </t>
                        <AButton
                            :link="deliveryLink"
                            design="custom"
                            :class="$style.link"
                        >
                            ДОСТАВКА
                        </AButton>
                        <AButton
                            :link="paymentLink"
                            design="custom"
                            :class="$style.link"
                        >
                            ОПЛАТА
                        </AButton>
                    </div>

                    <div :class="$style.block">
                        <t :class="[$style.bottomText, $style.second]">
                            Если у вас возникнут проблемы с заказом, пожалуйста свяжитесь с менеджером
                        </t>
                        <AButton
                            type="external"
                            :link="`tel:${ cleanPhone }`"
                            design="custom"
                            :class="$style.link"
                        >
                            {{ phone }}
                        </AButton>
                    </div>
                </div>
            </div>
        </c>
    </div>
</template>

<script>
import { mapGetters } from "vuex"
import { getPrice } from "@/lib/utils"
// eslint-disable-next-line no-unused-vars
import { CHECKOUT_SUCCESS, DELIVERY, PAYMENT } from "@/lib/url/const"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    async asyncData( { $api, params, redirect } )
    {
        // Redirect to fail if no guid found.
        const guid = params.guid
        if ( !guid )
        {
            redirect( "/checkout/fail/not-found/" )
        }

        try
        {
            const order = await $api.orders.get( { guid } )

            // NOTE: The same code as in /checkout/_fslug.vue
            const positions = {}
            order.positions.forEach( ( x, i ) =>
            {
                positions[ x.id ] = { index: i, quantity: x.quantity } // TODO
            } )

            const products = order.products.map( ( x, i ) =>
            {
                // Pass cart index to each block.
                // Pass cart quantity to each block.
                x.cart = positions[ x.id ]
                x.index = i
                return x
            } )

            return {
                order,
                products
            }
        }
        catch ( e )
        {
            console.warn( "CheckoutSuccess/asyncData: ", e )
        }
    },

    data()
    {
        return {
            breadcrumbs:
                [
                    {
                        link : "",
                        title: "Заказ принят"
                    }
                ],

            order: {}
        }
    },

    computed: {
        ...mapGetters( [
            "phone",
            "cleanPhone"
        ] ),

        paymentMethod()
        {
            let paymentMethod

            switch ( this.order.paymentMethod )
            {
            case "cash":
                paymentMethod = "Оплата наличными"
                break
            case "invoice_for_le":
                paymentMethod = "Оплата по счету"
                break
            case "SBER":
                paymentMethod = "Оплата онлайн"
                break
            }

            return paymentMethod
        },

        totalCost()
        {
            return getPrice( this.order.totalCost )
        },

        deliveryLink()
        {
            return this.$getUrl( DELIVERY )
        },

        paymentLink()
        {
            return this.$getUrl( PAYMENT )
        }
    },

    methods: {
        formattedPrice( val )
        {
            return getPrice( val )
        }
    }
}
</script>

<style lang="scss" module>
.CheckoutSuccess {
    @apply pb-16 xl:pb-20 2xl:pb-24 overflow-hidden;
}

.topText {
    @apply block font-gotham font-medium text-text-main leading-none tracking-wide md:text-16 2xl:text-20;
}

.bottomText {
    @apply text-center md:text-left text-12 2xl:text-16 leading-tight;

    &.second {
        @apply md:text-right;
    }
}

.link {
    @apply p-0 block bg-transparent text-primary leading-none tracking-wide font-bold font-circe 2xl:text-16 mt-6 2xl:mt-7 xl:hover:text-secondary transition-colors duration-300 #{ !important };
}

.block {
    @apply flex flex-col justify-center md:justify-start items-center md:items-start mt-6 md:mt-8 2xl:mt-12 md:w-[30rem] 2xl:w-[40rem];

    &:last-child {
        @apply md:items-end;
    }
}
</style>
