<template>
    <AButton
        :type="isExternal ? 'external' : 'internal'"
        design="custom"
        :class="[$style.Card, $style[design]]"
        :link="serviceLink( data.fslug )"
    >
        <div>
            <t type="h4" class="font-gotham text-text-main text-18 md:text-20 2xl:text-22 leading-tight font-medium mb-2 md:mb-4">
                {{ data.title }}
            </t>

            <t class="block w-2/3 font-gotham text-12 md:text-13 2xl:text-15 leading-tight tracking-wide text-gray-800">
                {{ data.description }}
            </t>
        </div>

        <AButton
            type="button"
            design="service-card"
            :class="$style.button"
        >
            Подробнее
            <IconArrowBold class="w-5 ml-4 2xl:-translate-y-px" />
        </AButton>

        <div class="absolute right-0 bottom-0">
            <BaseImage
                v-if="data.image && data.image.imageSrc"
                :src="data.image.imageSrc"
                :ext="[data.image.imageTypes, 'png']"
                class="w-[8rem] md:w-[10rem] xl:w-[12rem]"
            />
        </div>
    </AButton>
</template>

<script>
import { SERVICE } from "@/lib/url/const"

export default {
    props: {
        design: {
            type   : String,
            default: "white",
            validator( value )
            {
                return [ "white", "blue" ].includes( value )
            }
        },

        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    computed: {
        isExternal()
        {
            return this.data.fslug === "ustanovka-schetchika-tepla"
        }
    },

    methods: {
        serviceLink( fslug )
        {
            return this.$getUrl( SERVICE, { fslug } )
        }
    }
}
</script>

<style lang="scss" module>
.Card {
    @apply block relative p-6 xl:p-8 2xl:p-10 flex flex-col justify-between;
    transition: box-shadow .3s ease;

    &:hover {
        @screen xl {
            box-shadow: 0 0 20px rgba(101, 101, 101, 0.25);
        }

        .button {
            @apply xl:bg-primary xl:text-white #{ !important };
        }
    }

    // design
    &.white {
        @apply bg-white;
    }

    &.blue {
        @apply bg-background;
    }
}

.button {
    @apply w-[15rem] md:w-[16rem] 2xl:w-[19rem] h-16 2xl:h-20 mt-10 xl:mt-12 2xl:text-16;
}
</style>
