<template>
    <div :class="$style.ServicePriceCard">
        <div>
            <div
                v-if="data.image && data.image.imageSrc"
                :class="$style.imageWrap"
            >
                <BaseImage
                    :src="data.image.imageSrc"
                    :ext="[data.image.imageTypes, 'png']"
                    :class="$style.image"
                    @click="$modal.open(imageModal)"
                />

                <IconLandingMagnifier :class="$style.icon" />
            </div>

            <t
                type="h4"
                :class="$style.title"
                v-html="data.title"
            />

            <t
                type="p"
                :class="$style.text"
                v-html="data.text"
            />
        </div>

        <AButton
            type="button"
            design="red-landing"
            inverse
            class="mt-12 xl:mt-16 w-full h-20 text-16 xl:text-18"
            @click="$modal.open(callbackModal)"
        >
            Заказать установку
        </AButton>

        <MModal :id="callbackModal">
            <FormCallback />
        </MModal>

        <MModal :id="imageModal">
            <div :class="$style.modal">
                <t
                    type="h4"
                    :class="$style.titleModal"
                    v-html="data.title"
                />

                <BaseImage
                    v-if="data.image && data.image.imageSrc"
                    :src="data.image.imageSrc"
                    :ext="[data.image.imageTypes, 'png']"
                    :class="[$style.image, $style._modal]"
                />
            </div>
        </MModal>
    </div>
</template>

<script>
import { getRandomId } from "@/lib/utilsDom"

export default {
    props: {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    data()
    {
        return {
            callbackModal: getRandomId(),
            imageModal   : getRandomId()
        }
    }
}
</script>

<style lang="scss" module>
.ServicePriceCard {
    @apply text-center p-8 md:flex flex-col justify-between;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(81, 81, 81, 0.15);

    &:last-child {
        @apply md:col-span-2 xl:col-span-1 md:w-1/2 xl:w-auto md:justify-self-center;
    }
}

.image {
    @apply cursor-pointer w-full h-[18rem] xl:h-[21rem];
    object-fit: contain;
    transition: opacity .3s ease;

    &._modal {
        @apply md:h-[45rem] xl:h-[55rem];
        cursor: default;
    }
}

.title {
    @apply mt-10 md:mt-16 text-text-landing uppercase font-bold text-18 xl:text-20 leading-snug;
}

.text {
    @apply mt-5 xl:mt-8 font-bold leading-none text-12 xl:text-14 uppercase;

    mark {
        @apply text-16 xl:text-20;
    }
}

.titleModal {
    @apply font-roboto mb-8 text-text-landing text-18 md:text-20 xl:text-22 font-medium;

    mark {
        @apply text-text-landing;
    }
}

.modal {
    @apply w-screen p-6 md:p-8;

    @screen md {
        width: calc(100vw - 6rem);
    }

    @screen xl {
        width: calc(100vw - 12rem);
    }

    @screen xl {
        width: 120rem;
    }
}

.imageWrap {
    @apply p-4 relative rounded-[5px] border border-border;

    &:hover {
        @screen xl {
            .icon {
                opacity: 1;
            }

            .image {
                opacity: .2;
            }
        }
    }
}

.icon {
    @apply w-14 h-14 absolute top-1/2 left-1/2;
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .3s ease;
}
</style>
