<template>
    <div :class="$style.ProductSlider">
        <div class="relative">
            <div ref="prev" class="hidden md:block absolute z-10 -left-8 top-1/2 -translate-y-1/2">
                <AButton
                    type="button"
                    design="custom"
                    class="w-16 h-20 border border-landing-gray-600 !rounded-[6px] bg-white flex items-center justify-center"
                >
                    <IconArrowSharp class="w-5 h-auto -translate-x-px text-landing-gray-900" />
                </AButton>
            </div>

            <div
                ref="productSlider"
                :class="$style.slider"
            >
                <div :class="$style.sliderWrapper" class="swiper-wrapper">
                    <MProductCard
                        v-for="(item, i) in data"
                        :key="`slider-1-${i}`"
                        class="swiper-slide"
                        :class="$style.slide"
                        :data="item"
                        design="service"
                        :category="category"
                        :seo-title="seoTitle"
                    />
                </div>
            </div>

            <div ref="next" class="hidden md:block absolute z-10 -right-8 top-1/2 -translate-y-1/2">
                <AButton
                    type="button"
                    design="custom"
                    class="w-16 h-20 border border-landing-gray-600 !rounded-[6px] bg-white flex items-center justify-center"
                >
                    <IconArrowSharp class="w-5 h-auto translate-x-px -rotate-180 text-landing-gray-900" />
                </AButton>
            </div>
        </div>
    </div>
</template>

<script>
import Swiper from "swiper"

export default {
    props: {
        data: {
            type   : Array,
            default: () => []
        },

        title: {
            type   : String,
            default: ""
        },

        category: {
            type   : Object,
            default: () => ( {} )
        },

        slidesCount: {
            type   : Number,
            default: 4
        },

        design: {
            type   : String,
            default: "common",
            validator( value )
            {
                return [ "common", "common-small", "custom" ].includes( value )
            }
        },

        seoTitle: Boolean
    },

    data()
    {
        return {
            slider: null
        }
    },

    computed: {
        slidesPerView()
        {
            return this.slider ? this.slider.params.slidesPerView : 0
        },

        card()
        {
            switch ( this.design )
            {
            case "common-small":
                return { design: "slider-min", count: { sm: 2, md: 3, lg: 4 } }
            default:
                return { design: "common", count: { sm: 2, md: 3, lg: 4 } }
            }
        }
    },

    mounted()
    {
        this.slider = new Swiper( this.$refs.productSlider, {
            cssMode      : false,
            slidesPerView: "auto",
            spaceBetween : 15,
            loop         : false,
            pagination   : {
                el       : ".swiper-pagination",
                clickable: true
            },
            navigation: {
                prevEl       : this.$refs?.prev,
                nextEl       : this.$refs?.next,
                disabledClass: "is-disabled"
            },
            breakpoints: {
                768: {
                    cssMode      : false,
                    slidesPerView: 3,
                    loop         : true
                },
                1280: {
                    cssMode      : false,
                    spaceBetween : 30,
                    slidesPerView: 4,
                    loop         : true
                }
            }
        } )
    }
}
</script>

<style lang="scss" module>
.ProductSlider {
    position: relative;
}

.slider {
    position: relative;
    z-index: 3;
    overflow: hidden;
    margin: 0 -1.5rem;
    padding: 0 15px;

    @screen md {
        margin: 0;
        padding: 0;
    }
}

.slide {
    width: 22rem;
    height: auto;

    @screen md {
        width: auto;
    }
}
</style>
