<template>
    <div :class="[$style.WaterMeter, {[$style._hit]: data.json.isHit }]">
        <div
            v-if="data.json.isHit"
            :class="$style.tag"
        >
            выбор покупателей
        </div>

        <t type="h4" class="uppercase text-text-landing leading-none font-medium text-22 xl:text-24 text-center mb-8">
            {{ data.json.title }}
        </t>

        <BaseImage
            v-if="data.image && data.image.imageSrc"
            :src="data.image.imageSrc"
            :ext="[data.image.imageTypes, 'png']"
            :class="$style.image"
        />

        <div :class="$style.prices" class="mt-8 mb-5 xl:mb-6">
            <div
                v-for="(item, ii) in data.json.priceInstall"
                :key="`service-water-meters-install-${ii}`"
                :class="$style.price"
            >
                <t :class="$style.key">
                    {{ item.title }}
                </t>
                <t :class="$style.value">
                    {{ item.value }}
                </t>
            </div>
        </div>

        <div :class="$style.prices">
            <div
                v-for="(item, ii) in data.json.priceReplace"
                :key="`service-water-meters-replace-${ii}`"
                :class="$style.price"
            >
                <t :class="$style.key">
                    {{ item.title }}
                </t>
                <t :class="$style.value">
                    {{ item.value }}
                </t>
            </div>
        </div>

        <AButton
            type="button"
            design="red-landing"
            class="w-full h-20 xl:h-24 text-18 xl:text-20 mt-10 xl:mt-12"
            @click="$modal.open(formModal)"
        >
            Заказать
        </AButton>

        <MModal :id="formModal">
            <FormWaterMeter :product="data" />
        </MModal>
    </div>
</template>

<script>
import { getRandomId } from "@/lib/utilsDom"

export default {
    props: {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    data()
    {
        return {
            formModal: getRandomId()
        }
    }
}
</script>

<style lang="scss" module>
.WaterMeter {
    @apply relative bg-gray-50 rounded-[10px] py-12 px-8 xl:pt-16;

    &._hit {
        @apply border-[5px] border-secondary;
    }

    &:last-child {
        @apply md:col-span-2 md:w-1/2 md:justify-self-center xl:col-span-1 xl:w-auto;
    }
}

.tag {
    @apply -top-8 right-6 absolute flex justify-center items-center text-12 xl:text-14 font-bold leading-none px-6 xl:px-8 h-14 xl:h-16 uppercase text-white;
    background: linear-gradient(90deg, #014865 0%, #006B97 100%);
    border-radius: 20px;
}

.image {
    @apply w-full h-[20rem] xl:h-[23rem];
    object-fit: contain;
}

.prices {
    @apply bg-white border border-border;
    border-radius: 10px;
}

.price {
    @apply px-5 h-16 xl:h-[4.6rem] flex justify-between items-center first:border-b border-border;
}

.key {
    @apply leading-none font-medium text-15 md:text-16 xl:text-18 text-text-landing;
}

.value {
    @apply leading-none font-bold text-[17px] md:text-18 xl:text-20 text-primary;
}
</style>
