<template>
    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M35.9219 12.1719C35.9219 10.5391 34.5859 9.20312 32.9531 9.20312H5.9375C4.30469 9.20312 2.96875 10.5391 2.96875 12.1719V26.7188C2.96875 28.3516 4.30469 29.6875 5.9375 29.6875H32.9531C34.5859 29.6875 35.9219 28.3516 35.9219 26.7188V12.1719ZM34.7344 26.7188C34.7344 27.6984 33.9328 28.5 32.9531 28.5H5.9375C4.95781 28.5 4.15625 27.6984 4.15625 26.7188V12.1719C4.15625 11.1922 4.95781 10.3906 5.9375 10.3906H32.9531C33.9328 10.3906 34.7344 11.1922 34.7344 12.1719V26.7188Z" fill="#0E1F3D" />
        <line
            x1="3.37695"
            y1="14.4492"
            x2="35.4658"
            y2="14.4492"
            stroke="#0E1F3D"
            stroke-width="1.5"
        />
        <line
            x1="25.332"
            y1="25.4297"
            x2="32.932"
            y2="25.4297"
            stroke="#0E1F3D"
            stroke-width="1.5"
        />
    </svg>
</template>
