<template>
    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M35.9219 12.1719C35.9219 10.5391 34.5859 9.20312 32.9531 9.20312H5.9375C4.30469 9.20312 2.96875 10.5391 2.96875 12.1719V26.7188C2.96875 28.3516 4.30469 29.6875 5.9375 29.6875H32.9531C34.5859 29.6875 35.9219 28.3516 35.9219 26.7188V12.1719ZM34.7344 26.7188C34.7344 27.6984 33.9328 28.5 32.9531 28.5H5.9375C4.95781 28.5 4.15625 27.6984 4.15625 26.7188V12.1719C4.15625 11.1922 4.95781 10.3906 5.9375 10.3906H32.9531C33.9328 10.3906 34.7344 11.1922 34.7344 12.1719V26.7188Z" fill="#0E1F3D" />
        <path d="M16.0449 20.545V19.3276H17.2125V15.2257C17.3555 15.2257 17.7328 15.2213 18.3444 15.2125C18.956 15.2036 19.3651 15.1992 19.5716 15.1992C21.7242 15.1992 22.8005 16.1034 22.8005 17.9118C22.8005 18.7234 22.5344 19.3673 22.0022 19.8437C21.478 20.3112 20.7313 20.545 19.7623 20.545H18.6661V21.6432H20.6201V22.8606H18.6661V24.4881H17.2125V22.8606H16.0449V21.6432H17.2125V20.545H16.0449ZM19.7265 16.7209C19.5438 16.7209 19.1904 16.7297 18.6661 16.7474V19.3276H19.7146C20.7393 19.3276 21.2516 18.9042 21.2516 18.0573C21.2516 17.5898 21.1245 17.2502 20.8703 17.0385C20.6161 16.8268 20.2349 16.7209 19.7265 16.7209Z" fill="#0E1F3D" />
    </svg>
</template>
