<template>
    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M36.3103 9.70404C36.3103 7.6174 34.9752 5.91016 33.3433 5.91016H6.34392C4.71209 5.91016 3.37695 7.6174 3.37695 9.70404V28.2941C3.37695 30.3807 4.71209 32.0879 6.34392 32.0879H33.3433C34.9752 32.0879 36.3103 30.3807 36.3103 28.2941V9.70404ZM35.1235 28.2941C35.1235 29.546 34.3224 30.5704 33.3433 30.5704H6.34392C5.36482 30.5704 4.56374 29.546 4.56374 28.2941V9.70404C4.56374 8.45206 5.36482 7.42771 6.34392 7.42771H33.3433C34.3224 7.42771 35.1235 8.45206 35.1235 9.70404V28.2941Z" fill="#0E1F3D" />
        <line
            x1="8.44531"
            y1="11.918"
            x2="31.2453"
            y2="11.918"
            stroke="#404356"
            stroke-width="1.5"
        />
        <line
            x1="8.44531"
            y1="16.9844"
            x2="31.2453"
            y2="16.9844"
            stroke="#404356"
            stroke-width="1.5"
        />
        <line
            x1="8.44531"
            y1="22.0508"
            x2="31.2453"
            y2="22.0508"
            stroke="#404356"
            stroke-width="1.5"
        />
        <line
            x1="8.44531"
            y1="27.1172"
            x2="18.5786"
            y2="27.1172"
            stroke="#404356"
            stroke-width="1.5"
        />
        <line
            x1="21.1113"
            y1="27.1172"
            x2="31.2447"
            y2="27.1172"
            stroke="#404356"
            stroke-width="1.5"
        />
    </svg>
</template>
