<template>
    <svg width="13" height="24" viewBox="0 0 13 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.45156 23.8359C8.33437 23.8406 8.25937 23.85 8.18437 23.85C6.58125 23.85 4.98281 23.8453 3.37969 23.8547C3.15469 23.8547 3.09375 23.7938 3.09375 23.5688C3.09844 19.8375 3.09844 16.1016 3.09844 12.3703C3.09844 12.2719 3.09844 12.1734 3.09844 12.0469C2.22656 12.0469 1.37812 12.0469 0.515625 12.0469C0.515625 10.7156 0.515625 9.40782 0.515625 8.06251C0.604687 8.06251 0.689062 8.06251 0.76875 8.06251C1.47187 8.06251 2.175 8.05782 2.87812 8.0672C3.05625 8.0672 3.10312 8.01564 3.10312 7.8422C3.09375 6.79689 3.09375 5.74689 3.10312 4.70157C3.10781 3.97032 3.225 3.25782 3.5625 2.59689C4.04531 1.66407 4.80937 1.05939 5.775 0.684387C6.5625 0.375012 7.39219 0.262512 8.22656 0.248449C9.58594 0.229699 10.9453 0.239074 12.3047 0.234387C12.4312 0.234387 12.5344 0.229699 12.5344 0.407824C12.5297 1.69689 12.5297 2.98595 12.5297 4.27501C12.5297 4.28907 12.525 4.30314 12.5062 4.36407C12.4266 4.36407 12.3375 4.36407 12.2484 4.36407C11.4047 4.36407 10.5609 4.35939 9.71719 4.36407C9.22969 4.36407 8.83594 4.56095 8.5875 4.98751C8.5125 5.11407 8.46562 5.27814 8.46562 5.42814C8.45156 6.22501 8.46562 7.02189 8.45625 7.81876C8.45625 8.00626 8.5125 8.05782 8.69531 8.05782C9.86719 8.04845 11.0391 8.05314 12.2109 8.05314C12.3047 8.05314 12.3937 8.05314 12.5531 8.05314C12.3891 9.39376 12.2297 10.7063 12.0656 12.0328C10.8469 12.0328 9.66094 12.0328 8.45156 12.0328C8.45156 15.975 8.45156 19.8938 8.45156 23.8359Z" fill="#0E1F3D" />
    </svg>
</template>
