<template>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.6721 12.0452C23.6721 13.6764 23.6393 15.3124 23.6814 16.9436C23.7518 19.8311 21.9377 22.0624 19.6268 23.0561C18.6986 23.4546 17.7236 23.6655 16.7158 23.6655C13.5611 23.6702 10.4018 23.7124 7.24707 23.6514C4.87051 23.6046 2.91582 22.6108 1.51426 20.6514C0.77832 19.6202 0.426758 18.4483 0.426758 17.178C0.426758 13.8171 0.426758 10.4608 0.426758 7.09987C0.426758 4.35769 1.7627 2.4405 4.13457 1.19362C5.16582 0.65456 6.28613 0.424872 7.45332 0.420185C10.5143 0.420185 13.5799 0.401435 16.6408 0.42956C19.0174 0.44831 21.0002 1.35769 22.4627 3.27018C23.2783 4.33893 23.6721 5.56706 23.6721 6.91706C23.6721 8.62331 23.6721 10.3342 23.6721 12.0452ZM2.15645 12.0452C2.15645 13.7655 2.15645 15.4811 2.15645 17.2014C2.15645 17.9702 2.33457 18.6921 2.73301 19.3436C3.77832 21.0546 5.35801 21.8889 7.31738 21.9217C10.4627 21.9686 13.6127 21.9405 16.7627 21.9311C17.5361 21.9311 18.2861 21.7717 18.9846 21.4389C20.8877 20.5296 21.9518 19.0811 21.9424 16.9061C21.9236 13.578 21.9377 10.2499 21.9377 6.92175C21.9377 5.97956 21.6705 5.11706 21.1127 4.35769C20.0346 2.89987 18.5439 2.18268 16.7627 2.16393C13.6221 2.12643 10.4814 2.14987 7.34082 2.15456C6.67051 2.15456 6.02363 2.2905 5.39551 2.52487C3.67051 3.16706 2.06738 4.79362 2.14238 7.18893C2.19863 8.81081 2.15645 10.428 2.15645 12.0452Z" fill="#0E1F3D" />
        <path d="M12.075 17.0156C9.05157 17.0156 6.61407 14.6063 6.60938 11.6063C6.60469 8.65313 9.06095 6.23438 12.0656 6.23438C15.0797 6.22969 17.5266 8.64376 17.5313 11.6203C17.5313 14.5922 15.0891 17.0109 12.075 17.0156ZM12.075 15.2813C14.1328 15.2813 15.8016 13.6359 15.7969 11.6109C15.7922 9.60469 14.1235 7.96407 12.075 7.96407C10.0172 7.96407 8.33907 9.60001 8.33907 11.6203C8.34376 13.6453 10.0172 15.2859 12.075 15.2813Z" fill="#0E1F3D" />
        <path d="M18.1643 4.59375C18.7971 4.59375 19.3127 5.13281 19.3127 5.79375C19.308 6.45468 18.7877 6.98906 18.1549 6.98437C17.5315 6.97968 17.0205 6.44531 17.0205 5.79844C17.0159 5.1375 17.5315 4.59375 18.1643 4.59375Z" fill="#0E1F3D" />
    </svg>
</template>
