<template>
    <svg width="16" height="24" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 0.75C5.225 0.75 2.9375 3 2.9375 5.8125C2.9375 8.5875 5.1875 10.875 8 10.875C10.8125 10.875 13.0625 8.625 13.0625 5.8125C13.0625 3 10.775 0.75 8 0.75ZM8 7.5C7.0625 7.5 6.3125 6.75 6.3125 5.8125C6.3125 4.875 7.0625 4.125 8 4.125C8.9375 4.125 9.6875 4.875 9.6875 5.8125C9.6875 6.75 8.9375 7.5 8 7.5Z" fill="#0E1F3D" />
        <path d="M14.2249 14.289C12.9499 15.0015 11.5624 15.489 10.1749 15.714L14.1124 20.5515C14.5624 21.114 14.6749 21.9015 14.2624 22.5015C13.6249 23.4765 12.2749 23.514 11.5999 22.6515L7.96243 18.189L4.36243 22.6515C4.02493 23.064 3.57493 23.2515 3.08743 23.2515C2.59993 23.2515 2.11243 23.0265 1.77493 22.5765C1.36243 22.014 1.39993 21.0765 1.84993 20.514L5.74993 15.639C4.36243 15.3765 2.97493 14.9265 1.73743 14.214C0.949933 13.764 0.687433 12.789 1.13743 11.964C1.58743 11.1765 2.59993 10.914 3.38743 11.364C6.23743 12.9765 9.79993 12.9765 12.6874 11.4015C13.4749 10.9515 14.4874 11.2515 14.8999 12.039C15.3124 12.864 15.0124 13.839 14.2249 14.289Z" fill="#0E1F3D" />
    </svg>
</template>
