<template>
    <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.187598 17.648C2.79385 17.8824 5.14229 17.2261 7.27979 15.623C5.04385 15.4261 3.54854 14.3105 2.71416 12.2199C3.44541 12.3089 4.12979 12.3324 4.85635 12.1355C2.44697 11.3855 1.1626 9.81048 0.98916 7.26986C1.71104 7.60736 2.39072 7.85111 3.19229 7.86048C1.7626 6.78704 1.03135 5.39486 1.05947 3.64173C1.07354 2.83548 1.28916 2.07611 1.71572 1.35892C4.36416 4.45736 7.6876 6.17298 11.7798 6.45892C11.7563 6.28079 11.7423 6.14017 11.7235 5.99486C11.386 3.39798 13.0735 1.03548 15.6517 0.543294C17.2688 0.233919 18.6985 0.660482 19.9079 1.77611C20.0954 1.94486 20.2548 1.98236 20.4892 1.92142C21.4313 1.68236 22.3267 1.33548 23.1938 0.866732C22.861 1.96361 22.1767 2.78861 21.2485 3.48236C21.4595 3.44486 21.6751 3.41673 21.886 3.37454C22.1063 3.32767 22.3267 3.27611 22.547 3.21517C22.7579 3.15892 22.9642 3.09329 23.1704 3.02298C23.3813 2.95267 23.5923 2.87298 23.8407 2.83079C23.7188 2.99954 23.6017 3.17767 23.4704 3.34173C22.9267 4.03079 22.2985 4.63548 21.6095 5.17454C21.5392 5.23079 21.4782 5.35267 21.4829 5.43704C21.5204 7.10111 21.286 8.72298 20.747 10.298C19.6876 13.4011 17.8407 15.9136 15.0704 17.7089C13.7017 18.5949 12.2063 19.1761 10.6079 19.5136C9.02353 19.8464 7.42978 19.9074 5.83135 19.7199C4.22822 19.5324 2.70479 19.0589 1.27041 18.3183C0.890723 18.1261 0.525098 17.9105 0.154785 17.7042C0.168848 17.6855 0.178223 17.6667 0.187598 17.648Z" fill="#0E1F3D" />
    </svg>
</template>
