
    <!DOCTYPE html>
    <html {{ HTML_ATTRS }}>
        <head {{ HEAD_ATTRS }}>
            
            {{ HEAD }}
            
        </head>
        <body {{ BODY_ATTRS }}>
            
            {{ APP }}
            
        </body>
    </html>
    