<template>
    <div :class="$style.ProductAccordions">
        <AAccordion
            v-if="modifications && modifications.length"
            design="product"
            opened
        >
            <template #key>
                <div>
                    Модификация и цены
                </div>
            </template>

            <template #content>
                <c :class="$style.container">
                    <MProductTabsModifications
                        :ids="modifications"
                        :conjoint-product="conjointProduct"
                        :title="title"
                        :class="$style.content"
                    />
                </c>
            </template>
        </AAccordion>

        <AAccordion
            v-if="data.description"
            design="product"
            opened
        >
            <template #key>
                <div>
                    Описание
                </div>
            </template>

            <template #content>
                <c :class="$style.container">
                    <MProductTabsDescription
                        :data="data"
                        :title="title"
                        :class="$style.content"
                    />
                </c>
            </template>
        </AAccordion>

        <AAccordion
            v-if="data.fields.props && data.fields.props.length"
            design="product"
            opened
        >
            <template #key>
                <div>
                    Характеристики
                </div>
            </template>

            <template #content>
                <c :class="$style.container">
                    <MProductTabsCharacteristics
                        :data="data"
                        :title="title"
                        :class="$style.content"
                        class="!pb-0"
                    />
                </c>
            </template>
        </AAccordion>

        <AAccordion
            v-if="data.docs && data.docs.length"
            design="product"
            opened
        >
            <template #key>
                <div>
                    Документация
                </div>
            </template>

            <template #content>
                <c :class="$style.container">
                    <MProductTabsDocumentation
                        :data="data"
                        :title="title"
                        :class="$style.content"
                    />
                </c>
            </template>
        </AAccordion>

        <AAccordion
            design="product"
            opened
        >
            <template #key>
                <div>
                    Оплата
                </div>
            </template>

            <template #content>
                <c :class="$style.container">
                    <MProductTabsPayment
                        :data="data"
                        :title="title"
                        :class="$style.content"
                    />
                </c>
            </template>
        </AAccordion>

        <AAccordion
            design="product"
            opened
        >
            <template #key>
                <div>
                    Доставка
                </div>
            </template>

            <template #content>
                <c :class="$style.container">
                    <MProductTabsDelivery
                        :data="data"
                        :title="title"
                        :class="$style.content"
                    />
                </c>
            </template>
        </AAccordion>

        <AAccordion
            design="product"
            opened
        >
            <template #key>
                <div>
                    Гарантия
                </div>
            </template>

            <template #content>
                <c :class="$style.container">
                    <MProductTabsGuarantee
                        :class="$style.content"
                    />
                </c>
            </template>
        </AAccordion>

        <AAccordion
            v-if="synonyms && synonyms.length"
            design="product"
            opened
        >
            <template #key>
                <div>
                    Категории товара
                </div>
            </template>

            <template #content>
                <c :class="$style.container">
                    <MProductTabsSynonyms
                        :synonyms="synonyms"
                        :class="$style.content"
                    />
                </c>
            </template>
        </AAccordion>

        <AAccordion
            v-if="data.seo && data.seo.alternativeTitles && data.seo.alternativeTitles.length"
            design="product"
            opened
        >
            <template #key>
                <div>
                    Альтернативные названия товара
                </div>
            </template>

            <template #content>
                <c :class="$style.container">
                    <MProductTabsAlternativeTitles
                        :data="data"
                        :class="$style.content"
                    />
                </c>
            </template>
        </AAccordion>

        <AAccordion
            design="product"
            opened
        >
            <template #key>
                <div>
                    Отзывы
                </div>
            </template>

            <template #content>
                <c :class="$style.container">
                    <MProductTabsReviews
                        :data="data"
                        :reviews="reviews"
                        :title="title"
                        :class="$style.reviews"
                    />
                </c>
            </template>
        </AAccordion>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        conjointProduct: {
            type   : Object,
            default: () => ( {} )
        },

        title: {
            type   : String,
            default: ""
        },

        synonyms: {
            type   : Array,
            default: () => []
        },

        reviews: {
            type   : Array,
            default: () => []
        }
    },

    data()
    {
        return {
            hasSynonyms: false
        }
    },

    computed: {
        modifications()
        {
            if ( this.conjointProduct && this.conjointProduct.data.conjointModifications && this.conjointProduct.data.conjointModifications.length )
            {
                return this.conjointProduct.data.conjointModifications
            }
            else
            {
                return this.data.data.conjointModifications
            }
        }
    }
}
</script>

<style lang="scss" module>
.content {
    @apply relative py-6 md:py-8;

    &:after {
        @apply bg-stroke xl:hidden;
        z-index: 1;
        content: "";
        position: absolute;
        bottom: 0;
        left: -100vw;
        height: 1px;
        width: 300vw;
    }
}

.reviews {
    @apply relative pt-6 md:pt-8;

    &:after {
        @apply bg-stroke xl:hidden;
        z-index: 1;
        content: "";
        position: absolute;
        bottom: 0;
        left: -100vw;
        height: 1px;
        width: 300vw;
    }
}

.container {
    @apply pb-12;
}
</style>
