<template>
    <div ref="hero" :class="$style.Hero">
        <div class="pb-6 md:pb-8 md:line-bottom xl:after:hidden">
            <t type="h1" class="inline-block mr-4 md:mr-0 text-20 md:text-24 xl:text-28 2xl:text-34 text-text-main font-bold tracking-wide leading-tight">
                {{ title }}
            </t>

            <div :class="$style.status" class="md:!hidden">
                <div :class="[$style.circle, $style[data.data.stockStatusCode]]" />

                <t :class="$style.statusText">
                    {{ data.data.stockStatus }}
                </t>
            </div>
        </div>

        <div class="relative pt-16 md:pt-0 xl:flex xl:border xl:border-stroke xl:border-b-0">
            <div class="xl:w-[47rem] 2xl:w-[68rem] flex-shrink-0 xl:overflow-hidden xl:border-r xl:border-stroke">
                <div :class="$style.sliderContainer">
                    <div
                        ref="productSlider"
                        :class="$style.slider"
                    >
                        <div :class="$style.sliderWrapper" class="swiper-wrapper">
                            <div
                                v-for="(slide, i) in data.images"
                                :key="`slider-1-${i}`"
                                class="swiper-slide flex justify-center items-center"
                            >
                                <BaseImage
                                    :src="slide.imageSrc"
                                    :ext="slide.imageTypes"
                                    :class="$style.image"
                                    itemprop="image"
                                />
                            </div>
                        </div>

                        <div :class="$style.pagination" class="line-top line-bottom">
                            <div
                                v-for="(bullet, i) in data.images"
                                :key="`pagination-${i}`"
                                :class="[$style.bullet, {[$style._active]: i === activeIndex}]"
                                @click="slider.slideTo(i )"
                            />
                        </div>
                    </div>

                    <div :class="$style.sliderPagination" class="hidden absolute z-10 top-14 xl:top-6 2xl:top-8 left-8 xl:left-6 2xl:left-8 md:flex flex-col">
                        <div
                            v-for="(tab, i) in data.images.slice(0, 4)"
                            :key="`slider-2-${i}`"
                            class="overflow-hidden object-cover"
                            :class="[$style.tab, {[$style._active]: i === activeIndex}]"
                            @click="slider.slideTo(i + 1)"
                        >
                            <BaseImage
                                :src="tab.imageSrc"
                                :ext="tab.imageTypes"
                                itemprop="image"
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div class="xl:flex-1">
                <div class="!absolute top-0 w-full md:!relative h-16 md:h-20 2xl:h-24 xl:px-6 2xl:px-8 flex items-center justify-between line-bottom xl:before:hidden line-top xl:after:hidden xl:border-b xl:border-stroke" :class="$style.iconsWrap">
                    <div class="md:flex items-center">
                        <div :class="$style.status" class="!hidden md:!inline-block">
                            <div :class="[$style.circle, $style[data.data.stockStatusCode]]" />

                            <t :class="$style.statusText">
                                {{ data.data.stockStatus }}
                            </t>
                        </div>

                        <div :class="$style.prop">
                            <t :class="$style.propKey">
                                Код товара:
                            </t>
                            <t :class="$style.propValue">
                                {{ data.fields.code.value }}
                            </t>
                        </div>
                    </div>

                    <div :class="$style.icons">
                        <div :class="[$style.iconButton, {[$style._active]: inCompare}]" @click="onCompareClick">
                            <IconCompare :class="$style.icon" />
                        </div>

                        <div :class="[$style.iconButton, {[$style._active]: inFavorites}]" @click="onFavoriteClick">
                            <IconFavorite :class="$style.icon" />
                        </div>

                        <div
                            :class="$style.iconButton"
                            class="!hidden md:!flex"
                            @click="onPrintClick"
                        >
                            <IconPrinter :class="$style.icon" />
                        </div>
                    </div>
                </div>

                <div class="py-6 xl:px-6 2xl:px-8 flex flex-wrap gap-x-10 md:gap-x-12 xl:gap-x-16 2xl:gap-x-20 gap-y-6 items-center md:min-h-[5rem] 2xl:min-h-[6rem]">
                    <div
                        v-if="data.fields.sku.value"
                        :class="$style.prop"
                    >
                        <t :class="$style.propKey">
                            Артикул:
                        </t>
                        <t :class="$style.propValue">
                            {{ data.fields.sku.value }}
                        </t>
                    </div>

                    <div
                        v-if="data.fields.brand.value"
                        :class="$style.prop"
                    >
                        <t :class="$style.propKey">
                            Бренд:
                        </t>
                        <AButton
                            type="internal"
                            design="link"
                            :class="[$style.propValue, $style._link]"
                            :link="brandLink"
                        >
                            {{ data.fields.brand.value }}
                        </AButton>
                    </div>

                    <div :class="$style.prop">
                        <t :class="$style.propKey">
                            Гарантия:
                        </t>
                        <AButton
                            type="internal"
                            design="link"
                            :class="[$style.propValue, $style._link]"
                            :link="guaranteeLink"
                        >
                            5 лет <!-- TODO: hardcode -->
                        </AButton>
                    </div>

                    <div
                        v-for="(item, i) in data.fields.props.slice(0, 3)"
                        :key="`props-${i}`"
                        :class="$style.prop"
                    >
                        <t :class="$style.propKey">
                            {{ item.name }}:
                        </t>
                        <t :class="$style.propValue">
                            {{ item.value }}
                        </t>
                    </div>
                </div>

                <div class="full-background xl:before:!hidden xl:bg-background py-8 2xl:py-12 xl:px-6 2xl:px-8 md:flex md:justify-between md:items-center">
                    <div>
                        <div class="mb-4 2xl:mb-5">
                            <t class="text-16 text-text-main leading-none tracking-wide 2xl:text-20">
                                Цена
                            </t>
                            <t
                                v-if="isVariants"
                                class="text text-secondary ml-2 2xl:ml-3 2xl:text-18"
                            >
                                ({{ data.data.conjointModifications.length }} {{ plural }})
                            </t>
                        </div>

                        <div v-if="data.data.conjointData && (data.data.conjointData.minPrice || data.data.conjointData.maxPrice)" class="flex gap-6">
                            <div v-if="data.data.conjointData.minPrice">
                                <t class="text mr-1 2xl:text-18">
                                    от
                                </t>
                                <t :class="$style.price" class="!inline-block">
                                    {{ formattedPrice( data.data.conjointData.minPrice ) }}
                                </t>
                            </div>

                            <div v-if="data.data.conjointData.maxPrice">
                                <t class="text mr-1 2xl:text-18">
                                    до
                                </t>
                                <t :class="$style.price" class="!inline-block">
                                    {{ formattedPrice( data.data.conjointData.maxPrice ) }}
                                </t>
                            </div>
                        </div>

                        <div
                            v-else
                            class="flex items-center"
                        >
                            <t :class="$style.price">
                                {{ formattedPrice( data.data.price ) }}
                            </t>
                            <t
                                v-if="data.data.basePrice && data.data.discount"
                                class="block ml-4 text-gray-450 text-14 2xl:text-16 font-medium leading-none tracking-wide line-through translate-y-px"
                            >
                                {{ formattedPrice( data.data.basePrice ) }}
                            </t>
                        </div>

                        <t
                            class="block mt-4 2xl:mt-5 leading-none tracking-wide text-12 2xl:text-16 cursor-pointer transition-colors duration-300 xl:hover:text-primary"
                            @click="$modal.open( callbackForm )"
                        >
                            Запросить оптовую цену
                        </t>
                    </div>

                    <div>
                        <div class="flex mt-8 flex items-center h-[4.4rem] 2xl:h-20 md:mt-0">
                            <div class="w-1/2 h-full pr-2 2xl:pr-4 md:w-[21.5rem] 2xl:w-[29rem]">
                                <AButton
                                    v-if="isVariants"
                                    type="button"
                                    design="blue-common"
                                    class="!font-circe !font-bold h-full w-full !text-15 2xl:!text-18"
                                    @click="toModifications"
                                >
                                    Выбрать
                                    <IconArrow class="w-[11px] ml-[8px] 2xl:ml-4 2xl:translate-y-px" />
                                </AButton>

                                <div
                                    v-else-if="data.data.price"
                                    :class="[$style.buttons, { [$style._cart]: inCart }]"
                                >
                                    <div class="w-1/2 h-full flex items-center justify-center">
                                        <ACounter
                                            :value="quantity"
                                            :inverse="inCart"
                                            @change="onQuantityChange"
                                        />
                                    </div>

                                    <AButtonBuy
                                        design="gray-common"
                                        :data="buyData"
                                        :disabled="inCart"
                                        :class="[$style.buy, { [$style._cart]: inCart }]"
                                        @modal="$modal.open( cartModal )"
                                    >
                                        <template v-if="inCart">
                                            <IconInCart class="md:hidden w-[18px] h-auto" />
                                            <div class="hidden md:flex items-center">
                                                <IconChecked class="mr-3 xl:-translate-y-px" />
                                                В&nbsp;корзине
                                            </div>
                                        </template>
                                        <template v-else>
                                            Купить
                                        </template>
                                    </AButtonBuy>
                                </div>

                                <AButton
                                    v-else
                                    type="button"
                                    design="gray-common"
                                    class="w-full h-full text-15 2xl:text-18"
                                    @click="$modal.open(callbackForm)"
                                >
                                    Запросить
                                </AButton>
                            </div>

                            <div class="w-1/2 h-full pl-2 2xl:pl-4 md:w-[17rem] 2xl:w-[26rem]">
                                <a rel="nofollow" class="pointer-events-none">
                                    <AButton
                                        type="button"
                                        design="blue-common"
                                        inverse
                                        class="!font-circe !font-bold w-full h-full leading-none tracking-wide text-15 2xl:text-18 pointer-events-auto"
                                        @click="$modal.open(oneClickForm)"
                                    >
                                        Купить в 1 клик
                                    </AButton>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pt-6 xl:px-6 2xl:p-8">
                    <t class="block text-text-main leading-none tracking-wide font-bold 2xl:text-18">
                        Способы оплаты
                    </t>

                    <div class="flex mt-4 2xl:mt-6">
                        <div :class="$style.payment">
                            <IconPaymentCash :class="$style.paymentIcon" />

                            <div :class="[$style.tooltip, $style._left]">
                                Оплата наличными
                            </div>
                        </div>
                        <div :class="$style.payment">
                            <IconPaymentCard :class="$style.paymentIcon" />

                            <div :class="$style.tooltip">
                                Оплата картой
                            </div>
                        </div>
                        <div :class="$style.payment">
                            <IconPaymentCheck :class="$style.paymentIcon" />

                            <div :class="$style.tooltip">
                                Оплата по счету
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <MModal :id="cartModal">
            <OCartModal
                :id="cartModal"
                :data="buyData"
            />
        </MModal>

        <MModal :id="oneClickForm">
            <FormOneClick :product="data" />
        </MModal>

        <MModal :id="callbackForm">
            <FormCallback />
        </MModal>
    </div>
</template>

<script>
import Swiper from "swiper"
import { mapActions, mapState } from "vuex"
import { getPrice, plural } from "@/lib/utils.js"
import { getRandomId } from "@/lib/utilsDom"
import { getProductQuantity } from "@/lib/cart"
import { BRAND, GUARANTEE } from "@/lib/url/const"
import { FAVORITE, COMPARE } from "@/lib/products/const"
import { isIn, toggleProduct } from "@/lib/products"
import { getName } from "@/lib/cookie"

export default {
    props: {
        data: {
            type   : Object,
            default: () => {}
        },

        title: {
            type   : String,
            default: ""
        }
    },

    data()
    {
        return {
            scrollHeight: 0,
            slider      : null,
            quantity    : 1,
            cartModal   : getRandomId(),
            oneClickForm: getRandomId(),
            callbackForm: getRandomId()
        }
    },

    computed: {
        ...mapState( "cart", [
            "cart"
        ] ),

        ...mapState( "cookie", {
            favorite: getName( "favorite" ),
            compare : getName( "compare" )
        } ),

        activeIndex()
        {
            return this.slider ? this.slider.realIndex : 0
        },

        brandLink()
        {
            return this.$getUrl( BRAND, { fslug: this.data.fields.brand.fslug } )
        },

        guaranteeLink()
        {
            return this.$getUrl( GUARANTEE )
        },

        isVariants()
        {
            return this.data.data.conjointModifications && this.data.data.conjointModifications.length
        },

        plural()
        {
            return plural( this.data.data.conjointModifications.length, [ "вариант", "варианта", "вариантов" ] )
        },

        inFavorites()
        {
            return isIn( {
                product: this.data,
                dict   : this.favorite
            } )
        },

        inCompare()
        {
            return isIn( {
                product: this.data,
                dict   : this.compare
            } )
        },

        inCart()
        {
            return isIn( {
                product: this.data,
                dict   : this.cart.positions
            } )
        },

        buyData()
        {
            return {
                ...this.data,
                quantity: this.quantity
            }
        }
    },

    created()
    {
        if ( this.inCart )
        {
            this.quantity = getProductQuantity( {
                id  : this.data.id,
                cart: this.cart
            } )
        }
    },

    mounted()
    {
        this.scrollHeight = this.$refs.hero.offsetHeight + this.$refs.hero.offsetTop

        this.slider = new Swiper( this.$refs.productSlider, {
            cssMode      : true,
            slidesPerView: 1,
            spaceBetween : 0,
            loop         : false,
            pagination   : {
                el       : ".swiper-pagination",
                clickable: true
            },
            breakpoints: {
                1280: {
                    cssMode: false,
                    loop   : true
                }
            }
        } )
    },

    methods: {
        ...mapActions( [
            "toggleFavorite",
            "toggleCompare"
        ] ),

        ...mapActions( "cart", [
            "updateQuantity"
        ] ),

        onFavoriteClick()
        {
            toggleProduct( FAVORITE, {
                product: this.data,
                dict   : this.favorite,
                action : this.toggleFavorite
            } )
        },

        onCompareClick()
        {
            toggleProduct( COMPARE, {
                product: this.data,
                dict   : this.compare,
                action : this.toggleCompare
            } )
        },

        formattedPrice( val )
        {
            return getPrice( val )
        },

        onPrintClick()
        {
            window.print()
        },

        toModifications()
        {
            if ( window.innerWidth >= 1280 )
            {
                this.$emit( "to-modifications" )
            }
            window.scroll( { top: this.scrollHeight, left: 0, behavior: "smooth" } )
        },

        onQuantityChange( e )
        {
            this.quantity = e

            if ( this.inCart )
            {
                this.updateQuantity( {
                    id      : this.data.id,
                    quantity: this.quantity
                } )
            }
        }
    }
}
</script>

<style lang="scss" module>
.Hero {
    @apply pb-8 xl:pb-0;
}

.status {
    @apply inline-block md:mr-12 xl:mr-16 2xl:mr-20 2xl:text-16;
}

.circle {
    @apply inline-block bg-primary mr-1;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: translateY(-1px);

    @screen md {
        width: 6px;
        height: 6px;
    }

    @screen 2xl {
        width: 8px;
        height: 8px;
        margin-right: 7px;
    }

    &.in_stock {
        @apply bg-green;
    }

    &.on_order {
        @apply bg-orange;
    }
}

.statusText {
    @apply leading-none tracking-wide;
}

.prop {
    @apply flex items-center 2xl:text-16;
}

.propKey {
    @apply tracking-wide leading-none mr-[4px];
}

.propValue {
    @apply tracking-wide leading-none font-bold;

    &._link {
        @apply text-secondary transition-colors duration-300 xl:hover:text-primary;
    }
}

.icons {
    @apply flex justify-end h-full;
    z-index: 2;

    @screen xl {
        height: calc(100% + 2px);
    }
}

.iconButton {
    @apply w-10 mr-2 last:mr-0 md:mr-4 h-full flex justify-center items-center text-text-low transition-colors duration-300 cursor-pointer;

    &:hover {
        @screen xl {
            background-color: rgba(213, 213, 213, .2);
        }
    }

    &._active {
        @apply bg-primary text-white;
        svg {
            @apply fill-current;
        }
    }

    @screen md {
        @apply w-12;
    }

    @screen 2xl {
        @apply w-16;
    }
}

.icon {
    width: 17px;
    height: 17px;

    @screen md {
        width: 20px;
        height: 20px;
    }

    @screen 2xl {
        width: 24px;
        height: 24px;
    }
}

.sliderContainer {
    @apply relative md:py-24 xl:p-8 2xl:p-12 -mx-4 md:-mx-8 xl:mx-0;
}

.slider {
    position: relative;

    :global(.swiper-pagination) {
        @apply py-4;
        margin-top: 0;
    }
}

.sliderWrapper {
    @apply py-16 md:py-0;
}

.buttons {
    @apply h-full bg-brown flex items-center transition-colors duration-300;

    &._cart {
        @apply bg-primary;
    }
}

.buy {
    @apply w-1/2 h-full text-15 2xl:text-18;

    &._cart {
        button {
            @apply bg-primary #{ !important };
        }
    }
}

.paymentIcon {
    width: 38px;
    height: 38px;

    @screen 2xl {
        width: 45px;
        height: 45px;
    }
}

.payment {
    @apply relative w-28 2xl:w-[9rem] flex justify-center border-stroke border-t border-l border-b last:border-r cursor-pointer 2xl:text-16;
    transition: box-shadow .3s ease;

    &:hover {
        box-shadow: 0 0 30px rgba(112, 112, 112, 0.2);

        .tooltip {
            opacity: 1;
            visibility: visible;
        }
    }
}

.tooltip {
    @apply w-max leading-none relative bg-white px-5 py-4;
    position: absolute;
    z-index: 3;
    right: 50%;
    top: calc(100% + 15px);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 32px rgba(0, 0, 0, 0.16);
    transform: translateX(50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;

    &._left {
        left: 0;
        transform: translateX(0%);

        &::before {
            left: 2rem;
            transform: rotate(45deg);
            top: -7px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: 50%;
        transform: rotate(45deg) translateX(-50%);
        width: 15px;
        height: 15px;
        z-index: 1;
        border-radius: 2px 0 0 0;
        @apply border-gray-300 bg-white;
    }
}

.tab {
    @apply bg-white p-4 border border-transparent flex justify-center items-center mr-0 mb-10 last:mb-0 transition-colors duration-300;
    width: 8rem;
    height: 8rem;
    cursor: pointer;

    @screen xl {
        width: 6rem;
        height: 6rem;
    }

    @screen 2xl {
        width: 8rem;
        height: 8rem;
    }

    &:hover {
        @apply xl:border-secondary;
    }

    &._active {
        @apply border-secondary;
    }
}

.image {
    width: 34rem;
    height: 34rem;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;

    @screen md {
        width: auto;
        height: 30rem;
    }
}

.price {
    @apply block text-black text-22 2xl:text-30 font-bold leading-none tracking-wide;
}

.pagination {
    @apply h-16;
    display: flex;
    align-items: center;
    justify-content: center;

    @screen md {
        display: none;
    }
}

.bullet {
    @apply bg-transparent border border-stroke rounded-none transition-colors duration-300;
    width: 14px;
    height: 14px;
    display: block;
    margin: 0 5px;
    opacity: 1;
    cursor: pointer;

    &._active {
        @apply bg-primary border-primary;
    }
}
</style>
