<template>
    <div :class="$style.Modifications">
        <div class="pt-8 md:pt-0 px-4 md:px-0 pb-4 md:pb-8">
            <t type="h2" class="font-gotham text-text-main text-18 md:text-20 2xl:text-24 font-medium leading-tight">
                Выбор модификации
            </t>

            <div :class="$style.title">
                Модификации и цены на товар
                <AButton
                    design="custom"
                    :link="productLink"
                    :class="$style.link"
                >
                    {{ data.title }}
                </AButton>
            </div>
        </div>

        <MProductCard
            design="modal"
            :data="data"
        />

        <MProductTabsModifications
            :ids="data.data.conjointModifications"
            is-modal
        />
    </div>
</template>

<script>
import { mapGetters } from "vuex"
import { PRODUCT } from "@/lib/url/const"

export default {
    props: {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    computed: {
        ...mapGetters( "regions", [
            "regionSlug"
        ] ),

        productLink()
        {
            return this.$getUrl( PRODUCT, {
                fslug: this.data.fslug,
                city : this.regionSlug
            } )
        }
    }
}
</script>

<style lang="scss" module>
.Modifications {
    @apply pb-10 md:px-8 md:py-12 2xl:px-20 2xl:py-14;
    height: 100%;
    min-height: 100vh;

    @screen xl {
        max-width: 1160px;
        height: auto;
        min-height: auto;
    }

    @screen 2xl {
        max-width: 1380px;
    }
}

.title {
    @apply mt-4 md:text-16 2xl:text-20 leading-tight;
}

.link {
    @apply font-circe text-secondary xl:hover:text-primary transition-colors duration-300 #{ !important };
}
</style>
