<template>
    <div :class="$style.ProductSlider">
        <div class="md:flex justify-between items-end 2xl:items-center mb-6 md:mb-8">
            <t type="h2" design="h2">
                {{ title }}
            </t>

            <div
                v-if="data.length > slidesPerView"
                class="hidden md:flex"
            >
                <div ref="prev" class="mr-4">
                    <AButton
                        type="button"
                        design="slider"
                    >
                        <IconArrow class="rotate-90" />
                    </AButton>
                </div>

                <div ref="next">
                    <AButton
                        type="button"
                        design="slider"
                    >
                        <IconArrow class="-rotate-90" />
                    </AButton>
                </div>
            </div>
        </div>

        <div class="relative">
            <div
                ref="productSlider"
                :class="$style.slider"
                @mouseenter="hoverVisible = true"
                @mouseleave="hoverVisible = false"
            >
                <div :class="$style.sliderWrapper" class="swiper-wrapper">
                    <div
                        v-for="(item, i) in data"
                        :key="`slider-1-${i}`"
                        class="swiper-slide !h-auto first:pl-4 last:pr-4 md:!px-0"
                        @mouseenter="onMouseEnter($event)"
                    >
                        <MProductCard
                            :class="$style.slide"
                            :data="item"
                            design="slider"
                            :category="category"
                            :custom-title="category !== null"
                            :seo-title="seoTitle"
                        />
                    </div>
                </div>
            </div>

            <div class="hidden xl:flex absolute top-0 left-0 w-full h-full z-10 pointer-events-none">
                <div
                    v-for="(item, i) in 5"
                    :key="`slider-hover-${i}`"
                    ref="hover"
                    :class="[$style.hover, {[$style._visible]: hoverInd === i && hoverVisible }]"
                />
            </div>
        </div>
    </div>
</template>

<script>
import Swiper from "swiper"

export default {
    props: {
        data: {
            type   : Array,
            default: () => []
        },

        title: {
            type   : String,
            default: ""
        },

        category: {
            type   : Object,
            default: () => ( {} )
        },

        slidesCount: {
            type   : Number,
            default: 4
        },

        design: {
            type   : String,
            default: "common",
            validator( value )
            {
                return [ "common", "common-small", "custom" ].includes( value )
            }
        },

        seoTitle: Boolean
    },

    data()
    {
        return {
            slider      : null,
            hoverVisible: false,
            hoverInd    : 0
        }
    },

    computed: {
        activeIndex()
        {
            return this.slider ? this.slider.realIndex : 0
        },

        slidesPerView()
        {
            return this.slider ? this.slider.params.slidesPerView : 0
        },

        card()
        {
            switch ( this.design )
            {
            case "common-small":
                return { design: "slider-min", count: { sm: 2, md: 3, lg: 4 } }
            default:
                return { design: "common", count: { sm: 2, md: 3, lg: 4 } }
            }
        }
    },

    mounted()
    {
        this.slider = new Swiper( this.$refs.productSlider, {
            cssMode      : true,
            slidesPerView: "auto",
            spaceBetween : 0,
            loop         : false,
            navigation   : {
                prevEl       : this.$refs?.prev,
                nextEl       : this.$refs?.next,
                disabledClass: "is-disabled"
            },
            breakpoints: {
                768: {
                    slidesPerView: 3
                },
                1280: {
                    cssMode       : false,
                    allowTouchMove: false,
                    slidesPerView : 4
                },
                1800: {
                    cssMode       : false,
                    allowTouchMove: false,
                    slidesPerView : 5
                }
            }
        } )
    },

    methods: {
        onMouseEnter( e )
        {
            const width = window.innerWidth >= 1800 ? 332 : 290
            this.hoverInd = ( e.target.offsetLeft - ( this.activeIndex * width ) ) / width
        }
    }
}
</script>

<style lang="scss" module>
.ProductSlider {
    position: relative;

    :global(.swiper-slide) {
        @apply w-max md:w-full;
    }
}

.slider {
    position: relative;
    z-index: 3;
    overflow: hidden;
    margin: 0 -1rem;

    @screen md {
        margin: 0;
    }
}

.slide {
    @apply h-full w-[24rem] md:w-auto border-t border-b border-l border-blue-100 last:border-r;
}

.hover {
    @apply w-1/4 2xl:w-1/5 h-full z-10;
    box-shadow: 0 0 30px rgba(112, 112, 112, 0.2);
    opacity: 0;
    transition: opacity .3s ease;

    &._visible {
        opacity: 1;
    }

    &:last-child {
        @apply hidden 2xl:block;
    }
}
</style>
