<template>
    <div :class="$style.ProductTabs">
        <MTabs
            :value="value"
            :data="formattedOptions"
            @change="value = $event"
        >
            <template #key-modifications>
                <AButton
                    :link="productUrl"
                    :class="$style.link"
                    design="custom"
                    @click.prevent="onLinkClick('modifications')"
                >
                    Модификация и цены
                </AButton>
            </template>

            <template #modifications>
                <MProductTabsModifications
                    :ids="modifications"
                    :conjoint-product="conjointProduct"
                    :title="title"
                    :class="$style.content"
                />
            </template>

            <template #key-description>
                <AButton
                    :link="productUrl"
                    :class="$style.link"
                    design="custom"
                    @click.prevent="onLinkClick('description')"
                >
                    Описание
                </AButton>
            </template>

            <template #description>
                <MProductTabsDescription
                    :data="data"
                    :title="title"
                    :class="$style.content"
                />
            </template>

            <template #key-characteristics>
                <AButton
                    :link="characteristicsUrl"
                    :class="$style.link"
                    design="custom"
                >
                    Характеристики
                </AButton>
            </template>

            <template #characteristics>
                <MProductTabsCharacteristics
                    :data="data"
                    :title="title"
                    :class="$style.content"
                />
            </template>

            <template #key-docs>
                <AButton
                    :link="productUrl"
                    :class="$style.link"
                    design="custom"
                    @click.prevent="onLinkClick('docs')"
                >
                    Документация
                </AButton>
            </template>

            <template #docs>
                <MProductTabsDocumentation
                    :data="data"
                    :title="title"
                    :class="$style.content"
                />
            </template>

            <template #key-payment>
                <AButton
                    :link="productUrl"
                    :class="$style.link"
                    design="custom"
                    @click.prevent="onLinkClick('payment')"
                >
                    Оплата
                </AButton>
            </template>

            <template #payment>
                <MProductTabsPayment
                    :class="$style.content"
                />
            </template>

            <template #key-delivery>
                <AButton
                    :link="productUrl"
                    :class="$style.link"
                    design="custom"
                    @click.prevent="onLinkClick('delivery')"
                >
                    Доставка
                </AButton>
            </template>

            <template #delivery>
                <MProductTabsDelivery
                    :class="$style.content"
                />
            </template>

            <template #key-guarantee>
                <AButton
                    :link="productUrl"
                    :class="$style.link"
                    design="custom"
                    @click.prevent="onLinkClick('guarantee')"
                >
                    Гарантия
                </AButton>
            </template>

            <template #guarantee>
                <MProductTabsGuarantee
                    :class="$style.content"
                />
            </template>

            <!--            <template #key-synonyms>-->
            <!--                <AButton-->
            <!--                    :link="productUrl"-->
            <!--                    :class="$style.link"-->
            <!--                    design="custom"-->
            <!--                    @click.prevent="onLinkClick('synonyms')"-->
            <!--                >-->
            <!--                    Категории товара-->
            <!--                </AButton>-->
            <!--            </template>-->

            <!--            <template #synonyms>-->
            <!--                <MProductTabsSynonyms-->
            <!--                    :synonyms="synonyms"-->
            <!--                    :class="$style.content"-->
            <!--                />-->
            <!--            </template>-->

            <template #key-alternative>
                <AButton
                    :link="productUrl"
                    :class="$style.link"
                    design="custom"
                    @click.prevent="onLinkClick('alternative')"
                >
                    Другие названия этого товара
                </AButton>
            </template>

            <template #alternative>
                <MProductTabsAlternativeTitles
                    :data="data"
                    :class="$style.content"
                />
            </template>

            <template #key-reviews>
                <AButton
                    :link="reviewsUrl"
                    :class="$style.link"
                    design="custom"
                >
                    Отзывы
                </AButton>
            </template>

            <template #reviews>
                <MProductTabsReviews
                    :data="data"
                    :reviews="reviews"
                    :title="title"
                />
            </template>
        </MTabs>
    </div>
</template>

<script>
import { mapGetters } from "vuex"
import { PRODUCT, PRODUCT_REVIEWS, PRODUCT_CHARACTERISTICS } from "@/lib/url/const"

export default {
    props: {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        conjointProduct: {
            type   : Object,
            default: () => ( {} )
        },

        title: {
            type   : String,
            default: ""
        },

        synonyms: {
            type   : Array,
            default: () => []
        },

        reviews: {
            type   : Array,
            default: () => []
        },

        tab: {
            type   : String,
            default: ""
        }
    },

    data()
    {
        return {
            value: ""
        }
    },

    computed: {
        ...mapGetters( "regions", [
            "regionSlug"
        ] ),

        options()
        {
            const options = []

            if ( this.modifications && this.modifications.length )
            {
                options.unshift( {
                    key   : "modifications",
                    title : "Модификация и цены",
                    render: true
                } )
            }

            if ( this.data.description )
            {
                options.push(
                    {
                        key   : "description",
                        title : "Описание",
                        render: true
                    }
                )
            }

            if ( this.data.fields.props && this.data.fields.props.length )
            {
                options.push(
                    {
                        key   : "characteristics",
                        title : "Характеристики",
                        render: true
                    }
                )
            }

            if ( this.data.docs && this.data.docs.length )
            {
                options.push(
                    {
                        key   : "docs",
                        title : "Документация",
                        render: true
                    }
                )
            }

            options.push( {
                key   : "payment",
                title : "Оплата",
                render: true
            } )

            options.push( {
                key   : "delivery",
                title : "Доставка",
                render: true
            } )

            options.push( {
                key   : "guarantee",
                title : "Гарантия",
                render: true
            } )

            // if ( this.synonyms && this.synonyms.length )
            // {
            //     options.push( {
            //         key   : "synonyms",
            //         title : "Категории товара",
            //         render: true
            //     } )
            // }

            if ( this.data.seo && this.data.seo.alternativeTitles && this.data.seo.alternativeTitles.length )
            {
                options.push( {
                    key   : "alternative",
                    title : "Другие названия этого товара",
                    render: true
                } )
            }

            options.push( {
                key   : "reviews",
                title : "Отзывы",
                render: true
            } )

            return options
        },

        formattedOptions()
        {
            if ( this.value !== "characteristics" )
            {
                return this.options.map( ( e ) =>
                {
                    e.render = true
                    return e
                } )
            }
            else
            {
                return this.options.map( ( e ) =>
                {
                    e.render = ![ "delivery", "payment", "guarantee", "modifications" ].includes( e.key )
                    return e
                } )
            }
        },

        modifications()
        {
            if ( this.conjointProduct && this.conjointProduct.data.conjointModifications && this.conjointProduct.data.conjointModifications.length )
            {
                return this.conjointProduct.data.conjointModifications
            }
            else
            {
                return this.data.data.conjointModifications
            }
        },

        productUrl()
        {
            return this.$getUrl( PRODUCT, {
                fslug: this.$route.params.fslug,
                city : this.regionSlug
            } )
        },

        characteristicsUrl()
        {
            return this.$getUrl( PRODUCT_CHARACTERISTICS, {
                fslug: this.$route.params.fslug
            } )
        },

        reviewsUrl()
        {
            return this.$getUrl( PRODUCT_REVIEWS, {
                fslug: this.$route.params.fslug
            } )
        },

        isCharacteristics()
        {
            return this.$isUrl( PRODUCT_CHARACTERISTICS, this.$route.fullPath )
        },

        isReviews()
        {
            return this.$isUrl( PRODUCT_REVIEWS, this.$route.fullPath )
        }
    },

    created()
    {
        if ( this.tab )
        {
            this.value = this.tab
        }
        else if ( this.data.fields.props && this.data.fields.props.length && this.isCharacteristics )
        {
            this.value = "characteristics"
        }
        else if ( this.isReviews )
        {
            this.value = "reviews"
        }
        else
        {
            this.value = this.options[ 0 ].key
        }
    },

    methods: {
        toModifications()
        {
            this.value = "modifications"
        },

        onLinkClick( val )
        {
            this.$router.push( {
                path : this.productUrl,
                query: {
                    tab: val
                }
            } )
        }
    }
}
</script>

<style lang="scss" module>
.content {
    @apply p-6 2xl:p-12 border-l border-r border-b border-stroke;
}

.link {
    @apply relative font-circe #{ !important };

    &:before {
        @apply absolute h-full -left-16 top-0;
        width: calc( 100% + 8rem );
        content: "";
    }
}
</style>
