<template>
    <div>
        <OAdminHeader />
        <Nuxt />
        <portal-target name="modal" multiple />
    </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
button,
input,
optgroup,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

svg {
    user-select: none;
}

html {
    font-size: 10px;
}

body {
    @apply font-circe;
    font-size: 1.4rem;
    overflow-x: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}
</style>
