<template>
    <div>
        <OHeader />
        <Nuxt />
        <OFooter />
        <OAcceptCookies v-if="!acceptedCookie" />

        <portal-target name="modal" multiple />
    </div>
</template>

<script>
import { mapState } from "vuex"

export default {
    computed: {
        ...mapState( "cookie", [
            "acceptedCookie"
        ] )
    }
}

</script>

<style lang="scss">
button,
input,
optgroup,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

html {
    font-size: 10px;
}

body {
    @apply font-circe text-text-low;
    font-size: 1.4rem;
    overflow-x: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

</style>
