<template>
    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_557_113239)">
            <path d="M33.9844 31.6406H32.8125V32.8125H33.9844V31.6406Z" fill="#0E1F3D" />
            <path d="M31.6406 31.6406H30.4688V32.8125H31.6406V31.6406Z" fill="#0E1F3D" />
            <path d="M29.2969 31.6406H28.125V32.8125H29.2969V31.6406Z" fill="#0E1F3D" />
            <path d="M35.7422 23.4375H14.6484C14.2969 23.4375 14.0625 23.6719 14.0625 24.0234V36.9141C14.0625 37.2656 14.2969 37.5 14.6484 37.5H35.7422C36.0938 37.5 36.3281 37.2656 36.3281 36.9141V24.0234C36.3281 23.6719 36.0938 23.4375 35.7422 23.4375ZM15.2344 26.9531H35.1562V29.2969H15.2344V26.9531ZM35.1562 24.6094V25.7812H15.2344V24.6094H35.1562ZM15.2344 36.3281V30.4688H35.1562V36.3281H15.2344Z" fill="#0E1F3D" />
            <path d="M12.3047 36.3281H3.51562V1.17188H17.5781V21.6797C17.5781 22.0312 17.8125 22.2656 18.1641 22.2656C18.5156 22.2656 18.75 22.0312 18.75 21.6797V20.5078H20.5078C22.1484 20.5078 23.4375 19.2188 23.4375 17.5781V4.6875C23.4375 3.04688 22.1484 1.75781 20.5078 1.75781H18.75V0.585938C18.75 0.234375 18.5156 0 18.1641 0H2.92969C2.57812 0 2.34375 0.234375 2.34375 0.585938V1.75781H0.585938C0.234375 1.75781 0 1.99219 0 2.34375V19.9219C0 20.2734 0.234375 20.5078 0.585938 20.5078H2.34375V36.9141C2.34375 37.2656 2.57812 37.5 2.92969 37.5H12.3047C12.6562 37.5 12.8906 37.2656 12.8906 36.9141C12.8906 36.5625 12.6562 36.3281 12.3047 36.3281ZM22.2656 4.6875V17.5781C22.2656 18.3398 21.7969 18.9844 21.0938 19.2188V3.04688C21.7969 3.28125 22.2656 3.92578 22.2656 4.6875ZM19.9219 2.92969V19.3359H18.75V2.92969H19.9219ZM1.17188 19.3359V2.92969H2.34375V19.3359H1.17188Z" fill="#0E1F3D" />
            <path d="M5.85938 2.34375H4.6875V3.51562H5.85938V2.34375Z" fill="#0E1F3D" />
            <path d="M8.20312 2.34375H7.03125V3.51562H8.20312V2.34375Z" fill="#0E1F3D" />
            <path d="M10.5469 2.34375H9.375V3.51562H10.5469V2.34375Z" fill="#0E1F3D" />
            <path d="M16.4062 5.27344C16.4062 4.92187 16.1719 4.6875 15.8203 4.6875H5.27344C4.92187 4.6875 4.6875 4.92187 4.6875 5.27344V16.4062C4.6875 16.7578 4.92187 16.9922 5.27344 16.9922H15.8203C16.1719 16.9922 16.4062 16.7578 16.4062 16.4062V5.27344ZM15.2344 15.8203H5.85938V5.85938H15.2344V15.8203Z" fill="#0E1F3D" />
            <path d="M16.4062 18.75C16.4062 18.3984 16.1719 18.1641 15.8203 18.1641H5.27344C4.92187 18.1641 4.6875 18.3984 4.6875 18.75C4.6875 19.1016 4.92187 19.3359 5.27344 19.3359H15.8203C16.1719 19.3359 16.4062 19.1016 16.4062 18.75Z" fill="#0E1F3D" />
            <path d="M12.3047 33.9844H5.27344C4.92187 33.9844 4.6875 34.2187 4.6875 34.5703C4.6875 34.9219 4.92187 35.1562 5.27344 35.1562H12.3047C12.6562 35.1562 12.8906 34.9219 12.8906 34.5703C12.8906 34.2187 12.6562 33.9844 12.3047 33.9844Z" fill="#0E1F3D" />
            <path d="M7.61719 20.5078H6.44531V21.6797H7.61719V20.5078Z" fill="#0E1F3D" />
            <path d="M9.96094 20.5078H8.78906V21.6797H9.96094V20.5078Z" fill="#0E1F3D" />
            <path d="M12.3047 20.5078H11.1328V21.6797H12.3047V20.5078Z" fill="#0E1F3D" />
            <path d="M14.6484 20.5078H13.4766V21.6797H14.6484V20.5078Z" fill="#0E1F3D" />
            <path d="M7.61719 22.8516H6.44531V24.0234H7.61719V22.8516Z" fill="#0E1F3D" />
            <path d="M9.96094 22.8516H8.78906V24.0234H9.96094V22.8516Z" fill="#0E1F3D" />
            <path d="M12.3047 22.8516H11.1328V24.0234H12.3047V22.8516Z" fill="#0E1F3D" />
            <path d="M7.61719 25.1953H6.44531V26.3672H7.61719V25.1953Z" fill="#0E1F3D" />
            <path d="M9.96094 25.1953H8.78906V26.3672H9.96094V25.1953Z" fill="#0E1F3D" />
            <path d="M12.3047 25.1953H11.1328V26.3672H12.3047V25.1953Z" fill="#0E1F3D" />
            <path d="M7.61719 27.5391H6.44531V28.7109H7.61719V27.5391Z" fill="#0E1F3D" />
            <path d="M9.96094 27.5391H8.78906V28.7109H9.96094V27.5391Z" fill="#0E1F3D" />
            <path d="M12.3047 27.5391H11.1328V28.7109H12.3047V27.5391Z" fill="#0E1F3D" />
            <path d="M7.61719 29.8828H6.44531V31.0547H7.61719V29.8828Z" fill="#0E1F3D" />
            <path d="M9.96094 29.8828H8.78906V31.0547H9.96094V29.8828Z" fill="#0E1F3D" />
        </g>
        <defs>
            <clipPath id="clip0_557_113239">
                <rect width="37.5" height="37.5" fill="white" />
            </clipPath>
        </defs>
    </svg>
</template>
