<template>
    <div :class="$style.CartModalSlider">
        <div class="md:flex justify-between items-center mb-4 md:mb-8 xl:mb-6 2xl:mb-8">
            <t type="h3" class="font-gotham leading-tight text-16 md:text-18 2xl:text-24 font-medium text-text-main">
                Может пригодиться с этим товаром
            </t>

            <div class="hidden xl:flex">
                <div ref="prev" class="mr-4">
                    <AButton
                        type="button"
                        design="slider"
                        class="border border-stroke"
                    >
                        <IconArrow class="rotate-90" />
                    </AButton>
                </div>

                <div ref="next">
                    <AButton
                        type="button"
                        design="slider"
                        class="border border-stroke"
                    >
                        <IconArrow class="-rotate-90" />
                    </AButton>
                </div>
            </div>
        </div>

        <div
            ref="productSlider"
            :class="$style.slider"
        >
            <div :class="$style.sliderWrapper" class="swiper-wrapper">
                <div
                    v-for="(item, i) in data"
                    :key="`slider-modal-${i}`"
                    class="swiper-slide"
                    :style="{width: 'max-content'}"
                >
                    <MProductCard
                        :class="$style.slide"
                        :data="item"
                        design="slider-modal"
                        :category="category"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Swiper from "swiper"

export default {
    props: {
        data: {
            type   : Array,
            default: () => []
        },

        title: {
            type   : String,
            default: ""
        },

        category: {
            type   : Object,
            default: null
        },

        slidesCount: {
            type   : Number,
            default: 4
        },

        design: {
            type   : String,
            default: "common",
            validator( value )
            {
                return [ "common", "common-small", "custom" ].includes( value )
            }
        }
    },

    data()
    {
        return {
            slider: null
        }
    },

    mounted()
    {
        setTimeout( () =>
        {
            this.slider = new Swiper( this.$refs.productSlider, {
                cssMode      : true,
                slidesPerView: "auto",
                spaceBetween : 0,
                loop         : false,
                pagination   : {
                    el       : ".swiper-pagination",
                    clickable: true
                },
                navigation: {
                    prevEl       : this.$refs?.prev,
                    nextEl       : this.$refs?.next,
                    disabledClass: "is-disabled"
                },
                breakpoints: {
                    1280: {
                        cssMode       : false,
                        allowTouchMove: false,
                        slidesPerView : 3
                    }
                }
            } )
        }, 500 )
    }
}
</script>

<style lang="scss" module>
.CartModalSlider {
    position: relative;

    :global(.swiper-slide) {
        height: auto;

        &:first-child {
            @apply pl-4 md:pl-8 xl:pl-0;
        }

        &:last-child {
            @apply pr-4 md:pr-8 xl:pr-0;

            .slide {
                @apply border-r;
            }
        }
    }
}

.slider {
    position: relative;
    z-index: 3;
    margin: 0 -1rem;

    @screen md {
        margin: 0 -2rem;
    }

    @screen xl {
        margin: 0;
        padding-bottom: 1px;
        overflow: hidden;
    }

    &:before,
    &:after {
        @apply z-20 hidden xl:block absolute top-0 h-full w-px bg-stroke;
        content: "";
    }

    &:before {
        @apply left-0;
    }

    &:after {
        @apply right-0;
    }
}

.slide {
    @apply h-full border-t border-b border-l border-stroke;
    width: 28rem;

    @screen md {
        width: 30rem;
    }

    @screen xl {
        width: auto;
    }
}

.hover {
    @apply w-1/4 2xl:w-1/5 h-full z-10;
    box-shadow: 0 0 30px rgba(112, 112, 112, 0.2);
    opacity: 0;
    transition: opacity .4s ease;

    &._visible {
        opacity: 1;
    }

    &:last-child {
        @apply hidden 2xl:block;
    }
}

</style>
