<template>
    <div :class="$style.harakteristiki" />
</template>

<script>
// eslint-disable-next-line no-unused-vars
import { PRODUCT_REVIEWS } from "@/lib/url/const"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ]
}
</script>

<style lang="scss" module>
.harakteristiki {
    //
}
</style>
