<template>
    <c>
        <div :class="$style.Benefits">
            <t
                type="h2"
                design="h2-secondary"
                v-html="data.title"
            />

            <div class="grid md:grid-cols-4 xl:grid-cols-6 gap-8 xl:gap-12">
                <div
                    v-for="(item, i) in data.items"
                    :key="`service-benefits-${i}`"
                    :class="$style.card"
                >
                    <BaseImage
                        v-if="item.icon.file"
                        :src="item.icon.file"
                        class="w-24 h-24 mb-10"
                    />

                    <t class="font-condensed text-18 font-bold leading-snug text-center uppercase">
                        {{ item.title }}
                    </t>

                    <t type="p" class="mt-6 font-condensed font-light text-16">
                        {{ item.text }}
                    </t>
                </div>
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    }
}
</script>

<style lang="scss" module>
.Benefits {
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.card {
    @apply flex flex-col items-center border border-stroke px-6 md:px-8 xl:px-12 py-12 md:col-span-2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

    &:nth-child(4) {
        @screen xl {
            grid-column: 2 / 4;
        }
    }

    &:last-child {
        @screen md {
            grid-column: 2 / 4;
        }

        @screen xl {
            grid-column: 4 / 6;
        }
    }
}
</style>
