<template>
    <c :design="isNum ? 'white-common' : 'gray-common'">
        <div :class="[$style.ServiceCards, {'py-16 md:py-24 xl:py-28': !isNum}]">
            <t
                type="h2"
                design="h2-landing"
                v-html="data.title"
            />

            <div class="md:pt-4 xl:pt-8 grid md:grid-cols-2 xl:grid-cols-3 gap-16 xl:gap-32 relative z-10">
                <div
                    v-for="(item, i) in data.items"
                    :key="`service-cards-${i}`"
                    :class="[$style.card, {'xl:col-span-2 xl:w-[36rem]': data.image && data.image.imageSrc && i === 1}]"
                >
                    <IconLandingArrow
                        v-if="i % 2 == 1"
                        class="hidden md:block xl:hidden absolute top-0 left-[-17rem]"
                    />

                    <IconLandingArrow
                        v-if="data.image && data.image.imageSrc ? ![1, 4, 7].includes(i) : ![2, 5, 8].includes(i)"
                        class="hidden xl:block absolute top-0 right-[-4.5rem]"
                    />

                    <div class="w-[14rem] h-[14rem] relative mb-10">
                        <BaseImage
                            v-if="item.image && item.image.imageSrc"
                            :src="item.image.imageSrc"
                            :ext="[item.image.imageTypes, 'png']"
                            :class="$style.image"
                        />

                        <div :class="$style.circle">
                            <template v-if="isNum">
                                0{{ i + 1 }}
                            </template>
                            <template v-else>
                                <IconChecked class="w-8 xl:w-[2.2rem] h-auto" />
                            </template>
                        </div>
                    </div>

                    <t type="h4" class="text-secondary uppercase text-16 md:text-18 leading-snug font-medium">
                        {{ item.title }}
                    </t>

                    <t type="p" class="text-landing-gray-500 mt-4 md:text-16">
                        {{ item.text }}
                    </t>
                </div>
            </div>

            <BaseImage
                v-if="data.image && data.image.imageSrc"
                :src="data.image.imageSrc"
                :ext="[data.image.imageTypes, 'png']"
                class="absolute top-0 2xl:-top-8 right-[-17rem] 2xl:right-[-19rem] w-[53rem] h-auto hidden xl:block"
            />
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        isNum: Boolean
    }
}
</script>

<style lang="scss" module>
.ServiceCards {
    @apply relative;
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.card {
    @apply relative;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.circle {
    @apply flex items-center justify-center text-white absolute top-0 -right-10 w-20 h-20 bg-primary rounded-full text-20 font-bold leading-none;
    box-shadow: 0 0 10px rgba(2, 82, 115, 0.2);
}
</style>
