<template>
    <c design="gray-common">
        <div :class="$style.Contains">
            <t
                type="h2"
                design="h2-secondary"
                v-html="data.title"
            />

            <div class="grid md:grid-cols-2 gap-8 xl:gap-12">
                <div
                    v-for="(item, i) in data.items"
                    :key="`service-contains-${i}`"
                    :class="$style.card"
                >
                    <BaseImage
                        v-if="item.icon.file"
                        :src="item.icon.file"
                        class="w-24 h-24 md:w-32 md:h-32 mb-10 xl:mb-12 mx-auto"
                    />

                    <t type="h4" class="font-condensed uppercase text-text-landing text-18 xl:text-24 font-bold text-center">
                        {{ item.title }}
                    </t>

                    <div class="mt-10 xl:mt-12">
                        <div
                            v-for="(item, ii) in item.textList"
                            :key="`service-contains-list-${ii}`"
                            :class="$style.item"
                        >
                            {{ item }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    }
}
</script>

<style lang="scss" module>
.Contains {
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
    @apply py-20 md:py-24 xl:py-28;
}

.card {
    @apply border border-stroke px-8 md:px-10 xl:px-12 py-16 bg-white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.item {
    @apply flex relative text-text-landing mb-6 last:mb-0 text-16 xl:text-18;

    &:before {
        @apply w-[4px] h-[4px] bg-secondary rounded-full mr-4 mt-[8px] xl:mt-4 flex-shrink-0;
        content: "";
    }
}
</style>
