<template>
    <c>
        <div :class="$style.ServiceDesigning">
            <t
                type="h2"
                design="h2-landing"
                v-html="data.title"
            />

            <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-6 md:gap-8">
                <div
                    v-for="(item, i) in data.items.filter( e => e.type === 'designing-card' )"
                    :key="`service-designing-${i}`"
                    class="bg-gray-50 rounded-[10px] p-8"
                >
                    <div class="flex items-center mb-8">
                        <div
                            v-if="item.icon && item.icon.file"
                            :class="$style.iconWrap"
                        >
                            <BaseImage
                                :src="item.icon.file"
                                :class="$style.icon"
                            />
                        </div>

                        <t type="h4" class="text-16 md:text-18 text-text-landing uppercase font-medium w-1/3">
                            {{ item.title }}
                        </t>
                    </div>

                    <t type="p" class="md:text-16 text-landing-gray-500">
                        {{ item.text }}
                    </t>
                </div>

                <div
                    v-if="form"
                    class="bg-gray-50 rounded-[10px] py-12 px-8 xl:px-12 md:col-span-2 xl:col-span-4 xl:flex items-center"
                >
                    <div class="xl:mr-16">
                        <t
                            type="h3"
                            class="uppercase text-text-landing font-medium text-20 md:text-24 leading-snug"
                            v-html="form.title"
                        />

                        <div class="mt-12 md:flex">
                            <div
                                v-for="(item, i) in form.items"
                                :key="`service-designing-form-${i}`"
                                class="flex items-center mb-8 last:mb-0 md:mb-0 md:mr-8 last:mr-0 md:w-1/2"
                            >
                                <div
                                    v-if="item.icon && item.icon.file"
                                    :class="$style.iconWrap"
                                >
                                    <BaseImage
                                        :src="item.icon.file"
                                        :class="$style.icon"
                                    />
                                </div>

                                <div>
                                    <t type="h4" class="uppercase text-text-landing text-12 md:text-14 leading-none font-medium">
                                        {{ item.title }}
                                    </t>
                                    <t
                                        type="p"
                                        :class="$style.text"
                                        v-html="item.text"
                                    />
                                </div>
                            </div>
                        </div>

                        <FormServiceDesigning
                            :code="slug"
                            class="mt-12 md:mt-16"
                        />
                    </div>

                    <div class="hidden xl:block flex-shrink-0">
                        <BaseImage
                            v-if="form.image && form.image.imageSrc"
                            :src="form.image.imageSrc"
                            :ext="[form.image.imageTypes, 'png']"
                            class="w-[38rem] h-auto"
                        />
                    </div>
                </div>
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        slug: {
            type   : String,
            default: ""
        }
    },

    computed: {
        form()
        {
            return this.data.items.find( e => e.type === "designing-form" )
        }
    }
}
</script>

<style lang="scss" module>
.ServiceDesigning {
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.iconWrap {
    @apply flex justify-center items-center w-24 md:w-28 h-24 md:h-28 rounded-[5px] border-[4px] md:border-[5px] bg-white border-landing-gray-100 mr-8;
}

.icon {
    @apply w-12 h-12 md:w-14 md:h-14;
}

.text {
    @apply mt-6 text-primary text-12 md:text-16 leading-none uppercase font-medium;

    strong {
        @apply text-22;
    }
}
</style>
