<template>
    <c design="blue-secondary" class="relative">
        <div :class="$style.ServiceFormBlue">
            <t
                type="h2"
                design="h2-secondary"
                class="!text-white !leading-none"
                v-html="data.title"
            />

            <FormServiceConsult
                :code="slug"
                class="mt-16"
                button-text="получить консультацию"
            />
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        slug: {
            type   : String,
            default: ""
        }
    }
}
</script>

<style lang="scss" module>
.ServiceFormBlue {
    @apply py-20;
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}
</style>
