<template>
    <c design="gray-dark" class="relative">
        <div :class="$style.ServiceForm">
            <t
                type="h2"
                :class="$style.title"
                v-html="data.title"
            />

            <t
                type="h3"
                :class="$style.subtitle"
            >
                ОСТАВЬТЕ ВАШИ КОНТАКТЫ
            </t>

            <FormServiceMain
                :code="slug"
                class="mt-12 xl:mt-16 md:w-[35rem] xl:w-[49rem]"
            />
        </div>

        <div :class="$style.gradient" />

        <div class="hidden md:block">
            <BaseImage
                v-if="data.image && data.image.imageSrc"
                :src="data.image.imageSrc"
                :ext="[data.image.imageTypes, 'png']"
                :class="$style.image"
            />
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        slug: {
            type   : String,
            default: ""
        }
    }
}
</script>

<style lang="scss" module>
.ServiceForm {
    @apply py-12 xl:py-16 relative z-10;
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.title {
    @apply uppercase font-bold leading-snug text-18 md:text-20 xl:text-28 text-text-landing md:max-w-[46rem] xl:max-w-[59rem];
}

.subtitle {
    @apply mt-8 uppercase text-text-landing leading-none xl:text-16;
}

.gradient {
    @apply absolute top-0 left-0;
    width: 100vw;
    height: 100%;
    z-index: 2;
    background: rgb(238,238,238);

    @screen md {
        background: linear-gradient(90deg, rgba(238,238,238,1) 60%, rgba(238,238,238,0) 90%);
    }

    @screen xl {
        background: linear-gradient(90deg, rgba(238,238,238,1) 50%, rgba(238,238,238,0) 80%);
    }
}

.image {
    @apply w-auto h-full absolute top-0 right-[-20rem] xl:right-0;
    max-width: unset;
}
</style>
