<template>
    <c>
        <div :class="$style.Guarantee">
            <t
                type="h2"
                design="h2-secondary"
                v-html="data.title"
            />

            <div class="grid md:grid-cols-3 gap-24 md:gap-12 xl:gap-[14rem]">
                <div
                    v-for="(item, i) in data.items"
                    :key="`guarantee-${i}`"
                    class="text-center"
                >
                    <BaseImage
                        v-if="item.image && item.image.imageSrc"
                        :src="item.image.imageSrc"
                        :ext="[item.image.imageTypes, 'png']"
                        :class="$style.image"
                    />

                    <t
                        type="h4"
                        :class="$style.title"
                        v-html="item.title"
                    />

                    <t type="p" class="mt-2 font-condensed font-bold text-landing-gray-700 uppercase text-16 xl:text-18">
                        {{ item.subtitle }}
                    </t>
                </div>
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    }
}
</script>

<style lang="scss" module>
.Guarantee {
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.title {
    @apply font-bold text-24;

    span {
        @apply font-bold text-landing-gray-700 uppercase text-16 xl:text-18;
    }
}

.image {
    @apply w-[9rem] h-[9rem] mb-8 mx-auto;
    object-fit: contain;
}
</style>
