<template>
    <c design="image-wall">
        <div :class="$style.ServiceHeroForm">
            <div class="xl:mr-20 xl:w-[59rem]">
                <t
                    type="h1"
                    :class="$style.title"
                    v-html="data.title"
                />

                <t
                    type="h2"
                    :class="$style.subtitle"
                    v-html="data.subtitle"
                />

                <div class="bg-white rounded-[15px] px-8 xl:px-10 py-10 xl:py-12 mt-12 xl:mt-20">
                    <t type="h4" class="font-medium text-text-landing text-20 xl:text-28 leading-none text-center">
                        <mark>Получить</mark> консультацию
                    </t>

                    <FormServiceMain
                        :code="slug"
                        button-text="Оставить заявку"
                        class="mt-10 xl:mt-12"
                    />
                </div>
            </div>

            <div class="hidden md:block flex-shrink-0">
                <BaseImage
                    v-if="data.image && data.image.imageSrc"
                    :src="data.image.imageSrc"
                    :ext="[data.image.imageTypes, 'png']"
                    class="xl:w-[60rem] h-auto"
                />
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        slug: {
            type   : String,
            default: ""
        }
    }
}
</script>

<style lang="scss" module>
.ServiceHeroForm {
    @apply pb-20 pt-16 xl:pb-24 xl:pt-20 md:grid md:grid-cols-2 md:gap-8 xl:gap-20 2xl:gap-[9rem] md:items-center;
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.title {
    @apply mb-4 md:mb-6 xl:mb-8 uppercase text-secondary text-28 md:text-30 xl:text-[46px] font-bold leading-snug;
}

.subtitle {
    @apply uppercase text-primary font-bold leading-none text-18 xl:text-32;
}

.item {
    @apply h-20 pl-20 xl:h-24 xl:pl-24 flex justify-center items-center relative border border-border rounded-full bg-white;

    &:first-child {
        @apply col-span-2;
    }
}

.circle {
    @apply absolute left-0 top-0 w-20 h-20 xl:w-24 xl:h-24 flex justify-center items-center rounded-full border-[3px] xl:border-[4px] border-primary;
}
</style>
