<template>
    <c design="image-wall">
        <div :class="$style.ServiceHero">
            <div class="md:mr-8">
                <t
                    type="h1"
                    :class="$style.title"
                    v-html="data.title"
                />

                <div class="xl:w-[40rem]">
                    <div class="grid grid-cols-2 gap-8 mt-[4.5rem]">
                        <div
                            v-for="(item, i) in data.items"
                            :key="`service-hero-items-${i}`"
                            :class="$style.item"
                        >
                            <div :class="$style.circle">
                                <BaseImage
                                    v-if="item.icon && item.icon.file"
                                    :src="item.icon.file"
                                    class="w-8 h-8 xl:w-10 xl:h-10"
                                />
                            </div>

                            <t class="block text-text-service text-18 xl:text-20 leading-none">
                                {{ item.title }}
                            </t>
                        </div>
                    </div>

                    <AButton
                        type="button"
                        design="red-landing"
                        class="mt-20 text-18 h-20 xl:h-24 w-full xl:text-20"
                        @click="$modal.open(callbackModal)"
                    >
                        Заказать установку
                    </AButton>
                </div>
            </div>

            <div class="hidden md:block flex-shrink-0">
                <BaseImage
                    v-if="data.image && data.image.imageSrc"
                    :src="data.image.imageSrc"
                    :ext="['png']"
                    class="w-[30rem] xl:w-[60rem] h-auto"
                />
            </div>
        </div>

        <MModal :id="callbackModal">
            <FormCallback />
        </MModal>
    </c>
</template>

<script>
import { getRandomId } from "@/lib/utilsDom"

export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    data()
    {
        return {
            callbackModal: getRandomId()
        }
    }
}
</script>

<style lang="scss" module>
.ServiceHero {
    @apply pb-[9rem] pt-[8.5rem] md:pb-32 md:pt-[7.5rem] xl:py-20 md:flex md:items-center md:justify-between;
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.title {
    @apply uppercase text-secondary text-28 md:text-36 xl:text-[52px] font-bold leading-snug;
}

.item {
    @apply h-20 pl-20 xl:h-24 xl:pl-24 flex justify-center items-center relative border border-border rounded-full bg-white;

    &:first-child {
        @apply col-span-2;
    }
}

.circle {
    @apply absolute left-0 top-0 w-20 h-20 xl:w-24 xl:h-24 flex justify-center items-center rounded-full border-[3px] xl:border-[4px] border-primary;
}
</style>
