<template>
    <c design="image-service">
        <div :class="$style.ServiceHeroMan">
            <div class="text-center xl:text-left">
                <t
                    type="h1"
                    :class="$style.title"
                    v-html="data.title"
                />

                <t
                    type="h2"
                    :class="$style.subtitle"
                    v-html="data.subtitle"
                />

                <div class="xl:flex xl:justify-between relative">
                    <div class="md:flex md:justify-around md:items-center xl:items-end md:mt-16 xl:mt-0">
                        <div class="flex-shrink-0 mt-16 md:mt-0">
                            <BaseImage
                                v-if="data.image && data.image.imageSrc"
                                :src="data.image.imageSrc"
                                :ext="[data.image.imageTypes, 'png']"
                                class="w-[30rem] md:w-[35rem] xl:w-[40rem] h-auto mx-auto"
                            />
                        </div>

                        <div class="xl:absolute xl:left-1/2 xl:-translate-x-1/2 xl:bottom-0 grid grid-cols-2 md:grid-cols-1 gap-10 md:gap-12 mt-16 md:mt-0">
                            <div
                                v-for="(item, i) in data.items"
                                :key="`hero-man-icons-${i}`"
                                :class="$style.icon"
                            >
                                <BaseImage
                                    v-if="item.image && item.image.imageSrc"
                                    :src="item.image.imageSrc"
                                    :ext="[item.image.imageTypes, 'png']"
                                    :class="$style.image"
                                />

                                <t class="block text-white font-bold uppercase leading-tight">
                                    {{ item.title }}
                                </t>
                            </div>
                        </div>
                    </div>

                    <div class="mt-16 xl:mt-0 md:w-[455px] flex-shrink-0 mx-auto xl:mx-0">
                        <BaseImage src="~/assets/images/services/hero-man.png" class="mx-auto" />
                        <div class="bg-secondary border-[2px] border-white rounded-[10px] px-6 md:px-10 py-12 md:py-14">
                            <FormServiceMan
                                :code="slug"
                                button-text="получить консультацию"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        slug: {
            type   : String,
            default: ""
        }
    }
}
</script>

<style lang="scss" module>
.ServiceHeroMan {
    @apply pb-20 pt-16 xl:py-28;
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.title {
    @apply font-condensed mb-8 xl:mb-12 uppercase text-white text-24 md:text-[50px] font-bold leading-snug;
}

.subtitle {
    @apply font-condensed text-white leading-none text-18 md:text-32;
}

.icon {
    @apply flex flex-col items-center md:w-[15rem] text-center;

    &:last-child {
        @apply w-1/2 col-span-2 justify-self-center md:col-span-1 md:w-[15rem];
    }
}

.image {
    @apply w-24 h-24 mb-6;
    object-fit: contain;
}
</style>
