<template>
    <c>
        <div :class="$style.ServiceIncludes">
            <t
                type="h2"
                design="h2-landing"
                v-html="data.title"
            />

            <div class="grid md:grid-cols-2 xl:grid-cols-6 gap-8">
                <div
                    v-for="(item, i) in data.items"
                    :key="`service-includes-${i}`"
                    :class="$style.card"
                >
                    <t type="h4" class="text-text-landing text-18 font-medium uppercase mb-4 md:mb-6 md:w-[80%]">
                        {{ item.title }}
                    </t>

                    <t type="p" class="relative z-20 text-landing-gray-500 md:text-16">
                        {{ item.text }}
                    </t>

                    <div class="absolute right-[-155px] bottom-[-180px] xl:right-[-180px] xl:bottom-[-210px] bg-landing-gray-600 w-[32rem] xl:w-[37rem] h-[32rem] xl:h-[37rem] rounded-full" />

                    <div class="absolute bottom-0 right-0">
                        <BaseImage
                            v-if="item.image && item.image.imageSrc"
                            :src="item.image.imageSrc"
                            :ext="[item.image.imageTypes, 'png']"
                            class="w-[13rem] xl:w-[16rem] h-auto"
                        />
                    </div>

                    <div class="absolute left-[14px] bottom-10 text-landing-gray-400 -rotate-90 font-bold text-32 xl:text-36 leading-none">
                        0{{ i + 1 }}
                    </div>
                </div>
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    }
}
</script>

<style lang="scss" module>
.ServiceIncludes {
    @apply relative;
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.card {
    @apply relative bg-gray-50 rounded-[10px] px-8 py-10 h-[28rem] md:h-[29rem] xl:h-[33rem] overflow-hidden xl:col-span-2;

    &:nth-child(4) {
        @screen xl {
            grid-column: 2 / 4;
        }
    }

    &:last-child {
        @apply md:col-span-2 md:w-1/2 xl:w-auto md:justify-self-center;
    }
}
</style>
