<template>
    <c>
        <div :class="$style.Partners">
            <t
                type="h2"
                design="h2-secondary"
                v-html="data.title"
            />

            <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6 xl:gap-12">
                <div
                    v-for="(item, i) in data.items"
                    :key="`services-partners-${i}`"
                >
                    <BaseImage
                        v-if="item.image && item.image.imageSrc"
                        :src="item.image.imageSrc"
                        :ext="[item.image.imageTypes, 'png']"
                        :class="$style.image"
                    />
                </div>
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    }
}
</script>

<style lang="scss" module>
.Partners {
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.image {
    @apply w-full h-32 md:h-[10rem] xl:h-[12rem];
    object-fit: contain;
}
</style>
