<template>
    <c>
        <div :class="$style.ServicePrice">
            <t
                type="h2"
                design="h2-landing"
                v-html="data.title"
            />

            <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-8">
                <MServicePrice
                    v-for="(item, i) in data.items"
                    :key="`service-price-${i}`"
                    :data="item"
                />
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    }
}
</script>

<style lang="scss" module>
.ServicePrice {
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}
</style>
