<template>
    <c>
        <div :class="$style.PriceList">
            <t
                type="h2"
                design="h2-secondary"
                v-html="data.title"
            />

            <div :class="$style.wrap">
                <div
                    v-for="(item, i) in data.items"
                    :key="`service-prices-${i}`"
                    :class="$style.card"
                >
                    <t class="block text-text-landing font-medium text-18 md:text-22 xl:text-24 mb-[8px] md:mb-0">
                        {{ item.title }}
                    </t>

                    <t
                        :class="$style.text"
                        v-html="item.text"
                    />
                </div>

                <t type="p" :class="$style.card" class="text-18 text-landing-gray-900 xl:text-right xl:!justify-end xl:!py-10">
                    * Возможно изменение стоимости в зависимости от условий монтажа на объекте
                </t>
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    }
}
</script>

<style lang="scss" module>
.PriceList {
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.wrap {
    @apply border border-landing-gray-300;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.card {
    @apply px-6 md:px-12 py-7 md:flex md:justify-between;

    &:nth-child(odd) {
        background: rgba(2, 82, 115, 0.05);
    }
}

.text {
    @apply text-secondary text-18 md:text-22 xl:text-24;

    strong {
        @apply font-bold;
    }
}
</style>
