<template>
    <c design="image-service">
        <div :class="$style.Products">
            <t
                type="h2"
                design="h2-secondary"
                class="!text-white !leading-none"
                v-html="data.title"
            />

            <MServiceSlider
                :data="products"
            />
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        },

        products: {
            type   : Array,
            default: () => []
        }
    }
}
</script>

<style lang="scss" module>
.Products {
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
    @apply py-20 md:py-24 xl:py-28;
}
</style>
