<template>
    <c design="image-cube" class="overflow-hidden">
        <div :class="$style.Reasons">
            <t
                type="h2"
                design="h2-secondary"
                class="!text-white xl:w-[70rem] xl:mx-auto"
                v-html="data.title"
            />

            <div class="grid grid-cols-2 xl:grid-cols-8 gap-12 xl:gap-y-16 xl:gap-x-14 md:pr-[27rem]">
                <div
                    v-for="(item, i) in data.items"
                    :key="`service-reasons-${i}`"
                    :class="$style.card"
                >
                    <BaseImage
                        v-if="item.image && item.image.imageSrc"
                        :src="item.image.imageSrc"
                        :ext="[item.image.imageTypes, 'png']"
                        :class="$style.image"
                    />

                    <t
                        :class="$style.title"
                        v-html="item.title"
                    />
                </div>
            </div>

            <BaseImage src="~/assets/images/services/reasons-man.png" class="absolute w-[27rem] bottom-[-144vw] right-[-6rem] md:-bottom-16 md:right-0 xl:-right-8 xl:bottom-[-32rem]" />
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    }
}
</script>

<style lang="scss" module>
.Reasons {
    @apply relative py-20 md:py-24 xl:pt-28 xl:pb-[10rem];
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.title {
    @apply uppercase text-18 mt-8 font-condensed text-center leading-tight;

    strong {
        @apply font-bold text-24;
    }
}

.card {
    @apply flex flex-col items-center text-white xl:col-span-2;

    &:nth-child(5) {
        @screen xl {
            grid-column: 2 / span 2;
        };
    }
}

.image {
    @apply w-32 h-32;
    object-fit: contain;
}
</style>
