<template>
    <c>
        <div :class="$style.Reviews">
            <t
                type="h2"
                design="h2-secondary"
                v-html="data.title"
            />

            <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6 xl:gap-12">
                <div
                    v-for="(item, i) in data.items"
                    :key="`service-reviews-${i}`"
                    :class="$style.card"
                >
                    <div class="px-8 md:px-10 pb-12 md:pb-14">
                        <IconQuotes class="block w-16 h-auto py-14 mx-auto" />

                        <t type="p" class="text-landing-gray-700 font-condensed font-light text-18">
                            {{ item.text }}
                        </t>
                    </div>
                    <div :class="$style.bottom">
                        <t class="block font-medium text-20 text-text-landing">
                            {{ item.title }}
                        </t>

                        <t class="block text-landing-gray-900 text-16 mt-3">
                            {{ item.subtitle }}
                        </t>
                    </div>
                </div>
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    }
}
</script>

<style lang="scss" module>
.Reviews {
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.card {
    @apply border border-landing-gray-150 flex flex-col justify-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.bottom {
    @apply py-10 text-center;
    background: rgba(2, 82, 115, 0.07);
}
</style>
