<template>
    <c design="gray-common">
        <div :class="$style.ServiceScheme">
            <t
                type="h2"
                design="h2-landing"
                v-html="data.title"
            />

            <div class="grid grid-cols-2 xl:grid-cols-4 gap-6 md:gap-8">
                <div
                    v-for="(item, i) in data.items"
                    :key="`service-cards-${i}`"
                    :class="[$style.card]"
                    :style="{'z-index': data.items.length - i}"
                >
                    <div :class="$style.num">
                        0{{ i + 1 }}
                    </div>

                    <BaseImage
                        v-if="item.icon && item.icon.file"
                        :src="item.icon.file"
                        class="w-14 h-14 md:w-28 md:h-28 mx-auto"
                    />

                    <t type="h4" :class="$style.title">
                        {{ item.title }}
                    </t>

                    <t
                        v-if="item.text"
                        type="p"
                        :class="$style.text"
                    >
                        {{ item.text }}
                    </t>
                </div>
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    }
}
</script>

<style lang="scss" module>
.ServiceScheme {
    @apply py-14 md:py-16 xl:py-24;
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.card {
    @apply relative bg-white p-8 md:py-16 md:px-12 text-center transition-colors duration-300;
    border-radius: 10px;

    &:hover {
        @screen xl {
            @apply bg-secondary;

            .num {
                @apply text-white;
            }

            .title {
                @apply text-white;
            }

            .text {
                @apply text-white;
            }

            &:after {
                @apply bg-secondary #{ !important };
            }

            svg {
                path {
                    fill: white;
                }
            }
        }
    }

    &:after {
        @apply bg-white -right-2 md:-right-5;
    }

    &:before {
        @apply bg-gray-50 -left-2 md:-left-5;
    }

    &:before,
    &:after {
        @apply absolute top-1/2 -translate-y-1/2 rotate-45 w-4 h-4 md:w-10 md:h-10 transition-colors duration-300;
        content: "";
    }

    &:first-child {
        &:before {
            display: none;
        }
    }

    &:last-child {
        &:after {
            display: none;
        }
    }
}

.num {
    @apply absolute top-6 left-6 md:top-8 md:left-8 text-landing-gray-400 leading-none font-bold text-18 md:text-36 transition-colors duration-300;
}

.title {
    @apply mt-4 md:mt-8 text-text-landing uppercase text-10 md:text-16 font-medium transition-colors duration-300;
}

.text {
    @apply mt-4 text-landing-gray-500;
}
</style>
