<template>
    <c design="image-teamwork">
        <div :class="$style.SchemeBlue">
            <t
                type="h2"
                design="h2-secondary"
                class="!text-white"
                v-html="data.title"
            />

            <div :class="$style.wrap">
                <div
                    v-for="(item, i) in formattedItems"
                    :key="`service-scheme-blue-${i}`"
                    class="text-center flex justify-center"
                    :class="$style.card"
                >
                    <IconArrowLong v-if="item.type === 'arrow'" class="rotate-90" :class="$style.arrow" />

                    <div v-else class="flex flex-col items-center w-[26rem] md:w-auto">
                        <BaseImage
                            v-if="item.image && item.image.imageSrc"
                            :src="item.image.imageSrc"
                            :ext="[item.image.imageTypes, 'png']"
                            :class="$style.image"
                        />

                        <t type="h4" class="text-white uppercase font-bold">
                            {{ item.title }}
                        </t>
                    </div>
                </div>
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    computed: {
        formattedItems()
        {
            const result = this.data.items.reduce( ( r, a ) => r.concat( a, { type: "arrow" } ), [] )
            return result.slice( 0, result.length - 1 )
        }
    }
}
</script>

<style lang="scss" module>
.SchemeBlue {
    @apply py-20 md:py-24 xl:py-28;
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.arrow {
    @screen md {
        transform: rotate(0deg);
    }

    @screen xl {
        transform: none !important;
    }
}

.card {
    &:nth-child(4) {
        @screen md {
            @apply col-span-3;
            justify-content: center;
            width: 176px;
            justify-self: flex-end;

            .arrow {
                transform: rotate(90deg);
            }
        }

        @screen xl {
            @apply col-span-1 w-auto;
        }
    }

    &:nth-child(6) {
        @screen md {
            .arrow {
                transform: rotate(180deg);
            }
        }
    }
}

.wrap {
    @apply grid md:grid-cols-3 xl:flex xl:justify-between xl:items-center gap-12 md:gap-y-16 md:gap-x-8 xl:gap-8 items-center md:px-24 xl:px-0;
}

.image {
    @apply w-32 h-32 mb-10;
    object-fit: contain;
}
</style>
