<template>
    <div>
        <div :class="$style.Subscribe">
            <div :class="$style.left">
                <t
                    type="h2"
                    design="h2-secondary"
                    class="!text-white !leading-none !mb-0 md:!text-22 xl:!text-28"
                    v-html="data.title"
                />
            </div>

            <div :class="$style.right">
                <FormServiceSubscribe />
            </div>
        </div>
        <c design="red-common">
            <t type="p" class="text-white py-7 text-12 md:text-13 mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem]">
                {{ data.subtitle }}
            </t>
        </c>
    </div>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    }
}
</script>

<style lang="scss" module>
.Subscribe {
    @apply md:flex;
}

.left {
    @apply relative px-6 bg-center bg-cover py-16 md:py-20 md:w-1/2 md:flex md:items-center md:justify-end md:pr-[11rem];
    background-image: url("./assets/images/services/banner-footer.jpg");

    &:after {
        @apply hidden md:block absolute top-0 right-0 bg-transparent;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 15rem 7rem;
        border-color: transparent transparent #FFC8C8 transparent;
        content: "";
    }
}

.right {
    @apply px-6 bg-red-100 py-16 md:py-20 md:w-1/2 xl:pl-12;
}
</style>
