<template>
    <c>
        <t type="p" :class="$style.Text">
            {{ data.title }}
        </t>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    }
}
</script>

<style lang="scss" module>
.Text {
    @apply my-16 my-24 text-text-landing text-16;
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}
</style>
