<template>
    <c>
        <div :class="$style.Variants">
            <t
                type="h2"
                design="h2-secondary"
                v-html="data.title"
            />

            <div class="grid md:grid-cols-2 gap-8 xl:gap-12">
                <div
                    v-for="(item, i) in data.items"
                    :key="`varints-${i}`"
                    :class="$style.card"
                >
                    <BaseImage
                        v-if="item.image && item.image.imageSrc"
                        :src="item.image.imageSrc"
                        :ext="[item.image.imageTypes, 'png']"
                        :class="$style.image"
                    />

                    <div class="p-10 xl:p-12">
                        <t class="block font-bold font-condensed leading-tight text-24 uppercase text-center mb-12 xl:mb-16">
                            {{ item.title }}
                        </t>

                        <t class="block font-bold text-center text-secondary text-26 leading-snug mb-8 xl:mb-10">
                            {{ item.text }}
                        </t>

                        <AButton
                            type="button"
                            design="red-secondary"
                            class="!font-condensed h-20 w-full xl:w-[32rem] xl:mx-auto text-24"
                            @click="$modal.open(callbackModal)"
                        >
                            Заказать услугу
                        </AButton>
                    </div>
                </div>
            </div>
        </div>

        <MModal :id="callbackModal">
            <FormCallback />
        </MModal>
    </c>
</template>

<script>
import { getRandomId } from "@/lib/utilsDom"

export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    data()
    {
        return {
            callbackModal: getRandomId()
        }
    }
}
</script>

<style lang="scss" module>
.Variants {
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.card {
    @apply border border-stroke;
}

.image {
    @apply w-full h-[22rem] md:h-[24rem] xl:h-[37rem];
    object-fit: cover;
}
</style>
