<template>
    <c>
        <div :class="$style.Variants">
            <t
                type="h2"
                design="h2-secondary"
                v-html="data.title"
            />

            <div class="grid md:grid-cols-2 gap-6 xl:gap-12">
                <div
                    v-for="(item, i) in data.items"
                    :key="`varints-${i}`"
                    class="px-6 py-12 xl:p-12 border border-stroke"
                    :class="$style.card"
                >
                    <div>
                        <div class="flex items-center justify-center mb-10 xl:mb-14">
                            <BaseImage
                                :src="item.icon.file"
                                class="w-20 mr-12"
                            />

                            <t class="font-condensed text-center font-bold text-text-landing uppercase text-18 xl:text-22">
                                {{ item.title }}
                            </t>
                        </div>

                        <div class="mb-10 xl:mb-14">
                            <t class="block text-text-landing text-18 font-bold mb-6">
                                Состав работ:
                            </t>

                            <div
                                v-for="(item, ii) in item.textList"
                                :key="`varints-list-${ii}`"
                                :class="$style.item"
                            >
                                {{ item }}
                            </div>
                        </div>
                    </div>

                    <div>
                        <t class="block font-bold text-center xl:text-left text-secondary text-26 leading-snug mb-8">
                            {{ item.text }}
                        </t>

                        <AButton
                            type="button"
                            design="red-secondary"
                            class="h-20 w-full text-18 xl:w-[23rem]"
                            @click="$modal.open(callbackModal)"
                        >
                            Заказать
                        </AButton>
                    </div>
                </div>
            </div>
        </div>

        <MModal :id="callbackModal">
            <FormCallback />
        </MModal>
    </c>
</template>

<script>
import { getRandomId } from "@/lib/utilsDom"

export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    data()
    {
        return {
            callbackModal: getRandomId()
        }
    }
}
</script>

<style lang="scss" module>
.Variants {
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.item {
    @apply relative flex mb-5 last:mb-0 text-16;

    &:before {
        @apply w-[4px] h-[4px] flex-shrink-0 bg-secondary rounded-full mt-[9px] mr-4;
        content: "";
    }
}

.card {
    @apply flex flex-col justify-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
</style>
