<template>
    <c>
        <div :class="$style.Variants">
            <t
                type="h2"
                design="h2-secondary"
                v-html="data.title"
            />

            <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6 md:gap-8 xl:gap-12">
                <div
                    v-for="(item, i) in data.items"
                    :key="`varints-${i}`"
                    :class="$style.card"
                >
                    <div class="flex items-center justify-center mb-12">
                        <BaseImage
                            :src="item.icon.file"
                            class="w-16 mr-6"
                        />

                        <t class="font-condensed text-center font-bold text-text-landing uppercase text-24">
                            {{ item.title }}
                        </t>
                    </div>

                    <div
                        v-for="(prop, ii) in item.json.props"
                        :key="`varints-props-${ii}`"
                        class="mb-6 last:mb-0"
                    >
                        <t class="block text-text-landing text-18 font-bold mb-[8px]">
                            {{ prop.title }}
                        </t>

                        <div class="text-secondary text-16">
                            {{ prop.value }}
                        </div>
                    </div>

                    <div class="w-full h-px bg-stroke my-12" />

                    <t class="block font-bold text-center text-secondary text-26 leading-snug mb-6">
                        {{ item.text }}
                    </t>

                    <AButton
                        type="button"
                        design="red-secondary"
                        class="!font-condensed h-20 w-full text-24"
                        @click="$modal.open(callbackModal)"
                    >
                        Заказать
                    </AButton>
                </div>
            </div>
        </div>

        <MModal :id="callbackModal">
            <FormCallback />
        </MModal>
    </c>
</template>

<script>
import { getRandomId } from "@/lib/utilsDom"

export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    data()
    {
        return {
            callbackModal: getRandomId()
        }
    }
}
</script>

<style lang="scss" module>
.Variants {
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.card {
    @apply px-10 py-12 md:px-12 border border-stroke;

    &:last-child {
        @apply md:col-span-2 md:w-1/2 md:justify-self-center xl:col-span-1 xl:w-auto xl:justify-self-auto;
    }
}

.item {
    @apply relative flex mb-5 last:mb-0 text-16;

    &:before {
        @apply w-[4px] h-[4px] flex-shrink-0 bg-secondary rounded-full mt-[9px] mr-4;
        content: "";
    }
}
</style>
