<template>
    <c>
        <div :class="$style.ServiceWaterMeters">
            <t
                type="h2"
                design="h2-landing"
                v-html="data.title"
            />

            <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-8 xl:pt-4">
                <MServiceWaterMeter
                    v-for="(item, i) in data.items.filter( e => e.type === 'water-meter' )"
                    :key="`service-water-meters-${i}`"
                    :data="item"
                />
            </div>

            <div
                v-if="banner"
                :class="$style.banner"
            >
                <div
                    v-for="(item, i) in banner.items"
                    :key="`service-water-meters-${i}`"
                    class="flex items-center"
                >
                    <div
                        v-if="item.icon && item.icon.file"
                        :class="$style.iconWrap"
                    >
                        <BaseImage
                            :src="item.icon.file"
                            :class="$style.icon"
                        />
                    </div>

                    <div>
                        <t class="block text-white uppercase leading-none font-medium mb-4 xl:text-15">
                            {{ item.title }}
                        </t>
                        <t class="block uppercase text-primary font-bold leading-none text-18 md:text-20 xl:text-22">
                            {{ item.text }}
                        </t>
                    </div>
                </div>

                <div
                    v-if="banner.image && banner.image.imageSrc"
                    :class="$style.imageWrap"
                >
                    <BaseImage
                        :src="banner.image.imageSrc"
                        :ext="[banner.image.imageTypes, 'png']"
                        :class="$style.image"
                    />
                </div>
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    computed: {
        banner()
        {
            return this.data.items.find( e => e.type === "banner" )
        }
    }
}
</script>

<style lang="scss" module>
.ServiceWaterMeters {
    @apply relative;
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

.banner {
    @apply overflow-hidden relative p-8 py-10 xl:px-16 xl:py-14 mt-12 md:mt-16 xl:mt-20 grid md:grid-cols-2 gap-8 xl:gap-12 xl:pr-[35rem];
    background: linear-gradient(0deg, #025273, #025273), #F4F4F4;
    border-radius: 10px;
}

.iconWrap {
    @apply bg-white flex justify-center items-center w-24 md:w-28 h-24 md:h-28 xl:w-[9rem] xl:h-[9rem] rounded-[5px] border-[4px] md:border-[5px] xl:border-[6px] border-landing-gray-100 mr-6 md:mr-8;
}

.icon {
    @apply w-12 h-12 md:w-14 md:h-14 xl:w-16 xl:h-16;
}

.imageWrap {
    @apply hidden xl:block absolute right-0 top-0 right-0;
}

.image {
    @apply h-full w-auto;
}
</style>
