<template>
    <c>
        <div :class="$style.ServiceWhy">
            <t
                type="h2"
                design="h2-landing"
                v-html="data.title"
            />

            <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6 md:gap-8">
                <div
                    v-for="(item, i) in data.items"
                    :key="`service-why-${i}`"
                    class="relative bg-gray-50 rounded-[10px] p-8 xl:py-10 flex"
                >
                    <div class="w-10 xl:w-12 mr-6 flex flex-col items-center justify-between">
                        <div class="text-landing-gray-400 font-bold -rotate-90 leading-none text-[32px] xl:text-[36px]">
                            0{{ i + 1 }}
                        </div>
                        <div class="mt-6 bg-landing-gray-400 h-full w-[4px]" />
                    </div>

                    <div class="mt-[43px] xl:mt-[46px]">
                        <t type="h4" class="text-text-landing uppercase font-medium w-[80%] xl:w-[70%] xl:text-16">
                            {{ item.title }}
                        </t>

                        <t type="p" class="mt-5 xl:mt-6 text-landing-gray-500 text-12 xl:text-14">
                            {{ item.text }}
                        </t>
                    </div>

                    <BaseImage
                        v-if="item.icon && item.icon.file"
                        :src="item.icon.file"
                        class="absolute top-8 right-8 w-16 h-16 xl:w-20 xl:h-20"
                    />
                </div>
            </div>
        </div>
    </c>
</template>

<script>
export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    }
}
</script>

<style lang="scss" module>
.ServiceWhy {
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];
}

</style>
