<template>
    <c>
        <div :class="$style.ServiceCards">
            <t
                type="h2"
                design="h2-landing"
                v-html="data.title"
            />

            <div class="relative">
                <div ref="prev" class="absolute z-10 -left-10 xl:-left-12 top-1/2 -translate-y-1/2 hidden md:block mr-6 2xl:mr-8 cursor-pointer">
                    <AButton
                        type="button"
                        design="slider-landing"
                    >
                        <IconArrow class="w-8 h-auto rotate-90 translate-x-[-2px]" />
                    </AButton>
                </div>

                <div
                    ref="slider"
                    :class="$style.slider"
                >
                    <div :class="$style.sliderWrapper" class="swiper-wrapper">
                        <div
                            v-for="(item, i) in data.items"
                            :key="`slider-1-${i}`"
                            class="swiper-slide !w-[244px] md:!w-[344px] xl:!w-[372px] 2xl:!w-[386px] !h-[244px] md:!h-[344px] xl:!h-[372px] 2xl:!h-[386px] rounded-[1rem] overflow-hidden md:rounded-[1.6rem]"
                        >
                            <BaseImage
                                v-if="item.image && item.image.imageTypes"
                                :src="item.image.imageSrc"
                                :ext="item.image.imageTypes"
                                :class="$style.image"
                            />
                        </div>
                    </div>
                </div>

                <div ref="next" class="absolute z-10 -right-10 xl:-right-12 top-1/2 -translate-y-1/2 hidden md:block cursor-pointer">
                    <AButton
                        type="button"
                        design="slider-landing"
                    >
                        <IconArrow class="w-8 h-auto -rotate-90 translate-x-[2px]" />
                    </AButton>
                </div>
            </div>
        </div>
    </c>
</template>

<script>
import Swiper from "swiper"

export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    data()
    {
        return {
            slider: null
        }
    },

    mounted()
    {
        this.slider = new Swiper( this.$refs.slider, {
            slidesPerView: "auto",
            spaceBetween : 15,
            loop         : false,
            pagination   : {
                el       : ".swiper-pagination",
                clickable: true
            },
            navigation: {
                prevEl       : this.$refs?.prev,
                nextEl       : this.$refs?.next,
                disabledClass: "is-disabled"
            },
            breakpoints: {
                768: {
                    slidesPerView: 2,
                    spaceBetween : 20
                },
                1280: {
                    cssMode       : false,
                    allowTouchMove: false,
                    slidesPerView : 3,
                    spaceBetween  : 20
                }
            }
        } )
    }
}
</script>

<style lang="scss" module>
.ServiceCards {
    @apply relative;
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];

    :global(.is-disabled) {
        cursor: default !important;
    }
}

.slider {
    @apply relative overflow-hidden;
    margin: -1.5rem;
    padding: 1.5rem;

    @screen md {
        margin: 0;
        padding: 0;
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
</style>
