<template>
    <div>
        <c design="image-works">
            <div :class="$style.ServiceCards">
                <t
                    type="h2"
                    design="h2-secondary"
                    class="!text-white"
                    v-html="data.title"
                />

                <div class="relative md:px-16 xl:px-[4.6rem]">
                    <div
                        ref="prev"
                        :class="$style.arrow"
                        class="absolute z-10 left-0 top-1/2 hidden md:block mr-6 cursor-pointer"
                    >
                        <IconArrowSharp class="w-8 h-12 text-white" />
                    </div>

                    <div
                        ref="slider"
                        :class="$style.slider"
                    >
                        <div :class="$style.sliderWrapper" class="swiper-wrapper">
                            <div
                                v-for="(item, i) in data.items"
                                :key="`slider-1-${i}`"
                                class="swiper-slide overflow-hidden"
                            >
                                <BaseImage
                                    v-if="item.image && item.image.imageTypes"
                                    :src="item.image.imageSrc"
                                    :ext="item.image.imageTypes"
                                    :class="$style.image"
                                />
                            </div>
                        </div>

                        <div ref="pagination" class="swiper-pagination" />
                    </div>

                    <div
                        ref="next"
                        :class="$style.arrow"
                        class="absolute z-10 right-0 top-1/2 -translate-y-1/2 hidden md:block cursor-pointer"
                    >
                        <IconArrowSharp class="w-8 h-12 -rotate-180 text-white" />
                    </div>
                </div>
            </div>
        </c>
        <c design="image-cube">
            <div class="relative py-20 md:py-28 xl:py-32 mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem] md:flex md:flex-col">
                <t type="h3" class="font-condensed w-[207px] md:w-[48rem] xl:w-[61rem] ml-auto text-white uppercase font-bold text-20 md:text-28 xl:text-36 text-center">
                    Решаем задачи любой сложности быстро, качественно, с гарантией!
                </t>

                <BaseImage src="~/assets/images/services/works-man.png" class="absolute top-[48px] -left-6 xl:left-0 w-[182px] md:w-[30rem] md:top-auto md:bottom-0 md:left-[-8rem]" />

                <AButton
                    type="button"
                    design="custom"
                    class="!font-roboto w-full md:ml-auto md:w-[435px] xl:w-[50rem] mt-[135px] md:mt-20 border-[3px] border-white h-32 md:h-[9rem] !rounded-[6px] font-bold text-white uppercase text-16 md:text-22 xl:text-26 bg-secondary leading-none xl:hover:bg-blue-500 transition-colors duration-300"
                    @click="$modal.open(callbackModal)"
                >
                    Заказать выезд специалиста
                </AButton>
            </div>
        </c>

        <MModal :id="callbackModal">
            <FormCallback />
        </MModal>
    </div>
</template>

<script>
import Swiper from "swiper"
import { getRandomId } from "@/lib/utilsDom"

export default {
    props:
    {
        data: {
            type   : Object,
            default: () => ( {} )
        }
    },

    data()
    {
        return {
            slider       : null,
            callbackModal: getRandomId()
        }
    },

    mounted()
    {
        this.slider = new Swiper( this.$refs.slider, {
            slidesPerView: 2,
            spaceBetween : 10,
            loop         : false,
            pagination   : {
                el       : ".swiper-pagination",
                clickable: true
            },
            navigation: {
                prevEl       : this.$refs?.prev,
                nextEl       : this.$refs?.next,
                disabledClass: "is-disabled"
            },
            breakpoints: {
                768: {
                    slidesPerView: 3,
                    spaceBetween : 15,
                    loop         : true
                },
                1280: {
                    cssMode       : false,
                    allowTouchMove: false,
                    slidesPerView : 4,
                    spaceBetween  : 15,
                    loop          : true
                }
            }
        } )
    }
}
</script>

<style lang="scss" module>
.ServiceCards {
    @apply relative pt-16 xl:pt-24 pb-20 md:pb-32;
    @apply mx-2 md:mx-4 xl:mx-0 2xl:mx-[23rem];

    :global(.is-disabled) {
        cursor: default !important;
    }

    :global(.swiper-pagination-bullet) {
        @apply bg-white w-6 h-6 cursor-pointer;
    }

    :global(.swiper-pagination-bullet-active) {
        @apply bg-primary;
    }

    :global(.swiper-pagination) {
        @apply md:flex md:mt-10 xl:mt-12;
    }
}

.slider {
    @apply relative overflow-hidden;
}

.image {
    @apply border-[2px] border-white;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow {
    @screen md {
        transform: translateY(calc(-50% - 1.5rem));
    }

    @screen xl {
        transform: translateY(calc(-50% - 2.25rem));
    }
}
</style>
