<template>
    <div :class="$style.CheckoutFail">
        <MBreadcrumbs :data="breadcrumbs" />

        <c>
            <t type="h1" design="h1-page" class="!leading-tight md:!leading-none !p-0">
                {{ message }}
            </t>
        </c>
    </div>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import { CHECKOUT_FAIL } from "@/lib/url/const"
import { meta } from "@/lib/mixins/meta"

export default {
    mixins: [ meta ],

    asyncData( { params } )
    {
        const guid = params.guid

        // Define the error message to show.
        let message = "При создании заказа произошла ошибка." // Default.
        if ( guid === "not-found" )
        {
            message = "Заказ не найден."
        }

        return {
            message
        }
    },

    data()
    {
        return {
            breadcrumbs:
            [
                {
                    link : "",
                    title: "Ошибка"
                }
            ]
        }
    }
}
</script>

<style lang="scss" module>
.CheckoutFail {
    @apply pb-16 xl:pb-20 xl:pb-24;
}

</style>
